[2020-02-10 15:46] mkumatag commented on #448
Thanks for the information, you are right kubetest looks spaghetti. :)

[2020-02-11 18:54] RiRa12621 commented on #401
/remove-lifecycle-stale

[2020-02-11 18:54] RiRa12621 commented on #401
/remove-lifecycle stale

[2020-02-12 17:22] cblecker commented on #468
/remove-lifecycle stale

[2020-02-13 22:19] thockin commented on #444
@listx is this done now?

[2020-02-13 23:06] listx commented on #444
Yes, because the already-existing group `k8s-infra-artifact-admins` got access to administrate the auditor in https://github.com/kubernetes/k8s.io/pull/571 (this group already had storage admin access to `k8s-artifacts-prod-bak`).

[2020-02-13 23:09] listx commented on #444
Oops, sorry, misread this issue. Currently the `k8s-infra-artifact-admins` group has access to administrate both the production instance of the auditor as well as to view/administer the backups in `k8s-artifacts-prod-bak`. However this issue is for the *test* projects. I can create a PR for this now that I understand how groups work in the `infra/gcp` folder of this repo.

[2020-02-14 03:29] listx commented on #444
It appears that the existing `ensure-prod-storage.sh` script already empowers everyone in the `k8s-infra-staging-cip-test@kubernetes.io` group to at least Project Viewer access. So it's just a matter of expanding this group.

To start, @rajibmitra can you add yourself to https://github.com/kubernetes/k8s.io/blob/26cd0c9a4f21f2bfe7a60a8582adafe02243116b/groups/groups.yaml#L509-L513 ?

[2020-02-14 06:43] rajibmitra commented on #444
Done, thanks @listx
Here is the PR #576  , let me know if I need to anything else.

[2020-02-14 20:29] rajibmitra commented on #525
I would like to work on prow job that will clean up the older images.

[2020-02-15 04:09] rajibmitra commented on #525
/assign rajibmitra

[2020-02-19 22:43] ameukam commented on #240
/remove-lifecycle stale

[2020-02-20 00:41] listx commented on #444
Can you now try to see if you can see e.g. the `k8s-staging-cip-test` GCP project on the web console?

[2020-02-20 00:51] justaugustus commented on #444
@listx -- It'd be great to get @kubernetes/release-managers at least view access as well.

[2020-02-20 01:19] thockin commented on #505
@apelisse @cjwagner

Please consider this a formal request to start thinking about what, if anything, you need to migrate regarding velodrome.

It is one of 2 projects left in the google-only "utilicluster".  If it is still serving a purpose, we need a plan to move to the newer, community-owned "aaa" cluster.  The YAML and associated things are NOT in the k8s.io repo, so I can not offer any guidan

[2020-02-20 01:20] thockin commented on #240
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2020-02-20 01:21] thockin commented on #240
The new cluster is up and is viable for migrations.  A small number of things, including k8s.io, have moved.

@philips do you have docs or info on your thing?

[2020-02-20 03:10] apelisse commented on #505
I'll look at it now, see what's used and what's not.

[2020-02-20 03:30] rajibmitra commented on #444
Yes , I can see now @listx
![image](https://user-images.githubusercontent.com/1690251/74898259-65ccc900-53bf-11ea-95a0-dcd0e2a8dcd4.png)

[2020-02-20 04:29] apelisse commented on #505
https://github.com/kubernetes/test-infra/pull/16383

[2020-02-20 16:35] philips commented on #240
@thockin I just decommissioned my thing on Tuesday because it has been replaced by HackerOne 😂

[2020-02-20 17:09] #504 closed

[2020-02-20 20:02] cjwagner commented on #505
cc @Katharine who has been auditing the security and looking into what is used and by what

[2020-02-20 20:23] Katharine commented on #505
The yaml, and scripts to turn the yaml into usable yaml, are in test-infra: https://github.com/kubernetes/test-infra/tree/master/velodrome

Having asked Istio engprod, they claim they still care about their deployment, perhaps including their github metrics — so deleting all of that doesn't seem ideal without further discussion. Is cleaning up the non-Kubernetes uses of this a requirement? We almo

[2020-02-20 21:46] Katharine commented on #505
Also — given the evolution of velodrome in the last few years, we'll take over responsibility from @apelisse for the future of velodrome, whether that be migrate, replace, and/or turn down.

cc @amwat @BenTheElder

[2020-02-20 22:05] thockin commented on #505
On Thu, Feb 20, 2020 at 12:23 PM Katharine Berry
<notifications@github.com> wrote:

Yes, you don't want to move non-k8s stuff into aaa.  I was hoping to
turn off the cluster, which lives in "kubernetes-site" project.  If
you want to take it over once everyone else has left, I am happy to
hand it over.

[2020-02-24 09:20] bartsmykla commented on #549
I'm gonna start some work in that area today. :-) If I'll need anything I'm gonna ping you @mm4tt

[2020-02-24 11:00] bartsmykla commented on #448
@mkumatag what is the progress and your expectations in regards to this issue now? :-)

[2020-02-25 00:04] fejta opened #597 "Scripts should not require GOOGLE_APPLICATION_CREDENTIALS"
Best practice is to use workload identity on GCP:

https://github.com/kubernetes/k8s.io/blob/5cf0052cc18f6a6d00eb449ffdeb22451eb366f2/infra/gcp/backup_tools/backup_lib.sh#L58-L60

kubernetes/test-infra#15806

/assign @listx

[2020-02-25 08:28] mkumatag commented on #448
so far we haven't started working on this task, the expectation of this task is to enable/add tests for ppc64le platform. Initially, we can run the jobs periodically and later can be included in PR testing.

[2020-02-25 20:31] cblecker commented on #390
/remove-lifecycle rotten

[2020-02-26 12:21] dims opened #604 "Need a script to generate service account keys for k8s-conform project"
Thanks to https://blog.csanchez.org/2019/06/11/google-container-registry-service-account-permissions/ for coming up with the following snippet

[code]

[2020-02-26 12:21] dims commented on #604
/assign

[2020-02-26 12:22] dims commented on #604
related to https://github.com/kubernetes/k8s.io/pull/501#issuecomment-591332061

[2020-02-26 12:40] dims commented on #604
Another tip from https://stackoverflow.com/questions/51678745/how-to-restrict-a-google-service-account-to-a-single-bucket-in-google-cloud-stor

[2020-02-26 12:51] dims commented on #604
also related to https://github.com/kubernetes/k8s.io/pull/459

[2020-02-26 13:03] saschagrunert opened #605 "Enable file removal for staging buckets"
As a follow-up of https://github.com/kubernetes/k8s.io/pull/501, I'd like to be able to remove files from the bucket manually. This is currently prevented by the file-retention of 10years:

![screenshot](https://user-images.githubusercontent.com/695473/75347329-ce74e380-58a0-11ea-9371-299512bd93df.png)

/cc @dims

[2020-02-27 01:33] dims commented on #604
I've generated a key for each of
- cri-o ( handed to @saschagrunert )
- huaweicloud ( handed to @RainbowMango )
- capi-openstack ( handed to @sbueringer )

[2020-02-27 11:18] dims commented on #604
related to https://github.com/kubernetes/test-infra/pull/16515

[2020-02-27 17:54] stp-ip commented on #605
This feels intentional for a conformance specific bucket. What specifically do you wanna remove and why? Adding manual overwrite in some form or another seems to go against the intended idea of retention set to 10y, but maybe I'm missing something here.

[2020-02-27 18:29] saschagrunert commented on #605
I’d like to provide something similar than a `latest.txt` file which points to some changing content. I also played around with the bucket (for testing) and now I have files there which cannot be deleted for years. 🥺

[2020-02-27 19:43] stp-ip commented on #605
Might be ok to do a full reset or manual removal of files by the admin team, but adding editing opportunity feels problematic.

Latest.txt to link to or what usage? You could use the go.k8s.io url shortener as an option.

[2020-02-27 20:50] zacharysarah opened #613 "Enable SIG Docs access to the kubernetes.io search console"
## What's the request?

SIG Docs would like access to search console data for the kubernetes.io domain.

To [quote](https://kubernetes.slack.com/archives/C1J0BPD2M/p1582821278047700) @remyleone:

## How do we grant it?

1. Go to https://search.google.com/search-console.

2. Enter "kubernetes.io" in the domain box.

3. Follow the instructions to verify domain ownership via DNS record.

/cc @BenTheE

[2020-02-27 20:52] BenTheElder commented on #613
so I can help roll out the DNS records / anyone can PR dns records in this repo, I'm not sure what account should be doing the search.google.com bit, IIRC that is tied to the google account used to access the page, right?

[2020-02-27 20:52] BenTheElder commented on #613
cc @dims @thockin

[2020-02-27 21:07] stp-ip commented on #613
Usually after verification it is assigned as admin to an account should we do this via a group? Is that even possible?
So we could have an search console admin and one read-only group?

[2020-02-28 00:49] ahmetb opened #614 "DNS REQUEST: krew.sigs.k8s.io"
### Type of DNS update:

Create

### Domain being modified:

`k8s.io`

### New DNS Record:

[code]

### Reason for update:

New sub-project site for [Krew](https://sigs.k8s.io/krew): https://github.com/kubernetes/org/issues/1668.

[2020-02-28 07:54] #614 closed

[2020-02-29 03:16] rajibmitra commented on #436
/assign rajibmitra

[2020-02-29 03:17] rajibmitra commented on #436
design doc : https://docs.google.com/document/d/1ps_rgQoK9wsRlFUMKBbAsBNzu5rIqZByDuf3P7KpX7s/edit?ts=5e417965

[2020-03-02 19:46] tallclair opened #622 "[groups.yaml] Support aliases for equivalent groups"
The product security committee are the owners on 3 separate lists:

- `security@kubernetes.io`
- `security-discuss-private@kubernetes.io`
- `distributors-announce@kubernetes.io`

These lists currently have some slight drift. It would be nice if I could just define who is in the product-security-committee, and reference that alias as the owner to the 3 lists above. Looking through other lists, this

[2020-03-04 09:51] bartsmykla opened #627 "Documentation of audit"
Hi everyone!

When I was doing code review for the https://github.com/kubernetes/k8s.io/pull/536 I started reading whole https://github.com/kubernetes/k8s.io/tree/master/audit
The problem is I don't exactly understand what is the output of that audit so I would like to suggest improvements in the documentation.

I'm volunteering myself to do it but I have to have better understanding of the whole

[2020-03-04 16:07] puerco commented on #627
I think I can provide a bit of insight here.

What the audit script does is go through all the projects in the kubernetes organization, then it reads from each service it has enabled to try to produce useful data that can be diffed with previous states. The Idea is that if anything has changed, a PR can be created to detect changes in the infrastructure.

I also think that documentation on what is

[2020-03-04 17:02] puerco commented on #627
I did some research into what services are enabled in the 43 projects our org currently has and here is the list. (number of projects » service)

[code]
Those with a star are the ones which have some sort of handling in the audit script now (except for BigQuery which is yet to merge in #536 ) maybe from this list we can decide which ones make sense to audit.

[2020-03-04 17:10] thockin commented on #627
The medium-term goal would be a cronjob that runs the audit every few hours
and if it finds a diff, sends a PR or an alert or something like that.  I
am mostly concerned about IAM, but any metadata that is roughly stable over
time is good.  The vast majority of these runs should find no diffs at all,
so anything it DOES find is "exceptional" and warrants human intervention.

On Wed, Mar 4, 2020 at

[2020-03-05 21:57] listx commented on #455
/remove-lifecycle rotten

[2020-03-06 06:25] bartsmykla commented on #448
@mkumatag do you think I can help you with anything to move things forward? :-)

[2020-03-06 08:39] bartsmykla commented on #549
I have started moving perf-dash to `aaa` but I faced a problem: `aaa` currently doesn't have enough resources to support that requests: https://github.com/kubernetes/perf-tests/blob/master/perfdash/deployment.yaml#L39-L44 - but when I'll confirm these are necessary to run that tool I'll start conversation about providing nodes which are able to provide enough resources.

[2020-03-06 09:22] bartsmykla commented on #549
I discussed with @mm4tt and it looks like these are necessary resources for the project, and currently it's running at 1 node: `n1-highmem-2`.
@dims @thockin what is the current process of requesting new node to be added to our current `aaa` pool?
/assign @dims @thockin

[2020-03-06 09:26] bartsmykla commented on #549
Also @BenTheElder I'm digging a little bit into how our DNS is working trying to figure out how to add another subdomain which will be pointing to `aaa`.
Should it be added like `gcsweb`? I mean create another ingress which will create loadbalancer and then point subdomain to the IP of that loadbalancer? It looks a little bit unnecessary and maybe to bit "static"?

/assign @BenTheElder

[2020-03-06 21:37] thockin commented on #549
Wait - a DASHBOARD app needs 8 GB of memory?

Can someone explain why?

On Fri, Mar 6, 2020 at 1:26 AM Bart Smykla <notifications@github.com> wrote:

[2020-03-06 21:48] thockin commented on #549
I am 100% in favor of moving this, but we need to understand the
resource footprint.

On Fri, Mar 6, 2020 at 1:36 PM Tim Hockin <thockin@google.com> wrote:

[2020-03-06 23:06] thockin commented on #505
Hi Katharine,

Have you had any chance to think about this?

On Thu, Feb 20, 2020 at 1:46 PM Katharine Berry <notifications@github.com>
wrote:

[2020-03-07 00:24] BenTheElder commented on #549
@bartsmykla our DNS supports standard records, just checked into config [here](https://github.com/kubernetes/k8s.io/tree/master/dns), we have CNAME, A, etc.

I don't know how prescriptive we want to be about this exactly. Static Loadbalancer IPs have worked fine for our existing infra though. Why would we expect it to be more "dynamic"?
(Especially note that the DNS pointing to that IP is a yaml c

[2020-03-07 00:29] thockin commented on #549
Yes, a static IP is totally fine.  Prefer Ingress to Service type=LB
because of certs

On Fri, Mar 6, 2020 at 4:24 PM Benjamin Elder <notifications@github.com> wrote:

[2020-03-07 05:38] bartsmykla commented on #549
@BenTheElder @thockin got it, thank you for info, and I'm gonna proceed with that approach! :-)

[2020-03-07 05:39] bartsmykla commented on #549
Also @mm4tt, can you give your opinion about why it needs 8GB of RAM?

/assign @mm4tt
/unassign @BenTheElder

[2020-03-07 07:17] bartsmykla opened #643 "Configuration of the "aaa" cluster at GCP"
When I was working on moving the `perf-dash` into the `aaa` cluster I faced few issues and want to document everything for others, so please help me understand it better.

Let me get you through my thought process, and if anything here is wrong, please comment on that.

1. We are provisioning our cluster with terraform as I can find here: https://github.com/kubernetes/k8s.io/tree/master/infra/gcp/

[2020-03-07 18:34] munnerz commented on #502
I don't think there's anything specific to do here? cert-manager is running/set up properly, and uses RBAC 😄 I don't think we should deviate from the 'official' installation manifests (at least not without setting up some kind of e2e pipeline to run tests against it if we do, which seems out-of-scope).

/close

[2020-03-09 04:04] thockin commented on #502
I meant RBAC for admins.  Someone should be able to be listed in a group
that is able to manage cert-manager (e.g. update it) without being able to
do other things in the cluster (e.g. the humans should not be able to make
namespaces or write to other namespace).

On Sat, Mar 7, 2020 at 10:34 AM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2020-03-09 04:04] thockin commented on #502
/reopen

On Sun, Mar 8, 2020 at 9:04 PM Tim Hockin <thockin@google.com> wrote:

[2020-03-09 04:10] thockin commented on #643
The pattern so far has been to create an Ingress without a static IP, let it get allocated and then manually mark it static.  In reality, it's not really required to be static, but it's an old habit :)

The main reason NOT to TF it is that (so far) TF is for the cluster, not the things in the cluster.

Oh, I didn't realize that.  That's...obnoxious.  @munnerz is there any way to make this more sel

[2020-03-09 08:27] wojtek-t commented on #549
I know that the memory footprint is a bit unexpected, but it's that, as it stores in memory all the data that it serves.
So basically how it works is:
- for each job it supports and for each run in the last N days/weeks, it loads a number metrics for this run from GCS and stores them in memory [that is very time consuming - initialization takes ~15-30 minutes]
- when it serves the request, it simp

[2020-03-10 07:27] bartsmykla commented on #549
Thank you @wojtek-t for your voice here.

My suggestion would be to add the proper node to our cluster for now, and then move the discussion if we somehow can and/or should to improve the application itself.

@thockin wdyt?

[2020-03-10 11:57] munnerz commented on #643
This is already the case - there is a `dnsZones` selector in place that matches on all domains under `k8s.io` and `kubernetes.io`:
https://github.com/kubernetes/k8s.io/blob/fe6fbdd2ec578d947f2b4e5ea24fa17816cc989b/cert-manager/letsencrypt-prod.yaml#L26-L32

There is also an explicit exception for `gcsweb` just above in that file:
https://github.com/kubernetes/k8s.io/blob/fe6fbdd2ec578d947f2b4e5ea2

[2020-03-10 11:58] munnerz commented on #643
We _need_ to know which Ingress resource should be updated in order to 'solve' the HTTP01 challenge, so there's no *totally* magic way to do this - the above annotation is probably the closest thing to that though 😄

[2020-03-10 11:58] bartsmykla commented on #643
Great! Thank you @munnerz! What is the reason gcsweb is treated differently in that case?

[2020-03-10 11:59] munnerz commented on #643
Because gcsweb is exposed under a different IP address with a different Ingress resource (named `gcsweb`). The redirector service is what is exposed under the `k8s-io` ingress. If you add a new Ingress which uses yet another new IP, you'll also need to inform cert-manager that it is that ingress resource that should be modified with 'challenge routes' in order to solve challenges.

[2020-03-10 12:01] munnerz commented on #643
The additional config step is a product of the `ingress-gce` ingress controller mapping a single front-end IP to a single Ingress resource. This means that we _have_ to edit the 'existing' Ingress resource in order to solve challenges.

With ingress controllers like `ingress-nginx`, which 'flatten' Ingress configuration into a single nginx config, we are able to simply create *new* Ingress resourc

[2020-03-10 12:39] dims commented on #549
+1 to add an appropriate node to our cluster. if i remember right, we used terraform to stand up this cluster, so the changes would have to be done there.

[2020-03-10 12:40] bartsmykla commented on #549
Thank you for an opinion @dims. I'm gonna wait for @thockin and then I'll create a proper PR.

[2020-03-10 18:49] justaugustus commented on #460
/remove-lifecycle stale
/lifecycle frozen

[2020-03-10 22:31] BenTheElder opened #654 "community infra for kubernetes/KIND CI"
We require:
- a GCP project to host:
  - GCB (for trusted building, currently we have a prototype running from prow in `bentheelder-kind-dev`)
  - a GCS bucket to host CI binary builds of `kind` for use in Kubernetes testing (currently we use `gs://bentheelder-kind-ci-builds`). These are ~9MB / platform

Prow needs access to GCB, and GCB needs write access to the bucket. The bucket should be publi

[2020-03-11 00:59] thockin commented on #643
To clarify - that annotation and the edit to the cert-manager config
achieve the same result?  De-centralized is what we want...

On Tue, Mar 10, 2020 at 5:01 AM James Munnelly <notifications@github.com>
wrote:

[2020-03-11 07:17] bartsmykla commented on #500
@nikhita what is the state of this issue? If it's still the issue can I help somehow to move things forward? :-)

/remove-lifecycle stale

[2020-03-11 09:13] bartsmykla commented on #509
Hi @thockin. What is the status of this issue? Were any efforts done? Can I somehow help to move this forward?
/assign @thockin

[2020-03-11 09:19] nikhita commented on #500
@bartsmykla We still need to wind down the godeps bot, I was thinking that we could do this after 1.18 is released. I'll circle back on this then -- will give a headsup here + on mailing lists and in a wg-k8s-infra meeting before actually implementing this. :+1:

[2020-03-11 09:30] bartsmykla commented on #500
Thank you! :-)

[2020-03-11 15:26] thockin commented on #509
AFAIK, no it was not done.  We'd need to decide a name, get someone who has gsuite admin access to make the account (accounts cost $), decide who can have that account's password, and then move the report there.

Presumably, over time there will be more such "documents", so we shouldn't scope it down too far.

[2020-03-12 01:31] listx commented on #394
/remove-lifecycle stale

[2020-03-12 05:05] bartsmykla commented on #394
/assign

[2020-03-12 19:29] stp-ip commented on #507
/remove-lifecycle stale

[2020-03-13 22:05] thockin commented on #549
Sorry to be a pain in the rear.

@wojtek-t what sort of traffic is this serving to justify being entirely in memory?  If we added n1-standard-4 VMs that's $30/mo each.  We could add n1-highmem-2 for a bit less but may be less useful.

In other words, if that had to serve from disk, what bad things would happen?

[2020-03-13 22:07] thockin commented on #549
I am fine to add a second pool of n1-standard-4, I just don't want to be wasteful

[2020-03-13 22:22] thockin commented on #549
https://github.com/kubernetes/k8s.io/pull/659

[2020-03-14 05:10] bartsmykla commented on #549
@thockin @wojtek-t I also think it could be a great oportunity to improve the memory footprint if there is not enough benefits from having it in memory all the time.
Let's move it now for the new infra without modification, but let's start a discussion about improvements.

@wojtek-t I can help doing some research and maybe improving it if you don't have currently time/resources to do so.

[2020-03-15 13:20] wojtek-t commented on #549
@thockin @bartsmykla - I agree that we it should be possible to visibly reduce resource usage, but I'm a bit reluctant for doing this, because:
- this will require some investment (it's not an hour of work, rather day+), and given how negligible this resource footprint is comparing to our scale tests (using 5k nodes), we're rather investing into speeding up our tests (this effort is happening as w

[2020-03-16 11:50] mm4tt commented on #549
Sorry for not replying earlier, I was on the sick leave last week.

Perf-dash uses about 1 GB of memory once it's initialized. The current usage
[code]

But it requires >4GB during initialization phase. It used to be <4 GB but it started crashlooping and we increased the limit to 8GB in https://github.com/kubernetes/perf-tests/pull/825.

The reason for perfdash using so much memory during initiali

[2020-03-16 13:58] bartsmykla commented on #549
@mm4tt @wojtek-t whank you guys for comments! I agree that if there are plans to move to something else it's not worth taking time to improve it now. :-)

[2020-03-16 14:48] detiber commented on #367
kubernetes-sigs/cluster-api and kubernetes-sigs/cluster-api-provider-aws no longer require manual pushing to staging. I cannot speak for the other cluster-api related projects at this time, though

[2020-03-16 15:08] bartsmykla commented on #367
/remove-lifecycle stale

[2020-03-16 19:16] thockin commented on #643
Ping @munnerz

On Tue, Mar 10, 2020 at 5:58 PM Tim Hockin <thockin@google.com> wrote:

[2020-03-17 13:33] munnerz commented on #643
So if we add a new solver entry:

[code]

and then add `acme.cert-manager.io/http01-override-ingress-name: "name-of-ingress-in-current-namespace"` to the *Certificate* resource, we achieve what we after. It effectively applied a per-Certificate override to the `clusterissuer.spec.solvers[].http01.ingress.name`.

We could also continue to make the 'solver' match on `dnsZones` too if we want to make

[2020-03-17 23:55] thockin commented on #643
That sounds like what we want, I think.  PR would be welcome.

On Tue, Mar 17, 2020 at 6:33 AM James Munnelly <notifications@github.com>
wrote:

[2020-03-18 22:50] listx opened #666 "optimize k8s.gcr.io backup script"
We are exceeding quota for GCR by doing a simple copy of ~30K images in each of the 3 regions (for a total of ~90K image copies).

We have spoken with GCR and there is currently no way of giving special quota privileges to particular GCP projects. While this might be worth pursuing (simply increasing quota), I think we can just work on optimizing the backup scripts. There are a couple reasons for

[2020-03-19 06:55] bartsmykla opened #668 "audit-gcp.sh failing (not enough permissions for k8s-infra-gcp-auditors@kubernetes.io)"
@thockin I tried to do gcp audit today and it looks like group: `k8s-infra-gcp-auditors@kubernetes.io` doesn't have enough permissions.

[code]

@thockin question: I couldn't find it in our scripts, but maybe I was looking wrong. Are we managing permissions for group `k8s-infra-gcp-auditors@kubernetes.io` with our scripts? If not, do you think we could?

/assign @thockin

[2020-03-19 11:21] stp-ip commented on #666
First suggestion would be to only backup a single region and add a `sync-check` separately. We should be checking that all regions are in sync anyway.

Is copying over into the same prefix/timestamp faster?

We could copy into the same location gcrane cp -r <prod> <prod-backup>/ and set a long term retention to prevent modifications, but that goes against the GCR teams recommendation to assume or

[2020-03-19 17:49] BenTheElder commented on #613
ping @dims @thockin @spiffxp
this seems like a reasonable request, but I'm not sure what account should be verified.

[2020-03-19 23:51] listx commented on #666
How do you mean, exactly? (You can take a look [here](https://console.cloud.google.com/gcr/images/k8s-artifacts-prod-bak/US/2020/03/05?gcrImageListsize=30) for some examples of timestamped prefixes.)

I'd rather not deal with GCS (implementation) details. We have been advised a number of times by the GCR team to treat GCS as opaque.

I'm working on a design with some ideas; will share soon. Stay t

[2020-03-20 00:27] listx commented on #666
Sorry, I think I understand your comment now. Last time I checked, gcrane does not work any faster even if you copy into the same prefix. It takes a long time (hours) for it to traverse over the ~30K images to realize that nothing needs to be copied over. This is different than the promoter which runs much faster here due to it aggressively ignoring images that have already been promoted.

[2020-03-20 00:50] listx commented on #666
I drafted a doc here: https://docs.google.com/document/d/11eiosJvm2xEVUhPRU3-luANxxTPL5FqQdJXVrLPImyQ/edit?usp=sharing

[2020-03-20 20:51] thockin commented on #668
The auditor permissions are NOT currently managed by scripts.  That should be on the list of things to scriptize.  Menawhile, I will add it manually.

[2020-03-20 20:55] thockin commented on #668
Do you know which step of the audit script failied?  Maybe run it under `bash -x` ?

[2020-03-20 20:57] puerco commented on #668
`gcloud.dns.project-info.describe`:
ERROR: (gcloud.dns.project-info.describe) User [adolfo.garcia@uservers.net] does not have permission to access project [kubernetes-public] (or it may not exist): Forbidden

[2020-03-20 21:03] thockin commented on #668
weird.  You have project viewer.  That error does not say which permission is actually needed (sigh, helpful).

[2020-03-20 21:06] thockin commented on #668
I tried adding DNS reader - try now?
Looking at this script, it seems we may be missing some `--project` flags

[2020-03-20 21:08] puerco commented on #668
It works now I can get the DNS data with both

`gcloud --project=kubernetes-public dns managed-zones list --format=json`
and
`dns project-info describe "kubernetes-public" --project=kubernetes-public --format=json  `

[2020-03-20 21:08] thockin commented on #668
ok.  Weird that project viewer did not cover that.  Closing this, scream if there's more :)

[2020-03-20 21:08] #668 closed

[2020-03-20 21:09] puerco commented on #668
Thanks !

[2020-03-20 21:43] puerco commented on #668
Just to confirm: I just finished a run of the audit script and all service handlers ran successfully on all 48 projects. A lot of modified files came out because of all the new projects.

[2020-03-21 09:12] bartsmykla commented on #654
@BenTheElder I think I can help with that. I'll try to write soon how we should proceed.

[2020-03-22 05:36] scottilee commented on #401
Hello, I created a doc https://docs.google.com/document/d/1MqGDxrQjKoEXa2zuXwX9dpe1EY-Tb3hRInyjOYKy2iA/edit?usp=sharing and would appreciate any feedback, especially from @thockin!

[2020-03-22 05:53] bartsmykla commented on #401
@scottilee it's great to see you started working on the topic! :-) Good timing because I want to start talking about it more during the next weeks. If you'll need any help feel free to reach to me.

[2020-03-22 09:58] bartsmykla opened #681 "apiGroup in role applied by ensure-namespaces.sh script is probably wrong"
Doing some research today one thought came to me.

@munnerz: [This Pull Request](https://github.com/kubernetes/k8s.io/pull/635) changes the apiGroups from `certmanager.k8s.io` to `cert-manager.io`. I think we should also change it at [`infra/gcp/namespaces/namespace-user-role.yml`](https://github.com/kubernetes/k8s.io/blob/master/infra/gcp/namespaces/namespace-user-role.yml#L11) which is applied f

[2020-03-23 10:10] munnerz commented on #681
I've responded over in #682 :)

[2020-03-23 11:00] #681 closed

[2020-03-23 20:16] spiffxp commented on #170
/remove-lifecycle rotten
/lifecycle frozen

[2020-03-25 16:05] spiffxp commented on #241
/lifecycle frozen

[2020-03-25 19:31] spiffxp opened #696 "Policy around granularity and grouping for artifact storage paths"
Pulling out some choice quotes from the discussion that started in https://github.com/kubernetes/k8s.io/pull/658#pullrequestreview-374651405

@thockin

@listx

@detiber

Yes, we should, hence this issue.

From my perspective:
- What's motivating this?
- Repos have migrated from one SIG to another, and one subproject to another. If we encode that grouping in the storage path, are we planning on rec

[2020-03-25 19:35] ncdc commented on #696
Was grouping by SIG proposed somewhere? If so, I must have missed that. I think it makes sense to group by related projects (e.g. the various Cluster API images), but probably not by SIG.

[2020-03-25 19:41] detiber commented on #696
+1 to grouping on related projects/subprojects rather than SIG as well.

[2020-03-25 20:57] listx commented on #696
I just want to clarify around not deleting old manifests --- we can still rename e.g. the deprecated folders to mark them as such. The promoter doesn't care about folder names, as long as they line up within in the `manifests`/`images` toplevel folder names. E.g., if `manifests/foo/promoter-manifest.yaml` and `images/foo/images.yaml` is deprecated in favor of `bar`, `foo` itself can still be renam

[2020-03-25 23:37] thockin commented on #696
The SIGs issue is mostly unrelated to the hierarchy issue.

question 1: Is there any limit or guidance we want to give to SIGs around
staging?  Probably not, but worth considering.

question 2: Is there value is using directories to group related efforts.
To me, I think so, but the horse is already out of the barn, kind of...

On Wed, Mar 25, 2020 at 1:57 PM Linus Arver <notifications@github.com>

[2020-03-26 10:20] bartsmykla opened #697 "Moving projects - how to do test with temporary subdomain before final move"
Hi everyone. I had time today I wanted to move perfdash to `aaa` cluster so I deployed manifests to `perfdash` namespace.

I wanted test everything is working well before I'm gonna create a PR with DNS change request so I used temporary subdomain .`perf-dash-test.k8s.io`. To use it though I would have to create DNS update request.
Question is, do we have any procedure to create some temporary dns

[2020-03-26 10:22] bartsmykla commented on #549
Hi everyone. I'm doing final tests before moving everything and created issue: https://github.com/kubernetes/k8s.io/issues/697. When I'll know how to proceed we'll can do final test.

[2020-03-26 16:12] nikhita commented on #500
Discussed this with @dims @sttts and @liggitt  -- we will be winding down the godeps instance on Wednesday, April 1st. I have sent a [notice](https://groups.google.com/forum/#!topic/kubernetes-sig-release/HNj7y7D4Yz4) to the wg-k8s-infra and sig-release mailing lists.

I will also announce it in the wg-k8s-infra meeeting on April 1st before switching it off.

[2020-03-26 16:20] bartsmykla commented on #500
Sounds good to me :-)

[2020-03-26 18:58] spiffxp opened #698 "Remove old google groups"
Back in May 2019, we removed our use of googlegroups.com groups in favor of kubernetes.io groups that we manage via automation (ref: https://github.com/kubernetes/k8s.io/pull/260).  I think it's time to get rid of the old groups.

I've confirmed these aren't in use by looking at our latest audit, which I refreshed locally out of extra paranoia (ref: https://github.com/kubernetes/k8s.io/pull/678)

[2020-03-26 18:59] spiffxp commented on #698
/assign @dims @bartsmykla @thockin @cblecker
For +1's

[2020-03-26 19:00] bartsmykla commented on #698
+1 from me

[2020-03-26 19:08] thockin commented on #698
+1 - I removed the last thing I found in the audit

On Thu, Mar 26, 2020 at 12:01 PM Bart Smykla <notifications@github.com>
wrote:

[2020-03-26 22:37] dims commented on #698
+1 from me

[2020-03-27 00:24] spiffxp commented on #698
/close
Thanks all.  The groups listed above have been deleted

[2020-03-27 00:24] #698 closed

[2020-03-30 07:41] bartsmykla commented on #325
Hi everyone. :-)

It looks like git.k8s.io is working (at least if I'm interpreting links you provided) now but slack.k8s.io is not. I'll try to read if there is any easy way we can help with this.

Do anyone have more knowledge than few months back about how we can improve it?

Bart

[2020-03-30 07:54] bartsmykla commented on #325
I see `slack.k8s.io` is still deployed on the old infrastructure and the good thing is the IP (`34.107.204.206`) which our redirector is using (which is hosted on the new infra) and which actually handles requests to `git.k8s.io` ant others is accessible.
I'm gonna try to make sure when we'll move `slack.k8s.io` to the new clusters the IP will be accessible in China too.

[2020-03-30 08:10] bartsmykla commented on #325
I did some research and checked all `A` records from https://github.com/kubernetes/k8s.io/blob/master/dns/zone-configs/k8s.io._0_base.yaml using website http://ping.pe and here are results:

- `slack.k8s.io` is not accessible at any of Chinese locations
- `gubernator.k8s.io` is not accessible at `China, Beijing | Tencent`
- `testgrid.k8s.io` is not accessible at `China, Beijing | Tencent`

During

[2020-03-30 08:13] bartsmykla commented on #159
@dims what is the status of this issue? is there any document where I can read more about it because I'm not sure I understand what needs to be done here.

[2020-03-30 08:13] bartsmykla commented on #159
/assign @dims

[2020-03-30 08:17] bartsmykla commented on #425
Hi @thockin what is the status of it? As I'm part of `k8s-infra-gcp-auditors` group I can lsit projects without problem so I can't check if users can list projects. What is the role for listing organisations?

/assign @thockin

[2020-03-30 08:20] bartsmykla commented on #237
@spiffxp do you think we can delete the `pause` image now?

[2020-03-30 11:26] bartsmykla commented on #332
Hi everyone.

Currently we do have [`ensure-conformance-storage.sh`](https://github.com/kubernetes/k8s.io/blob/master/infra/gcp/ensure-conformance-storage.sh) with three buckets being created:
[code]
@BenTheElder @spiffxp @dims can we mark it as done or are we missing anything here?

[2020-03-30 11:31] bartsmykla commented on #340
Hi @verb. I like the idea, do you still want to do it? :-)

[2020-03-30 11:52] verb commented on #340
Hi @bartsmykla, I've had trouble finding time to do this, so a few days ago I resolved to add this to the list of good first issues... which I've also had trouble finding time to do. 😀

Are you interested in taking this over?

[2020-03-30 12:00] bartsmykla commented on #340
I'm doing some research for issues which we can quickly implement and close. I'm gonna create PR soon :-)

[2020-03-30 12:06] dims commented on #332
/close

yep. this is done.

[2020-03-30 12:06] #332 closed

[2020-03-30 12:10] bartsmykla commented on #340
Done

[2020-03-30 13:10] munnerz commented on #697
For completeness I feel like any domain regardless of purpose should be added into the config stored in this repo before applying, especially considering the sensitivity of the `k8s.io` and `kubernetes.io` domains.

Having a dedicated `staging` subdomain seems like it might be a good idea, but what would the restrictions/guidelines about how this is used be? I'd be concerned users may start using

[2020-03-30 18:48] BenTheElder commented on #332
yes

[2020-03-31 04:28] thockin commented on #425
at least for people in multiple organizations, you have to somehow list which org you want to list projects from.  Maybe it got better, but it was broken when I filed this.  If it works for you, I am happy to close this :)

[2020-03-31 04:31] spiffxp commented on #325
velodrome.k8s.io is down for the foreseeable future (ref: https://github.com/kubernetes/test-infra/issues/16836)

[2020-03-31 04:31] bartsmykla commented on #425
@thockin sorry, maybe I was not clear asking about role. I meant what IAM Role can it be to list organizations. Do you know maybe?

[2020-03-31 04:36] bartsmykla commented on #325
@spiffxp got it. Thank you for update

[2020-03-31 09:42] idealhack commented on #325
@bartsmykla Hi Bart, thanks for your research and update!

As far as I know, the block method of the Great Firewall is targeting on IPs in this case. It's just you're lucky or not to get an IP which not in the blocking rules (since a lot of Google's IPs are on the list). So hopefully this can be resolved when we moved all things from the old GCP project to the new one.

What do we do if it's still

[2020-03-31 11:25] bartsmykla commented on #325
@idealhack the good thing is we can try to get other IP and if it won't work we can try use the fact the `redirect.k8s.io` IP is currently not blocked so I'm sure we can figure something out.

[2020-03-31 15:18] thockin commented on #325
The only real answer is to run mirrors on other non-blocked services, for
which we will require owners to drive the work and administer the resulting
infra.  And maybe credits, depending on the bill.

On Tue, Mar 31, 2020 at 4:26 AM Bart Smykla <notifications@github.com>
wrote:

[2020-04-01 17:16] nikhita commented on #500
This is done now! :tada:

[2020-04-01 17:16] #500 closed

[2020-04-01 17:33] bartsmykla commented on #500
Great! Thank you @nikhita for the work! :-)

[2020-04-03 20:45] thockin opened #715 "Grant staging groups access to see container vulnerabilties"
To get vuln info we need to grant role "Container Analysis Occurrences Viewer".

I see 2 paths:

1) Make a group which holds all the staging groups.  Every new group has to be added there.
2) Just grant every group that role on k8s-artifacts-prod

[2020-04-03 22:30] spiffxp commented on #158
/remove-lifecycle stale
/lifecycle frozen

Once the VDF is complete and we have a little more documentation (and maybe automation) around how people can use / provision this, I think we're done here

[2020-04-03 22:54] listx opened #716 "allow subprojects to push to k8s-artifacts-prod/ top-level (root)?"
Apparently, `gcr.io/google-containers/debian-base` is a base image used by the community. This path now resides (in the new prod post [VDF](https://github.com/kubernetes/k8s.io/blob/master/k8s.gcr.io/Vanity-Domain-Flip.md)) at `us.gcr.io/k8s-artifacts-prod/debian-base`.

For k8s-artifacts-prod, we already have a "legacy" manifest that is responsible for pushing up into the top-level folder [here](

[2020-04-03 22:57] justaugustus commented on #716
/assign
/sig release
/area release-eng

[2020-04-03 23:34] listx commented on #666
This was fixed with #677

/close

[2020-04-03 23:34] #666 closed

[2020-04-06 12:23] bartsmykla commented on #549
I have created PR with next steps in its description, so feel free to do review :-)

[2020-04-06 18:23] destijl commented on #716
@tallclair who has done a bunch of the maintenance of debian-base.

Do any of these options mean people need to change their FROM lines? e.g.

[code]

I assume yes, but I don't know the details of how the aliasing works.

[2020-04-06 18:26] stp-ip commented on #716
As long as they are using the k8s.gcr.io domain nothing needs to be changed. All legacy urls and images will still work. It's specifically about future images. Those would need to change, if root level images are no longer allowed.
To be fair the version would have to change anyway, so changing the prefix as well should be ok.

Overall in my personal opinion I think we should enforce a prefix.

[2020-04-06 18:38] destijl commented on #716
OK so we're saying all future images would be:

[code]

That sounds like a good idea to me. We'll have to deal with some short-term confusion as updates stop appearing in the root (i.e. make an announcement).

[2020-04-06 18:42] stp-ip commented on #716
Yes that would be one suggestion. Depending on what prefix the community agrees on.
Each prefix usually corresponds to one sub project and team having control.

Therefore it could also be:
[code]

There were various announcements for the direct container side of things, which might be able to be reused. @listx has them somewhere I'm sure.
Any specific "builder" or base image list to announce or pe

[2020-04-06 18:52] listx commented on #716
The only community-wide announcements that I've sent out are at https://groups.google.com/d/msg/kubernetes-sig-release/ew-k9PEBckQ/T7dFepHdCAAJ

@BenTheElder @justaugustus ?

[2020-04-06 21:25] BenTheElder commented on #716
no, we don't think we've ever actually advertised these for re-use, so at best it would be:
- the kubernetes release notes
- kubernetes-dev mailing list

I consume the debian-iptables image in kind but I have no real preference on the exact naming of the image.

[2020-04-06 22:15] thockin commented on #716
I agree that moving to a subdir is valuable and not worth bypassing.

[2020-04-06 23:05] immutableT commented on #716
cc @immutableT

[2020-04-06 23:39] BenTheElder commented on #697
💯

just create a temporary entry, we did this with prow just fine (prow-canary.k8s.io IIRC)

[2020-04-07 00:31] spiffxp opened #726 "audit: strip out resource usage from project-info.json"
We want to gather limits, but gathering usage results in noise

ref: https://github.com/kubernetes/k8s.io/pull/714#discussion_r404368371

[2020-04-07 16:21] thockin opened #728 "TODO: remove "bart-test" namespace in "aaa" and linked workload-identity grants"
Filing this as a reminder to clean up after Bart's testing of DNS and audit automation.

[2020-04-07 20:58] tallclair commented on #716
I don't have any issues with moving the base images to a subdir, but I will mention that we're thinking about getting rid of the base images in https://github.com/kubernetes/kubernetes/pull/88603, so it might not be worth investing too much effort in this (we will need to continue to maintain the base images for past releases though, unless we decide to cherry-pick the changes to rebase on `debian

[2020-04-07 21:01] BenTheElder commented on #716
I'm very doubtful that debian-iptables is going anywhere now, at minimum.

On Tue, Apr 7, 2020 at 1:58 PM Tim Allclair <notifications@github.com>
wrote:

[2020-04-08 03:34] bartsmykla commented on #516
/remove-lifecycle stale

[2020-04-08 06:56] bartsmykla opened #732 "DNS REQUEST: perf-dash-canary.k8s.io"
### Type of DNS update:
Create

### Domain being modified:
`k8s.io`

### New DNS Record:

[code]

### Reason for update:
We created static IP address called: `perf-dash-k8s-io-ingress-prod` for perf-dash's Ingress, this subdomain will be usied to perform final test for perf-dash deployment when `https://github.com/kubernetes/k8s.io/pull/721` will be closed

[2020-04-08 09:07] #340 closed

[2020-04-08 09:09] stp-ip commented on #533
/remove-lifecycle stale

[2020-04-08 09:10] stp-ip commented on #176
/remove-lifecycle stale

[2020-04-08 09:13] stp-ip commented on #732
Generally I agree this is needed, but mentioning my concern that we then basically have:
perf-dash-canary.canary.k8s.io as well as perf-dash-canary.k8s.io

Might be more descriptive and less confusing if we establish testing entries being prefixed or postfixed with -testing instead of -canary.

[2020-04-08 09:28] bartsmykla commented on #732
I agree. I used this one because we have other called -canary. I wouldn't block the PR because of it though because I plan to remove this subdomain when we test perf-dash.

[2020-04-08 09:35] stp-ip commented on #732
Yeah prow used -canary, but that comes back to ad-hoc decisions :)

Happy to go with -canary for now with a doc/template for temporary test domain requests using pre or post fixing ;)

[2020-04-08 09:43] bartsmykla commented on #732
@stp-ip +1 from me :-)

[2020-04-08 10:27] #732 closed

[2020-04-08 19:58] BenTheElder commented on #654
gentle ping, I'd really like to get this out of google.com infra and stop having github.com/kubernetes/kubernetes CI download from a `bentheelder...` bucket w/o detrimentally impacting CI...

we essentially just need a staging project 😅
cc @dims @spiffxp @justaugustus

[2020-04-09 01:30] listx commented on #716
I think for the short-term we still need to have an official place for debian-base (and others too, probably also debian-iptables that Ben mentioned).

We are still ironing out details as to when the VDF will happen (hopefully this month, but don't quote me on it), but in the meantime can we all agree that we do want a `base-images` subproject?

[2020-04-09 06:10] bartsmykla commented on #549
As a followup for the people who don't follow the [PR#721](https://github.com/kubernetes/k8s.io/pull/721). We have [`perf-dash-canary.k8s.io`](https://perf-dash-canary.k8s.io) running and there are some issues with accessing the cluster by people from `k8s-infra-rbac-perfdash@kubernetes.io` group. When it will be solved and we confirm the data in both [`perf-dash-canary.k8s.io`](https://perf-dash-

[2020-04-09 06:28] listx commented on #654
Our existing instructions for subprojects needing a [GCR](https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io#creating-staging-repos), have [provisions](https://github.com/kubernetes/k8s.io/blob/master/infra/gcp/ensure-staging-storage.sh#L104) for creating GCS buckets for humans and for GCB. Also, Katharine's automated [cloudbuild instructions](https://github.com/kubernetes/test-infra/blob

[2020-04-09 06:54] bartsmykla commented on #654
@BenTheElder I'm gonna get back to this today, I promise!

[2020-04-09 09:44] gball14 opened #737 "How to force restart a POD based on init-container"
I want to restart the **pod** if the init container can not execute nslookup successfully i.e. there is an issue with dns set up for the pod. I tried the below command for init-container to understand the behaviour. But, kubernetes just restart the container and not the pod.

command: ['sh', '-c', 'echo The app is running! && exit 1;']

[2020-04-09 10:10] bartsmykla commented on #737
Hi @gball14
I'm not sure if I understand yout problem correctly but if so I think the better place to ask would be: https://github.com/kubernetes/kubernetes/ repository.
Here we are mostly working on stuff related to [`k8s-infra-wg`](https://github.com/kubernetes/community/tree/master/wg-k8s-infra)

[2020-04-09 11:36] bartsmykla commented on #737
@gball14 I'm closing the issue for now. If you think I misunderstood the problem feel free to write here and I'm gonna reopen it
/close

[2020-04-09 11:37] #737 closed

[2020-04-09 13:13] bartsmykla commented on #654
@BenTheElder so [every staging project](https://github.com/kubernetes/k8s.io/blob/master/infra/gcp/ensure-staging-storage.sh#L41-L81) as @listx wrote have access to two GCS buckets - [one for humans](https://github.com/kubernetes/k8s.io/blob/master/infra/gcp/ensure-staging-storage.sh#L104) and [one for GCB](https://github.com/kubernetes/k8s.io/blob/master/infra/gcp/ensure-staging-storage.sh#L105).

[2020-04-09 21:40] destijl commented on #716
Yes please, let's move forward. We need to quickly unblock our ability to patch this in the new world.

[2020-04-10 01:53] listx commented on #716
@immutableT Please follow the instructions https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io#creating-staging-repos to create one for `base-images`

Closing this issue, as no one has opposed thockin's observation that we should not bypass moving to subdirs.

[2020-04-10 02:17] justaugustus commented on #716
@immutableT @listx -- I'm already working on this with the intent that management of the base images would transition to the Release Engineering subproject.

Who might need to be added to this staging project?
Or are you all happy for Release Engineering to take this over in its' entirety?

---

As to the original query:

I think the only images that should be allowed at the root level are "first-

[2020-04-10 02:33] listx commented on #716
I'll leave that up to you and @immutableT, @tallclair

Sorry I forgot about this, but it makes sense to me and I agree with how you've set things up here. I assume we already had this discussion in the PR for it #624, but I can't recall at the moment.

[2020-04-10 16:16] bartsmykla commented on #509
/remove-lifecycle rotten

[2020-04-14 09:02] BenTheElder commented on #654
That should be sufficient. Sorry for the delay.

I need one publicly readable bucket that I can write to from a GCB build with at least some retention.

You can see what we're doing (currently from prow instead of GCB) here:
https://github.com/kubernetes-sigs/kind/blob/master/hack/ci/push-latest-cli.sh

Ideally this moves to a trusted cluster / GCB job.
Kubernetes / Kubernetes CI (and humans doing

[2020-04-14 09:03] BenTheElder commented on #654
IMHO we need a better entrypoint to finding these docs, I have no interest in a GCR at this time so I'd not have found this... I am not doing image builds here. There are probably many other projects doing something roughly like "nightly binary build".

[2020-04-14 09:35] bartsmykla commented on #654
@BenTheElder agree with documentation and I'm trying to solve that, about retention maybe we could start the topic at tomorrows zoom call?

[2020-04-15 00:17] BenTheElder commented on #654
filed https://github.com/kubernetes/k8s.io/pull/744 to create a staging project

[2020-04-15 13:37] bartsmykla commented on #726
I'm assigning myself to this task but I'm open if anyone would like to shadow me and do some pair-programming session solving this. :-)

/assign

[2020-04-15 16:06] thockin commented on #654
It sounds like what you want is "prod" (with approximately infinite retention).  The medium-term goal is a GCS promoter process that parallels the GCR promoter, but we don't have that yet.

In the absence of that, we have been giving GCS "prod" access to a small set of closely-guarded subprojects.  I would be OK to give you a dedicated "prod" GCS bucket and access to it.  When we eventually have a

[2020-04-15 16:09] thockin commented on #654
How does "gs://k8s-artifacts-kind" sound?

[2020-04-15 18:14] BenTheElder commented on #654
It sounds great 👍

[2020-04-15 19:23] spiffxp commented on #244
/remove-lifecycle rotten

[2020-04-15 19:27] spiffxp commented on #194
/assign @bartsmykla
Bart tried to copy the data studio report but was unable to connect to the data set.  Will connect with @justinsb to figure out how to resolve permissions issues

[2020-04-15 19:30] spiffxp commented on #654
/area artifacts

[2020-04-15 19:32] spiffxp commented on #395
/remove-lifecycle stale
/assign @thockin @spiffxp
I think we can do this now

[2020-04-15 19:33] spiffxp commented on #395
/area cluster-mgmt

[2020-04-15 19:33] spiffxp commented on #509
/area billing

[2020-04-15 19:34] spiffxp commented on #549
/area cluster-infra

[2020-04-15 19:35] spiffxp commented on #549
/unassign @dims
@thockin will work with @mm4tt to resolve why they're unable to access the `perfdash` namespace in the `aaa` cluster

[2020-04-15 19:37] spiffxp commented on #516
/area cluster-mgmt
/area cluster-infra
/kind cleanup

[2020-04-15 19:38] spiffxp commented on #728
/area cluster-mgmt

[2020-04-15 19:41] spiffxp commented on #507
/unassign @palnabarun
if you're still working on this, please /assign yourself and let us know what's new
/assign @bartsmykla
Trying to implement as a prowjob using the existing trusted-cluster approach used by container image promoter.  Currently stuck on how to run octodns without a service account key file so that it can automatically pickup what service account is provided via workload identit

[2020-04-15 19:41] spiffxp commented on #507
/area dns
/area cluster-infra
/remove-help
since @bartsmykla is working on this

[2020-04-15 19:44] spiffxp commented on #503
/assign @bartsmykla
Was looking to get consensus on best approach to manage StorageClass.  Consensus was we're fine restricting to running inside Cloud Shell, and can use terraform to manage this for now since it straddles the line between infra and cluster resources.  Bart to create a pull request which he'll update

[2020-04-15 19:47] spiffxp commented on #503
/remove-help
since this is actively being worked

[2020-04-15 19:51] spiffxp commented on #157
/unassign @BenTheElder @thockin
I believe we can call this done once the vanity domain flip happens, and we're comfortable with the outcome.  AFAIK @listx is the only person actively working on this

Currently blocked on: we tried doing the flip once and ran into issues that halted rollout.  Currently looking to discover and untangle any (google internal) lingering hardcoded dependencies on `googl

[2020-04-15 19:53] spiffxp commented on #240
To close this out I'd like to create or link a corresponding issue for each piece of cluster infra https://github.com/kubernetes/k8s.io/issues/240#issuecomment-488210434

[2020-04-15 19:58] spiffxp commented on #508
/remove-lifecycle rotten

Here's what we have:
- area/access
- area/artifacts
- area/billing
- area/cluster-infra
- area/cluster-mgmt
- area/dns
- area/infra/auditing
- area/infra/cert-manager
- area/infra/monitoring
- area/infra/publishing-bot
- area/infra/reliability

Synced via: https://github.com/kubernetes/test-infra/blob/c9d7d82dca1c4966db01d732ea942022da838ac2/label_sync/labels.yaml#L831-L8

[2020-04-15 20:01] spiffxp commented on #394
/area infra/auditing
/area infra/monitoring
/area artifacts
It's unclear to me what our definition of done is here.  Is this still necessary? Do we think we shouldn't call artifact promotion done until we have this?

[2020-04-15 20:04] spiffxp commented on #158
/close
I'm going to call this done in favor of using https://github.com/kubernetes/k8s.io/issues/157 to track completion of the vanity domain flip and whatever else we need to feel confident about an image promotion process that uses this repo.  The repo itself has been setup.

[2020-04-15 20:04] #158 closed

[2020-04-15 20:10] spiffxp commented on #696
We discussed this during the April 1st meeting of wg-k8s-infra.  Basically I was coming from the perspective of do we _need_ grouping?  If so, is it something we should enforce? If so, I think we should lean into the community's existing sig/subproject/repo hierarchy.  If not, is there additional maintenance burden of allowing arbitrary grouping? How does that compare to the maintenance burden of

[2020-04-15 20:11] spiffxp commented on #237
/remove-priority important-soon
/priority backlog
It's really low on my priority list at this point; it would feel great to finally get this done, but I'm juggling too much right now

[2020-04-15 20:16] spiffxp commented on #697
/area dns
/close
I think we've decided to just not support a staging subdomain for now, and use `foo-staging.k8s.io` when trying to stage something destined for `foo.k8s.io`.  Please /reopen if you disasgree

[2020-04-15 20:16] ameukam commented on #728
/kind cleanup

[2020-04-15 20:17] #697 closed

[2020-04-15 20:38] spiffxp commented on #716
/area artifacts
/assign @thockin
for input

I can't find it in the meeting notes, but I feel like when we discussed at a wg-k8s-infra meeting we wanted nothing new in root.  I feel like at a minimum we should start a deprecation clock ticking on the prefixless images, and have these images _also_ placed in a prefix dir.

[2020-04-15 21:11] thockin commented on #654
PTAL https://github.com/kubernetes/k8s.io/pull/749

On Wed, Apr 15, 2020 at 12:31 PM Aaron Crickenberger <
notifications@github.com> wrote:

[2020-04-15 21:25] thockin commented on #716
I see two points, tell me if I am missing anything:

1) Should we allow new pushes of (for example) `kube-apiserver` into the root dir of `k8s.gcr.io`?  Historically that is where they all are.  Do we think it matters if that is not true in the future?  No matter what, we are not removing the old images from their current locations.

2) If we change to a subdir for "core" releases, should we ALSO

[2020-04-15 21:43] listx commented on #716
+1. But I also think a) can evolve (what @spiffxp referred to as a "deprecation clock") into c).

Currently we are already doing a). This is because the legacy backfill manifest has to be updated to reflect new images going into google-containers at the moment, leading up to the domain flip #2.

[2020-04-15 23:26] spiffxp opened #751 "Migrate slack-infra services to aaa cluster"
- origin gcp-project: kubernetes-tools
- origin cluster-name: tools-cluster
- apps:
  - [ ] slackin (slack.k8s.io)
  - [ ] slack-event-log
  - [ ] slack-moderator
  - [ ] slack-welcomer
- repo: https://github.com/kubernetes-sigs/slack-infra

/wg k8s-infra
/area cluster-infra
/assign @bartsmykla @ameukam

[2020-04-15 23:52] spiffxp opened #752 "Develop a prow migration plan"
Break out into issues when we've gotten consensus

Current sketch is:
- decide whether we want a build cluster, and/or how many we we want
- allow prow.k8s.io to schedule jobs on our build cluster(s)
- setup a prow instance (in aaa?)
- figure out how we want to migrate/cut-over github traffic

Some concerns include:
- jobs that run in same cluster as prow.k8s.io to take advantage of the ghproxy in

[2020-04-15 23:52] spiffxp commented on #752
/wg k8s-infra
/sig testing
/area cluster-infra
/assign

[2020-04-15 23:53] spiffxp commented on #751
/sig contributor-experience

[2020-04-15 23:55] spiffxp commented on #549
/sig scalability

[2020-04-15 23:58] spiffxp opened #753 "Migrate node-perf-dash to aaa cluster (or retire)"
- origin gcp-project: kubernetes-site
- origin cluster-name: utilicluster
- apps:
  - [ ] node-perf-dash (https://node-perf-dash.k8s.io)
- repo: https://github.com/kubernetes-retired/contrib/tree/master/node-perf-dash

/wg k8s-infra
/sig node
/sig scalability
(I don't actually know which of these sigs this belongs to, if any)
/area cluster-infra
/assign @bartsmykla

[2020-04-15 23:58] spiffxp commented on #753
Bart has been pinging in kubernetes slack on #sig-node and #sig-scalability trying to find owners or users of this service

[2020-04-16 00:02] spiffxp opened #754 "Turn down kubernetes-site/utilicluster cluster"
We can do this once:
- [x] cert-manager has been migrated
- [x] gcsweb has been migrated (#204)
- [x] k8s.io redirector has been migrated
- [ ] node-perf-dash has been migrated (or retired) (#753)
- [x] velodrome has been migrated (or retired)

/wg k8s-infra
/area cluster-mgmt
/assign @thockin
I feel like @thockin deserves the honor here
/assign @spiffxp
I need to figure out if we're ok deleting v

[2020-04-16 02:22] spiffxp commented on #754
velodrome is down due to security reasons, I tried to outline what a rewrite might look like https://github.com/kubernetes/test-infra/issues/16836#issuecomment-614340375

would deleting the current instance of velodrome hurt us?
- influx's persistent data can be repopulated/backfilled as long as the k8s-gubernator.builds dataset exists
- grafana's persistent data is mainly dashboards, which we hav

[2020-04-16 04:31] listx commented on #394
This is actually done (we have event-based GCR auditing on inventory changes running now as I type this). OTOH we can open a separate issue about making the alerts get pushed to a slack channel.

[2020-04-16 09:29] bartsmykla commented on #753
Also @thockin is pinging people who I heard wanted to take ownership of this project.

/assign @thockin

[2020-04-16 09:31] bartsmykla commented on #697
Completely aggree. :-)

[2020-04-16 09:33] bartsmykla commented on #654
I think it means we can close this issue. Wdyt @BenTheElder?

[2020-04-16 11:16] nikhita commented on #751
fyi @Katharine @BenTheElder @jeefy @mrbobbytables

[2020-04-16 11:55] bartsmykla commented on #549
I think I found was was causing the issue with accessing the namespaces! [#758]

[2020-04-16 22:44] BenTheElder commented on #751
there's also the tempellis image hosting, we should move that to a staging project probably.

[2020-04-17 07:23] BenTheElder commented on #654
Yes, thanks all.
The first iteration is up and running. https://prow.k8s.io/?job=post-kind-push-binaries

[2020-04-17 07:23] #654 closed

[2020-04-20 04:56] adg opened #766 "k8s.io go-get redirector should only allow canonical names"
The way that the go-get metadata redirector in nginx is [configured](https://github.com/kubernetes/k8s.io/blob/ca25520dadc7c2442f58fd1469894887d11e4407/k8s.io/configmap-nginx.yaml#L36) just redirects `k8s.io/ANYTHING` to `github.com/kubernetes/ANYTHING`.

This means that `k8s.io/Kubernetes` can be used to name the `github.com/kubernetes/Kubernetes` repo, which could create some confusion as Go imp

[2020-04-20 19:39] spiffxp commented on #509
/committee steering
/assign @spiffxp @dims

[2020-04-21 07:35] bartsmykla commented on #549
@mm4tt as https://github.com/kubernetes/k8s.io/pull/770 is merged and I think @thockin reconcilled groups, can you confirm you have access to the namespace now?

[2020-04-21 07:40] mm4tt commented on #549
I confirm, I have access and everything seems to be working as it should. We can proceed with pointing perf-dash.k8s.io to the new cluster.
Thanks!

[2020-04-21 07:44] nikhita commented on #503
Had a quick chat with @bartsmykla about this. The current plan is to:

- Keep the publishing-bot configs and manifests in the publishing-bot repo
- Turn down the old bot instance in the `development2` cluster
- I will then create the secret (containing the GitHub token for the bot) in the `aaa` cluster
  - The token exists in the publishing-bot repo and is encrypted via git-crypt. @sttts @dims and

[2020-04-21 07:47] bartsmykla commented on #549
My plan right now is:

1. Switching `perf-dash.k8s.io` to point to `aaa` cluster + adding new subdomain to the `perf-dash` ingress
2. Waiting for confirmation everything works find after the change
3. Removing unnecessary anymore `perf-dash-canary.k8s.io` record
4. Creating PR with change [the service type at perf-dash repostory](https://github.com/kubernetes/perf-tests/blob/master/perfdash/perfda

[2020-04-21 07:47] bartsmykla commented on #403
/remove-lifecycle stale

[2020-04-21 07:53] bartsmykla opened #772 "DNS REQUEST: perf-dash.k8s.io"
### Type of DNS update:
Update

### Domain being modified:
`k8s.io`

### Existing DNS Record:

[code]

### New DNS Record:

[code]

### Reason for update:
As we have confitrmation all issues with accessing our cluster namespaces for members of rbac groups were resolved and  that the data between [perf-dash.k8s.io](https://perf-dash.k8s.io) and [perf-dash-canary.k8s.io](https://perf-dash-canary.k8s

[2020-04-21 07:57] mm4tt commented on #772
/lgtm
/hold

I've just kicked off perf-dash reloading in the aaa cluster. It was to bump perf-dash to the latest version (2.23). Can we wait till it gets populated? It should take O(1h).

[2020-04-21 07:58] bartsmykla commented on #772
Sure, no worries :-)

[2020-04-21 08:07] justaugustus commented on #503
SGTM!

[2020-04-21 08:35] sttts commented on #503
sgtm

[2020-04-21 10:08] dims commented on #503
Sounds like a good plan @nikhita !

[2020-04-21 12:38] bartsmykla commented on #772
@mm4tt it looks like it got populated. Can you confirm I can unhold the PR and reconcile the DNSes with the new address of perf-dash.k8s.io?

[2020-04-21 13:36] mm4tt commented on #772
Looks good, feel free to unhold when you're ready

[2020-04-21 13:38] bartsmykla opened #775 "Static IP Management"
When you want to run something in community cluster and need subdomain, we are recomending to mark IP which will be assigned to `Ingress` resource you'll deploy as static.
Currently it's not clear to me who except @thockin can do it and it needs to be done manually.
I think doing it manually is unnecessary and I would like to suggest using our current terraform configuration to handle that.

There

[2020-04-21 13:42] bartsmykla commented on #772
Done. I'm going to reconcile the DNS records now.

[2020-04-21 14:03] bartsmykla commented on #772
@mm4tt @wojtek-t @BenTheElder done - https://perf-dash.k8s.io point now to the `aaa` cluster. :-)

/close

[2020-04-21 14:03] #772 closed

[2020-04-21 14:11] bartsmykla opened #776 "DNS REQUEST: perf-dash-canary.k8s.io"
### Type of DNS update:
Delete

### Domain being modified:
`k8s.io`

### Existing DNS Record:

[code]

### Reason for update:

As #773 was merged and DNSes reconcilled perf-dash.k8s.io now points to the `aaa` cluster and the perf-dash-canary.k8s.io after confirmation from @mm4tt or @wojtek-t everything works as expected will be unnecessary, I don't see the need of having this record still present.

[2020-04-21 17:10] bartsmykla commented on #776
As #777 was merged and DNSes reconcilled + new `certificate.yaml` applied I think we can close it.

/close

[2020-04-21 17:10] #776 closed

[2020-04-21 17:29] bartsmykla commented on #240
As perfdash is currently running at the `aaa` and the last bits are updating the docs (kubernetes/perf-tests#1184 and #778) I'm happy to write we can destroy the `k8s-mungegithub/mungegithub` cluster and mark perfdash as done. :-)

[2020-04-21 18:14] thockin commented on #775
What if we just stopped allocating them static, and just relied on the idea that we don't delete the Ingress?

[2020-04-22 03:36] bartsmykla commented on #753
@spiffxp @dims we discussed yesterday with @thockin that despite our efforts to communicate with people who can be interested in `node-perf-dash` there is no response and we are close to the decision to retire the project. We think about setting a deadline as a last day of this month for someone to pick this up and if note we would just retire it and remove the cluster completely (#754) as it's th

[2020-04-22 08:52] bartsmykla commented on #549
I think it's the time for celebration as we managed to get all steps done! :-)

/close

[2020-04-22 08:53] #549 closed

[2020-04-22 08:54] BenTheElder commented on #549
🎉

On Wed, Apr 22, 2020, 01:53 Kubernetes Prow Robot <notifications@github.com>
wrote:

[2020-04-22 09:00] mm4tt commented on #549
Thanks, @bartsmykla !!!

[2020-04-22 11:43] dims commented on #753
@bartsmykla give it 2 weeks please. just in case folks are dealing with other emergencies. hope you have already notified sig-node mailing list

[2020-04-22 11:52] bartsmykla commented on #753
@dims You are right. Do you think we should give people more than 2 weeks? It's not that crutial to turn it down immidiately but I would like to not lose it from the horisont.

[2020-04-22 12:21] dims commented on #753
2 weeks is reasonable to me. we can always resurrect it if needed.

[2020-04-22 12:36] bartsmykla opened #782 "Add dry-run option when running dns update"
As it was useful for me whenever I was [performing the DNS update](https://github.com/kubernetes/k8s.io/tree/master/dns#performing-an-update) to run it in `dry-run` mode first and I was always hacking the [`push.sh`](https://github.com/kubernetes/k8s.io/blob/master/dns/push.sh) script to achieve that I think it's the good thing to have a `make dry-run` option.

[2020-04-22 12:37] bartsmykla commented on #782
/good-first-issue

[2020-04-22 13:45] bartsmykla opened #783 "DNS Update automation"
As I started working on automating the process of running octodns whenever [DNS configuration](https://github.com/kubernetes/k8s.io/tree/master/dns/zone-configs) will change here is my step by step plan:

1. [Done: #805, #822, [k/test-infra#17449](https://github.com/kubernetes/test-infra/pull/17449), #827, #828] ~Building consensus around if we want our [octodns container image](/dns/octodns-docke

[2020-04-22 15:01] bartsmykla commented on #751
My step by step plan to move slack infra to the `aaa` cluster:

1. Creating PR with updated instructions about [how to deploy the `slack-infra`](/slack-infra#todo-how-to-deploy) and two missing resource manifests (ingress and certificate)
2. Deploying ingress resource to receive efemeral IP address
3. Updating DNSes with temporary domains (slack-staging.k8s.io and slack-staging.kubernetes.io) poin

[2020-04-22 15:56] bartsmykla commented on #751
@dims, @spiffxp, @thockin can one of you deploy the secrets ([step 6](https://github.com/kubernetes/k8s.io/issues/751#issuecomment-617833729)) as it doesn't conflicts with other steps?

[2020-04-22 16:59] spiffxp commented on #509
I did the following:
- made wg-k8s-infra-billing@kubernetes.io user
- logged in as that user
- signed up for Data Studio
- created a blank report
- shared edit access with k8s-infra-gcp-billing@kubernets.io
- enabled "anyone with link can view"

That said, I don't think we're going to be able to transfer the existing report to this user. I'm also not clear if the "Aggregated Billing Data" data sou

[2020-04-22 17:44] listx commented on #783
The `bind-service-accounts.sh` script does not need to be run manually; last time I added Workload Identity stuff, the only things in k/test-infra that had to be changed was (1) the `trusted_serviceaccounts.yaml` file which you already noted and (2) the prow job definition itself. Creation of the Kubernetes Service Account (KSA) on Prow and making that KSA try to authenticate as the GCP account fr

[2020-04-22 20:00] spiffxp commented on #783
yes

these should be done in this repo via the `infra/gcp/ensure-*.sh` scripts (not sure offhand if it slots in existing, or should be a new script)

[code]
These can all be done in the same PR to test-infra.  As @listx said, this needs a `serviceAccountName: foo` to use the foo service account via workload identity.

Also, please don't hardcode a prow path into the config file.  I'm pretty sure t

[2020-04-22 20:00] spiffxp commented on #783
/area dns
/area cluster-infra

[2020-04-22 20:37] spiffxp commented on #751
/assign
taking a look

[2020-04-22 20:45] spiffxp opened #785 "Turn down kubernetes-public/development2 cluster"
We can do this once:
- [x] publishing-bot has been migrated to aaa (ref: https://github.com/kubernetes/k8s.io/issues/503)

/wg k8s-infra
/area cluster-mgmt
/assign @thockin
I feel like @thockin deserves the honor here
/assign @nikhita
to confirm if the publishing-bot instance running on development2 has been migrated

[2020-04-22 21:23] spiffxp commented on #751
[code]
[code]

[2020-04-22 21:33] spiffxp commented on #751
/unassign
I would ask #slack-admins about 7

I'm... marginally ok with 11, but I don't want us to get to a point where answering "what's the source of what is deployed in our cluster" becomes a byzantine task of manually tracking everything down.  In an ideal world it's a machine-answerable question.

How can we re-use those externally defined resources + patch in / overlay our own needs? kustomiz

[2020-04-22 21:51] #726 closed

[2020-04-23 01:14] spiffxp opened #787 "Migrate kettle to k8s-infra"
Part of migrating away from gcp-project k8s-gubernator: https://github.com/kubernetes/k8s.io/issues/1308

- origin gcp-project: k8s-gubernator
- origin cluster-name: g8r
- apps:
  - [x] kettle
- repo: https://github.com/kubernetes/test-infra/tree/master/kettle

My suggestions for target:
- project: kubernetes-public
- cluster: aaa
- namespace: kettle

/wg k8s-infra
/area cluster-infra
/sig testing

[2020-04-23 01:16] spiffxp opened #788 "Turn down k8s-mungegithub/mungegithub cluster"
We can do this once:
- [x] perfdash has been migrated (https://github.com/kubernetes/k8s.io/issues/549)
- [x] @spiffxp has had a chance to confirm there's really nothing else of value on this cluster

/wg k8s-infra
/area cluster-mgmt
/assign @spiffxp

[2020-04-23 01:19] spiffxp opened #789 "Turn down k8s-gubernator/g8r cluter"
We can do this once:
- [ ] kettle has been migrated (#787)
- [ ] spiffxp@ has confirmed there's really nothing else on this cluster

/wg k8s-infra
/area cluster-mgmt
/assign @spiffxp

[2020-04-23 01:21] spiffxp opened #790 "Turn down kubernetes-tools/tools-cluster cluster"
We can do this once:
- [x] slack-event-log has been migrated (#751)
- [x] slack-moderator has been migrated (#751)
- [x] slack-welcomer has been migrated (#751)
- [x] slackin has been migrated (#751)
- [x] @spiffxp has confirmed there's really nothing left on this cluster

/wg k8s-infra
/area cluster-mgmt
/assign @spiffxp

[2020-04-23 01:25] spiffxp commented on #240
/close
OK, I've stopped short of creating "turn down" issues for the k8s-prow and k8s-prow-build clusters because those may stick around for other purposes.  I've created issues for everything else here.

Next is _non_-cluster infra, such as BigQuery, App Engine, etc. which can lead to turn down of GCP projects, not just clusters.  That's https://github.com/kubernetes/k8s.io/issues/241

[2020-04-23 01:25] #240 closed

[2020-04-23 01:54] spiffxp commented on #766
/area dns

[2020-04-23 02:09] spiffxp commented on #394
/close
I'm fine deferring alerting to another issue

[2020-04-23 02:09] #394 closed

[2020-04-23 05:38] ameukam commented on #751
Sounds like a good plan @bartsmykla.:)

[2020-04-23 07:49] BenTheElder commented on #716
Minor x-ref regarding top level images and mirroring https://github.com/containerd/containerd/issues/3756

[2020-04-23 07:54] stp-ip commented on #766
/cc

[2020-04-23 08:14] nikhita commented on #503
Bot has been migrated to the `aaa` cluster :tada:

There weren't too many documentation updates, but I've created https://github.com/kubernetes/publishing-bot/pull/223 to reflect the migration.

/close

[2020-04-23 08:14] #503 closed

[2020-04-23 08:17] nikhita commented on #785
to confirm if the publishing-bot instance running on development2 has been migrated

Confirming that the publishing-bot instance running on `development2` has been migrated to `aaa` (https://github.com/kubernetes/k8s.io/issues/503)

/unassign

@thockin heads up that everything in the k8s-publishing-bot namespace has been [cleared out](https://console.cloud.google.com/kubernetes/workload?organizati

[2020-04-23 10:29] bartsmykla opened #793 "Change the name of slack-infra's IP address"
As I deployed Ingress resource for `slack-infra` to receive IP address which will be used during the rest of the process it was done and the IP address assigned is:
[code]
@thockin as you are I think the only person with enough permissions so far, can you rename the IP address from `k8s-fw-slack-infra-slack-infra--ea949c440a044527` to `slack-infra-ingress-prod` please?

/assign @thockin

[2020-04-23 11:01] bartsmykla opened #795 "DNS REQUEST: slack-staging.k8s.io"
### Type of DNS update:
Create

### Domain being modified:
`k8s.io`

### New DNS Record:

[code]

### Reason for update:

As we are in the process of moving slack-infra tools to our new infrastructure this record will use us to test everything works as expected before we'll switch proper domains (slack.k8s.io to the new place)

[2020-04-23 11:02] bartsmykla opened #796 "DNS REQUEST: slack-staging.kubernetes.io"
### Type of DNS update:
Create

### Domain being modified:
`kubernetes.io`

### New DNS Record:

[code]

### Reason for update:

As we are in the process of moving slack-infra tools to our new infrastructure this record will use us to test everything works as expected before we'll switch proper domains (slack.k8s.io to the new place)

[2020-04-23 11:02] bartsmykla commented on #796
ref. #795

[2020-04-23 11:03] bartsmykla commented on #795
ref. #796

[2020-04-23 11:09] stp-ip commented on #793
Renaming resources isn't possible within GCP for the most part. This includes static IPs. This means afaik we are stuck with the name or have to recreate it with a new IP.

[2020-04-23 11:10] bartsmykla commented on #793
Oh, great to know @stp-ip thank you for your comment!

[2020-04-23 11:11] bartsmykla commented on #793
@thockin would you be able to create a new static IP with the name `slack-infra-ingress-prod` address instead?

[2020-04-23 11:11] stp-ip commented on #796
Why the staging need on kubernetes.io as well? Wouldn't k8s.io suffice as referenced in #795?

[2020-04-23 11:17] bartsmykla commented on #796
You are completely right! :-) I did this completely automaticaly without thinking. Great catch!

/close

[2020-04-23 11:17] #796 closed

[2020-04-23 12:29] bartsmykla commented on #775
So what I saw today is GCP will still alocate the addresses for Ingresses as static but assign them some randomish name, which is suboptimal so as we are currently creating the addresses I prepared small script for it till we'll decide what we want to do with it: #798

[2020-04-23 15:23] thockin commented on #604
Can you say more about why they need keys rather than just being in the correct googlegroup?

[2020-04-23 15:26] thockin commented on #604
@saschagrunert @RainbowMango @sbueringer

It seems like there was a bug that the correct groups were not given enough permissions.  Is that why we have keys, rather than just being a member of a googlegroup?  If groups works now, would that be a replacement for you (so we could turn off the keys) ?

[2020-04-23 15:26] dims commented on #604
@thockin these keys are to upload results to test grid from CI jobs NOT running on prow

https://github.com/kubernetes/test-infra/tree/master/testgrid/conformance#usage-guide

[2020-04-23 15:27] sbueringer commented on #604
@thockin @dims Exactly. So in my case I need to be able to upload logs from OpenLab to https://console.cloud.google.com/storage/browser/k8s-conform-capi-openstack

[2020-04-23 15:28] dims commented on #604
@thockin earlier @BenTheElder minted some gcs buckets on google account and shared service accounts for those ... we just migrated those to community buckets.

[2020-04-23 15:29] dims commented on #604
@thockin more background in https://github.com/kubernetes/test-infra/issues/15081

[2020-04-23 15:45] thockin commented on #604
grrr... I guess I don't see any real alternative, then.

Dims, can we canonize this flow into the existing conform script (maybe the key download is just a comment)?  We have some functions for ensuring an SA exists.

[2020-04-23 15:49] thockin commented on #793
I can, but maybe we should just give cluster-admins that power?

On Thu, Apr 23, 2020 at 4:11 AM Bart Smykla <notifications@github.com>
wrote:

[2020-04-23 15:58] bartsmykla commented on #793
@thockin sgtm
@dims @spiffxp wdyt?

[2020-04-23 15:59] thockin commented on #793
I gave cluster admins load-balancer admin perms.  Does that seem like a bad
idea?  Try it out, if happy I have a script diff I can send

On Thu, Apr 23, 2020 at 8:49 AM Tim Hockin <thockin@google.com> wrote:

[2020-04-23 16:01] thockin commented on #503
So it is safe for me to decom the old cluster now?

On Thu, Apr 23, 2020 at 1:15 AM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2020-04-23 16:06] bartsmykla commented on #793
Added address:
[code]

[2020-04-23 17:08] spiffxp commented on #788
The perfdash deployment was still running there, I scaled it down to 0 yesterday.  Will turn this down later today

[2020-04-23 17:18] nikhita commented on #503
Yes :+1:

[2020-04-23 18:17] spiffxp commented on #785
@thockin turn down at your leisure

[2020-04-23 18:54] thockin commented on #503
I'll scale it down to 0 nodes - how long do you want me to hold here, in
case we need to revert?

On Thu, Apr 23, 2020 at 10:18 AM Nikhita Raghunath <notifications@github.com>
wrote:

[2020-04-23 19:48] spiffxp commented on #788
/close
and it's gone

[2020-04-23 19:48] #788 closed

[2020-04-23 20:16] spiffxp commented on #716
Much as I would like to say no root publishing starting now, I think it's unreasonable to force users to change image names to upgrade to 1.19.  Ensuring all old releases are in a prefix (eg: `k8s.gcr.io/kubernetes/kube-apiserver`) and syncing between prefix and root during a deprecation window is what I had in mind.

If at all possible I'd prefer we publish to the prefix and sync back to root, in

[2020-04-23 21:16] ameukam commented on #751
@spiffxp can you deploy the ConfigMap `bad-domains` in `slack-infra` : https://github.com/kubernetes-sigs/slack-infra/blob/master/cluster/slackin/deployment.yaml#L51-L54 ?

[2020-04-23 23:10] BenTheElder commented on #604
some of them ... I think we need to migrate the rest still. not sure how to approach that.

I definitely don't like this FWIW, but I don't see a better option for letting people contribute data to testgrid from e.g. openstack CI.

[2020-04-24 01:32] RainbowMango commented on #604
@thockin @dims

My understanding is if my email in the correct groups then I can upload results by manual.

After @dims generated a key for me, that makes it possible to upload the result in CI Job, like Travis.

Am I right?

[2020-04-24 01:36] dims commented on #604
yep @RainbowMango don't worry we are good here. Just making sure we are filling in the details for @thockin based on the periodic audit

[2020-04-24 02:59] bartsmykla commented on #751
Yes, it looks like we are missing this to run the `slackin`

[2020-04-24 03:55] nikhita commented on #503
Until early next week (maybe until next week's wg-k8s-infra meeting) should be fine.

[2020-04-24 03:58] thockin commented on #503
ACK

On Thu, Apr 23, 2020 at 8:55 PM Nikhita Raghunath <notifications@github.com>
wrote:

[2020-04-24 06:14] bartsmykla commented on #793
I think we can close it now as we have the address created

/close

[2020-04-24 06:15] #793 closed

[2020-04-24 06:17] bartsmykla commented on #751
So @spiffxp applied the ConfigMap and I just have to update the repository with the missing manfest

[2020-04-24 06:23] bartsmykla commented on #751
When I today checked what's the status of `slack-infra` I realized we can't use existing images which are hosted at internal-accesible only GCR registry so we have to start deploying them to registries managed by us.

[code]

ref. #802

[2020-04-24 13:21] bartsmykla commented on #783
@listx :

Thank you for that comments, it's much clearer in my head now!

addressed

addressed

@spiffxp :

Indeed. Updated steps to reflect that

addressed

addressed

addressed (ref. step no. 2) and also addressed these changes at step no. 8

[2020-04-24 21:20] listx opened #803 "Grant GKE service account "Container Analysis Occurrences Viewer" role"
It appears that [Container Analysis Service](https://cloud.google.com/container-registry/docs/container-analysis) is already turned on for `k8s-artifacts-prod`. But in order to consume this information (e.g., cloud vendors such as GKE), the "Container Analysis Occurrences Viewer" role must be granted to the vendor. For GKE, the service account that needs this role is `vulnerability@gke-release-sta

[2020-04-24 21:30] listx commented on #803
I think ultimately the PR for this boils down to adding another special-cased grant in `infra/gcp/ensure-prod-storage.sh`, but I wonder if we need to think about separating permissions tied to vendor-specific needs (third party organizations) to a separate script or separate hierarchical system. AFAIK all of the current grants deal with giving community groups (such as the artifact admins), not th

[2020-04-27 09:39] bartsmykla commented on #325
@idealhack as we are already moving slack-infra to the new infrastructure and are at the point where we deployed everything under https://slack-staging.k8s.io. The IP of slack-staging.k8s.io will be the IP of slack.k8s.io/slack.kubernetes.io soon (when we'll confirm everything works as expected). I did some testing using ping.pe (http://ping.pe/slack-staging.k8s.io) and it looks like the new IP ad

[2020-04-27 09:46] bartsmykla commented on #325
It looks like [gubernator.k8s.io](https://gubernator.k8s.io) and [testgrid.k8s.io](https://testgrid.k8s.io) are now unaccessible though.

[2020-04-27 10:05] stp-ip commented on #325
We probably need to run a proxy server on non google IPs or better even within China. Happy to take a look, but not sure on timing.

[2020-04-27 11:25] bartsmykla commented on #604
So if we have to generate the keys maybe we should store them encrypted in the repository too?

Wdyt @thockin @dims?

[2020-04-27 11:35] bartsmykla commented on #604
As discussed with @dims on slack, I'm gonna help with the script

/assign

[2020-04-27 19:44] spiffxp commented on #244
I am noodling on something over in https://github.com/bashfire/prow-config/blob/master/config/jobs/bashfire/k8s-io.yaml

The job will output the diff at the end. What I'd like to do next is create a PR if there are any changes, and continue to update that PR until it's been merged

[2020-04-27 23:07] spiffxp commented on #503
opened https://github.com/kubernetes/k8s.io/issues/785 to track the cluster turndown

[2020-04-27 23:12] spiffxp commented on #507
/close
I'm closing this in favor of https://github.com/kubernetes/k8s.io/issues/783 where @bartsmykla has been describing the plan and work

[2020-04-27 23:13] #507 closed

[2020-04-27 23:57] spiffxp commented on #752
I prototyped a single build cluster here https://github.com/kubernetes/k8s.io/pull/806

I have it hooked up to my personal prow instance here: https://prow.bashfire.dev

[2020-04-28 03:16] spiffxp commented on #752
Trying to work through what the plan looks like, it's unlikely we'll get to discussing the actual "migrate prow.k8s.io" part in much detail this week.

https://docs.google.com/document/d/1g7RBDhbTAH1VBMl2kJZR71OfzM6cJF277zbysd2AoCQ/edit#

[2020-04-28 03:25] bartsmykla commented on #507
Ah, sorry, I forgot about this issue and created the new one

[2020-04-28 04:24] thockin commented on #803
I wonder if we can turn that into pub-sub or something less intrusive

[2020-04-28 06:14] bartsmykla opened #809 "Strip out commonInstanceMetadata.fingerprint from audit's compute project-info.json file"
This data makes unnecessary noise, so we should strip them out
ref. https://github.com/kubernetes/k8s.io/pull/807#pullrequestreview-401373154

[2020-04-28 15:44] #809 closed

[2020-04-28 17:23] spiffxp commented on #444
What needs to be done to close this out?

[2020-04-28 17:26] spiffxp commented on #398
What remains to be done here?

[2020-04-28 17:48] spiffxp commented on #516
Having dipped my toes into adding to this mess:
- I hated concept-first at first, and thought project-first was a great idea
- I'm now less sure, as some concept span projects (image promotion needs access to all these, prow/boskos will need access to all those)
- I suspect the parts of our shell scripts that are for loops could correspond well to terraform modules
- I just need to say out loud th

[2020-04-28 17:49] spiffxp commented on #395
Should be done when we do https://github.com/kubernetes/k8s.io/issues/785

[2020-04-28 17:51] spiffxp commented on #715
related: https://github.com/kubernetes/k8s.io/issues/803

[2020-04-28 17:58] spiffxp commented on #715
Near as I can tell this hasn't been done yet.  We're talking about `roles/containeranalysis.occurrences.viewer` I assume.

[2020-04-28 18:47] thockin commented on #715
correct

On Tue, Apr 28, 2020 at 10:58 AM Aaron Crickenberger <
notifications@github.com> wrote:

[2020-04-28 19:36] thockin commented on #775
Let's discuss tomorrow

[2020-04-28 23:36] listx commented on #398
The runbook and formal escalation paths are not defined yet.

[2020-04-28 23:53] spiffxp opened #813 "Proposal: switch to using Secret Manager instead of git-crypt"
We are increasingly relying on `git-crypt` to store shared secrets in this (or other) repos.  My concern is that `git-crypt` is one-repo-fits-all.

WDYT about using `gcloud secrets`? We can specify who's allowed to access a secret by user, group, or serviceAccount

[code]

I feel like it wouldn't be too hard to rip out our `git-crypt` usage and replace it with this

/wg k8s-infra
/area access

[2020-04-28 23:54] listx commented on #444
Not much else AFAICS. New access grants should be done in separate PRs/issues.

/close

[2020-04-28 23:54] #444 closed

[2020-04-28 23:54] spiffxp commented on #813
/assign @dims @bartsmykla @thockin

[2020-04-29 00:14] listx commented on #803
Do you mean adding a pub-sub layer and letting third parties consume those pub-sub messages (instead of having direct access as `Container Analysis Occurrences Viewer`)?

[2020-04-29 04:41] bartsmykla commented on #813
lgtm

[2020-04-29 04:49] bartsmykla opened #814 "DNS REQUEST: slack.k8s.io"
### Type of DNS update:
Update

### Domain being modified:
`k8s.io`

### Existing DNS Record:

[code]

### New DNS Record:

[code]

### Reason for update:

As we discussed with at slack's channel [#slack-admins](https://kubernetes.slack.com/archives/C4M06S5HS/p1587979163078600) the plan is to switch dns records to point to the same place as [slack-staging.k8s.io](https://slack-staging.k8s.io) and

[2020-04-29 04:49] bartsmykla opened #815 "DNS REQUEST: slack.kubernetes.io"
### Type of DNS update:
Update

### Domain being modified:
`kubernetes.io`

### Existing DNS Record:

[code]

### New DNS Record:

[code]

### Reason for update:

As we discussed with at slack's channel [#slack-admins](https://kubernetes.slack.com/archives/C4M06S5HS/p1587979163078600) the plan is to switch dns records to point to the same place as [slack-staging.k8s.io](https://slack-staging.k8s.i

[2020-04-29 04:50] bartsmykla commented on #814
ref. #815

[2020-04-29 04:50] bartsmykla commented on #815
ref. #814

[2020-04-29 04:52] bartsmykla opened #816 "DNS REQUEST: slack-staging.k8s.io"
### Type of DNS update:
Delete

### Domain being modified:
e.g. `k8s.io`

### Existing DNS Record:

[code]

### Reason for update:

When we'll switch [slack.k8s.io](https://slack.k8s.io) and [slack.kubernetes.io](https://slack.kubernetes.io) to point to the `aaa` and we'll test everything works as expected, we''ll want to get rid of this unnecessary subdomain.

ref. #814, #815
/cc @munnerz

[2020-04-29 05:25] bartsmykla commented on #775
sgtm

[2020-04-29 09:16] #814 closed

[2020-04-29 09:16] #815 closed

[2020-04-29 09:51] bartsmykla commented on #751
As suggested and discussed [at slack](https://kubernetes.slack.com/archives/C4M06S5HS/p1587979163078600), we proceed with @munnerz with DNS update (ref. #814, #815 and #817), all four tools are right now working at the `aaa` cluster.

We have tested inviting the new members via [slack.k8s.io](https://slack.k8s.io) and reporting messages. We are also in the process od checking if event-log works as

[2020-04-29 10:09] bartsmykla commented on #816
As we already switched dnses for slack.k8s.io and slack.kubernetes.io I think we are ready to proceed with removing the slack-staging.k8s.io subdomain

[2020-04-29 10:10] bartsmykla commented on #751
Following up PR for removal of slack-staging.k8s.ip dns record and also with update of the certificate.yaml #818

[2020-04-29 10:16] #816 closed

[2020-04-29 10:49] bartsmykla commented on #751
There are two things I would like to still do, even if the whole `slack-infra` already works in out new infra.

1. Get consensus if we can remove manifests of basic resources (like deplyoments and services) from our repository and instead use the ones from [k-sigs/slack-infra/cluster](https://github.com/kubernetes-sigs/slack-infra/tree/master/cluster) and do it if we'll decide it's a good idea.
2.

[2020-04-29 15:46] thockin commented on #785
Done

[2020-04-29 15:46] #785 closed

[2020-04-29 15:47] thockin commented on #395
Done

[2020-04-29 15:47] #395 closed

[2020-04-29 16:15] spiffxp commented on #509
/assign @justinsb @spiffxp
I'll provide this user to @justinsb

[2020-04-29 16:16] spiffxp commented on #728
This will happen when we're done with automating DNS...

[2020-04-29 16:17] spiffxp commented on #753
/assign @bartsmykla
To send message to sig-node mailing list

[2020-04-29 16:18] spiffxp commented on #751
/close
slack-infra has been migrated over, there is followup to be done re:images and certs

[2020-04-29 16:18] #751 closed

[2020-04-29 16:19] spiffxp commented on #783
agreed upon name of repo to host images, bart to move forward on the plan described above

[2020-04-29 16:23] spiffxp commented on #244
/assign @spiffxp @bartsmykla
bart to help with refactoring pr-creator

[2020-04-29 16:25] spiffxp commented on #790
We want to wait two more weeks before doing this. Leaving old apps up for now just in case we need to switch DNS over

[2020-04-29 16:34] spiffxp commented on #813
/assign @cblecker
I'd like to demonstrate what this would look like by getting rid of our git-crypt integration for groups

I need some kind of go-ahead to try this out by enabling the secretmanager api on a project; I was going to use k8s-gsuite

[2020-04-29 17:03] thockin commented on #775
Did you discuss after I dropped?  Sorry, forgot this topic.

On Tue, Apr 28, 2020 at 10:25 PM Bart Smykla <notifications@github.com> wrote:

[2020-04-29 18:01] spiffxp commented on #752
Discussed during today's meeting, came away with:
- We'll do two build clusters, each in their own project (trusted, untrusted)
- Untrusted build cluster will use same machine type as used by prow.k8s.io's existing build cluster (n1-highmem-8)
- Will use regional clusters
- Will start with e2e project pool that is not sig/job-specific
  - Adjust when costs get to unknown/unexplained size
  - Consi

[2020-04-29 18:01] cblecker commented on #813
I'm on board for running a POC of this :)

[2020-04-29 19:35] spiffxp commented on #775
@thockin We punted since you dropped

[2020-04-29 19:48] dims commented on #813
+1 from me as well!

[2020-04-29 19:48] dims commented on #509
Thanks @spiffxp

[2020-04-30 05:54] spiffxp commented on #813
Opened https://github.com/kubernetes/k8s.io/pull/821

[2020-04-30 08:04] #782 closed

[2020-04-30 09:04] bartsmykla commented on #783
As #805 was merged I opened #822 and [k/test-infra#17449](https://github.com/kubernetes/test-infra/pull/17449) to automate building and pushing of images.

The [`ensure-staging-storage.sh`](https://github.com/kubernetes/k8s.io/blob/master/infra/gcp/ensure-staging-storage.sh) script still needs to be run by @cblecker, @dims, @spiffxp or @thockin (ref. [#805#issuecomment-621706127](https://github.co

[2020-04-30 14:50] bartsmykla commented on #753
I have sent the email: https://groups.google.com/forum/#!topic/kubernetes-sig-node/lNR6RiPzYYY

Lazy consensus final date is set to May 14, 2020

[2020-04-30 15:03] bartsmykla opened #823 "Refactor dns/push.sh script to let call octodns directly - without docker involved"
As @spiffxp suggested at [#783#issuecomment-618007941](https://github.com/kubernetes/k8s.io/issues/783#issuecomment-618007941) we should refactor the [`dns/push.sh`](https://github.com/kubernetes/k8s.io/blob/master/dns/push.sh)  script to be able to call it from the container or locally which would involve invoking container.

My suggestion is to add few flags which would let us use make like:
[co

[2020-04-30 15:57] spiffxp opened #825 "Use set-iam-policy over add-iam-policy-binding for groups reconciler secret"
Followup issue to track https://github.com/kubernetes/k8s.io/pull/821#discussion_r418061132

/assign @spiffxp
/wg k8s-infra
/area access

[2020-05-01 08:09] bartsmykla commented on #783
- As octodns image is now build and stored in registry managed by us (ref. [us.gcr.io/k8s-artifacts-prod/infra-tools/octodns](https://us.gcr.io/k8s-artifacts-prod/infra-tools/octodns) I updated the issue.
- TIL you can force `make` to pass the arguments to it's targets by using:
[code]
  and then passing `$(runargs)` to the target directive, I changed a little bit proposed postsubmit job template'

[2020-05-02 01:53] #437 closed

[2020-05-04 12:37] nikhita commented on #509
Removing the steering label from this since the committee has alerady approved creating a gsuite account :)

/remove-committee steering

[2020-05-06 18:37] spiffxp opened #841 "Migrate release-master-blocking jobs to k8s-infra-prow-build"
Let's use the build cluster setup in https://github.com/kubernetes/k8s.io/pull/830
- [x] https://testgrid.k8s.io/sig-release-master-blocking#build-master
  - ~blocked by needing write access to gs://kubernetes-release-dev~ (https://github.com/kubernetes/k8s.io/issues/846)
  - ~blocking by needing write access to gcr.io/kubernetes-ci-images~
  - new jobs now write to gs://k8s-release-dev and gcr.io

[2020-05-06 18:56] spiffxp commented on #752
https://github.com/kubernetes/k8s.io/pull/830 implements the above

[2020-05-06 19:04] spiffxp opened #842 "Setup greenhouse in k8s-infra-prow-build cluster"
[Greenhouse](https://github.com/kubernetes/test-infra/tree/master/greenhouse) is a bazel remote caching setup used to provide faster build times for jobs that use bazel.  PR jobs get the most benefit.

In the google.com build cluster (k8s-prow-builds/prow) it's deployed to a nodepool reserved specifically for it, tuned for max IOPS
- node: n1-standard-32  (ref: https://cloud.google.com/compute/doc

[2020-05-06 19:23] spiffxp opened #843 "Setup ghproxy in k8s-infra-prow-build-trusted"
(ghProxy)[https://github.com/kubernetes/test-infra/tree/master/ghproxy] is a reverse proxy HTTP cache optimized for use with the GitHub API.  Jobs that manage our github orgs and repos (label_sync, peribolos) greatly benefit from this, and at this point probably won't run without it.

Today, the google.com prow.k8s.io cluster acting as "trusted build cluster" (k8s-prow/prow)has it deployed to its

[2020-05-06 19:38] spiffxp opened #844 "Develop better ACLs for prow build clusters and e2e projects"
At present, I basically copied what was done for the `aaa` cluster and the `kubernetes-public` project, and applied that to:
- k8s-infra-prow-build/prow-build
- k8s-infra-prow-build-trusted/prow-build-trusted

There are some problems with this setup:
- I'm listed as the only owner (org owners incidentally have owner privileges, I think)
- Nobody else has the project editor role
- The existing set

[2020-05-06 19:45] spiffxp opened #845 "Setup postsubmit jobs to deploy prow build cluster resources"
Today for prow.k8s.io, if there are changes to its resources in `test-infra/config/prow/cluster/**`, they are deployed by a post-submit job

We could benefit from something similar that runs on prow-build-trusted:
- deploy infra/gcp/clusters/k8s-infra-prow-build/prow-build/resources to prow-build
- deploy infra/gcp/clusters/k8s-infra-prow-build-trusted/prow-build-trusted/resources to prow-build-tr

[2020-05-06 21:08] spiffxp opened #846 "Migrate jobs away from gs://kubernetes-release-dev"
There are a number of jobs that assume they have write access to `gs://kubernetes-release-dev`, and then a bunch of other jobs that assume they should be downloading builds from `gs://kubernetes-release-dev`

Unfortunately, this bucket will not allow non-google.com service accounts to write to it.  We need to use a new bucket, and develop a plan for using it that doesn't involve all jobs being cut

[2020-05-06 21:15] spiffxp commented on #752
Opened up some more issues to represent followup work:
- https://github.com/kubernetes/k8s.io/issues/841 - migrate release-master-blocking jobs to prow-build cluster
- https://github.com/kubernetes/k8s.io/issues/842 - setup greenhouse
- https://github.com/kubernetes/k8s.io/issues/843 - setup ghproxy
- https://github.com/kubernetes/k8s.io/issues/844 - better ACLs to empower more people
- https://gi

[2020-05-07 17:12] spiffxp opened #851 "Identify quota changes needed for scalability jobs, create pool of scalability projects"
The default quotas for an e2e project (eg: k8s-infra-e2e-gce-project) are insufficient to run ci-kubernetes-e2e-gci-gce-scalability

Currently this job runs in the google.com k8s-prow-builds cluster, using a project from that boskos' `scalability-project` pool

- Identify what quotas are set that make these projects differ from a default e2e project
- Identify what jobs this will allow us to migra

[2020-05-07 17:22] spiffxp commented on #851
I created k8s-infra-e2e-scale-project and tried manually running ci-kubernetes-e2e-gci-gce-scalability in k8s-infra-prow-build (with some local modifications not to dump results to gs://kubernetes-jenkins)

It got stuck on CPU quota

I was able to retrieve project info for k8s-periodic-scale-1, so I compared with k8s-infra-e2e-scale-project globally and in us-east1.  CPUs and in-use addresses were

[2020-05-07 17:56] spiffxp commented on #844
Spoke with test-infra-oncall team, if I can't add the group they use, I have permission to create a new @kubernetes.io group for them here

[2020-05-07 20:00] spiffxp commented on #851
Jobs that use scalability-project

100 node release-blocking tests (definitely migrate these)
- ci-kubernetes-e2e-gci-gce-scalability - https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-scalability-100
- ci-kubernetes-e2e-gci-gce-scalability-stable3 - https://testgrid.k8s.io/sig-release-1.15-blocking#gce-cos-1.15-scalability-100
- etc for each release branch

100 node kubemark tes

[2020-05-07 20:47] spiffxp commented on #851
I did a visual inspection of this with all regions, so filter down to just the two that had meaningful differences
[code]

- 16/16 had at least 125 CPU and 125 in-use addresses in us-east1, e.g.
- 2/16 had additional CPU quota in us-central1
- 2/16 had 250 CPU instead of 125
- 4/16 had 10240 instead of default 40960 disk
- 4/16 had 50000 instead of default 40960 disk

So I'm inclined to suggest we

[2020-05-07 21:24] spiffxp opened #852 "Request billing project quota increase and/or mitigate"
Guess what I just hit while working https://github.com/kubernetes/k8s.io/issues/851
[code]

Going to https://support.google.com/code/contact/billing_quota_increase leads me to a form to fill out:

- Name
  - (I'm happy to file this request if we approve of this)
- Company name or website
  - @idvoretskyi @thockin CNCF? Google?
- Email addresses that will be used to create projects
  - I will enter

[2020-05-07 21:38] spiffxp commented on #852
We likely require more than 100, but I feel like it'd be better to take 100 now and revisit when we get to needing more.

Rough guess at what we'd need in total:
- If we stick with project per subproject-artifact, we expect that could grow to meet the number of kubernetes subprojects; call it an upper limit of 160 if I go by the number of repos we have
- Current boskos pools for prow.k8s.io ballpa

[2020-05-07 22:10] spiffxp commented on #846
https://cs.k8s.io/?q=latest-green.txt&i=nope&files=&repos=

It _looks_ like `gs://kubernetes-release-dev/ci/latest-green.txt` isn't actually consumed by automation

[2020-05-08 00:01] spiffxp commented on #842
The n1-standard-32 puts k8s-infra-prow-builds over its CPU quota

Looking at us-central1, here are the differences between k8s-infra-prow-build vs. k8s-prow-builds:

|quota|k8s-infra in-use|k8s-infra quota|goog in-use|goog quota|
| --- | --- | --- | --- | --- |
| CPUs | 48 | 72 | 1296 | 1500 |
| In-use IP Addresses | 6 | 69 | 159 | 250 |
| Persistent Disk SSD (TB) | 1.5 | 20.5 | 42.6 | 46 |

[2020-05-08 00:18] spiffxp commented on #842
Submitted a quota request for 256 CPUs: current cluster mean CPU is ~40%, which works out to ~518, I chose a nearby power of two and cut it in half.  Works out to 28 n1-highmem-8 nodes + the n1-standard-32 for greenhouse.

[2020-05-08 03:45] spiffxp commented on #842
Right.  k8s-infra-prow-build is a regional cluster.  So if I make a nodepool of size 1, it's actually 3 nodes, one in each zone.  I don't think we want three greenhouses.

I could:
- Use gcloud to restrict the node locations to a single zone... so the master is regional but the nodepool isn't
- Live with the 3 nodes, use 2 as regular build cluster nodes, and apply the `dedicated:greenhouse` label

[2020-05-08 05:28] thockin commented on #852
Go ahead and fill it out.  Many quota requests are automatically approved based on various signals.  But even if this needs manual review, I don't see why it would be denied.

[2020-05-08 07:34] justaugustus commented on #716
Agreed.

Yep, that sounds like the correct path.
I've already set the `k8s-staging-kubernetes` staging project to promote to the `kubernetes` prefix [here](https://github.com/kubernetes/k8s.io/pull/832) to support `pause` image building.

The next thing we need figure out is what the sync process will be between the `kubernetes` prefix and root.
Release Engineering will need visibility into this a

[2020-05-08 15:38] thockin commented on #716
Is it not sufficient to have 2 entries in the manifest?  It doesn't let you
include some and exclude others, but it obviates the need for a new process
with new testing, new security audit, etc.

[code]

On Fri, May 8, 2020 at 12:34 AM Stephen Augustus <notifications@github.com>
wrote:

[2020-05-08 16:53] spiffxp commented on #852
filed

[2020-05-08 19:22] spiffxp commented on #842
/assign @spiffxp
I'm working on it

/assign @thockin @BenTheElder
WDYT?

[2020-05-08 20:00] justaugustus commented on #716
@thockin -- I didn't know you could do that. If we can, I'm happy to make that change and close the loop on this.

@listx -- Are there any issues you see arising with Tim's approach?

[2020-05-08 20:32] ameukam commented on #842
Can I suggest :
* D) Add a variable to `k8s-infra-gke-nodepool` that represent [node_count](https://www.terraform.io/docs/providers/google/r/container_node_pool.html#node_count), set it to 1 and set the location of the module to a zone (`us-central1-f`)

I can't really test this but can work on it once #830 is merged.

[2020-05-08 21:59] listx commented on #716
If it just means promoting the same image into multiple places, the promoter already supports this (I just checked doing a dry run). In our situation, we would just add another pair of `images.yaml`/`promoter-manifest.yaml` files for the subproject we would want to replicate into the root (without subproject prefix). Then the only difference would be that `promoter-manifest.yaml` would have the de

[2020-05-08 22:51] spiffxp commented on #842
Unfortunately I tried D (force the location to a zone), `terraform plan` is happy, but `terraform apply` yields:
`Error: error creating NodePool: googleapi: Error 404: Not found: projects/k8s-infra-prow-build/zones/us-central1-b/clusters/prow-build., notFound`

[2020-05-08 23:10] justaugustus commented on #716
Opened a PR here to enable root-level promotion: https://github.com/kubernetes/k8s.io/pull/856

[2020-05-11 16:07] spiffxp commented on #852
Haven't heard anything back as of this morning

[2020-05-11 16:15] spiffxp commented on #851
Blocked until https://github.com/kubernetes/k8s.io/issues/852 is resolved

[2020-05-11 17:01] spiffxp commented on #509
[code]

Folks in k8s-infra-gcp-accounting@kubernetes.io (including @justinsb and @bartsmykla) can get the password via
[code]

[2020-05-13 15:21] bartsmykla commented on #783
Created PR with the refactoring of [`dns/push.sh`]https://github.com/kubernetes/k8s.io/blob/8689b98013f88cb63559457373a003ca2e8080ba/dns/push.sh() (ref. #862)
cc. @spiffxp @thockin

[2020-05-13 15:31] spiffxp commented on #390
I have done some of this under https://github.com/kubernetes/k8s.io/issues/752

- ensure-e2e-projects.sh

Permissions for the projects to facilitate community member troubleshooting TBD under https://github.com/kubernetes/k8s.io/issues/844

I have thus far only worked out what is needed to match the 'scalability' pool (https://github.com/kubernetes/k8s.io/issues/851), there are others for ingress

[2020-05-13 15:58] spiffxp commented on #842
Have greenhouse pod request 32 cores

[2020-05-13 16:08] spiffxp commented on #790
Bart to confirm with slack admins

[2020-05-13 16:21] spiffxp commented on #775
ignore the terraform idea, just use existing script, continue the pattern of pre-allocating static ips

[2020-05-13 16:21] #775 closed

[2020-05-13 16:23] spiffxp commented on #157
few days or weekish worth of work, but it's difficult to get priority for this amongst disparate teams, current estimate 25th

[2020-05-13 16:25] spiffxp commented on #604
bart may not have time this week, look to next week

[2020-05-13 16:34] bartsmykla commented on #244
I will sit with @munnerz next week and we'll move this thing forward together (as discussed at today's call)

[2020-05-13 16:35] bartsmykla opened #863 "Cost of StackDriver"
As we discussed at todays community call, we should investigate why StackDriver costs that much (ref. https://datastudio.google.com/s/ny7d3ctsyxw) and if we can and should do something about it

[2020-05-13 16:39] bartsmykla commented on #790
[Wrote at the #slack-admins channel](https://kubernetes.slack.com/archives/C4M06S5HS/p1589387863130600). Let's wait 24h and I think we'll be ready to turn down the cluster if there won't be any objections

[2020-05-13 17:20] ameukam commented on #863
/area billing
/area cluster-mgmt

[2020-05-13 19:17] spiffxp commented on #852
FWIW I just checked and am still having problems
[code]

[2020-05-13 23:55] spiffxp commented on #863
This is focused on just charges coming from k8s-e2e-infra-boskos-*

It's weird that the daily burn rate of logging is going up over time

![Screen Shot 2020-05-13 at 4 36 28 PM](https://user-images.githubusercontent.com/49258/81876656-0ef70b80-9538-11ea-8dc6-55e0ca57bb89.png)

While the run rate of tests is basically constant
![Screen Shot 2020-05-13 at 4 39 59 PM](https://user-images.githubuserco

[2020-05-14 00:35] dims commented on #863
we set `ENABLE_NODE_LOGGING=false`?
https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-default.sh#L234

[2020-05-14 01:42] #716 closed

[2020-05-14 07:41] bartsmykla commented on #783
As there were changes with some of the plans I updated the first issue with the state of the efforts and correct order

[2020-05-15 04:34] bartsmykla opened #869 "DNS REQUEST: node-perf-dash-staging.k8s.io"
### Type of DNS update:
Create

### Domain being modified:
`k8s.io`

### Existing DNS Record:

None

### New DNS Record:

[code]

### Reason for update:

Temporary/staging domain in the process of moving `node-perf-dash` to the `aaa` cluster (ref. [#864#issuecomment-628601730](https://github.com/kubernetes/k8s.io/pull/864#issuecomment-628601730))

cc. @lorqor

[2020-05-15 06:58] #869 closed

[2020-05-15 08:12] bartsmykla opened #872 "Automate Static IPs creation"
When I was running the [`infra/gcp/ensure-static-ips.sh`](https://github.com/kubernetes/k8s.io/blob/34ea4fee9e0c47bf17730bc9878cc57acf50ef0c/infra/gcp/ensure-main-project.sh) I came to realization it's the great thing to automate.

Steps I want to follow:

1. Waiting for #871 to be merged

2. Creating a PR and updating [`infra/gcp/ensure-main-project.sh`](https://github.com/kubernetes/k8s.io/blob/

[2020-05-15 10:07] bartsmykla commented on #869
ran `make push` in the `dns` directory

[code]

[2020-05-15 17:36] spiffxp commented on #852
@idvoretskyi I think at this point both @thockin and I have filled out this form; just to increase the signal, would you mind filling out as a representative for the CNCF?

[2020-05-15 19:39] idvoretskyi commented on #852
@spiffxp sure, of course!

[2020-05-16 00:17] thockin commented on #842
31-point-something to be fair :)

On Wed, May 13, 2020 at 8:59 AM Aaron Crickenberger
<notifications@github.com> wrote:

[2020-05-19 14:53] idvoretskyi commented on #852
Requested, will keep us updated.

cc @spiffxp @thockin

[2020-05-20 12:03] dims opened #884 "Cloud billing quota exceeded: https://support.google.com/code/contact/billing_quota_increase"
/assign @thockin @spiffxp @bartsmykla

[code]

[2020-05-20 12:07] bartsmykla commented on #884
/close

duplicate: https://github.com/kubernetes/k8s.io/issues/852

[2020-05-20 12:07] #884 closed

[2020-05-20 18:46] spiffxp commented on #852
We're attempting to escalate internally as well

[2020-05-20 21:24] spiffxp commented on #863
I opened https://github.com/kubernetes/test-infra/pull/17662 to disable this at the `kubetest` level, in case folks who run kube-up.sh manually (either regularly or via make node-e2e-test) rely on the default logging behavior

[2020-05-20 21:25] spiffxp commented on #863
It appears stackdriver's billing may lag a bit, it did end up leveling off as compute usage remained constant (this is for all projects, excluding those that run long-lived kubernetes clusters)
<img width="671" alt="Screen Shot 2020-05-20 at 2 22 55 PM" src="https://user-images.githubusercontent.com/49258/82498914-9cd97600-9aa5-11ea-9705-5af4c61ed68a.png">

[2020-05-21 01:24] spiffxp commented on #842
I have it up and running and am waiting for https://github.com/kubernetes/k8s.io/pull/830 to land

[2020-05-21 10:25] dims commented on #813
#821 works great. looks like i did have to run `gcloud auth application-default login` additionally though. we need to touch up readme etc.

[2020-05-21 10:30] dims commented on #613
@BenTheElder we can use sc1@kubernetes.io Sorry i missed the ping on this one.

[2020-05-21 17:27] vincepri opened #887 "Create a project/bucket for cert-manager image mirroring"
All Kubebuilder projects, including Cluster API use cert-manager to generate certificates. I'd like to request a mirror from the current repository to a k8s.io-owned project/bucket that we can reference in our components.

[2020-05-21 17:28] dims commented on #887
+1 to mirror what we do for etcd / coredns

cc @bartsmykla

[2020-05-21 21:50] justaugustus commented on #846
@spiffxp -- Carrying the convo from https://kubernetes.slack.com/archives/CJH2GBF7Y/p1590088139329000...

Yep, we've identified this as a need, but slowed down because the Prow bits weren't in place yet (ref: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1590088139329000).

So, broad strokes/first guess on a plan:
- We need a new GCP project (shared ownership between SIG Release (Release Engine

[2020-05-21 21:50] justaugustus commented on #846
(I should assign myself here as well)
/assign

[2020-05-21 21:51] justaugustus commented on #846
FYI: @kubernetes/release-engineering @kubernetes/ci-signal

[2020-05-25 03:34] bartsmykla commented on #597
/remove-lifecycle stale

[2020-05-26 11:52] idvoretskyi commented on #852
Quota granted. However:

Is this enough for now or we have to work on adding more?

[2020-05-26 12:14] bartsmykla commented on #852
It's enough for now, but if it will take 19 days everytime we hit the limit to bump it I would argue we should work on adding more now

[2020-05-26 15:10] saschagrunert opened #896 "Google Cloud Bucket change for cri-tools"
The cri-tools update PR to v1.18.0 (https://github.com/kubernetes/kubernetes/pull/91239) got reverted because I changed the download URL to point to GitHub, which caused an API rate limit hit. The main reason to change that URL was that release managers (and myself, even as maintainer of cri-tools) do not have the right set of permissions to upload the cri-tools artifacts to that bucket.

The buck

[2020-05-26 16:10] justaugustus commented on #896
/assign @justaugustus @saschagrunert
/sig release
/area release-eng

[2020-05-26 16:14] justaugustus commented on #896
cc: @dims (who was on today's RelEng call)

[2020-05-26 19:18] spiffxp commented on #863
Looks like https://github.com/kubernetes/test-infra/pull/17662 did the trick, calling this done
<img width="683" alt="Screen Shot 2020-05-26 at 12 16 23 PM" src="https://user-images.githubusercontent.com/49258/82941174-c6cde500-9f4a-11ea-8a0d-20e3d272b335.png">
/close

[2020-05-26 19:18] #863 closed

[2020-05-26 23:17] spiffxp commented on #852
/priority important-soon

The immediate need has been met but I agree we're going to want more with some breathing room.  I estimated above that we would want ballpark 325 in total.  Maybe round that up to 400, meaning we want to ask for 200 more?

[2020-05-26 23:47] spiffxp commented on #851
No longer blocked.  I've created a pool of 5 projects to start with via changes in #898

[2020-05-27 01:34] dims commented on #863
very cool!

[2020-05-27 13:25] idvoretskyi commented on #852
Re-requested 350 projects, will track this question and report back once I'll have some news.

[2020-05-27 16:01] thockin opened #904 "Enable GCS logs"
At least for gs://k8s-artifacts-prod, it would be nice to break down the details.

https://cloud.google.com/storage/docs/access-logs

[2020-05-27 16:13] spiffxp commented on #643
/close
Discussed during today's meeting, will close and make sure docs include the reasoning for why certs are annotated the way they are

[2020-05-27 16:13] #643 closed

[2020-05-27 16:18] spiffxp commented on #715
Ask PSC, we think this isn't secret information but let's confirm before moving with option 2

[2020-05-27 16:19] spiffxp commented on #844
Will work on this over next two weeks

[2020-05-27 16:23] spiffxp commented on #813
@spiffxp to move slack-infra secrets out of git-crypt to google secret manager

[2020-05-27 17:18] spiffxp commented on #509
/close
calling this done

[2020-05-27 17:18] #509 closed

[2020-05-27 17:19] spiffxp commented on #753
Just to update here, someone did claim ownership and so it's being moved.  Based on discussion in today's meeting it sounds like we're waiting on confirmation to cutover and turn down the old deployment.

[2020-05-27 17:20] spiffxp commented on #842
I've opened https://github.com/kubernetes/k8s.io/pull/885

Need to confirm greenhouse-metrics service is setup properly

[2020-05-27 17:55] spiffxp commented on #790
Deleting the cluster

[2020-05-27 18:02] spiffxp opened #905 "Migrate slack-infra to community built/hosted images"
@bartsmykla @ameukam

https://github.com/kubernetes/test-infra/pull/17461 switched the job to push images to community hosting, but nothing's actually been built yet
[code]

And our slack-infra deployment still uses the `gcr.io/kubernetes-tools` images (ref: https://cs.k8s.io/?q=kubernetes-tools&i=nope&files=&repos=kubernetes/k8s.io)

Can we open a PR to slack-infra to cause new images builds, and

[2020-05-27 18:11] spiffxp commented on #905
/assign @bartsmykla @ameukam

[2020-05-27 18:17] spiffxp commented on #790
/close
Cluster has been turned down

We'll need to keep the kubernetes-tools project around until https://github.com/kubernetes/k8s.io/issues/905 is resolved

[2020-05-27 18:17] #790 closed

[2020-05-27 18:58] ameukam commented on #905
I was waiting https://github.com/kubernetes-sigs/slack-infra/pull/31 to get merge. I'll make another PR.

[2020-05-27 19:19] MHBauer commented on #752
Learning about sig-node ci, can I help with or shadow along changes to `ci-kubernetes-node-kubelet`?

[2020-05-27 21:13] ameukam opened #906 "hosting google/triage-party for sig-release"
SIG-Release is exploring https://github.com/google/triage-party as a triage tool that will help the bug-triage team during release cycles. triage-party is optimized for k8s (or Google Cloud Run) deployments.

What's needed :
* a namespace in `aaa` cluster and a google group: https://github.com/kubernetes/k8s.io/pull/916/
* DNS entries
* TLS certificate
* an `Ingress` with GCP ip global adress

Per

[2020-05-28 03:46] justaugustus commented on #896
Opened a PR here to add the new bucket: https://github.com/kubernetes/k8s.io/pull/908
cc: @thockin (since he's been working on the other push buckets)

[2020-05-28 04:15] justaugustus commented on #896
@saschagrunert -- To clarify, cri-tools maintainers will still need to use whatever mechanisms are in place today to package tarballs for their releases. There will be a config in k/release hooked up to a Prow job to upload their releases to the new bucket.

`kubepkg` will then eventually be used to package the cri-tools during the k/k release process. This may change in the future, but today, cre

[2020-05-28 06:02] bartsmykla commented on #783
As #865 was merged and service account exists I updated the issue

[2020-05-28 06:16] bartsmykla commented on #783
Also created [k/test-infra#17739](https://github.com/kubernetes/test-infra/pull/17739) for step no. 5 about marking service account: `k8s-infra-dns-updator` as a trusted

[2020-05-28 08:11] saschagrunert commented on #896
Alright thanks for the clarification.

[2020-05-28 08:40] feiskyer commented on #896
Thanks @saschagrunert @justaugustus for moving this forward.

[2020-05-28 11:54] bartsmykla commented on #753
So after #903 was merged. The project is now fully migrated and https://node-perf-dash.k8s.io points to the `aaa`

/close

[2020-05-28 11:54] #753 closed

[2020-05-28 11:56] bartsmykla commented on #754
Project was migrated, we can turn down the cluster

ref. #753 #903

[2020-05-28 12:52] #604 closed

[2020-05-28 16:59] ameukam commented on #843
/assign

[2020-05-28 18:24] thockin opened #915 "Decide and document rules for what can be hosted as staging projects"
Context: #912

[2020-05-28 18:28] thockin commented on #915
Copying some:

The issue here is whether CNCF should be expected to foot the bill for serving other projects' container images publicly. We do this for some (coredns and etcd) because a) they are integral to k8s installs and b) they are part of CNCF.

It's not clear to me that those criteria are correct or sufficient.

We need to understand why we would say yes to one project and no to another.

I

[2020-05-28 20:22] ameukam commented on #843
@spiffxp I started to look at ghproxy and I'm curious about something: is [pushgateway](https://github.com/kubernetes/test-infra/blob/master/config/prow/cluster/ghproxy.yaml#L60) a hard requirement for ghproxy ?

[2020-05-28 23:48] justaugustus commented on #896
For sure! https://github.com/kubernetes/k8s.io/pull/908 has merged and the bucket has been created, so we're done from the k/k8s.io perspective (thanks @dims!).

I've opened https://github.com/kubernetes-sigs/cri-tools/issues/616 to continue tracking this from the k-sigs/cri-tools project instead.

/close

[2020-05-28 23:48] #896 closed

[2020-05-29 15:59] thockin commented on #754
The old utilicluster is deleting now.

[2020-05-29 15:59] #754 closed

[2020-05-29 16:57] thockin commented on #906
No objection - I've been meaning to play with it :)

[2020-05-29 23:12] spiffxp commented on #420
/remove-lifecycle rotten

Unit tests would still be nice.  However we're leaning on this enough now that I'm getting concerned about config sprawl.

To help reduce review burden, I think we should encode our conventions / rules as tests.  I got started with https://github.com/kubernetes/k8s.io/pull/925

[2020-05-29 23:14] spiffxp commented on #460
https://github.com/kubernetes/k8s.io/pull/925 is a start at enforcing some conventions, though I'm not sure what "don't lock us out" tests we should have

[2020-05-29 23:50] spiffxp opened #928 "Setup automatic groups reconciliation"
I've dropped the ball a couple of times on merging a PR and then forgetting to `make -C groups run -- --confirm`

Now that we have a trusted prow build cluster, I'd like to start trusting prow to do this for us

I started working on this and realized we don't have an issue to tie this all together, so here it is

[2020-05-29 23:58] spiffxp commented on #928
https://github.com/kubernetes/k8s.io/pull/924 - allow prow-build-trusted to use the gsuite-groups-manager service account via workload identity
https://github.com/kubernetes/k8s.io/pull/925 - add tests to enforce some groups.yaml conventions (these get run at presubmit and postsubmit right before actuating)
https://github.com/kubernetes/k8s.io/pull/927 - hardcode some groups for paranoia

https://

[2020-05-30 00:08] spiffxp commented on #928
https://github.com/kubernetes/test-infra/pull/17765 - setup a periodic and send alerts to k8s-infra-alerts@kubernetes.io

[2020-05-30 00:08] spiffxp commented on #928
/assign

[2020-05-30 00:13] spiffxp commented on #460
I added https://github.com/kubernetes/k8s.io/pull/927 to address @cblecker's particular concern above

Longer term I agree sharding the config would be cool.

I personally think we need more conventions documented and enforced before we take that next step.

https://github.com/kubernetes/k8s.io/pull/928 should reduce some of the maintenance burden

[2020-05-30 00:14] spiffxp commented on #928
/area prow

[2020-05-30 00:28] spiffxp commented on #460
Oh, one other note to address https://github.com/kubernetes/k8s.io/issues/460#issuecomment-552658697

There are four humans who directly have the org admin role, in the event that the @kubernetes.io groups disappear or stop working

[2020-05-30 05:55] #425 closed

[2020-06-01 01:29] spiffxp opened #931 "Upgrade prow-build to latest kubernetes 1.14"
This was done roughly 2 weeks ago for k8s-prow-builds to try to prevent recurrence of a bug where kubelet would consume large amounts of CPU (not sure if there's an issue to link to or not, cc @BenTheElder)

[2020-06-01 01:29] spiffxp commented on #931
/assign

[2020-06-01 01:47] spiffxp commented on #931
I take it back, k8s-prow-builds is on 1.14.10-gke.37, so I'm upgrading to that

[2020-06-01 01:48] spiffxp commented on #931
Upgrading master from 1.14.10-gke.36 to 1.14.10-gke.37

[2020-06-01 02:37] spiffxp commented on #931
Upgrading nodepool from 1.14.10-gke.27 to 1.14.10-gke.37

[2020-06-01 05:05] bartsmykla commented on #928
@spiffxp is there anything still to be done in relation to this issue?

[2020-06-01 05:47] bartsmykla commented on #843
@ameukam it looks like it's an endpoint for prometheus metrics to be exposed, but looking at: [`k/test-infra/ghproxy/ghproxy.go#L122`](https://github.com/kubernetes/test-infra/blob/d7e9546a3edf043ef8ab6a74a79ce2416e810b85/ghproxy/ghproxy.go#L122) I would understand it can be ommited and I would suggest to to it at this point.

Looking at [`k/test-infra/prow/metrics/metrics.go`](https://github.com/

[2020-06-01 17:04] spiffxp commented on #931
/close

[2020-06-01 17:05] #931 closed

[2020-06-02 01:52] MHBauer commented on #753
Who claimed ownership?

I think to myself, "how useful could the dashboard be if the backing data is filled by a bunch of failing tests".

Are they going to fix the tests? They can't be getting good data.

[2020-06-02 02:53] bartsmykla commented on #753
@MHBauer @lorqor claimed ownership

[2020-06-02 17:38] bartsmykla commented on #627
/close

[2020-06-02 17:38] #627 closed

[2020-06-04 09:12] mkumatag commented on #448
There are issues with the infrastructures atm, we won't be able to contain this work for the next few months.

[2020-06-09 02:40] spiffxp commented on #928
/close
I'm happy enough with this as is.  Please open other issues for followup.

I think the next logical step would be to consider breaking into hierarchical files that can be used with OWNERS to make this more self service (#460).  But I'm also not sure whether we've adequately documented all policies we care to.

Are there more conventions/rules/policies we should be testing for? Current tests

[2020-06-09 02:40] #928 closed

[2020-06-09 02:50] spiffxp commented on #842
/close

[2020-06-09 02:51] #842 closed

[2020-06-09 03:02] spiffxp commented on #844
#919 setup the following:
- k8s-infra-prow-oncall@kubernetes.io - oncall/break-glass access to prow project and e2e projects
- k8s-infra-sig-scalability-oncall@kubernetes.io - oncall/break-glass access to k8s-infra-e2e-boskos-scale-* projects
- k8s-infra-prow-viewers@kubernetes.io - readonly access to prow project and e2e projects

They're only using primitive roles (owner and viewer)

[2020-06-09 07:05] BenTheElder commented on #505
velodrome was shut down IIRC
/assign @spiffxp

[2020-06-09 15:40] #505 closed

[2020-06-11 20:50] cblecker commented on #468
/remove-lifecycle rotten

[2020-06-12 00:29] spiffxp commented on #752
@MHBauer add yourself to the k8s-infra-prow-viewers@kubernetes.io group in groups/groups.yaml and let me know if you can see https://console.cloud.google.com/monitoring/dashboards?project=k8s-infra-prow-build

[2020-06-12 23:13] #823 closed

[2020-06-13 00:17] thockin commented on #696
I think we can just nix this idea.

[2020-06-13 00:17] #696 closed

[2020-06-14 23:49] alejandrox1 opened #956 "Provide GCP accounts for SIG Node CI maintainers"
Hi all,
logging this issue to discuss the possibility of providing GCP accounts for SIG Node CI maintainers to be able to run e2e node tests.

In a lot of cases, node e2e tests can be executed locally but there are instances in which it is necessary to use specific VM images; to have machines with certain amount of vCPUs and memory; or to have specific hardware components.

The basic workflow that

[2020-06-15 05:39] bartsmykla commented on #783
Let's give me some update about this issue. As I decided to close #862 after comments form @thockin and @spiffxp I opened new PR (#949), with the only changes related to removing docker from the [`dns/push.sh`](https://github.com/kubernetes/k8s.io/blob/9644f6a360d7b26c79b1ab543e3c00987550cbf4/dns/push.sh) and [`dns/check-zone.sh`](https://github.com/kubernetes/k8s.io/blob/9644f6a360d7b26c79b1ab543

[2020-06-15 05:59] bartsmykla commented on #783
I have updated the first issue with all changes arising from the last post.

Also opened PR with adding the prow job [`k/test-infra#17940`](https://github.com/kubernetes/test-infra/pull/17940)

[2020-06-16 07:32] bartsmykla opened #960 "Reproducibility of dns/octodns-docker image"
One of coleagues from my company after seeing #949 asked me if lines: [`dns/octodns-docker/Dockerfile#L19-L20`](https://github.com/kubernetes/k8s.io/blob/005d75d1ea741c1cb67963ad9547d6a555a21a23/dns/octodns-docker/Dockerfile#L19-L20):
[code]
are potentialy not hurting reproducibility of the image, and remembering @BenTheElder's suggestion (ref. [`#949#issuecomment-643517517`](https://github.com/ku

[2020-06-16 09:03] bartsmykla opened #961 "Adding presubmit prow job for dns changes"
As I was discussing with @spiffxp today it is a good idea to add a presubmit prow job to run `make check` when [`dns/`](https://github.com/kubernetes/k8s.io/tree/005d75d1ea741c1cb67963ad9547d6a555a21a23/dns) change.

This will involve updating our octodns image and adding `make` which would also make sense to change the [`k8sio-dns-update` postsubmit job](https://github.com/kubernetes/test-infra/b

[2020-06-16 09:42] #960 closed

[2020-06-16 11:09] bartsmykla opened #966 "DNS tools/scripts rewriting from bash to python"
As there was (ref. #862) discussion started by @spiffxp about instead of extensive refactoring current bash scripts used to update DNS we should rewrite them to python.

At the beginning I was kind of reluctant for introducing another technology to our already not-small stack but then I realized we are already using python to check if dns zones were propagated correctly (cc. [`dns/check-zone.py`](

[2020-06-17 04:37] chizhg opened #969 "DNS REQUEST: prow-staging.k8s.io"
### Type of DNS update:
Create

### Domain being modified:
`k8s.io`

### Existing DNS Record:
None

### New DNS Record:

[code]

### Reason for update:

Setting up a Prow staging cluster for validating the new images, before rolling out them to the production Prow, based on the [design doc](https://docs.google.com/document/d/1_TdObxHL084WJbjIj83dg6-URV5wm8Oxdu-yk2WnaGY/edit?ts=5eb9b8e5#)

/cc @fej

[2020-06-17 04:42] bartsmykla commented on #969
I don't have access to the document, could you accept my request?
<img width="653" alt="image" src="https://user-images.githubusercontent.com/11655498/84855950-ab478d00-b065-11ea-934d-aa99cf0f9eca.png">

[2020-06-17 04:43] bartsmykla commented on #969
Have access now, thank you @chizhg

[2020-06-23 06:17] BenTheElder commented on #789
cc @mushuee

[2020-06-25 14:35] randomvariable opened #984 "Need IAM permissions for Session Manager added to Boskos-managed AWS accounts"
Porting over from https://github.com/kubernetes/test-infra/issues/17190 by @detiber

What would you like to be added:

Recently we removed creation of a Bastion host by default from cluster-api-provider-aws and would prefer to avoid creating one for the purposes of testing and would rather use ssh proxied over AWS Session Manager to connect to remote instances for retrieving logs during testing in

[2020-06-27 19:36] saschagrunert commented on #605
Closing for now since I guess the retention policy cannot be changed.

[2020-06-27 19:36] #605 closed

[2020-07-04 19:19] nikhita commented on #460
Created https://github.com/kubernetes/k8s.io/pull/996

/assign

[2020-07-07 12:22] stp-ip commented on #176
/remove-lifecycle stale

[2020-07-07 12:22] stp-ip commented on #533
/remove-lifecycle stale

[2020-07-07 16:51] yodahekinsew opened #1000 "Create a project for the CIP vulnerability check"
Currently, the Container Image Promoter promotes images without checking the image for any vulnerabilities. A vulnerability check is being added to the promoter to guard against this case which will use google cloud's Container Analysis Service. In order to test this check, we need a new project (k8s-cip-vuln-scanning) which can be used to host images with known vulnerabilities at different severi

[2020-07-07 22:35] thockin commented on #1000
Can you say more about what exactly this is doing? Is it just to hold any GCR images that have vulnerabilities?  What about images that we promote and then a new vuln is found later?  Or is it trying to exercise the images?  Or something else?

[2020-07-08 09:26] ameukam commented on #906
triage-party is deployed (see #967) but we're facing an issue with the ingress controller on `aaa` cluster. Discussion abou this on slack : https://kubernetes.slack.com/archives/CCK68P2Q2/p1593722658371200.

[2020-07-08 09:49] bart0sh commented on #956
@alejandrox1 @dims @bsdnet @vpickard @MHBauer  Any suggestion how to speed up this?

[2020-07-08 09:58] bartsmykla commented on #956
Today is our community call (http://bit.ly/wg-k8s-infra-notes) and we can discuss this topic. As far as I know there are no processes established to grant someone permissions to create instances or other resources manually.

[2020-07-08 13:38] bartsmykla commented on #852
@idvoretskyi did you get any response?

[2020-07-08 13:42] idvoretskyi commented on #852
@bartsmykla unfortunately, no. @thockin can you escalate or should I?

[2020-07-08 16:05] thockin commented on #852
Did you get any metadata or ticket ID or anything?

[2020-07-08 16:14] idvoretskyi commented on #852
@thockin @bartsmykla

UPD. I've re-checked my inbox and it seems that the quota request was granted. Apologies for the confusion, for some reason this email went out of my radar.

[2020-07-08 16:23] yodahekinsew commented on #1000
The design for this check has changed, so I will no longer be needing this project (at least for the original purpose of testing by hosting test images). Closing for now.

[2020-07-08 16:23] #1000 closed

[2020-07-08 19:10] listx commented on #455
Considering how we are using Workload Identity now when appropriate, having the "all our secrets are in one basket" argument is not as convincing as before. Closing this issue for now.

/close

[2020-07-08 19:11] #455 closed

[2020-07-08 21:55] bsdnet commented on #956
/assign @dims  @spiffxp they are on the infra WG.

[2020-07-09 16:22] idvoretskyi commented on #852
@spiffxp can you please check if the current quota is enough?

[2020-07-10 00:57] spiffxp commented on #852
I don't think I have a way to see our quota, the only way to tell if it's enough would be to start provisioning a _lot_ of projects ahead of actually having the time to allocate/use them.  Projects for presubmits would probably do that, but I very much do not have the bandwidth to prepare for what moving presubmits over here would entail.

I am satisfied suggesting we are going to assume we have 3

[2020-07-15 04:35] justaugustus commented on #906
@ameukam -- triage-party v1.2.0 is out, so we should be able to clear up the health-checking now: https://github.com/google/triage-party/releases/tag/v1.2.0

[2020-07-15 17:19] ameukam commented on #906
@justaugustus `1.2.0` of triage-party is deployed : https://github.com/kubernetes/k8s.io/pull/1022.

[2020-07-15 17:37] ameukam opened #1023 "DNS REQUEST: release.triage.k8s.io"
### Type of DNS update:
Create

### Domain being modified:
e.g. `k8s.io`

### New DNS Record:

[code]

### Reason for update:

DNS entry for triage-party

[2020-07-16 23:18] spiffxp opened #1031 "Ingress instances should use networking.k8s.io api group instead of extensions"
Currently extensions is what RBAC defines https://github.com/kubernetes/k8s.io/blob/master/infra/gcp/namespaces/namespace-user-role.yml#L20-L21

I think we should change the role and migrate the ingress instances

ref: https://github.com/kubernetes/k8s.io/pull/1025#discussion_r456128532

[2020-07-17 06:19] BenTheElder opened #1033 "staging registry for kubernetes/website"
We require a staging registry / cloud-build project for [kubernetes/website] to publish a build image ([hugo] + other deps).

**Background**: kubernetes/website has a containerized build environment for building the site.
In the past a simple `hugo` binary on the host at the correct version was sufficient, but with the docsy migration npm / postcss / autoprefixer are also required. Additionally re

[2020-07-17 12:16] ameukam commented on #1031
I think this issue is addressed in #990.

[2020-07-17 18:06] #1023 closed

[2020-07-19 23:46] BenTheElder commented on #1033
cc @dims @spiffxp

[2020-07-20 00:43] dims commented on #1033
+1 i'd support this @BenTheElder

[2020-07-22 09:04] stp-ip commented on #766
/remove-lifecycle stale

[2020-07-24 01:16] listx commented on #436
/remove-lifecycle stale

@yodahekinsew is working on this.

[2020-07-30 21:56] #622 closed

[2020-07-30 23:55] spiffxp commented on #844
k8s-infra-prow-viewers@kubernetes.io is significantly more useful now thanks to https://github.com/kubernetes/k8s.io/pull/1061

[2020-07-30 23:56] spiffxp commented on #787
/remove-lifecycle stale
Kettle is still running there

[2020-07-30 23:57] spiffxp commented on #787
Migrating kettle most likely looks something like
- migrate the bigquery database kettle writes to
- make sure the permissions kettle needs against google.com resources work for non-google.com accounts
- migrate kettle

[2020-07-30 23:59] spiffxp commented on #787
FYI @MushuEE
given that you've been modifying kettle lately, if you happen see things that could help inform a plan for this, drop 'em here

[2020-07-31 00:01] spiffxp commented on #841
This is basically implementaton of https://github.com/kubernetes/test-infra/issues/18549

[2020-07-31 00:03] spiffxp commented on #852
I'm going to start creating a bunch more projects in anticipation of handling kubernetes/kubernetes presubmits here

[2020-07-31 00:14] spiffxp opened #1078 "Provision stock e2e projects in anticipation of migrating kubernetes merge-blocking jobs"
This is in anticipation of https://github.com/kubernetes/test-infra/issues/18550

Based on visual inspection of https://monitoring.prow.k8s.io/d/wSrfvNxWz/boskos-resource-usage?orgId=1&from=now-90d&to=now

Source:
- Current k8s-prow-build boskos gce-project pool capacity is 200.  Usage peaks just under 100.

Target:
- Current k8s-infra-prow-build boskos k8s-infra-gce-project pool capacity is 40.

[2020-07-31 00:19] spiffxp commented on #851
With an eye toward: https://github.com/kubernetes/test-infra/issues/18550

Currently k8s-prow-build's boksos has two pools:
- scalability project: 15 total, peak usage of ~5
- scalability presubmit projects: 45 total, peak usage of ~30

Currently k8s-infra-prow-build has:
- scalability project: 5 total, peak usage of ~3

It's not clear to me whether the presubmit projects have different quotas tha

[2020-07-31 00:22] spiffxp commented on #1078
/assign

[2020-07-31 01:46] MushuEE commented on #787
When you say

is that to a new project? What is the:
target project and target cluster?

[2020-07-31 19:01] spiffxp opened #1091 "k8sio-groups job are failing"
The last three post-k8so-groups jobs have failed: https://k8s-testgrid.appspot.com/wg-k8s-infra-k8sio#post-k8sio-groups

The most recent ci-k8sio-groups job also failed: https://k8s-testgrid.appspot.com/wg-k8s-infra-k8sio#ci-k8sio-groups

It's the same error everytime (though the postsubmits do appear to successfully push their other changes)
[code]

/kind bug
/priority important-soon
/wg k8s-infr

[2020-07-31 19:10] spiffxp commented on #1091
https://github.com/kubernetes/k8s.io/pull/1082 may be a possible culprit, but I still don't understand why

[2020-07-31 19:20] spiffxp commented on #1091
Current suspicion is MixedCase is biting us. Running locally in verbose mode

[2020-07-31 19:38] spiffxp commented on #1091
/assign

[2020-07-31 19:43] spiffxp commented on #1091
Opened https://github.com/kubernetes/k8s.io/pull/1092 to fix

In testing out locally I ended up removing the offending member, so we won't get to see CI solve this problem.  I promise I did this without touching the GSuite Admin console though.

[2020-07-31 19:57] #1091 closed

[2020-07-31 20:58] spiffxp opened #1093 "Identify quota changes needed for ingress jobs, create pool of ingress projects"
This is like https://github.com/kubernetes/k8s.io/issues/851 but for ingress

The default quotas for an e2e project (eg: k8s-infra-e2e-gce-project) MAY be insufficient to run ci-kubernetes-e2e-gci-gce-ingress

Currently this job runs in the google.com k8s-prow-builds cluster, using a project from that boskos' [ingress-project pool](https://github.com/kubernetes/test-infra/blob/master/config/prow/c

[2020-07-31 21:00] spiffxp opened #1095 "Identify quota changes needed for gpu jobs, create pool of gpu projects"
This is like https://github.com/kubernetes/k8s.io/issues/851 but for gpu

The default quotas for an e2e project (eg: k8s-infra-e2e-gce-project) MAY be insufficient to run ci-kubernetes-e2e-gce-device-plugin-gpu

Currently this job runs in the google.com k8s-prow-builds cluster, using a project from that boskos' [gpu-project pool](https://github.com/kubernetes/test-infra/blob/master/config/prow/clu

[2020-08-03 10:18] #448 closed

[2020-08-03 17:59] ZhiFeng1993 commented on #752
I can help with the migration work too if needed. Already added myself in ` k8s-infra-prow-viewers`

[2020-08-03 18:10] spiffxp commented on #525
/reopen

[2020-08-03 18:14] spiffxp commented on #525
I agree 60d for GCR is reasonable.  Staging GCR repos have images older than 60d.  They should not, or people are going to assume they can use them in perpetuity.

This came up because @msau42 mentioned CSI images were close to 60d and was concerned they would expire and break kubernetes CI.  They won't.

[code]

We should give SIG Storage time to promote their images to k8s.gcr.io and update test

[2020-08-03 18:26] thockin commented on #525
I don't object in theory.  There isn't a good mechanism to do it, short of writing our own daily things that loops over every staging repo and nukes old images.

[2020-08-04 07:51] bartsmykla commented on #525
I can help with our own solution :-)

[2020-08-04 19:58] spiffxp commented on #846
Are there any strong opinions about:
- which GCP project the new bucket(s) should live under?
- what the new bucket(s) should be called?

Existing buckets I want to consider in this context are:
- gs://kubernetes-release-dev - used by periodics to store release artifacts (google-containers project, only google.com allowed)
- gs://kubernetes-release-pull - used by presubmits to stage release artifa

[2020-08-04 20:23] tpepper commented on #846
I somewhat wish the -pull, -dev buckets mapped directly to the ci-, periodic-, pull- test name pattern, but that's probably non-trivial to resolve?

[2020-08-04 21:40] spiffxp commented on #846
Opened https://github.com/kubernetes/k8s.io/pull/1110 with my proposal

[2020-08-04 21:57] spiffxp commented on #1093
[code]

[2020-08-04 22:25] spiffxp commented on #1093
Jobs that use this project type:
- ci-cri-containerd-e2e-gci-gce-ingress
-  ci-ingress-gce-e2e
-  ci-ingress-gce-e2e-multi-zone
-  ci-ingress-gce-e2e-release-1-6
-  ci-kubemci-ingress-conformance
-  ci-kubernetes-e2e-gce-cos-k8sbeta-ingress
-  ci-kubernetes-e2e-gce-cos-k8sstable1-ingress
-  ci-kubernetes-e2e-gce-cos-k8sstable2-ingress
-  ci-kubernetes-e2e-gce-cos-k8sstable3-ingress
-  ci-kubernete

[2020-08-04 22:30] spiffxp commented on #1093
/assign

[2020-08-04 22:44] spiffxp commented on #1093
Will use https://github.com/kubernetes/test-infra/pull/18663 as a canary job, should be able to let it schedule (or re-run it) to see if I've gotten quotas correct

I'm starting with no increase in quotas at all

[2020-08-04 22:56] spiffxp commented on #1095
/assign

[2020-08-04 22:57] spiffxp commented on #1095
[code]
... none of these are GPU related probably need to look for something zone/region-specific

[2020-08-04 22:57] spiffxp commented on #1095
$ diff -yW80 {k8s-infra-e2e-ingress-project,k8s-gke-gpu-boskos-02}.us-west1-describe.yaml | grep -A3 "|.*limit"
- limit: 1.0			      |	- limit: 8.0
  metric: NVIDIA_P100_GPUS		  metric: NVIDIA_P100_GPUS
  usage: 0.0				  usage: 0.0
- limit: 0.0				- limit: 0.0
--
- limit: 1.0			      |	- limit: 0.0
  metric: PREEMPTIBLE_NVIDIA_K80_GPUS	  metric: PREEMPTIBLE_NVIDIA_K80_GPUS
  usage: 0.0				  usage:

[2020-08-04 22:57] spiffxp commented on #1095
Jobs that use this project type:
- ci-cri-containerd-e2e-gce-device-plugin-gpu
- ci-kubernetes-e2e-gce-device-plugin-gpu
- ci-kubernetes-e2e-gce-device-plugin-gpu-beta
- ci-kubernetes-e2e-gce-device-plugin-gpu-stable1
- ci-kubernetes-e2e-gce-device-plugin-gpu-stable2
- ci-kubernetes-e2e-gce-device-plugin-gpu-stable3
- ci-kubernetes-e2e-gce-gpu-beta-stable1-cluster-downgrade
- ci-kubernetes-e2e-gce

[2020-08-04 23:04] spiffxp commented on #1095
Will use canary job in https://github.com/kubernetes/test-infra/pull/18664 to verify whether quota works

I'm also noticing this fun preset appears to be involved:
[code]

Not sure how it's used, but that may present other complications

[2020-08-04 23:42] spiffxp commented on #1095
Based on the preset I'm going to assume this is the quota we should pay attention to.  I'm less clear about the rest
[code]

[2020-08-04 23:52] spiffxp commented on #1095
I went ahead and submitted a request for Committed NVIDIA K80 GPUs, us-west1: 0->2

[2020-08-05 20:44] tpepper commented on #846
Relative to my [comment](https://github.com/kubernetes/k8s.io/issues/846#issuecomment-668806467) earlier in the issue and pulling discussion from the PR closer to this comment:

...makes sense to me and explains the "-dev" as synonym/summary name for the ci-, periodic-, pull- tests' artifacts.  Dev as meaning not prod is logical.

[2020-08-05 20:55] spiffxp commented on #846
And to answer a question that came up in my chat with @justaugustus: why one bucket for postsubmit/periodic and a different bucket for presubmit?
- For ACL's:
  - it's much easier to manage ACL's per-bucket, there is a limit on per-path
  - presubmits run untrusted code, postsubmit/periodic runs ostensibly more trusted code since it's been allowed to merge after human review
  - using ACL's we can

[2020-08-05 21:10] msau42 commented on #525
Is there a recommended way to do canary testing with the 60d removal? For example, in csi, our periodic canary testing tests multiple repos' canary images in one job. But some repos are more active than others, and the inactive ones may not have any merges for > 60d. Is there a way we can keep the canary images around to facilitate this workflow without having to promote the canary tag?

[2020-08-05 21:27] thockin commented on #525
Define canary?  If you need them long-term, why not promote them?

On Wed, Aug 5, 2020 at 2:10 PM Michelle Au <notifications@github.com> wrote:

[2020-08-05 21:44] msau42 commented on #525
canary in our case is actually images with a "canary" tag. Every pr that merges, we build and repush the "canary" tag. We have a specific canary job that's configured to test using images with the canary tag. We do end up promoting those images with official release tags, and we have separate jobs that test using release images, but we will still have a canary job that tests against head of everyt

[2020-08-05 21:46] ameukam commented on #906
This is can be closed.
/close

[2020-08-05 21:46] #906 closed

[2020-08-05 23:33] thockin commented on #525
Yeah, you would not want to promote those, and tags are not mutable in prod
anyway.

So the goal is to keep the last N builds (N may be 1), regardless of age or
whether that build was promoted or not?

That seems like a recipe for flakes, no?

If we were building our own retirement, we could (for example) always leave
a specific tag or something, I guess?  But I am still shaky on the idea.

On Wed

[2020-08-06 02:58] msau42 commented on #525
If there's another way we could achieve a "test against latest for all images, even if some of the repos are inactive", open to suggestions.

[2020-08-06 06:25] #502 closed

[2020-08-06 07:08] pohly commented on #525
Perhaps we can add a periodic job which rebuilds canary images once a month? The added bonus is that we'll notice if something breaks in the build environment (shouldn't happen, but one never knows...) before actually trying to build a proper release.

[2020-08-06 14:36] ncdc opened #1116 "CNCF AWS account for kubernetes-sigs/cluster-api-provider-aws AMIs"
We are currently publishing cluster-api-provider-aws Kubernetes AMIs to a VMware-owned AWS account. This account is the hard-coded default account to use when looking up AMIs (this is overridable). It would be nice if we could transition the AMIs to a CNCF-owned AWS account.

There are probably lots of moving parts here:

- [x] Find a sponsor/champion with access to create a new CNCF AWS account
-

[2020-08-06 14:39] nikhita commented on #1116
@ncdc can you create an issue like https://github.com/kubernetes/funding/issues/10 in the funding repo?

[2020-08-06 14:59] ncdc commented on #1116
https://github.com/kubernetes/funding/issues/12

[2020-08-06 16:44] thockin commented on #525
Why do you want to test against head as opposed to the latest release?
Even if that release is explicitly a "daily snapshot" or something?  I
guess I don't fully know what all the images are or what you are testing...

On Thu, Aug 6, 2020 at 12:08 AM Patrick Ohly <notifications@github.com>
wrote:

[2020-08-06 16:52] msau42 commented on #525
I think a daily snapshot also works. It's similar to Patrick's suggestion but more frequent. We'll need to redo our tooling to be able to query/find the daily rc, but it's feasible.

I'm curious what other projects are doing, because I can't imagine we're the only ones.

[2020-08-06 16:59] thockin commented on #525
Most don't seem to be doing much, yet, or they are releasing all components
together.

On Thu, Aug 6, 2020 at 9:53 AM Michelle Au <notifications@github.com> wrote:

[2020-08-06 17:18] pohly commented on #525
So you want "canary-<YYYYMMDD>" tags because then a test failure can be reproduced locally with the exact same images? I'm not sure how important that is. If it's a genuine issue that hasn't been fixed yet, a more recent "canary" should still expose it, and if it doesn't, would we really dig into such a failure when it no longer occurs?

[2020-08-06 18:14] pohly commented on #525
Built from the same repo? That works because the tip-of-branch components can all be built in the same test job.

But Kubernetes-CSI uses several different repos and then needs to collect the output from different build jobs for a combined test job.

[2020-08-06 21:58] spiffxp commented on #1095
That was enough to get https://testgrid.k8s.io/sig-testing-canaries#gce-device-plugin-gpu to pass

The existing gpu-project pool is 15 projects and peaks at 5 projects

[2020-08-06 22:14] spiffxp commented on #1095
Ah! Fun fact: pull-kubernetes-e2e-gce-device-plugin-gpu is pinned to a single project k8s-jkns-pr-gce-gpus.  So, 15 projects may not quite be enough.

[2020-08-07 02:20] BenTheElder commented on #1033
should I just PR this? I forgot what all we need to do to act on something like this.

[2020-08-07 02:21] BenTheElder commented on #1033
cc @jimangel

[2020-08-07 02:29] jimangel commented on #1033
I'm not sure the approval process, but I'm in support of moving this forward if other folks agree.

[2020-08-07 10:56] pohly commented on #525
I guess we could set up a canary job which checks out all of the relevant repos and then builds everything anew each time it runs. :shrug:

[2020-08-07 15:40] thockin commented on #525
So there are several options here, and I can't know which makes the most
sense for your goals on this.  IF we NEED to, we could maybe add one label
that we always retain, but IMO that suggests something else is fishy.  Why
would you keep a "canary" for a long time and NOT promote it or replace it?

On Fri, Aug 7, 2020 at 3:57 AM Patrick Ohly <notifications@github.com>
wrote:

[2020-08-07 16:00] msau42 commented on #525
We do promote our canaries. The main challenge here is we have two test jobs, one configured to only run against canaries, and one configured to run against release images. The one configured to run against canary is going to be prone to expiration of staging images for inactive repos unless we have something that will periodically build new images.

[2020-08-07 16:10] spiffxp opened #1120 "Upgrade k8s-infra prow build clusters from v1.14 to v1.15"
v1.14 deprecation was announced here: https://cloud.google.com/kubernetes-engine/docs/release-notes#coming-soon-20200722

The clusters should have been automatically upgraded: https://cloud.google.com/kubernetes-engine/docs/release-notes#scheduled_automatic_upgrades

This issue is to confirm whether they have been, and if not, initiate such an upgrade

/area prow
/wg k8s-infra
/sig testing

[2020-08-07 19:42] spiffxp commented on #1093
https://testgrid.k8s.io/sig-testing-canaries#gci-gce-ingress&width=20&graph-metrics=test-duration-minutes - so it, uh, looks like the release-blocking ingress job runs just fine with the default quotas

https://testgrid.k8s.io/sig-release-master-blocking#gci-gce-ingress&width=20&graph-metrics=test-duration-minutes - and comparing to the sig-release-master-blocking runs, it performs basically the s

[2020-08-07 20:01] spiffxp commented on #1095
https://github.com/kubernetes/test-infra/pull/18728 - demoted pull-kubernetes-e2e-gce-device-plugin-gpu from merge-blocking, now it's manually triggered with max_concurrency 5

[2020-08-07 20:14] spiffxp commented on #1095
Now filling out quota requests for 10 projects...

[2020-08-07 20:47] spiffxp commented on #1095
... which were small enough to be automatically approved

[2020-08-07 21:25] spiffxp commented on #845
/remove-lifecycle stale

[2020-08-07 21:25] spiffxp commented on #845
/assign

[2020-08-07 21:32] spiffxp commented on #1095
Opened https://github.com/kubernetes/k8s.io/pull/1125 to add the projects to k8s-infra-prow-build's boskos as a new gpu-project pool

[2020-08-07 21:33] spiffxp commented on #1095
https://github.com/kubernetes/test-infra/pull/18740 will add the gpu-project pool to https://monitoring.prow.k8s.io/d/wSrfvNxWz/boskos-resource-usage?orgId=1

[2020-08-08 00:40] spiffxp commented on #1095
/close
Calling this done

[2020-08-08 00:40] #1095 closed

[2020-08-08 01:14] spiffxp commented on #845
/close
Thanks to https://github.com/kubernetes/test-infra/pull/18739 we now have
- https://testgrid.k8s.io/wg-k8s-infra-k8sio#post-k8sio-deploy-prow-build-resources
- https://testgrid.k8s.io/wg-k8s-infra-k8sio#post-k8sio-deploy-prow-build-trusted-resources

And I used the prow-build job to deploy https://github.com/kubernetes/k8s.io/pull/1127

[2020-08-08 01:14] #845 closed

[2020-08-08 01:19] spiffxp commented on #1078
I've added 40 thus far, so out of 100 that mean 60 remain. Going to add another 40, leaving 20.

It may be that as we're re-evaluating the full set of merge-blocking jobs for kubernetes (ref: https://github.com/kubernetes/test-infra/issues/18729) we may lower demand for the gce-project resource

[2020-08-08 20:59] spiffxp commented on #1120
We're sitting on 1.14.10-gke.42 for the control plane, and 1.14.10-gke.37 for the main node pool

[2020-08-11 01:02] spiffxp opened #1132 "Raise k8s-infra-prow-build quotas in anticipation of handling merge-blocking jobs"
The node pool is currently setup as 3 * (6 to 30) n1-highmem-8's.  We don't have enough quota to hit max nodepool size

At least in terms of resources, we need at least:
- `3 * 30 * 8` = 720 CPU's
- `3 * 30 * 250` = 22500 Gi SSD capacity
- `3 * 30` = 90 in-use IP addresses

If we want to match the size of the k8s-prow-builds cluster, which has 160 nodes, we should ask for more

/wg k8s-infra
/area

[2020-08-11 01:07] spiffxp commented on #1132
No quota for memory.

Submitted requests for:
- 1024 CPU's in us-central1
- 100 in-use IP addresses in us-central1

[2020-08-11 01:40] spiffxp commented on #1132
Well, the 1024 CPU request went through just fine.

The 100 in-use IP's...

So, I'll hold this open and see what comes back in two days.  Quota is 69 in-use IP addresses until then.

[2020-08-11 01:42] spiffxp commented on #1132
Part of https://github.com/kubernetes/test-infra/issues/18550

[2020-08-12 16:20] detiber commented on #984
/assign @justinsb

[2020-08-13 16:16] stp-ip commented on #237
Docker is changing their ToS especially important is this part about retention:
[code]

Assuming we are on a free plan the last images will go away on November 1. Might be a good time to tackle the full retirement of the org once all images are removed by us or docker.

[2020-08-13 16:45] spiffxp commented on #237
I am very tempted to delete the pause image now and be done with it, since we're well past v1.16.

OTOH, we could give one last final warning and say once v1.19 is released, we're removing `kubernetes/pause`.

What do folks think?

[2020-08-13 16:45] gjtempleton commented on #237
I think the comms around this are a bit confusing as it seems from [their FAQ](https://www.docker.com/pricing/retentionfaq) that the retention period only applies for images that have been neither pushed nor pulled within that retention window:

From the FAQ:

Image retention is based on the activity of each individual image stored within a user account. If an image has not either been pulled or p

[2020-08-13 16:46] BenTheElder commented on #237
This only applies to "inactive" images if you read the FAQ, odd that it wasn't in the email.

[2020-08-13 17:01] stp-ip commented on #237
Thanks for the clarification. Would have expected that detail to be worth putting next to the retention notice ^^
Anyway happy to have this cleaned up nonetheless.

[2020-08-13 17:19] #367 closed

[2020-08-13 20:59] dims commented on #237
+1 let's please clean it up!

[2020-08-14 00:15] BenTheElder commented on #390
I think this is progressing somewhat?

[2020-08-19 07:29] #401 closed

[2020-08-20 23:49] spiffxp commented on #813
/close
#913 closed this out

[2020-08-20 23:49] #813 closed

[2020-08-21 22:28] spiffxp opened #1168 "Migrate k8s-infra-prow-build to n1-highmem-16 nodepool"
One of the workarounds suggested in https://github.com/kubernetes/k8s.io/issues/1132#issuecomment-678389503 to overcome the fact that we are working with limited IPs and using a cluster that's configured to use an external IP for each node.

[2020-08-22 15:27] #1168 closed, assigned to nobody

[2020-08-24 16:48] spiffxp commented on #1132
I tried raising CPU and SSD quota in us-west1 to be able to create an equivalently sized build cluster in the same k8s-infra-prow-build project over there.  Both requests automatically rejected.

[2020-08-24 17:11] spiffxp opened #1171 "Groups reconciler should support option to keep conversation history"
E-mails sent to leads@kubernetes.io are accessible as email _only_, I can't go to https://groups.google.com/u/0/a/kubernetes.io/g/leads to see what's been posted to the group

I manually enabled "Group Settings -> Posting Policies -> Conversation: ON"

This should be configurable via the group reconciler (and enforced via tests for groups that should support history)

/sig contribex
/area access
/

[2020-08-24 17:11] spiffxp commented on #1171
/sig contributor-experience

[2020-08-24 18:51] spiffxp commented on #1132
There is suspicion that moving to n1-highmem-16's has actually increased flakiness.  Specifically for these jobs, across release branches:
- https://github.com/kubernetes/kubernetes/issues/94197 - verify
- https://github.com/kubernetes/kubernetes/issues/94184 - integration

[2020-08-24 18:57] spiffxp opened #1173 "Migrate k8-infra-prow-build to n1-highmem-8 nodepool"
This tracks rolling back from https://github.com/kubernetes/k8s.io/issues/1168 which migrated to an n1-highmem-16 nodepool.

Certain jobs have become more flaky since/after 2020-08-21:
- https://github.com/kubernetes/kubernetes/issues/94197 - verify CI jobs
- https://github.com/kubernetes/kubernetes/issues/94184 - integration CI jobs

Per https://github.com/kubernetes/k8s.io/issues/1168#issuecomme

[2020-08-24 18:57] spiffxp commented on #1132
Opened https://github.com/kubernetes/k8s.io/issues/1173 to track the rollback

[2020-08-24 18:57] spiffxp commented on #1173
Opened https://github.com/kubernetes/k8s.io/pull/1172 to create an n1-highmem-8 nodepool

[2020-08-24 18:59] spiffxp commented on #1173
FYI @kubernetes/ci-signal

[2020-08-24 19:00] spiffxp commented on #1173
/wg k8s-infra
/priority critical-urgent
/sig testing
/sig release
/area prow

[2020-08-24 19:04] spiffxp commented on #1173
[code]

[2020-08-24 19:08] spiffxp commented on #1168
Rolling back via https://github.com/kubernetes/k8s.io/issues/1173

[2020-08-24 19:10] spiffxp commented on #1173
[code]

[2020-08-24 19:12] spiffxp commented on #1173
Disabled autoscaling

[2020-08-24 19:31] spiffxp commented on #1173
Realized pool3 was still configured to use n1-highmem-16, opened PR to modify https://github.com/kubernetes/k8s.io/pull/1174

[2020-08-24 19:32] spiffxp commented on #1173
[code]

So it turned autoscaling back on for pool2...

[2020-08-24 19:33] spiffxp commented on #1173
Which I have disabled once again

[2020-08-24 19:38] spiffxp commented on #1173
I re-cordoned pool2 nodes just to be sure nothing new had gotten launched while autoscaling was turned on.

https://console.cloud.google.com/monitoring/dashboards/custom/10925237040785467832?project=k8s-infra-prow-build&timeDomain=6h

Now we wait
![Screen Shot 2020-08-24 at 12 35 21 PM](https://user-images.githubusercontent.com/49258/91088149-606a6880-e606-11ea-8d43-f7d0319eadbc.png)

[code]

[2020-08-24 20:18] spiffxp commented on #1173
Manually deleted some of the pool2 nodes that no longer had any pods on them to make room for more pool3 nodes
![Screen Shot 2020-08-24 at 1 17 54 PM](https://user-images.githubusercontent.com/49258/91091994-3b78f400-e60c-11ea-8a6b-22bc7ca223b7.png)

[2020-08-24 22:12] spiffxp commented on #1173
Forced boskos pods to move (note to self, I think next time a `k delete -n test-pods -lapp=boskos` will be fine
[code]

Manually deleted some more empty nodes
![Screen Shot 2020-08-24 at 3 11 08 PM](https://user-images.githubusercontent.com/49258/91101494-0d031500-e61c-11ea-94af-45a9eaaf6560.png)

Now waiting on two serial jobs
[code]

[2020-08-25 01:45] spiffxp commented on #157
/remove-lifecycle stale

[2020-08-25 01:47] spiffxp commented on #157
I guess one last thing I'd like to ensure before we call this done is make sure the promoter jobs are running in community-owned infra (re: https://github.com/kubernetes/k8s.io/issues/157#issuecomment-465755277)

[2020-08-25 05:30] spiffxp commented on #1173
Opened https://github.com/kubernetes/k8s.io/pull/1177 to remove the old n1-highmem-16 pool for good

[2020-08-25 12:02] idealhack commented on #325
/remove-lifecycle rotten

[2020-08-25 16:28] spiffxp commented on #1132
I was able to raise CPU quota in us-east1 to 1024, but was rejected for SSD and IP quota requests.

Next step would be to try raising quotas for a different GCP project, in case k8s-infra-prow-build has gotten flagged for some reason.

[2020-08-25 22:46] spiffxp commented on #1173
/close
Old nodepool was deleted

[2020-08-25 22:46] #1173 closed

[2020-08-25 22:47] spiffxp commented on #1173
(And we did confirm this made the integration and verify jobs much happier)

So if nothing else, throttled read ops correspond to unhappy integration and verify jobs

[2020-08-25 22:54] spiffxp commented on #1132
OK quota changes came through (thank you @thockin), I'm feeling better about our immediate capacity requirements being met in us-central1:
- 1024 CPUs
- 40960 GB SSD
- 150 in-use IP addresses

So now we'll be able to bump into our autoscaling limits at least

/remove-priority critical-urgent
/priority important-soon

[2020-08-25 23:06] spiffxp opened #1178 "Investigate creating prow build cluster as a private build cluster"
This would allow us to avoid in-use IP address quota as a limiting factor.  We were having a hard time getting in-use IP address quota.  (ref: https://github.com/kubernetes/k8s.io/issues/1132#issuecomment-678389503)

https://cloud.google.com/kubernetes-engine/docs/how-to/private-clusters

Things to consider:
- k8s-prow-builds (where jobs are migrating from) uses external IP's for its nodes
- thus

[2020-08-25 23:06] spiffxp commented on #1178
/area prow
/priority important-longterm

[2020-08-25 23:06] spiffxp commented on #1178
/sig testing
/wg k8s-infra

[2020-08-25 23:07] spiffxp commented on #1132
I have broken this out into its own issue https://github.com/kubernetes/k8s.io/issues/1178

[2020-08-25 23:48] spiffxp commented on #1173
periodic-kubernetes-bazel-test-master was also unhappy when running on n1-highmem-16's and much happier when we switched back
![Screen Shot 2020-08-25 at 4 43 04 PM](https://user-images.githubusercontent.com/49258/91238545-224a7300-e6f2-11ea-9c59-221535f37f10.png)

here's integration-master for comparison
![Screen Shot 2020-08-25 at 4 46 27 PM](https://user-images.githubusercontent.com/49258/91238

[2020-08-26 18:42] spiffxp commented on #1033
Yes, follow instructions here https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io#creating-staging-repos

[2020-08-26 19:51] thockin commented on #915
/remove-lifecycle stale

On Wed, Aug 26, 2020 at 12:24 PM fejta-bot <notifications@github.com> wrote:

[2020-08-26 22:16] CecileRobertMichon opened #1182 "DNS REQUEST: cluster-api-provider-azure.sigs"
### Type of DNS update:
Create

### Domain being modified:
k8s.io

### New DNS Record:
[code]
### Reason for update:
The sig-cluster-lifecycle cluster-api-provider-azure subproject has requested a netlify site to host its documentation. ref https://github.com/kubernetes/org/issues/2122#issuecomment-681058974.

[2020-08-26 22:18] CecileRobertMichon commented on #1182
/cc @devigned @nader-ziada

[2020-08-27 20:12] thockin commented on #728
/remove-lifecycle rotten.

On Thu, Aug 27, 2020 at 10:46 AM fejta-bot <notifications@github.com> wrote:

[2020-08-27 21:03] spiffxp commented on #728
/remove-lifecycle rotten
ref: https://github.com/kubernetes/k8s.io/issues/783 for automating DNS

[2020-08-27 21:03] spiffxp commented on #783
https://github.com/kubernetes/test-infra/pull/17940 has been merged so I think we are now waiting on declaration of victory to call this done (e.g. have we seen any jobs successfully deploy DNS changes)

[2020-08-27 21:05] spiffxp commented on #783
Should also update the README for dns to reference the automation instead of humans doing things (though leaving instructions on how humans can manually do things is still helpful, e.g. https://github.com/kubernetes/k8s.io/blob/master/groups/README.md)

[2020-08-27 23:46] spiffxp commented on #1132
Quotas for us-central1 are now at:

- 1440 CPUs
- 81200 GB SSD
- 150 in-use IP addresses

Based on how things have been behaving today with v1.20 merges, I'm comfortable calling this done.  We can open further issues as our needs evolve

/close

[2020-08-27 23:47] #1132 closed

[2020-08-28 05:21] mayankkapoor commented on #420
/remove-lifecycle stale

[2020-08-28 13:05] claudiubelu commented on #157
Then I think this will be of interest to you.

So, at the moment the Image Promoter for the Kubernetes E2E test images is currently using a few Windows build nodes to build the Windows images, those nodes are in Azure on the CNCF subscription, the same one that is being used to run the sig-windows test jobs.

There was a suggestion to not rely on them anymore, to try to build all the images on the

[2020-08-28 17:37] spiffxp opened #1187 "Migrate k8s-infra-prow-build to a nodepool with more IOPS"
This is followup to https://github.com/kubernetes/k8s.io/issues/1168 and https://github.com/kubernetes/k8s.io/issues/1173, made possible by quota changes done via https://github.com/kubernetes/k8s.io/issues/1132

My goal is to make these graphs go down
![Screen Shot 2020-08-28 at 10 24 01 AM](https://user-images.githubusercontent.com/49258/91595625-b138d480-e918-11ea-914a-cd1570be3207.png)

Our jo

[2020-08-28 17:39] spiffxp commented on #1187
/area prow
/sig testing
/wg k8s-infra

[2020-08-28 17:41] spiffxp commented on #1187
Opened https://github.com/kubernetes/k8s.io/pull/1186 to start migrating to first option (14% more cost for ~100% more IOPS)

[2020-08-28 18:46] spiffxp commented on #1187
New nodepool is up, old nodepool cordoned
[code]

[2020-08-28 19:08] spiffxp commented on #1187
And I forgot to disable autoscaling for pool3 until just now
[code]

[2020-08-28 20:43] spiffxp commented on #1187
Deleted boskos
[code]
Waiting on the following to finish up
[code]

[2020-08-28 20:47] spiffxp commented on #1187
Trimmed empty nodes
![Screen Shot 2020-08-28 at 1 46 55 PM](https://user-images.githubusercontent.com/49258/91613738-f7039600-e934-11ea-8142-72ba0df3ad9a.png)

[2020-08-28 22:30] spiffxp commented on #1187
Removed old nodepool with https://github.com/kubernetes/k8s.io/pull/1188

[2020-08-28 22:32] spiffxp commented on #1187
Holding this open to see what impact, if any, this has on the graphs shown in the description

https://console.cloud.google.com/monitoring/dashboards/custom/10925237040785467832?project=k8s-infra-prow-build&timeDomain=1w

[2020-08-30 13:08] ameukam commented on #843
/remove-lifecycle stale

[2020-08-30 17:41] spiffxp commented on #851
Added a canary job via https://github.com/kubernetes/test-infra/pull/19049

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/92316/pull-kubernetes-e2e-gce-100-performance-canary/1299860480084414464/ - confirmed that the existing scalability-project pool will work for presubmits

Based on visual inspection of https://monitoring.prow.k8s.io/d/wSrfvNxWz/boskos-resource-usage?orgId=1&from=

[2020-08-30 17:42] spiffxp commented on #851
Opened https://github.com/kubernetes/k8s.io/pull/1192 to grow the pool

[2020-08-31 20:00] spiffxp commented on #1187
No real change in the graphs, other than a reflection of PR traffic.  This certainly didn't make things _worse_ and isn't urgently more expensive, so I'm not inclined to rollback at the moment.

![Screen Shot 2020-08-31 at 12 53 36 PM](https://user-images.githubusercontent.com/49258/91760981-109d1b80-eb89-11ea-8ab7-868898c2c371.png)

Supposedly PER_GB means increase the persistent disk size (ref:

[2020-08-31 21:28] spiffxp commented on #1120
We're still sitting on 1.14.  I am waiting until we've drained the bulk of outstanding v1.20 PR's (ref: https://groups.google.com/g/kubernetes-dev/c/YXGBa6pxLzo/discussion) before explicitly triggering this.

There's still a chance it'll happen when we're not watching though.

[2020-08-31 21:54] spiffxp commented on #1093
There are no presubmits that use this

Remaining jobs that use this project type
- ci-cri-containerd-e2e-gci-gce-ingress (containerd/cri + kubernetes periodic)
- ci-ingress-gce-e2e (kubernetes periodic)
- ci-ingress-gce-e2e-multi-zone (kubernetes periodic)
- ci-ingress-gce-e2e-release-1-6 (kubernetes periodic)
- ci-kubemci-ingress-conformance (GoogleCloudPlatform/k8s-multicluster-ingress)
- ci-kub

[2020-08-31 23:24] spiffxp commented on #846
Picking back up on this for a bit now that we're out of v1.19.  The only remaining release-blocking and merge-blocking jobs that have yet to be migrated over to k8s-infra-prow-build are jobs that depend on these buckets.

We may be able to drop our existing use of gs://kubernetes-release-pull (ref: https://github.com/kubernetes/test-infra/issues/18789), so at present I haven't been migrated jobs t

[2020-09-01 17:53] spiffxp commented on #1078
/close
OK, I think the gce-project pool is large enough for now.

Over the past 30 days we've migrated over all merge-blocking jobs for kubernetes/kubernetes on top of having migrated most of the release-blocking jobs earlier.  We're going to have plenty of headroom for a while.
![Screen Shot 2020-09-01 at 10 50 07 AM](https://user-images.githubusercontent.com/49258/91888299-ec9d1100-ec40-11ea-9eb

[2020-09-01 17:54] #1078 closed

[2020-09-02 20:11] randomvariable commented on #984
Is there anything we can do to get this moving? We kind of missed an upgrade bug for Kubernetes 1.19 for a few reasons, but would have been compounded by not having the logs that SSM would have provided.

[2020-09-08 16:34] CecileRobertMichon commented on #1182
/close

[2020-09-08 16:35] #1182 closed

[2020-09-09 06:25] bartsmykla commented on #905
/remove-lifecycle stale

[2020-09-09 06:43] bartsmykla commented on #905
Done. I redeployed slack infra with the new images.
/close

[2020-09-09 06:43] #905 closed

[2020-09-09 06:46] bartsmykla commented on #905
/open reopening till we'll also migrate the slackin

[2020-09-09 07:51] bartsmykla commented on #783
@spiffxp as everything looks fine, and the last jobs handled by the prow were successful I think we can close the issue and declare a victory. :-)

I have also opened the PR with documentation changes related to automation: https://github.com/kubernetes/k8s.io/pull/1222

[2020-09-10 01:47] spiffxp opened #1231 "Raise k8s-infra-prow-build cluster nodepool max size"
Well, it took about two weeks from the last "let's wait and see" comment (ref: https://github.com/kubernetes/k8s.io/issues/1132#issuecomment-682246486)

This is a regional cluster spread across 3 zones, with a nodepool that will autoscale up to 30 nodes per zone.  So, 90 nodes total.  We've hit that limit a few times now.

[Metrics explorer: VM instance uptime (count)](https://console.cloud.google

[2020-09-10 01:58] spiffxp commented on #1231
Given that the build cluster we are supposed to be replacing is 160 nodes (plus whatever capacity RBE was offering), and we still have some critical kubernetes/kubernetes jobs to move over, I think we should raise max nodepool size from 90 (3x30) to 150 (3x50)

[2020-09-10 02:10] spiffxp commented on #1231
/assign

Part of https://github.com/kubernetes/test-infra/issues/18550, need more capacity to feel confident we've got room for the rest of the jobs being migrated over

[2020-09-10 02:12] spiffxp commented on #1231
/area prow
/sig testing
/wg k8s-infra

[2020-09-10 02:18] spiffxp commented on #1231
Other quotas may need to be bumped to accomodate this:
- 3 * 50 * 8 = 1200 CPU's
- 3 * 30 * 500 = 75000 Gi SSD capacity
- 3 * 50 * 1 = 150 in-use IP addresses

Quotas for us-central1 are now at:
- 1440 CPUs
- 81920 GB SSD
- 150 in-use IP addresses

The IP's could stand to be raised.  The others we may want to raise if we want to try more cpu or more SSD for increased IOPS
- 3*50*16 = 2400 CPU's fo

[2020-09-10 04:26] spiffxp commented on #1231
Quotas for us-central1 are now:
- 2,500 CPUs
- 130,000 GB SSD
- 160 IPs

[2020-09-10 14:52] spiffxp commented on #1231
/close
Calling this done

[2020-09-10 14:52] #1231 closed

[2020-09-10 19:21] dims commented on #1116
@idvoretskyi i've updated CNCFSD-492 with the email address of the people who need access. Please let @ncdc know when this is ready.

[2020-09-11 16:27] spiffxp commented on #1120
Upgrading k8s-infra-prow-build's control plane from 1.14.10-gke.42 to 1.15.12-gke.17

[2020-09-11 17:05] spiffxp commented on #1120
Control plane upgraded, next the greenhouse nodepool.  This may disrupt bazel-based jobs, though they should fall back to not using the cache when it's unavailable.

[2020-09-11 17:46] spiffxp commented on #1120
Greenhouse nodepool upgraded.  Waiting until https://github.com/kubernetes/test-infra/pull/19182#issuecomment-691226512 is resolved before proceeding with the main nodepool

[2020-09-11 18:38] spiffxp commented on #1120
/assign
OK, prow was reverted and sinker is behaving as expected again.

[2020-09-11 18:46] spiffxp commented on #1120
Upgrading k8s-infra-prow-build's default node pool from 1.14.10-gke.42 to 1.15.12-gke.17

[2020-09-11 20:22] spiffxp commented on #1120
29/41 nodes done

[2020-09-11 22:42] spiffxp commented on #1120
And everything is at 1.15.12-gke.17 after ~4 hours

... so I think that node-by-node-upgrade and cluster-autoscaling aren't the best of friends.  I suspect this would have gone more quickly if we had spun up an entirely new nodepool that was on 1.15.12 to begin with, and cordoned the the old nodepool.

I would like to move up to v1.16 next but I think we'll leave it here for the weekend

[2020-09-11 23:17] spiffxp commented on #1120
As a rough guess of "how disruptive was this?" I filtered down to kubernetes/kubernetes jobs on prow.k8s.io.  Accepting that some presubmits are just gonna fail (on top of whatever flakiness may be out there), this looks reasonably non-disruptive.  Specifically I'm looking at the left half of the graph (now - 6h ago)
![Screen Shot 2020-09-11 at 4 09 49 PM](https://user-images.githubusercontent.com

[2020-09-11 23:17] spiffxp commented on #1120
/close

[2020-09-12 03:08] spiffxp commented on #1120
/reopen
onnnn the other hand, @tpepper has noticed a number jobs seem to stuck in running for a while
e.g. https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/94470/pull-kubernetes-node-e2e/1304501511241338880/ say "7h" in progress

https://prow.k8s.io/tide-history?repo=kubernetes%2Fkubernetes&branch=master shows tide last issued a TRIGGER action around 1:50pm PT

[2020-09-12 03:13] spiffxp commented on #1120
looking at that node e2e job, I get this for prowjob yaml: https://prow.k8s.io/prowjob?prowjob=a56a5463-f464-11ea-a7c8-9eb8089ce657

pulling some useful fields from that
[code]

let's go look at the build cluster
[code]

let's see, are there other pods stuck in Terminating status?
[code]

Possible mitigations:
- try running /test foo on the afflicted PR(s) and see if that triggers a new job
- dele

[2020-09-12 03:26] spiffxp commented on #1120
https://console.cloud.google.com/logs/viewer?project=k8s-infra-prow-build&minLogLevel=0&expandAll=false&timestamp=2020-09-12T03:20:19.152000000Z&customFacets=&limitCustomFacetWidth=true&dateRangeStart=2020-09-11T19:20:19.000Z&dateRangeEnd=2020-09-11T21:20:19.404Z&interval=CUSTOM&resource=k8s_cluster&scrollTimestamp=2020-09-11T19:47:46.065886000Z&filters=text:a56a5463-f464-11ea-a7c8-9eb8089ce657&an

[2020-09-12 03:33] spiffxp commented on #1120
ok, does manually deleting do any better?
[code]
no

[2020-09-12 03:50] spiffxp commented on #1120
[code]

How about that node
[code]

Looking at logs https://console.cloud.google.com/logs/viewer?project=k8s-infra-prow-build&minLogLevel=0&expandAll=false&timestamp=2020-09-12T03:45:42.461000000Z&customFacets=&limitCustomFacetWidth=true&dateRangeStart=2020-09-11T03:45:42.712Z&dateRangeEnd=2020-09-12T03:45:42.712Z&interval=P1D&resource=k8s_node&scrollTimestamp=2020-09-11T19:38:52.000000000Z&filter

[2020-09-12 04:00] spiffxp commented on #1120
Seems like we're running into https://github.com/kubernetes/kubernetes/issues/72226

Issuing a /test command will create a new pod.  Still not clear how to get rid of the pods stuck in terminating

[2020-09-12 04:13] alejandrox1 commented on #1120
/would it be reasonable for these kinds of workloads to go down the
[code]

route?

[2020-09-12 04:13] spiffxp commented on #1120
Issuing that /test command caused the pod to disappear

Last entry in the log for that pod
[code]

So then I manually edited the finalizer for another pod
[code]

[code]

[2020-09-12 04:14] spiffxp commented on #1120
@alejandrox1 I tried that (see https://github.com/kubernetes/k8s.io/issues/1120#issuecomment-691396948) and it didn't delete

[2020-09-12 04:30] spiffxp commented on #1120
Everything that had a deletionTimestamp was hung (this was intended for a markdown table, but the formatting looked worse, so fixed-width it is)
[code]

Patched in empty finalizers for everything that had a deletionTimestamp.
[code]

Nothing stuck in terminating anymore
[code]

[2020-09-12 04:36] spiffxp commented on #1120
Looks like most of the pods that were stuck in Terminating are now running.  Calling it a night, we'll see if prow/tide end up picking up their results later.
[code]

[2020-09-12 04:40] spiffxp commented on #1120
(also _definitely_ cordoning and migrating to a new pool next time)

[2020-09-12 19:24] spiffxp commented on #1120
/close
Looks like tide merged everything it needed to

[2020-09-12 19:24] #1120 closed

[2020-09-15 07:20] bartsmykla commented on #728
As it's not needed anymore I deleted it.

/close

[2020-09-15 07:20] #728 closed

[2020-09-16 07:27] bartsmykla commented on #783
As the PR with dock was merged  think we can close the issue.

/close

[2020-09-16 07:27] #783 closed

[2020-09-18 09:13] #403 closed

[2020-09-18 14:24] spiffxp commented on #613
/remove-lifecycle rotten
I don't have the bandwidth to get to this but I still think it would be useful for sig-docs

[2020-09-21 17:45] MushuEE commented on #789
/remove-lifecycle stale

[2020-09-24 18:10] thockin commented on #715
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2020-09-24 18:10] thockin commented on #904
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2020-09-25 20:06] #516 closed

[2020-09-25 21:57] listx opened #1282 "Add documentation to describe how to backfill pre-VDF images into post-VDF subdir path"
Problem: After the [vanity domain flip][vdf] happened, there are now N subprojects with their own subdirs underneath `k8s.gcr.io/<SUBDIR>`. This is fine. But now we would like to backfill pre-VDF images that currently live in `k8s.gcr.io/<OLD_IMAGE>` into `k8s.gcr.io/<SUBDIR>/<OLD_IMAGE>`. This way, any new post-VDF references that use the SUBDIR prefix can also refer to old images that were built

[2020-09-25 21:58] listx commented on #1282
Which sample projects need backfilling first? @thockin @justaugustus

[2020-09-25 21:59] listx commented on #1282
/assign @listx

[2020-09-26 01:11] #398 closed

[2020-09-26 02:12] #803 closed

[2020-09-28 15:33] spiffxp commented on #825
/remove-lifecycle rotten
/reopen
I'll admit I am personally wary of accidentally blowing away our access, but I still think this is doable

[2020-09-28 17:21] spiffxp opened #1284 "Update k8s-infra prow build clusters from v1.15 to v1.16"
Received an e-mail 2020-09-24 informing me that sometime after 2020-10-06 the control planes for k8s-infra-prow-build/prow-build and k8s-infra-prow-build-trusted/prow-build-trusted will be upgraded to v1.16.

Node pools will not be auto-upgraded at this time.  If we want to do so, we should do it ourselves.

This issue should stay open until both clusters and their node pools have been upgraded.

[2020-09-29 17:56] tcordeu commented on #966
Hey @bartsmykla can I work on this? If so, would you point me to the right direction?

[2020-10-01 14:55] spiffxp commented on #915
I would argue Kubernetes ownership.  This WG's scope is about Kubernetes project infra.  If we're talking about CNCF project infra, this WG should be re-homed under CNCF.

Not in my opinion.  I would argue Kubernetes releases are a special exception..

That would be my preference.

My strawman proposal:
- the source used to create the artifact is part of a Kubernetes subproject (owned by a SIG, or

[2020-10-01 15:59] spiffxp commented on #969
/remove-lifecycle stale
Has this been done?

[2020-10-01 16:06] #852 closed

[2020-10-01 16:08] spiffxp commented on #915
/kind documentation
/area artifacts

[2020-10-02 00:28] thockin commented on #915
CoreDNS is the obvious outlier among existing staging repos.

We could fork it and cut builds from our fork.  A lot of work for low return...

[2020-10-05 12:56] stp-ip commented on #533
/remove-lifecycle stale

[2020-10-05 12:56] stp-ip commented on #176
/remove-lifecycle stale

[2020-10-05 17:43] #1033 closed

[2020-10-06 19:49] spiffxp commented on #851
/close
Closing because it looks like we've got enough capacity for now.  Specifically, there's enough green leftover in the "scalability project (k8s-infra)" pool to account for usage of the other two scalability project pools.  This issue covers provisioning the projects, not migration of the jobs

![Screen Shot 2020-10-06 at 3 48 06 PM](https://user-images.githubusercontent.com/49258/95252708-55

[2020-10-06 19:49] #851 closed

[2020-10-06 20:07] spiffxp commented on #390
/remove-lifecycle rotten

Yes, this is progressing:

Revisiting the description

Done.  Unfortunately it's not possible to adjust project quota via API.  Everything else is scripted today via https://github.com/kubernetes/k8s.io/blob/master/infra/gcp/ensure-e2e-projects.sh

Done.  This was done during development of ensure-e2e-projects.sh.  "Bare" as in no-quota-adjustments projects are in the gce

[2020-10-06 20:09] spiffxp commented on #841
The three jobs that remain are all blocked on https://github.com/kubernetes/k8s.io/issues/846

[2020-10-06 20:27] spiffxp commented on #844
Revisiting the description

Members of k8s-infra-prow-viewers@kubernetes.io can do this

I question whether it's worth making the distinction between "can access secrets" and "can write to cluster".  The more valuable thing would be to build trust and staff k8s-infra-prow-oncall@kubernetes.io.  What do others think?

Members of k8s-infra-prow-viewers@kubernetes.io can do this

RFC: what else do pe

[2020-10-06 20:37] spiffxp opened #1305 "Migrate triage dashboard to wg-k8s-infra"
Part of migrating away from gcp-project k8s-gubernator: https://github.com/kubernetes/k8s.io/issues/1308

Triage is made up of a few components
- periodic jobs run via prow.k8s.io - these should be changed to run on k8s-infra-prow-build
- data files stored in gs://k8s-gubernator/triage - these should be migrated to a new k8s-infra owned GCS bucket
- a static site hosted in gs://k8s-gubernator/tria

[2020-10-06 20:52] spiffxp opened #1306 "Migrate test-infra metrics to wg-k8s-infra"
Part of migrating away from gcp-project k8s-gubernator: https://github.com/kubernetes/k8s.io/issues/1308

These queries: https://github.com/kubernetes/test-infra/tree/master/metrics
- prow jobs that run via prow.k8s.io - these should be migrated to run on k8s-infra-prow-build (-trusted?)
- results are stored in gs://k8s-metrics - we should use a k8s-infra owned bucket instead

Proposal for new pro

[2020-10-06 21:02] spiffxp opened #1307 "Migrate k8s-gubernator:builds dataset to wg-k8s-infra"
Part of migrating away from gcp-project k8s-gubernator: https://github.com/kubernetes/k8s.io/issues/1308

This dataset: https://console.cloud.google.com/bigquery?p=k8s-gubernator

It's used by:
- kettle, which writes to it (migration ref: https://github.com/kubernetes/k8s.io/issues/787)
- go.k8s.io/triage, which uses results from queries against it (migration ref: https://github.com/kubernetes/k8s

[2020-10-06 21:08] spiffxp opened #1308 "Migrate away from google.com gcp project k8s-gubernator"
Part of umbrella issue to migrate away from google.com gcp projects: https://github.com/kubernetes/k8s.io/issues/1469

Umbrella issue for migrating or removing dependence on all of the kubernetes project infra that lives under k8s-gubernator
- [x] kettle: https://github.com/kubernetes/k8s.io/issues/787
- [x] g8r gke cluster: https://github.com/kubernetes/k8s.io/issues/789
- [x] triage: https://git

[2020-10-06 21:16] spiffxp commented on #170
/remove-help
I don't think this is appropriately scoped for help wanted

/priority important-longterm
Very important for the longterm health of this project.  We've migrated image hosting (k8s.gcr.io), but we haven't migrated binary artifact hosting (dl.k8s.io).  So we're not all the way done and already hosting/serving artifacts is a very non-trivial amount of our spend  We will need to start the

[2020-10-06 21:20] spiffxp commented on #887
We're still trying to work out whether we think this is an appropriate use of project resources, ref: https://github.com/kubernetes/k8s.io/issues/915

[2020-10-06 21:43] stp-ip commented on #915
On the CoreDNS side of things we have a (long term) tracking issue: #533
TL;DR: It's more about the possibility to mirror code, and control the build (incl. process) aka have more flexibility what goes into the artifact, but not a full fork only a build wrapper repo of sorts. As we already do mirror the actual artifact and control the endpoint.

On the main issue:
From a user's point of view it se

[2020-10-06 22:01] spiffxp opened #1310 "Migrate away from google.com gcp project kubernetes-jenkins"
Part of umbrella issue to migrate away from google.com gcp projects: https://github.com/kubernetes/k8s.io/issues/1469

Umbrella issue for migrating or removing dependence on all of the kubernetes project infra that lives under kubernetes-jenkins:

**GCS buckets:**
```gsutil ls -p kubernetes-jenkins | grep -v kubernetes-staging- | sed -e 's/.*/- [ ] `&`/'```
- [x] `gs://artifacts-upload-test/`: TOD

[2020-10-06 22:07] spiffxp opened #1311 "Migrate away from google.com gcp project k8s-federated-conformance"
Part of umbrella issue to migrate away from google.com gcp projects: https://github.com/kubernetes/k8s.io/issues/1469

Umbrella issue for migrating or removing dependence on all of the kubernetes project infra that lives under k8s-federated-conformance.  For each of these buckets there may also exist corresponding service accounts.
- gs://k8s-conformance/
- gs://k8s-conformance-alibaba/
- gs://k8s

[2020-10-06 22:15] spiffxp opened #1312 "Migrate away from google.com gcp project k8s-testimages"
Part of umbrella issue to migrate away from google.com gcp projects: https://github.com/kubernetes/k8s.io/issues/1469

Umbrella issue for migrating or removing dependence on all of the kubernetes project infra that lives under k8s-testimages

Full list of images:
[code]

I suspect not all of these images need to be migrated over.  We may also need to watch out for some of these images being consum

[2020-10-08 17:41] spiffxp commented on #846
What has been done:
- created gs://k8s-release-dev (replacement for gs://kubernetes-release-dev) (done via: #1110)
- created gs://k8s-release-pull (replacement for gs://kubernetes-release-pull) (done via: #1110)

What needs to be done:
- ensure ACL's are correct on the new buckets for CI
  - k8s-infra-prow-build should be able to write to them
  - the world should be able to read from them
- setup

[2020-10-08 17:44] spiffxp commented on #846
I think ACL's are correct, we should try running a job and verify whether prow needs privileges than this:
https://github.com/kubernetes/k8s.io/blob/6d3494a9b92999e2d0bbd911b962140cc56328ec/infra/gcp/ensure-release-projects.sh#L161-L164

[2020-10-10 07:15] aojea commented on #468
/remove-lifecycle rotten
/assign

[2020-10-12 10:36] #872 closed

[2020-10-14 15:57] ameukam commented on #846
/assign

[2020-10-15 07:53] bartsmykla commented on #1171
@spiffxp I have created PR with the feature you've been asking: https://github.com/kubernetes/k8s.io/pull/1332

[2020-10-15 08:26] bartsmykla commented on #597
/remove-lifecycle rotten

[2020-10-15 08:29] bartsmykla commented on #597
I think it was fixed/changed via: https://github.com/kubernetes/k8s.io/commit/df93036f1ce09b8be632c74c81a2d6ebd7082324

I'm closing the issue for now, but @listx @fejta feel free to reopen it if I'm wrong

[2020-10-15 08:29] bartsmykla commented on #597
/close

[2020-10-15 08:29] #597 closed

[2020-10-15 11:36] bartsmykla commented on #966
Hi @tcordeu, apologies as I was on PTO. Definitely you can work on it. I'll try to help next week with some directions. :-)

[2020-10-15 14:46] ameukam commented on #1031
/remove-lifecycle stale

[2020-10-15 20:29] #1171 closed

[2020-10-15 21:19] cblecker commented on #1171
@spiffxp @bartsmykla THANK YOU for tracking this down. I was so confused.

cc @nikhita

[2020-10-15 21:22] justaugustus commented on #1171
YASSSSSSSSSSSS. Very awesome! 🎉

[2020-10-16 05:26] bartsmykla commented on #468
Hi @aojea do you have some idea how we could proceed with this issue? :-)

[2020-10-16 06:02] nikhita commented on #1171
@bartsmykla Thank you so much!! This was definitely very confusing!

[2020-10-16 06:10] aojea commented on #468
I have to step by one of the infra wg meetings to understand what is needed.
I'm a bit busy now with dualstack, but will do once I have some time

[2020-10-16 06:48] bartsmykla commented on #1031
I will work on this today

[2020-10-16 12:39] bartsmykla commented on #1031
Actually I maybe not able to sit on it today, so I'll try to do it at Monday.

[2020-10-16 16:45] jimangel opened #1343 "GCR to Artifact Registry tracking"
Tracking issue for moving from Google Container Registry to Google Artifact Registry.

Artifact Registry is "The next generation of Container Registry. Store, manage, and secure your build artifacts." Once Artifact Registry graduates from beta, there will be a minimum of 6 months supported on GCR.

The general impact is: `us.gcr.io/my-project/webapp` becomes `us-docker.pkg.dev/my-project/team1/web

[2020-10-16 17:27] Martin-Luther commented on #468
Cannot reach `apt.kubernetes.io` repository using ipv6 :'(
It is like it is not configured to handle ipv6 requests. I have only one ipv6 on my host :(
I am getting:
[code]
I have internet, and I have ping(6) google and other domains without any troubles.

<img width="1028" alt="Screenshot 2020-10-16 at 19 27 23" src="https://user-images.githubusercontent.com/2272470/96289389-42592d00-0fe5-11eb-985

[2020-10-16 19:03] spiffxp commented on #1343
Looks like this first went beta in March 2020: https://cloud.google.com/artifact-registry/docs/release-notes#March_16_2020

I'm not inclined to suggest we move on this until at least "Container Analysis and vulnerability scanning" is available: https://cloud.google.com/artifact-registry/docs/transition/transition-from-gcr#feature-availability

I would like to understand if k8s.gcr.io already is or

[2020-10-26 20:53] spiffxp opened #1361 "Images aren't being promoted into k8s.gcr.io"
/assign @listx @justaugustus

Both CIP-related jobs started failing over the weekend:
- https://k8s-testgrid.appspot.com/wg-k8s-infra-k8sio#post-k8sio-cip
- https://k8s-testgrid.appspot.com/wg-k8s-infra-k8sio#ci-k8sio-cip

[code]

The error seems to indicate whatever service account they're trying to use has disappeared or become inaccessible.  My guess is they should be using the service account

[2020-10-26 22:27] justaugustus commented on #1361
Opened https://github.com/kubernetes/test-infra/pull/19698 for this.

[2020-10-27 00:09] justaugustus commented on #1361
`ci-k8sio-cip` has bounced back in https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-k8sio-cip/1320862336466030592, so hopefully `post-k8sio-cip` should follow suit on the next merge that touches `{images,manifests}`.

ref: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1603757150461600?thread_ts=1603745644.459600&cid=CJH2GBF7Y

[2020-10-27 00:10] justaugustus commented on #1361
/area release-eng

[2020-10-27 14:18] justaugustus commented on #1361
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-k8sio-cip/1321089778111746048 was a successful run of the postsubmit, so this can be closed now.

ref: https://github.com/kubernetes/k8s.io/pull/1362
/close

[2020-10-27 14:18] #1361 closed

[2020-10-27 16:37] spiffxp commented on #525
/lifecycle frozen

[2020-10-28 15:17] spiffxp commented on #1031
/wg k8s-infra

[2020-10-28 15:28] spiffxp commented on #956
/remove-lifecycle stale
When provisioning projects for e2e I set aside an instance of each type of project for manual debugging.  Technically, there doesn't need to be a node-e2e-project pool separate from the (default) node-e2e-project pool, but at the moment there is a k8s-infra-e2e-node-e2e-project for manual use (ref: https://github.com/kubernetes/k8s.io/blob/master/infra/gcp/ensure-e2e-projec

[2020-10-28 16:15] spiffxp commented on #157
Want to ensure that the documentation for the promotion of everything is up to date

Would like to get someone who isn't @listx or @thockin to respond to an alert, some kind of DiRT scenario

[2020-10-28 16:17] spiffxp commented on #194
/priority backlog
/remove-priority important-longterm

The shape of the billing shows this isn't really important compared to larger infra-sized billing buckets

[2020-10-28 16:20] spiffxp commented on #752
About ready to enumerate:
- setting up a staging prow instance to experiment with running in community infra
- how to shift traffic from prow.k8s.io

[2020-10-28 16:20] spiffxp commented on #843
/assign
need to provide token to trusted cluster for ghproxy

[2020-10-28 16:23] spiffxp commented on #170
Issue covers too much, should break into:
- k8s.gcr.io mirroring
- binary artifact promotion
- artifact mirroring

Can close once those are created

[2020-10-28 16:27] spiffxp commented on #390
/close

[2020-10-28 16:27] #390 closed

[2020-10-28 16:28] spiffxp commented on #193
Would be interested in seeing the data.  Not super important but may give visibility into what images are high traffic etc.

[2020-10-28 16:34] spiffxp commented on #1284
Consider creating an issue to migrate clusters to release channels which would provide more predictable upgrade cadence

[2020-10-28 18:55] pohly commented on #525
I think you meant "we *don't* promote our canaries", right?

Here's a PR which tentatively defines a job which refreshes "canary" for one repo: https://github.com/kubernetes/test-infra/pull/19734

Release candidates are still problematic. We sometimes need those while preparing new sidecars for an upcoming Kubernetes release. On the other hand, the time period where we do need them might be small

[2020-10-28 20:35] msau42 commented on #525
What I meant was we do promote canary builds to official release version tags. We don't promote the "canary" tag.

Yes I think we can treat release candidates separately. We don't want to promote release candidates and merge any tests that depend on release candidates in k/k