[2020-10-29 13:32] mrueg opened #1371 "Document webui access to k8s.gcr.io"
Maybe I couldn't find it, but is there a way to have a webui read-only access and see what's available on k8s.gcr.io?
I'm looking for something like https://console.cloud.google.com/gcr/images/k8s/GLOBAL which one can access for staging repositories e.g. https://console.cloud.google.com/gcr/images/k8s-staging-metrics-server/GLOBAL

It would be great from a user perspective to have read-only visibi

[2020-10-29 15:02] dims commented on #1371
@mrueg please see https://console.cloud.google.com/gcr/images/k8s-artifacts-prod

[2020-10-29 20:20] spiffxp opened #1375 "Setup a budget and budget alerts"
ref: https://cloud.google.com/billing/docs/how-to/budgets

Currently we review our billing reports at each meeting, which means we'll notice abnormalities within a 14-day window.  As our utilization increases, it would be wise for us to use a budget and alerts to catch things sooner.

I tried experimenting with my account, and didn't have sufficient privileges.  We should start there

/priority im

[2020-10-29 20:38] spiffxp opened #1376 "Setup a gitops-driven workflow for google cloud monitoring dashboards"
The use case here is ensuring we don't lose dashboards.  By backing them up into git, we can keep track of when/why they have changed, and restore them if they're deleted from google cloud monitoring.

I really wish the UI provided import/export options to make this easier.  That said, it is possible via the API or `gcloud`: https://cloud.google.com/blog/products/management-tools/cloud-monitoring-

[2020-10-29 20:45] spiffxp commented on #1376
FYI @kubernetes/ci-signal if anyone is interested in this

/help
I am willing to give someone appropriate credentials to develop this workflow, answer questions and review PR's

/area infra/monitoring

[2020-10-29 20:58] spiffxp commented on #157
/assign @justaugustus @thockin
Seems like there was discussion in #wg-k8s-infra about other things to finalize this (from https://kubernetes.slack.com/archives/CCK68P2Q2/p1603988393101900 onward)

Please update this issue accordingly

[2020-10-29 20:58] spiffxp commented on #157
/sig release
/area release-eng

[2020-10-29 22:41] thockin commented on #157
@justaugustus Ball is in your court, IMO.  I'd love to do a test as CIP
exists, make sure the runbook and whatever docs are up to snuff.

On Thu, Oct 29, 2020 at 1:59 PM Aaron Crickenberger <
notifications@github.com> wrote:

[2020-11-03 19:09] spiffxp commented on #787
/remove-lifecycle stale

[2020-11-03 22:01] justaugustus commented on #157
I've been poking around and I just wanted to come back and checklist-ify what @spiffxp mentioned [above](https://github.com/kubernetes/k8s.io/issues/157#issuecomment-718043478):

- [x] Ensure that the image promotion jobs run on community-owned infrastructure vs. google.com-owned infrastructure ([kubernetes-sigs/k8s-container-image-promoter#269](https://github.com/kubernetes-sigs/k8s-container-ima

[2020-11-03 22:42] #1371 closed

[2020-11-03 23:27] justaugustus commented on #157
Another task that fell out of review in https://github.com/kubernetes/k8s.io/pull/1392:
- Enable non-project owners (artifact admins) to receive auditor alerts (ref: https://github.com/kubernetes/k8s.io/pull/1392#discussion_r517004126, https://kubernetes.slack.com/archives/CJH2GBF7Y/p1604443633126800?thread_ts=1604438283.120800&cid=CJH2GBF7Y)

Added to the checklist above.

[2020-11-04 01:57] ameukam opened #1394 "Setup a k8s-infra prow instance"
Part of #752

Why it's needed :

The current prow instance https://prow.k8s.io should be moved to the community-owned infrastructure.
The prow ~staging~ instance `k8s-infra-prow` will help identify the resources needed and define a migration plan.

What's needed (not in a specific order):

- [x] DNS entry for prow-staging.k8s.io: https://github.com/kubernetes/k8s.io/pull/1411
- [X] TLS Certificate

[2020-11-04 18:36] pwittrock opened #1396 "DNS REQUEST: kustomize.sigs"
### Type of DNS update:
one of: Create

### Domain being modified:
`k8s.io`

### New DNS Record:

[code]

### Reason for update:

Create DNS entry for kustomize docs.

[2020-11-04 18:37] pwittrock commented on #1396
cc @SyamSundarKirubakaran

[2020-11-04 22:00] ameukam commented on #1394
/wg k8s-infra
/sig testing
/area cluster-infra
/assign @spiffxp @BenTheElder

[2020-11-05 22:08] #887 closed

[2020-11-06 18:48] pwittrock commented on #1396
https://github.com/kubernetes/k8s.io/pull/1400

[2020-11-07 00:03] ameukam opened #1403 "Upgrade terraform provider for aaa cluster to version 3.*"
The version 2 of the Terraform Google provider is no longer maintained (last version is 2.20.3).

Current version used:
https://github.com/kubernetes/k8s.io/blob/a64cb47f635eac64f576c783e5bc846910d23be8/infra/gcp/clusters/projects/kubernetes-public/aaa/00-inputs.tf#L17-L21

We should upgrade to the version 3 of the provider.

Migration guide: https://registry.terraform.io/providers/hashicorp/googl

[2020-11-13 11:04] #961 closed

[2020-11-19 18:46] justinsb commented on #984
I added the permission to #1016 (and it's in the latest accounts that I just created, but we should wait till #1016 merges before applying to boskos)

[2020-11-20 18:47] spiffxp commented on #1403
If you'd like a starting point, I had started on this while setting up the prow clusters earlier this year.  I got stuck on `create_subnetwork`, more info in the commit message:

https://github.com/spiffxp/k8s.io/commit/435b335dd17368889a4455c654ffa420334b6cca

[2020-11-23 19:14] rikatz commented on #436
/close

I'm closing this, if this became a problem again I'll open a new discussion

[2020-11-23 19:15] rikatz commented on #436
Damn sorry!

I read the wrong issue

/reopen

[2020-11-23 19:16] rikatz commented on #436
/remove-lifecycle stale

[2020-11-24 03:15] idealhack commented on #325
/lifecycle frozen

[2020-11-27 09:45] ameukam commented on #1343
ICYMI, Artifact Registry is now GA: https://cloud.google.com/artifact-registry/docs/transition/transition-from-gcr#feature-availability

[2020-12-02 19:23] justaugustus opened #1458 "Registries for used in k/k CI should be on Kubernetes Community"
ref: @spiffxp at https://github.com/kubernetes/kubernetes/issues/97002#issuecomment-737435131:

`gcr.io/k8s-authenticated-test` is the specific case here, but we should try to cover as many as we find.

/assign
/sig release
/area release-eng artifacts
cc: @kubernetes/release-engineering @kubernetes/ci-signal @thockin

Tagging since they also expressed interest:
@thejoycekung @jeremyrickard @aojea

[2020-12-02 22:54] spiffxp opened #1459 "Setup community-owned equivalent to gcr.io/k8s-authenticated-test registry"
Part of umbrella to kubernetes e2e test images/registries to community-owned infrastructure: https://github.com/kubernetes/k8s.io/issues/1458

The registry is used by the following kubernetes e2e tests:
- [sig-apps] ReplicaSet should serve a basic image on each replica with a private image
- [sig-apps] ReplicationController should serve a basic image on each replica with a private image

The k8s-a

[2020-12-02 22:55] spiffxp commented on #1459
/wg k8s-infra
/area artifacts
/sig testing
/sig release
/area release-eng

[2020-12-03 13:47] ameukam commented on #1312
/area artifacts

[2020-12-03 17:06] spiffxp commented on #1458
/sig testing

[2020-12-03 17:06] spiffxp commented on #1396
/close
https://kustomize.sigs.k8s.io/ exists

[2020-12-03 17:07] #1396 closed

[2020-12-03 23:01] spiffxp opened #1460 "Migrate away from google.com gcp project kubernetes-ci-images"
Part of umbrella issue to migrate away from google.com gcp projects: https://github.com/kubernetes/k8s.io/issues/1469

Part of umbrella to migrate kubernetes e2e test images/registries to community-owned infrastructure: kubernetes/k8s.io#1458

Pulling this out of https://github.com/kubernetes/test-infra/issues/19483 which covered running `ci-kubernetes-build` on community-owned infrastructure

The

[2020-12-03 23:06] spiffxp commented on #1460
Per https://github.com/kubernetes/test-infra/issues/19483#issuecomment-735899029

- `kinder` doesn't use `gcr.io/kubernetes-ci-images`, so it's not impacted; it needs to be updated to use `gs://k8s-release-dev` (ref: https://github.com/kubernetes/kubeadm/issues/2355)
- `kubeadm` needs to change to use a new default value, either via a new API version, or across all existing APIs (ref: https://gith

[2020-12-03 23:06] spiffxp commented on #1460
/area artifacts
/area release-eng
/sig release
/sig testing
/sig cluster-lifecycle
/wg k8s-infra

[2020-12-04 01:47] spiffxp commented on #1459
For reference, here's the output of `gsutil iam get gs://artifacts.k8s-authenticated-test.appspot.com/`
[code]

To keep the behavior of these tests as-is using a new registry, the key part is `allAuthenticatedUsers` instead of `allUsers`.

That said, I question whether we should keep these tests at all, ref: https://github.com/kubernetes/kubernetes/issues/97026#issuecomment-738500525

[2020-12-07 21:07] spiffxp opened #1466 "Migrate away from google.com gcp project kubernetes-tools"
Part of umbrella issue to migrate away from google.com gcp projects: https://github.com/kubernetes/k8s.io/issues/1469

We used to host slack-infra on a cluster running in kubernetes-tools.  The cluster has since been turned down: https://github.com/kubernetes/k8s.io/issues/790

However there are still references to images in this project: https://cs.k8s.io/?q=kubernetes-tools&i=nope&files=&repos=

[2020-12-07 21:07] spiffxp commented on #1466
/wg k8ra-infra
/sig contributor-experience

[2020-12-07 21:09] spiffxp commented on #1466
Here's what we have in the staging repository
[code]

[2020-12-07 21:11] spiffxp commented on #1466
We are missing slackin, which is referenced here: https://github.com/kubernetes/k8s.io/blob/54e8506f8404206eb15d619ac55324332a47985c/slack-infra/resources/slackin/deployment.yaml#L19

[2020-12-08 20:45] spiffxp opened #1469 "Umbrella issue: migrate away from google.com gcp projects"
An umbrella issue for wg-k8s-infra's mission: migrate project infrastructure away from the google.com GCP org, to the CNCF-owned/community-managed kubernetes.io GCP org.

Projects that host infrastructure (services, images, gcs buckets, service accounts, clusters, etc)
- k8s-federated-conformance
- k8s-gubernator
- k8s-mungegithub
- k8s-prow
- k8s-prow-builds
- k8s-tempelis
- k8s-testimages
- kube

[2020-12-08 20:52] spiffxp commented on #241
/close
Closing this in favor of #1469

[2020-12-08 20:52] #241 closed

[2020-12-09 17:18] jingxu97 opened #1544 "cloudbuild job failed to access k8s-artifacts-csi"
I have a clouldbuild job https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-csi-proxy-push-images/1305641389169577989 failed due to permission.

ResumableUploadAbortException: 403 272675062337@cloudbuild.gserviceaccount.com does not have storage.objects.create access to k8s-artifacts-csi/csi-proxy/dev/csi-proxy-master.exe.
CommandException: 1 file/object could not be transferred.
ERROR
ERRO

[2020-12-10 00:03] ameukam commented on #1466
@spiffxp Since the slackin image used is built from a fork (possibly https://github.com/Katharine/slackin), we could manually push the image to `gcr.io/k8s-staging-slack-infra/`.

[2020-12-10 00:40] ameukam opened #1475 "hook up build clusters to prow staging instance"
Part of #1394

* ensure `aaa` cluster has network access to `k8s-infra-prow-build` and `k8s-infra-prow-build-trusted` build clusters
* Generate kubeconfig config (and credentials) for `k8s-infra-prow-build` and `k8s-infra-prow-build-trusted` and them as secrets in namespace `prow` (in `aaa` cluster). see prow [doc](https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md

[2020-12-10 14:30] munnerz opened #1476 "cert-manager cannot renew k8s-io-prod certificate due to second IPv6 ingress"
As initially reported and discussed [on Slack](https://kubernetes.slack.com/archives/CCK68P2Q2/p1607546569252400), the `k8s-io-prod` certificate (used for the redirector service) is failing to renew.

After some debugging, there are two issues at play here:

* #1374 adding a second IPv6 only Ingress resource and the AAAA record configured to point to this - cert-manager only knows to update a _sin

[2020-12-10 14:31] munnerz commented on #1476
/area infra/cert-manager

[2020-12-10 15:29] ameukam commented on #1476
@munnerz A possible short-term workaround for (2) : https://github.com/kubernetes/ingress-gce/issues/43#issue-264678302/

[2020-12-10 16:47] munnerz commented on #1476
Nice find 😄 here is a list of in-use ports after running `ports=$(gcloud compute backend-services list --global --format='value(port,port)' |  xargs printf 'port%s:%s,')`:

[code]

I can go ahead and update the named ports for each instance group to this list. What is the best way to coordinate running a potentially risky command like this? :)

[2020-12-10 16:53] spiffxp commented on #1284
The control plane was automatically upgraded to 1.16 overnight
[code]

Node pools are still at 1.15
[code]

[2020-12-10 17:11] spiffxp commented on #1475
I would hold off on this until you've documented more of a transition plan.

To date, I'm not sure we have successfully had two prow service clusters pointed at the same build cluster.  There are a number of potentially-dueling prow components to consider.  @chaodaiG was looking into this recently for a different prow/build-cluster for a different project (ref: https://github.com/kubernetes/test-i

[2020-12-10 17:11] spiffxp commented on #1475
cc @BenTheElder @amwat

[2020-12-10 17:29] bowei commented on #1476
/assign

[2020-12-10 18:20] spiffxp commented on #1466
Did the manual push as a workaround for now.
[code]

[2020-12-10 22:57] bowei commented on #1476
@spencerhance @rramkumar1

[2020-12-11 04:09] cblecker commented on #1476
@munnerz What services would be potentially impacted (documenting a list would be great)? That way we can determine risk and who we'd have to notify.

[2020-12-11 19:55] munnerz commented on #1476
/priority important-soon
/remove-priority critical-urgent

[2020-12-11 20:07] cblecker commented on #1476
awesome! thank you!

[2020-12-11 20:21] dims commented on #1476
Thanks a ton @munnerz @thockin

[2020-12-11 21:06] thockin commented on #1476
GCP folks are looking at (3) and then (2) longer term

[2020-12-14 14:58] ncdc commented on #1116
Closing this as we have the access we need to proceed. If we need additional support, we can open new issues. Thanks!

/close

[2020-12-14 14:58] #1116 closed

[2020-12-19 20:30] justaugustus commented on #766
/reopen
/remove-lifecycle rotten

[2020-12-28 02:41] cblecker commented on #420
/remove-lifecycle rotten

[2020-12-31 08:49] chirangaalwis opened #1502 "[Question] Road Map for the Kubernetes component Images under kubeimage DockerHub profile"
**Description:**
Is the [`kubeimage`](https://hub.docker.com/u/kubeimage) DockerHub profile officially maintained by the Kubernetes Community?

If so, what is the road map for maintaining images under this profile?

**Note:**
Encountered the details regarding the [vanity domain flip](https://github.com/kubernetes/k8s.io/blob/master/k8s.gcr.io/Vanity-Domain-Flip.md#the-solution) and the latest imag

[2021-01-04 22:44] thockin commented on #915
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2021-01-06 18:11] spiffxp commented on #1502
No, kubeimage is not part of the kubernetes project.  Not sure who owns or maintains that.

The source of truth for Kubernetes images is k8s.gcr.io.

Our DockerHub account is https://hub.docker.com/u/kubernetes, and the intent is for it to be explicitly empty (deleting the pause image keeps falling off my priority list, ref: https://github.com/kubernetes/k8s.io/issues/237#issuecomment-673586373)

[2021-01-06 18:11] #1502 closed

[2021-01-06 23:18] rikatz opened #1507 "Create a monitor/cronjob for certificates to expire"
As per 06/jan/2021 k8s-infra meeting, we need to create a way to monitor and alert this group (and later the owners, sig-owning it, etc) about Let’s Encrypt generated certificates about to expire.

This way if cert-manager stops working the responsible people/on call team will have enough time to take action before the certificate effectively expires and before generating a worst incident

[2021-01-06 23:18] rikatz commented on #1507
/assign @rikatz @justinsb

[2021-01-06 23:23] rikatz opened #1508 "Update the cluster cert-manager"
Cluster cert-manager needs to be updated.

Per manifests, the installed version is v0.13 while the last version is v1.1

Some steps needs to be taken before updating (this playbook must be run somewhere else before submitting a PR to the repo to validate those steps)

* verify which gke version is running (and which kubectl version to be used) per cert-manager docs
* Update to the last v0.x (v0.16

[2021-01-06 23:24] rikatz commented on #1508
/assign @rikatz
/cc @munnerz

[2021-01-08 19:10] ameukam commented on #1306
/remove-lifecycle stale

[2021-01-08 19:10] ameukam commented on #1307
/remove-lifecycle stale

[2021-01-08 19:11] ameukam commented on #1305
/remove-lifecycle stale

[2021-01-08 19:11] ameukam commented on #841
/remove-lifecycle stale

[2021-01-08 19:11] ameukam commented on #789
/remove-lifecycle stale

[2021-01-11 10:24] mm4tt opened #1535 "unknown: Service 'containerregistry.googleapis.com' is not enabled for consumer 'project:k8s-infra-e2e-boskos-scale-Xcd ..'."
This make all presubmit kubemark jobs (which are now optional, that's why we haven't caught it earlier) to fail

[2021-01-11 15:07] dims commented on #1343
Update from @saschagrunert : "We have a research topic on our board about "Support for Google Artifact Registry and how do we transition?"" ( from https://kubernetes.slack.com/archives/C2C40FMNF/p1610377375328600 )

[2021-01-11 19:30] justaugustus commented on #1343
This will be part of SIG Release's Artifact Mgmt epic, which I'll be working to flesh out this cycle.

ref: https://github.com/kubernetes/sig-release/issues/1372
/assign
/milestone v1.21

[2021-01-12 21:45] spiffxp opened #1520 "pull-k8sio-cip should fail on manifest changes that mutate tags"
https://github.com/kubernetes/k8s.io/pull/1509 should not have been allowed to merge

It did, and broke:
- the image promoter CI job: https://testgrid.k8s.io/wg-k8s-infra-k8sio#ci-k8sio-image-promo&width=20
- future instances of pull-k8sio-cip, eg: https://github.com/kubernetes/k8s.io/pull/1515 was blocked

pull-k8sio-cip appeared to skip, but not fail, attempted tag moves in dry-run mode: (ref: h

[2021-01-13 11:24] xmudrii commented on #1520
Is this eventually relevant/related to https://github.com/kubernetes-sigs/k8s-container-image-promoter/issues/277?

[2021-01-13 19:24] spiffxp opened #1522 "Migrate away from google.com gcp project kubernetes-e2e-test-images"
Related:
- Part of umbrella issue to migrate away from google.com gcp projects: https://github.com/kubernetes/k8s.io/issues/1469
- Part of umbrella to migrate kubernetes e2e test images/registries to community-owned infrastructure: https://github.com/kubernetes/k8s.io/issues/1458
- Companion issue to https://github.com/kubernetes/kubernetes/issues/96770

We should migrate away from the google.com-

[2021-01-13 19:32] spiffxp opened #1523 "Migrate away from google.com gcp project k8s-testimages"
Part of umbrella issue to migrate away from google.com gcp projects: https://github.com/kubernetes/k8s.io/issues/1469

At least some of this is part of the umbrella to migrate kubernetes e2e test images/registries to community-owned infrastructure: https://github.com/kubernetes/k8s.io/issues/1458

We should migrate away from the google.com-owned gcr.io/k8s-testimages repository and instead use a c

[2021-01-13 19:34] spiffxp commented on #1312
/close
Closing in favor of https://github.com/kubernetes/k8s.io/issues/1523

[2021-01-13 19:34] #1312 closed

[2021-01-13 19:41] spiffxp opened #1525 "Migrate away from google.com gcp project gke-release"
Part of umbrella issue to migrate away from google.com gcp projects: https://github.com/kubernetes/k8s.io/issues/1469

Part of umbrella to migrate kubernetes e2e test images/registries to community-owned infrastructure: https://github.com/kubernetes/k8s.io/issues/1458

There are a variety of gcr.io/gke-release images referenced in kubernetes/kubernetes CI (and sundry kubernetes-sigs projects).  Th

[2021-01-13 19:47] spiffxp commented on #1310
At the moment it's not clear to me whether we can update prow.k8s.io to support different jobs writing to different buckets, or if we're going to have to make the change in lockstep.  This is why migrating gs://kubernetes-jenkins needs a proposal

[2021-01-13 19:53] spiffxp opened #1526 "Migrate away from google.com gcp project kubernetes-jenkins-pull"
Part of umbrella issue to migrate away from google.com gcp projects: https://github.com/kubernetes/k8s.io/issues/1469

Umbrella issue for migrating or removing dependence on all of the kubernetes project infra that lives under kubernetes-jenkins-pull:
- gs://kubernetes-release-pull (or stop using this bucket entirely, ref: https://github.com/kubernetes/test-infra/issues/18789)
- pr-kubekins@kubern

[2021-01-13 23:00] spiffxp opened #1527 "Migrate away from google.com gcp project kubernetes-node-e2e-images"
Part of umbrella issue to migrate away from google.com gcp projects: https://github.com/kubernetes/k8s.io/issues/1469

Part of umbrella to migrate kubernetes e2e test images/registries to community-owned infrastructure: https://github.com/kubernetes/k8s.io/issues/1458

This project is referenced in kubernetes/kubernetes as a default project (ref: https://cs.k8s.io/?q=kubernetes-node-e2e-images&i=n

[2021-01-13 23:05] spiffxp opened #1528 "Migrate away from google.com gcp project authenticated-image-pulling"
Part of umbrella issue to migrate away from google.com gcp projects: https://github.com/kubernetes/k8s.io/issues/1469

Part of umbrella to migrate kubernetes e2e test images/registries to community-owned infrastructure: https://github.com/kubernetes/k8s.io/issues/1458

This project is referenced in kubernetes/kubernetes (ref: https://cs.k8s.io/?q=authenticated-image-pulling&i=nope&files=&repos=)

[2021-01-14 17:36] spiffxp commented on #844
/close
Calling this done, we can open separate issues if we'd like to adjust prow-related ACL's

[2021-01-14 17:36] #844 closed

[2021-01-14 17:38] spiffxp commented on #843
Blocked on https://github.com/kubernetes/test-infra/issues/11402#issuecomment-760350837

[2021-01-14 17:39] spiffxp commented on #157
I'm assuming this remains unfinished given the issues linked in https://github.com/kubernetes/k8s.io/issues/157#issuecomment-721397190 remain open

[2021-01-14 17:40] spiffxp commented on #157
/milestone v1.21

[2021-01-15 02:28] spiffxp commented on #244
/remove-lifecycle rotten
/reopen
We are sorely in need of this.  We went 7 months without anyone bothering to run the audit script manually.

[2021-01-15 02:29] spiffxp commented on #244
/priority important-soon
/milestone v1.21

[2021-01-15 02:39] spiffxp commented on #244
/remove-priority backlog

[2021-01-15 02:47] spiffxp commented on #1535
/wg k8s-infra
/sig testing
/priority important-soon

[2021-01-15 02:51] spiffxp commented on #1535
I opened https://github.com/kubernetes/k8s.io/pull/1536 but it will require a human to run

Scripting something to run just for scale projects to unblock you for now.

[2021-01-15 02:54] spiffxp commented on #1535
[code]
[code]

[2021-01-15 02:54] spiffxp commented on #1535
/sig scalability

[2021-01-15 02:54] spiffxp commented on #1535
/milestone v1.21

[2021-01-15 03:10] spiffxp commented on #1284
Initiating an upgrade from 1.15.12-gke.6001 to 1.16.15-gke.4300 for pool4

[2021-01-15 10:31] mm4tt commented on #1535
Thanks @spiffxp! Let me check whether it works now

[2021-01-15 11:55] mm4tt commented on #1535
It works - kubernetes/kubernetes#97858.

[2021-01-15 18:27] spiffxp commented on #1284
Upgrade of k8s-infra-prow-build pool4 completed in ~3 hours
[code]

Next, greenhouse pool

[2021-01-15 18:45] spiffxp commented on #1284
Also upgrade k8s-infra-prow-build-trusted pool1, same old/new versions

[2021-01-15 19:26] spiffxp commented on #969
/remove-lifecycle stale
/assign @ameukam @bartsmykla @chizhg
Has this been done?

[2021-01-15 19:34] spiffxp commented on #1093
/remove-lifecycle rotten
We still don't know whether we need ingress projects.  These are the jobs we should try migrating to confirm whether we do: https://github.com/kubernetes/k8s.io/issues/1093#issuecomment-684062628

The approach I would recommend is switching a job to run on k8s-infra-prow-build, and switch from boskos (`--gcp-project-type=`) to manual (`--gcp-project=`k8s-infra-e2e-ingress-

[2021-01-15 19:34] spiffxp commented on #1284
All nodepools for all k8s-infra prow build clusters have been upgraded to 1.16.15

I will hold open until end of day to see if any issues arise from greenhouse or trusted updates.

Next step: consider moving these clusters to release channels

[2021-01-15 19:47] spiffxp opened #1541 "Update k8s-infra prow build clusters from v1.16 to release channels"
Upgrading cluster versions is currently done at a time of our choosing, but we've let our clusters fall out of supported versions.  Using GKE release channels means cluster version will get upgraded as versions fall out of support.

For more info on channels/schedule, see https://cloud.google.com/kubernetes-engine/docs/concepts/release-channels#channels

We're now on v1.16.  If we move to release

[2021-01-15 20:02] chizhg commented on #969
We actually don't need it anymore at this moment.
So let's close it for now.

[2021-01-15 20:02] #969 closed

[2021-01-15 22:54] ameukam commented on #1541
#1402 give the possibility to change the release channel in the terraform gke module `gke-cluster`. Once the change is applied, Terraform will register the cluster to the release channel defined.

[2021-01-20 16:05] spiffxp commented on #193
We tried turning this on a while back and had to turn it off for reasons I can't recall.  May be able to turn it on again soon?

[2021-01-20 16:06] spiffxp commented on #752
/assign @ameukam
since also working on staging prow

[2021-01-20 16:08] spiffxp commented on #1535
/close
https://github.com/kubernetes/k8s.io/pull/1536 merged and I ran the script

[2021-01-20 16:09] #1535 closed

[2021-01-20 16:09] spiffxp commented on #1284
/close
Opened https://github.com/kubernetes/k8s.io/issues/1541 for move to release channels

[2021-01-20 16:10] #1284 closed

[2021-01-20 16:11] spiffxp commented on #159
/close

[2021-01-20 16:11] #159 closed

[2021-01-20 16:16] spiffxp commented on #1310
/lifecycle frozen

[2021-01-20 16:25] ameukam commented on #969
@spiffxp The DNS entyr have been added : https://github.com/kubernetes/k8s.io/pull/1471. It will be used for https://github.com/kubernetes/k8s.io/issues/1394.

[2021-01-20 16:28] spiffxp commented on #1187
/remove-lifecycle rotten
Creating node pools with local boot SSD's may be possible in a later version, but we're not there yet

[2021-01-20 16:31] spiffxp commented on #1282
/kind documentation
/wg k8s-infra
/area artifacts
/sig release
/area release-eng
/assign @justaugustus @hasheddan
FYI @kubernetes/release-engineering
Is this still relevant?

[2021-01-20 17:29] rikatz commented on #244
/lifecycle active
So bot doesn't close this :P
Will see at least if I can find someone to take a look into this and help :)

[2021-01-20 17:31] listx commented on #1520
/cc

[2021-01-20 17:56] chizhg commented on #969
Thanks @ameukam ! Glad it will be useful for your use case :-)

[2021-01-20 20:50] justaugustus commented on #1282
Given we've done the VDF in https://github.com/kubernetes/release/issues/270 and all images were backfilled, I'd say let's close this.

For RelEng, I copied the last two or three versions of our images and promoted those ahead of VDF.
I'd suggest subprojects that need similar to do the same in a post-VDF world, instead of having us sign up for the discovery work, which I think ultimately will be l

[2021-01-20 20:51] #1282 closed

[2021-01-21 18:19] spiffxp commented on #715
/milestone v1.21

[2021-01-21 18:19] spiffxp commented on #1544
/milestone v1.21

[2021-01-21 18:19] spiffxp commented on #1544
/assign

[2021-01-21 18:19] spiffxp commented on #1541
/assign @spiffxp @ameukam
/milestone v1.21

[2021-01-21 18:20] spiffxp commented on #1031
/assign @spiffxp @ameukam
/milestone v1.21
We discussed moving on this as part of moving aaa to release channel

[2021-01-21 18:20] spiffxp commented on #1507
/milestone v1.21

[2021-01-21 18:20] spiffxp commented on #1520
/milestone v1.21

[2021-01-21 18:25] spiffxp commented on #956
I'm still open to doing this

/assign @SergeyKanzhelev @alejandrox1 @MHBauer
Would like some input from SIG Node CI Subgroup

[2021-01-21 18:25] spiffxp commented on #956
/milestone v1.21

[2021-01-21 18:30] spiffxp commented on #825
/remove-lifecycle stale
/help
This remains low priority for me personally, but if someone wants to verify that using `set` vs `add` won't lock us out in a personal project, I would be willing to review

[2021-01-21 18:32] spiffxp commented on #1522
/assign @claudiubelu @aojea
who have done a fair amount of work on this already
/assign @spiffxp
/milestone v1.21

[2021-01-21 18:33] spiffxp commented on #1459
/miletone v1.21
/sig apps
test owner
/sig node
I think this is a more appropriate test owner for this functionality

[2021-01-21 18:34] spiffxp commented on #1523
/milestone v1.21

[2021-01-21 18:37] spiffxp commented on #1525
/milestone v1.21

[2021-01-21 18:37] spiffxp commented on #1527
/milestone v1.21

[2021-01-21 18:38] spiffxp commented on #1541
/area cluster-mgmt
/wg k8s-infra
/sig testing

[2021-01-21 18:40] spiffxp commented on #1403
/wg k8s-infra
/milestone v1.21
/assign @ameukam
please unassign if you don't have bandwidth to work on this

[2021-01-21 18:41] spiffxp commented on #420
/sig contributor-experience
/help

[2021-01-21 19:16] ameukam commented on #1403
/unassign
/help
@spiffxp It would be great to have a sandbox project ( and maybe with a pre-defined budget) where people can safely work on this issue.

[2021-01-21 19:29] spiffxp commented on #1305
/assign @spiffxp
/milestone v1.21

[2021-01-21 19:30] spiffxp commented on #1306
/assign @MushuEE
for help fleshing out steps, I think this could qualify for /help

[2021-01-21 19:31] spiffxp commented on #1307
/milestone v1.21
/assign @spiffxp @MushuEE
to investigate possible approaches

[2021-01-21 19:31] spiffxp commented on #1306
/milestone v1.21

[2021-01-21 19:38] spiffxp commented on #787
/assign @MushuEE @spiffxp
to investigate possible approaches

[2021-01-21 19:39] spiffxp commented on #789
/milestone v1.21

[2021-01-21 19:43] spiffxp commented on #1528
/milestone v1.21

[2021-01-21 19:47] spiffxp commented on #1460
/milestone v1.21
/assign @spiffxp @neolit123

[2021-01-21 19:48] spiffxp commented on #1466
/milestone v1.21

[2021-01-21 19:52] spiffxp commented on #436
/sig release
/area release-eng
/area artifacts
/milestone v1.21
/assign @cpanato @hasheddan
I think we basically have this now, I will defer to @kubernetes/release-engineering whether this can be closed.  I would consider gating promotion based on vulns to be a followup issue.

[2021-01-21 19:53] spiffxp commented on #1187
I'm really interested in seeing this happen, but I can't guarantee I'll have bandwidth this cycle, so leaving out of milestone.  Gated on migrating cluster to 1.18

[2021-01-21 19:59] spiffxp commented on #1458
/milestone v1.21
This covers a subset of projects in umbrella issue https://github.com/kubernetes/k8s.io/issues/1469

[2021-01-21 20:42] neolit123 commented on #1460
just logged a cluster-api ticket (req changes appear to be minimal and non-blocking):
https://github.com/kubernetes-sigs/cluster-api/issues/4103

for kubeadm, the GCR change is done:
https://github.com/kubernetes/kubeadm/issues/2356
(and cherry picked to the support skew)

just merged the GCS change for kinder too:
https://github.com/kubernetes/kubeadm/issues/2355

[2021-01-21 21:48] spiffxp commented on #244
Chatted with @hh about this

[2021-01-21 22:24] spiffxp commented on #244
/uncc @bartsmykla
/priority critical-urgent
During yesterday's meeting @thockin suggested we should be making no more big changes to infra until we have this taken care of.  I don't like blocking everything for too long, but I am inclined to agree.

[2021-01-22 02:37] hh commented on #244
/assign @hh

[2021-01-22 03:04] hh commented on #244
I didn't get a chance to dive deep into this, but we have a somewhat working similar script that does currently create or update a PR when changes have occurred in conformance data underpinning apisnoop.cncf.io :

https://github.com/cncf/apisnoop/blob/gcb-snoodb-pr-gater/cloudbuild.yaml

[2021-01-22 18:35] spiffxp opened #1569 "Redirect dl.k8s.io traffic to a community-owned GCS bucket instead of kubernetes-release"
Part of umbrella issues:
- to deprecate and migrate away from gs://kubernetes-release: https://github.com/kubernetes/k8s.io/issues/2396
- to migrate away from GCP project google-containers: https://github.com/kubernetes/k8s.io/issues/1571

Traffic gets to `gs://kubernetes-release` in one of two ways:
- uri's that have the bucket name hardcoded (e.g. https://cs.k8s.io/?q=kubernetes-release%5B%5E-%5

[2021-01-22 18:46] spiffxp commented on #841
I think build-master-fast may be done, I forget if it actually needed kubernetes-ci-images access

[2021-01-22 18:46] spiffxp commented on #841
/milestone v1.21

[2021-01-22 22:15] spiffxp commented on #846
https://github.com/kubernetes/test-infra/issues/19483#issuecomment-733277378 - points out there are many references to `kubernetes-release-dev` across the project

I'd like to scope this issue to just the job configs in kubernetes/test-infra.  We can consider this closable once all job configs have migrated to reference k8s-release-dev (except those necessary to maintain kubernetes-release-dev dur

[2021-01-22 22:23] spiffxp opened #1571 "Migrate away from google.com GCP project google-containers"
Part of umbrella issue to migrate away from google.com gcp projects: https://github.com/kubernetes/k8s.io/issues/1469

This GCP project has historically hosted the kubernetes project's artifacts in GCR and GCS.

Suggested path forward:
- [x] migrate away from gcr.io/google-containers
  - [x] use k8s.gcr.io instead of gcr.io/google-containers (https://github.com/kubernetes/release/issues/270)
  - [

[2021-01-22 22:25] spiffxp commented on #846
/milestone v1.21

[2021-01-22 22:26] spiffxp commented on #904
/priority important-longterm
/milestone v1.21

[2021-01-22 22:26] spiffxp commented on #1187
/priority backlog
/milestone v1.21
changed my mind about milestoning, I'll assign low priority

[2021-01-22 22:27] spiffxp commented on #330
/priority important-longterm

[2021-01-22 22:27] spiffxp commented on #420
/priority important-longterm

[2021-01-22 22:31] spiffxp commented on #176
/remove-priority backlog
/priority important-longterm
/milestone v1.21

Since we're going to want to make changes to dl.k8s.io as part of https://github.com/kubernetes/k8s.io/issues/1569, now might be the right time to re-examine how this is deployed/managed

[2021-01-22 22:33] spiffxp commented on #766
/sig release
/priority backlog

[2021-01-22 22:34] spiffxp commented on #176
/remove-lifecycle stale

[2021-01-22 22:36] spiffxp commented on #193
/assign @hh
since you had expressed interest in working on this

[2021-01-22 22:36] spiffxp commented on #915
/assign @thockin @dims @spiffxp
/priority important-longterm

[2021-01-22 22:38] spiffxp commented on #752
/priority important-longterm
I don't know how much time I'll have to work on completing a plan by end of v1.21

[2021-01-22 23:00] spiffxp opened #1572 "Upgrade cluster terraform files to be compatible with terraform >= 0.13"
Part of issue to upgrade the version of terraform used by our modules: https://github.com/kubernetes/k8s.io/issues/2020

Currently our terraform files require some version of terraform 0.12
[code]

We should upgrade, ideally to 0.14.  If it's too much effort, we should try for at least 0.13. Relevant guides:
- https://www.terraform.io/upgrade-guides/0-13.html
- https://www.terraform.io/upgrade-gui

[2021-01-22 23:03] spiffxp commented on #1571
/priority important-longterm

[2021-01-23 18:32] spiffxp commented on #516
/remove-lifecycle rotten
/lifecycle frozen
/priority important-longterm
I don't have the bandwidth for this, and this issue is maybe too broad to stay open, but I think the point stands that:
- continuing with our bash as-is will deepen our tech debt
- we aren't comfortable enough with our bash to allow automation to run it

Whatever we use, even if it's bash, we need:
- tests to enforce conventio

[2021-01-23 18:42] spiffxp commented on #508
/remove-lifecycle rotten
/milestone v1.21
I can take another crack at this, or I'm open to suggestions from others

[2021-01-24 00:00] justaugustus commented on #170
Will be covered as part of the SIG Release Artifact Mgmt epic: https://github.com/kubernetes/sig-release/issues/1372
I'll close this out once I've captured everything that was in this issue.

/assign
/milestone v1.21

[2021-01-24 00:09] justaugustus commented on #170
Captured Aaron's asks in https://github.com/kubernetes/sig-release/issues/1372#issuecomment-766241874.

/close

[2021-01-24 00:09] #170 closed

[2021-01-24 17:50] neolit123 commented on #1460
it seems we aren't publishing the latest artifacts to the new GCS?
https://github.com/kubernetes/kubeadm/issues/2380#issuecomment-766401628

[2021-01-25 13:02] cpanato opened #1576 "Increase the GCB quota limit"
#### What happened:

When some post jobs to build the images ran all together we are getting some quota limit in the GCB

[code]

Project number: `180382678033`

We need to increase the limit in the google cloud platform for the google cloud build to allow more jobs to be submitted in parallel.

Parent Issue: https://github.com/kubernetes/release/issues/1869

cc: @kubernetes/release-engineering @k

[2021-01-25 13:10] ameukam commented on #1576
/sig release
/area release-eng

[2021-01-25 23:20] spiffxp commented on #1576
Looking...

https://cloud.google.com/cloud-build/quotas only lists
- concurrent builds per project (10)
- build triggers per project (300)

180382678033 is... k8s-infra-prow-build-trusted
[code]

This page should be visible to members of k8s-infra-prow-oncall@kubernetes.io (ref: https://github.com/kubernetes/k8s.io/blob/master/groups/groups.yaml#L628)
https://console.cloud.google.com/iam-admin/quo

[2021-01-25 23:22] spiffxp commented on #1576
None of the other cloud build quotas for this project are anywhere near their limit

[2021-01-26 12:13] cpanato commented on #1576
@spiffxp
I saw that happening when some image build jobs have triggered all together (those jobs: https://github.com/kubernetes/test-infra/blob/master/config/jobs/image-pushing/releng/k8s-staging-build-image.yaml)

For example:
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-release-push-image-debian-hyperkube-base/1352583162915459072

- was this a spike in traffic?
yes, most likely, b

[2021-01-26 12:42] cpanato commented on #436
We now have this initial page that shows the vulns for the images we published

https://storage.googleapis.com/k8s-artifacts-prod-vuln-dashboard/dashboard.html

it is not beautiful, but I'm working to make it more "nice" and will open some discussion in RelEng to define the next steps.

/note-myself to add this topic in the RelEng agenda

[2021-01-26 17:12] spiffxp commented on #1576
We're going to continue to hit this if we don't refactor which project requests are being allocated to.

I was going to bump quota while we investigate further, but it turns out I can only lower quota for this, not raise it.  This is a service api limit
![Screen Shot 2021-01-26 at 11 56 59 AM](https://user-images.githubusercontent.com/49258/105877102-9b196800-5fcd-11eb-9f39-a0f8c98691e2.png)

k8s-

[2021-01-26 17:16] spiffxp commented on #1576
If I had to guess off-the-cuff, I wonder if the gcb jobs should be using a service account per staging project, instead of one shared 'gcb-builder' service account.  Are there some central shared resources that require the gcb-builder SA?

[2021-01-26 17:19] spiffxp commented on #1576
Out of curiosity I checked out k8s-staging-e2e-test-images since we think that's the culprit for recent spikes:
https://console.cloud.google.com/apis/api/cloudbuild.googleapis.com/quotas?orgonly=true&project=k8s-staging-e2e-test-images&supportedpurview=project&pageState=(%22duration%22:(%22groupValue%22:%22P14D%22,%22customValue%22:null))

No api request traffic, concurrent build quota exceeded so

[2021-01-26 18:32] claudiubelu commented on #1525
We've already added Windows support to the pause image, and it has already been built and promoted. Here's a PR that will replace the windows pause image references: https://github.com/kubernetes/kubernetes/pull/98205

[2021-01-26 18:38] cpanato commented on #1525
@spiffxp I can help here will assign to myself to start the work

/assign

[2021-01-26 20:52] bernokl commented on #244
For this job I would suggest using the working pr-creator from the yaml hh posted above,
The alternative is to use golang-pr creator, I am reluctant to incur the overhead of the golang-pr creator, when the solution is so short.
Is there a reason to use the entire complexity of golang when our entire job that currently works is only this?

cp -r coverage/[artifact] path/to/repo/[artifact]
    cd re

[2021-01-26 20:55] bernokl commented on #244
Currently we use gcb for our build which means our credentials/secrets are in the gcb project.
We saw that your mockup for this job uses google secrets in trusted cluster.
How do you see the job getting access to those secrets?
Do we want to run this as a gcb job with its own secrets or should this job run in the trusted cluster? it is currently a multi-step job

[2021-01-27 21:04] spiffxp commented on #1343
I notice the language on https://cloud.google.com/artifact-registry/docs/transition/transition-from-gcr#top_of_page has changed from "minimum 6 months of GCR support post-GA" to  "Both services will continue to co-exist after Artifact Registry becomes generally available" so I feel like there is less urgency to this

/remove-priority important-soon
/priority important-longterm

[2021-01-28 17:07] spiffxp commented on #460
I recently updated slack-infra configs to shard out sig-testing resources.  I really liked the approach of `restrictions.yaml` at root defining restrictions for what was allowed to be defined in sub-directories.  I think modifying the groups reconciler to use the same approach would address my concerns about enforcing conventions/policies.

[2021-01-28 21:48] spiffxp commented on #1576
/close
I'm going to close this as "can't do" and open a separate issue for https://github.com/kubernetes/k8s.io/issues/1576#issuecomment-767694092

[2021-01-28 21:48] #1576 closed

[2021-01-28 22:16] spiffxp opened #1590 "Investigate community-accessible Data Studio reports and data sources"
The Kubernetes community should be able to create publicly viewable Data Studio reports and data sources that are billed to the kubernetes.io GCP org.

Data Studio ownership / billing is not completely intuitive to me.  AFAICT:
- there is some some tie-in with GSuite that allows org admins to restrict sharing outside the org (this is how google.com is setup)
- billing for bigquery usage by a data

[2021-01-28 22:18] MushuEE commented on #1590
Much appreciated. I will continue investigation

[2021-01-28 22:59] dims commented on #1343
@spiffxp Whew!!!! thanks.

[2021-01-29 09:27] cpanato commented on #1576
closing this as well since the parent in k/k8s.io is closed as well https://github.com/kubernetes/k8s.io/issues/1576#issuecomment-769421693

/close

[2021-01-29 17:01] spiffxp opened #1597 "Rename default branch for kubernetes/k8s.io"
Part of umbrella issue https://github.com/kubernetes/org/issues/2222

Issue to spec out and then run through renaming the default branch for this repository

- update pre/postsubmits to trigger on old branch name and new branch name
- determine whether periodics use default branch or have name hardcoded in git commands
  - if hardcoded, does attempting to checkout old name break?
- determine wheth

[2021-01-29 23:02] spiffxp commented on #1597
PR up for job config changes + prow config changes: https://github.com/kubernetes/test-infra/pull/20675 (holding merge until next week, and completion of the below review)

Still need to:
- review the code in k8s.io to confirm whether it explicitly references the master branch...
- review docs to see whether master is explicitly references (beyond uris that github will redirect for us)

[2021-02-01 23:04] spiffxp commented on #1590
/milestone v1.21

[2021-02-02 00:43] spiffxp commented on #244
/remove-help
Since I think this is being worked by some of @hh's team.

Discussed in meetings but to close the loop here:
- this should run as a prowjob on k8s-infra-prow-build-trusted, the `gcp-auditor` service account is available there
- the github token could either be stored in secret manager or could be added to k8s-infra-prow-build-trusted as a secret (similar to how secrets are manually ad

[2021-02-02 00:56] spiffxp commented on #1031
https://github.com/kubernetes/k8s.io/pull/990#pullrequestreview-503325802 - what needs to happen is actually migrating the ingress resources

[code]

In an "everyone owns their app" model I would create and assign issues.  This made me notice that I can't easily do that here:
- owners files are either missing or seem out of date
- no quick way to infer @kubernetes.io group from dir
- no tie betwee

[2021-02-03 17:21] spiffxp commented on #1031
/assign @rikatz

[2021-02-03 17:22] rikatz commented on #1031
/assign

Check all objects with Kubepug and raise an umbrella issue

[2021-02-03 18:18] rikatz commented on #1507
From our meeting today, will take two approaches:

1) Check if prometheus metrics can be ingested and consumed by stackdriver / Google infra to generate alerts
2) Create (evolve actually) the program to monitor certs expiration, and check how to get the owners (labels?) and alert them

[2021-02-05 12:59] cpanato commented on #1525
Some questions:

The following images do not exist in the community registry and it is defined [in this file](https://raw.githubusercontent.com/kubernetes/k8s.io/master/k8s.gcr.io/archived/images/DO-NOT-MODIFY-legacy-backfill/images.yaml) but the tags do not exist on those files

- `gcr.io/gke-release/nvidia-gpu-device-plugin@sha256:a75ec0caa9e3038bd9886b3f36641a624574ff34b064974de6ee45048de3372b`

[2021-02-05 19:34] spiffxp commented on #1523
I am open to suggestions on where we should move these images.

I was thinking instead of a straight rename, take the time to break up the two classes:
- k8s-testimages/kettle -> k8s.gcr.io/test-infra/kettle (k8s-staging-test-infra)
- k8s-testimages/kubekins -> k8s.gcr.io/job-images/kubekins (k8s-staging-job-images)

Or, if we're just doing a lift-and-shift... then k8s-staging-test-infra

[2021-02-05 19:54] justaugustus commented on #1523
@spiffxp -- Maybe a few different ownership levels to consider here:

- common test-infra images
- restricted access test-infra images (this may not be a required category)
- shared access

In the shared access "tier" would be kubekins-e2e and maybe krte.
https://github.com/kubernetes/test-infra/blob/master/images/kubekins-e2e/OWNERS

I have approver on kubekins-e2e and I think this IAM group cove

[2021-02-05 23:15] spiffxp opened #1616 "Raise in-use IP address quota for k8s-infra-prow-build"
Opening an issue to track that I did this

Raised quota from 160 to 320 for us-central1

Done in response to a #testing-ops slack thread: https://kubernetes.slack.com/archives/C7J9RP96G/p1612519263019400

We could stand to get a better handle on exactly how often prowjobs are failing to schedule because we're hitting quota, added a comment to https://github.com/kubernetes/test-infra/issues/18785#i

[2021-02-05 23:26] spiffxp commented on #1616
/wg k8s-infra
/sig testing
/area prow
/priority important-soon

Thanks to @ameukam for the [metrics-explorer link visible to k8s-infra-prow-viewers@kuberentes.io](
https://console.cloud.google.com/monitoring/metrics-explorer?pageState=%7B%22xyChart%22:%7B%22dataSets%22:%5B%7B%22timeSeriesFilter%22:%7B%22filter%22:%22metric.type%3D%5C%22compute.googleapis.com%2Finstance%2Fuptime%5C%22%20resource.ty

[2021-02-05 23:27] spiffxp commented on #1616
FYI @aojea @chaodaiG
/assign @spiffxp @ameukam
/close
IP quota bump was done.  Don't want to bump other quotas at the moment.

[2021-02-05 23:27] #1616 closed

[2021-02-05 23:29] spiffxp commented on #1178
/remove-lifecycle rotten
/reopen
Since we bumped into IP quota https://github.com/kubernetes/k8s.io/issues/1616#issuecomment-774342368

I don't have bandwidth for this, not sure it's appropriate for new contributors so leaving unassigned w/o /help

[2021-02-06 16:33] Iceber opened #1619 "pause-amd64:3.4.1 image is not found"
k8s.gcr.io/pause-amd64:3.4.1 is not found
[code]

And 3.4.1 images of other arches are also not available

https://github.com/kubernetes/k8s.io/pull/1549

[2021-02-07 03:34] dims commented on #1619
does `docker pull k8s.gcr.io/pause:3.4.1` work for you?

[2021-02-07 03:45] Iceber commented on #1619
@dims yes，`doker pull k8s.gcr.io/pause:3.4.1` is working，`pause-{arch}:3.4` and `pause-{arch}:3.4.1` is not available

[2021-02-07 03:48] dims commented on #1619
@Iceber that was the only image promoted in https://github.com/kubernetes/k8s.io/pull/1549/files

[2021-02-07 04:00] Iceber commented on #1619
@dims When will images of other arches be supported?
Curious as to why the images of other arches are not built

[2021-02-07 04:07] justaugustus commented on #1619
The `pause` image is a manifest list with multiple architectures, which means you can pull the right image for your platform using the `--platform` flag.

/close

Here's the manifest list:

[code]

[code]

[2021-02-07 04:07] #1619 closed

[2021-02-07 04:17] Iceber commented on #1619
@justaugustus Thanks

[2021-02-08 16:26] spiffxp commented on #1376
/remove-lifecycle stale
/lifecycle frozen
Keeping this around as a good help-wanted issue, unless/until we decide on some other easily "git-ops-able" dashboard solution

[2021-02-08 16:27] spiffxp commented on #1375
/remove-lifecycle stale
/assign @thockin
I'm assigning you to get your input on whether you think this is worth investing time in

[2021-02-08 16:36] spiffxp opened #1624 "Migrate existing Google Cloud alerts from click-ops to git-ops model"
Discussed in k8s-infra meeting 2020-02-03

We have some slack alerting setup today, but it's been configured by humans clicking around on the Google Cloud website (aka "click-ops").  It would be ideal if we could drive that configuration automatically via files checked into git (aka "git-ops").

This is likely similar to or overlaps with making a gitops-driven workflow for Google Cloud Monitoring

[2021-02-08 16:52] spiffxp opened #1625 "Ensure k8s-infra billing report and data sources are owned by and billed to community"
Discussed in k8s-infra meeting 2021-02-03

We created a kubernetes.io account purely to own the [billing report](https://datastudio.google.com/u/0/reporting/14UWSuqD5ef9E4LnsCD9uJWTPv8MHOA3e) (ref: https://github.com/kubernetes/k8s.io/issues/509).  But I'm not sure the billing report was ever transferred over

This is part of / will help explore the general issue of community-accessible Data Studi

[2021-02-08 17:07] spiffxp commented on #1616
/milestone v1.21

[2021-02-08 17:11] spiffxp commented on #516
/reopen
d'oh, forgot this critical step

@hasheddan had also discussed possibly demoing crossplane for us (slack ref: https://kubernetes.slack.com/archives/CCK68P2Q2/p1611757501019900)

[2021-02-08 17:12] spiffxp commented on #1576
/milestone v1.21

[2021-02-08 17:12] hasheddan commented on #516
@spiffxp preparing whenisgood as we speak :)

[2021-02-08 17:13] spiffxp commented on #1619
/milestone v1.21

[2021-02-08 17:17] spiffxp commented on #508
/reopen
and I forgot to reopen...

[2021-02-08 17:18] rikatz commented on #516
this is going to be fun, using kubernetes to manage the kubernetes infrastructure :D

[2021-02-08 17:18] spiffxp commented on #1624
/help

[2021-02-08 17:37] spiffxp commented on #846
/priority important-longterm

[2021-02-08 17:38] spiffxp commented on #508
/priority backlog

[2021-02-09 00:34] spiffxp commented on #1597
Merged https://github.com/kubernetes/test-infra/pull/20675

[2021-02-09 00:35] spiffxp commented on #1597
Renamed the branch

[2021-02-09 00:42] spiffxp commented on #1597
Will leave as-is and cleanup tomorrow

Known issues:
- go.k8s.io/redirects 404's for me (but visiting https://github.com/kubernetes/k8s.io/tree/master/k8s.io#redirections is properly redirected to main by github)
https://github.com/kubernetes/k8s.io/blob/a8e0b654626c77de30220097cf8253d32363bcb8/k8s.io/configmap-nginx.yaml#L242

[2021-02-09 15:20] spiffxp commented on #1597
looking at jobs in our test grid:
- [ ] https://testgrid.k8s.io/wg-k8s-infra-k8sio#ci-k8sio-groups
- [x] https://testgrid.k8s.io/wg-k8s-infra-k8sio#ci-k8sio-image-promo
- [ ] https://testgrid.k8s.io/wg-k8s-infra-k8sio#ci-release-vulndash-update
- [x] https://testgrid.k8s.io/wg-k8s-infra-k8sio#post-k8sio-deploy-prow-build-resources
- [ ] https://testgrid.k8s.io/wg-k8s-infra-k8sio#post-k8sio-deploy-

[2021-02-10 16:36] spiffxp commented on #1187
This would be a reason to keep the cluster using n1 nodes instead of switching to e2 nodes for lower cost.

[2021-02-10 20:06] chewong opened #1637 "Donate Azure subscription to CNCF"
We have an Azure subscription dedicated to testing for various Kubernetes-related projects. It's been running well until we have to rotate [this specific secret](https://github.com/kubernetes/test-infra/blob/master/config/prow/config.yaml#L702-L705), which includes sharing with the test-infra on-call folks our credential (i.e. username, password, subscription ID, storage account key, etc all in pl

[2021-02-10 21:05] justaugustus commented on #1637
cc: @kubernetes/k8s-infra-team @caniszczyk

FYI @kubernetes/release-engineering

[2021-02-10 21:33] idvoretskyi commented on #1637
/cc

[2021-02-11 05:44] spiffxp opened #1638 "Remove unused windows-img-promoter-cert secrets from k8s-infra-prow-build trusted"
The secrets were added via https://github.com/kubernetes/k8s.io/pull/857 in May 2020

https://github.com/kubernetes/kubernetes/pull/93889 switched to using buildx and dropped dependence on remote windows docker nodes October 2020

I'd like to remove the secrets from secret manager and from the cluster
[code]

Then remove related special case bash in infra/gcp

/wg k8s-infra
/sig testing
/sig windo

[2021-02-11 05:44] spiffxp commented on #1638
/area prow

[2021-02-11 05:56] spiffxp commented on #1541
https://github.com/kubernetes/k8s.io/pull/1402 - added release channel support to modules
https://github.com/kubernetes/k8s.io/pull/1631 - enroll clusters in stable channel

Just applied the changes https://github.com/kubernetes/k8s.io/pull/1631#issuecomment-777219336

[2021-02-11 05:58] spiffxp commented on #1541
So it looks like we'll be upgrading to 1.17.15-gke.800 sometime over the next few days https://cloud.google.com/kubernetes-engine/docs/release-notes#february_9_2021_2021-r5

[2021-02-11 10:41] claudiubelu commented on #1638
Indeed, that is correct. The certificates were being used for the Remote Docker Windows nodes that we were using to build Windows images, but we've switched to docker buildx in the meanwhile. We can remove it, since I'm sure no one else are using it anymore (might be wrong, but I think the certificates also expired in December).

/lgtm

[2021-02-11 16:12] spiffxp commented on #1638
Removed from secretmanager and cluster
[code]

[2021-02-11 16:14] spiffxp commented on #1638
Opened https://github.com/kubernetes/k8s.io/pull/1639 to remove script, will auto-close this once merged

[2021-02-11 20:51] spiffxp commented on #1528
/sig windows
since @jeremyje pinged about needing a more recent version of windows-nanoserver in gcr.io/authenticated-image-pulling

[2021-02-12 06:54] #1638 closed

[2021-02-12 22:24] spiffxp opened #1642 "Remove scripts related to k8s-artifacts-prod-vuln-dashboard"
This bucket has been manually removed, but we're in a state where if someone re-runs `infra/gcp` scripts, it will get re-provisioned.  Please open a PR to remove from the scripts

/milestone v1.21
/priority critical-urgent
We're blocked from running scripts to roll out any further changes until this is done
/wg k8s-infra
/sig release
/area release-eng
/assign @justaugustus
or please find a @kubern

[2021-02-12 22:26] spiffxp commented on #1642
/assign @dims @thockin
FYI, please hold off on merging PRs that touch scripts infra/gcp until this is addressed

[2021-02-12 22:57] dims commented on #1642
@spiffxp ACK!

[2021-02-12 23:05] #1642 closed

[2021-02-12 23:07] BenTheElder commented on #1311
I audited each of these by checking the contact info I have listed on the associated service account keys and `gsutil ls -l gs://${BUCKET}/** | sort -k ` to inspect timestamps + keys of uploaded entries.

- [ ] `gs://k8s-conformance`: **delete**
   - This one is literally empty, nothing to do, we can just delete it.
   - There's no contact / account for this, I created this and migrated initial up

[2021-02-12 23:16] BenTheElder commented on #1311
I have taken no action yet, but proposed action and detailed reasoning per bucket is above. TLDR:

- Migrate `gs://k8s-conformance-openstack` and `gs://k8s-conformance-arm` which are still active, following guide at:
https://github.com/kubernetes/test-infra/tree/master/testgrid/conformance#usage-guide
  - @dims @lubinsz to get in touch with the appropriate teams
- Delete everything else ~now as it

[2021-02-12 23:35] dims commented on #1311
@BenTheElder both buckets have the same name? (or a typo)

[2021-02-12 23:42] BenTheElder commented on #1311
fixed! yep they are in the same order as @spiffxp's opening comment, bad re-formatting -- the first bucket should have read `kind-arm64-openlab` which is inactive.

[2021-02-13 17:13] spiffxp commented on #1642
/unassign @dims @thockin @justaugustus
/assign @hasheddan @spiffxp
We're unblocked, see https://github.com/kubernetes/k8s.io/pull/1643 for manual changes made

[2021-02-14 11:16] chrigl commented on #1311
@BenTheElder I will take care of migrating `gs://k8s-conformance-openstack`

[2021-02-14 13:32] cpanato commented on #1642
I'm confused, we have this job: https://github.com/cpanato/test-infra/blob/master/config/jobs/kubernetes/wg-k8s-infra/trusted/releng/releng-trusted.yaml#L93

that uses the service account, should we create a new one? or how we proceed?

@spiffxp @hasheddan @dims @justaugustus

[2021-02-14 13:35] justaugustus commented on #1642
@cpanato -- Please see the discussion here: https://kubernetes.slack.com/archives/GKEA5EL67/p1613162193026700?thread_ts=1613162193.026700&cid=GKEA5EL67

[2021-02-14 18:17] BenTheElder commented on #1311
Thank you!!

[2021-02-16 15:06] spiffxp opened #1656 "Script creation of custom GCP IAM roles from predefined roles"
Creating GCP IAM roles involves listing all of the permissions you want the role to have. (ref: https://cloud.google.com/iam/docs/creating-custom-roles#iam-custom-roles-testable-permissions-gcloud)

Enumerating all such permissions on a granular level is daunting:
- there are a lot of them
- new permissions are added over time as services are updated

It would be easier to understand if we could s

[2021-02-16 18:08] spiffxp commented on #244
/reopen
/area infra/auditing

[2021-02-16 18:12] spiffxp commented on #244
https://github.com/kubernetes/k8s.io/pull/1648 - auditor account didn't have access to secretmanager, add a one-off script for this for now

Sample audit PR's manually opened by @hh
- https://github.com/kubernetes/k8s.io/pull/1650
- https://github.com/kubernetes/k8s.io/pull/1651
- https://github.com/kubernetes/k8s.io/pull/1652

I have /held these PRs because I would like to merge the PR I opened l

[2021-02-16 18:37] spiffxp opened #1657 "Auditing improvements"
A couple ideas I've brought up in the past about auditing in sundry other places.  This is either an epic to track them, or a placeholder to scope them out and then close once more granular issues have been created.

Our audit scripts are too slow:
- I'm at the 2 hour mark and still haven't finished a full audit run
- Ideally these could run at an ~hourly cadence, or as post-submits

Our audit out

[2021-02-16 23:14] thockin opened #1659 "audit followup: organization resources should be managed by script"
For example, there's a Role "prow.viewer" that is not set up anywhere.

[2021-02-16 23:25] justaugustus commented on #1659
@thockin -- I'm working on infra bring up for another project, which included some crude copy/pasting of what's in k/k8s.io.

As part of that, I have a WIP refactor of the `groups/**` logic (working title: `ggreconcile`): https://github.com/justaugustus/ggreconcile/pull/1

Want me to see how far I can take that?

[2021-02-16 23:43] thockin opened #1660 "audit follow: some boskos-scale projects have lower quotas"
k8s-infra-e2e-boskos-scale-01 thru 05 have lower quotas than all the rest.

Sample:
[code]

[2021-02-16 23:46] thockin opened #1661 "audit followup: inconsistent role bindings for k8s-infra-prow-viewers on e2e projects"
k8s-infra-e2e-boskos-scale-06 thru 30 do not have the following IAM binding (or maybe the issue is that 01-05 do have it)

[code]

[2021-02-16 23:51] thockin opened #1662 "audit followup: some boskos projects missing IAM"
k8s-infra-e2e-boskos-41+ are missing the IAM binding:

[code]

[2021-02-17 00:01] thockin opened #1663 "audit followup: some e2e-*-project projects are missing IAM"
k8s-infra-e2e-gce-project and k8s-infra-e2e-ingress-project are missing the following IAM:

[code]

[2021-02-17 00:05] thockin opened #1664 "k8s-infra-e2e-scale-project has unmanaged bucket"
gs://kubernetes-staging-8cf5cbdf30/ exists with no auto-removal.  Last changed May of 2020 - maybe we can just remove this bucket entirely?

@wojtek-t

[2021-02-17 00:31] thockin opened #1665 "audit followup: some k8s-staging-* projects have differing IAM"
Example:

[code]

[2021-02-17 00:32] thockin opened #1666 "audit followup: some k8s-staging-* buckets give "roles/storage.legacyBucketReader" and some do not"
I don't know which is right, but some have:

[code]

and some don't

[2021-02-17 00:39] thockin opened #1667 "some k8s-staging-* projects have other services enabled"
k8s-staging-addon-manager has compute.googleapis.com and oslogin.googleapis.com

k8s-staging-capi-docker has dns.googleapis.com

k8s-staging-capi-openstack has compute.googleapis.com and oslogin.googleapis.com

There are more...

[2021-02-17 00:54] thockin commented on #1659
Always interested in refactor, though groups is a bit different from the org-roles?

[2021-02-17 01:00] justaugustus commented on #1659
Yep, yep, but I did have to end up copying in snippets of the infra scripts, so replacing some portion of them is on my list too for that other project. 🙃

Longer term --> https://twitter.com/stephenaugustus/status/1361686269823225859

[2021-02-17 07:47] wojtek-t commented on #1664
I'm not aware of it being used for anything, but I will ask around.

[2021-02-17 09:40] wojtek-t commented on #1664
It seems people around are not aware of it too. So I think we can probably remove it.

[2021-02-17 09:50] jkaniuk commented on #1664
+1, let's remove it

[2021-02-17 16:18] spiffxp commented on #1659
@thockin that role is created here: https://github.com/kubernetes/k8s.io/blob/main/infra/gcp/prow/ensure-e2e-projects.sh#L35-L40

I was going to shuffle things around so k8s-infra-prow-oncall@ had /approve rights to scripts they had permissions to run, I can undo if you'd rather leave everything in a flat namespace until we sort out how to organize

[2021-02-17 16:48] rikatz commented on #1624
I'm with low bandwidth now, but If we have some time (not urgent) I can take a look into this to see how to manage the alerts and dashboards with Gitops :)

[2021-02-17 16:48] rikatz commented on #1624
/assign

[2021-02-17 17:54] chewong opened #1673 "Enable secret rotation on Prow without sharing it in plain text"
Sub-issue of #1637.

We would like to explore different ways to perform secret rotation without sharing it in plain text. Based on the wg-k8s-infra meeting on Feb 17, 2021, we discussed moving Azure ProwJobs from the default Prow build cluster (owned by Google) to a community build cluster and setting up IAM roles so that core contributors from Azure can perform secret rotation by ourselves.

/cc

[2021-02-17 18:13] thockin commented on #1664
I will nuke it

On Wed, Feb 17, 2021 at 1:50 AM Jacek Kaniuk <notifications@github.com>
wrote:

[2021-02-17 18:16] #1664 closed

[2021-02-17 19:31] spiffxp commented on #846
Opened https://github.com/kubernetes/test-infra/pull/20885
- adds tests to log whether job configs that use `--extract=` are pulling from community-owned buckets
- updated release-blocking tests to use gs://k8s-release, fail on any future release-blocking tests that don't

[2021-02-17 21:29] spiffxp commented on #1659
https://github.com/kubernetes/k8s.io/issues/1656 - help wanted, script creation of the custom role definition from primitive roles

[2021-02-17 21:34] spiffxp commented on #1660
quota changes were due to what the org defaults were at when the project was created

this isn't going to be fun to reconcile unless we can somehow script quota changes (I have always had to manually fill out requests on GCP console)

[2021-02-17 21:34] spiffxp commented on #1660
/sig testing
/area prow

[2021-02-17 21:35] spiffxp commented on #1661
/sig testing
/area prow
/priority important-soon
/milestone v1.21
/assign
this requires a re-run of `infra/gcp/prow/ensure-e2e-projects.sh`

[2021-02-17 21:35] spiffxp commented on #1661
/kind bug

[2021-02-17 21:37] spiffxp commented on #1662
/kind bug
/sig testing
/area prow
/priority important-soon
/milestone v1.21
/assign
this requires a re-run of `infra/gcp/prow/ensure-e2e-projects.sh`

[2021-02-17 21:37] spiffxp commented on #1663
/kind bug
/sig testing
/area prow
/priority important-soon
/milestone v1.21
/assign
this requires a re-run of `infra/gcp/prow/ensure-e2e-projects.sh`

[2021-02-17 21:39] spiffxp commented on #1665
/sig release
/area release-eng
/priority important-soon
/milestone v1.21
this may be reconcilable via a full run of `infra/gcp/ensure-staging-storage.sh` but I suspect there may be some case-by-case manual changes needed

[2021-02-17 21:39] spiffxp commented on #1665
FYI @kubernetes/release-engineering

[2021-02-17 21:40] spiffxp commented on #1666
/sig release
/area release-eng
/priority important-soon
/milestone v1.21
this may be reconcilable via a full run of infra/gcp/ensure-staging-storage.sh but I suspect there may be some case-by-case manual changes needed

[2021-02-17 21:41] spiffxp commented on #1666
/kind bug

[2021-02-17 21:41] spiffxp commented on #1665
/kind bug

[2021-02-17 22:48] hh commented on #1637
/cc

[2021-02-17 22:51] spiffxp opened #1674 "audit followup: remove k8s-prow iam bindings for jobs that no longer run in k8s-prow"
Followup to https://github.com/kubernetes/k8s.io/pull/1534#discussion_r577999661

https://github.com/kubernetes/test-infra/pull/19810 migrated some container image promoter jobs to k8s-infra-prow-build-trusted, we don't need k8s-prow to have workload identity bindings for these anymore

This is not intended to outright remove all k8s-prow bindings, some are likely still required for prow.k8s.io to

[2021-02-17 23:01] thockin commented on #1660
It may be OK - it just came out as a delta in my quick comparisons.  Maybe
no action needed

On Wed, Feb 17, 2021 at 1:34 PM Aaron Crickenberger <
notifications@github.com> wrote:

[2021-02-17 23:36] spiffxp commented on #1665
/retitle audit followup: some k8s-staging-* projects have differing IAM

[2021-02-17 23:37] spiffxp commented on #1663
/retitle audit followup: some e2e-*-project projects are missing IAM

[2021-02-17 23:37] spiffxp commented on #1662
/retitle audit followup: some boskos projects missing IAM

[2021-02-17 23:37] spiffxp commented on #1661
/retitle audit followup: some boskos-scale projects missing IAM

[2021-02-17 23:38] spiffxp commented on #1660
/retitle audit follow: some boskos-scale projects have lower quotas

[2021-02-17 23:39] spiffxp commented on #1660
/priority backlog
I'm going to push down priority and keep out of current milestone until it's clear there's an issue, but it would be good to reconcile this eventually

[2021-02-17 23:50] spiffxp opened #1675 "audit followup: k8s-staging-* projects should not have misc services enabled"
ref: https://github.com/kubernetes/k8s.io/pull/1534/commits/cf5f5e3360c76e660e0af8be25059e0b9d732339 and https://github.com/kubernetes/k8s.io/pull/1534#discussion_r577242644

Staging projects run GCB, they shouldn't need compute, bigquery, iam, monitoring, oslogin, etc...

We should consider explicitly disabling:
- compute
- dns
- bigquery
- etc.

We could go bigger and explicitly disable anything

[2021-02-18 00:06] spiffxp commented on #1667
/close
Going to close this in favor of https://github.com/kubernetes/k8s.io/issues/1675 to address this for multiple projects, multiple services

[2021-02-18 00:06] #1667 closed

[2021-02-18 00:07] spiffxp commented on #1675
/kind bug

[2021-02-18 00:20] spiffxp commented on #1673
/kind feature
/wg k8s-infra
/sig testing
/priority important-longterm
/area access
/area prow

There are a few parts here:
- establish a policy of using google secret manager to handoff secrets to test-infra-oncall (you get write access, k8s-infra-prow-owners@ get full access)
- consider fleshing out [`TestTrustedJobSecretsRestricted`](https://github.com/kubernetes/test-infra/blob/aab76953476ca8e3

[2021-02-18 00:21] spiffxp commented on #1660
/kind bug

[2021-02-18 00:24] spiffxp commented on #1597
https://kubernetes.slack.com/archives/C1TU9EB9S/p1613578896224800 - @xmudrii noticed cs.k8s.io wasn't able to search this repo anymore, @dims enabled `detect-ref` and we're searchable again

[2021-02-18 00:28] spiffxp commented on #1597
I'm going to assume the jobs that have no recent runs are fine given everything else worked

[2021-02-18 00:58] spiffxp commented on #1597
Looking for references to `master` within this repo:
- I think we have cip-auditor in cloud run hardcoded to look at `master`, see https://github.com/kubernetes/k8s.io/blob/4cf9780327d115ef4c2a80a201bca02556a60bf7/infra/gcp/cip-auditor/deploy.sh#L49
  - but also, looking at logs for it, I see a lot of 500's, I think something else is broken with it
  - manually deployed a new revision with the new

[2021-02-18 14:55] spiffxp commented on #1541
We still remain at v1.16
[code]

[2021-02-18 17:52] chewong commented on #1673
Thanks for the detailed response, really appreciate it.

Thanks for leading this. Let me know if there is anything I can help.

We use the label [`preset-azure-creds`](https://github.com/kubernetes/test-infra/blob/67898ea2d700b2da29ecad01271d05d3bc915f5c/config/prow/config.yaml#L689-L715). I guess I can create a new unit test case for Azure-specific jobs.

I will bake some of our jobs in k8s-infra

[2021-02-18 18:55] spiffxp commented on #525
https://cloud.google.com/container-registry/docs/managing#deleting_images points to https://github.com/sethvargo/gcr-cleaner as a not-official-Google-product that could accomplish this

[2021-02-18 20:59] spiffxp opened #1678 "k8s-infra-prow-oncall unable to navigate to k8s-infra-prow-build via GCP console UI"
The "kubernetes.io" org does not appear in the "Select from" box, it should

I'm guessing this is either org view, folder view, or some other resourcemanager permission

/kind bug
/area prow
/area access
/sig testing
/priority important-soon
/assign
/milestone v1.21

[2021-02-18 22:13] ameukam commented on #1678
@spiffxp Forgive me if I misunderstand this issue but I don't have this issue (as member of k8s-infra-prow-oncall and k8s-infra-prow-viewers):

![image](https://user-images.githubusercontent.com/2343515/108428208-7fa52400-723e-11eb-8f52-3833e99033be.png)

[2021-02-18 22:40] spiffxp commented on #1678
@ameukam that would be because you're a member of `gke-security-groups@`
[code]

That seems a little too broad for a group that's supposed to be about access to `aaa` in `kubernetes-public`, but I'm not going to change for now

I think that role does make sense for k8s-infra-prow-oncall though, since prow interacts with many projects, and viewing iam policies would help troubleshooting.

[2021-02-18 23:28] spiffxp commented on #1659
/assign
https://github.com/kubernetes/k8s.io/pull/1679 is a start

[2021-02-18 23:29] spiffxp commented on #1659
There are individuals assigned roles at the org level that I'm less inclined to script.

The TODO's I dropped in that PR are what I consider sufficient to close this out

[2021-02-18 23:29] spiffxp commented on #1678
https://github.com/kubernetes/k8s.io/pull/1679 should fix

[2021-02-19 00:28] ameukam opened #1681 "Remote states access for k8s-infra-oncall"
Members of k8s-infra-oncall@kubernetes.io should be able to apply Terraform changes once there are merged. This is not currently the case.
They'll need write access to the bucket `k8s-infra-clusters-terraform` so they can push modified state to the remote backend when they run `terraform apply`.

/area access
/priority backlog
/wg k8s-infra
/assign @spiffxp @thockin

[2021-02-19 01:16] #1678 closed

[2021-02-19 14:00] spiffxp commented on #1681
Good point!  Thank you for bumping into this.

I think it would be cleaner if we used a different bucket.

This way we can use iam at the bucket level, instead of per-object ACLs, to ensure that k8s-infra-prow-oncall doesn't accidentally blow away the aaa cluster

[2021-02-19 14:01] spiffxp commented on #1681
/remove-priority backlog
/priority important-soon
/sig testing
/area prow
/milestone v1.21

[2021-02-19 14:02] spiffxp commented on #1659
/sig testing
/sig release
/area access
/priority important-longterm
/milestone v1.21

[2021-02-19 14:10] spiffxp commented on #1311
/assign @BenTheElder
this plan LGTM, I'm gonna put in our current milestone

/milestone v1.21

[2021-02-19 16:31] thockin commented on #1681
Aaron: "different" from what?

Agree with the goal, though

[2021-02-19 18:39] spiffxp commented on #1541
Going to force an upgrade to v1.17, we've added node local dns, and that requires node recreation to take effect.  Since upgrading to v1.17 requires the same, let's batch the changes before updating node pools.

To be safe, I did _not_ batch for k8s-infra-prow-trusted, node-local dns change is here: https://github.com/kubernetes/k8s.io/pull/1680.  Will start with upgrading this cluster + nodes to

[2021-02-19 19:53] BenTheElder commented on #1311
Taking action on the unused buckets, will update the checklist.

[2021-02-19 20:00] BenTheElder commented on #1311
We are down to the two marked to migrate, and it appears @chrigl already migrated openstack (Thank you!), leaving that one alone until this is confirmed though 🙂

[2021-02-19 20:13] spiffxp commented on #1541
Both `k8s-infra-prow-build` and `k8s-infra-prow-build-trusted` control planes are now at `v1.17.15`
[code]
Done via
[code]

[2021-02-19 20:17] spiffxp commented on #1541
Upgrading `k8s-infra-prow-build-trusted` node pool, and `k8s-infra-prow-build` greenhouse node pool
[code]

[2021-02-19 21:08] spiffxp commented on #1541
`k8s-infra-prow-build-trusted` nodes  and `k8s-infra-prow-build` greenhouse nodes are now at `v1.17.15`
[code]

[2021-02-19 21:15] spiffxp commented on #1541
Upgrading `k8s-infra-prow-build` main node pool
[code]

[2021-02-22 17:10] spiffxp commented on #1541
`k8s-infra-prow-build` node pool upgraded successfully
[code]

[2021-02-23 03:04] spiffxp commented on #1343
I think we're having problems using `docker buildx build` to push to GCR (https://github.com/kubernetes/test-infra/issues/20884#issuecomment-783840975) due to a containerd bug.  GCR's not the only service impacted by the bug, but other services seem to have rolled out a workaround by now (including GAR?).

I'm not saying this is impetus enough to migrate _now_ but may be a sign that GCR is headed

[2021-02-23 03:52] spiffxp opened #1695 "Allow troubleshooting group memberhip"
https://console.cloud.google.com/iam-admin/troubleshooter and `gcloud policy-troubleshoot iam` are pretty useful to figure out why someone does or does not have permissions to a specific resource.  However, we lack permission to look at group membership, so this tool is really only useful for service accounts at the moment.

https://cloud.google.com/iam/docs/troubleshooting-access#troubleshooting_

[2021-02-23 17:53] aojea commented on #1187
/cc

[2021-02-23 20:45] spiffxp commented on #1541
So here's where we now stand.  We're in STABLE.  I saw REGULAR had 1.17 and 1.18 last week, but no more.
[code]

IMO we either close this as-is and followup with move to REGULAR, or decide we want moving to REGULAR be the exit criteria for this.

[2021-02-23 20:47] spiffxp commented on #1541
Reasons to move to v1.18:
- v1.17 has left its upstream support window
- https://github.com/kubernetes/k8s.io/issues/1187#issuecomment-763762981 - gke added support for local-ssd node pools

[2021-02-23 21:17] BenTheElder opened #1703 "increase prow build/test cluster capacity"
the wg k8s infra cluster is periodically hitting the capacity limit AFAICT, we should probably increase it as we've added more workloads

/assign @spiffxp

https://console.cloud.google.com/monitoring/dashboards/custom/10925237040785467832?timeDomain=1m&project=k8s-infra-prow-build

https://github.com/kubernetes/k8s.io/blob/main/infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/main.tf#L1

[2021-02-23 21:50] ameukam commented on #1703
/sig testing
/area cluster-mgmt
/area prow
/priority important-soon

[2021-02-23 23:32] spiffxp commented on #1703
/milestone v1.21

[2021-02-23 23:33] spiffxp commented on #1703
/assign @BenTheElder
who opened https://github.com/kubernetes/k8s.io/pull/1706 for the non-quota part of this

[2021-02-23 23:58] ameukam commented on #1475
As discussed during SIG testing meeting on 02/23/2021, we can deploy the staging again `k8s-infra-prow-build` and `k8s-infra-prow-build-trusted` using a different namespace than `test-pods`.
cc @BenTheElder

[2021-02-24 04:50] hh commented on #244
We now have a set of partial-audits PR created via a prow job.
They are smaller, though some touch 450 files (boskos-*).
Let me know if some. need broken down into smaller PRs.

It was created by using a gist of a slightly modify audit-gcp.sh over a few runs, using a different branch each time.
- https://gist.github.com/hh/eefe79116d11b7f4aa412b2b7fd02df8/revisions

The changes to the job are here

[2021-02-24 06:16] spiffxp commented on #841
/close
All jobs have been migrated or demoted to release-informing: https://github.com/kubernetes/test-infra/issues/18549#issuecomment-783986630

[2021-02-24 06:16] #841 closed

[2021-02-24 06:55] spiffxp commented on #1460
I did a quick comparison of build parity between kubernetes-release-dev (which currently backs dl.k8s.io) and k8s-release-dev here: https://github.com/kubernetes/test-infra/pull/20964#issuecomment-784354491

There are times where one of the build jobs flakes, and the other doesn't.  If the flake happens on the job writing to `gs://k8s-release-dev`, then you may occasionally hit this if you're pull

[2021-02-24 07:20] hh commented on #1657
I'm getting close to having our existing job run hourly.
I'm not sure where we would want them to run as post-submits. (any change to k8s.io?)
I assume your wanting that to be able to type the changes via PRs into audit updates.

[2021-02-24 22:27] hh commented on #193
@cncf legal should have an updated @ii Contract soon to included the appropriate PII clauses.

I'll pick this up once we have that signed, and can add our team to the appropriate google group + perms.

@spiffxp does the appropriate group with perms exist yet or should we work on that as a pair/debug session to ensure principal of least privilege.

[2021-02-24 22:29] spiffxp commented on #1703
https://github.com/kubernetes/k8s.io/pull/1706 bumped node pool max size from 50 to 80

Quotas this would need for us-central1:
- 3 * 80 * 8 = 5760 CPUs
- 3 * 80 * 500 = 120,000 Gi pd-ssd capacity
- 3 * 80 * 1 = 240 in-use IP addresses
- (3 * 80 * 375 = 90,000 Gi local-ssd if we wanted to go this route with the minimum local-ssd size)

Quotas for us-central1 at present:
- 2,500 CPUs (raised by htt

[2021-02-25 00:45] spiffxp commented on #1703
Requested the following quota changes:

[2021-02-25 02:32] spiffxp commented on #244
Copy-pasting from https://github.com/kubernetes/k8s.io/pull/1676#issuecomment-785530148

The partial-audit PR's opened by cncf-ci caught _almost_ everything.  I reviewed and approved them, but I can't do anything further to merge them until the account has signed the CLA.  Use `/check-cla` to refresh once you've gotten it signed, and they should merge (hopefully without conflict)
- https://github.

[2021-02-25 02:38] spiffxp commented on #1703
/close
Request has been approved

[2021-02-25 02:38] #1703 closed

[2021-02-25 03:20] spiffxp commented on #1661
https://github.com/kubernetes/k8s.io/pull/1061 switched from using `role/viewer` to the custom role `prow.viewer`, so have `role/viewer` is the detritus that should be cleaned up

[2021-02-25 04:07] spiffxp commented on #1681
Different from using `gs://k8s-infra-clusters-terraform` as a catchall bucket.

Within `kubernetes-public`
- `gs://k8s-infra-terraform-prow`
- `gs://k8s-infra-terraform-aaa` (or org, or something)

Trying to think toward what this would look like if we started moving projects into folders within the org, and granting permissions within those folders.

[2021-02-25 04:09] spiffxp commented on #1681
Similar issue: my non-org-admin k8s-infra-prow-oncall account can't actually run `./infra/gcp/prow/ensure-e2e-projects.sh`
[code]

(I'll break this out, this issue should be kept to terraform, but that's the direction I'm headed)

[2021-02-25 04:13] spiffxp commented on #1663
/close
Closing as dupe of https://github.com/kubernetes/k8s.io/issues/1661#issuecomment-785547221

[2021-02-25 04:13] #1663 closed

[2021-02-25 04:14] spiffxp commented on #1662
/close
Closing as dupe of https://github.com/kubernetes/k8s.io/issues/1661#issuecomment-785547221

[2021-02-25 04:14] #1662 closed

[2021-02-25 05:40] spiffxp commented on #1541
https://github.com/kubernetes/k8s.io/pull/1721 - upgraded k8s-infra-prow-build-trusted to regular channel and then initiated an upgrade
[code]

[2021-02-25 15:06] spiffxp commented on #1664
/assign @thockin
FWIW these `kubernetes-staging` buckets are expected detritus from kube-up: https://github.com/kubernetes/k8s.io/pull/1710/files#r582417235

The bucket's last updated date doesn't change if objects inside are updated more recently (e.g. https://github.com/kubernetes/k8s.io/pull/1714#discussion_r582436252)

I don't think they're worth our attention from a cost perspective.

They ar

[2021-02-25 15:45] chrigl commented on #1311
@BenTheElder At least from test runs, there should no new content go into `gs://k8s-conformance-openstack`

[2021-02-25 17:26] spiffxp commented on #299
Going to remove myself from all of the e2e projects via: https://github.com/kubernetes/k8s.io/pull/1722

A longer term fix would be to have `ensure_project` be smart about this.  And maybe find a blanket way of enforcing that `user:foo` bindings should not exist at the project level or below

[2021-02-25 18:38] spiffxp commented on #1541
Upgrading `k8s-infra-prow-build` control plane
[code]

[2021-02-25 19:43] spiffxp commented on #1541
https://github.com/kubernetes/k8s.io/pull/1723 - moved k8s-infra-prow-build to regular channel

Initiating upgrade of control plane
[code]

[2021-02-25 22:20] spiffxp commented on #1541
k8s-infra-prow-build control plane has been upgraded to v1.18
[code]
[code]
Initiating upgrade of greenhouse node pool
[code]

[2021-02-26 00:48] spiffxp commented on #1541
Initiating upgrade of k8s-infra-prow-build's main node pool
[code]

[2021-02-26 06:22] spiffxp commented on #1659
/retitle audit followup: organization resources should be managed by script

[2021-02-26 08:06] spiffxp commented on #1656
/assign

[2021-02-26 11:23] spiffxp commented on #1656
https://github.com/kubernetes/k8s.io/pull/1726 includes a script, though I think converting it to go (and/or improving the spec) could be a cool help-wanted project

[2021-02-26 11:24] spiffxp commented on #1659
https://github.com/kubernetes/k8s.io/pull/1726 addresses the majority of this, one more PR for cleanup after that merges

[2021-02-26 14:59] spiffxp commented on #1541
/close
I'm going to call use done here.  Both k8s-infra prow build clusters and all of their node pools are at `v1.18.12`

Both clusters are now in the REGULAR channel, so they should continue to get regularly bumped,

https://cloud.google.com/kubernetes-engine/docs/release-notes-regular shows roughly what the cadence looks like.

[2021-02-26 14:59] #1541 closed

[2021-02-26 19:22] spiffxp commented on #193
We likely have work to do.

https://github.com/kubernetes/k8s.io/pull/1726 might help in putting together the right role

But identifying the right resources to apply it to may take some time. I'm pretty slammed but I'll see if I can find some time next week too follow up with you off PR

[2021-02-26 23:00] spiffxp opened #1730 "audit followup: restore k8s-infra-gcr-auditor service account"
I accidentally the account, noticed in https://github.com/kubernetes/k8s.io/pull/1718#discussion_r582441736

We need to:
- restore the account?
- or create a new one and rotate service account keys wherever necessary
- ensure everything that depended on this account is... back up? for whatever that looked like before?

/sig release
/release eng
/priority important-soon
AFAIK nobody has noticed thi

[2021-02-26 23:12] spiffxp opened #1731 "audit followup: ensure secretmanager secrets and bindings are managed by scripts"
Caught via https://github.com/kubernetes/k8s.io/pull/1718#discussion_r582443184

I've done the following pattern a few times now (most recently https://github.com/kubernetes/k8s.io/pull/1696#issuecomment-784618406):
- someone needs to pass a secret to me, wonders how to transfer it
- I setup a secretmanager secret in the relevant project
  - intended to be k8s secrets in a cluster: the project hos

[2021-02-27 01:40] ameukam opened #1734 "Validate configuration changes"
if possible, any configuration change introducted should be validated with presubmits prowjobs.

There are different and tools we can explore :

- Globally, define policies with [rego language](https://www.openpolicyagent.org/docs/latest/policy-language/) and enforce them with [Open Policy Agent](https://www.openpolicyagent.org)
- units tests and e2e tests with [terratest](https://github.com/grunt

[2021-02-27 01:41] ameukam commented on #1734
cc @spiffxp

[2021-02-27 01:45] spiffxp commented on #1734
Was literally just about to file this issue, thank you!

/remove-priority backlog
/priority important-longterm
/sig testing
/area access
/area cluster-mgmt
/area cluster-infra

[2021-02-27 01:45] spiffxp commented on #1734
/area prow

[2021-02-27 01:58] spiffxp commented on #1734
Presubmits we have thus far:
- sig-release:
  - if `/k8s.gcr.io/**/{images,promoter-manifest}.yaml` changes
    - `pull-k8sio-cip`: dry-run container image promoter
    - `pull-k8sio-cip-vuln`: (for `vuln-check-test` branch) dry-run container image promoter with vuln-severity-threshold=1
  - if `/infra/gcp/backup_tools` changes
    - run `infra/gcp/backup_tools/backup_test`
- sig-contribex:
  - if

[2021-02-27 02:09] spiffxp commented on #1734
Really, really good idea.  Way more interested in `conftest` as a starting point, seems like basically any YAML is fair game.

I am pretty interested in how much this could allow us to share enforcement logic at different phases in our deployment lifecycle, eg: presubmit, admission, etc.

[2021-02-27 02:29] spiffxp commented on #1731
/kind cleanup
/kind documentation
/priority important-soon
/area cluster-mgmt
/area access

Labels and areas for relevant sigs:

/sig testing
/area prow
I'd like to set this up as the standard for managing secrets for prow.k8s.io (with possible exception of kubeconfigs that speak to google-internal clusters)

/sig release
/area release-eng
triage-party, publishing-bot, and possibly other secrets

[2021-02-27 08:50] ameukam commented on #1734
Also, since 0.13 Terraform has embebbed mechanism for variable validation : https://www.hashicorp.com/blog/custom-variable-validation-in-terraform-0-13.

[2021-03-01 23:01] spiffxp opened #1742 "Setup autobump job for k8s-infra prow clusters"
https://github.com/kubernetes/k8s.io/pull/1740 was a trial run of using `autobumper` from kubernetes/test-infra to automatically bump:
- ghproxy
- boskos

Let's setup a user for this, get their secrets in the trusted build cluster, and setup a periodic job to use this config.

A followup from this would be to do the same for apps deployed to `aaa`, but they need to be auto-deployed first.

/sig te

[2021-03-01 23:50] spiffxp commented on #1673
https://github.com/kubernetes/k8s.io/issues/1731 to cover the first part

[2021-03-02 00:42] spiffxp opened #1743 "k8s-infra-prow-oncall members should be empowered to manage and troubleshoot prow infrastructure"
This is intended to be a punch list for ensuring test-infra-oncall has the access they're used to with k8s-prow and k8s-prow-builds (or identifying a subset of permissions/access that is more appropriate for k8s-infra).  Beyond that, this list should ensure that group members have sufficient permissions to use our scripts/terraform to manage prow infrastructure.

Up until now I've mostly been mana

[2021-03-02 00:43] spiffxp commented on #1743
/assign @spiffxp

[2021-03-02 06:02] thockin commented on #1664
Will these buckets accumulate files and grow to unbounded size?    Should we pre-create them and add deletion policies?

[2021-03-02 10:24] munnerz commented on #1476
/assign

I'm going to work on 1(c) above today (controller to sync `rules` portion of Ingress resources). In the meantime, as we are nearing March 11th and this has not been resolved yet, I am applying the same workaround as in December to get us over the hump.

[2021-03-02 12:00] rikatz opened #1745 "Wildcard and migration of cert-manager solver from HTTP01 to DNS01"
Per Slack conversation with @munnerz , we could migrate the cert-manager solver from HTTP01 to DNS01, and issue a *.kubernetes.io certificate instead of relying on each ingress object.

This will solve two problems:
* You can use any ingress or any IP as long as you own that DNS name
* Using wildcard certificate reduces significantly the amount of managed certificates

This have some caveats:
* ce

[2021-03-02 12:55] munnerz commented on #1476
Update - certificate has been renewed:

[code]

[2021-03-02 18:01] spiffxp commented on #1664
SGTM will open issue for followup

[2021-03-03 16:53] rikatz commented on #1745
@munnerz per meeting today, we're going to move forward with the controller until cert-manager gets the proper patch.

Issuing a wildcard can bring to us some risk we don't want to have right now, about if someone can use that certificate the person can impersonate any kubernetes.io certificate, so for now let's move with per-ingress certificate :)

I'll try to review the controller this week, but

[2021-03-03 16:53] #1745 closed

[2021-03-03 18:21] spiffxp opened #1750 "audit followup: ensure-staging-storage should validate input"
Created while reviewing https://github.com/kubernetes/k8s.io/pull/1748

If a human is going to run it piecemeal, the script needs to filter input against the source of (truth? intent?) for staging projects.

Otherwise, typos mean accidental project creation; I've done it myself a few times.

/sig testing
/sig release
/area release-eng
/kind bug
/priority critical-urgent

[2021-03-03 18:29] spiffxp commented on #1731
Another piece of followup: I setup a custom `secretLister` role (ref:  https://github.com/kubernetes/k8s.io/pull/1726) which _should_ allow someone to use the GCP console to manage secrets.  It should work such that adding it to a group means they'll be able to list/see secrets, but only those they directly have access to.  Need to trial this with someone (maybe @jeefy)

[2021-03-03 18:41] spiffxp opened #1751 "audit-followup: deal with project ssh-keys growing"
Followup from https://github.com/kubernetes/k8s.io/pull/1748

over time k8s-infra-e2e-* projects are accumulating entries in `project.commonInstanceMetadata["ssh-keys"]` (eg: https://github.com/kubernetes/k8s.io/pull/1748/files#diff-358508c57e9216cf9e24c719a001712286b35054ea2618b4c7904db2290e8337R6)

briefly:
- first entry ends in `prow\nprow:prow:ssh-rsa` (this is intended, same across all projec

[2021-03-03 19:54] jeefy commented on #1731
Happy to help! Just ping. :)

[2021-03-03 20:42] spiffxp commented on #1751
/assign @amwat
To answer questions re: kubetest2

[2021-03-03 21:17] spiffxp opened #1753 "audit-followup: consider dropping the iam.serviceAccountLister role"
context : https://github.com/kubernetes/k8s.io/pull/1737#issuecomment-789952306

It's not super clear to me what its purpose is.  The relevant service accounts or other roles may have subsumed the need for this?

/wg k8s-infra
/sig testing
/area access
/area cluster-mgmt
/priority backlog

[2021-03-03 23:17] amwat commented on #1751
so i think both of those are generated by kube-up for the same reasons, except they have a different $USER
kubetest just inherits from https://github.com/kubernetes/test-infra/blob/master/config/prow/config.yaml#L614-L615 kubetest2 overrides it to use `kubetest2`

[2021-03-03 23:27] spiffxp commented on #1751
if that's the case I guess I would expect to see a lot more spurious keys with not-kubetest2 at the end of them

wonder what it is that kube-up is doing differently on its own?  regardless, I'm feeling like some possible paths forward could be:
- make kube-up clean after itself
- make boskos clean up _some_ of this stuff (I don't think wiping all common metadata is what we want, and not even all k

[2021-03-03 23:29] spiffxp commented on #1661
Confirmed consistent in https://github.com/kubernetes/k8s.io/pull/1748

Removing old role cleanup code in https://github.com/kubernetes/k8s.io/pull/1737

Then can call this done

[2021-03-04 00:03] amwat commented on #1751
I think `kube-down` cleaning after itself and janitor both make sense.

Just to elaborate on the "why they are all the same":

we add `preset-k8s-ssh` keys to all the jobs

https://github.com/kubernetes/test-infra/blob/92cd24353f22a1d9be918983bb7330d4a317ea55/config/prow/config.yaml#L611-L628

which mounts a pair of existing keys (as secrets in the prow cluster) to each job.

which `scenarios/kube

[2021-03-04 04:03] spiffxp commented on #1657
Glanced at Cloud Asset Inventory to look into something else

Two things that disqualify it as a general-purpose solution for us, I think:
- It seems to be more about dumping that you _have_ assets, and less about how they are configured (e.g. services enabled on a project, release channel of a cluster, etc.)
- It doesn't support Secrets as an asset type https://cloud.google.com/asset-inventory/do

[2021-03-04 07:28] #1750 closed

[2021-03-04 07:46] spiffxp commented on #1678
ref: https://github.com/kubernetes/k8s.io/issues/1743

[2021-03-04 14:34] #533 closed

[2021-03-04 17:16] spiffxp commented on #244
/close
Thank you for your help in getting this over the line @hh!

I think we can call this done now:
- [job config in kubernetes/test-infra](https://github.com/kubernetes/test-infra/blob/6b15e8cf259c7b2dfc4f027b58b795bced96de7d/config/jobs/kubernetes/wg-k8s-infra/trusted/wg-k8s-infra-trusted.yaml#L25-L96)
- shows up on testgrid: https://testgrid.k8s.io/wg-k8s-infra-k8sio#ci-k8sio-audit
- sample P

[2021-03-04 17:16] #244 closed

[2021-03-04 17:39] spiffxp commented on #1730
/kind bug

[2021-03-04 17:40] Riaankl opened #1758 "temporary project for prototyping cross-cloud artifact hosting infrastructure"
A playground is requested to work on and test efforts for moving k8s images and other artifacts to alternative infrastructure.

The current needs envisioned:
- Cloud DNS access for a test domain
    - set up Harbor domain/Distribution domain
    - set up mirroring Harbor/Distribution subdomain instance
- a small cluster
    - 2-3 e2-standard-2
    - bring up a few Harbor/Distribution installations

[2021-03-04 17:57] spiffxp commented on #1597
Still need to cleanup references to master in this repo

**Blocking**
- [`cip-auditor`][1]: this is on me, is now blocked behind https://github.com/kubernetes/k8s.io/issues/1730 otherwise I would ask releng
- [`go.k8s.io/redirects`][2] - Can be PR'ed by anyone. Approval should be restricted to someone who can deploy the `k8s.io` app.  I don't have experience there, would prefer someone else can un

[2021-03-04 18:10] ameukam commented on #1758
/assign @spiffxp @thockin
cc @hh

[2021-03-04 19:33] ameukam commented on #1758
/priority backlog
/area artificats
/area cluster-infra

[2021-03-04 19:33] ameukam commented on #1758
/area artifacts

[2021-03-04 21:00] Riaankl commented on #1758
/cc @BobyMCbobs

[2021-03-05 00:25] spiffxp commented on #1523
I agree with putting kubekins-e2e somewhere shared / under releng purview.

I don't think it should be build-images though. Thinking toward applying policies for build provenance and security audit for the build chain of k8s releases. The kubekins-e2e image is an organically evolved mess, easier to keep it out of that repo than attempt to filter policy on certain image names.

I'm thinking of:
- g

[2021-03-05 00:27] spiffxp commented on #1523
Ping @BenTheElder and @kubernetes/release-managers for comment

[2021-03-05 00:38] spiffxp commented on #1523
Another bit of followup to consider, setup auto bumping of images used in jobs: https://github.com/kubernetes/test-infra/issues/21137

[2021-03-05 02:27] spiffxp commented on #1758
/remove-priority backlog
/priority important-soon
I would like to unblock you but it may not be until after code freeze

[2021-03-05 04:00] BobyMCbobs commented on #1758
@spiffxp, many thanks! That's no worries

[2021-03-05 05:42] BenTheElder commented on #1523
I think we should continue to have CI images in a dedicated registry. They're not the same as, say, GCB images  (e.g. docker in docker setup, bootstrap.py, you name it). I also think staging registries should map to a single git repo so it's easier to locate the git source for any given image. (And that's the pattern we have right now in k8s.io pretty consistently).

CI images should continue to b

[2021-03-05 20:41] ameukam opened #1762 "Growth in the consumption cost of Compute Engine service"
During the billing review of 03-03-2021 meeting, @spiffxp noticed a increase of the total spent on Compute Engin for project `k8s-infra-prow-build`. This may need further investigation.

![image](https://user-images.githubusercontent.com/2343515/110170823-0dfed580-7dfb-11eb-9122-f05188461240.png)

Source: https://datastudio.google.com/s/k4qozcHEZrk.

/assign @spiffxp
/priority backlog
/area cluste

[2021-03-05 20:43] ameukam commented on #1762
Maybe the recent efforts to reduce build maintenance : https://github.com/kubernetes/enhancements/issues/2420#issuecomment-791024902 ?

[2021-03-06 00:46] BenTheElder commented on #1762
I don't think so, more likely code freeze => lots of PRs being tested, bigger node pool?
We also had some issues with bad unit tests and bad partial go 1.16 upgrade leading to lots of spurious failures (that had nothing to do with bazel or not).

[2021-03-08 15:19] detiber commented on #984
/lifecycle frozen

[2021-03-08 18:34] rikatz commented on #1507
@spiffxp we are not hit by code freeze right? Can I take a look into this calmly after tuesday? :D

[2021-03-08 22:12] ameukam commented on #1572
Build clusters have been upgraded to Terraform 0.13 : https://github.com/kubernetes/k8s.io/pull/1693

[2021-03-08 22:51] ameukam commented on #1544
The priority may have shifted over time.

/remove-priority critical-urgent
/priority backlog

Feel free to revert if emergency is still relevant

[2021-03-09 02:04] spiffxp commented on #1751
That assumed key the preset adds is already prepopulated in all projects by ensure-e2e-projects.sh

We should figure out why it's not being detected

[2021-03-09 02:06] spiffxp commented on #1751
New key per run and cleaning up afterward would be a good followup and reduce impact of the assumed key needing to be rotated, but let's cut the noise down first

[2021-03-09 14:41] ameukam opened #2182 "Where to host cs.k8s.io"
https://cs.k8s.io is running on a baremetal server [provided](https://github.com/cncf/cluster/issues/67)  by Equinix Metal(ex Packet) under CNCF budget and operated until now by @dims.

The question was asked about whether or not we should host CodeSearch on [aaa](https://github.com/kubernetes/k8s.io/blob/main/running-in-community-clusters.md#where-are-the-clusters) cluster.

Ref: https://kubernet

[2021-03-10 10:41] cpanato opened #1772 "failed to push image after GCB build"
We have a [presubmit prow job](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/release/release-config.yaml#L91-L123) to test if the images are built correctly

we have an issue that is the job does not complete successfully because it cannot push image we got this error

[code]
failed job example: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/release/1890/

[2021-03-10 10:41] cpanato commented on #1772
/assign @cpanato @spiffxp

[2021-03-10 23:04] spiffxp commented on #1772
Ohhhhhh. Ok so here's what's happening.

gcb-builder-releng-test is just used to trigger cloud builds, it is _not_ what those builds run as

AFAIK those always run as a special service account created by GCB in the project that is running those builds

(Dropping k8s-staging since typing on a device) So, I think, the prowjob is running in k8s-infra-prow-build. But its triggering a build in releng-t

[2021-03-10 23:10] spiffxp commented on #1772
Piecemeal configuring certain projects being able to push to certain repos sounds like a recipe for complication. What's the general pattern we're trying to accomplish?

I'm interested in being able to push to buckets/images within a project, whether from prow or from gcb. Moving away from one special SA being able to push to all projects at once.

[2021-03-10 23:16] spiffxp commented on #1772
tl:dr have you tried pushing to gcr.up/k8s-staging-releng-test instead?

[2021-03-10 23:24] justaugustus commented on #1772
Another thought...

Ultimately, I'm not sure that we care the entire workflow, just the fact that the image was built successfully.
What about enabling the presubmit/RelEng tools to have a `--local` mode, which would use `cloud-build-local` instead: https://cloud.google.com/build/docs/build-debug-locally

[2021-03-10 23:32] justaugustus commented on #1772
But agreed w/ @spiffxp's assessment, the [most recent (non-go1.16.1) job](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/release/1795/pull-release-image-kube-cross/1367059502620217344) is running in `k8s-staging-releng-test`, but attempting to push to `k8s-staging-build-image`, which is going to fail unless the GCB SA has access to write into GCR for the other project.

If we decide w

[2021-03-11 00:16] spiffxp commented on #1772
You might be able to change your cloudbuild to not push, depending on presence of an env var? And/or if image-builder doesn't support "no-push" that seems like a worthwhile addition

FWIW it may not be a problem for your use case, but bumping into this fun with buildx is why I like the idea of exercising a push

https://github.com/kubernetes/test-infra/issues/20884#issuecomment-783840975

[2021-03-11 06:04] spiffxp commented on #1751
/priority important-soon

[2021-03-11 07:52] cpanato commented on #1772
I will check how to set a different registry and the no push option as well

[2021-03-11 07:52] cpanato commented on #1772
thanks for all the inputs and feedback

[2021-03-11 15:48] cpanato commented on #1772
after some changes now it works! 🎉

one GCB build for example: https://console.cloud.google.com/cloud-build/builds;region=global/9e1057f7-eb76-4839-a95f-b34c61815278?project=k8s-staging-releng-test
prow job for that: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/release/1890/pull-release-image-kube-cross/1370028453318889472

we can close this issue

thanks Aaron and Stephen!
/woof
/c

[2021-03-11 15:48] #1772 closed

[2021-03-11 19:36] moshloop opened #1782 "24x7 k8s-infra on-call"
Kubernetes is a global project and used in enough mission-critical environments that support non-prow-related issues should have 24x7 on-call rotation (activable by any Kubernetes member) with a primary and standby.

What are the limitations that would prevent a call for volunteers to go out to augment the existing team that is doing their very best but are ultimately PST bound and providing suppo

[2021-03-12 17:54] thockin commented on #1782
For what it's worth, I'd *love* to see this be more formalized.  But I agree with Aaron - it's not as simple as getting people to sign up.   This is a somewhat under-serviced WG right now.  We're incrementally, slowly, piece by piece getting better, but part of that is also revisiting prior decisions with new context.

When it was just me editing the bash, it was fine.  Now that we have a) a lot m

[2021-03-14 20:36] #966 closed

[2021-03-15 19:31] moshloop commented on #1782
Thanks for the feedback - I will draft a working document for discussion at the next meeting.

[2021-03-16 14:12] spiffxp commented on #1659
/reopen
not quite done

[2021-03-16 18:27] spiffxp commented on #1673
/assign @spiffxp
for https://github.com/kubernetes/k8s.io/issues/1731
/assign @chaodaiG
FYI, ignore the "move to community build cluster" part and I think this overlaps with at least part of a proposal you're working on

[2021-03-16 19:22] spiffxp commented on #176
FYI @ameukam @nikhita

[2021-03-17 02:49] pacoxu commented on #1459
/cc

[2021-03-17 04:46] spiffxp commented on #1597
@nikhita and @dims have helped land some of the necessary changes, edited above comment into checklist and crossed out what's been done

[2021-03-17 04:55] spiffxp commented on #1031
Current status: `$ rg -l extensions/v1beta1 | sort | sed -e 's/^/- [ ] &/g'`
- [ ] artifactserver/manifest.yaml
- [ ] gcsweb.k8s.io/ingress.yaml
- [ ] k8s.io/ingress-canary-v6.yaml
- [ ] k8s.io/ingress-canary.yaml
- [ ] k8s.io/ingress-prod-v6.yaml
- [ ] k8s.io/ingress-prod.yaml
- [ ] node-perf-dash.k8s.io/ingress.yaml

[2021-03-17 17:39] spiffxp commented on #846
https://github.com/kubernetes/test-infra/pull/20964#issuecomment-784354491

Analysis from a while ago:
- as long as
  - dl.k8s.io/ci continues to point to kubernetes-release-dev
  - there are parallel jobs pushing to kubernetes-release-dev, k8s-release-dev respectively
  - the build / either job occasionally flake
- people using dl.k8s.io/ci/*.txt version markers may try pulling something that doe

[2021-03-17 19:52] ameukam opened #1802 "Clean up aaa cluster"
There is namespace `monitoring` I believe was created for experimental purpose but I can't remember the ultimate goal of his existence.

[code]

The grafana instance is publicly exposed:
[code]

We should clean up this namespace and recycle it host the monitoring for prow staging as suggested in #1394.

[2021-03-17 19:59] ameukam commented on #1802
I also noticed a secret in the `default` namespace unused :

[code]

It continues to appear in the cert-manager logs :

[code]

It should be deleted.

[2021-03-17 20:00] ameukam commented on #1802
/assign @spiffxp @dims
/area cluster-mgmt
/priority important-urgent
/milestone v1.21

[2021-03-17 20:02] ameukam commented on #1802
/priority critical-urgent
(I'm really bad at labels)

[2021-03-18 06:32] moshloop commented on #1782
Work in progress is here: https://docs.google.com/document/d/1ih_h-0qnX8B0VjtoE1a6YjF8VTimoZ1jm_U78wnyu0g/edit

[2021-03-18 18:20] spiffxp commented on #1802
FYI @bartsmykla @munnerz

[2021-03-19 16:42] ashnehete opened #1810 "Requesting to Enable CORS on gcsweb.k8s.io for easy access via AJAX calls to bucket objects"
On relnotes.k8s.io we want to fetch the release notes for each release directly from the bucket using a AJAX call. Relevant issue: https://github.com/kubernetes/release/issues/1087

While trying to fetch the object using a gcsweb.k8s.io link (eg. https://gcsweb.k8s.io/gcs/kubernetes-release/release/release-notes-index.json) we ran into a CORS error. It seems that CORS isn't enabled on the GCS buck

[2021-03-21 22:25] BobyMCbobs commented on #1466
I made this PR to update the references away from _kubernetes-tools_
https://github.com/kubernetes-sigs/slack-infra/pull/44

[2021-03-22 00:24] Riaankl commented on #1758
Updated the issue to include the reference to Harbor & Distribution as there will not be a focus on only one technology.
Out of K8s Infra WG meeting:
This project would be used to test various PoC's.
It does not relate to the access needed to the GCS logs requested, as the request refers to real logs for analysis.

[2021-03-22 08:37] saschagrunert commented on #1810
@spiffxp @dims @justaugustus do you think that we could set the CORS config for the `kubernetes-release` bucket?

Like:
[code]

[2021-03-22 10:38] dims commented on #1810
@saschagrunert Is this script-able?

[2021-03-22 11:16] saschagrunert commented on #1810
Yes, `gsutil` has a `cors` subcommand:
[code]

[2021-03-22 11:25] ashnehete commented on #1810
I just had a thought, do we want to restrict `AllowedOrigins` to only `https://relnotes.k8s.io/` or open it up for everyone (`*`)? This will make the testing easier on `localhost` as well as open up avenues for other tools to use the objects in the bucket programmatically. Only downside I see is the security implication.

[2021-03-22 18:24] vincepri opened #1815 "Donating clusterapi.io domain to CNCF"
Hi everyone,

A while ago I registered `clusterapi.io` domain given that it was available. I would like to donate this domain to the CNCF and use it for the [Cluster API](https://github.com/kubernetes-sigs/cluster-api) project.

/cc @dims

[2021-03-22 19:00] dims commented on #1815
@caniszczyk Can you please help with the transfer of this domain to our use?

[2021-03-22 19:44] Riaankl opened #1817 "Request premissions to create and manage Projects on Kubernetes/k8.io"
To help track and focus on the **Umbrella issue: migrate away from google.com gcp projects #1469** I would like to request permissions to be able to create and manage [Projects](https://github.com/kubernetes/k8s.io/projects) in this repo.

[2021-03-22 19:44] Riaankl commented on #1817
/assign @dims @spiffxp

[2021-03-22 20:02] spiffxp commented on #1817
Why not use issues on https://github.com/orgs/kubernetes/projects/6 ?

[2021-03-22 20:24] Riaankl commented on #1817
We want to put a lot of focus on the topics related to your Umbrella issue and other issue supporting that work.
I saw I have access to that https://github.com/orgs/kubernetes/projects/6.
Would it make sense to create a new project board for tracking the work and filter out some noise?
Or would you prefer if we stick with Project board 6?

[2021-03-22 20:29] spiffxp commented on #1810
/assign @listx
`gs://kubernetes-release` lives in a project I do not have rights to edit or modify in any way (ref: https://github.com/kubernetes/k8s.io/issues/1571), so it's not clear to me whether we can accommodate this request

It could be that fully migrating to `gs://k8s-release` is a blocker to this (the first step / proof-of-concept for doing so being https://github.com/kubernetes/k8s.io/i

[2021-03-22 20:46] spiffxp commented on #1817
What GitHub search syntax could adequately filter down to the relevant work?

eg milestone, priority label, area label, sig label, lifecycle label, etc

Our label taxonomy needs work and we could use some suggestions

[2021-03-22 20:47] spiffxp commented on #508
/remove-priority backlog
/priority important-longterm

[2021-03-22 20:49] Riaankl commented on #1817
Good, I will work with that.
Thank you @spiffxp
/close

[2021-03-22 20:49] #1817 closed

[2021-03-22 20:55] spiffxp commented on #508
Mentioned this during last weeks meeting. I feel like this is a proxy for how we think about, model and organize our work.  We've got debt to pay down to make it easier to manage and onboard. So it's more important than "eh they're just labels"

I feel like we should have one set for currently running apps or services. Things like dns, k8s.gcr.io for services. Things like triage-party, slack-infra

[2021-03-22 20:57] spiffxp commented on #1817
https://github.com/kubernetes/k8s.io/issues/508#issuecomment-804388064 per taxonomy

I'm not completely opposed to the idea of smaller boards I just worry about fragmentation. I already have a tough time keeping track of what's going on. Thinking in terms of GitHub search queries is most effective for me. It could be that "is on this other project board" is useful in that sense. But I guess I'm as

[2021-03-22 21:02] spiffxp commented on #1815
/assign @caniszczyk @idvoretskyi

[2021-03-22 22:06] caniszczyk commented on #1815
yes, can you file a ticket @dims ? we can potentially do this via a self service fashion: https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/create/63

whoever can unlock the domain + send the auth code over should do it

if that doesn't work, we will do the domain transfer dance over email like usual :)

[2021-03-22 22:08] dims commented on #1815
Excellent. on it (filing a ticket)

[2021-03-22 22:08] dims commented on #1815
@vincepri Do you want to try that portal url method please?

[2021-03-22 22:14] dims commented on #1815
@caniszczyk here it is! CNCFSD-734

[2021-03-22 22:30] Riaankl commented on #1817
@spiffxp I do not know how you manage to keep track of all the things. - Respect.
I am very new to K8s.io repo and it is still a little unclear to me. I would like to simplify and not further complicate it for you.
You are probably correct that a label could be a good way to filter on the current protect board. Maybe something like `Infra-Migration` + assigning the issue to Hippie / Caleb.

[2021-03-22 22:42] BobyMCbobs commented on #1527
According to https://cs.k8s.io/?q=kubernetes-node-e2e-images&i=nope&files=&excludeFiles=&repos=, it appears that this project may not have been used since around 2016.

[2021-03-23 00:05] rikatz commented on #1624
So far:
* Pulumi needs some coding, and also some account, discarded for now
* Made a simple program to create alert, and also to fetch it and the channel so @hasheddan can take a look into how viable is this on Crossplane -> https://gist.github.com/rikatz/d9dc76d27b8371d590924508bd2be6c0
* Will make some attempts with terraform as well, tomorrow

My thoughts on this specific part: I really like t

[2021-03-23 01:57] listx commented on #1810
The `gs://kubernetes-release` lives in the `google-containers` GCP project, and I also do not have rights to modify it. Fully migrating to k8s-release seems to be the right thing.

[2021-03-23 09:20] amwat opened #1818 "community infra for kubernetes/kubetest2 CI"
similar request to: https://github.com/kubernetes/k8s.io/issues/654

We require:

- a GCP project to host:
  - GCB (for trusted building)
  - a GCS bucket to host CI binary builds of `kubetest2`, `kubetest2-gce`, `kubetest2-tester-ginkgo` for use in Kubernetes testing.

xref: https://github.com/kubernetes/enhancements/issues/2464

/cc @spiffxp @BenTheElder

[2021-03-23 14:29] cpanato opened #1821 "Copy gcr.io/gke-release/gcp-compute-persistent-disk-csi-driver:v1.2.0-gke.0 to the production bucket and to the staging bucket"
This is part of the effort described in this issue: https://github.com/kubernetes/k8s.io/issues/1525.

We now have the image build job for the image `gcp-compute-persistent-disk-csi-driver` implemented in those PRs https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/724 and https://github.com/kubernetes/test-infra/pull/21374.

And the image is now available in the stagin

[2021-03-23 15:44] ameukam commented on #1821
/area artifacts
/milestone v1.21
/assign @spiffxp

[2021-03-23 19:54] #1818 closed

[2021-03-24 18:37] spiffxp commented on #1459
/milestone v1.22

[2021-03-25 17:28] ameukam commented on #1031
@spiffxp `artifactserver` is not deployed on `aaa`. I'll exclude it in this issue.

[2021-03-25 17:50] ameukam commented on #1802
Namespace `monitoring` have been deleted:

[code]

The static ip adress associated have been deleted :
[code]

[2021-03-25 22:30] BobyMCbobs opened #1834 "Umbrella issue: k8s.gcr.io => registry.k8s.io solution"
# Umbrella issue: k8s.gcr.io => registry.k8s.io solution #1834

This markdown is synced from https://hackmd.io/gN-1GeSpSgyNSvmjKSULbg?edit to https://github.com/kubernetes/k8s.io/issues/1834#issue-841372237 manually by @BobyMCBobs

Scope: https://github.com/kubernetes/k8s.io/wiki/New-Registry-url-for-Kubernetes-(registry.k8s.io)

Design Doc: https://docs.google.com/document/d/1yNQ7DaDE5LbDJf9ku82Y

[2021-03-26 12:38] stp-ip commented on #1834
Correct link as Github parsed wrong I guess: [https://hackmd.io/@TKToYPauRJ-u_mNRBOh4HQ/HJBH3QF4_](https://hackmd.io/@TKToYPauRJ-u_mNRBOh4HQ/HJBH3QF4_)

[2021-03-26 23:34] thockin commented on #1834
This finally forced me to disassemble the registry protocol a bit.  Interesting.  I picked a simple image I know:

[code]

I picked the last blob:

[code]

So maybe this is not so hard as I feared?

If we catch URLs of the form `https://reg.k8s.io/v2/<name>/manifests/<tag>` we can redirect those to k8s.gcr.io (which has global replicas) or some other "canonical" source for metadata.  I don't know

[2021-03-27 01:01] ameukam commented on #1403
/assign
/remove help

[2021-03-27 01:04] ameukam commented on #1403
With a simple change of the provider:

[code]

Terraform will try to create the cluster :
[code]

[2021-03-27 18:28] thockin opened #1838 "REMINDER: clean up thockin-test certs mess after June 26, 2021"
Cert expires Fri, 25 Jun 2021 16:43:40 UTC.  I want to make sure it refreshes properly.

* Delete namespace `thockin-test-certs` and make sure ingress LBs are cleaned up
* Delete static IPs `thockin-test-v{4,6}`
* Delete DNS names (A and AAAA) `thockin-test{1,2,3}`

[2021-03-27 19:08] spiffxp commented on #1838
/milestone v1.22

[2021-03-28 19:25] BobyMCbobs commented on #1834
@stp-ip, thank you. I've updated the description

[2021-03-28 23:42] Riaankl commented on #1469
**Migrate away from google.com GCP project google-containers #1571** is related to this issue, but not hyperlinked in the description.
Adding this comment just to help to track related issues.

[2021-03-29 00:31] BobyMCbobs commented on #1460
There appears to be a few missing images in _k8s-staging-ci-images_:
[code]

also according to https://cs.k8s.io/?q=kubernetes-ci-images&i=nope&files=&excludeFiles=&repos=, the repos seeming to still be using them (ignoring documentation related) are:
- kubernetes-sigs / cluster-api-provider-azure
- kubernetes / test-infra (https://github.com/kubernetes/test-infra/pull/21548)
- kubernetes-sigs / c

[2021-03-29 15:58] dims commented on #1815
@vincepri @caniszczyk is this wrapped up?

[2021-03-29 18:24] justaugustus commented on #1834
Great to see this discussion happening!

A few things I'd like to see:
- this reconciled with the existing artifact management KEP for @brendandburns + @justinsb: https://github.com/kubernetes/enhancements/tree/master/keps/sig-release/1732-artifact-management
- this reconciled with the longer-term artifact management epic: https://github.com/kubernetes/sig-release/issues/1372 (currently assigned t

[2021-03-29 19:39] BobyMCbobs commented on #1834
@thockin, thank you for your input!

I suspect that clients may be fine with redirects

I'm unsure the capability of Google CloudDNS or the use of LoadBalancers to achieve this, community-hosting it might be the option (I'm still investigating otherwise).

This would mean declaring a rule to rewrite the URL that redirects to a DNS host that uses split-horizon DNS which will then go to a blobs serv

[2021-03-29 19:48] BobyMCbobs commented on #1834
@justaugustus, appreciate your comments!

Thank you, I'll take a read of the KEP.

Totally [epic], I'll check it out as well

Absolutely! I've got the two proposals for either [Distribution](https://hackmd.io/@TKToYPauRJ-u_mNRBOh4HQ/HJBH3QF4_) or [Harbor](https://hackmd.io/@TKToYPauRJ-u_mNRBOh4HQ/HyJ7yazQO). Both are wonderful pieces of software.

That would be lovely!

I'll get in contact regardi

[2021-03-29 20:03] thockin commented on #1834
/v2/<name>/manifests/<ref> from /v2/<name>/blobs/<digest> so the 1st part
could simply be a cloud LB rule. Alas it only matches on prefixes. It might
be possible to use Content-Type or Accept headers to tell the difference
(suggested: match Accept header with blob mime type). If we could do that,
then the only thing we'd have to own would be the 2nd part.

DNS host that uses split-horizon DNS whic

[2021-03-29 22:23] BobyMCbobs commented on #1834
Would you say that a small webserver to do 302 redirects may be easier or more maintainable than split-horizon?

This is a really clear flow!

@thockin, thank you!

[2021-03-30 15:57] onlydole commented on #1403
Jumping in to help triage/groom/etc.

/assign

[2021-03-30 17:47] MushuEE commented on #1590
[code]
From [HERE](https://support.google.com/datastudio/answer/7459147?hl=en)

It also looks like you can specify a Project ID for billing within a specific report.
[code]
[HERE](https://support.google.com/datastudio/answer/6370296?hl=en)

[2021-03-30 20:49] ameukam commented on #1802
Secret `perfdash-k8s-io-tls` have been deleted :

[code]

[2021-03-31 04:08] spiffxp opened #1850 "audit followup: give k8s-conform serviceaccounts objectAdmin privileges for their respective gcs buckets"
Followup for https://github.com/kubernetes/k8s.io/pull/1800/files#r597514009

Currently we give humans (`group:k8s-infra-conform-foo`) `roles/storage.objectAdmin` for the gcs bucket `k8s-conform-foo`, but the corresponding service account only gets `roles/storage.objectCreator`

I believe this was chosen at the time to ensure rogue automation couldn't go delete a bunch of results.  But I'm fine gi

[2021-03-31 11:00] dims commented on #1850
+1 to this idea.

[2021-03-31 19:27] justaugustus commented on #1569
(Opened https://github.com/kubernetes/k8s.io/pull/1857 for dl.k8s.io/ci.)

[2021-03-31 20:01] ameukam commented on #1460
About the images :
- `kube-aggretator` has not been published since 1.12
- `cloud-controller-manager` has not been publish since 1.16
So we don't really need to migrate them but we make sure they can be consumed. That's you find reference of kubernetes-ci-images in `k/release`.

IMO, we should announce a maintenance window before we made changes in other repos outside of `k/test-infra`.

[2021-03-31 20:46] rikatz commented on #1834
Can I do an attempt into Cloud Run and check if instead we run a machine, running a function that does the redirect wouldn't be cheaper (probably not!) and better? :D

[2021-03-31 21:41] ameukam commented on #1394
As discussed during WG K8s infra meeting of March 31 2021, we agreed to call `k8s-infra-prow`.
Impact on (maybe):
DNS : prow-staging.k8s.io -> k8s-infra-prow.k8s.io
Namespace used in the build cluster ?

[2021-03-31 23:57] spiffxp commented on #1394
/retitle
Setup a k8s-infra prow instance

[2021-04-01 00:02] spiffxp commented on #436
@ameukam asked if we still want this service enabled for staging repos during today's k8s infra meeting

[2021-04-01 15:53] randomvariable opened #1863 "Request for sig-cluster-lifecycle-cluster-api-alerts@kubernetes.io Google Group"
We were using kubernetes-sig-cluster-lifecycle-cluster-api-alerts@googlegroups.com for Testgrid/Prow alerts for Cluster API. Unfortunately, after a Google Workspace migration, all the owners were removed and the group has disappeared into the ether.

Would it be possible to create a Google Group within the kubernetes.io domain, so we can manage it via this repository, e.g. in this example PR https

[2021-04-01 15:54] dims commented on #1863
cc @spiffxp @thockin @ameukam

[2021-04-01 16:16] ameukam commented on #1863
@randomvariable Looking at #1862, we need to validate 2 requirements:
* group name (including the domain) can be up to 73 characters long.
* domain need to `kubernetes.io`.

Feel free to open a new PR (or reopen #1862) and assign it to me.

[2021-04-01 18:20] spiffxp commented on #1751
https://github.com/kubernetes-sigs/kubetest2/issues/109 - support for reusing ssh keys
https://github.com/kubernetes/test-infra/pull/21561 - enable for our kubetest2 jobs

At this point I'm inclined to try a one-shot that nukes the ssh-keys and resets to known default.  I will try to take a look at currently running jobs (look at boskos resources on relevant build clusters) to see if it's worth av

[2021-04-02 14:38] chaodaiG commented on #1673
https://github.com/kubernetes/test-infra/pull/21484 enabled prow cluster secrets synced from google secret manager and other secret manager providers. https://github.com/kubernetes/test-infra/pull/21610 adds more instructions to make it more clear how clients can rotate secrets by themselves

[2021-04-05 13:17] rikatz commented on #436
I'm not sure. IMO it's really important for us to make sure the images we serve (at least the kubernetes one) does not contain any vulnerable package, but I guess it's worth to discuss with sig-security about this.

For other images, this should be an opt-in.

Maybe we should close this, and think from another perspective: does sig-release wants to scan the generated images? If so, instead of rely

[2021-04-05 15:22] spiffxp commented on #436
@kubernetes/release-engineering is this part of your v1.22 plans?

[2021-04-05 20:57] amwat commented on #1818
ref: ref: https://github.com/kubernetes-sigs/kubetest2/issues/106

[2021-04-06 12:50] rikatz commented on #1624
@ameukam will work on this, using @thockin tests to monitor certificates renew and expiration as an example.

[2021-04-06 19:12] spiffxp commented on #1659
https://github.com/kubernetes/k8s.io/pull/1859 contains changes to ensure-main-project.sh that remove the project-level ServiceAccountLister role in favor of the org-level ServiceAccountLister role.  Change was deployed per https://github.com/kubernetes/k8s.io/pull/1859#issuecomment-814369851

[2021-04-06 19:15] spiffxp commented on #1675
/assign
https://github.com/kubernetes/k8s.io/pull/1859 should allow me to address, just want to be careful about rolling it out

[2021-04-06 19:17] spiffxp commented on #1661
/close
Per the comment above, this is done.  Think I was waiting for #1737 to merge.

[2021-04-06 19:17] #1661 closed

[2021-04-06 19:33] rikatz commented on #1624
https://github.com/kubernetes/k8s.io/pull/1877 <- Created a PR with a really simple Terraform that adds an uptime check and the current alert policy.

We can improve this, like adding latency/uptime alerting (like for cs.k8s.io and others), etc.

[2021-04-06 21:06] spiffxp commented on #1675
gathered output related to extra services from https://github.com/kubernetes/k8s.io/pull/1859#issuecomment-814430035 into https://gist.githubusercontent.com/spiffxp/1cbf779d7dc1c025a445b91909f55bf7/raw/49971cd6699c4dace4f47fcba8c068c212e0ad2e/k8s-staging-service-disable-plan.yaml

[code]

[2021-04-06 21:41] spiffxp commented on #1675
OK, the above services have been disabled.  See https://github.com/kubernetes/k8s.io/pull/1859#issuecomment-814444712 for the command I ran.  I updated https://gist.github.com/spiffxp/1cbf779d7dc1c025a445b91909f55bf7 with log output

[2021-04-06 22:05] spiffxp commented on #1675
Since I just changed a bunch of staging project permissions I want to see if I can e-mail folks to give them a heads-up https://github.com/kubernetes/k8s.io/pull/1878

[2021-04-07 03:36] spiffxp commented on #299
- https://github.com/kubernetes/k8s.io/pull/1859#issuecomment-814364589 - took care of all k8s-infra-e2e-* projects
- https://github.com/kubernetes/k8s.io/pull/1859#issuecomment-814430035 - took care of all k8s-staging-* projects

[2021-04-07 16:47] #1673 closed

[2021-04-07 16:57] saschagrunert commented on #1850
I would be also in favor of this :+1:

[2021-04-07 17:13] randomvariable commented on #1863
@ameukam , great, thanks. will do.

[2021-04-08 04:12] hh commented on #1834
I've been searching out a few ASNs for larger cloud providers that likely hit our existing infra.
Once we use these to understand which providers are costing the CNCF the most, we can approach to redirect to a local solution. If anyone from these providers wants to help narrow down which ASNs are part of their cloud offerings, that would help.

- Microsoft
  - https://www.peeringdb.com/org/8896

[2021-04-08 08:22] saschagrunert opened #1882 "CRI-O artifact staging"
We require a staging location for image and binary artifacts, which is modifiable by us (without a retention policy).

I'll request a staging project for that purpose.

cc @haircommander @mrunalp

[2021-04-08 09:15] stp-ip commented on #1834
* Digital Ocean
  * https://www.peeringdb.com/net/6494
  * https://bgp.he.net/AS14061#_prefixes

* Huawei
  * https://www.peeringdb.com/net/18382
  * https://bgp.he.net/AS136907#_prefixes

* Baidu
  * https://www.peeringdb.com/net/6517
  * https://bgp.he.net/AS55967#_prefixes

There are a few other providers that could result in traffic, but above felt like a good additional selection of the bigge

[2021-04-08 10:10] ameukam commented on #1882
/assign @spiffxp @dims

[2021-04-08 14:39] hasheddan opened #1885 "Crossplane POC for Staging Repos / Buckets"
To demonstrate how [Crossplane](https://crossplane.io/) may be used to manage k8s infra using Kubernetes itself, a POC with [staging repos](https://github.com/kubernetes/k8s.io/blob/main/infra/gcp/ensure-staging-storage.sh) should be implemented. Staging repos are good candidate because:

- They involve creation of multiple resource (GCR repo, GCS bucket) that are always created together
- There a

[2021-04-08 17:28] #1863 closed

[2021-04-08 17:42] spiffxp commented on #1675
I cannot, not without being a member of the groups.

[2021-04-08 17:46] dims commented on #1675
ah fun!!

[2021-04-08 17:52] spiffxp opened #1887 "audit followup: k8s-infra GCP projects shouldn't have random services enabled"
This is a followup to https://github.com/kubernetes/k8s.io/issues/1675 which was focused just on k8s-staging-* GCP projects

While I haven't found docs for it, I am told that over-privileged users (e.g. organization admins) who use the UI are capable of auto-enabling services as they click from project-to-project or service-to-service.  I think I often run into this when I'm using a service in my

[2021-04-08 17:52] spiffxp commented on #1887
/area infra/auditing

[2021-04-08 18:46] #299 closed

[2021-04-08 18:51] spiffxp commented on #1882
/reopen

[2021-04-08 18:58] spiffxp commented on #1882
... so actually, cri-o is not actually part of kubernetes anymore (as of kubernetes/community#3668).

It's now a CNCF incubating project: https://cri-o.io/

If it's not part of kubernetes, I don't think k8s-infra is the right place to host its artifacts.

https://github.com/kubernetes/k8s.io/issues/915 - we still need to document our policies on what is/not fair game for a staging project

[2021-04-08 18:59] spiffxp commented on #915
I just bumped into our lack of docs on this again with CRI-O https://github.com/kubernetes/k8s.io/issues/1882

[2021-04-08 19:04] spiffxp commented on #915
Reiterating from https://github.com/kubernetes/k8s.io/issues/915#issuecomment-702192163 what I think our policy should be

My strawman proposal:

- the source used to create the artifact is part of a Kubernetes subproject (owned by a SIG, or in exceptional cases by a Committee)
- the artifact is built using mechanisms wg-k8s-infra owns
- no mirroring, with exceptions given on a case-by-case basis

[2021-04-08 19:07] spiffxp commented on #915
I would be happy for this whole effort to eventually turn into something more like "wg-cncf-infra" but until that actually happens (with additional funding and staff to support the additional scope) I still think it's reasonable to explicitly disallow CNCF projects that aren't part of Kubernetes.

What do other folks think?

[2021-04-08 19:09] dims commented on #915
@spiffxp i agree with the proposal and the caveat you outlined (better to frame it as everything originating from one of the kubernetes github orgs?)

one thing i am still not sure is the retention period. what were your thoughts there?

[2021-04-08 19:20] thockin commented on #915
That seems like a reasonable proposal.  Does that mean CRI-O is *not*
allowed?

On Thu, Apr 8, 2021 at 12:09 PM Davanum Srinivas ***@***.***>
wrote:

[2021-04-08 19:26] deads2k opened #1889 "cannot find sippy deployment"
After merging https://github.com/kubernetes/k8s.io/pull/1615 I expected to see the manifests get applied to the cluster, but I don't see that.

[code]

Is there a spot for logs showing failures to create certain manifests if we have trouble?  Is there a slack channel I should be asking in?

[2021-04-08 19:32] ameukam commented on #1889
@deads2k Sorry for the confusion. See https://github.com/kubernetes/k8s.io/pull/1615#issuecomment-816098149

[2021-04-08 19:36] deads2k commented on #1889
ah ha!

Thanks!

/close

[2021-04-08 19:37] #1889 closed

[2021-04-08 20:34] spiffxp commented on #1887
As part of https://github.com/kubernetes/k8s.io/pull/1890 I'm looking at k8s-conform's services.  This project should be storage-only, so definitely going to disable compute
[code]

[2021-04-09 00:07] BobyMCbobs commented on #1834
I believe this is the list of ASNs for Equinix Metal:
<details>
- 8545
- 9989
- 12085
- 12188
- 14609
- 15734
- 15830
- 15830
- 15830
- 15830
- 15830
- 15830
- 15830
- 16243
- 16397
- 16553
- 17819
- 17941
- 19930
- 21371
- 23637
- 23686
- 24115
- 24121
- 24989
- 24990
- 26592
- 27224
- 27272
- 27330
- 27566
- 29154
- 29884
- 32323
- 32550
- 34209
- 35054
- 43147
- 47886
- 47886
- 54588
- 54825
-

[2021-04-09 01:22] spiffxp commented on #1850
Opened https://github.com/kubernetes/k8s.io/pull/1890 to fix this, PTAL

[2021-04-09 01:23] spiffxp commented on #1887
https://github.com/kubernetes/k8s.io/pull/1890#issuecomment-816326889 removed extraneous services for `k8s-conform`

[2021-04-09 01:24] spiffxp commented on #1850
/assign

[2021-04-09 01:39] spiffxp commented on #1751
Latest audit PR's don't show keys randomly getting added anymore.

Opened https://github.com/kubernetes/k8s.io/pull/1894 to stage a manual edit so I can edit keys more quickly, will run `K8S_INFRA_ENSURE_E2E_PROJECTS_RESETS_SSH_KEYS=true ./infra/gcp/prow/ensure-e2e-projects.sh` to purge all the random ssh-keys, and then look for results to be reflected in latest audit PR

[2021-04-09 02:10] spiffxp opened #1895 "audit followup: contact cri-o and huaweicloud about rotating their service account keys"
Followup for https://github.com/kubernetes/k8s.io/pull/1890#issuecomment-816334589

Their keys were created before we were provisioning into secrets, so we don't have a backup of them in k8s-infra.  I'd like to either get the old keys in the secrets, or get them to use to the new keys

/area infra/auditing

[2021-04-09 05:21] spiffxp commented on #904
/milestone v1.22
/assign

[2021-04-09 05:22] spiffxp commented on #1758
/milestone v1.22

[2021-04-09 05:25] spiffxp commented on #904
Going to repurpose this as umbrella issue for:
- setting up group restricting access to these logs: https://github.com/kubernetes/k8s.io/pull/1871
- setting up IAM such that only this group has access to the logs (https://github.com/kubernetes/k8s.io/pull/1881 tried creating a custom role but I don't think this is necessary)
- enabling the logs

[2021-04-09 05:28] spiffxp commented on #904
I'm guessing gs://k8s-artifacts-gcslogs is what was used when we trialed access logs and then disabled them
[code]

It's currently empty
[code]

I can't find anything in git history that shows this bucket being created via our scripts

[2021-04-09 05:32] spiffxp commented on #904
Let's look at what IAM is today

For the project containing the bucket
[code]

For the bucket itself
[code]

[2021-04-09 06:00] spiffxp commented on #904
Since I keep forgetting what all the permissions are for each role
[code]
[code]

[2021-04-09 07:31] saschagrunert commented on #1882
Thank you for the clarification, I'll check if I can request a project directly from the CNCF
/close

[2021-04-09 07:32] #1882 closed

[2021-04-09 07:40] spiffxp commented on #904
I think the goal should be to give `k8s-infra-gcs-access-logs@kubernetes.io` `roles/storage.objectViewer` directly on `gs://k8s-artifacts-gcslogs`, and remove as many bucket-specific or project-level bindings that result in granting `storage.objects.get` (and probably `storage.objects.list`)

Removing or altering some of the project-level service agent bindings might be tricky, some ideas:
- put t

[2021-04-09 14:57] spiffxp opened #1900 "Get sippy.k8s.io up and running"
/assign @deads2k @wojtek-t
Umbrella issue to link relevant PRs to

PRS related to getting sippy up and running that I'm aware of so far
- https://github.com/kubernetes/k8s.io/pull/1899
- https://github.com/kubernetes/k8s.io/pull/1898
- https://github.com/kubernetes/k8s.io/pull/1846
- https://github.com/kubernetes/k8s.io/pull/1844
- https://github.com/kubernetes/k8s.io/pull/1615
- https://github.co

[2021-04-09 15:31] #1850 closed

[2021-04-09 16:59] spiffxp commented on #1751
Latest audit PR (https://github.com/kubernetes/k8s.io/pull/1897) shows the results of https://github.com/kubernetes/k8s.io/pull/1894

I sorta want to wait one more round and see if any more keys come back

[2021-04-09 19:47] #1751 closed

[2021-04-09 20:33] ameukam commented on #1802
No incident reported until now so I'll consider this done.
/close

[2021-04-09 20:33] #1802 closed

[2021-04-09 20:39] rikatz commented on #1403
/assign
Wanna follow and help in this one :D

[2021-04-09 21:56] spiffxp commented on #1466
/close
No more references to kubernetes-tools https://cs.k8s.io/?q=kubernetes-tools&i=nope&files=&excludeFiles=&repos=

[2021-04-09 21:56] #1466 closed

[2021-04-12 04:16] BobyMCbobs opened #1914 "Cloud provider ASNs store"
I'd like to create a folder in this repo to manage the known ASNs for each CNCF-supported cloud-provider. This will mean for query-able IP blocks that will end up being used with a 302-redirect or split-horizon DNS for {artifacts,registry}.k8s.io.

Examples:
[code]
[code]
[code]
(so forth...)

It would be lovely to also have a representative from each cloud-provider to :ballot_box_with_check: veri

[2021-04-12 04:26] hh commented on #1914
I wonder if we could prioritise vendors from this list?
https://docs.google.com/spreadsheets/d/1uF9BoDzzisHSQemXHIKegMhuythuq_GL3N1mlUUK2h0/edit#gid=0

[2021-04-13 01:44] rifelpet opened #1921 "Increase AWS limits in some regions"
I can't confirm this because I do not have access to the AWS accounts used by prow jobs, but I believe that some AWS regions have lower resource limits than others.

Example VPC limits being reached in [ap-southeast-1a](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/directory/pull-kops-e2e-kubernetes-aws/1381638281560592384#1:build-log.txt%3A569), [eu-central-1a](https://prow.k8s.io/view/g

[2021-04-13 20:55] BobyMCbobs commented on #1834
ASNs in k8s.io repo: https://github.com/kubernetes/k8s.io/issues/1914

[2021-04-14 20:15] hh commented on #1758
Anything running in k8s-artifact-prod should be here.
Ability to run prow instances + DNS.

[2021-04-15 21:49] spiffxp commented on #1311
/milestone v1.22

[2021-04-15 21:49] spiffxp commented on #1525
/milestone v1.22

[2021-04-15 21:50] spiffxp commented on #846
/milestone v1.22

[2021-04-15 21:50] spiffxp commented on #157
/milestone v1.22

[2021-04-15 21:56] spiffxp commented on #1187
https://cloud.google.com/kubernetes-engine/docs/how-to/persistent-volumes/local-ssd#creating_a_node_pool_using_ephemeral_storage_on_local_ssds

Last I checked, the terraform provider we use didn't yet have support for `--ephemeral-storage local-ssd-count=number-of-disks`

Our options are:
- check again, maybe it's been added
- open an issue or PR to get support added
- see if it's possible to  man

[2021-04-15 21:56] spiffxp commented on #1187
/milestone v1.22

[2021-04-15 21:56] spiffxp commented on #176
/milestone v1.22

[2021-04-15 21:56] spiffxp commented on #1403
/milestone v1.22

[2021-04-15 21:57] spiffxp commented on #436
/remove-milestone

[2021-04-15 21:57] spiffxp commented on #436
/milestone clear

[2021-04-15 21:58] spiffxp commented on #956
/milestone v1.22
/remove-priority important-longterm
/priority backlog
Still open to doing this, but bumping down priority since I haven't heard anything

[2021-04-15 21:59] spiffxp commented on #1520
/milestone v1.22

[2021-04-15 21:59] spiffxp commented on #715
/milestone clear

[2021-04-15 21:59] spiffxp commented on #715
/remove-priority important-soon
/priority backlog

[2021-04-15 22:00] spiffxp commented on #1674
/milestone v1.22

[2021-04-15 22:00] spiffxp commented on #1675
/milestone v1.22

[2021-04-15 22:49] ameukam commented on #1031
All ingresses have been migrated. I'll consider this done.

[code]
/close

[2021-04-15 22:49] #1031 closed

[2021-04-15 22:50] ameukam commented on #1460
/milestone v1.22

[2021-04-15 22:51] ameukam commented on #1527
/milestone v1.22

[2021-04-15 22:51] ameukam commented on #1597
/milestone v1.22

[2021-04-15 22:54] ameukam commented on #1572
Next step will be :
- upgrade aaa to 0.13 and 0.14
- upgrade the build clusters to 0.14

/milestone v1.22

[2021-04-15 23:06] ameukam commented on #1742
/milestone v1.22

[2021-04-15 23:07] ameukam commented on #1523
Opened https://github.com/kubernetes/k8s.io/pull/1908.
We can start with common test-infra images
/milestone v1.22

[2021-04-16 10:41] ameukam commented on #1681
/milestone v1.22

[2021-04-16 10:41] ameukam commented on #1475
/milestone v1.22

[2021-04-16 10:41] ameukam commented on #1734
/milestone v1.22

[2021-04-16 10:42] ameukam commented on #1394
/milestone v1.22

[2021-04-16 10:43] ameukam commented on #1743
/milestone v1.22

[2021-04-16 10:50] ameukam commented on #1625
We should try to change ownership : https://support.google.com/datastudio/answer/9003614?hl=en

/milestone v1.22

[2021-04-16 11:03] ameukam commented on #1743
/milestone v1.22

[2021-04-16 23:16] ameukam opened #1943 "Consider using Google-managed SSL certificates for aaa"
Initial conversation : https://groups.google.com/g/kubernetes-wg-k8s-infra/c/MseI6bUqOfY.

/area cluster-mgmt

[2021-04-16 23:17] ameukam commented on #1943
I opened #1942 for Triage-Party

[2021-04-16 23:21] thockin commented on #1834
Yes.  My thinking is mostly around TLS - if we do split horizon, the *real* backends have to offer certs for our names.  If we 302, they do not.  There are a number of GeoIP libs for Go that could be viable.  Other than that, the logic seems simple enough to prototype.  We could throw it into the aaa cluster as a quick test.

[2021-04-19 01:44] Riaankl opened #1945 "Requesting access to GCP & GCS for ii.coop"
# Reason for the issue:

We created the PR's
- Create group for access to gcs logs #1871
- Add ii.coop to k8s-infra-gcp-{auditors,accounting} #1913

We are still unable to access the logs.
In K8s Infra meeting on 14 April 2021 Arnaud Meukam offered to help unblock.

## The purpose of the access is to determine:
1. artifacts logs per artifact and location
2. Originating IP for artifact requests.

[2021-04-19 12:44] randomvariable opened #1946 "Update netlify configuration for cluster-api-aws.sigs.k8s.io for default branch rename"
Default branch for https://github.com/kubernetes-sigs/cluster-api-provider-aws is now `main` and needs its netlify configuration updated accordingly.

Part of https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1782

Thanks in advance!

[2021-04-19 12:44] randomvariable commented on #1946
/assign @kubernetes/owners

[2021-04-19 17:45] ameukam commented on #1914
@BobyMCbobs Feel free to open a PR about this. I would suggest you to centralize those ASNs in a dedicated folder (maybe `registry.k8s.io`) at the base of this repo.

[2021-04-19 19:00] ameukam commented on #1758
@hh Can you be more explicit about this ? It's not clear to me how you want to use prow.

[2021-04-19 19:08] mrbobbytables commented on #1946
updated it in netlify's settings 👍

[2021-04-19 19:09] randomvariable commented on #1946
thanks @mrbobbytables !

/close

[2021-04-19 19:09] #1946 closed

[2021-04-19 21:14] hh commented on #1758
@ameukam we may be writing some terraform or similar to go from 0 to working prow (to dev on it) at some point.

[2021-04-19 21:21] rikatz commented on #1507
@spiffxp as the monitor was created in a PR, and we're also discussing about moving this to Google Managed certs, I'll close this one :D

[2021-04-19 21:21] #1507 closed

[2021-04-20 00:25] BobyMCbobs commented on #1914
Vendor ASN PRs:
- Google: https://github.com/kubernetes/k8s.io/pull/1949
- Microsoft: https://github.com/kubernetes/k8s.io/pull/1950
- Amazon: https://github.com/kubernetes/k8s.io/pull/1951

[2021-04-20 04:18] hh commented on #1758
The list in https://github.com/kubernetes/k8s.io/issues/1758#issuecomment-822685501 looks fine to me.

[2021-04-20 04:21] bernokl commented on #1758
There is a couple of services not in that list that I know we will utilize:
- Kubernetes Engine API
- Cloud Functions API
- Cloud DNS API
- Cloud Build API
Could we please start the temporary project with the same services as k8s-artifacts-prod with the 4 above added to it?

[2021-04-20 04:26] BobyMCbobs commented on #1834
Thank you @thockin for your comments.

Regarding using a service to perform a redirect, the behavour of something like `docker pull registry.k8s.io/{{.Image}}`:
- it will pull tagging the image as `registry.k8s.io/{{.Image}}`, not what it is at the container registry
- due to Envoy being exposed with an Ingress host that has TLS, it appears to not matter about the TLS at the actual container regis

[2021-04-20 05:08] ameukam commented on #1758
@hh Meanwhile, can you please make a II group : https://github.com/kubernetes/k8s.io/pull/1913#pullrequestreview-633773549?
It will help simplify the set of IAM permissions needed for this project.

[2021-04-20 05:15] ameukam commented on #1914
@BobyMCbobs I'll move those files to a dedicated folder as a followup. It'll help simplify the approval for any change related to this issue.

[2021-04-20 05:22] ameukam commented on #904
Audit logs have been activated and the logs are now stored in `k8s-artifacts-gcslogs`.

@spiffxp Do we want to recreate `k8s-artifacts-gcslogs` with the right set of permissions or just bind the `roles/storage.objectViewer` to k8s-infra-gcs-access-logs@kubernetes.io ?

[2021-04-20 06:17] hh commented on #1758
@ameukam https://github.com/kubernetes/k8s.io/pull/1871/files#diff-9470e73f24dec81b0a2a25daf2a7ab19b5a9774ad57a80ef24c09e7ef606301bR1462

The ii team should have access to : `k8s-infra-gcs-access-logs@kubernetes.io` which was created for this purpose.

[2021-04-20 13:29] justinsb commented on #1834
Do you mean deploying https://github.com/kubernetes/k8s.io/tree/main/artifactserver as a test?

[2021-04-20 19:41] BenTheElder commented on #1187
looks like ephemeral_storage_config local_ssd_count has landed
https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_cluster#ephemeral_storage_config

[2021-04-20 20:34] BobyMCbobs commented on #1914
Thank you, @ameukam!

[2021-04-20 21:00] BobyMCbobs commented on #1834
related: https://github.com/kubernetes/k8s.io/issues/1758#issuecomment-822977071

[2021-04-20 21:37] Riaankl commented on #1758
@ameukam - Create the PR.
https://github.com/kubernetes/k8s.io/pull/1956

[2021-04-21 12:52] randomvariable opened #1959 "Set up Organizational ID with IANA for X.509 Attributes"
The Kubernetes GCP Cloud Provider uses [Google owned IANA ASN.1 OIDs](https://github.com/kubernetes/cloud-provider-gcp/blob/0e9c8d0151f46b5a6c0beea7778c034c6984d5d0/pkg/nodeidentity/id.go#L14) for extension attributes in CSRs for the Kubelet. We would like to genericise this mechanism in Kubernetes Cluster API but feel that it would be more appropriate to use CNCF / Kubernetes Project owned OIDs i

[2021-04-21 18:23] ameukam commented on #1921
@idvoretskyi Any help possible ? :-)

[2021-04-22 01:31] Riaankl commented on #1758
@ameukam do you have everything you need to create the Project for us?
If not, can we please sync to unblock any outstanding TODO's on our side?
Have all the permission been set for the `k8s-infra-ii-coop group` ?
TIA

[2021-04-22 13:31] idvoretskyi commented on #1921
cc @justinsb - is this something you can take care of?

[2021-04-22 17:23] dims opened #1963 "Disable Vulnerability Scanning"
Just got a nice note from the friendly GCP folks:
[code]

I was able to click on disable for `k8s-artifacts-prod`, but looks like we need to do this across the board automatically.

[2021-04-22 17:23] dims commented on #1963
cc @thockin @spiffxp

[2021-04-22 19:25] BenTheElder commented on #787
any updates @MushuEE?

[2021-04-22 19:25] BenTheElder commented on #789
/remove-lifecycle stale
/lifecycle frozen
blocked on https://github.com/kubernetes/k8s.io/issues/787

[2021-04-22 19:26] BenTheElder commented on #787
/remove-lifecycle stale

[2021-04-22 19:37] ameukam commented on #1522
/remove-lifecycle stale
/milestone clear

[2021-04-22 19:39] ameukam commented on #1508
Exploring the possibility to GKE ManagedCertificates : #1943

/remove-lifecycle stale
/milestone clear

[2021-04-22 19:40] ameukam commented on #1306
/remove-lifecycle stale
/milestone clear

[2021-04-22 19:43] ameukam commented on #1458
/remove-lifecycle stale
/milestone clear

[2021-04-22 19:43] ameukam commented on #1307
/remove-lifecycle stale
/milestone clear

[2021-04-22 19:44] ameukam commented on #1305
/remove-lifecycle stale
/milestone clear

[2021-04-22 19:45] ameukam commented on #789
/milestone clear

[2021-04-22 19:47] ameukam commented on #787
/milestone clear

[2021-04-22 19:47] ameukam commented on #508
/milestone clear

[2021-04-22 19:52] ameukam commented on #1914
@BobyMCbobs : https://github.com/kubernetes/k8s.io/pull/1964

[2021-04-22 20:21] ameukam commented on #1945
@Riiankl For better transparency, can you mention why you need access to those logs ? Thanks!

[2021-04-22 22:09] ameukam commented on #1914
/close

[2021-04-22 22:09] #1914 closed

[2021-04-22 22:51] ameukam commented on #1758
@Riaankl See : https://github.com/kubernetes/k8s.io/pull/1967

[2021-04-22 22:57] Riaankl opened #1968 "Moving k8s-artifacts-gcslogs bucket to its own project"
ii.coop request access to the k8s-artifacts-gcslogs to work on K8s Infra WG projects
Granting access with the correct level of permission proof to be difficult.

If the bucket is in its own project it need not pick up `projectOwners`
Bindings is a cleaner solution to accomplish

Fixes issue: #1945
Refers to PR:
Read access to read access k8s-artifacts-gcslogs #1966
Enable GCS logs [#904](https://g

[2021-04-22 23:00] Riaankl commented on #1968
/assign @ameukam @spiffxp
/cc @hh

[2021-04-23 05:18] ameukam commented on #1093
/remove-lifecycle stale

[2021-04-23 05:19] ameukam commented on #766
/remove-lifecycle stale

[2021-04-23 05:19] ameukam commented on #752
/remove-lifecycle stale

[2021-04-23 05:19] ameukam commented on #843
/remove-lifecycle stale

[2021-04-23 23:42] spiffxp commented on #1308
/remove-lifecycle stale
/milestone v1.22

[2021-04-23 23:42] spiffxp commented on #1526
/remove-lifecycle stale
/milestone v1.22

[2021-04-23 23:43] spiffxp commented on #420
/remove-lifecycle stale
/milestone v1.22
Could also try conftest for these

[2021-04-23 23:44] spiffxp commented on #1522
/milestone v1.22
I believe we are close on this

[2021-04-23 23:45] spiffxp commented on #1963
/assign

[2021-04-23 23:59] spiffxp commented on #1458
/milestone v1.22

[2021-04-23 23:59] spiffxp commented on #1306
/milestone v1.22

[2021-04-26 14:50] ameukam commented on #1758
Project was created :
[code]

[code]

[2021-04-26 17:11] Riaankl commented on #1945
As part of the K8s Infra WG's mandate to move K8s Infra to community own infra, ii will investigate the use of artifacts by volume of traffic and ASN data related to the traffic.
CNCF & Google legal agreed on the terms and the ii team agreed to all the legalities around it.

[2021-04-28 01:56] bernokl commented on #904
I see I still do not have access to the logs.
[code]

[2021-04-28 19:36] ameukam commented on #904
@bernokl You will get access once https://github.com/kubernetes/k8s.io/pull/1966 is merged and deployed.

[2021-04-29 00:35] bernokl opened #1981 "GCP gcloud bulk-export as an audit trail"
Terraformer  to dump files from existing infrastructure to support K8s Infra Migration
[Terraformer](https://github.com/GoogleCloudPlatform/terraformer) can be used to "reverse Terraform" existing infrastructure as part of the Migration of K8s Infrastructure.

To achieve this a person with full access to the relevant infrastructure is needed to run it for us

[2021-04-29 00:56] hh commented on #1981
/assign @spiffxp @dims @ameukam

[2021-04-29 21:23] spiffxp commented on #1981
Is this not runnable by members of the auditor group? What resources does this support? How is this different than gcloud supporting tf as an output format?

[2021-04-30 03:42] hh commented on #1981
Looks mostly possible. I tried with DNS and get quite few errors:

[code]
Error when reading or editing DNSResourceDnsRecordSet "k8s-dev/k8s.dev./SOA": googleapi: Error 403: Forbidden, forbidden
WARN: Fail read resource from provider, wait 300ms before retry
[code]
terraformer import google --projects=kubernetes-public --resources=backendServices,bigQuery,firewall,gcs,gke,globalAddresses,globalFor

[2021-04-30 03:58] hh commented on #1981
List of supported Resources: https://github.com/GoogleCloudPlatform/terraformer/blob/master/docs/gcp.md

[2021-04-30 08:37] ameukam commented on #1981
@hh You can check the bulk export with gcloud here : https://cloud.google.com/sdk/gcloud/reference/alpha/resource-config/bulk-export.

[2021-04-30 16:02] vincepri commented on #1815
Folks, how do we go about managing the dns zone within this repository?

[2021-04-30 16:17] ameukam commented on #1815
@vincepri we manage the DNS zones here : https://github.com/kubernetes/k8s.io/tree/main/dns.

Also `cluster-api.io`is free to acquisition.

[2021-04-30 18:15] ameukam commented on #1963
/assign @thockin

[2021-04-30 19:00] ameukam commented on #1943
Things I noticed when I deployed #1942 :
* It takes about 10 minutes before the `ManagedCertificate` is active
* during those 10 minutes, I got a `SSL_ERROR_NO_CYPHER_OVERLAP` TLS error

[2021-05-02 22:29] bernokl commented on #1981
Thank you @ameukam
It looks like I am still missing some permissions?
[code]

[2021-05-02 22:59] Riaankl opened #1992 "ii require access to Big Query for log analysis"
To process the `k8s-artifacts-gcslogs` ii need access to Big Query as discussed in [PR1966](https://github.com/kubernetes/k8s.io/pull/1966#issuecomment-825415809) and in K8s Infra WG meeting of 28 April 2021

[2021-05-02 23:00] Riaankl commented on #1992
/assign @ameukam

[2021-05-02 23:01] Riaankl commented on #1992
/cc @spiffxp @thockin @hh

[2021-05-02 23:37] hh commented on #1981
[code]

[2021-05-02 23:38] hh commented on #1981
I'm not sure what the iam permission we need here.

[2021-05-02 23:41] dims opened #1993 "switching on compute api and other APIs in k8s-staging-cluster-api-gcp"
We are trying to enable building node images regularly for cluster API for GCP project:
https://github.com/kubernetes-sigs/image-builder/pull/445

Background : Currently some of the CI jobs build the image every time and THEN create the cluster using the node image which takes a long time. if we have prebuilt images when things change in image-builder then we can speed things up. this will help us

[2021-05-03 15:31] cpanato commented on #1993
I tried on a personal project and it required only the compute api

[2021-05-03 21:03] bernokl commented on #1981
Terraformer has been running against k8s for 8 plus hours, still not finished.
I added the additional generated content to https://github.com/ii/k8s-infra-terraformer-dump.
I will add the rest when it is generated

[2021-05-04 19:41] spiffxp commented on #904
I will call this issue closed when we either:
- use a bucket in an entirely separate project
- remove all [basic role bindings](https://cloud.google.com/storage/docs/access-control/iam-roles#basic-roles-intrinsic) from the bucket to ensure no unintended access from `roles/owner`, `roles/editor` or `roles/viewer` trickling down from the resource hierarchy

[2021-05-04 20:39] spiffxp commented on #1730
What is supposed to create this?
- The name but not the project is declared here: https://github.com/kubernetes/k8s.io/blob/9216eda1065496c8a51a9e215a857122296695e2/infra/gcp/lib.sh#L51
- The account is created for a given project by `empower_artifact_auditor(project)` here: https://github.com/kubernetes/k8s.io/blob/9216eda1065496c8a51a9e215a857122296695e2/infra/gcp/lib.sh#L399-L404
  - This block

[2021-05-04 21:03] spiffxp commented on #1730
Opened https://github.com/kubernetes/k8s.io/pull/1998 to hopefully get us as far as creating the service account in question

Rotating credentials and getting things up and running would be the remainder of the work here

[2021-05-04 21:08] ameukam commented on #1523
Followup of #1908, add a canary ProwJob that push a test-infra image. Kettle ?

[2021-05-04 21:21] spiffxp commented on #1730
Deployed and the service account now exists again https://github.com/kubernetes/k8s.io/pull/1998#issuecomment-832256462

[2021-05-04 21:27] spiffxp opened #1999 "audit-followup: pre-create GCR buckets for e2e projects"
ref: https://github.com/kubernetes/k8s.io/pull/1903/files#r620573231

We pre-create these buckets for staging projects, we should do the same for e2e projects now that they all have GCR enabled by default (TODO: link to issue/PR that did this a few months ago)

/area prow
/area artifacts
/wg k8s-infra
/sig testing
/sig release
/priority important-longterm
/milestone v1.22

[2021-05-04 21:36] ameukam commented on #904
@bernokl you should be able to access it:

[code]

[2021-05-04 21:47] ameukam opened #2000 "Terraform state is not fully applied"
I got when I deployed #1604 for `aaa`:

[code]

Resources introduced in https://github.com/kubernetes/k8s.io/pull/365

[2021-05-04 21:54] ameukam commented on #2000
It's possible those resources were re-created or have been created. Not sure if the investigation is worth it.

[2021-05-04 21:56] spiffxp commented on #2000
/assign
Feels pretty likely this is related to something I pruned, possibly elsewhere in bash

[2021-05-05 07:09] cpanato commented on #1821
this is not needed anymore

/close

[2021-05-05 07:09] #1821 closed

[2021-05-05 17:05] spiffxp commented on #2000
I bumped into this while deploying changes that were part of https://github.com/kubernetes/k8s.io/pull/1952.  I deployed the changes, so maybe it's resolved?

I suspect if there's still a conflict with bash, it may be with changes in https://github.com/kubernetes/k8s.io/pull/1974

I'll re-run terraform once that has merged to see if there's still a difference of opinion between terraform and bash

[2021-05-05 19:24] spiffxp commented on #2000
Added a commit to https://github.com/kubernetes/k8s.io/pull/1974 to fix this

`terraform apply` and `./infra/gcp/ensure-main-project.sh` were getting in a fight over authoritative IAM bindings for the kubernetes-public project

IMO terraform shouldn't be setting authoritative bindings for a project unless it's also managing the project.  Whereas in this case, the module in question is just for man

[2021-05-05 19:34] ameukam commented on #2000
Totally make sense for me.

[2021-05-05 20:21] #2000 closed

[2021-05-06 01:06] spiffxp opened #2007 "Try to simplify storage permissions"
Followup based on https://github.com/kubernetes/k8s.io/pull/2005

For whatever reason, I am still confused by exactly which permissions are available to whom on which GCS buckets.  I've started consulting [a spreadsheet I put together](https://docs.google.com/spreadsheets/d/1_N5C5MLfoGfVNuNXlE1ylnUDR9sX8Di6ISMonNtN5Ls/edit#gid=281633490) to help figure out what makes sense from a policy perspectiv

[2021-05-06 02:57] spiffxp commented on #1981
https://github.com/kubernetes/k8s.io/pull/2010 should give you `cloudasset` permissions

[2021-05-06 03:01] spiffxp commented on #2007
https://github.com/kubernetes/k8s.io/pull/2010 should allow us to perform 1 (should research more before flipping that switch though)

Also ensures org admins can list, get, update any bucket within the org.  Specifically does nothing about whether they can access multipartUploads or objects.

[2021-05-06 08:14] cpanato commented on #1993
/assign

[2021-05-06 08:15] cpanato commented on #1993
will work over the weekend or next week when kubecon is over :)

[2021-05-06 23:21] ameukam opened #2013 "Change the image type of aaa"
GKE 1.19 is now GA and the image type variant `cos` is now deprecated.

https://cloud.google.com/kubernetes-engine/docs/release-notes#April_14_2021:

[code]

We should also subscribe to the regular channel.

[2021-05-07 18:03] ameukam commented on #1187
Unblocked by #2017.

[2021-05-07 18:18] spiffxp opened #2020 "Get our terraform modules to the latest version of terraform"
Mainly to avoid falling stale

There are features in terraform 0.14 that are interesting:
- masking `sensitive` values from output (e.g. to allow for a `terraform plan` presubmit)
- dependency lock files (so we could maybe stop having to bump the same version in 6 different files)

It's not yet clear to me whether there is anything super critical or interesting in 0.15, it mainly looks like the re

[2021-05-07 19:14] spiffxp commented on #2020
/milestone v1.22

[2021-05-07 19:14] spiffxp commented on #2020
/assign @spiffxp @ameukam

[2021-05-07 20:22] BenTheElder commented on #1187
We should start with a tainted + labeled pool so we can just schedule certain jobs to it to try and then we can see if we want to migrate everything to it.

[2021-05-07 20:42] aojea commented on #1187
we have some canary jobs that can be good candidates

[2021-05-07 20:44] BenTheElder commented on #1187
I would like to move the kubernetes kind presubmits to it. I don't expect negative outcomes from this nodepool, but if the outcomes are not sufficiently positive we might not bother moving everything (it also costs more ...)

[2021-05-10 01:52] bernokl opened #2024 "Increase BQ resource limits"
In the k8s-infra-ii-sandbox project I try to run the following query against a dataset with a single column and 11 million records and a second table with only 40k records:
[code]
Error running query
Query exceeded resource limits. This query used 74811 CPU seconds but would charge only 30M Analysis bytes. This exceeds the ratio supported by the on-demand pricing model. Please consider moving this

[2021-05-10 07:09] bernokl commented on #1981
Is there something still outstanding to get permissions for gcloud bulk-export ?https://github.com/kubernetes/k8s.io/issues/1981#issuecomment-830917018
I created an issue to track this in cncf-infra https://github.com/ii/cncf-infra/issues/37

[2021-05-10 16:05] g1bl3t opened #2028 "Getting a 403 Access Denied when attempting to pull k8s.gcr.io images"
Linode customers in the Sydney region are unable to pull any k8s.gcr.io images. When attempting to pull an image from any of these repos, I am met with the following error:
[code]

This appears to be affecting all of or most of the Sydney region for Linode. Could this be a blacklist on our IPv4 or IPv6 address ranges in that region? We are able to pull k8s.gcr.io images from any other region at Li

[2021-05-10 16:09] g1bl3t commented on #2028
update: getting a new error message now
[code]

[2021-05-10 18:12] Riaankl commented on #2024
/assign @dims @spiffxp @ameukam
/cc @hh

[2021-05-10 18:13] ameukam opened #2029 "BigQuery datasets are not reported in the daily audit report"
I noticed some BQ datasets of some projects are not reported in the daily audit. Like `k8s-artificats-prod`:

[code]

[code]

The current report is empty: https://github.com/kubernetes/k8s.io/blob/main/audit/projects/k8s-artifacts-prod/services/bigquery/bigquery.datasets.json

It would great to have them part of the daily report.

/assign @spiffxp @thockin
cc @hh

[2021-05-10 18:33] ameukam commented on #2024
@Riaankl @bboreham
[code]

`distinct_appspot_ip_netip_1` seems deleted. I can't reproduce your issue.

[2021-05-10 18:52] spiffxp commented on #2024
Can you provide a reproduceable query?

I'm reading up on the pricing models, and am trying to find reference to the "ratio" that's being discussed here.  I interpret the error to mean the query is using a lot of CPU for little data.

- https://cloud.google.com/bigquery/docs/best-practices-costs
- https://cloud.google.com/bigquery/pricing
- https://cloud.google.com/bigquery/docs/reservations-intro

[2021-05-10 18:54] spiffxp commented on #2024
I'm wondering if you've tried these tips?
- https://cloud.google.com/bigquery/docs/best-practices-costs#materialize_query_results_in_stages
- https://cloud.google.com/bigquery/docs/best-practices-costs#partition_data_by_date

[2021-05-10 18:57] ameukam commented on #1981
I don't recognize this organization ID. We use

[code]

[2021-05-10 19:03] bernokl commented on #2024
I put the table back it should work now https://github.com/kubernetes/k8s.io/issues/2024#issuecomment-837110845

[2021-05-10 19:04] bernokl commented on #2024
yes, I thought so to, I changed the query to remove all string functions but still get the same result
select ip,
c_ip,
int64_field_2 as asn,
string_field_4 as asn_name
from `k8s-infra-ii-sandbox.k8s_artifacts_gcslogs_appspot.distinct_appspot_ip_int`,
`k8s-infra-ii-sandbox.k8s_artifacts_gcslogs_appspot.ip2asn_int`
where
ip >= f0_ and ip <= f1_;

[2021-05-10 20:07] #1403 closed

[2021-05-10 20:13] ameukam commented on #1572
All the clusters use now `0.14`

[code]

Done via #2019

[2021-05-11 03:36] bernokl commented on #2024
I went to look at reservations and see minimum purchase is $3000
![image](https://user-images.githubusercontent.com/6902524/117754530-9de35480-b26e-11eb-8ff1-46298e297c55.png)

[2021-05-12 19:03] spiffxp commented on #1921
/sig cluster-lifecycle
/sig cloud-provider
/area provider/aws
a guess at labels for the owning sigs/subprojects

/area cluster-infra
k8s-infra specific label (maybe we should have infra/aws and infra/gcp labels?)

/assign @justinsb @idvoretskyi @thockin
Assigning to k8s-infra-aws-admins

[2021-05-12 19:24] sedefsavas commented on #1921
+100 for increasing the quotas.

cluster-api-provider-aws project tests take a long time, and having very limited quotas on services does not allow us gain much by running the tests in parallel. Service quotas for especially elastic IPs, VPCs, nat gateways etc. are in general limited for our tests.

cc @randomvariable

[2021-05-12 23:16] Riaankl opened #2037 "Need help to resolve manifest hashes into tag names?"
For log analysis, we need the names for these images.
And also a way to resolve all names for images in the logs

[code]

[2021-05-12 23:17] Riaankl commented on #2037
@stp-ip is busy supporting this effort!
https://kubernetes.slack.com/archives/CCK68P2Q2/p1620699337213700

[2021-05-12 23:18] Riaankl commented on #2037
/assign @stp-ip
/cc @hh @BobyMCbobs @bernokl

[2021-05-13 16:30] justinsb commented on #2024
I will try to upload the tool that uploads the logs and tags the CIDRs

[2021-05-13 17:03] justinsb commented on #2037
Uploaded my tag dumper program that I also mentioned.

IIRC the HTTP Referer gives you a hint as to the image, so you may want to check that.  Because the layers are shared, so you can't map _only_ from a SHA to the image.

[code]

[code]

[2021-05-13 18:36] hh commented on #2024
Thanks @justinsb!

[2021-05-13 19:23] stp-ip commented on #2037
First results only posting the repos as tags are too many for the 2 top 10 hashes I got.

Top 10 highest bandwidth ones:
[code]

Top 10 most downloaded ones aka count:
[code]

[2021-05-13 20:05] stp-ip commented on #2037
Poc scripts and a first data dump, which can be matched with hashes via a matcher script.
https://github.com/kubernetes/k8s.io/pull/2044

[2021-05-13 21:43] Riaankl commented on #2037
/assign @Riaankl

[2021-05-13 22:47] Riaankl opened #2045 "Initial implementation of metrics -> BigQuery loader"
We would like to further progress on the good work done by @justinsb here:
https://github.com/justinsb/k8s.io/commit/9f64ea7540bc28ae03bc0b2b42c4da27fb777da4

/cc @hh

[2021-05-13 22:57] hh commented on #2045
/assign @BobyMCbobs

[2021-05-13 23:30] Riaankl commented on #1758
Project ID k8s-infra-ii-sandbox created and access for ii-team working.

[2021-05-13 23:30] #1758 closed

[2021-05-13 23:37] Riaankl commented on #1945
Access seems to work as expected.
Thank you @ameukam

[2021-05-13 23:37] #1945 closed

[2021-05-13 23:37] bernokl commented on #1981
I was using project and not organization id This worked:
[code]
 gcloud organizations list
DISPLAY_NAME             ID  DIRECTORY_CUSTOMER_ID
ii.coop         65205373123              C03j7jfp3
kubernetes.io  758905017065              C01vqsvdr
[code]

[2021-05-13 23:41] Riaankl commented on #1968
k8s-artifacts-gcslogs bucket access available to ii
Thank you @spiffxp @ameukam

[2021-05-13 23:49] Riaankl commented on #194
/assign @Riaankl

[2021-05-13 23:50] Riaankl commented on #193
/assign @Riaankl

[2021-05-14 02:32] BobyMCbobs commented on #2045
`./create-schema.sh` seems to have run successfully. The schema and table exist in BigQuery.
[code]

There may be something wrong with how I'm running [loader](https://github.com/justinsb/k8s.io/blob/9f64ea7540bc28ae03bc0b2b42c4da27fb777da4/metrics/access-logs/loader/main.go), the final line seems to be to do with GCS auth.
[code]

The output shows all of the cloud-provider CIDRs as expected.
Howe

[2021-05-14 02:34] hh commented on #2045
/assign @justinsb

[2021-05-14 02:51] justinsb commented on #2045
Hmmm, well the answer should be to run `gcloud auth application-default login` and login as yourself (with the browser flow).  I assume because `bq` worked that you've already run `gcloud auth login`.

Questions for me (but not for this PR!):

* Why did that link not show anything useful?
* Is there some way to not need application-default credentials?

Anyway ... can you let me know if `gcloud au

[2021-05-14 02:52] justinsb commented on #2045
Oh, and the way you're running it looks good.  You can also just `cd loader; go run . --project $(gcloud config get-value project)` (I think!)

[2021-05-14 03:12] BobyMCbobs commented on #2045
This appears to unblock it!

Now I'm getting the logs:
[code]

I'm sure it will take a bit of time to run, but this is good!

[2021-05-14 03:16] BobyMCbobs commented on #2045
OK, output shows this message now.

[code]

Perhaps something with the upload being cut off?

[2021-05-14 03:25] justinsb commented on #2045
Yes, probably just a network blip.  It shouldn't matter in the grand scheme of things.  The way it works is that we process each GCS file one at a time.  After we upload a file into BigQuery, we mark some metadata in GCS to indicate that we've uploaded it.  5 minutes later we run again and look for new files / files that had an error and weren't marked as done.  So probably it'll clear itself up i

[2021-05-14 05:10] johngmyers opened #2046 "How do I review an image promotion PR?"
What is the process I should follow in order to properly review and approve an image promotion PR, such as #2022?

The diff in the PR shows essentially a map of SHA256 signatures to <image name, tag> tuples. How can I verify that the SHA signatures correspond to the corresponding image, built on CNCF-controlled infrastructure, and using source from the corresponding tag in the expected source repo

[2021-05-14 06:38] ameukam commented on #1968
/reopen
I'll consider this done when #2031 is merged. I plan to do the transition to the dedicated project next week.

[2021-05-14 09:40] ameukam commented on #1943
Current default quota for the SSL certificates:
https://console.cloud.google.com/iam-admin/quotas?service=compute.googleapis.com&metric=%22SSL%20certificates%22

https://cloud.google.com/load-balancing/docs/quotas#ssl_certificates.

[2021-05-14 21:04] bernokl commented on #1981
To run bulk export on individual projects I need permissions to enable the cloudasset api. I can do this on sandbox, but not on individual projects.

For example:
[code]

From what I can see auditors should have the ability to view cloudassets, but I do not have the permissions to enable them.
Can I request enabling cloudasset on the k8s projects, or alternatively can I have a service account that

[2021-05-16 17:10] Riaankl commented on #1981
/assign @bernokl

[2021-05-16 20:41] Riaankl commented on #1981
/retitle GCP gcloud bulk-export as an audit trail

[2021-05-16 20:50] Riaankl commented on #2037
/assign @BobyMCbobs @bernokl

[2021-05-16 20:54] Riaankl commented on #1992
@ameukam BigQuery is working in our sandbox project.
I do not think there is anything else we need from you in this regard.
Thank you.

[2021-05-16 20:54] #1992 closed

[2021-05-16 22:23] spiffxp commented on #2037
If @bernokl comments here they can probably be assigned. May be able to assign themselves but I forget if it's that quick

[2021-05-16 22:24] spiffxp commented on #1981
I think you can enable and use it against your project. I suspect it doesn't need to be enabled in all projects you want to target

[2021-05-17 00:43] bernokl commented on #2037
/assign @bernokl

[2021-05-17 01:34] BobyMCbobs commented on #2045
@justinsb, I've just given _loader_ a go again.
I seem to be experiencing the same errors.

[code]

Do you have any thoughts on this?

[2021-05-17 02:24] BobyMCbobs commented on #2037
It appears that in the full data, there's a _cs_referer_ column.
This column contains the full URI for a blob request (e.g: _https://k8s.gcr.io/v2/pause/blobs/sha256:94bc23abad122d1869ef00bad345490fe0cc370b3d8b53189488266ef2dc8a5d_).

What we need is a new table, with a _image_, _sha_, and _version_ columns to join the data on.

[2021-05-17 04:35] hh commented on #1981
We have it working against the sandbox.

What we are wanting is to use it as a replacement for https://github.com/kubernetes/k8s.io/blob/main/audit/audit-gcp.sh.

[2021-05-17 23:06] spiffxp commented on #1981
Right. Do you have a sample PR that does this? You are not blocked.

Gcloud has a billing project flag that can be used to signify which project you want to charge the service to, which could be your project for dev purposes. Otherwise it depends on who is invoking it and what their active project is. Service accounts default to the project they live in

[2021-05-18 05:37] spiffxp commented on #1657
https://github.com/kubernetes/k8s.io/issues/1981 covers exploring `cloud alpha resource-config bulk-export`

[2021-05-18 17:42] spiffxp opened #2055 "audit: periodic audit job shows everything as deleted"
Uhhhh, well everything in audit/ getting deleted is certainly disconcerting.  I'm going to assume the projects are all still present or we'd have heard a lot more complaints by now.  Seems like the first commit for this PR deleted everything.

I'm going to guess https://github.com/kubernetes/k8s.io/pull/2010 is the culprit, specifically https://github.com/kubernetes/k8s.io/pull/2010/commits/9ebc22

[2021-05-18 17:43] spiffxp commented on #2055
/kind bug
/wg k8s-infra
/area audit
/priority critical-urgent
/assign

[2021-05-18 17:43] spiffxp commented on #2055
/milestone v1.22

[2021-05-19 02:28] bernokl commented on #1981
Thank you, here is an example of what a export would look like. https://github.com/ii/k8s-infra-dump/tree/main/resource-config-bulk-export

I did test running the export using:
[code]

But still get permission denied:
[code]

[2021-05-19 03:00] bernokl commented on #1981
I did test running the export specifying the billing-project:
[code]

But still get permission denied:
[code]

[2021-05-19 03:07] BobyMCbobs commented on #2037
I created a new table with the _image_, _tag_, and _version_ columns.
Here's my gist: https://gist.github.com/BobyMCbobs/1e06d794157a4a504f20df35bb3d6d6d
This is all the data we need for understanding the full logs.
Is there any way to update `matcher.sh` to only produce that data @stp-ip ?

[2021-05-19 04:28] #1993 closed

[2021-05-19 05:00] BobyMCbobs commented on #1834
I deployed Envoy as well as Distribution on a cluster in the _k8s-infra-ii-sandbox_ project from this Org file
https://github.com/cncf-infra/prow-config/blob/master/infra/gcp/README.org#envoy

[2021-05-19 05:02] spiffxp commented on #2055
https://testgrid.k8s.io/wg-k8s-infra-k8sio#ci-k8sio-audit - is all green

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-k8sio-audit/1394799000162406400 - shows the following

[code]

So two bugs jump out:
- The audit.viewer role is missing a permission it should have
- The job is continuing to try and create a PR, and then reporting success... it should have halted immediately

[2021-05-19 06:31] spiffxp commented on #2055
/area audit

[2021-05-19 06:31] spiffxp commented on #2055
/area infra/audit

[2021-05-19 06:32] spiffxp commented on #2055
/area infra/auditing

[2021-05-19 06:35] spiffxp commented on #2055
I've opened two PRs to address the two bugs:
- https://github.com/kubernetes/k8s.io/pull/2058
- https://github.com/kubernetes/test-infra/pull/22239

[2021-05-19 06:38] spiffxp commented on #1657
https://github.com/kubernetes/test-infra/pull/22239 should update the audit job to only bump open PRs if there are new changes in the audit directory, which will hopefully cut down on open PRs with long trails of force-pushes that don't actually change the files that have been reviewed.

[2021-05-19 09:18] stp-ip commented on #2037
So what you want is a table output as seen in your gist for the matcher.sh?
I can take a look during my next block of flexible time :)

[2021-05-19 14:09] justinsb commented on #2037
@BobyMCbobs did you try loading the JSON?

[2021-05-19 14:12] justinsb commented on #1834
@BobyMCbobs can we try deploying artifactserver as well?

[2021-05-19 14:16] stp-ip commented on #2037
Yeah each line in each file are the related manifests in json. So could be loaded into big query right away or I'll do the output via matcher.sh.

[2021-05-19 16:00] spiffxp opened #2062 "audit: ensure no etags for dumped resources"
I noticed we started picking up etags for secret descriptions in https://github.com/kubernetes/k8s.io/pull/2011

Go through audit/audit-gcp.sh

Either add etag deletion to things that don't have it yet, or try refactoring so that everything goes through one (jq, yq, whatever) filter

/kind bug
/priority important-soon
because ever-changing etags makes for noisy audit PRs
/wg k8s-infra
/area infra/

[2021-05-19 16:01] spiffxp commented on #2062
/milestone v1.22

[2021-05-19 16:32] #1572 closed

[2021-05-19 17:59] spiffxp commented on #1887
I was looking into whether terraform could make this any easier... and it does not.  They used to have a `google_project_services` resource, but ended up deprecating and deleting it, ref: https://github.com/hashicorp/terraform-provider-google/pull/4587

I'm iterating on an attempt to make `ensure_only_services` work a little better over in https://github.com/kubernetes/k8s.io/pull/2016 to close ou

[2021-05-19 18:01] spiffxp commented on #1887
/kind cleanup
/priority important-longterm
/assign
I'll self assign since I'm noodling.  But I could use some help, especially suggestions or prior art.

Ultimately I think the future here is a golang tool or something akin to crossplane rather than the ludicrous bash/jq I have going on

[2021-05-19 18:27] ameukam commented on #1887
I started to take a look at CRDs provided by config-connector : https://cloud.google.com/config-connector/docs/concepts/resources.
Planned to do a parallel to #1885.

[2021-05-19 18:33] bernokl commented on #1981
You are missing the required permission serviceusage.services.enable on project k8s-staging-apisnoop

[2021-05-19 19:08] rifelpet commented on #1637
/remove-lifecycle stale

[2021-05-19 19:42] spiffxp commented on #1981
I'll need to read more about this command. I'm not sure we want this service enabled in every target project

[2021-05-19 20:01] spiffxp commented on #1637
/lifecycle frozen

[2021-05-19 20:08] spiffxp commented on #2046
FYI @kubernetes/release-engineering
/assign @saschagrunert @hasheddan @justaugustus
This is a very good question and suddenly makes me way more wary of having as many people approve these changes as we do

[2021-05-19 20:09] spiffxp commented on #2046
/sig release
/area artifacts
/area release-eng

[2021-05-19 22:13] spiffxp commented on #2055
Holding open to confirm the updated job works as expected

[2021-05-19 22:41] spiffxp commented on #1660
/remove-lifecycle stale
/assign
I don't plan on reconciling this. But I feel like it should be documented as a known issue or quirk somewhere instead of an issue that will age out.

I'm taking a pass at prow related docs so I'll take care of this along the way

[2021-05-19 22:42] spiffxp commented on #1660
/milestone v1.22

[2021-05-20 00:28] spiffxp commented on #1963
It's now May 19 and I haven't been able to land #2016 yet.  I will reprioritize this.

In the meantime, let's manually disable it for the project that generates the majority of costs
[code]

OK, let's use `--force` as suggested
[code]

[2021-05-20 01:16] BobyMCbobs commented on #1834
Yes! I've deployed it to https://artifacts.ii-sandbox.bobymcbobs-oitq.pair.sharing.io at the moment
https://github.com/cncf-infra/prow-config/blob/dc681e5d79d85af47df5f01ebcf281bf193de666/infra/gcp/README.org#artifactserver

I am currently trying to adapt the source to provide the same 302 functionality as what Envoy is providing.

[2021-05-20 01:46] justaugustus commented on #1963
Thanks for the [heads-up](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1621470584037700), Aaron!
@kubernetes/release-engineering -- We should be fine here, but please keep an eye out for anything strange in our GCP projects.

[2021-05-20 04:11] johngmyers commented on #2046
@spiffxp while I am glad my question elicits renewed reflection on the controls in the process, I don't quite follow how it leads to a desire to have fewer approvers. Could you elucidate? Is there perhaps an orthogonal concern with how the hierarchy of OWNERS files limits the abilities of subdirectory approvers (or not)?

[2021-05-20 08:06] saschagrunert commented on #2046
It depends on how the image manifest modification has been done. For example, I'd trust if the change has been done by a tool like [cip-mm](https://github.com/kubernetes/release/tree/master/cmd/cip-mm). If it has been done manually, I'd expect a link to a process which pushed the image into staging in a reproducible CI/CD environment. If this is not clear, then I'd check if the staged digest has t

[2021-05-20 08:43] spiffxp commented on #2055
/close
Confirmed the job works, latest audit PR is up https://github.com/kubernetes/k8s.io/pull/2067

[2021-05-20 08:44] #2055 closed

[2021-05-20 17:37] spiffxp commented on #2046
Perhaps this is me projecting my own fallibility.  If the system requires 100% vigilance on the part of 100% of the approvers, it's going to fail.  Factor in the very good point that you've raised -- that nobody's actually defined what "100% vigilance" means -- and it's likely not all approvers review to the same level of fidelity.  Larger pool of approvers means larger likelihood of mistakes; cou

[2021-05-20 18:50] johngmyers commented on #2046
@saschagrunert how do you verify the change was done by cip-mm?

[2021-05-20 20:02] johngmyers commented on #2046
But how do the approvers in this smaller pool effectively review the promotion PRs? Do they have tribal knowledge or private tooling not known to the larger pool? The fix for that seems straightforward.

As humans are particularly bad at working with SHAs, I would hope so.

It would be better if some of the seemingly-necessary information weren't only in a comment.

I've only done two and they lef

[2021-05-20 21:20] spiffxp commented on #1730
I think I started on the next step of restoring this by running `infra/gcp/ensure-env-cip-auditor.sh` while deploying https://github.com/kubernetes/k8s.io/pull/2016
[code]

[2021-05-20 22:17] spiffxp commented on #2024
/close
I have no idea how you got tagged in @bboreham but you said what I was trying to say way more succinctly, so thank you.

I'm closing this as I've heard no chatter about this lately, so I'm going to assume you've found a way to construct more reasonable queries or datasets.

[2021-05-20 22:17] #2024 closed

[2021-05-20 22:19] spiffxp commented on #1981
/area infra/auditing

[2021-05-20 23:16] bernokl commented on #1981
Update.
I explored using the output of a bulk-export to create the tf files. With a one line change of the dumped file I can create the resources.
Here is a org file of my explorations: https://github.com/ii/org/blob/main/research/k8s-infra-wg/sandbox-infra-tf.org

From my brief exploration bulk-export is a very accurate depiction of our project. This is not a comment on further exploration of dan

[2021-05-21 00:22] spiffxp commented on #1981
My invite for https://github.com/ii/k8s-infra-dump/tree/main/resource-config-bulk-export expired, if you get a chance to resend I can take more of a look

[2021-05-21 07:54] saschagrunert commented on #2046
I'd say you don't. We could further automate the whole process by creating the promotion PR during image creation as @spiffxp mentioned. Doing a random sample test would probably not hurt, but for that either the application or the image manifest has to contain verifiable information like commit SHA's, build dates or links to prow jobs.

A presubmit job could verify promoted images if they would f

[2021-05-21 08:09] hh commented on #1981
https://pair.sharing.io/instances/id/hh

I did a quick check and realised the issue is that the text for the copy icon and the string box do not match:

The text box looks fine:
<img width="740" alt="image" src="https://user-images.githubusercontent.com/31331/119104399-53cd5080-ba70-11eb-8f2f-6212a2058002.png">

But the copy icon gives the following (no XXXX):
[code]

[2021-05-21 14:32] johngmyers commented on #2046
Instead of a convention, it would be better if the yaml contained verifiable information about the provenance of the artifact.

[2021-05-21 15:22] johngmyers commented on #2046
@saschagrunert would it be fair to characterize your reply as an admission that you do not always effectively review image promotion PRs?

(I doubt any human could consistently effectively review current image promotion PRs.)

[2021-05-23 20:37] bernokl commented on #1981
Resent. Sorry for the delay, let me know if you still have issues

[2021-05-24 14:23] dims commented on #1959
@randomvariable i've submitted the application, will report back when we have the OID (used the sc1 - steering email id)

[2021-05-24 15:34] randomvariable commented on #1959
Thanks!

[2021-05-24 17:13] spiffxp opened #2087 "audit: update audit job to only push changes when there are changes to push"
I should have opened an issue for this earlier.

The audit job was (and may still be) force-pushing changes to its PR branch after each run.  This results in lots of traffic on a PR that looks like this:
![Screen Shot 2021-05-24 at 1 06 28 PM](https://user-images.githubusercontent.com/49258/119383032-daf90f00-bc90-11eb-82e5-f2246f99d14f.png)

When in reality nothing has actually changed.

I tried

[2021-05-24 18:40] thockin commented on #1838
It looks like these did refresh properly, so I am going to clean up early.

[2021-05-24 18:48] thockin commented on #1838
Done

[2021-05-24 18:48] #1838 closed

[2021-05-24 19:04] spiffxp commented on #2062
https://github.com/kubernetes/k8s.io/pull/2089 should fix this

[2021-05-24 19:36] spiffxp commented on #2062
/assign

[2021-05-24 20:24] spiffxp opened #2091 "Convert all apps in 'aaa' to use ExternalSecret CRDs instead of normal K8s Secrets where applicable"
ref: https://github.com/kubernetes/k8s.io/pull/2078#discussion_r638241693

By "where applicable" I mean if humans are at all involved in provisioning the secret.  I'm going to guess any Secret in `aaa` that is of type `Opaque` falls under this category
[code]

So...
- [ ] cert-manager (though maybe moot, I think we're trying to move to GKE-managed certs ref: https://github.com/kubernetes/k8s.io/is

[2021-05-24 20:52] spiffxp commented on #1943
/assign @thockin @spiffxp @ameukam

[2021-05-24 20:58] spiffxp commented on #1943
/priority important-soon

[2021-05-24 23:46] #2062 closed

[2021-05-25 06:30] saschagrunert commented on #2046
For me personally I'd say that I trust the output of `cip-mm` and we just have to do some sample checks, which I think is efficient. :upside_down_face:

[2021-05-25 15:34] johngmyers commented on #2046
@saschagrunert but how, as a reviewer, do you know that is the output of `cip-mm`?

[2021-05-25 16:30] spiffxp commented on #2029
/reopen
Still not being reported per the latest audit PR

[2021-05-25 19:20] spiffxp commented on #2029
Looking at the audit PR more closely, the Kubernetes-public resources weren't deleted.

I'm guessing this means `roles/viewer` can see them:
https://github.com/kubernetes/k8s.io/blob/3365798f4d31ded02e046902e479b3233e116598/audit/projects/kubernetes-public/services/bigquery/bigquery.datasets.kubernetes_public_billing.access.json#L22-L25

And the auditor service account has that role for kubernetes

[2021-05-25 21:47] spiffxp commented on #2029
Using https://github.com/kubernetes/k8s.io/pull/2100 to test

First run, I get an error
[code]

Next run works though
[code]

That's kicking loose a comment about `bq` I've seen somewhere in test-infra's codebase...

[2021-05-25 21:55] spiffxp commented on #2029
Found it: https://github.com/kubernetes/test-infra/blob/4d5c4c788bcee23a9323ca6f10563a08afb822f6/metrics/bigquery.py#L154-L157
[code]

[2021-05-26 07:29] saschagrunert commented on #2046
Right now only by the indication that the PR got created by our tooling https://github.com/kubernetes/k8s.io/pull/2075#issue-649603511:

[2021-05-26 15:48] johngmyers commented on #2046
So that is taking it on trust that the PR was submitted in good faith by the authorized holder of the credentials used to submit it. If an attacker subverts the credentials of a trusted submitter, for example by compromising the submitter's laptop, that indication could be effectively faked.

[2021-05-26 15:57] justaugustus commented on #2046
@johngmyers -- I intend to jump in here, once I have some time, but I just want to make sure we focus the conversation.

What is your desired outcome?
Which project(s) do you maintain?
Are there issues in the current process that are blocking your ability to be productive?

[2021-05-26 19:52] spiffxp commented on #2029
https://github.com/kubernetes/k8s.io/pull/2100 added a `bq show` to try and work around this

Unfortunately it broke the ci job.  https://github.com/kubernetes/k8s.io/pull/2102 will fix

[2021-05-27 02:13] johngmyers commented on #2046
@justaugustus my desired outcome is to learn the procedures and expectations for performing the reviews and approvals the image promotion PRs that I have been requested to so review/approve. I have searched the relevant documentation and this information is remarkably absent.

I am an approver of the kubernetes/kops project, which uses kubernetes/k8s.io to publish its release artifacts.

The prima

[2021-05-27 20:01] thockin commented on #1943
sippy is the only old-style cert remaining, except for the self-signed we use in k8s-io-canary (which maybe can just go away?)

[2021-05-27 21:37] spiffxp commented on #460
So I'm not sure whether to repurpose this issue or close it in favor of a new one.  But to refresh on the definition of done....

I'm not going to allow approvers in groups/sig-foo/OWNERS until we have sufficient checks or enforcement in place to ensure that:
- someone can't quietly escalate privileges
- someone can't create random official-sounding groups without sufficient review/oversight

The

[2021-05-27 23:33] justaugustus commented on #460
cc: @kubernetes/release-engineering, if this piques your interest.

@spiffxp -- Happy to jump in on groups/OWNERS to share the load.

It'd also be motivation to jump back into this refactor I was noodling on: https://github.com/justaugustus/ggreconcile/pull/1

[2021-05-28 04:32] spiffxp opened #2111 "audit: reduce noise in logging export"
https://github.com/kubernetes/k8s.io/pull/2102 introduced export of `logging` resources to the audit script

Based on review of the first audit job PR that used this (https://github.com/kubernetes/k8s.io/pull/2094) there is some noise we should filter out to ease review burden:
- don't export `services/logging/metrics.json` if there are no metrics; right now there are lots of files with `[]` as th

[2021-05-28 04:36] spiffxp commented on #2007
Based on review of https://github.com/kubernetes/k8s.io/pull/2094, here are some example buckets that appear to have per-object ACLs enabled:
- `audit/projects/k8s-gcr-audit-test-prod/buckets/artifacts.k8s-gcr-audit-test-prod.appspot.com/metadata.txt`
- `audit/projects/k8s-infra-e2e-boskos-001/buckets/kubernetes-staging-485128143e-asia/metadata.txt`
- `audit/projects/k8s-infra-e2e-boskos-001/bucke

[2021-06-03 21:12] medyagh opened #2125 "Enable Google Cloud build on kubernetes/minikube repo"
Hello I would like to enable Google Cloud Build CI on minikube repo, I created an issue here https://github.com/kubernetes/org/issues/2716

 but I was directed to this repo. I hope I am requesting at the right place:

Organization or repository
kubernetes/minikube

Name of integration
google cloud build

Link to integration website
https://cloud.google.com/build

Describe what is attempting to be

[2021-06-04 23:26] ameukam commented on #1527
@spiffxp This project may be used for compute images. Can you check :

[code]

[2021-06-07 20:54] spiffxp commented on #1695
/remove-lifecycle stale

[2021-06-07 22:37] spiffxp opened #2150 "Reorganize apps running on aaa under /apps"
This will make it easier to setup a prowjob that auto-deploys these apps on postsubmit

We can also auto-label PRs against these apps and enforce ownership conventions:
- group: `k8s-infra-rbac-{app}@kubernetes.io`
- namespace on aaa: `{app}`
- label on k8s resources: `app: {app}`
- label on gcloud secrets: `app: {app}`
- OWNERS: `approvers: {app}-approvers`
- etc...

Going off of the list of name

[2021-06-07 22:40] spiffxp opened #2151 "Setup postsubmit deploy job(s) for apps running under aaa"
Allow k8s-infra-prow-build-trusted to automatically deploy apps to aaa

Preferably using a service-account per app that grants it the same privileges that humans would have? I would rather avoid giving k8s-infra-prow-build-trusted cluster-admin access to `aaa`

If we're comfortable doing this in a pinch, we can consider it

/wg k8s-infra
/kind feature
/area access
/area prow
/area cluster-infra
/p

[2021-06-07 22:42] spiffxp commented on #2151
ref: https://github.com/kubernetes/k8s.io/pull/988 where I tried to grant per-namespace access to secrets, need to unpack whether this is feasible or we're still concerned about exfiltration of cert secrets

[2021-06-07 23:06] thockin commented on #1375
I think it is long-term valuable but not near-term

[2021-06-08 03:45] jimdaga commented on #2150
@spiffxp I could maybe give this a try;

Just to make sure I follow; you're looking to re-org this `k8s.io` repo so that the folders containing app code get moved under `/apps` - and the various labels, OWNER files, etc get updated to match the `{app}` name - correct?

Also; since you mentioned prow - I take it there is no existing deploy automation I'd have to consider, right?

[2021-06-08 11:44] tosi3k commented on #1310
On the occasion of moving things out of the `kubernetes-jenkins` GCP project, `gs://sig-scalability-logs` bucket should also be migrated.

SIG scalability uses this bucket to store master and node logs separately from the `gs://kubernetes-jenkins` bucket for two reasons:
1. it was needed for us in order to finish migration of our Prow jobs to pod-utils (https://github.com/kubernetes/test-infra/pul

[2021-06-08 14:19] spiffxp commented on #2111
https://github.com/kubernetes/k8s.io/pull/2133 removed export of logs for k8s-infra-e2e projects as a start

Should survey remaining log churn in audit PR's to track down what can be done

[2021-06-09 15:06] thockin opened #2173 "Decommission cert-manager in aaa"
The only cert-manager cert left is self-signed k8s-io-canary.  The canary uses the same redirect code, so TLS is needed to pass tests, but it could be a 10-year self-provisioned thing if we need.

[2021-06-09 19:13] spiffxp commented on #2111
Log noise that seems like it shouldn't be present:
- addition of `projects/{project}/logs/cloudaudit.googleapis.com%2Fsystem_event`
  - shouldn't this log always be present?
  - example projects: k8s-staging-sig-storage, k8s-release-test-prod
- removal of `projects/{project}/logs/cloudaudit.googleapis.com%2Fsystem_event`
  - shouldn't this log always be present?
  - example projects: k8s-artifacts

[2021-06-09 19:22] spiffxp commented on #1394
I'm not entirely clear on why this is in Blocked other than I think we need to get a plan of agreed-upon next steps

The latest outstanding PR I see related to this is https://github.com/kubernetes/k8s.io/pull/1909 but it's in need of a rebase and I'm not sure whether my review comments were addressed

[2021-06-09 21:22] ameukam commented on #1394
@spiffxp I need to cleanup and rebase #1909. The only change is a added commit with a Terraform version of the PR : https://github.com/kubernetes/k8s.io/pull/1909/commits/03d55efa685fda4718553202c171b378029223dc.

[2021-06-09 22:04] spiffxp commented on #1394
(from slack) We need to sign the CLA for https://github.com/k8s-infra-ci-robot and make it an owner of the appropriate kubernetes orgs

[2021-06-10 05:38] ameukam commented on #1394
Opened https://github.com/kubernetes/k8s.io/pull/2181 as replacement of #1909

[2021-06-10 08:32] aojea opened #2183 "API Groups registry"
Following up on https://github.com/kubernetes-sigs/gateway-api/issues/690

API groups on k8s.io are special, they require API review and they may be used for internal APIs or CRDs.

Since the project is growing and there are more subprojects using or wanting to use the k8s.io API group, having a central registry for all them can avoid possible conflicts or naming issues and provide a single source