[2021-06-10 08:33] aojea commented on #2183
/assign @thockin @liggitt

[2021-06-10 15:03] DaveWelling commented on #1476
It seems like the workaround for this is to move the orphaned ports to another region?  Is that right?  I'm guessing that means there is no way to directly remove the ports?  I cannot see any obvious method via the `gcloud compute instance-groups` cli.  Did anybody find a better solution?  I'm worried I will just have to jump from region to region.
Obviously, I'm also going to avoid recreating ing

[2021-06-10 21:35] ameukam opened #2191 "k8s-infra-ci-robot as contributor"
Part of https://github.com/kubernetes/k8s.io/issues/1394.

- [X] Individual membership to CNCF : https://identity.linuxfoundation.org/projects/cncf
- [X] CLA Signed
- [X] EDIT : Org member of :
	- [X] kubernetes : https://github.com/kubernetes/org/pull/2790
	- [X] kubernetes-cli : https://github.com/kubernetes/org/pull/2969
	- [X] kubernetes-csi : https://github.com/kubernetes/org/pull/2969
	- [X]

[2021-06-11 18:23] thockin commented on #2183
This has been on my TODO list forever.  We do something internally like
this.  In fact, let me copy from the internal doc.  I was hoping to
institute something like this

Kubernetes allows “fully qualified” names for various things, to allow
3rd-party extension with lower risks of collisions (e.g. “
foo.example.com/bar” vs “bar”).  In particular this is used for labels and
annotations (applicable

[2021-06-11 18:28] thockin commented on #2183
This has been on my TODO list forever.  We do something internally like
this.  In fact, let me copy from the internal doc.  I was hoping to
institute something like this

Kubernetes allows “fully qualified” names for various things, to allow
3rd-party extension with lower risks of collisions (e.g. “
foo.example.com/bar” vs “bar”).  In particular this is used for labels and
annotations (applicable

[2021-06-11 21:44] ameukam opened #2205 "SIG Node bug scrub - requesting Triage Party instance"
SIG Node would like a triage party instance for the upcoming June 24-25 bug scrub.

/sig node
/assign @ehashman
cc @dims @spiffxp

[2021-06-11 21:57] spiffxp commented on #2029
/close
They're now reported, e.g. https://github.com/kubernetes/k8s.io/blob/main/audit/projects/kubernetes-public/services/bigquery/bigquery.datasets.kubernetes_public_billing.access.json

[2021-06-11 21:57] #2029 closed

[2021-06-11 21:57] spiffxp commented on #2029
/milestone v1.22

[2021-06-11 22:05] spiffxp commented on #904
Update on where we're at.

The following buckets have had access logs turned on
[code]

They currently log to `gs://k8s-artifacts-gcslogs` (hosted in `k8s-artifacts-prod`) with a prefix that matches the bucket name, e.g.
[code]

I would like to see us do the following to close this out:
- enable logging for `k8s-staging-*` buckets
- send these logs to a bucket that is hosted in its own project, wi

[2021-06-11 22:06] spiffxp commented on #904
/assign @hh
please assign to whomever on your team is working on this

[2021-06-11 22:27] spiffxp commented on #516
:heart: to @ameukam for cross-linking PR's I've been contributing to refactor the bash in infra/gcp

https://github.com/kubernetes/k8s.io/pull/2188 takes a tentative step toward using YAML instead of hardcoded bash variables / arrays as the source of our configuration data

[2021-06-11 22:37] spiffxp commented on #1659
/close
At this point `infra/gcp/ensure-organization.sh` does the following:
- add (most) IAM bindings
- add custom roles
- remove hardcoded IAM bindings
- remove hardcoded custom roles

I think there is still some manual noise at the IAM level, but audit PR's over the past few months have shown very few surprises.  I'm comfortable calling this done and opening audit followup issues for whatever fu

[2021-06-11 22:37] #1659 closed

[2021-06-11 22:37] spiffxp commented on #1659
/milestone v1.22

[2021-06-11 22:38] spiffxp commented on #1734
An update on where we're at.

We now have a container `gcr.io/k8s-staging-infra-tools/k8s-infra:latest` which is used by all of our CI jobs (ref: https://github.com/kubernetes/k8s.io/pull/2134 and https://github.com/kubernetes/test-infra/pull/22463).  This image is capable of running tools like `contest`, `opa` and `terraform`

We use this image to run a few sets of tests:
- `hack/verify-executabl

[2021-06-11 22:46] ameukam commented on #1734
Also investigate https://cloud.google.com/config-connector/docs/overview

[2021-06-11 22:59] spiffxp commented on #516
An update on the current state of the bash in infra/gcp.

Over the past few months, as I've worked to reconcile inconsistencies or unmanaged resources discovered via our automated audit PRs, I've been trying to nudge the bash in a consistent direction.

The principles I've tried to follow are:
- extract `lib_foo.sh` files for different GCP services, eg: `lib_iam.sh` for IAM, `lib_gsm.sh` for Googl

[2021-06-14 18:33] spiffxp commented on #1403
Upgrading terraform ref: https://github.com/kubernetes/k8s.io/issues/2020

[2021-06-15 03:26] jimangel opened #2216 "DNS REQUEST: add CAA record"
It was requested to create CAA DNS records for k/website as a security best practices and, well, it's good to know what CAs can issue "official" certificates for public facing Kubernetes things.

More info in this PR: https://github.com/kubernetes/k8s.io/pull/1849. The PR covers kubernetes.io, not k8s.io, which we should also lock down in a similar manor.

/priority important-soon
/milestone v1.22

[2021-06-15 10:50] ameukam commented on #1310
@tosi3k Do you want the contents of this bucket to be preserved? if yes, what is the estimated size of `sig-scalability-logs` ?

[2021-06-15 15:22] johngmyers commented on #2046
I think the answer I got from the SIG Release meeting is that the PR is supposed to have been made from a trustworthy bot. That would mean the review is to verify the the intention to make that release at that time and/or allow for manual testing of the staging artifacts.

[2021-06-15 17:02] spiffxp opened #2218 "Prow: allow deployment of kubernetes-external-secrets without roles/container.admin"
Should be able to CRUD kubernetes resources without CRUD rights for the cluster

Some work has already been done toward this, to link in later

[2021-06-15 17:12] sftim commented on #2183
This sounds like something that would be good to mirror into https://k8s.dev/
The assigned identifiers list could enhance or replace https://kubernetes.io/docs/reference/labels-annotations-taints/

[2021-06-15 18:08] randomvariable commented on #1921
related to https://github.com/kubernetes/k8s.io/pull/1839

[2021-06-15 19:33] spiffxp opened #2220 "Migrate all Opaque kubernetes Secrets on k8s-infra clusters to ExternalSecrets"
- Clusters that need kubernetes-external-secrets installed:
  - [x] k8s-infra-prow-build/prow-build: https://github.com/kubernetes/k8s.io/pull/2827, https://github.com/kubernetes/k8s.io/pull/2830

- Secrets that need to be migrated over for k8s-infra-prow-build/prow-build:
```$ k --context=prow-build get secrets -A | grep Opaque | awk '{print "- [ ] "$1"/"$2}';```
  - [x] test-pods/service-account

[2021-06-15 19:33] spiffxp commented on #2220
/wg k8s-infra
/sig testing
/area prow
/priority important-soon
/milestone v1.22
/assign

[2021-06-15 19:34] spiffxp commented on #2220
https://github.com/kubernetes/k8s.io/pull/2219 is a first attempt at migrating a secret for k8s-infra-prow-build-trusted

[2021-06-15 19:37] ameukam commented on #2220
cc @chaodaiG

[2021-06-15 20:48] ameukam commented on #1394
Created a Github Personal Access Token for `k8s-infra-ci-robot` :

![image](https://user-images.githubusercontent.com/2343515/122121250-b1fd1180-ce2b-11eb-9efc-569667fa7244.png)

[2021-06-15 20:56] spiffxp commented on #1887
From a freshly provisioned project (ref: https://github.com/kubernetes/k8s.io/pull/2195#issuecomment-861823341)

The existing bash/jq is not walking deps enough.  None of the services should be unexpected after this first call.
[code]

I have a much gnarler set of jq lurking somewhere, I've been afraid to PR it since maybe it takes us too far in an unmaintainable direction.  But I'm pretty sure it

[2021-06-15 21:13] ameukam opened #2225 "Increase quotas for k8s-infra-e2e-scale-5k-project"
Part of : https://github.com/kubernetes/k8s.io/issues/1469

Tracking issue for the list of quotas that need to be increased for GCP project `k8s-infra-e2e-scale-5k-project`.
Project created here: https://github.com/kubernetes/k8s.io/pull/2195

[List of quotas](https://docs.google.com/spreadsheets/d/1v9ynsUx3pcMJKVaHViuVqxVtRP1OmGIadvw2uro7D7Y/edit#gid=0)

/assign @spiffxp @dims
cc @thockin

/assig

[2021-06-16 07:53] mm4tt commented on #2225
/assign @marseel

[2021-06-16 14:42] tosi3k commented on #1310
We just need the last 90 days of the contents therein.

I wonder - would applying some retention policy to `gs://sig-scalability-logs` bucket make sense? I'm not a big GCS / test-infra expert but I think that some kind of mechanism like this is already done for `gs://kubernetes-jenkins` bucket where we store the logs for jobs that have finished in the last 90 days IIUC.

After we migrate the scala

[2021-06-16 17:39] spiffxp commented on #1394
Added the token via https://github.com/kubernetes/k8s.io/pull/2224

[2021-06-16 18:42] dims commented on #2125
@ameukam can you please guide @medyagh with this?

[2021-06-16 19:06] ameukam commented on #2125
@medyagh Can you describe us the release process ? It's not clear to me what exactly need to be migrated. My first understanding (I may be wrong) is that we will need a new GCP project where you can run jobs for the minikube releases.

[2021-06-16 22:20] medyagh commented on #2125
hi @ameukam this is merely on the Github Permissions to add "google cloud build app" to be added to the org, so we can use it in our release process through github

[2021-06-17 07:56] nikhita commented on #2125
@medyagh Few questions:

1. IIUC the GCP project is not community-owned, correct? In that case, like @ameukam mentioned, would we need to create a new GCP project for minikube? Would be helpful if you could elaborate on the release process :)
2. Why can't prow be used here?

[2021-06-17 07:57] nikhita commented on #2125
cc @kubernetes/owners

[2021-06-17 11:20] aojea commented on #2183
how can we put the ball rolling then, who has to approve and where should we store the registry?

[2021-06-17 15:12] medyagh commented on #2125
not sure which definition of community-owned is being referred here. for minikube's binaries and ISOs we use a GCP project.
we have a task to move this to a community categorization inside GCP.  (vs internal) @sharifelgamal  is working on that.

historically we have used k8s-minikube GCP project to host the binaries and ISO, and the release process is done through an internal tool inside google.

[2021-06-17 18:21] spiffxp commented on #1466
/assign @spiffxp @BobyMCbobs @ameukam
Keeping track of who's helped close out what

[2021-06-17 18:22] spiffxp commented on #1311
/assign @chrigl
Keeping track of who's helped close this out

[2021-06-17 18:42] BenTheElder commented on #1311
Small update: deleting the old `k8s-conformance-openstack` bucket and creds now.

I think we need to set a responsiveness deadline for the remaining bucket. pinging again @lubinsz

Worst case I don't think it's a big deal if we lose older results from an unresponsive bucket and a new bucket can be easily requested.

[2021-06-17 18:44] BenTheElder commented on #1311
Only `gs://k8s-conformance-arm` + matching service account key remains. All other buckets have been migrated or otherwise cleaned up.

[2021-06-17 18:58] BenTheElder commented on #1311
Spoke to @spiffxp, setting a deadline of 4 weeks and reaching out today by:
- github
- slack
- email

After 4 weeks (people could be on vacation right now, and this is not maximally urgent) we will soft delete by revoking the service account permissions.
I'll ping again then and after say another week actually delete the bucket, to be replaced by a new request to this project.

[2021-06-17 20:14] spiffxp opened #2241 "Migrate away from google.com gcp project kubernetes-scale"
Related:
- Part of umbrella issue to migrate away from google.com gcp projects: https://github.com/kubernetes/k8s.io/issues/1469
- Part of: https://github.com/kubernetes/perf-tests/issues/1898

Umbrella issue for migrating or removing dependence on the kubernetes-scale project.  [cs.k8s.io results](https://cs.k8s.io/?q=kubernetes-scale&i=nope&files=&excludeFiles=&repos=) show that:
- it's used for

[2021-06-17 20:15] spiffxp commented on #2241
/milestone v1.22
I'm not quite sure it's reasonable to expect we can flip this in time for Test Freeze, but we want this ready by the time the next cycle starts

[2021-06-18 19:22] #2205 closed

[2021-06-20 19:57] #825 closed

[2021-06-23 04:57] ameukam commented on #1343
/remove-lifecycle rotten
/lifecycle frozen

[2021-06-23 13:35] jimdaga commented on #2150
/assign @jimdaga

[2021-06-24 11:09] ameukam opened #2268 "migrate away from gs://k8s-scale-golang-build/"
Part of https://github.com/kubernetes/k8s.io/issues/2241

There are a number of jobs that assume they have write access to gs://k8s-scale-golang-build/, and then a bunch of other jobs that assume they should be downloading builds fromgs://k8s-scale-golang-build/.

This bucket is held in the Google-owned `k8s-scale-build` project and should be migrate to the community-infrastructure.

Suggestions o

[2021-06-24 11:15] ameukam commented on #2151
Related to https://github.com/kubernetes/k8s.io/issues/2150.

[2021-06-24 18:03] idvoretskyi commented on #1921
@rifelpet which AWS account(s) are we speaking about (we have multiple)?

[2021-06-24 19:16] rifelpet commented on #1921
@idvoretskyi I'm experiencing this with Kops on 768319786644, but cluster-api-provider-aws runs on different accounts

[2021-06-24 22:07] thockin commented on #2183
I think we should make a new git repo, e.g. "kubernetes/names" or something like that, document the schema, and start seeding it with all the apigroups and labels that we can find.  And add OWNERS files along the way. :)

[2021-06-25 00:20] sedefsavas commented on #1921
`cluster-api-provider-aws` uses the same account with Kops by setting  `preset-aws-credential: "true"`

We observe the following quotas for `us-west-2` region:
[code]

We are facing bottleneck with especially EIP and VPC limits.

[2021-06-25 20:11] ameukam commented on #2241
Some issues about the canary jobs:

- `ci-kubernetes-e2e-gce-scale-correctness-canary` requests compute resources superior to what the build clusters can offer. We may need adjust those requests.
-  I see failures about gce instance access in `ci-kubernetes-kubemark-gce-scale-canary`, `ci-kubernetes-e2e-gce-scale-performance-canary` and `ci-kubernetes-kubemark-gce-scale-scheduler-canary`. I'll ena

[2021-06-27 18:44] rikatz commented on #1508
@ameukam @spiffxp I guess we can close this one as we are moving to Google Managed SSL Certs :)

I'll close (issue cleanup sunday here) but we can reopen if needed

/close

[2021-06-27 18:44] #1508 closed

[2021-06-27 19:32] ameukam commented on #1508
@rikatz Thank you so much for the time and effort. 🙇🏾‍♂️

[2021-06-29 17:02] medyagh commented on #2125
ping @kubernetes/owners @ameukam

[2021-06-29 20:12] spiffxp opened #2275 "Redo kubernetes-public global ip terraform to use for_each"
Followup to https://github.com/kubernetes/k8s.io/pull/2242

I would like us to start avoiding so much copy-pasting of terraform, but am opening this up as a followup issue to unblock the PR

[2021-06-29 20:14] spiffxp commented on #2275
/wg k8s-infra
/priority important-longterm
/area infra/terraform
/area cluster-infra

[2021-06-29 20:55] ameukam commented on #2225
I raised the quotas for `k8s-infra-e2e-scale-5k-project` in us-east1. Quotas are now https://console.cloud.google.com/iam-admin/quotas?project=k8s-infra-e2e-scale-5k-project :

CPU: 6000
Persistent Disk Standard (GB): 501,800 GB

[2021-06-29 21:43] spiffxp commented on #2013
Deploying the change to do this https://github.com/kubernetes/k8s.io/pull/2252#issuecomment-870920388

- [x] `terraform apply` started: ~ 2021-06-29 21:10:00 UTC
- [x] pool2 finished migrated
- [ ] pool1 finished migrating
- [ ] terraform apply finished:
- [ ] verified cluster / node pool configuration
- [ ] verified apps running
  - [ ] gcsweb.k8s.io
  - [ ] k8s.io
  - [ ] kubernetes-external-sec

[2021-06-30 10:39] nikhita commented on #2125
community-owned = owned by the upstream k8s community (wg-k8s-infra) and not restricted to only googlers

This is great to hear!

Similar to the concerns brought up in the [slack thread](https://kubernetes.slack.com/archives/CCK68P2Q2/p1623869080171300), we would prefer not to set up an integration for a GCP project that's not owned by the community.

Our preference would be to use prow since that

[2021-06-30 12:49] cpanato commented on #2013
/subscribe

[2021-06-30 15:55] spiffxp commented on #2218
/area prow
/area cluster-infra
/sig testing
/wg k8s-infra
/priority important-longterm

[2021-06-30 15:57] spiffxp commented on #2218
https://github.com/kubernetes/k8s.io/pull/2190 setup a custom `container.deployer` role

But that apparently still isn't sufficient: https://github.com/kubernetes/k8s.io/pull/2190#issuecomment-859750534

[2021-06-30 16:11] spiffxp opened #2277 "audit followup: policy or automation to disable or delete unused GSM secret versions"
Followup issue for https://github.com/kubernetes/k8s.io/pull/2234#discussion_r654010523

_Originally posted by @ameukam in https://github.com/kubernetes/k8s.io/pull/2234#discussion_r654010523_

Sounds good to me.  In order of fidelity, we could:
1. manually disable old secret versions
2. write a script / tool to disable all old secret versions
3. trigger the script with periodic prowjob

Other ide

[2021-06-30 16:19] spiffxp opened #2278 "audit followup: add ensure_project_oslogin function"
Followup issue for: https://github.com/kubernetes/k8s.io/pull/2234/files#r659954289

_Originally posted by @ameukam in https://github.com/kubernetes/k8s.io/pull/2234#r659954289_

Agreed

Should we ensure `enable-oslogin` is set for any project that has `oslogin` enabled?

/wg k8s-infra
/sig testing
/sig scalability
/area prow

[2021-06-30 16:26] ameukam commented on #2278
How can we identify those who need it? Or just enable it for all the k8s-infra-e2e-boskos-* projects  ?

[2021-06-30 16:33] spiffxp opened #2279 "audit followup: update list of services enabled for k8s-infra-ii-sandbox"
Followup issue for https://github.com/kubernetes/k8s.io/pull/2234/files#r659949688

_Originally posted by @ameukam in https://github.com/kubernetes/k8s.io/pull/2234#r659949688_

Yup, this is the list of what's currently explicitly enabled:
https://github.com/kubernetes/k8s.io/blob/f7d1b639aade0faa9b2c1ed4e7b09600cf14f09a/infra/gcp/clusters/projects/k8s-infra-ii-sandbox/main.tf#L42-L48

Compare wit

[2021-06-30 17:13] spiffxp commented on #2013
Fixing slack-infra notes

Why is the pod crashing:
[code]

What does config.json look like:
[code]

I bet it's the trailing comma.  Edit to remove, push new k8s secret yaml to GSM, run deploy.sh, see pods running
[code]

[2021-06-30 17:59] spiffxp commented on #2013
/close

[2021-06-30 18:00] #2013 closed

[2021-06-30 18:16] spiffxp commented on #1900
I think the reason sippy is returning 500's is because testgrid is returning 500's

[code]

[code]

As a human:
- https://testgrid.k8s.io/sig-release-1.20-blocking#bazel-test-1.20 displays a grid
- https://testgrid.k8s.io/sig-release-1.21-blocking#ci-kubernetes-unit-1-21 displays "Internal Error: Refresh, and file an issue if problem persists. (Your table may be too big; consider lower `days_of_re

[2021-06-30 23:43] spiffxp commented on #1597
/help

We could use some help closing out "clean up links to `k8s.io/(blob|tree)/master`" above.  A PR per repo would be fine

List generated via:
[code]
- [ ] kubernetes-csi/csi-driver-host-path
- [ ] kubernetes-csi/csi-driver-iscsi
- [ ] kubernetes-csi/csi-driver-nfs
- [ ] kubernetes-csi/csi-lib-utils
- [ ] kubernetes-csi/csi-proxy
- [ ] kubernetes-csi/csi-release-tools
- [ ] kubernetes-csi/csi-

[2021-07-01 04:20] praveenghuge commented on #1597
/assign

[2021-07-01 04:56] anubha-v-ardhan commented on #1597
/assign

[2021-07-01 05:03] praveenghuge commented on #1597
I can take up the kubernetes-sigs repos

[2021-07-01 05:09] anubha-v-ardhan commented on #1597
I can take up all the kubernetes-csi/ repos

[2021-07-01 05:12] RinkiyaKeDad commented on #1597
I'll take the remaining kubernetes repos then :)

/assign

[2021-07-01 07:45] anubha-v-ardhan commented on #1597
Done all the kubernetes-csi/ repos : )

[2021-07-01 10:24] anubha-v-ardhan commented on #1597
Closed all my PRs except https://github.com/kubernetes-csi/csi-release-tools/pull/164 as stated in this comment https://github.com/kubernetes-csi/csi-release-tools/pull/164#issuecomment-872097531

[2021-07-01 16:08] sedefsavas commented on #1921
@idvoretskyi
What are the steps we can take to proceed on this issue? Do you know who to reach out?

[2021-07-01 22:00] BenTheElder commented on #1187
/help
anyone should be able to PR the terraform and job configs, I can try to help understand these but admittedly haven't just done it myself yet because too many things keep coming up ...

[2021-07-02 15:47] spiffxp commented on #1753
/remove-lifecycle rotten

[2021-07-02 18:27] jimdaga commented on #2150
Sorry things have been slow, I'm hoping to find some time soon to sit down and finish a bunch of PRs at once.

[2021-07-02 19:11] spiffxp commented on #2150
It's all good, I've been pretty slow myself.  Updated description with what I think are the remaining apps, along with notes about which ones might be special cases.  I am doing a few straightforward apps to get a feel for it, but will leave the rest open.

If I have time, I'll look at answering my questions on the tougher ones, but it's likely I won't have time, so could use help on those.

[2021-07-02 19:51] spiffxp commented on #2150
https://github.com/kubernetes/k8s.io/pull/2290 for kubernetes-external-secrets and node-perf-dash

[2021-07-02 20:02] spiffxp commented on #1753
OK so what are we dealing with here...

Grants permission `iam.serviceAccounts.list` for `k8s-infra-cluster-admins@kubernetes.io` on:
- k8s-infra-prow-build
- k8s-infra-prow-build-trusted
- kubernetes-public

For all three projects, this group is also granted:
- `roles/compute.viewer`
- `roles/container.admin`

For kubernetes-public, this group is additionally granted:
- `roles/compute.loadBalance

[2021-07-02 20:04] spiffxp commented on #1753
[code]

No

[2021-07-02 20:09] spiffxp commented on #1753
/assign

[2021-07-02 22:39] spiffxp commented on #846
Opened https://github.com/kubernetes/k8s.io/pull/2291 with a script I've been using to keep an eye on the delta between gs://k8s-release-dev and gs://kubernetes-release-dev

[2021-07-02 22:55] spiffxp commented on #1625
@ameukam FWIW I had looked at that approach in https://github.com/kubernetes/k8s.io/issues/509 and hit this quote from your link:

[2021-07-02 23:33] spiffxp commented on #1597
/assign @anubha-v-ardhan @praveenghuge @RinkiyaKeDad
Thank you for taking this on!  I've updated https://github.com/kubernetes/k8s.io/issues/1597#issuecomment-871796515 based on latest results

Sounds like @pohly will help out with the remainder of the kubernetes-csi repos

[2021-07-02 23:36] spiffxp commented on #1753
Hm.  Usually, I use my personal account to try out less-privileged access stuff, but it happens to have read-only access to everything as an auditor, so it's not the best option here for repo'ing whether the permission is necessary.

[2021-07-04 11:59] ameukam commented on #1762
Over the time, resources consumption grew significantly. I don't think we should investigate this.
We can re-open it if needed.

/close

[2021-07-04 11:59] #1762 closed

[2021-07-05 10:56] RinkiyaKeDad commented on #1597
All the PRs for `kubernetes/` have now been merged @spiffxp. Please let us know if there is something else we could help with :D

[2021-07-05 20:44] ameukam commented on #1624
/remove-lifecycle stale

[2021-07-07 08:47] marseel opened #2299 "Triage party for sig-scalability"
As sig-scalability, we would like to try Triage party for bug scrubbing process.
This issue will track progress of running triage party for sig-scalability in aaa cluster.

[2021-07-07 08:47] marseel commented on #2299
/assign @marseel
/cc @ameukam

[2021-07-08 02:51] spiffxp commented on #1731
/remove-lifecycle rotten
/assign
This might be done, or at the very least the description needs more a refresh.  A quick short update:
- there is bash that manages secrets as of https://github.com/kubernetes/k8s.io/pull/2078
- we would like to migrate everything to use of kubernetes-external-secrets, ref: https://github.com/kubernetes/k8s.io/issues/2220

[2021-07-08 14:12] idvoretskyi commented on #1921
@rifelpet this is not an account I have access to, so I believe someone from the CAPA team has to handle this.

[2021-07-08 22:40] ameukam opened #2310 "Investigate committed use discounts for aaa and build clusters"
The Compute Engine service allow to establish contracts for discounted prices for instance usage.

We should investigate if the GKE nodes are eligible to this service and identify the number of resources we can commit.

https://cloud.google.com/compute/docs/instances/signing-up-committed-use-discounts

[2021-07-09 03:40] spiffxp commented on #1968
/assign @hh
I'm assigning @hh for awareness, but I think this is something that @ameukam and I can handle.  We just might someone from ii to confirm that they are capable of polling/regenerating their reports at the end of this.

My sketch of a plan:
- switch all access log settings to point to the new bucket
- copy the old access logs to the proper location in the new bucket
- ask ii to ensure po

[2021-07-09 11:43] wojtek-t commented on #1900
@spiffxp - thanks for the summary above
That said - this doesn't scale - would it be possible to give us permissions for logs at least in our namespace?

[2021-07-09 11:46] ameukam commented on #1900
@wojtek-t You should be able to get the logs of your namespace through the GCP console : https://console.cloud.google.com/logs/query;query=resource.type%3D%22k8s_container%22%0Aresource.labels.namespace_name%3D%22sippy%22;cursorTimestamp=2021-07-09T11:18:46.602859229Z?project=kubernetes-public

[2021-07-09 12:08] wojtek-t commented on #1900
OK - I can get logs, but those aren't particularly helpful...

@ameukam - Would it be possible to give the permission to exec and/or portforward in the namespace

[2021-07-09 14:44] spiffxp commented on #843
/milestone v1.23

[2021-07-09 14:45] spiffxp commented on #193
I think this is no longer blocked, given that @Riaankl has been doing analysis of images transferred from k8s.gcr.io

[2021-07-09 15:04] spiffxp commented on #157
/milestone v1.23
I'm moving to Blocked as I'm not sure what the status of this is anymore

[2021-07-09 15:16] ameukam opened #2316 "Convert Ingresses and services on k8s-infra cluster aaa"
The GKE `aaa` cluster have been [upgraded](https://github.com/kubernetes/k8s.io/pull/2294/files) to GKE 1.19. We should move the existing ingresses to the GA version `networking.k8s.io/v1`.

We currently use the  `networking.k8s.io/v1beta1`:

[code]

And possibly convert Kubernetes services of type NodePort to the ClusterIP type with [GCP Networking Endpoint](https://cloud.google.com/kubernetes-en

[2021-07-09 16:21] jimdaga commented on #2150
One more PR- but I have a question in the NOTES about directory names.
https://github.com/kubernetes/k8s.io/pull/2317

[2021-07-09 19:32] spiffxp opened #2318 "Deprecate and migrate away from gs://kubernetes-release-dev and gcr.io/kubernetes-ci-images"
Part of umbrella issue to migrate the kubernetes project away from use of GCP project google-containers: https://github.com/kubernetes/k8s.io/issues/1571

This issue covers the deprecation of and migration away from two google.com assets:
- the google.com-owned GCS bucket `gs://kubernetes-release-dev` living in GCP project `google-containers`, in favor of the community-owned GCS bucket `gs://k8s-r

[2021-07-09 19:50] spiffxp commented on #1810
/remove-lifecycle stale

[2021-07-09 19:51] spiffxp commented on #1810
/milestone v1.23
This is going to have to wait until we can move the project to `gs://k8s-release`

[2021-07-09 20:01] ameukam commented on #2278
We enabled this in #2296 but it breaks the scalability jobs. Reverted in #2312.

[2021-07-09 20:14] spiffxp commented on #846
I'm going to consider this closed if https://github.com/kubernetes/test-infra/pull/22840 lands without breaking anything

I've opened https://github.com/kubernetes/k8s.io/issues/2318 as the umbrella issue to track "what else besides jobs"

[2021-07-09 21:02] spiffxp commented on #1569
I manually initiated a one-time transfer from `gs://kubernetes-release/release` to `gs://k8s-release/release` following instructions at https://cloud.google.com/storage-transfer/docs/create-manage-transfer-console to get a sense of size/cost of transfer

![Screen Shot 2021-07-09 at 2 00 56 PM](https://user-images.githubusercontent.com/49258/125135587-17a48c80-e0be-11eb-83e5-8810e31e9789.png)

[2021-07-09 21:07] spiffxp commented on #1569
@justaugustus I would still like us to do this before we consider flipping over dl.k8s.io for real

I could be convinced to flip over temporarily to get an estimate of the amount of traffic this flips, but we should ultimately be using a similar approach as we do for GCR, with promotion from a staging bucket etc.

/assign @saschagrunert @puerco @cpanato @jeremyrickard
other SIG Release leads for i

[2021-07-10 14:29] marianabocoi opened #2323 "Add a filter for http://k8s.io/good-first-issue and https://go.k8s.io/help-wanted to not show assigned issues"
When searching for a good first issue or wanting to help, it was hard for me to find not-assigned issues.

Initially, I opened issues and looked around, and I got de-motivated to start helping. 😞
I then found the `no:assignee` filter in GitHub, and it made it easier to find an issue to contribute to.

If the short link is for the contributors, I would like to add the `no:assignee` filter in the li

[2021-07-10 14:47] marianabocoi commented on #2323
also, tests need to be updated 😄

[2021-07-10 14:55] dims commented on #2323
@marianabocoi please open a PR!

[2021-07-10 15:04] marianabocoi commented on #2323
/assign

[2021-07-10 15:05] marianabocoi commented on #2323
Fixing the pr 🍿

[2021-07-10 15:12] marianabocoi commented on #2323
Was working on figuring out how to run the tests, but found the makefile in the folder 🎉  and the dance with forking etc.
I Will ping on it soon ❤️

Not sure if there are many contributors to this that are not in the wg so maybe documenting how to test changes in [CONTRIBUTING.md](https://github.com/kubernetes/k8s.io/blob/main/CONTRIBUTING.md) does not make sense.

[2021-07-10 15:30] marianabocoi commented on #2323
@dims I was wrong; I have not figured out how to run tests 😿

I would love to run the tests locally, and I noticed if I do not provide a TARGET_IP, it runs the tests towards the actual host (`socket.gethostbyname('k8s.io')`). I am curious how I can spin things up locally to test towards `localhost` or similar.

[2021-07-10 16:12] marianabocoi commented on #2323
/honk

[2021-07-12 00:06] dims commented on #1959
[code]

[2021-07-12 00:07] dims commented on #1959
@randomvariable sorry just caught up with this again.

[2021-07-12 00:07] dims commented on #1959
/close

[2021-07-12 00:07] #1959 closed

[2021-07-12 00:29] dims commented on #1637
@caniszczyk @idvoretskyi - will this fit into the new program around cloud credits at CNCF?

[2021-07-12 08:39] idvoretskyi commented on #1637
@dims can we kick-off the email thread please (with me and @caniszczyk)?

[2021-07-12 09:11] hh commented on #1637
Might be useful to bring me into the thread as well.

I’ve been working on both the Cloud Credits program and some earlier
conversations with Microsoft.

[2021-07-12 21:27] spiffxp commented on #2318
Timeline:
- 2021-07-03 00:15:00 UTC: https://github.com/kubernetes/k8s.io/pull/2292 is deployed - jobs using dl.k8s.io will get binaries / version markers from gs://k8s-release-dev
- 2021-07-09 20:40:00 UTC: https://github.com/kubernetes/test-infra/pull/22840 merges - jobs using flags will be affected
- 2021-07-09 21:54:00 UTC: https://github.com/kubernetes/test-infra/pull/22849 merges - jobs usin

[2021-07-13 01:59] spiffxp commented on #1526
/milestone v1.23

[2021-07-13 05:39] ameukam commented on #1968
We will need to migrate the BigQuery datasets used for images pulling reports.
@Riaankl @bernokl Can you provide us the list of datasets that need to be migrated ?

[2021-07-13 09:30] wojtek-t commented on #1900
OK - Sippy is up and running

https://sippy.k8s.io

/close

[2021-07-13 09:48] ameukam commented on #1900
Sorry for the delay in my response. We are still working on putting in place better security policies. At the moment, it is not possible to allow these verbs.

[2021-07-13 16:33] spiffxp commented on #1751
/milestone v1.21

[2021-07-13 16:33] spiffxp commented on #1673
/milestone v1.21

[2021-07-13 16:44] spiffxp commented on #1731
/milestone v1.22

[2021-07-13 22:26] #2323 closed

[2021-07-14 06:43] marianabocoi opened #2335 "Update slack welcome message"
Update the welcome messages according to suggestions by @mrbobbytables

This is the file to change
https://github.com/kubernetes/k8s.io/blob/15fa575622776da06e11c0d95243b47e34961c22/apps/slack-infra/resources/slack-welcomer/message.yaml#L6

/cc @mrbobbytables

[2021-07-14 07:08] nikhita commented on #2335
/sig contributor-experience

[2021-07-15 01:54] spiffxp commented on #1460
/remove-lifecycle stale
This is being worked on in concert with gs://kubernetes-release-dev migration

[2021-07-15 01:55] spiffxp commented on #1674
/remove-lifecycle stale
Still relevant. Not going to freeze this though

[2021-07-15 01:56] spiffxp commented on #1520
/remove-lifecycle stale
FYI @listx if @tylerferrara is looking for other stuff to do

[2021-07-15 01:57] spiffxp commented on #1675
/remove-lifecycle stale
Still relevant

[2021-07-15 02:00] spiffxp commented on #176
/remove-lifecycle stale
Still relevant. We are close with the deploy.sh script but it's not as simple as run once parameterless. Not that far off from something an appropriately privileged prowjob could run though

[2021-07-15 02:00] spiffxp commented on #1525
/remove-lifecycle stale
Not yet sure what the state of this is

[2021-07-15 06:06] spiffxp commented on #1742
/remove-lifecycle stale
Still relevant

[2021-07-15 07:02] cpanato commented on #1525
I will get back to this, it is missing one image, that I need to follow up

[2021-07-15 11:34] randomvariable commented on #1921
I think it's @justinsb for these.

Kops and CAPA are using different sets of accounts at the moment I believe.

[2021-07-15 12:16] idvoretskyi commented on #1921
I believe the limits have already been increased, @rifelpet can you please check?

[2021-07-15 14:05] cpanato commented on #1525
Updated the PR https://github.com/kubernetes/kubernetes/pull/100294 and after we merge that we can close this issue

[2021-07-15 19:10] randomvariable commented on #1921
I may have managed to get some service quotas raised asynchronously through test runs, but the ones we're after for Cluster API are (and all for us-west-2):

[code]

[2021-07-15 22:05] spiffxp commented on #1656
/remove-lifecycle rotten
/close
The bash we have in place has been working well enough. Nice to haves can be followup issues

[2021-07-15 22:05] #1656 closed

[2021-07-15 22:05] randomvariable commented on #1959
Great, thanks for this!

[2021-07-15 22:06] randomvariable commented on #1959
cc @ykakarap and @yastij

[2021-07-15 22:58] PushkarJ opened #2345 "Google groups description limit < 300 chars not checked in tests"
Google groups description max. limit is 300 characters: https://developers.google.com/admin-sdk/groups-settings/v1/reference/groups#:~:text=entry/-,apps%3Adescription,-object

This should be tested in `groups_test.go` otherwise it can lead to failed jobs like this: https://storage.googleapis.com/kubernetes-jenkins/logs/post-k8sio-groups/1415792053220020224/build-log.txt

Will open a PR to fix this

[2021-07-15 23:40] spiffxp opened #2348 "k8s.io: test.py isn't exercised during presubmit"
This allows people such as myself (who definitely like seeing tests pass, but rely on CI to run all the things) to merge PR's that pass presubmits, but will fail to deploy.

e.g. https://github.com/kubernetes/k8s.io/pull/2334 went through multiple eyes for review, everyone thought it looked great... and then I needed to followup with https://github.com/kubernetes/k8s.io/pull/2347

I'm not sure if

[2021-07-16 00:19] spiffxp commented on #2345
/priority critical-urgent
Since this is breaking group sync right now
/milestone v1.22

[2021-07-16 00:30] spiffxp commented on #2345
/assign @PushkarJ @spiffxp

[2021-07-16 00:32] spiffxp commented on #2275
/priority backlog

[2021-07-16 00:40] #2345 closed

[2021-07-16 07:05] cpanato commented on #1525
found two more, the others are in the vendors directory or is a legacy that we will not change

[2021-07-16 14:37] ameukam commented on #2150
kettle : the presence of this namespace is for [kettle migration](https://github.com/kubernetes/k8s.io/issues/787). We should remove it if we consider host kettle on a different GKE cluster during the migration.

[2021-07-16 14:44] spiffxp commented on #1656
/milestone v1.22

[2021-07-16 14:45] spiffxp commented on #1762
/milestone v1.22

[2021-07-16 14:46] spiffxp commented on #1850
/milestone v1.21

[2021-07-16 14:47] spiffxp commented on #299
/milestone v1.21

[2021-07-16 14:47] spiffxp commented on #752
/milestone v1.23

[2021-07-16 14:47] spiffxp commented on #915
/milestone v1.23

[2021-07-16 14:48] spiffxp commented on #1730
/milestone v1.22

[2021-07-16 14:49] spiffxp commented on #1544
/milestone v1.23
Need to re-examine what should be allowed to push to what.  This is attempting to push directly to a "prod" bucket, when ideally we should be doing a staging->promote->prod process

[2021-07-16 14:50] spiffxp commented on #1544
/remove-priority backlog
/priority important-soon

[2021-07-16 14:51] spiffxp commented on #1665
/priority backlog
/milestone v1.23
Needs another pass.  The diff in the description is likely an artifact of when GCR was setup for a given staging project.  It used to need roles/editor, it doesn't anymore.  We should reconcile to the service agent role

[2021-07-16 14:52] spiffxp commented on #1666
/milestone v1.23
/priority important-longterm
Also needs another pass. I've run ensure-staging-storage.sh for everything a number of times at this point.  If there are additional bindings beyond the standard set, we should remove them

[2021-07-16 14:54] spiffxp commented on #1590
/milestone v1.23
/unassign @MushuEE @thockin @spiffxp
All of our bandwidth has been elsewhere. While I'm interested in this, I'm not currently working on it; I'll /assign myself if that ever changes

[2021-07-16 14:56] spiffxp commented on #715
/close
We've disabled automated scanning, ref: https://github.com/kubernetes/k8s.io/issues/1963

[2021-07-16 14:56] #715 closed

[2021-07-16 14:59] spiffxp commented on #1963
https://github.com/kubernetes/k8s.io/pull/2016 disabled `containerscanning.googleapis.com` for all projects

there is leftover detritus in the form of a container scanning service agent IAM binding

[2021-07-16 15:10] spiffxp commented on #436
/remove-lifecycle stale
/close
We've disabled vulnerability scanning for now.  Can reopen or recreate this issue when we've been able to give this more thought

[2021-07-16 15:10] #436 closed

[2021-07-16 15:21] spiffxp commented on #1376
The UI makes import/export much easier these days, and we now export dashboards as part of audit

So we still can't immediately recreate dashboards at the run of a script for DR purposes, but we're better off than we used to be

[2021-07-16 18:15] spiffxp commented on #330
/close
I'm closing this in favor of https://github.com/kubernetes/k8s.io/issues/1625 as parts of the billing report appear to be non-accessible to the community (I suspect either the Data Studio report or data source are google.com assets)

[2021-07-16 18:15] #330 closed

[2021-07-16 18:17] spiffxp commented on #766
The toilsome way of doing this: add redirects for every repo, and stop doing a blanket redirect

Less toilsome ways:
- scrape all github repos periodically, and regenerate the config
- check if the github repo exists before redirecting (I'm not sure this would scale well)

[2021-07-16 18:21] spiffxp commented on #460
Jumping in on OWNERS doesn't happen unless I see demonstrated commitment to implement the enforcement I described.  A good demonstration would be PR's to improve the state of things, or authoring and driving consensus on a proposal and the necessary work items such that they meet the criteria of a help-wanted issue.

[2021-07-16 18:21] spiffxp commented on #525
/milestone v1.23

[2021-07-16 18:23] spiffxp commented on #2151
/milestone v1.23
There's a chance I may implement this before close of v1.22 but let's plan on v1.23

[2021-07-16 18:23] spiffxp commented on #2218
/milestone v1.23

[2021-07-16 18:24] spiffxp commented on #1624
A good first step would be understanding how to export whatever existing alerts we have as part of audit/audit-gcp.sh

[2021-07-16 22:02] spiffxp commented on #2335
/close
https://github.com/kubernetes/k8s.io/pull/2336 was deployed

Thanks @marianabocoi !

[2021-07-16 22:02] #2335 closed

[2021-07-17 01:16] spiffxp commented on #846
/close
We caused some breakage but at this point I think anything remaining that nobody's noticed yet can be tracked in the umbrella issue.

I have a timeline of what landed / broke / fixed when: https://github.com/kubernetes/k8s.io/issues/2318#issuecomment-878609309

[2021-07-17 01:16] #846 closed

[2021-07-17 01:47] spiffxp commented on #2318
Went on a bit of a spree today and opened the following:
- https://github.com/kubernetes-sigs/cluster-api/pull/4958
- https://github.com/kubernetes-sigs/image-builder/pull/656
- https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/399
- https://github.com/kubernetes-sigs/poseidon/pull/188
- https://github.com/kubernetes/kubeadm/pull/2528
- https://github.com/kubernetes/community/pull/5

[2021-07-17 08:21] ameukam commented on #1782
/remove-lifecycle rotten
lifecycle frozen

[2021-07-17 08:26] ameukam commented on #1475
/remove-lifecycle stale

[2021-07-19 15:58] spiffxp commented on #1743
/remove-lifecycle stale
/lifecycle frozen

[2021-07-19 18:04] spiffxp opened #2364 "cip-auditor: alerts are noisy"
Tracking issue for the fact that CIP auditor alerts are noisy.

The alerting was manually created by thockin a while ago (could not find an issue to link at a glance, maybe someone else knows).  Then it was manually disabled because the alerts were perceived as noisy.

The alerting is managed via click-ops, ideally it could be done with `gcloud`: https://github.com/kubernetes/k8s.io/issues/1624

I

[2021-07-19 18:05] spiffxp commented on #2364
/priority important-longterm
/wg k8s-infra
/sig release
/area artifacts
/area release-eng
/area infra/monitoring
/milestone v1.22

[2021-07-19 18:09] spiffxp commented on #2364
FWIW here is the policy generating the alert in question
[code]

[2021-07-19 18:14] tylerferrara commented on #2364
/assign

[2021-07-19 18:14] spiffxp commented on #2364
members of k8s-infra-gcp-auditors should be able to do what I just did above: https://github.com/kubernetes/k8s.io/blob/15f7d7c63d66f4391c6d435948cb6da0a73b8044/infra/gcp/roles/audit.viewer.yaml#L882-L883

[2021-07-19 18:18] spiffxp commented on #2364
This is what IAM is for the project in question right now: https://github.com/kubernetes/k8s.io/blob/main/audit/projects/kubernetes-public/iam.json

I could be convinced that `k8s-infra-cluster-admins` should get something like `roles/monitoring.editor` or higher on this project, as the nearest conveniently existing group that has editor/admin type roles on this project

I could also be convinced

[2021-07-19 18:27] spiffxp commented on #2364
@tylerferrara is unable to view incidents because of lack of `roles/monitoring.viewer`, ref: https://cloud.google.com/monitoring/alerts/troubleshooting-alerts#no-permission

The only existing group that has this is gke-security-groups:
https://github.com/kubernetes/k8s.io/blob/15f7d7c63d66f4391c6d435948cb6da0a73b8044/audit/projects/kubernetes-public/iam.json#L117-L122

Which is populated entirely

[2021-07-19 18:31] tylerferrara commented on #2364
Incidents are now viewable!

With respect to the auditor logs, tracking down these incident triggers requires looking at stack traces. I'm still unable to view anything from the "Traces" service in GCP for the `k8s-artifacts-prod` project.

[2021-07-19 18:54] spiffxp commented on #2364
https://github.com/kubernetes/k8s.io/pull/2365 added the necessary cloudtrace read-only permissions to `audit.viewer` which is granted org-wide to k8s-infra-gcp-auditors@, which @tylerferrara is already a member of.

[2021-07-19 21:19] tylerferrara commented on #2364
The PR: #2366 has stopped the audit crashes, which was causing the alerts. However, this issue should remain open until the following investigation has been resolved (CIP issue: [#353](https://github.com/kubernetes-sigs/k8s-container-image-promoter/issues/353)).

[2021-07-21 03:45] jimdaga commented on #2316
First PR submitted: https://github.com/kubernetes/k8s.io/pull/2375

[2021-07-21 19:45] spiffxp commented on #2151
/assign

[2021-07-21 19:48] spiffxp commented on #2151
Opened https://github.com/kubernetes/test-infra/pull/22970

[2021-07-21 20:28] spiffxp commented on #1305
/remove lifecycle-stale
/milestone v1.23

[2021-07-21 20:28] spiffxp commented on #1307
/remove lifecycle-stale
/milestone v1.23

[2021-07-21 21:11] ameukam commented on #787
/remove-lifecycle stale
/milestone v1.23

[2021-07-21 21:11] ameukam commented on #508
/remove-lifecycle stale
/lifecycle frozen

[2021-07-21 21:33] ameukam commented on #1681
Some progress were made by @spiffxp since the issue is open. See #1743 for more details

/remove-lifecycle stale
/lifecycle frozen

[2021-07-21 23:15] Riaankl commented on #1968
@ameukam I cleaned up the `k8s-infra-ii-sandbox` with only 2 data sets remaining:
- `riaan_data_store`
- `etl_script_generated_set_prod`
These we need for reports

[2021-07-21 23:25] ameukam commented on #1968
@Riaankl Do you need those buckets to be migrated :

[code]

Apart from all this, is there anything else that needs to be migrated ?
cc @bernokl

[2021-07-22 01:08] spiffxp opened #2386 "apps: address known issues in apps/README.md"
I'm breaking this issue out of https://github.com/kubernetes/k8s.io/issues/2150

I had hopes of making all apps follow some easily templated conventions that we could enforce so that:
- boilerplate could be automated away
- it's easy to tell what resources belong to which app
- it's easy to tell who "owns" an app (and how that maps to who can admin/deploy it, who can approve changes to its files,

[2021-07-22 01:09] spiffxp commented on #2386
/priority important-longterm

[2021-07-22 01:58] spiffxp commented on #508
Here's what we have:
- `area/access`
- `area/artifacts`
- `area/billing`
- `area/cluster-infra`
- `area/cluster-mgmt`
- `area/dns`
- `area/infra/auditing`
- `area/infra/cert-manager`
- `area/infra/monitoring`
- `area/infra/publishing-bot`
- `area/infra/reliability`
- `area/infra/terraform`
- `area/prow`
- `area/release-eng`

Here's what I propose:
- drop `area/infra/reliability`, `area/infra/monit

[2021-07-22 02:09] spiffxp commented on #508
**Why both `area/apps/prow` and `area/prow`?**

One is about the specific app or set of resources deployed on aaa

The other is about all prow concerns in general, include the build clusters, migrating prow jobs, etc

**Why drop everything out of `area/infra/foo`?**

Conceptually, `area/apps/foo` maps directly to the files/app in `apps/foo`.  The same can't be said for the `area/infra/foo`.  We co

[2021-07-22 02:10] spiffxp commented on #2386
I'm proposing that we add `area/apps/foo` for each app foo as part of:
 https://github.com/kubernetes/k8s.io/issues/508#issuecomment-884608113

[2021-07-22 02:13] spiffxp commented on #2150
I've opened https://github.com/kubernetes/k8s.io/issues/2386 to address fleshing out "what is an app" and generally anything else listed as a known issue in https://github.com/kubernetes/k8s.io/tree/main/apps#proposed-format

Thanks to all of this, I was able to move forward on https://github.com/kubernetes/k8s.io/issues/2151

[2021-07-22 02:14] spiffxp commented on #2150
/assign @spiffxp @ameukam
since we did a few of the apps, but mostly this was @jimdaga

/close
Calling this done!

[2021-07-22 02:14] #2150 closed

[2021-07-22 03:11] spiffxp commented on #2318
Two more PRs opened / merged:
- https://github.com/kubernetes/k8s.io/pull/2363
- https://github.com/kubernetes/cloud-provider-gcp/pull/252

Need to do another pass and make sure documentation is wrapped up

[2021-07-22 15:14] spiffxp opened #2388 "prow: add tests to enforce folder-per-namespace convention for resources"
Followup to https://github.com/kubernetes/k8s.io/pull/2371

Ideally this could be done with `conftest`

Ensure that for every resource in `infra/gcp/clusters/projects/{project}/{cluster}/resources':
- `resources/foo.yaml` is cluster-scoped (no namespace)
- `resources/{namespace}/foo.yaml` has `namespace: {namespace}`

If it turns out the existing resources don't fit this convention, refactor to ma

[2021-07-23 02:23] spiffxp commented on #1306
/remove-lifecycle stale
/milestone v1.23

[2021-07-23 03:45] eddiezane commented on #1458
/remove-lifecycle stale

[2021-07-23 15:45] spiffxp commented on #2318
I missed that the release-branch cut caused v1.23 builds to start getting pushed:
- https://github.com/kubernetes/test-infra/pull/23002

[2021-07-23 16:20] ameukam commented on #2241
In the 2021-07-22 meeting of SIG-Scalability, @wojtek-t suggested to increase the gcp nodes to 5k for the optional presubmits. I will :
- add a canary job for `pull-kubernetes-e2e-gce-large-performance`.
- increase the quotas of CPU and persistent disks on `k8s-infra-scale-e2e-5k-project`.

[2021-07-26 19:14] Riaankl commented on #1968
@ameukam Yes, please.

[2021-07-26 21:30] ameukam commented on #1469
I found a bunch of GCP buckets that can potentially need be migrated:

- gs://kops-ci
- gs://cloud-sdk-testing
- gs://k8s-testimages-scratch
- gs://sig-scalability-logs
- gs://kubernetes-e2e-soak-configs
- gs://cri-containerd-staging

I couldn't find how they were created and which group(s) have admin access to them.

[2021-07-26 22:39] spiffxp opened #2396 "Deprecate and migrate away from gs://kubernetes-release"
Part of umbrella issue to migrate the kubernetes project away from use of GCP project google-containers: https://github.com/kubernetes/k8s.io/issues/1571

This issue covers the deprecation of and migration away from the following google.com assets:
- the google.com-owned GCS bucket `gs://kubernetes-release` living in GCP project `google-containers`, in favor of the community-owned GCS bucket `gs:/

[2021-07-27 03:30] spiffxp commented on #1460
Intend to call this done once deprecation window is announced for https://github.com/kubernetes/k8s.io/issues/2318, so keeping in v1.22

There are some repos that reference this? But it's mostly in docs, and most of them are historical docs that probably shouldn't be updated. https://cs.k8s.io/?q=kubernetes-ci-images&i=nope&files=&excludeFiles=&repos=

[2021-07-27 03:36] spiffxp commented on #1523
/milestone v1.23
So, lift-and-shift to k8s-staging-test-infra.

I think it's perfectly acceptable to start pushing images to the staging project @ameukam setup and keep pushing to k8s-testimages for now.  Maybe even start switching over some of the non-kubernetes/kubernetes jobs.

But let's wait until after v1.22 releases to change images on the high traffic release-blocking / merge-blocking jobs.

[2021-07-27 03:38] spiffxp commented on #1742
/milestone v1.23
We can use the k8s-infra-prow-robot user that @ameukam setup for the k8s-infra-prow.k8s.io instance

[2021-07-27 03:40] spiffxp commented on #1743
/milestone v1.23
I would like to see community members in test-infra-oncall / prow.k8s.io fully in the community's hands in the next 3-6 months.

[2021-07-27 03:45] spiffxp commented on #1681
/close
https://github.com/kubernetes/k8s.io/pull/1952 setup separate GCS buckets for different groupings of terraform resources, one of which was `gs://k8s-infra-tf-prow-clusters`, which `k8s-infra-prow-oncall@kubernetes.io` has full access to.  I think that fits the scope of this issue

I'll use a separate issue to keep track of "must be able to run ensure-e2e-projects.sh"

[2021-07-27 03:45] #1681 closed

[2021-07-27 04:01] spiffxp commented on #1459
/remove-lifecycle rotten
/milestone v1.23
Push to close https://github.com/kubernetes/k8s.io/issues/1458 for v1.23

[2021-07-27 04:01] spiffxp commented on #1458
/milestone v1.23

[2021-07-27 04:05] spiffxp commented on #1569
/milestone v1.23
Definitely not doing this before v1.22 goes out the door.

I've pointed more things at dl.k8s.io as part of migrating away from hardcoding `kubernetes-release-dev` in URIs.

I'm going to edit the description to put this under the umbrella issue I've created for `gs://kubernetes-release` deprecation and migration

[2021-07-27 04:11] spiffxp commented on #1527
@ameukam there are very much some images here, and I see it listed in docs and as a default, but I can't tell that it's _actually_ what is used for node-e2e tests
[code]

[2021-07-27 04:16] spiffxp commented on #1527
/remove-priority important-soon
/priority important-longterm
/milestone v1.23
I don't see this eating a lot of project resources but that makes it even lower hanging fruit to remove. Let's get references to this out of source once the release cycle opens back up

[2021-07-27 04:17] spiffxp commented on #1625
/milestone v1.23

[2021-07-27 04:18] spiffxp commented on #1525
/milestone v1.23
We're real real close, I'll check out cs.k8s.io at some point in the next week

[2021-07-27 04:25] spiffxp commented on #1731
/milestone v1.23
Definition of done:
- how to add a new secret is documented somewhere in this repo (as part of https://github.com/kubernetes/k8s.io/issues/2220)
- labeling conventions for secrets are documented (sortof related to https://github.com/kubernetes/k8s.io/issues/2386 if we want "app" to be one of the labels)

[2021-07-27 04:26] spiffxp commented on #1597
I refreshed https://github.com/kubernetes/k8s.io/issues/1597#issuecomment-871796515 and poked the open PRs I could find.  There are still some outstanding repos I couldn't find a linked repo for.

Leaving this in v1.22 because it may be basically done if we can figure out how many repos are blocked by the "csi tools will be copied" reasoning

[2021-07-27 04:41] spiffxp commented on #1528
/remove-lifecycle stale
/milestone v1.23
Would like to push https://github.com/kubernetes/k8s.io/issues/1458 over the line in v1.23

[2021-07-27 22:16] spiffxp commented on #2151
Opened https://github.com/kubernetes/test-infra/pull/23040 to have the postsubmits report to #k8s-infra-alerts in slack

[2021-07-28 12:58] nikhita commented on #460
A year too late for https://github.com/kubernetes/k8s.io/pull/996#issuecomment-655731549 .... created https://github.com/kubernetes/k8s.io/pull/2401

[2021-07-28 17:09] spiffxp commented on #1742
/assign
/milestone v1.22
I'm moving on this now:
- update the autobump config and trial it: https://github.com/kubernetes/k8s.io/pull/2402
- allow us to open PRs as k8s-infra-ci-robot: https://github.com/kubernetes/k8s.io/pull/2403

Next steps:
- add a job to kubernetes/test-infra
- verify that it works
- finalize config
  - use skip-review label?
  - rename autobump config to be prow-specific or

[2021-07-28 17:28] spiffxp commented on #1742
PR to add the job to kubernetes/test-infra: https://github.com/kubernetes/test-infra/pull/23048

[2021-07-28 18:48] spiffxp commented on #1887
So I don't know when this happened, but it appears that `gcloud services list` no longer includes dependency information.

That's gonna put a real damper on automating an audit of this.

[2021-07-28 21:33] spiffxp commented on #1742
https://github.com/kubernetes/k8s.io/pull/2407 - there's a real live autobump, so this job works

[2021-07-29 14:38] spiffxp commented on #2318
This should take care of the last of the non-necessary/historically-archived kubernetes-relesase-dev references:
- https://github.com/kubernetes/sig-release/pull/1642

[2021-07-29 14:43] spiffxp commented on #1460
I've updated https://github.com/kubernetes/k8s.io/issues/2318 to track removing any remaining non necessary/historically-archived references to `kubernetes-ci-images` across the kubernetes project

I will close this once I've opened a followup issue to turn down this project post-deprecation-window

[2021-07-29 14:52] spiffxp opened #2417 "post-deprecation-window: turn down kubernetes-ci-images GCP project"
Related:
- Part of umbrella issue to migrate away from google.com gcp projects: https://github.com/kubernetes/k8s.io/issues/1469
- Part of umbrella to migrate kubernetes e2e test images/registries to community-owned infrastructure: kubernetes/k8s.io#1458
- Followup to: https://github.com/kubernetes/k8s.io/issues/1460

We've stopped writing new data to this project.

This project can be turned down

[2021-07-29 15:43] spiffxp commented on #2417
/triage accepted
/lifecycle frozen
This is going to need to stay open for a while, but I've bumped its priority down and put in a milestone to signify it's a thing we care about

[2021-07-29 17:44] spiffxp commented on #460
https://github.com/kubernetes/k8s.io/pull/2414 follows on from @nikhita's work

I'm realizing we have very, very little test coverage of how this thing actually works.  I would feel more comfortable with more test coverage, and think it'd be a good help-wanted issue.  But I don't think it's a complete blocker to proceeding with approver delegation.

I think what remains is:
- verify groups we defi

[2021-07-29 17:54] spiffxp commented on #1571
/milestone v1.23

[2021-07-30 00:26] BenTheElder commented on #1311
The 4 weeks deadline has more than elapsed, it has been 6 weeks.

Time to soft-revoke permissions.

[2021-07-30 00:31] BenTheElder commented on #1311
Last upload is 2021-05-14 as-is.

[2021-07-30 00:32] BenTheElder commented on #1311
I have deleted "Storage Object Creator" from the associated service account for `gs://k8s-conformance-arm`.

[2021-07-30 03:46] jimdaga commented on #2316
/assign jimdaga

[2021-07-30 13:33] spiffxp commented on #176
/close
This was accomplished by https://github.com/kubernetes/test-infra/pull/22970 as part of https://github.com/kubernetes/k8s.io/issues/2151

[2021-07-30 13:33] #176 closed

[2021-07-30 13:47] spiffxp commented on #420
I re-realized how little test coverage there is here over in https://github.com/kubernetes/k8s.io/issues/460#issuecomment-889337833

I tried to add the tiniest bit of coverage for a new addition to the groups reconciler in https://github.com/kubernetes/k8s.io/pull/2414

[2021-07-30 13:49] spiffxp commented on #420
/milestone v1.23
We are looking at shifting a much larger volume of groups management to this tool during the v1.23 release cycle, I would feel a lot better about that if we had test coverage

Loosely I think it involves breaking up into mockable components and testing each piece

[2021-07-30 13:52] spiffxp commented on #2151
I've been holding this open to see successful deploys of all the apps

https://github.com/kubernetes/k8s.io/pull/2425 touches quite a few, so if all the resulting jobs are successful I'll call this done

[2021-07-30 14:23] spiffxp commented on #2151
Promising...
<img width="619" alt="Screen Shot 2021-07-30 at 7 23 10 AM" src="https://user-images.githubusercontent.com/49258/127667352-73975635-1281-4526-b99d-e8f7992f9353.png">

[2021-07-30 14:47] spiffxp commented on #2151
One mildly annoying thing I guess, I scanned right past the "failure" text the first time.  Making the template auto-bold or capitalize that might help? Or notify vs. just a regular message?

Apps that have yet to be exercised:
- kubernetes-external-secrets
- prow
- publishing-bot

[2021-07-30 15:00] spiffxp opened #2430 "apps/publishing-bot: automate deployment"
Followup to https://github.com/kubernetes/k8s.io/issues/2151

publishing-bot currently won't auto-deploy because it has no deploy.sh, instead it consists solely of a README.md that calls out to: https://github.com/kubernetes/publishing-bot/blob/master/k8s-publishing-bot.md

It would be nice to see if we can get this fully automated.  Some suggestions:
- switch from using git-crypt to a secret that

[2021-07-30 15:08] spiffxp commented on #2151
https://github.com/kubernetes/k8s.io/pull/2431 - PR to bump kubernetes-external-secrets

[2021-07-30 15:21] spiffxp commented on #2218
It seems like creating RBAC-related resources is the sticking point here.  I suspect `container.admin` is by default given a Kubernetes role that allows it to do so, but custom roles maybe not so much?

[2021-07-30 15:22] spiffxp commented on #2151
/close
kubernetes-external-secrets fails to deploy automatically right now due to https://github.com/kubernetes/k8s.io/issues/2218

I'm going to call this done and followup on kubernetes-external secrets in that issue

[2021-07-30 15:22] #2151 closed

[2021-07-30 15:22] spiffxp commented on #2151
/milestone v1.22

[2021-07-30 15:23] spiffxp commented on #2218
/milestone v1.22
If I can't figure out what's preventing the custom role I'm going to add back container.admin for now to unblock auto-deploys

[2021-07-30 16:23] spiffxp commented on #1520
/assign @listx
ref: https://github.com/kubernetes-sigs/k8s-container-image-promoter/issues/375

[2021-07-30 16:24] spiffxp commented on #1520
We hit this again with https://github.com/kubernetes/k8s.io/pull/2052 (subsequently reverted via https://github.com/kubernetes/k8s.io/pull/2421)

[2021-07-30 21:12] spiffxp commented on #508
I've opened https://github.com/kubernetes/test-infra/pull/23084 to implement the above

[2021-07-30 22:12] spiffxp commented on #320
/close
Completed via:
- https://github.com/kubernetes/k8s.io/pull/2427
- https://github.com/kubernetes/k8s.io/pull/2437

[2021-07-30 22:12] #320 closed

[2021-07-30 22:23] listx commented on #1520
I've begun work on this now.

[2021-07-30 22:50] ameukam opened #2438 "Change instance type for build clusters"
Prow build clusters currently use instances of the n1 machine family. We could potentially migrate to the:

- e2 family: https://cloud.google.com/compute/docs/general-purpose-machines#e2_machine_types
	- Cons: no support of local SSD.
- n2d family: https://cloud.google.com/compute/docs/general-purpose-machines#n2d_machines
- t2d family: https://cloud.google.com/tau-vm
	- still not released. price

[2021-08-02 10:15] pohly commented on #1597
As I mentioned in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/pull/55#issuecomment-890904417, repo owner are not blocked and can update their copy of csi-release-tools.

[2021-08-02 19:14] spiffxp commented on #1306
Starting on this:
- https://github.com/kubernetes/k8s.io/pull/2442

[2021-08-02 19:33] spiffxp commented on #1306
[code]

[2021-08-02 19:51] spiffxp commented on #1306
Working on using the new infra via a canary job:
- https://github.com/kubernetes/test-infra/pull/23097
- Would like to try billing bq usage against kubernetes-public after I've confirmed it works with k8s-infra-prow-build
- No strong opinions on _where_ we bill, just want to prototype what permissions are needed so that we _can_ bill against a project of our choice

[2021-08-02 20:42] spiffxp commented on #1394
/milestone v1.23

[2021-08-02 20:43] spiffxp commented on #1730
/close
The auditor has been back up and running for a bit now, long enough for us to discover and squash alerting noise from the auditor (h/t @listx @tylerferrara)

[2021-08-02 20:43] #1730 closed

[2021-08-02 20:51] spiffxp commented on #1597
/milestone v1.23

[2021-08-02 22:03] ameukam commented on #1306
No auto sync planned regularly?

[2021-08-02 22:05] spiffxp commented on #1306
If I can get away with moving the bucket vs. having to migrate all links to the new bucket, no, no periodic sync

[2021-08-02 22:10] spiffxp commented on #1999
/remove-lifecycle stale
/priority backlog
/milestone v1.23

[2021-08-02 22:10] spiffxp commented on #1999
/remove-priority important-longterm

[2021-08-02 22:14] spiffxp commented on #1306
https://testgrid.k8s.io/wg-k8s-infra-canaries#metrics-bigquery-canary - currently failing

e.g. https://storage.googleapis.com/kubernetes-jenkins/logs/metrics-bigquery-canary/1422317015489581056/build-log.txt

Hm, ok, but when I run locally with my google.com account
[code]

I ended up changing this job from a bootstrap job to decorated, I wonder if it needs to be updated to work with workload ide

[2021-08-02 22:25] spiffxp commented on #1306
https://github.com/kubernetes/test-infra/pull/23102 - workload identity is my best guess for now

[2021-08-03 01:39] spiffxp commented on #904
These permissions don't seem quite right. The new bucket seems to be missing a lot.

new
[code]

old
[code]

How did I notice this? I tried running rsync to copy files from the old bucket to the new bucket
[code]

240K files is not nothing.  They're all in a flat namespace.  I'm beginning to wonder if we should instead try prefixing them with /'s per bucket, e.g. instead of:
[code]
we could have
[

[2021-08-03 15:37] spiffxp commented on #508
/assign

[2021-08-03 15:38] spiffxp commented on #1742
/close
Calling this done

[2021-08-03 15:38] #1742 closed

[2021-08-03 15:46] spiffxp commented on #2087
/close
Yeah this works now.  From a recent run...

[code]

[2021-08-03 15:46] #2087 closed

[2021-08-03 16:23] spiffxp commented on #2220
/milestone v1.23

[2021-08-03 16:24] spiffxp commented on #2091
/close
I'm closing this in favor of https://github.com/kubernetes/k8s.io/issues/2220 which covers this more extensively

[2021-08-03 16:24] #2091 closed

[2021-08-03 16:24] spiffxp commented on #2111
/remove-priority important-longterm
/priority backlog
It's annoying but it's not really creating a lot of additional review burden for me at this point

[2021-08-03 16:24] spiffxp commented on #2111
/milestone clear

[2021-08-03 16:26] spiffxp commented on #2218
/milestone v1.23

[2021-08-03 16:59] spiffxp commented on #1306
Turns out it was adding `roles/bigquery.user` to the service account for the project against which the query was being billed.  A thing I did manually, so will PR a terraform change for that in a bit.

'm sure there's a much more locked down set of permissions we could try, such that the service account doesn't accidentally create datasets in k8s-infra-prow-build-trusted, but I think this is good

[2021-08-03 17:33] spiffxp commented on #1306
Did the dance to empty out the old bucket, remove it, create a new bucket with the same name in the new GCP org/project, and sync contents back
[code]

[2021-08-03 19:38] spiffxp commented on #1306
Alright! The bucket lives in kubernetes.io, the latest job ran in kubernetes.io, and everything works:
- audit PR to prove:"
- latest job: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/metrics-bigquery/1422619249486073856
- flakes-latest.json: http://storage.googleapis.com/k8s-metrics/flakes-latest.json

Cleaning up:
- promote the k8s-infra job / get rid of the google.com job: https://github

[2021-08-03 19:44] spiffxp commented on #1306
[code]

[2021-08-03 20:23] spiffxp commented on #1306
/miletone v1.22
Looks like we are about to wrap this up before v1.22 gets released

[2021-08-03 21:15] spiffxp commented on #1306
https://github.com/kubernetes/k8s.io/pull/2454 has merged

Calling this done!

/close

[2021-08-03 21:15] #1306 closed

[2021-08-03 21:58] spiffxp commented on #1305
Ahh right, I had hopes this would be just as simple as `gs://k8s-metrics`, but it's not.

`gs://k8s-gubernator/triage` is the path for triage, so `gs://k8s-gubernator` is the bucket to be migrated

The problem is it's much more complicated because it uses ACLs, so there's no guarantee a delete/recreate as I did last time would recreate _all_ ACLs (and whether there are google-internal things hidde

[2021-08-03 23:01] spiffxp commented on #2316
/close
Closed out by:
- https://github.com/kubernetes/k8s.io/pull/2397 (@spiffxp)
- https://github.com/kubernetes/k8s.io/pull/2425 (@jimdaga)

[code]

[2021-08-03 23:01] #2316 closed

[2021-08-04 15:04] spiffxp commented on #1305
I toyed around with trying to create `gs://triage.k8s.io` so as to be able to serve content directly from GCS vs. having to proxy through nginx.  It's requiring that I verify domain ownership.  Which I feel like we have done, the question is who owns it?

[2021-08-04 16:13] spiffxp commented on #2318
kubernetes-release-dev traffic
![Screen Shot 2021-08-04 at 9 13 24 AM](https://user-images.githubusercontent.com/49258/128216425-d1f97a6b-ea7e-4b47-a91f-cb9c2b0e3e91.png)

[2021-08-04 16:15] spiffxp commented on #2318
kubernetes-ci-images traffic (sent bytes)
![Screen Shot 2021-08-04 at 9 15 21 AM](https://user-images.githubusercontent.com/49258/128216730-7a148681-f44d-42b8-aa3d-86c006bedfcc.png)

[2021-08-04 17:10] spiffxp commented on #1571
Here's traffic in terms of bytes sent for the artifacts that are currently community-hosted (k8s.gcr.io, gs://k8s-artifacts-prod). This exclude staging projects.
![Screen Shot 2021-08-04 at 9 30 45 AM](https://user-images.githubusercontent.com/49258/128224152-5346bec0-73b4-49ad-9e12-30ce7530f51b.png)

Here's traffic in terms of bytes sent for gs://kubernetes-release (and its regional buckets), whi

[2021-08-04 17:31] eddiezane opened #2460 "Migrate sig-cli triage party instance"
sig-cli currently uses https://tp.kuberneddies.dev/s/kustomize-daily as our triage party instance.

- [X] Google groups and GKE namespace on aaa : https://github.com/kubernetes/k8s.io/pull/2467
- [x] GCP External Global IP address and DNS : https://github.com/kubernetes/k8s.io/issues/2621
- [x] Kubernetes resource deployment : https://github.com/kubernetes/k8s.io/pull/2617
- [x] TLS certificate :

[2021-08-04 17:31] eddiezane commented on #2460
/assign

[2021-08-04 17:34] eddiezane commented on #2460
/sig cli

[2021-08-04 17:47] ameukam commented on #2460
/assign

[2021-08-04 18:26] spiffxp commented on #1305
For now I'm opting to:
- s/k8s-project-triage/k8s-triage
- setup a canary triage job in k8s-infra to run to populate gs://k8s-triage
- mv the "push static files" job to k8s-infra, and update to push to gs://k8s-triage
- mv the "push triage image" job to k8s-staging-test-infra
- switch from using k8s-testimage/triage to k8s-staging-test-infra/triage
- setup a redirect index.html in gs://k8s-guberna

[2021-08-04 19:28] spiffxp commented on #1460
/close
Followup issue to close (milestoned to v1.25) is https://github.com/kubernetes/k8s.io/issues/2417

[2021-08-04 19:29] #1460 closed

[2021-08-04 19:29] spiffxp commented on #904
/milestone v1.23

[2021-08-04 19:29] spiffxp commented on #193
/milestone v1.23

[2021-08-04 19:31] spiffxp commented on #956
/milestone v1.23
/remove-lifecycle stale
/unassign @thockin
/assign @ehashman
I'm led to believe you're also involved with the SIG Node CI subgroup.  Would be interested in hashing out what the specific request is here.

[2021-08-04 19:31] spiffxp commented on #2216
/milestone v1.23

[2021-08-04 19:32] spiffxp commented on #2275
/milestone v1.23
Mostly what's held me back from doing this is figuring out how to test/script the `terraform state mv` stuff without updating live state

[2021-08-04 19:32] spiffxp commented on #2278
/milestone clear
Is this actually needed then? Or should we drop the dead code?

[2021-08-04 19:33] spiffxp commented on #1675
/milestone v1.23
/remove-priority soon
/priority backlog

[2021-08-04 19:33] spiffxp commented on #1674
/milestone v1.23

[2021-08-04 19:34] spiffxp commented on #1475
/milestone v1.23
/priority important-soon
/area apps/prow

[2021-08-04 19:34] spiffxp commented on #1660
/milestone v1.23

[2021-08-04 19:34] spiffxp commented on #1734
/milestone v1.23

[2021-08-04 19:35] ameukam commented on #2316
Still want to do :

I'll open a separate issue.

[2021-08-04 19:35] spiffxp commented on #2020
/close
We're up to terraform 1.0 and I think that's good enough to call this done.

Auto-bumping our terraform would be the next logical step, however we need to get better testing and validation in place before forcing that churn upon us IMO

[2021-08-04 19:35] #2020 closed

[2021-08-04 19:36] spiffxp commented on #2241
/milestone v1.23

[2021-08-04 19:37] spiffxp commented on #1469
/milestone v1.23

[2021-08-04 19:37] spiffxp commented on #2225
/milestone v1.23

[2021-08-04 19:38] spiffxp commented on #2225
/area prow

[2021-08-04 19:41] spiffxp commented on #508
/close

Calling this done, now that the following have merged:
- setting up the labels: https://github.com/kubernetes/test-infra/pull/23084
- adding them to OWNERS files: https://github.com/kubernetes/k8s.io/pull/2444

[2021-08-04 19:41] #508 closed

[2021-08-04 20:37] spiffxp commented on #2191
/milestone v1.23

[2021-08-04 20:37] ameukam commented on #2460
Feel free to follow instructions documented in : https://github.com/kubernetes/k8s.io/blob/main/running-in-community-clusters.md.

[2021-08-04 20:37] spiffxp commented on #2364
/milestone v1.23

[2021-08-04 20:42] spiffxp commented on #1943
We could shut down cert-manager, create self-signed cert manually, apply to canary ingress... but problem is every time we add a new domain to the canary domain, we need to regenerate the certificate again.

Other option is to see if we can cover in ManagedCertificate, maybe be complications, not clear how managed certificate controller works.

/milestone v1.23

[2021-08-04 20:43] spiffxp commented on #1311
/milestone v1.23

[2021-08-04 23:17] BenTheElder commented on #1311
We'll just miss it, tomorrow I intend to delete the remaining bucket and close this out. It'll have been a week without the ability to write to the bucket.

[2021-08-04 23:27] BenTheElder commented on #1469
Also not sure k8s should be staging cri-containerd at all?

[2021-08-05 16:26] ameukam commented on #1178
/remove-lifecycle stale

[2021-08-05 16:36] ameukam opened #2473 "billing: investigate increase of overall infrastructure bill"
During billing review of the K8s infra meeting of 2021-08-04, we noticed a sudden increase of the total cost of the community-onwed infrastructure under GCP org `kubernetes.io`.

![image](https://user-images.githubusercontent.com/2343515/128387509-cae2faa5-5dd7-41b0-ac9a-0e7b68604e16.png)

/milestone v1.23
/area billing
/area infra
/assign @ameukam
cc @spiffxp @thockin

[2021-08-05 16:38] ameukam commented on #2473
The increase started on 2021-07-24. I gave details of the cause of this issue during wg-k8s-infra meeting. I'll add more details later.

[2021-08-05 19:55] listx commented on #1520
https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/385 has been merged, so this is fixed now. I just need to deploy it to the various Prow jobs that use the promoter.

[2021-08-05 21:29] ameukam commented on #1885
/remove-lifecycle stale
/lifecycle frozen
Until Dan (or someone interested to work on this) have bandwidth.

[2021-08-05 22:01] spiffxp commented on #2318
/close
Announcement: https://groups.google.com/g/kubernetes-dev/c/58lP-CIP2zg/m/dS8TTmM4BwAJ

[2021-08-05 22:01] #2318 closed

[2021-08-05 22:05] listx commented on #1520
Waiting on https://github.com/kubernetes/test-infra/pull/23148 to get merged.

[2021-08-05 22:13] spiffxp commented on #1178
/remove-priority important-longterm
/priority backlog
I would bucket this under nice-to-have, so I'm almost tempted to suggest awaiting-more-evidence unless we notice we're having issues with IP quota again.

[2021-08-05 22:31] listx commented on #1520
This should be fixed now, but just for good measure let me try to perform a tag move in a fake promotion PR.

[2021-08-05 23:37] BenTheElder commented on #1311
Bucket is deleting.

[2021-08-05 23:44] BenTheElder commented on #1311
This is done.
/close

[2021-08-05 23:45] #1311 closed

[2021-08-05 23:46] BenTheElder commented on #1469
https://github.com/kubernetes/k8s.io/issues/1311 is done.

[2021-08-06 15:11] spiffxp commented on #1305
The canary job is refusing to schedule: https://testgrid.k8s.io/wg-k8s-infra-canaries#triage

So:
- change the prow-build-trusted nodepool to match the prow-build nodepool config (except autoscaling settings): https://github.com/kubernetes/k8s.io/pull/2479
- update the job to ask for slightly fewer resources: https://github.com/kubernetes/test-infra/pull/23154

[2021-08-06 15:18] spiffxp commented on #2438
I very much want to try out local SSD before we decide whether the e2 family makes sense.

My quick glance is N2's run us more than N1's, I'd be curious to understand what benefit we think we'd be getting with N2D's

[2021-08-06 15:29] ameukam commented on #2438
N2D (specially the n2d-highmem-8) have memory than the n1 instance. This could help increase individual node density and reduce cluster size. But this is pure speculation. I need to get my calculations. I also want to explore all possible options to improve capacity planning.

[2021-08-06 17:39] SergeyKanzhelev commented on #956
I think enabling more tests to run from PRs solved some pain points.

[2021-08-06 18:13] spiffxp commented on #2218
Went back to `roles/container.admin` for now

[2021-08-06 19:42] spiffxp commented on #1305
For some reason the triage image isn't in staging like I would have expected with https://github.com/kubernetes/test-infra/pull/23126
[code]

[2021-08-06 19:59] spiffxp commented on #1968
/milestone v1.23

[2021-08-06 19:59] spiffxp commented on #1520
/milestone v1.23

[2021-08-06 20:00] spiffxp commented on #1306
/milestone v1.22

[2021-08-06 20:02] spiffxp commented on #613
/remove-lifecycle rotten
/reopen
I feel like someone has already verified the domain, but I don't know who it is?

[2021-08-06 22:00] spiffxp commented on #1305
... that would be because nothing has landed that would trigger the push to staging after the job config was updated

I was originally going to make a dummy change just to push a new image, but in grepping for `k8s-gubernator` in the triage directory I realized it's still hardcoded in the `update_summaries.sh` script, to the canary was bound to fail trying to use a project it wasn't authorized to

[2021-08-06 22:02] spiffxp commented on #320
/milestone v1.22

[2021-08-06 23:50] ameukam opened #2488 "aaa: convert k8s NodePort services to ClusterIP services"
Followup of https://github.com/kubernetes/k8s.io/issues/2316.

Convert NodePort services to ClusterIP services using [NEGs](https://cloud.google.com/load-balancing/docs/negs):

- [X] k8s-io: https://github.com/kubernetes/k8s.io/pull/2896
- [X] perfdash-status : https://github.com/kubernetes/perf-tests/pull/1900
- [X] sippy : https://github.com/kubernetes/k8s.io/pull/2731
- [X] slack-infra : https:

[2021-08-07 00:15] ameukam commented on #2473
The date corresponds to the day I triggered a canary job of `pull-kubernetes-e2e-gce-large-performance` : https://github.com/kubernetes/kubernetes/pull/92316#issuecomment-886009727.

Canary job added : https://github.com/kubernetes/test-infra/pull/23009.

[2021-08-09 07:55] shekhar-rajak opened #2490 "GCS bucket to store the KEPs metadata"
Hi team,

We have PR: https://github.com/kubernetes/contributor-site/pull/222

1. We want to generate the metadata file called keps.json file where we will be having all the details about the KEPs from the repo:  https://github.com/kubernetes/enhancements through the command `kepctl query`
2. This generated metadata file (during the CI/CD pipeline) will be pushed to GCS bucket, once the new PR is

[2021-08-09 10:26] tobiasgiese opened #2492 "DNS REQUEST: cluster-api-openstack.sigs.k8s.io"
### Type of DNS update:
Create

### Domain being modified:
`k8s.io`

### New DNS Record:

[code]

### Reason for update:

Part of https://github.com/kubernetes/org/issues/2883

<sub>Tobias Giese <tobias.giese@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md)</sub>

[2021-08-09 14:25] ameukam commented on #2278
Function is removed. #2466
/close

[2021-08-09 14:25] #2278 closed

[2021-08-09 14:32] ameukam commented on #843
ghproxy is up and running on `k8s-infra-prow-builder-cluster-trusted`.
Auto-upgrade is enabled for it : https://github.com/kubernetes/k8s.io/pull/2402.
The k8s-triage-robot prowjobs use it: https://github.com/kubernetes/test-infra/pull/23103.

Considered done when https://github.com/kubernetes/test-infra/issues/11402#issuecomment-709517484 is addressed.

[2021-08-09 14:57] ameukam commented on #2473
Checking the logs for this prowjob : https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/92316/pull-kubernetes-e2e-gce-large-performance-canary/1418825858205880320/build-log.txt

The API server for this runs on GCP instance: `e2e-b68ed4bd1d-7bc7b-master`.

I access to the instance :

[code]

[2021-08-09 15:01] ameukam commented on #2473
The uptime matches the day we see the increase:

[code]

[2021-08-09 16:05] spiffxp commented on #2473
Usage is coming from k8s-infra-e2e-scale-5k-project

![Screen Shot 2021-08-09 at 9 05 12 AM](https://user-images.githubusercontent.com/49258/128737691-e357207a-ebcb-4b5f-a43c-96982016c279.png)

[2021-08-09 16:09] spiffxp commented on #2473
I'll need to dig into how the scale jobs stand things up, but this seems like far more currently active instance groups than I'd expect.  Probably need to delete some things manually.  I'm going to check if we had anything setup to clear these out in the google.com project in test-infra scripts
[code]

[2021-08-09 16:11] spiffxp commented on #2473
I'm guessing `kubernetes-scale` is the project I should be looking for.  It's listed as exempt from cleaning in `scenarios/kubernetes_janitor.py` and `experiment/ci-janitor/main.go` (I forget whether one or both of those run today)

[2021-08-09 16:16] spiffxp commented on #2473
Going to bring down the `e2e-b68ed4bd1d-7bc7b` instance groups
[code]

[2021-08-09 17:21] ameukam commented on #2473
All the `e2e-b68ed4bd1d-7bc7b-` instance groups are deleted

[code]

[2021-08-09 18:25] ameukam commented on #2473
Removing all the disks left :

[code]

[2021-08-09 18:47] ameukam commented on #1394
/area prow
/area apps/prow

[2021-08-09 18:47] ameukam opened #2497 "k8s-infra-prow: allow deck to access to gs://k8s-testgrid"
Followup issue of #2235

deck (component of prow) need access (Read-Only ?) to `gs://k8s-tesgrid` so it can display Testgrid links in the SpyGlass.

[code]

I believe this bucket in a Google GCP organization.

/assign @spiffxp
cc @BenTheElder
/area prow
/area apps/prow
/sig testing
/priority important-soon
/milestone v1.23

[2021-08-09 19:25] ameukam commented on #2473
We still have some resources left  :

[code]

[2021-08-09 19:52] ameukam commented on #2473
Removed the firewall rules :

[code]

[2021-08-09 20:11] ameukam commented on #2473
Remove everything remaining

- IP addresses :
[code]

 - NAT Router:
[code]

- Custom subnetwork:
[code]

- custom network:
[code]

- instance templates:
[code]

[2021-08-09 20:25] ameukam commented on #2473
I don't think there is something left about this job but I can be wrong. We should close this issue in the billing review session.

[2021-08-09 21:00] spiffxp commented on #2037
/sig release

[2021-08-09 21:20] spiffxp commented on #2045
/wg k8s-infra
is this still relevant?

[2021-08-09 21:20] spiffxp commented on #2182
/sig contributor-experience
/wg k8s-infra

[2021-08-09 23:57] spiffxp commented on #2278
/milestone v1.23

[2021-08-10 17:00] ameukam opened #2505 "k8s-infra-prow: GKE ssl certificate failed to get provisioned"
k8s-infra-prow.k8s.io requested a SSL certificate through a `ManagedCertificate` :

https://github.com/kubernetes/k8s.io/blob/dfae9968ee9b3f342797285d0f97c08778bbe83a/apps/prow/cluster/prow_managedcertificate.yaml#L1-L8

The certificate requested ended up with a `FAILED_NOT_VISIBLE` :

[code]

Ref: #1394
/area dns
/assign @ameukam

[2021-08-10 17:03] ameukam commented on #2505
Checking the DNS entries are propaged :

[code]

This matches what was added in #2404

[2021-08-10 20:04] fejta commented on #2497
Who is this job trying to authenticate as? Google rejecting deck's attempt to authenticate as whatever identity it is trying to use.

[code]

[2021-08-10 20:26] ameukam commented on #2497
This a deck instance running on a public GKE cluster (see #1394). The attempt is triggered by the configuration of this instance : https://github.com/kubernetes/k8s.io/blob/main/apps/prow/config.yaml#L74-L75.

[2021-08-10 20:59] spiffxp commented on #2497
https://github.com/kubernetes/k8s.io/blob/main/audit/projects/kubernetes-public/service-accounts/k8s-infra-prow%40kubernetes-public.iam.gserviceaccount.com/iam.json - I think the deck service account needs to be authorized to bind to k8s-infra-prow too...

[2021-08-10 21:04] spiffxp commented on #2490
I'm not opposed to making a new bucket for y'all, but can I ask why this couldn't live in-repo?  It feels mildly weird to have two different sources of truth about the state of KEPs, one a git repo, one a GCS bucket.

[2021-08-10 21:10] spiffxp commented on #2490
For example, we have some workflows where contributors must run a `hack/update-foo.sh` locally when contributing a PR, and the CI runs a `hack/verify-foo.sh` to make sure the file(s) are kept up to date.  This is how go.k8s.io/github-labels is kept in sync with git.k8s.io/label_sync/labels.yaml

That places the burden contributor-side though, which isn't super fun.

Another option would be to have

[2021-08-10 21:12] ameukam commented on #2497
I think it's already done : https://github.com/kubernetes/k8s.io/blob/main/apps/prow/cluster/deck_rbac.yaml#L2-L7

[2021-08-10 22:26] spiffxp commented on #2497
I would expect to see a `serviceAccount:kubernetes-public.svc.id.goog[prow/deck]` for the `deck` service account in the `prow` namespace in a cluster in `kubernetes-public` to be able to use this service account

[2021-08-10 22:28] fejta commented on #2497
https://github.com/kubernetes/k8s.io/blob/main/apps/prow/cluster/deck_rbac.yaml#L2-L7 is configuring the deck service account to request to act as a GCP service account, and the feedback from Google in the description is "No, you (deck service account) are not allowed to do this (act as the GCP service account)."

[2021-08-10 23:06] ameukam commented on #2497
Thanks for the feedback both of you! I got the initial issue addressed : https://github.com/kubernetes/k8s.io/pull/2512.

I still get in the deck logs :

[code]

I guess we need to bind the role `storage/objectViewer` (or more permissions) to `k8s-infra-prow@kubernetes-public.iam.gserviceaccount.com` for the bucket.

[2021-08-10 23:18] fejta commented on #2497
Done

[2021-08-10 23:23] ameukam commented on #2497
@fejta Tanks for the help!

I don't think there is anything else to be done here.
/close

[2021-08-10 23:23] #2497 closed

[2021-08-11 03:37] jimdaga commented on #2182
I took a stab at onboarding codesearch; @spiffxp could I get your input? I want to make sure I didn't miss anything.
I want to stage all the infra, and get it deployed via prow first. Then we can follow up with another PR to cut-over DNS when we are ready.

https://github.com/kubernetes/k8s.io/pull/2513
https://github.com/kubernetes/test-infra/pull/23201

I could also work on adding the docker bui

[2021-08-11 09:19] sftim commented on #2490
What I'd imagined is that pushing to the [k/enhancements](https://github.com/kubernetes/enhancements/) default branch would render / generate a machine-readable KEP list as an artifact, and push that into object storage.

Then the consumer end fetches the JSON from object storage (eg to render a list of KEPs for https://k8s.dev/)

No need for contributors to do the build locally or to commit the g

[2021-08-11 09:21] sftim commented on #2490
We might also want to consider reliability. If the generated KEP list is served from something that has good availability guarantees, we can consider fetching it using AJAX. If the primary storage is as a file in Git source control on GitHub, then to me that isn't available enough - GitHub does have outages and doesn't make strong promises about service availability.

[2021-08-11 19:14] ameukam commented on #2505
I can confirm that dropping the AAAA DNS record for `k8s-infra-prow.k8s.io`. Fixed the problem.

[code]

[2021-08-11 19:53] ameukam commented on #1394
We now have a instance running: https://k8s-infra-prow.k8s.io

[2021-08-11 20:51] ameukam commented on #1394
https://k8s-infra-prow.k8s.io/pr is functional

[2021-08-12 18:30] puerco commented on #2396
/cc @kubernetes/release-engineering

[2021-08-13 10:09] sftim commented on #2505
Is this OK to close?

[2021-08-13 10:09] sftim commented on #2216
/sig security
perhaps?

[2021-08-13 10:26] ameukam commented on #2505
@sftim 👋🏾  co-chair of WG-k8s-Infra here. Thank you for checking this issue. I'll close the issue next week.
Still want to drop some explanation about what happened.

[2021-08-15 03:17] ryuichi1208 opened #2542 "The link in the README is broken."
https://github.com/kubernetes/k8s.io/blob/main/README.md

"https://gcsweb.k8s.io" is 404

[code]

[2021-08-16 06:17] adisky commented on #1528
/cc (was planning to use `image-pulling@authenticated-image-pulling.iam.gserviceaccount.com ` for external kubelet credential provider tests)

[2021-08-16 15:27] spiffxp commented on #1305
We are very nearly done now:
- fix static upload job to work with UBLA bucket, fix gcr.io/k8s-staging-test-infra/triage image build: https://github.com/kubernetes/test-infra/pull/23180
- write to a community-owned bigquery dataset: https://github.com/kubernetes/test-infra/pull/23235
- fix triage job to work with UBLA bucket: https://github.com/kubernetes/test-infra/pull/23256
- point go.k8s.io/tri

[2021-08-16 15:29] spiffxp commented on #1305
When the final PR merges I will:
- go through and find some old triage links to make sure the redirect appropriately
- validate the triage job shows on https://testgrid.k8s.io/wg-k8s-infra-prow

[2021-08-16 18:30] spiffxp commented on #1305
Will close after one last PR:
- Pushing to gs://k8s-gubernator can't run from community, and _do_ need the public_read ACL since the bucket as a whole can't be public read
- I manually fixed and ran the appropriate `make` commands
- PR with the changes: https://github.com/kubernetes/test-infra/pull/23261

Arbitrary old link I verified the redirect with:
- https://storage.googleapis.com/k8s-guberna

[2021-08-16 18:32] spiffxp commented on #1305
I'm a bit hesitant to shout "success!" because kettle being down (https://github.com/kubernetes/test-infra/issues/23135) makes triage look broken, but it's just as broken as it was before migration.  We're reading and clustering data on community infra, but there's no new data to cluster right now...

[2021-08-16 18:57] spiffxp opened #2552 "k8s-infra-prow-build-trusted deploys are failing"
e.g.
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-k8sio-deploy-prow-build-trusted-resources/1427336460444372992
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-k8sio-deploy-prow-build-trusted-resources/1427305479427592192

kubectl isn't happy deploying something in `staging-test-pods` which I suspect is a typo

/kind bug
/area prow
/wg k8s-infra
/sig testing

[2021-08-16 18:58] spiffxp commented on #2552
/milestone v1.23
Should be fixed by https://github.com/kubernetes/k8s.io/pull/2551

[2021-08-16 19:00] spiffxp commented on #2552
https://github.com/kubernetes/k8s.io/pull/2527 is when this started failing

I'm guessing explicitly specifying a directory that contained no files is what started causing kubectl to fail

[2021-08-16 19:05] spiffxp commented on #1305
/close
Calling this done!

[2021-08-16 19:05] #1305 closed

[2021-08-16 19:30] #2552 closed

[2021-08-16 21:41] ameukam opened #2559 "k8s-infra-prow: job fails to launch"
Part of #1394

Periodic job `k8s-infra-prow-heartbeat` fails to launch and is stuck in `Triggered`.

/area prow
/area apps/prow
milestone v1.23

[2021-08-17 15:24] ameukam commented on #2542
gcsweb don't have a default page but it's used to have a web overview of GCS buckets. For example:
https://gcsweb.k8s.io/gcs/k8s-infra-prow-results/.

I don't this is a technical issue. Feel free to look at gcsweb code and maybe add a default web page: https://github.com/kubernetes/test-infra/tree/master/gcsweb.

[2021-08-17 20:54] spiffxp commented on #1376
Could also try using terraform, as is being done here: https://github.com/GoogleCloudPlatform/oss-test-infra/tree/master/prow/oss/terraform

[2021-08-17 20:55] spiffxp commented on #1376
There is an intent to eventually move away from Grafana for monitoring.prow.k8s.io if it continues to run on google.com infra for too much longer, due to a license change.  This would be a good opportunity to prototype

[2021-08-17 20:56] spiffxp commented on #1376
/milestone v1.23

[2021-08-17 20:56] spiffxp commented on #460
/milestone v1.23

[2021-08-17 20:58] spiffxp commented on #460
/remove-priority important-longterm
/priority important-soon
One other thought I had which maybe is just a nice to have: support loading in from arbitrarily named files.  Same as we do for prowjobs.  This allows contributors to organize however they see fit, instead of sticking to one massive file and sharding solely on approval boundaries.

I could see this being useful if, for example, we end up

[2021-08-17 20:59] spiffxp commented on #1887
/milestone v1.23
I would like to at least get a picture of how random the enabled services are

[2021-08-17 20:59] spiffxp commented on #2277
/milestone v1.23

[2021-08-17 21:00] spiffxp commented on #2277
/remove-priority important-longterm
/priority backlog

[2021-08-17 21:00] spiffxp commented on #1624
https://github.com/GoogleCloudPlatform/oss-test-infra/tree/master/prow/oss/terraform/modules/alerts good prior art to start from

[2021-08-17 21:01] spiffxp commented on #1178
/remove-priority backlog
/priority awaiting-more-evidence
Couldn't resist the temptation

[2021-08-17 21:02] spiffxp commented on #1624
/milestone v1.23
I think it would be really handy to use this at a bare minimum for uptime checks on the apps we run on aaa

[2021-08-17 21:03] spiffxp commented on #2182
/priority important-soon
/milestone v1.23

[2021-08-17 21:41] spiffxp commented on #766
/remove-priority backlog
/priority awaiting-more-evidence

[2021-08-17 21:43] spiffxp commented on #194
/remove-priority backlog
/priority awaiting-more-evidence

[2021-08-17 21:43] spiffxp commented on #1343
/remove-priority important-longterm
/priority awaiting-more-evidence

[2021-08-17 21:46] spiffxp commented on #194
The only reason I would think to bump this up in priority is more scope growth:
- I want to know which prow jobs are costing us the most on-cluster spend (vs. those that cost us by provisioning clusters in e2e projects)
- If the usage data we're collecting is able to tie together from arbitrary pod labels we should be able to do this (`prow.k8s.io/job` is applied to all Pods created from prowjobs)

[2021-08-17 21:48] spiffxp commented on #1753
/milestone v1.23

[2021-08-17 21:50] spiffxp commented on #1657
It currently takes about ballpark 80 minutes to perform a full audit.

I think we can do better.

`gcloud asset list` is a thing now, if we want to try munging the yaml / json that dumps into the same format we're currently using, or make our yaml / json match its format

[2021-08-17 21:51] spiffxp commented on #1657
/milestone v1.23
/priority backlog
That said I think speeding this up may be less important than moving things over.

[2021-08-17 21:51] spiffxp commented on #1657
/remove-priority important-longterm

[2021-08-18 00:32] spiffxp commented on #2490
OK, so I'm cool with creating a bucket, and setting up a service account that can write to that bucket.

For support/debugging purposes, who else should have write access to this bucket?  Anything prow touches we are ensuring  k8s-infra-prow-oncall@ has full permissions over.  But for specific jobs or pieces of infra, we also want a more focused group of people with the domain expertise needed to

[2021-08-18 00:44] spiffxp commented on #2490
Or... today.  But not deploying today.
- https://github.com/kubernetes/k8s.io/pull/2570

[2021-08-18 01:45] puerco commented on #1834
/remove-lifecycle stale

[2021-08-18 15:52] ameukam commented on #1376
Is the license change is about Grafana's [switch](https://grafana.com/blog/2021/04/20/grafana-loki-tempo-relicensing-to-agplv3/) to APLv3 ?

[2021-08-18 17:52] jberkus opened #2575 "Setting up Elekto on Kubernetes infra"
For the 2021 Steering Committee election, we need to set up [Elekto](https://elekto.dev) running on the Kubernetes infra cluster.  Note that, once running, Elekto will keep running indefinitely, to host any elections within the community that we need to run.

I'm currently setting up container image auto-build according to feedback I got from @ameukam and will update this issue when that image is

[2021-08-18 17:55] ameukam commented on #2575
cc @spiffxp @dims

[2021-08-18 22:01] justaugustus commented on #2182
What about using https://sourcegraph.com/kubernetes to minimize the maintenance burden here?
This is something I suggested to @dims in the past, but didn't have the bandwidth to do at the time.

[2021-08-19 02:05] dims commented on #2182
choices are:
1. leave things where they are
2. move to k8s wg infra
3. redirect to cs.k8s.io to sourcegraph

- i have been taking care of 1 already for a while with minimal downtime, so i am ok with continuing to do so
- if someone wants to do 2, i am happy to work with help, show how things are setup and we can shut down the equinix vm
- i personally don't like option 3, i love the the hound UX,

[2021-08-19 12:26] ameukam commented on #2473
We are now back to a normal state:

![image](https://user-images.githubusercontent.com/2343515/130068086-a47cde9d-1119-44f0-bc1d-e7d0f429027c.png)

/close

[2021-08-19 12:26] #2473 closed

[2021-08-19 19:15] ameukam commented on #2575
The current GCP DBaaS offer is [Cloud SQL](cloud.google.com/sql/). Can you give us more details about what's the needed configuration for elekto based of the existing features :  https://cloud.google.com/sql/docs/features ?
More detailed list : https://cloud.google.com/sql/docs/feature_support.

Github tokens are responsibility of SIG Contribex (Github Administration Team). You can request it here

[2021-08-19 21:12] jberkus commented on #2575
CloudSQL requirements are pretty simple: just a Cloud SQL instance, current MySQL or PostgreSQL, configured with name/password login from our cluster.  One database.  Storage requirement: 5GB max.

[2021-08-20 14:10] ameukam opened #2588 "[Umbrella issue] How we monitor k8s-infra ?"
We initially had this conversation in https://github.com/kubernetes/k8s.io/issues/401.

Also https://github.com/kubernetes/test-infra/pull/23317#issuecomment-902639443:

Some questions from `thockin`:

Cluster monitoring
a) What should we use?
GKE Workload metrics : https://cloud.google.com/stackdriver/docs/solutions/gke/managing-metrics#workload-metrics
Managed service for Prometheus : https://cl

[2021-08-20 14:37] ameukam commented on #2588
For this milestone, I would like to focus on how to flew out methods and practices about how we should do monitoring for k8s-infra.

/area infra

[2021-08-22 23:03] #1981 closed

[2021-08-24 15:08] ameukam commented on #2575
Opened https://github.com/kubernetes/k8s.io/pull/2587. cc @jberkus

[2021-08-25 09:07] ameukam commented on #2241
@marseel @tosi3k You can use this issue as a reference for any progress made for the job migration.

[2021-08-25 10:26] marseel commented on #2241
/cc @jprzychodzen

[2021-08-26 15:59] johnbelamaric opened #2619 "Resources for PRR survey analysis"
The PRR team does an annual survey to help track the effectiveness of prod readiness reviews. The 2020 survey was the first one, and I just did the analysis using BigQuery and a report with Data Studio (another Google product) in one of my Google projects. But as we went to do the analysis this year, I found I wasn't able to share the data set with other PRR members, and David Eads is the one work

[2021-08-26 21:03] eddiezane opened #2621 "DNS REQUEST: cli.triage.k8s.io"
### Type of DNS update:
Create

### Domain being modified:
`k8s.io`

### New DNS Record:

[code]

### Reason for update:

Ref: https://github.com/kubernetes/k8s.io/issues/2460

/assign @ameukam

I'm not sure what this will point to yet. LB from the service or and ingress controller?

[2021-08-27 16:49] justinsb opened #2624 "Automate binary promotion"
Opening per discussion with @ameukam in kOps office hours today.

We have jobs that automatically promote container images (that I believe are defined [here](https://github.com/kubernetes/test-infra/blob/87933332cd151a1ce9a5811bdb3bb784e82b880c/config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml ).  The kOps project has been running the binary promoter for about a year+ now, inclu

[2021-08-27 20:50] ameukam opened #2625 "Migrate away from gs://kops-ci"
Part of umbrella issue to migrate the kubernetes project away from use of GCP project google-containers: #1469

- [x] Create a new GCS bucket writable by k8s-infra-prow-build GKE cluster (`kops-ci` to `k8s-infra-kops-ci-results`)
- [x] Give kOps maintainers admin access to this bucket
- [x] Add a canary jobs (duplicate of the ones writing to gs://kops-ci) that pushes to the new bucket
	- ensure it

[2021-08-28 03:10] justaugustus commented on #2624
@justinsb @ameukam -- Let's see if we can find some time to catch up next week on this.

I'll start poking on the RelEng side:
/assign

[2021-08-30 07:21] ameukam commented on #2542
/close

[2021-08-30 07:21] #2542 closed

[2021-08-30 15:44] ameukam commented on #1307
@spiffxp With kettle currently down, we can go with

I can add a BQ dataset in kubernetes-public and data transfer job.

[2021-08-30 19:17] spiffxp commented on #2007
/area access

[2021-08-30 22:03] spiffxp commented on #1834
/lifecycle frozen

[2021-08-31 07:38] justaugustus commented on #2624
Starting here: https://github.com/kubernetes/test-infra/pull/23416

[2021-08-31 09:08] idvoretskyi commented on #1815
@vincepri a quick check on the current status of this

[2021-08-31 13:39] justaugustus commented on #2624
Status:
- [x] `kpromo` image build pre- and postsubmit: https://github.com/kubernetes/test-infra/pull/23416
- [x] Image building init for `kpromo`: https://github.com/kubernetes/release/pull/2231
- [ ] Test file promotion periodic job: https://github.com/kubernetes/test-infra/pull/23417

Slack thread: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1630416874004700

[2021-08-31 14:55] vincepri commented on #1815
This can probably be closed, everything was done and the domain transfer was completed.

/close

[2021-08-31 14:55] #1815 closed

[2021-08-31 21:33] leilajal commented on #1469
hey we just realized kubebuildr uses a google-internal project

[2021-08-31 21:43] spiffxp opened #2647 "Migrate away from google.com gcp project kubebuilder"
Part of umbrella issue to migrate away from google.com gcp projects: https://github.com/kubernetes/k8s.io/issues/1469

We didn't notice this because it doesn't show up anywhere in kubernetes/test-infra, but apparently kubebuilder uses a google-internal project (ref: https://github.com/kubernetes/k8s.io/issues/1469#issuecomment-909658529)

We need help from someone from the subproject who has acces

[2021-09-01 04:02] justaugustus commented on #2624
Status comment is [here](https://github.com/kubernetes/k8s.io/issues/2624#issuecomment-909247637), but just to say a little more...

I've restored all of the promotion tools to the CIP repo, which is easier to do now that bazel has been removed (thanks @tylerferrara + @listx).

`kpromo` images build in presubmit (test env) and postsubmit (staging env).

There's a test periodic job for file promoti

[2021-09-01 09:28] RinkiyaKeDad commented on #1597
Unassinging myself for the moment, but please let me know if there's something that needs help :)

/unassign

[2021-09-01 23:14] rifelpet opened #2651 "Setup k8s.io subdomain for E2E testing in DigitalOcean"
There currently exists a test-cncf-aws.k8s.io DNS zone that lives in an AWS account and is used by kOps e2e testing. The records in this zone are ephemeral, with a lifecycle matching an associated prow job. kOps e2e testing uses this zone to validate its management of DNS records.

kOps also uses the CNCF-owned DigitalOcean (DO) account setup by @timoreimann for e2e testing of kOps' DigitalOcean s

[2021-09-02 19:10] spiffxp commented on #1520
@listx have you verified this is fixed?

[2021-09-02 19:14] spiffxp commented on #1522
Current status:
- v1.23 now uses k8s.gcr.io/e2e-test-images: https://github.com/kubernetes/kubernetes/issues/96770
- we have not announced a deprecation window

[2021-09-02 19:15] spiffxp commented on #1458
Per https://github.com/kubernetes/k8s.io/issues/1522#issuecomment-911980801 we are now down to the test-case-specific registries mentioned in the description.  We need assistance from specific SIGs to move forward on deciding if the test cases are valid, need to be rewritten, or can be dropped.

[2021-09-02 19:18] spiffxp commented on #1525
https://cs.k8s.io/?q=gcr.io%2Fgke-release&i=nope&files=&excludeFiles=vendor%2F&repos=

Repos that still reference gcr.io/gke-release:
- [ ] kubernetes-sigs/gcp-compute-persistent-disk-csi-driver
- [ ] kubernetes-sigs/gcp-filestore-csi-driver
- [ ] kubernetes/cloud-provider-gcp

[2021-09-02 19:23] spiffxp commented on #1666
/remove-priority important-soon

[2021-09-02 19:24] spiffxp commented on #1665
/remove-priority important-soon

[2021-09-02 19:25] spiffxp commented on #2588
/priority important-longterm

[2021-09-02 19:27] spiffxp commented on #1458
/remove-priority important-longterm
/priority important-soon

[2021-09-02 19:27] spiffxp commented on #1307
/remove-priority important-longterm
/priority important-soon

[2021-09-02 19:27] spiffxp commented on #2488
/priority backlog

[2021-09-02 19:28] spiffxp commented on #1675
/remove-priority important-soon

[2021-09-02 19:28] spiffxp commented on #2275
/remove-priority important-longterm

[2021-09-02 19:29] spiffxp commented on #1660
/remove-priority backlog
/priority awaiting-more-evidence

[2021-09-02 19:29] spiffxp commented on #1968
/remove-priority important-longterm
/priority important-soon

[2021-09-02 19:30] spiffxp commented on #904
/remove-priority important-longterm
/priority important-soon

[2021-09-02 19:30] spiffxp commented on #2364
/remove-priority important-longterm
/priority important-soon

[2021-09-02 19:30] spiffxp commented on #1590
/remove-priority important-longterm
/priority important-soon

[2021-09-02 19:31] spiffxp commented on #2268
/remove-priority important-longterm
/priority important-soon

[2021-09-02 19:31] spiffxp commented on #1527
/remove-priority important-longterm
/priority important-soon

[2021-09-02 19:31] spiffxp commented on #787
/remove-priority important-longterm
/priority important-soon

[2021-09-02 19:37] spiffxp commented on #1963
/priority awaiting-more-evidence
/remove-priority important-soon
/milestone v1.23
to remove the service agent IAM binding

[2021-09-02 19:39] spiffxp commented on #1695
/milestone v1.23

[2021-09-02 19:39] spiffxp commented on #2173
/priority important-soon
/milestone v1.23

[2021-09-02 19:40] spiffxp commented on #613
/priority important-soon
/milestone v1.23
We're trying to figure out who / which account has already claimed the domain, ref: https://github.com/kubernetes/k8s.io/pull/2489

[2021-09-02 19:42] spiffxp commented on #2619
/priority important-soon
/milestone v1.23

[2021-09-02 19:42] spiffxp commented on #2490
/priority important-soon
/milestone v1.23

[2021-09-02 19:43] spiffxp commented on #2619
/sig architecture
For PRR

[2021-09-02 19:43] spiffxp commented on #2619
/area infra

[2021-09-02 19:44] spiffxp commented on #2007
/priority backlog
Though I'd like to breakout dropping per-object ACLs as a higher priority issue
/milestone v1.23

[2021-09-02 19:44] spiffxp commented on #2621
/sig cli
/priority important-soon

[2021-09-02 19:45] spiffxp commented on #2621
/milestone v1.23

[2021-09-02 19:45] spiffxp commented on #2575
/priority critical-urgent
/milestone v1.23

[2021-09-02 19:47] spiffxp commented on #1885
/priority awaiting-more-evidence
This could be alternative to bash or terraform, ref: #516

[2021-09-02 19:48] spiffxp commented on #1343
/remove-priority awaiting-more-evidence
/priority backlog
GCR is getting no new features, so there is a risk we may need to move if some essential feature comes up

[2021-09-02 19:49] spiffxp commented on #2438
/priority important-longterm

[2021-09-02 19:49] spiffxp commented on #2310
/priority important-longterm

[2021-09-02 19:52] spiffxp commented on #1782
/priority important-longterm

[2021-09-02 19:52] spiffxp commented on #2624
/priority important-soon
/milestone v1.23

[2021-09-02 19:52] spiffxp commented on #2559
/priority important-soon
/kind bug
/milestone v1.23

[2021-09-02 19:53] spiffxp commented on #2505
/priority important-soon
/milestone v1.23

[2021-09-02 19:53] spiffxp commented on #2505
/kind bug

[2021-09-02 19:54] spiffxp commented on #1815
/remove-lifecycle rotten
Given that the domain transfer happened

[2021-09-02 19:54] spiffxp commented on #1815
/milestone v1.23

[2021-09-02 19:54] spiffxp commented on #1815
/priority important-longterm

[2021-09-02 19:55] spiffxp commented on #2552
/priority critical-urgent

[2021-09-02 19:55] spiffxp commented on #2552
/milestone v1.23

[2021-09-02 19:56] spiffxp commented on #2651
/priority important-longterm
/milestone v1.23
I'm not familiar with whether we manage the AWS domain mentioned here, but I'd be happy to see an equivalent for DO happen

[2021-09-02 19:57] spiffxp commented on #1637
/priority important-longterm

[2021-09-02 19:57] spiffxp commented on #1810
/priority backlog

[2021-09-02 19:58] spiffxp commented on #2625
/priority important-longterm

[2021-09-02 19:59] spiffxp commented on #984
/priority backlog
I have lost track of where we're at with AWS account management

[2021-09-02 20:00] spiffxp commented on #2046
/priority awaiting-more-evidence

[2021-09-02 20:00] spiffxp commented on #2183
/priority backlog

[2021-09-02 20:04] idvoretskyi commented on #1637
/assign @hh

[2021-09-02 20:29] spiffxp commented on #1523
Going to take a stab at kubekins over the next few days:
- [ ] add job to push to community https://github.com/kubernetes/test-infra/pull/23457
- [ ] trigger job to build new image
- [ ] add/change job to use community-hosted image
- [ ] push kubekins images currently in use to community-hosted repo
- [ ] update autobumper to bump k8s-staging-test-infra images as well
- [ ] switch jobs to use comm

[2021-09-02 21:07] spiffxp commented on #2492
Opened https://github.com/kubernetes/k8s.io/pull/2654

[2021-09-02 21:07] spiffxp commented on #2492
/assign

[2021-09-02 22:13] listx commented on #1520
@justaugustus Have we deployed a new version of the promoter that includes the fix from https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/385 ?

[2021-09-02 22:23] justaugustus commented on #1520
@listx -- This is still dependent on getting tests passing on the default dry-run PR: https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/285
If you can assist in debugging the test failures, we can try and push this along.

[2021-09-03 06:29] #2492 closed

[2021-09-03 09:04] cpanato commented on #1525
will work on those

[2021-09-03 09:18] cpanato commented on #1525
PR for `kubernetes-sigs/gcp-compute-persistent-disk-csi-driver`: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/836

[2021-09-03 09:30] cpanato commented on #1525
@spiffxp I dont see anything left for `cloud-provider-gcp` repo
https://cs.k8s.io/?q=gcr.io%2Fgke-release&i=nope&files=&excludeFiles=vendor%2F&repos=kubernetes/cloud-provider-gcp

am I missing something?

[2021-09-03 10:14] spiffxp commented on #1834
I'm closing a number of WIP or held PRs that don't seem intended for merge.  Linking them here in case folks are still using them for reference or want to reopen them:
- to be edited

[2021-09-03 11:12] spiffxp commented on #1525
https://github.com/kubernetes/cloud-provider-gcp/pull/249 merged which took care of that repo

[2021-09-04 18:36] rajibmitra commented on #2348
hi @spiffxp  I would like to work on this.

[2021-09-06 03:25] #1895 closed

[2021-09-06 17:39] hh commented on #1637
Looping in Lachie.

/cc @lachie83

[2021-09-08 00:36] justaugustus commented on #2624
So we're capturing the repo-specific particulars, I've opened https://github.com/kubernetes-sigs/k8s-container-image-promoter/issues/413.

I was blocked on some account auth issues, but after chatting w/ @justinsb, I've validated some next steps.
Stay tuned!

[2021-09-08 14:09] spiffxp opened #2669 "Audit job failing occasionally"
I've been seeing a number of testgrid alerts for the audit job.  Figure out why and if we need to make the audit job more resilient to transient failures

/wg k8s-infra
/kind bug
/priority important-soon
/milestone v1.23

[2021-09-08 14:28] spiffxp commented on #2669
From a recent failure, ref: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-k8sio-audit/1435462850704314368
[code]

Looks like `git add` is failing if there are no changes to add.

Opened a PR to exit cleanly if there are no changes:
- https://github.com/kubernetes/k8s.io/pull/2670

[2021-09-08 14:29] spiffxp commented on #2669
/assign

[2021-09-08 14:34] rajibmitra commented on #1376
I am interested to work on this @spiffxp
/assign

[2021-09-08 14:44] spiffxp commented on #2619
Bigquery should be easily shareable

We're still trying to figure out what is needed for Data Studio, ref: https://github.com/kubernetes/k8s.io/issues/1590

[2021-09-08 15:14] spiffxp opened #2671 "Auditors should not be able to bill arbitrary projects org-wide"
Pulling this out of a TODO from https://github.com/kubernetes/k8s.io/blob/fc60c860f1eac3c4eb2c33d78767a6eba27601ac/infra/gcp/bash/roles/specs/audit.viewer.yaml#L50-L53

Addressing this may break existing use cases so opening this to allow for tracking of any followup issues:
- things that should never have been allowed and any cleanup that needs to happen
- things that should be allowed and should

[2021-09-08 16:24] spiffxp commented on #1590
Trying to create a data studio report as my personal account and see how far that gets me: https://datastudio.google.com/u/1/reporting/fc49b7e4-4622-4244-be3e-91dad5502c9d/page/9IFzB

- bigquery datasource hooked up to k8s-gubernator:build dataset
- uses kubernetes-public as billing project
- I don't think I should be able to use this as a billing project from my personal account...
  - apparently

[2021-09-08 16:35] #2669 closed

[2021-09-08 16:35] MadhavJivrajani commented on #420
/assign

[2021-09-08 17:36] spiffxp commented on #2216
Bumping for recency because I'd like to see the PR merged in the next week

[2021-09-08 19:52] spiffxp commented on #420
/area groups

[2021-09-08 19:52] spiffxp commented on #460
/area groups

[2021-09-08 20:48] johnbelamaric commented on #2619
thanks. for data studio we can share individually for now, I was able to share a report created with my google.com account with David's redhat.com account. so if we can get the project / bigquery access that will unblock us

[2021-09-09 01:03] spiffxp commented on #904
I'm working https://github.com/kubernetes/k8s.io/issues/1968#issuecomment-876889232 to migrate gcs logs that were manually setup for prod buckets (mentioned / listed in https://github.com/kubernetes/k8s.io/issues/904#issuecomment-859932423)

[2021-09-09 13:14] spiffxp commented on #1968
Migrating files from the old bucket to the new bucket via
[code]

[2021-09-09 14:29] spiffxp commented on #1675
While provisioning a fresh staging project I took the opportunity to look at what extra services were enabled as dependencies. ref: https://github.com/kubernetes/k8s.io/pull/2688

[2021-09-09 15:26] spiffxp commented on #1968
Done migrating data over
[code]

[2021-09-09 15:30] spiffxp commented on #1968
@BobyMCbobs @Riaankl can you confirm you're reading from k8s-infra-artifacts-gcslogs and that it's safe to delete k8s-artifacts-gcslogs?

[2021-09-09 15:41] spiffxp commented on #2460
/priority important-soon

[2021-09-09 16:01] spiffxp commented on #1675
Re-running `ensure-staging-storage.sh` for all projects to get a fresh look at what differs from expected:
[code]

Most everything has `containeranalysis.google.com` which needs to be explicitly disabled

[2021-09-09 17:47] spiffxp commented on #1963
Based on a survey of all staging projects, I'm also going ahead and disabling the `containeranalysis` API
[code]

[2021-09-09 17:59] spiffxp commented on #460
Looking to push this forward to done now that we have tooling able to support delegated approval.  I've been going through and sharding out groups to sig-owned subdirectories, creating them as needed.  What remains are the trickier corner cases, updating docs, and updating owners files.

Proposed path forward
- [x] move groups to subdirectories: https://github.com/kubernetes/k8s.io/pull/2675
- [x]

[2021-09-09 18:17] spiffxp commented on #1963
The audit PR https://github.com/kubernetes/k8s.io/pull/2689 picked up some of the changes from above

[2021-09-09 19:25] spiffxp commented on #1523
/assign

[2021-09-09 19:27] spiffxp commented on #460
/assign

[2021-09-09 23:18] spiffxp commented on #1523
Pushing some of the existing kubekins over just in case.  This would be to allow us to stick to an existing tag of a kubekins image if there's a good reason for it, or roll back to it if we tried bumping and it broke something.

I abused a poor cloud-shell with a one-liner to repeatedly pull, re-tag, and push a few docker images from recent history.
[code]

I surveyed what actually shows up in kub

[2021-09-10 04:49] BobyMCbobs commented on #1968
Yes! Permissions are sorted, thank you :smiley:

I will have to defer back to @Riaankl for Monday (NZDT), to ensure things are all pulled across and referenced correctly.

Cheers!

[2021-09-10 15:30] spiffxp commented on #2671
/close
Audit job still works, and I haven't heard of anyone's workflow breaking.  Please /reopen and comment here if something broke for you

[2021-09-10 15:30] #2671 closed

[2021-09-10 16:27] spiffxp commented on #1963
Opened https://github.com/kubernetes/k8s.io/pull/2697 to remove the service agent binding

[2021-09-10 16:46] spiffxp commented on #1963
Waiting on an audit PR to prove the service agent has been removed and then I think we can call this done

[2021-09-10 17:14] spiffxp commented on #1523
Opened https://github.com/kubernetes/test-infra/pull/23543 to address the stale tags listed above in https://github.com/kubernetes/k8s.io/issues/1523#issuecomment-916504977

Everything is now using either latest or the same tag

[code]

[2021-09-10 17:17] spiffxp commented on #1523
While waiting for more of the kubekins stuff to land, let's look at what other images we need to migrate
[code]

[2021-09-10 21:23] spiffxp commented on #1963
https://github.com/kubernetes/k8s.io/pull/2699 is that audit PR

/close
calling this done!

[2021-09-10 21:24] #1963 closed

[2021-09-12 23:58] Riaankl commented on #1968
@BobyMCbobs now that you have pipeline off log data establish we do not need any older data.

[2021-09-13 11:10] justaugustus commented on #2624
File promotion is live as of this weekend via https://github.com/kubernetes/test-infra/pull/23571.
Docs are here: https://github.com/kubernetes/k8s.io/pull/2711

Please add any follow-ups to https://github.com/kubernetes-sigs/k8s-container-image-promoter/issues/413.
/close

[2021-09-13 11:10] #2624 closed

[2021-09-13 16:09] spiffxp commented on #1968
I don't follow if the above comment means we're OK to delete the old bucket, can you please clarify?

[2021-09-13 16:53] Riaankl commented on #1968
From my side, yes you can delete, Thank you.

[2021-09-13 20:38] spiffxp commented on #1968
[code]

[2021-09-14 18:27] spiffxp commented on #1968
/close
Saw an audit PR confirm the bucket is gone.  Calling this done.

[2021-09-14 18:27] #1968 closed

[2021-09-14 18:34] spiffxp commented on #904
With the completion of https://github.com/kubernetes/k8s.io/issues/1968 I am tempted to call this done.

But, I have concerns about the scalability/longevity of leaving a bucket with monotonically increasing data lying around:
- all files land at root, so `gsutil ls` can take... a long time
- there was ~2.2TB of data in the bucket last I synced
- there were O(400k) files

That said:
- There is no

[2021-09-14 19:26] spiffxp commented on #2619
/close
Dataset created.  Members of `k8s-infra-prod-readiness@kubernetes.io` have `roles/bigquery.dataOwner` on `kubernetes-public:k8s_prod_readiness`.

Please /reopen if you're having issues with access etc.

[2021-09-14 19:27] #2619 closed

[2021-09-15 01:39] deobieta commented on #2275
/assign

[2021-09-15 03:27] spiffxp opened #2725 "decomission k8s-staging-bootkube"
Broken out from https://github.com/kubernetes/k8s.io/issues/460

The bootkube project has been retired: https://github.com/kubernetes-retired/bootkube

We should no longer host a staging project for it

Things that should be decommissioned:
- the k8s-staging-bootkube project
- the k8s-infra-staging-bootkube@kubernetes.io group
- the image promoter manifest
- any associated image pushing jobs

Open

[2021-09-15 03:27] spiffxp commented on #2725
/milestone v1.23
/priority important-longterm

[2021-09-15 03:34] spiffxp opened #2726 "assign ownership of k8s-infra-staging-coredns and k8s-infra-staging-etcd"
Broken out from https://github.com/kubernetes/k8s.io/issues/460

These two staging projects are currently special cases.  They do not correspond to artifacts that are directly built from a kubernetes subproject.  Instead, they are staged and released as part of a kubernetes/kubernetes release.

We need to decide which SIG "owns" these groups for the purposes of delegated group approval.

There are

[2021-09-15 03:34] spiffxp commented on #2726
/priority important-longterm
/milestone v1.23

[2021-09-15 03:37] spiffxp opened #2727 "decomission k8s-staging-txtdirect"
Broken out from https://github.com/kubernetes/k8s.io/issues/460

We have a staging project for txtdirect from the days we thought we might use it to implement go.k8s.io.  At this point, the nginx-based deployment is continuously deployed and has served us well enough.  Meanwhile txtdirect remains unused.

We should no longer host a staging project for it

Things that should be decommissioned:
- th

[2021-09-15 03:39] ameukam commented on #2727
cc @stp-ip

[2021-09-15 07:14] stp-ip commented on #2727
Ok with this. Still plan on working on it, but that doesn't depend on the staging project being hosted by k8s.

We never formally got a decision on what should or shouldn't be hosted by k8s and txtdirect made a first attempt to get this clarified, but overall it or probably I failed to get this through into a final decision or written rule.

[2021-09-15 07:57] stp-ip commented on #2726
For context: For now I mainly check and push the upstream images manually to staging and the promotion to prod is being reviewed by other CoreDNS and Kubernetes Maintainers.

CoreDNS releases are separate from K8s releases and which release/version is being used in a K8s release is handled separately in select sigs.

There is a rough idea on building CoreDNS within a wrapper repo. Currently on (my

[2021-09-15 13:56] dims commented on #2726
for the longest time, sig-network helped with coredns and sig-apimachinery helped with etcd images. I'd like to keep it that way. (so my choice would be #3)

[2021-09-15 14:21] deads2k opened #2729 "need bigquery.jobs.create permission in kubernetes-public"
While working with the PRR survey results (thanks for handling https://github.com/kubernetes/k8s.io/issues/2619), I tried to run come queries and got back an error that says

The query I attempted to run is

[code]

This particular on is to use the output to create a new query with better column names, but I'll have others as well.

[2021-09-15 14:51] ameukam commented on #2729
@deads2k Can you check if the BQ table `survey_2021Q2_questions` is present ? We created the dataset `k8s_prod_readinesss` without tables.

[2021-09-15 17:16] endocrimes commented on #1527
/cc

[2021-09-15 19:21] spiffxp commented on #1523
Migrating gcb-docker-gcloud is going to require PRs to a lot of repos' cloudbuild.yaml files
- [ ] add job to push canary image: https://github.com/kubernetes/test-infra/pull/23616
- [ ] push canary image:
- [ ] use canary image in at least one cloudbuild.yaml to confirm no breakage:
- [ ] confirm no breakage
- [ ] TODO: list of all repos that will need a PR
- [ ] delete old job

[2021-09-15 19:23] spiffxp commented on #1523
Two more job images
- [ ] bazelbuild
  - [ ] add job to push canary image: https://github.com/kubernetes/test-infra/pull/23616
  - [ ] push canary image:
  - [ ] use new canary image:
  - [ ] verify no breakage
  - [ ] delete old image build job:
- [ ] benchmarkjunit
  - [ ] add job to push canary image: https://github.com/kubernetes/test-infra/pull/23616
  - [ ] push canary image:
  - [ ] use new

[2021-09-15 19:41] ameukam commented on #2505
/close

[2021-09-15 19:41] #2505 closed

[2021-09-15 19:43] ameukam commented on #2191
@k8s-infra-ci-robot is now a member of the 4 orgs.
/close

[2021-09-15 19:43] #2191 closed

[2021-09-15 20:37] spiffxp commented on #1569
We have concerns that we should hold off on this until we tackle cross-cloud promotion

Would also like to understand why the cost of this is so much larger than cost of container images

[2021-09-15 20:41] spiffxp commented on #1569
Make a followup issue for dl.k8s.io log analysis, or look into temporarily enabling access logs and provide a sanitized version

[2021-09-15 20:54] spiffxp commented on #1458
@hh proposing a rewrite of tests to standup private registry in cluster

[2021-09-15 21:48] spiffxp commented on #460
/close
Followup issues opened for remaining groups in root

Announcement: https://groups.google.com/g/kubernetes-dev/c/DhPel8J8QiA

[2021-09-15 21:48] #460 closed

[2021-09-15 22:13] spiffxp commented on #752
/remove-priority important-longterm
/priority important-soon

[2021-09-15 22:37] spiffxp commented on #1597
Two more repos have crept up since this issue was created.  So I opened:
- https://github.com/kubernetes-sigs/lwkd/pull/117
- https://github.com/kubernetes-sigs/prometheus-adapter/pull/454

And poked for an update on:
- https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/pull/55
- https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/pull/117

[2021-09-15 22:56] spiffxp commented on #1520
@justaugustus I see https://github.com/kubernetes-sigs/promo-tools/pull/285 has merged, are we running a version of the promoter that includes this fix now?

[2021-09-15 23:01] spiffxp commented on #904
Discussed during most recent meeting, outcome was:
- we're going to leave it as-is for now, the existing bucket has a 400d lifecycle
- doing this sustainably will be a blocker for putting the full pipeline of gcs logs -> bigquery -> reports into production
- at that time we'd like to consider things like:
  - making bigquery the source of truth
  - rolling up / aggregating older results over time

[2021-09-15 23:02] spiffxp commented on #904
[code]

[2021-09-15 23:10] spiffxp commented on #1394
/remove-priority important-longterm
/priority important-soon

[2021-09-15 23:44] justaugustus commented on #2726
cc: @kubernetes/release-engineering

[2021-09-15 23:49] justaugustus commented on #2726
Agreed, primary control should yield to the SIG that the subprojects/external most closely align with.
That said, I would like SIG Release (Release Engineering specifically) to have access to break glass/unblock releases.

There are two other such special cases that immediately come to mind:
- CRI tools
- CNI plugins

[2021-09-16 00:01] justaugustus commented on #1520
We do indeed! It was rolled out as part of https://github.com/kubernetes/test-infra/pull/23591 (and https://github.com/kubernetes/test-infra/pull/23593).
Testing here: https://github.com/kubernetes/k8s.io/pull/2738

/assign

[2021-09-16 00:05] justaugustus commented on #1520
From https://github.com/kubernetes/k8s.io/pull/2738#issuecomment-920472873:

Thanks for the fix, @listx!

/close

[2021-09-16 00:05] #1520 closed

[2021-09-16 00:48] jimdaga commented on #2588
If Prometheus is the tool picked I'm happy to jump in and help, I have a decent amount of experience.

[2021-09-16 12:43] deads2k commented on #2729
Yes, I created the table by importing a google sheet.  See screenshot.

![Screenshot from 2021-09-16 08-42-14](https://user-images.githubusercontent.com/8225098/133614006-c63bcacd-5e0e-488f-949c-3b1f3a03c225.png)

[2021-09-16 15:09] spiffxp commented on #2729
/priority important-soon
/sig architecture
/area access
/milestone v1.23
/kind bug

[2021-09-16 15:09] spiffxp commented on #2729
/assign
I'll take a look

[2021-09-16 15:23] spiffxp commented on #2729
Opened https://github.com/kubernetes/k8s.io/pull/2744

[2021-09-16 15:27] #2729 closed

[2021-09-17 19:53] spiffxp commented on #1522
There also remain a number of references to gcr.io/kubernetes-e2e-test-images through the project: https://cs.k8s.io/?q=gcr.io%2Fkubernetes-e2e-test-images&i=nope&files=&excludeFiles=vendor%2F&repos=

[2021-09-17 21:38] spiffxp commented on #2182
/unassign

[2021-09-17 21:39] spiffxp commented on #2490
/assign
Since I put up https://github.com/kubernetes/k8s.io/pull/2570 and have been poking https://github.com/kubernetes/contributor-site/pull/222

[2021-09-17 21:42] spiffxp commented on #2625
/unassign
I'm not actively working this, though I am happily reviewing @ameukam's PRs

[2021-09-18 15:35] jimdaga commented on #2182
FYI: If choice #2 is picked, my two PRs are pretty much ready to stage codesearch in the `aaa` cluster. There are a few small things that need to happen after the merge, but that's documented in my PRs.
- https://github.com/kubernetes/k8s.io/pull/2513
- https://github.com/kubernetes/test-infra/pull/23201

[2021-09-18 21:11] dims commented on #2182
thanks @jimdaga

+1 to give #2 a shot. will let Aaron and Arnaud to review and merge all 3 PRs

[2021-09-20 14:15] guirish opened #2755 "Clearing retention policy for s390x's GCS bucket"
@ameukam  We are trying to execute conformance tests on prow setup with kubetest2 using pod-utilities, and we are getting below mentioned error specific to bucket's retention policy. Can we get this property cleared for s390x GCS bucket -> `k8s-conform-s390x-k8s` . We tried to clear the property at our end but we do not have required rights.

error:
```{"component":"initupload","error":"failed to

[2021-09-20 22:04] spiffxp commented on #1597
Hopefully the last bit needed:
- opened https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/pull/144 (based off of https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/pull/70)

[2021-09-20 22:11] spiffxp commented on #1522
Repos that may need references updated in checklist form:
[code]
- [ ] kubernetes-csi/csi-driver-nfs
- [ ] kubernetes-csi/csi-driver-smb
- [ ] kubernetes-csi/driver-registrar
- [ ] kubernetes-sigs/aws-ebs-csi-driver
- [ ] kubernetes-sigs/aws-efs-csi-driver
- [ ] kubernetes-sigs/aws-fsx-csi-driver
- [ ] kubernetes-sigs/azuredisk-csi-driver
- [ ] kubernetes-sigs/azurefile-csi-driver
- [ ] kubernetes

[2021-09-20 22:24] claudiubelu commented on #1522
I can take a look at them.

[2021-09-21 00:49] jberkus commented on #2575
Here's what we need for secrets and config for Elekto.  All of these need to be translated into the same-name ENV variables in the container (please remove {comments})

[code]

[2021-09-21 03:26] ameukam commented on #2575
@jberkus You can add the kubernetes resources(except the secret) for elekto in https://github.com/kubernetes/k8s.io/tree/main/apps.

[2021-09-21 08:30] srikiz commented on #2651
FYI - @timoreimann

[2021-09-21 10:08] timoreimann commented on #2651
I have created the zone on the DO test account. We should be good to delete to it from k8s.io.

[2021-09-21 11:08] srikiz commented on #2651
@timoreimann - wondering if you mean "delegate" here?

[2021-09-21 18:15] timoreimann commented on #2651
Oh yeah good catch, I did mean delegate. Blaming it on auto complete. 😅

[2021-09-21 22:14] spiffxp opened #2771 "groups: remove GetClient() from Service interfaces"
Followup issue for https://github.com/kubernetes/k8s.io/pull/2713

See comments in https://github.com/kubernetes/k8s.io/pull/2713#pullrequestreview-760291298

[2021-09-21 22:14] spiffxp commented on #2771
/sig k8s-infra
/area groups
/kind cleanup
/priority important-longterm
/milestone v1.23

[2021-09-21 22:17] spiffxp opened #2772 "groups: attempt to reconcile all groups/members instead of failing on first error"
Noticed while reviewing https://github.com/kubernetes/k8s.io/pull/2713

ref: https://github.com/kubernetes/k8s.io/pull/2713#discussion_r710252179

Right now the reconciler is relatively brittle and an invalid group/member can halt all groups reconciliation.  A better pattern to follow is to gather errors during reconciliation, and then fail at the end with the full list of errors.  I believe we do

[2021-09-21 22:18] spiffxp commented on #2772
/sig k8s-infra
/area groups
/kind cleanup
/priority important-longterm
/milestone v1.23

[2021-09-21 23:57] spiffxp commented on #2772
/assign @MadhavJivrajani
Please unassign if you don't think you can work on this

[2021-09-21 23:57] spiffxp commented on #2771
/assign @MadhavJivrajani
Please unassign if you don't think you can work on this

[2021-09-22 12:29] guirish commented on #2755
@ameukam  Any updates on this?
Gentle reminder.

[2021-09-22 13:09] ameukam commented on #2755
I'm not really familiar with kubetest2 so I don't know why it needs to remove `latest-build.txt` instead of update it. I can drop the file concerned but I'm not sure if it's the right approach to solve this.
@spiffxp  Any ideas ?

[2021-09-22 13:44] randomvariable opened #2777 "Create periodic jobs that iterate over all AWS accounts in Boskos"
Following up from #1921 , both Cluster API and Kops projects eventually hacked service quota increases in their respective projects via just repeatedly rerunning asynchronous service quota increase requests until they hit every AWS account and region.

However, we would like to consider the possibility of having jobs that iterate over all AWS accounts managed by Boskos and perform some operations,

[2021-09-22 17:18] ehashman commented on #956
/unassign @ehashman @SergeyKanzhelev @alejandrox1 @MHBauer
/assign @endocrimes

[2021-09-22 18:02] spiffxp commented on #2755
We don't hold the project to retention policies for its own conformance results, I'm fine dropping them for federated conformance results

/assign

[2021-09-22 18:12] spiffxp commented on #2755
Opened https://github.com/kubernetes/k8s.io/pull/2779

[2021-09-22 19:31] spiffxp opened #2780 "groups: rename account used from wg-k8s-infra-api to sig-k8s-infra-groups-api"
Related:
- Followup to: https://github.com/kubernetes/community/issues/6036
- Related to: https://github.com/kubernetes/steering/issues/213

We should rename this account to match the fact that it belongs to a SIG and not a WG.

While we're here... I think, but am not entirely sure, that we cannot have multiple service accounts linked to a single google workspace account for delegated domain wide

[2021-09-22 19:31] spiffxp commented on #2780
/assign

[2021-09-22 20:14] eddiezane commented on #2621
Updated with IP from https://github.com/kubernetes/k8s.io/pull/2617#issuecomment-925291494

[2021-09-22 20:24] ameukam commented on #2621
@eddiezane Feel free to open an PR against : https://github.com/kubernetes/k8s.io/blob/main/dns/zone-configs/k8s.io._0_base.yaml and assign me.

[2021-09-23 04:29] #2621 closed

[2021-09-23 05:05] ameukam commented on #2460
The instance is up : https://cli.triage.k8s.io/.

@eddiezane I think we can call it. Leave the honor to `/close`. :-)

[2021-09-23 12:03] #2772 closed

[2021-09-23 17:51] eddiezane commented on #2460
Thanks for the help!!

/close

[2021-09-23 17:51] #2460 closed

[2021-09-23 20:36] spiffxp commented on #2575
As a github admin, I've made a kubernetes org-owned OAuth app for elekto

[2021-09-23 21:57] spiffxp commented on #2575
We now have elekto deploying successfully... as to whether it's functioning as expected, TBD

[2021-09-23 22:27] jberkus commented on #2575
So according to logs, Elekto is running, but I'm still getting a 404 when I try to reach it via elections.k8s.io.

[2021-09-24 14:39] spiffxp commented on #1597
/close
And we're done!

Thanks for the help @RinkiyaKeDad @anubha-v-ardhan @pohly @wongma7 @ikarldasan @praveenghuge

[2021-09-24 14:39] #1597 closed

[2021-09-24 15:12] spiffxp commented on #915
I put up my strawman with explicit examples in https://github.com/kubernetes/k8s.io/pull/2806

I think that would be enough to call this done

[2021-09-24 15:15] spiffxp commented on #2727
https://github.com/kubernetes/k8s.io/pull/2806 tries to clarify policy

We've allowed other things to run that aren't necessarily built or owned by us, so I would be fine with seeing a prototype happen that doesn't meet those criteria.  I agree that eventually if it becomes mission-critical we want to make sure we own or have visibility into the whole supply chain.

[2021-09-24 15:20] spiffxp opened #2807 "decomission k8s-staging-mirror"
I just looked and it's empty / unused.  The original motivation for this was mirror the images used as part of e2e test.  The bulk of these now live in k8s.gcr.io/e2e-test-images.

I would rather not have a blanket "mirror" project laying around, so I suggest we decommission it.  If we need to mirror stuff, we should be handling that on a case-by-case basis, and a specific SIG should be owning tha

[2021-09-24 15:20] spiffxp commented on #2807
/assign

[2021-09-24 16:02] spiffxp commented on #2807
/close
Done via: https://github.com/kubernetes/k8s.io/pull/2808

[2021-09-24 16:02] #2807 closed

[2021-09-24 16:21] spiffxp commented on #2727
/priority important-soon
/milestone v1.23

[2021-09-24 17:04] ameukam commented on #2575
GKE have the health checks for applications before the Ingress is available: https://cloud.google.com/kubernetes-engine/docs/concepts/ingress#health_checks and expect a HTTP 200 code.

Currently Elekto returns instead a HTTP 301. Another endpoint can be defined to check the readiness of the pod ?

[2021-09-24 17:12] spiffxp commented on #2726
https://github.com/kubernetes/k8s.io/pull/2811 implements option 3

[2021-09-24 17:27] jberkus commented on #2575
Yeah, lemme see about adding that.

[2021-09-24 17:34] ameukam commented on #2559
@eddiezane with some custom debugging(see https://github.com/kubernetes/k8s.io/pull/2788) identified the issue : The cluster name in the [kubeconfig](https://github.com/kubernetes/k8s.io/blob/main/apps/prow/cluster/prow-externalsecrets.yaml#L37-L50) stored as secret was incorrect.

I updated the GCP secret with a new version of the kubeconfig:

[code]

[2021-09-24 17:34] ameukam commented on #2559
/close

[2021-09-24 17:35] #2559 closed

[2021-09-24 17:42] ameukam commented on #1475
This was blocked by https://github.com/kubernetes/k8s.io/issues/2559.
I think we can it call done.

/close

[2021-09-24 17:43] #1475 closed

[2021-09-24 17:44] spiffxp commented on #915
/close
Fixed by https://github.com/kubernetes/k8s.io/pull/2806

[2021-09-24 17:44] #915 closed

[2021-09-24 18:30] spiffxp commented on #1675
https://github.com/kubernetes/k8s.io/pull/2813 adds the ability to specify additional special case services for `cluster-api-gcp` and `sig-storage` and turns on pruning of unexpected services.  Once that merges I'll run for all staging projects and then call this done

[2021-09-24 19:22] justaugustus commented on #2807
Thanks for the cleanup, Aaron!

[2021-09-24 19:50] jberkus commented on #2575
So I've added a /health endpoint and configured it in the deployment.  Does anything need to go into the ingress.yaml to have it check /health instead of /?

[2021-09-24 21:59] spiffxp commented on #2727
/close
Decomissioned

[2021-09-24 21:59] #2727 closed

[2021-09-24 22:01] spiffxp commented on #1675
Finished a full run of `ensure-staging-storage.sh`

This legitimately caught and disabled services that were enabled when I browed the UI for k8s-staging-test-infra:
[code]

[2021-09-24 22:02] spiffxp commented on #1675
/close

[2021-09-24 22:02] #1675 closed

[2021-09-24 22:04] spiffxp commented on #1394
AIUI an incorrect kubeconfig was preventing us from scheduling jobs on the k8s-infra-prow-build cluster, which has since been updated.

https://k8s-infra-prow.k8s.io/ now shows a heartbeat job being regularly scheduled

[2021-09-24 22:11] jberkus commented on #2575
Added the custom health check, Ingress still doesn't want to forward connections.  Help?

[2021-09-24 22:25] spiffxp commented on #2725
There appear to be no images present, so this can be deleted same as has been done for k8s-staging-txtdirect

[2021-09-24 23:07] spiffxp commented on #2725
[code]

[2021-09-24 23:07] spiffxp commented on #2725
/close

[2021-09-24 23:07] #2725 closed

[2021-09-25 21:58] jberkus commented on #2575
Problem appears to be resolved.  Elekto is live.  Closing!

[2021-09-25 21:58] #2575 closed

[2021-09-26 21:19] claudiubelu commented on #1522
For lwkd, release-notes, and sig-release, it's noop. They only contain the release note regarding this migration:

[code]

[2021-09-27 04:22] ameukam commented on #2575
I manually recreated the ingress.

[2021-09-27 20:18] spiffxp commented on #1187
Provisioning a nodepool with `ephemeral-ssd-storage=true` as a taint: https://github.com/kubernetes/k8s.io/pull/2835

I'll try cutting over some canary presubmits to see what the behavior is

[2021-09-27 21:26] spiffxp commented on #1187
https://github.com/kubernetes/test-infra/pull/23783 will cutover:
- pull-kubernetes-e2e-gce-canary
- pull-kubernetes-integration-go-canary
- pull-kubernetes-e2e-kind-canary
- pull-kubernetes-unit-go-canary
- pull-kubernetes-verify-go-canary

Which are all manually triggered

[2021-09-27 23:35] spiffxp commented on #1187
After an initial round of canary jobs against a single PR, I have kicked off the canary jobs against a handful of arbitrary kubernetes/kubernetes PR's to trigger autoscaling and evaluate the node disk usage under some level of concurrency / load

https://console.cloud.google.com/monitoring/dashboards/builder/f0163540-a8b7-4618-8308-66652d3d4794?project=k8s-infra-prow-build&dashboardBuilderState=%2

[2021-09-27 23:40] spiffxp commented on #1187
Need to cost out and estimate quota before rolling this out more generally.  The numbers look good enough that I'm interested in doing so.  However...

I legitimately can't tell that there's any immediately obvious speedup from doing this?  I'll let the other jobs finish and take a look at PR history for a quick check tomorrow.  The only other thing I can think that this might allow is lowering of

[2021-09-28 12:30] spiffxp commented on #1187
https://cloud.google.com/compute/disks-image-pricing#localssdpricing

Local SSDs are $30/mo, so x2 = 60/mo
Zonal SSDs are .17/GB/mo, so 500GB = 85/mo
Zonal PDs are .04/GB/mo, so 100GB = 4/mo

https://cloud.google.com/compute/vm-instance-pricing

n1-highmem-8 are ~ 241/mo

pool4 instances are n1-highmem-8 + 500GB pd-ssd = 241 + 85 = 326
pool5 instances are n1-highmem-8 + 100GB pd-standard + 2x loca

[2021-09-28 12:44] spiffxp commented on #1187
Looks like I'm going to have to force recreation of the node pool to drop the taint
[code]

[2021-09-28 13:15] aojea commented on #1187
out of curiosity, why 2 local ssds?

[2021-09-28 13:34] spiffxp commented on #1187
I was seeking to:
- match to 500GB amount we used previously, and 375GB was too little
- over-provision capacity so as not to saturate a single ssd

[2021-09-28 17:26] spiffxp commented on #1187
OK, migration to new nodepool with local SSDs for ephemeral storage complete, see https://github.com/kubernetes/k8s.io/pull/2839 for details

Throttled I/O is way down post-migration
![Screen Shot 2021-09-28 at 10 22 43 AM](https://user-images.githubusercontent.com/49258/135135483-4b6298ec-1a59-419e-8a92-ed2ded16f26d.png)

Throttled bytes from old pool nodes on the left, new pool nodes on the righ

[2021-09-28 17:36] spiffxp commented on #1187
I'll hold this open for a day to see if this had any negative impact, but I otherwise consider this issue closed.

It'll take a bit to determine whether this has had any impact on job / build time.  Again, my guess based on a brief survey of the canary jobs from yesterday is negligible impact at best, but hopefully fewer noisy neighbors.  We lack a great way to display this data at present, though

[2021-09-28 17:42] spiffxp commented on #2279
/remove-lifecycle stale
Is this something y'all can get to sometime soon?

[2021-09-29 14:58] #2771 closed

[2021-09-29 15:53] spiffxp commented on #2726
/close

[2021-09-29 15:53] #2726 closed

[2021-09-29 15:54] spiffxp commented on #2275
/close

[2021-09-29 15:54] #2275 closed

[2021-09-29 16:08] spiffxp commented on #1187
/close
Calling this done

[2021-09-29 17:55] spiffxp commented on #752
The proposal linked in this issue likely needs to be refreshed, but dropping a few thoughts before I forget.

Blockers to migrating all jobs over to a community-run build cluster include:
- setting resource requests/limits on all jobs to properly trigger autoscaling
- using community-owned projects or granting privileges to the community-owned build cluster and boskos to manage google.com projects

[2021-09-29 19:17] spiffxp commented on #2492
/milestone v1.23

[2021-09-29 19:19] spiffxp commented on #1660
/milestone clear

[2021-09-29 19:19] spiffxp commented on #1999
/remove-priority backlog
/priority awaiting-more-evidence
/milestone clear

[2021-09-29 19:21] spiffxp commented on #2277
/milestone clear

[2021-09-29 19:22] spiffxp commented on #2007
/remove-priority backlog
/priority awaiting-more-evidence
/milestone clear

[2021-09-29 19:26] spiffxp commented on #2755
/milestone v1.23

[2021-09-29 19:26] spiffxp commented on #2755
/kind cleanup
/priority important-soon

[2021-09-29 19:28] spiffxp commented on #157
/milestone clear
Clearing from milestone, I'm not sure what remains to be done

[2021-09-29 19:31] spiffxp commented on #1525
We're waiting on https://github.com/kubernetes-sigs/gcp-filestore-csi-driver/pull/174 before we can call this done

[2021-09-29 19:33] spiffxp commented on #193
Mildly related: https://github.com/kubernetes/k8s.io/pull/2710 attempts to figure out _where_ images are going

Not necessarily how much each is costing us

[2021-09-29 19:34] spiffxp commented on #2625
/milestone clear
Clearing from milestone because migrating all of the kops jobs over is likely to affect our spend in a non-significant way

[2021-09-29 19:43] spiffxp commented on #420
/remove-help
Since @MadhavJivrajani is working on this

[2021-09-29 19:49] spiffxp commented on #2218
/remove-priority important-longterm
/priority backlog
/milestone clear

[2021-09-29 19:52] ameukam opened #2854 "k8s-infra-e2e-5k-project: Add cleanups jobs"
Part of https://github.com/kubernetes/k8s.io/issues/2241

Add a cleanup job that will delete disks snapshots older than 30 days added by sig-scalability jobs.

I added a cleanup job for snapshots resulting from canary job : https://github.com/kubernetes/test-infra/pull/23770

We should also investigate if we need a separate GCP service account with `compute.snapshots.delete`  or use the default se

[2021-09-29 19:53] spiffxp commented on #1375
/remove-priority important-longterm
/priority critical-urgent
/milestone v1.23

We discussed last meeting that our spend looks like it's going to put us very near the threshold this year

It's time to come up with a plan for how to make sure we don't cross it, and how to detect if we are about to.  Maybe it's not worth implementing technically with cloud budgets, but we should then at least know w

[2021-09-29 19:55] spiffxp commented on #2396
Blocked on https://github.com/kubernetes/k8s.io/issues/1375

[2021-09-29 19:56] spiffxp commented on #1569
Blocked on https://github.com/kubernetes/k8s.io/issues/1375

[2021-10-01 09:11] ameukam opened #2861 "Investigate usage of terraform for GCP quotas increase"
We currently manage GCP services quotas with ClickOps. E.g.:

https://github.com/kubernetes/k8s.io/issues/2225
https://github.com/kubernetes/k8s.io/issues/1703#issuecomment-785427415

We could use the Terraform resource https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/service_usage_consumer_quota_override

/area infra
/area billing
/priority important-longterm

[2021-10-01 18:01] spiffxp commented on #2220
/close
All secrets in our kubernetes clusters now come from Google Secret Manager (or could come from other secret systems).  This is great for DR, since if a cluster disappears, we can re-provision it with the existing secrets.  Also nice for safe rotation, since new secret values can be added without implicitly deleting old values.

We could use some docs updates here, and kubernetes-public is s

[2021-10-01 18:01] #2220 closed

[2021-10-01 18:03] spiffxp commented on #2438
An update from https://github.com/kubernetes/k8s.io/issues/1187.  We are now running instances with local SSDs for ephemeral storage.  It's not clear whether they've substantively improved our build performance, but since e2's don't support local SSD, I would likely not consider e2's unless there's a really compelling reason to.

[2021-10-01 18:05] spiffxp commented on #2430
FYI @nikhita as of https://github.com/kubernetes/k8s.io/pull/2829 we're automatically syncing the value of the github token secret from Google Secret Manager, so the publishing-bot repo no longer needs to use git-crypt to store the token.

[2021-10-01 18:07] spiffxp commented on #1731
I'd like to add to definition of done that secrets are provisioned the same way for all of our clusters.  As of completion of https://github.com/kubernetes/k8s.io/issues/2220 all prow build cluster secrets are provisioned via terraform.  But the secrets for aaa are still handled by bash.

[2021-10-01 19:34] spiffxp commented on #1753
/remove-sig testing

[2021-10-01 19:37] spiffxp commented on #1093
/remove-sig testing
/sig network

[2021-10-01 19:38] spiffxp commented on #1376
/remove-sig testing

[2021-10-01 19:39] spiffxp commented on #1307
Pretty sure I've seen activity on this in PRs related to kettle:
- https://github.com/kubernetes/k8s.io/pull/2737
- https://github.com/kubernetes/k8s.io/pull/2747
- https://github.com/kubernetes/k8s.io/pull/2749

[2021-10-04 14:05] endocrimes commented on #956
these tests play p well with that, I run the test suite in parallel in the same project ~daily. We'd need a robot to delete vms after some period though, as the suite doesn't clean up after itself.

---

I can see this being potentially useful for folks who don't have a work budget for working on node - A lot of the node_e2e suite doesn't particularly work well outside of the expected GCP configur

[2021-10-05 09:27] srikiz commented on #2651
@rifelpet - Please let me know in case there is something that needs to be done from my end on this. Please suggest whom to reach out to get the needed changes here.
FYI - @timoreimann @spiffxp

[2021-10-05 14:17] dthorsen opened #2877 "post-k8sio-image-promo job is failing to promote cluster-api-azure images"
@CecileRobertMichon recently promoted cluster-api-provider-azure v0.5.3 with PR #2875

However the post-k8sio-image-promo failed to promote the image with what looks like an authorization error in the logs:
https://storage.googleapis.com/kubernetes-jenkins/logs/post-k8sio-image-promo/1445119208047251456/build-log.txt
[code]

It looks like some of the serviceaccounts were modified in the audit PR #

[2021-10-05 14:18] dthorsen commented on #2877
Related to kubernetes-sigs/cluster-api-provider-azure/issues/1758

[2021-10-05 15:31] spiffxp commented on #2877
https://testgrid.k8s.io/sig-k8s-infra-k8sio#ci-k8sio-image-promo

Last known good:
- 2021-10-04 10:16 AM PT
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-k8sio-image-promo/1445075243734405120
- But had nothing to promote

First known bad:
- 2021-10-04 2:16 PM PT
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-k8sio-image-promo/1445135708732788736

https://testgrid.k8s.io/sig-k8

[2021-10-05 15:40] justaugustus commented on #2877
Slack convo: https://kubernetes.slack.com/archives/C2C40FMNF/p1633441239313900
This might've been me, as a result of https://github.com/kubernetes-sigs/promo-tools/pull/434 / https://github.com/kubernetes/test-infra/pull/23874.

Investigating now...
/assign

[2021-10-05 15:41] justaugustus commented on #2877
/area release-eng artifacts

[2021-10-05 15:56] spiffxp commented on #2877
/kind bug
/priority critical-urgent
Seems like all promotions are blocked
/milestone v1.23
/sig release

[2021-10-05 16:04] justaugustus commented on #2877
Revert here: https://github.com/kubernetes/test-infra/pull/23894

[2021-10-05 16:29] spiffxp commented on #2877
FWIW I think https://github.com/kubernetes/test-infra/pull/23874 landed 7:55AM PT yesterday, before the change window, so it's not clear to me that's the problem, but I guess we can find out

[2021-10-05 16:31] spiffxp commented on #2225
I think this can be closed but I don't have all of the issue links handy.  AFAIK we've migrated over the jobs that use this project and they're not having quota issues anymore.

[2021-10-05 16:56] justaugustus commented on #2877
Next up: https://github.com/kubernetes-sigs/promo-tools/pull/442

[2021-10-05 17:12] justaugustus commented on #2877
Test-infra bump for https://github.com/kubernetes-sigs/promo-tools/pull/442: https://github.com/kubernetes/test-infra/pull/23896

[2021-10-05 18:44] justaugustus commented on #2877
capz were promoted in https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-k8sio-image-promo/1445438046576054272.
(following the revert in https://github.com/kubernetes/test-infra/pull/23894)

[2021-10-05 20:53] ameukam commented on #1307
Next steps are :
- enable monitoring for `gs://kubernetes-jenkins`: https://github.com/kubernetes/test-infra/tree/master/kettle#pubsub
- deploy a staging instance on `aaa`

[2021-10-05 20:54] ameukam commented on #2225
@spiffxp Migration is still in progress : https://github.com/kubernetes/test-infra/pull/23844.

I'll update the issue with the links concerned.

[2021-10-07 01:32] hh commented on #1834
/assign @thockin

[2021-10-07 15:57] spiffxp opened #2890 "groups: jobs are continuously failing"
What's failing:
- https://testgrid.k8s.io/sig-k8s-infra-groups#post-k8sio-groups - continuously failing
- https://testgrid.k8s.io/sig-k8s-infra-groups#ci-k8sio-groups - was continuously failing, now flapping

Sample failure from https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-k8sio-groups/1446007265566920704
[code]

Sample success from https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-

[2021-10-07 21:31] ameukam opened #2893 "Raise quotas for scalability project pool"
Tracking issue for : https://github.com/kubernetes/perf-tests/issues/1898#issuecomment-938118580.

I raised the quota `CPUs` in us-central1 to 84 for the projects k8s-infra-e2e-boskos-scale-{01-05} in `scalability-project` pool. Those had a default value of 72. The rest of the projects have a value of 600.

cc @spiffxp

/kind bug
/sig scalability
/area prow

/milestone v1.23

[2021-10-07 22:13] spiffxp commented on #2890
Opened https://github.com/kubernetes/k8s.io/pull/2892 to try and address

[2021-10-11 20:33] Riaankl opened #2920 "Create a prow job that update APISnoop website"
#### Why is this needed?
The website apisnoop.cncf.io aims to show the latest test coverage data for kubernetes.  The site displays data from json files stored at https://github.com/cncf/apisnoop/tree/main/resources/coverage.    Currently, these files are generated by manually running a shell script.

We would like to move this operation into a prow job so that the site can be always current witho

[2021-10-12 15:41] tpepper opened #2923 "CoCC vanity urls request"
### Type of DNS update:
Create

### Domain being modified:
k8s.io

### New DNS Record:

[code]

### Reason for update:

Code of Conduct Committee proposes two vanity short url redirects:

 * transparency.k8s.io to https://github.com/kubernetes/community/tree/master/committee-code-of-conduct/transparency-reports
* conduct.k8s.io to https://github.com/kubernetes/community/tree/master/committee-code-

[2021-10-12 19:40] dims commented on #2923
cc @ameukam

[2021-10-13 20:04] spiffxp commented on #2364
@kubernetes/release-engineering. I am not sure where we stand on this anymore.  Has the fix been:
- identified?
- implemented?
- deployed?

[2021-10-13 22:09] #2923 closed

[2021-10-14 00:19] jimdaga commented on #1523
@spiffxp can you confirm I'm addressing what you were looking for via these PRs?
I'll try to chug thru more batches as time allows if they look good.

- https://github.com/kubernetes-csi/csi-driver-host-path/pull/336
- https://github.com/kubernetes-csi/csi-driver-iscsi/pull/65
- https://github.com/kubernetes-csi/csi-driver-nfs/pull/236
- https://github.com/kubernetes-csi/csi-lib-utils/pull/103
- h

[2021-10-14 22:11] spiffxp opened #2942 "audit followup: fix workload identity binding for tf-monitoring-deployer"
Followup issue to address https://github.com/kubernetes/k8s.io/pull/2932#discussion_r729008893

/sig k8s-infra
/priority important-soon
/milestone v1.23
/kind bug

/assign @ameukam

[2021-10-14 22:17] spiffxp opened #2943 "audit followup: make gcp org admins owner of k8s-infra-kubernetes-io gcp project"
Followup issue for: https://github.com/kubernetes/k8s.io/pull/2932#discussion_r729378163

/sig k8s-infra
/priority important-soon
/kind bug
/milestone v1.23

[2021-10-14 22:40] spiffxp commented on #2861
/close
These are only usable to restrict quotas, not request increases from GCP itself.

These would be used for example if we wanted to request an org-level quota for some resource, and then divide up into quota for children folders/projects.  At the moment I don't see a strict need to do this.

[2021-10-14 22:40] #2861 closed

[2021-10-14 23:19] Riaankl commented on #2920
Added the topic SIG Architecture Agenda for 7 Ocktober 2021 for further discussion

[2021-10-14 23:26] spiffxp commented on #1834
Pulling out of when this was asked in slack last week.

I want to see a proposal sort of doc or presentation that lets us evaluate our alternatives against a consistent set of criteria/dimensions.
- how much is this going to save us?
  - for consumers outside of google cloud (e.g. save on "general network usage" costs listed in https://cloud.google.com/storage/pricing)
  - for consumers within goo

[2021-10-15 13:52] #2943 closed

[2021-10-15 21:45] #2942 closed

[2021-10-18 15:26] spiffxp commented on #1375
https://github.com/kubernetes/k8s.io/issues/1834#issuecomment-943836836 is our umbrella issue for mitigating artifact hosting costs by use of mirrors, which would allow us to mitigate costs due to large consumers by having them pull from mirrors located closer to them or on their own infra.  The comment I'm linking posits that if we could use something like Cloud CDN we could also lower the cost o

[2021-10-18 23:34] bridgetkromhout opened #2955 "failure when re-casting a ballot in the 2021 Steering election"
I noticed an issue with elekto. (I originally opened it in test-infra but am moving it upon discussion with @jberkus.)

**What happened**:

I noticed a typo "Only the 4 favorite `chocies` will win the election." on https://elections.k8s.io/app/elections/2021/vote so I attempted to re-vote so I could copy/paste the exact typo and report it.

It seems like attempting to re-vote not only fails but it

[2021-10-18 23:41] jberkus commented on #2955
@ameukam @spiffxp

This is happening consistently whenever anyone attempts to re-vote.

It does not happen in elekto when I run the tests on a test server, nor does it happen on the Knative election server.  Thus it's something that's happening only in the instance deployed on k8s.io.

Further, the pod shows no errors for the event, of any kind.

Notably the code does a Redirect as part of the re-

[2021-10-19 14:55] jberkus commented on #2955
Oh, sorry that was unclear.  The 502 happens when entering a *correct* password.  The original ballot gets deleted, and the next step is the redirect to voting again.  That's where the 502 happens.

I don't see how that would take over 30s

[2021-10-20 17:26] jberkus commented on #2955
Issue cause diagnosed:  https://github.com/elekto-io/elekto/issues/49

[2021-10-21 17:22] #2955 closed

[2021-10-29 21:52] #2028 closed

[2021-11-01 09:50] ameukam commented on #2125
/remove-lifecycle rotten

I don't think we can move forward with this. For the moment:
/lifecycle frozen

[2021-11-01 10:05] ameukam commented on #2490
/assign @palnabarun

[2021-11-01 11:34] ameukam commented on #2893
I didn't noticed jobs failures related to quotas over the last 2 weeks.

The scalability on-call [team](https://github.com/kubernetes/k8s.io/blob/main/groups/sig-scalability/groups.yaml#L45-L62) has full ownership of the projects in the scalability pool.

/close.

[2021-11-01 14:24] #2893 closed

[2021-11-01 16:43] mauilion opened #3005 "elections.k8s.io needs an http -> https redirect."
When reminding folks to vote on elections.k8s.io I noticed that following an http link gets me a google 404 page while https://elections.k8s.io works fine.

/cc @jberkus

[2021-11-01 16:47] jberkus commented on #3005
@ameukam any idea what's going on here?

[2021-11-01 16:52] ameukam commented on #3005
I don't currently allow HTTP traffic for elections.k8s.io. I'll add the needed configuration to redirect from HTTP to HTTPS.

[2021-11-01 22:13] spiffxp commented on #2241
Look at job configs in kubernetes/test-infra, I see that `ci-kubernetes-e2e-gce-scale-performance` has been migrated away, but ci-kubernetes-e2e-gce-scale-correctness` has not.  Any particular reason why?

[2021-11-01 22:15] spiffxp commented on #2225
It looks like https://github.com/kubernetes/test-infra/pull/23844 has been merged, are we good to call this done?

[2021-11-02 04:59] ameukam commented on #2225
I'll close this when https://github.com/kubernetes/test-infra/pull/24080 is merged

[2021-11-02 13:43] #3005 closed

[2021-11-02 13:46] ameukam commented on #3005
Confirms the redirection is working:

[code]

[2021-11-02 16:24] jberkus commented on #3005
Confirmed from this end.  Thanks!

[2021-11-02 16:30] #420 closed

[2021-11-03 08:59] ameukam commented on #2438
After a quick review of the GCP compute pricing, change the instances type will be the opposite of what I expect. I still believe the pricing will evolve over the next years and allow us to make the change.

/remove-milestone
/priority backlog
/lifecycle frozen

[2021-11-03 08:59] ameukam commented on #2438
/milestone clear

[2021-11-03 10:39] ameukam commented on #613
@jimangel With https://github.com/kubernetes/k8s.io/pull/2995, it's now possible to add more people to the console. If it still needed, can you drop the emails of the people that need access to it ?
If not, can we close it ?

[2021-11-03 16:49] spiffxp commented on #1731
Once https://github.com/kubernetes/k8s.io/pull/3028 merges, all of our secrets will be managed by terraform.  What then remains is docs on how to provision a new secret.

The age-old question of "where is the best place for these?" and my best guesses for answers:
- prow: in the respective README's in infra/gcp/terraform/k8s-infra-prow-build and/or somewhere in kubernetes/test-infra
- apps: in "ru

[2021-11-03 20:40] spiffxp commented on #1522
kubernetes/website is the last remaining non-historical reference.  There are some example and blog posts referencing the old repo.  The problem is that the new repo doesn't have identical / equivalent images.  I'm going to look at using gcrane or something to sync some more containers over to k8s-staging-e2e-test-images and promote accordingly.

[2021-11-03 21:28] spiffxp commented on #1522
Perhaps better to just update the examples...

[2021-11-08 17:04] spiffxp commented on #2890
https://github.com/kubernetes/k8s.io/pull/2892 addressed problems caused by the usernames in the description

The jobs are still failing though, now seems to be related to failures add groups as managers of other groups.  Opened https://github.com/kubernetes/k8s.io/pull/3049

[2021-11-08 18:34] spiffxp commented on #2890
Now failing with
[code]

Nothing is immediately jumping out in the groups.yaml definition... may try a manual add/remove

[2021-11-15 15:40] rajula96reddy opened #3071 "Infra request for new testgrid monitoring system"
Hello,

The CI Signal Release team for 1.23 has been working on improving monitoring for [testgrid](testgrid.k8s.io/) from a release perspective and as a part of it, @encodeflush developed a [testgrid exporter](https://github.com/encodeflush/testgrid-json-exporter) that scrapes Prometheus compatible metrics from Testgrid, which can be used to setup Prometheus alerts and also visualize with Grafana

[2021-11-15 16:05] ameukam commented on #3071
cc @spiffxp

/sig release
/area release-eng

[2021-11-17 20:23] jimangel commented on #613
I'll message you with details in slack with other folks. I think this is safe to close. thanks!

[2021-11-17 20:48] ameukam commented on #613
Added @jimangel and @divya-mohan0209 will full permissions to the console for `kubernetes.io`.

/close

[2021-11-17 20:48] #613 closed

[2021-11-17 20:50] SergeyKanzhelev commented on #956
We didn't come up with a specific requests here.

I see more and more people using WIP PRs to troubleshoot small test failures. We may embrace this as a legitimate way to do this for "easy" troubleshooting. Maybe extending the number of tests that can run optionally on PRs and improve `/test` command to further scope what to run be helpful.

The biggest problem I see is developing new tests that r

[2021-11-17 21:07] ameukam commented on #956
/milestone clear
/priority backlog
/lifecycle frozen

[2021-11-17 23:12] spiffxp commented on #1731
I'll drop the respective sig labels for each app since they've been migrated and this is more on sig-k8s-infra to doc now

/remove-sig node
/remove-sig release
/remove-sig scalability
/remove-sig testing
/remove-sig contributor-experience

[2021-11-18 19:12] johnbelamaric commented on #2920
+1 from me. This is used only for conformance so it makes sense for us to own that.

@dims @derekwaynecarr

[2021-11-18 22:01] dims commented on #2920
+1 from me.

[2021-11-22 19:00] ameukam opened #3108 "SSL certificate for k8s-infra-prow.k8s.io failed to get renewed"
#### What happened:

The certificate for k8s-infra-prow.k8s.io is expired and is not automatically renewed

#### What you expected to happen:
SSL certificate for k8s-infra-prow.k8s.io is valid

##### Environment:
Project : kubernetes-public
GKE cluster : aaa
namespace: prow

/kind bug
/priority important-soon

[2021-11-24 00:33] spiffxp commented on #2396
/milestone v1.24

[2021-11-24 00:37] spiffxp opened #3112 "post-deprecation-window: turn down kubernetes-e2e-test-images GCP project"
Related:
- Part of umbrella issue to migrate away from google.com gcp projects: https://github.com/kubernetes/k8s.io/issues/1469
- Part of umbrella to migrate kubernetes e2e test images/registries to community-owned infrastructure: kubernetes/k8s.io#1458
- Followup to: https://github.com/kubernetes/k8s.io/issues/1522

As of Kubernetes v1.23 we no longer use this project for e2e test images, and in

[2021-11-24 00:38] spiffxp commented on #3112
/sig k8s-infra

[2021-11-24 00:40] spiffxp commented on #1522
Opened a followup issue to decommission the project post-deprecation: https://github.com/kubernetes/k8s.io/issues/3112

Will draft an announcement after test freeze

[2021-11-24 00:52] spiffxp commented on #1525
/milestone v1.24

[2021-11-24 00:59] spiffxp commented on #1528
/milestone v1.24

[2021-11-24 00:59] spiffxp commented on #1569
/milestone v1.24

[2021-11-24 00:59] spiffxp commented on #1527
/milestone v1.24

[2021-11-24 01:00] spiffxp commented on #1459
/milestone v1.24

[2021-11-24 01:01] spiffxp commented on #1310
/milestone v1.24

[2021-11-24 01:06] spiffxp commented on #1458
I'll punt this out of v1.23 once we're in test freeze.  We managed to complete kubernetes-e2e-test-images this cycle, but waiting on a deprecation announcement

[2021-11-24 18:40] spiffxp commented on #2225
/close
https://github.com/kubernetes/test-infra/pull/24080 has merged

nicely done @ameukam !

[2021-11-24 18:40] #2225 closed

[2021-11-24 18:42] spiffxp commented on #2241
/close
Correctness was flipped over 7 days ago: https://github.com/kubernetes/test-infra/pull/24080

Calling this done.  Great work @ameukam !

[2021-11-24 18:43] #2241 closed

[2021-11-24 18:51] ameukam commented on #2651
/priority blacklog
/milestone clear

@rifelpet Can we call this done ?

[2021-11-24 18:51] ameukam commented on #2651
/priority backlog

[2021-11-24 19:42] spiffxp commented on #1522
/close

Deprecation announced: https://groups.google.com/g/kubernetes-dev/c/jIrBjnw3cDg

[2021-11-24 19:43] #1522 closed

[2021-11-24 19:43] spiffxp commented on #1458
/milestone v1.24

[2021-11-24 22:22] ameukam opened #3123 "KES: Migrate to SecretStore from ExternalSecret"
Kubernetes External Secrets has entered [maintenance mode](https://github.com/external-secrets/kubernetes-external-secrets/issues/864) and is recommended to move to a new [External Secrets Operator](https://external-secrets.io).

We should do the migration when tooling dedicated to the migration is available.

Ref : https://github.com/external-secrets/kes-to-eso

/kind feature
/sig testing
/priori

[2021-11-25 00:40] rifelpet commented on #2651
yes this has been completed
/close

[2021-11-25 00:40] #2651 closed

[2021-11-30 02:51] imjasonh opened #3131 "k8s.io: deployment nginx image is 5 years old"
https://github.com/kubernetes/k8s.io/blob/931f2c727215c77523170d97d5aa0d1551f1d8bc/apps/k8s-io/deployment.yaml#L37

It seems fairly easy to update -- `nginx:1.20-alpine` is the current `:stable-alpine` as of today -- but I wanted to file an issue first in case there was a better/slower way to roll it out, if it's load-bearing.

[2021-11-30 05:19] ameukam commented on #3131
I planned to do this after 1.23 is out.

/assign

/milestone v1.24
/priority important-longterm
/area infra
/area apps/k8s.io

[2021-11-30 19:30] spiffxp commented on #1523
Scripted creation of the remaining PRs for migration of the gcr.io/k8s-testimage/gcb-docker-gcloud image: https://gist.github.com/spiffxp/bc8af986ce8439d49b919865ed68af9f

[2021-11-30 19:40] spiffxp commented on #1523
Noticed a few more job configs popped up using the old google.com-owned kubekins-e2e image, PR to migrate: https://github.com/kubernetes/test-infra/pull/24504

[2021-11-30 20:01] spiffxp commented on #1523
Updated output from the reporting script (found a bug, opened https://github.com/kubernetes/test-infra/pull/24505)
[code]

[2021-11-30 21:53] spiffxp commented on #1523
I copy-pasted the wrong tag for gcr.io/k8s-staging-test-infra/gcb-docker-gcloud in https://github.com/kubernetes/k8s.io/issues/1523#issuecomment-982951168.  Updated in-flight PRs, and opened followup PRs for those that had already merged

For reference:
- bad: `gcr.io/k8s-staging-test-infra/gcb-docker-gcloud:v20211008-60e346af`
- good: `gcr.io/k8s-staging-test-infra/gcb-docker-gcloud:v20211118-2f2

[2021-12-01 19:31] spiffxp commented on #2890
CI job is now passing

[2021-12-01 19:31] spiffxp commented on #2890
/close

[2021-12-01 19:32] #2890 closed, assigned to spiffxp

[2021-12-03 06:12] mkumatag opened #3137 "DNS REQUEST: cluster-api-ibmcloud.sigs.k8s.io"
### Type of DNS update:
Create

### Domain being modified:
`k8s.io`

### New DNS Record:

[code]

### Reason for update:

The cluster-api-ibmcloud subproject has requested a netlify site to host its documentation via https://github.com/kubernetes/org/issues/3118

[2021-12-03 06:13] mkumatag commented on #3137
cc @spiffxp

[2021-12-05 04:13] justaugustus commented on #1544
/assign
/unassign @bartsmykla
/milestone v1.24

[2021-12-06 17:33] ameukam commented on #2588
/milestone v1.24

[2021-12-06 17:34] ameukam commented on #2430
/milestone v1.24

[2021-12-06 17:39] ameukam commented on #2647
/milestone clear
/help wanted

[2021-12-06 17:39] ameukam commented on #2780
/milestone v1.24

[2021-12-06 17:39] ameukam commented on #2854
/assign
/milestone v1.24

[2021-12-06 17:41] ameukam commented on #843
/milestone v1.24

[2021-12-06 17:42] ameukam commented on #787
/assign
/milestone v1.24

[2021-12-06 17:44] leilajal commented on #2647
/cc @kevindelgado

[2021-12-06 17:44] ameukam commented on #2182
/milestone v1.24

[2021-12-06 17:47] ameukam commented on #1469
/milestone v1.24

[2021-12-06 17:50] ameukam commented on #1308
/milestone v1.24

[2021-12-06 18:03] ameukam commented on #1375
/milestone v1.24

[2021-12-06 18:04] ameukam commented on #1307
/milestone v1.24

[2021-12-06 18:06] ameukam commented on #1810
/milestone clear
/lifecycle frozen

[2021-12-06 18:06] ameukam commented on #1743
/milestone v1.24

[2021-12-06 18:08] ameukam commented on #1734
/milestone v1.24
/help wanted

[2021-12-06 18:09] ameukam commented on #1731
/milestone v1.24

[2021-12-06 18:15] ameukam commented on #1625
/milestone v1.24

[2021-12-06 18:18] ameukam commented on #2490
/milestone clear

[2021-12-06 18:20] ameukam commented on #2268
Migration to GCS bucket `k8s-infra-scale-golang-builds`implies changes in https://git.k8s.io/perf-tests. I'll leave sig-scalability decide when they want to do the migration.

/milestone clear

[2021-12-06 18:22] ameukam commented on #2364
/lifecycle frozen
/milestone clear

[2021-12-06 18:32] ameukam commented on #1943
/milestone v1.24

[2021-12-06 18:32] ameukam commented on #2173
/milestone v1.24

[2021-12-06 18:34] ameukam commented on #2216
/milestone v1.24

[2021-12-06 20:17] jimangel commented on #2216
@spiffxp sorry I missed this, yep, I'll get a PR in for k8s.io soon (probably after 1.23 settles down).

/assign

[2021-12-07 22:48] k8s-triage-robot opened #3156 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-07 23:30] justaugustus commented on #1343
/milestone v1.24

[2021-12-08 04:21] justaugustus commented on #3156
Thank you for creating a SECURITY_CONTACTS file. Please `/close` the issue.
/close

[2021-12-08 04:21] #3156 closed

[2021-12-08 19:53] ameukam commented on #2488
/close

[2021-12-08 19:53] #2488 closed

[2021-12-08 22:49] k8s-triage-robot opened #3162 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-09 02:57] justaugustus commented on #3162
This issue may have been opened in error due to a bug in the logic for discovering SECURITY_CONTACTS files.
For more information, please see this notice to [kubernetes-dev](https://groups.google.com/g/kubernetes-dev/c/yFlPFIYJCt8).

As this has [re]opened multiple issues across Kubernetes orgs, I will not attempt to answer comments on individual issues.
Feel free to reply to the linked kubernetes-

[2021-12-09 02:57] #3162 closed

[2021-12-09 12:15] ameukam commented on #3137
@mkumatag I don't think we gonna have bandwidth for this the week. Feel free to PR the changes you need for this request and cc me. e.g: https://github.com/kubernetes/k8s.io/pull/1249.

[2021-12-09 12:19] mkumatag commented on #3137
sgtm

[2021-12-09 15:23] cpanato opened #3166 "add quay.io secrets for capdo testing"
this pr (https://github.com/kubernetes/test-infra/pull/24607) adds the preset to be used in prow, but we need to create the secrets in the cluster in order to use the preset

slack thread: https://kubernetes.slack.com/archives/CCK68P2Q2/p1639056859148200

/assign @ameukam

[2021-12-10 11:05] knelasevero commented on #3123
Let us know if we can help somehow!

[2021-12-10 14:47] ameukam commented on #1921
@rifelpet @randomvariable Do you still need assistance about this ? If it's solved what the escalation process ?

[2021-12-10 14:51] rifelpet commented on #1921
@ameukam We've increased the limits and are no longer running into quotas, but it would be nice to have a formal strategy for dealing with this in the future, for example if we expand into new regions or start using new resource types. If you think that discussion should be its own issue I'm fine with closing this one out.

[2021-12-10 15:14] sedefsavas commented on #1921
We observe a reduction in ec2 quota from 512 to 32 which is causing our tests to fail.
Before [this](https://storage.googleapis.com/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-e2e/1464065565801844736/artifacts/initial-resource-quotas.yaml) --> now [this](https://storage.googleapis.com/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-e2e/1469140416698781696/artifacts/initial-

[2021-12-10 15:33] ameukam commented on #1921
@rifelpet I think it's better to open a new one about AWS quotas so we tag the right people. Thanks!

[2021-12-11 01:49] mkumatag commented on #3137
postsubmit job failed with the following error!
[code]

[2021-12-11 02:07] mkumatag opened #3173 "check-zone.py doesn't catch the missing dot(.) in the end for the cname records,"
e.g: this https://github.com/kubernetes/k8s.io/pull/3164 got merged but later post submit [job failed](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-k8sio-dns/1469456044001333248) with the following error:

[code]

[2021-12-11 02:14] mkumatag commented on #3137
Its deployed but seeing the following error for the certificate, not sure if anything else needs to be added to tag with a proper certificate:

<img width="673" alt="image" src="https://user-images.githubusercontent.com/12646029/145660471-863459ab-abcf-4dc2-865c-f9a600997051.png">

Pointing to following netfly cert:

<img width="539" alt="image" src="https://user-images.githubusercontent.com/12646

[2021-12-11 02:15] mkumatag commented on #3137
/reopen

@spiffxp @cblecker any idea?

[2021-12-11 02:38] mkumatag commented on #3137
May it took some time to populate the certificate, but now I see proper one;

<img width="810" alt="image" src="https://user-images.githubusercontent.com/12646029/145661051-895852ee-034f-4da3-86df-710b41a34244.png">

Thanks all,

[2021-12-11 02:39] #3137 closed

[2021-12-14 13:57] justaugustus commented on #1343
Enabling Artifact Registry for RelEng projects: https://github.com/kubernetes/k8s.io/pull/3183

[2021-12-14 22:08] ameukam commented on #1526
/milestone clear

[2021-12-14 22:08] ameukam commented on #1665
/milestone clear

[2021-12-14 22:09] ameukam commented on #1666
/milestone v1.24

[2021-12-14 22:09] ameukam commented on #1590
/milestone v1.24

[2021-12-14 22:09] ameukam commented on #1093
/milestone clear

[2021-12-14 22:09] ameukam commented on #525
/milestone clear

[2021-12-14 22:10] ameukam commented on #516
/milestone v1.24

[2021-12-14 22:11] ameukam commented on #193
/milestone clear

[2021-12-14 22:11] ameukam commented on #1394
/milestone clear
/lifecycle frozen

[2021-12-14 22:12] ameukam commented on #1624
/milestone clear

[2021-12-14 22:14] ameukam commented on #1376
/milestone clear

[2021-12-14 22:16] ameukam commented on #1674
/milestone v1.24

[2021-12-14 22:16] ameukam commented on #1887
/milestone v1.24

[2021-12-14 22:16] ameukam commented on #1753
/milestone v1.24

[2021-12-14 22:17] ameukam commented on #904
/milestone clear

[2021-12-14 22:17] ameukam commented on #2386
/milestone clear

[2021-12-14 22:17] ameukam commented on #1523
/milestone v1.24

[2021-12-14 22:18] ameukam commented on #1571
/milestone v1.24

[2021-12-14 22:18] ameukam commented on #1657
/milestone v1.24

[2021-12-15 14:14] tooboredtocode opened #3194 "k8s cluster cannot get the metrics-server image"
(copied from [metrics-server#919](https://github.com/kubernetes-sigs/metrics-server/issues/919))

**What happened**:
k8s cluster cannot get the metrics-server image:
[code]

**What you expected to happen**:
the cluster should be able to pull the image

**Anything else we need to know?**:

**Environment**:
- Kubernetes distribution (GKE, EKS, Kubeadm, the hard way, etc.): LKE
- Container Network Se

[2021-12-16 10:57] ameukam commented on #3194
@tooboredtocode we are aware of network issues with Linode: https://github.com/kubernetes/k8s.io/issues/2028

We use Google Container Registry for k8s.gcr.io and since it's a managed service we don't have control on network infrastructure of this service.
I'll strongly advise to raise an issue with Linode support so they can investigate the underlying problem with Google Network Team.

/lifecycle

[2021-12-16 16:50] ameukam commented on #3173
/kind bug
/area infra
/milestone v1.24
/priority important-soon

[2021-12-16 20:08] ameukam opened #3205 "Migrate kubernetes-sig-k8s-infra@googlegroups.com to kubernetes.io managed google group"
Part of:
 - https://github.com/kubernetes/community/issues/3541

Placeholder issue to track all of the things that need to be done to ensure the migration is successful.

- [X] Create domain-owned google group `sig-k8s-infra@kubernetes.io` : https://github.com/kubernetes/k8s.io/pull/3206
- [X] Create domain-owned Google Drive folder `sig-k8s-infra`:
    - Created on 12/16/2021 by @mrbobbytables us

[2021-12-16 20:09] ameukam commented on #3205
/assign @dims @spiffxp

cc @mrbobbytables @parispittman

[2021-12-17 17:38] ameukam commented on #3173
@mkumatag please, go for it.

/assign @mkumatag

[2021-12-29 09:09] cpanato commented on #157
/remove-lifecycle stale

[2021-12-29 09:09] cpanato commented on #2046
/remove-lifecycle stale

[2021-12-30 22:22] zhaow-de commented on #3194
It is a confirmed Linode/LKE specific issue, which has nothing to do with this repo. I paste the response from Linode support here, just to help the others encountering the same issue and ended up here like I did:

[2022-01-03 09:03] ameukam commented on #3194
@zhaow-de Thanks for the update. I'll close this issue. Feel free to open a new issue if any action need to be done by us.

/close

[2022-01-03 09:03] #3194 closed

[2022-01-03 09:04] ameukam commented on #2183
/remove-lifecycle rotten
/lifecycle frozen

[2022-01-03 09:09] ameukam commented on #1178
/remove-lifecycle stale
/lifecycle frozen

[2022-01-03 09:11] ameukam commented on #2310
/remove-lifecycle stale
/milestone v1.25

[2022-01-03 09:17] ameukam commented on #2279
/remove-lifecycle stale
/assign
/milestone  v1.24

[2022-01-03 09:32] ameukam commented on #1476
/remove-lifecycle stale
/lifecycle frozen

[2022-01-03 09:33] ameukam commented on #2388
/remove-lifecycle stale

[2022-01-03 09:34] marseel commented on #2299
/remove-lifecycle stale

[2022-01-03 19:31] ameukam commented on #2277
/remove-lifecycle stale

[2022-01-03 19:32] ameukam commented on #2218
/remove-lifecycle stale

[2022-01-03 19:32] ameukam commented on #2111
/remove-lifecycle stale

[2022-01-03 19:33] ameukam commented on #1999
/remove-lifecycle stale

[2022-01-03 19:33] ameukam commented on #1660
/remove-lifecycle stale

[2022-01-03 19:34] ameukam commented on #766
/remove-lifecycle stale
/lifecycle frozen

[2022-01-03 19:39] ameukam commented on #2045
@BobyMCbobs What's the current state about this ?

[2022-01-03 21:24] thockin commented on #1476
Do we need this now?

On Mon, Jan 3, 2022 at 1:32 AM Arnaud M. ***@***.***> wrote:

[2022-01-03 21:27] ameukam commented on #1476
@thockin I don't think we need this again. I just don't want to close it until cert-manager is fully removed.

[2022-01-04 14:25] leonardpahlke commented on #3071
@ameukam how should be proceed with this issue? The project/infrastructure setup seems to be ready to get donated, merged and deployed - @encodeflush can you confirm?

[2022-01-04 14:58] ameukam commented on #3071
@leonardpahlke Do we have a clarification about ownership of the monitoring platform ? AFAIK the CI signal is subject to rotation.

If you want to move forward with this issue, you can start with : https://github.com/kubernetes/k8s.io/blob/main/running-in-community-clusters.md.

[2022-01-04 17:17] leonardpahlke commented on #3071
No, I assume this will be similar to the ci-reporter CLI (in k/release) with the current CI Signal team as owners (reviewers). I can put this on the next release engineering agenda for clarification.

[2022-01-06 22:07] #2037 closed

[2022-01-08 18:24] sftim commented on #2490
With https://github.com/kubernetes/k8s.io/pull/2570 merged, is this done?

[2022-01-11 02:37] BobyMCbobs commented on #2045
@spiffxp @ameukam, I believe this is superseded by [public-log-asn-matcher](https://github.com/kubernetes/k8s.io/tree/853d1e1/images/public-log-asn-matcher)

[2022-01-11 16:09] puerco commented on #3071
My take on this is that we could officially assign ownership to the release engineering group, but then delegate the effective responsibility to the rotating CI signal team as they will be the primary operators.

The data is really important, but I think it is not super critical to ensure a delivery time with 99.99999% accuracy.  So while it would imply being _on call_, it is not really a burden t

[2022-01-11 16:14] puerco commented on #3071
/cc @kubernetes/sig-release-leads @kubernetes/release-engineering

[2022-01-14 12:47] linghengqian commented on #325
Hi, I was wondering if there is a solution for this other than forward proxying now? I noticed this issue hasn't been closed yet.

[2022-01-17 23:06] sftim commented on #237
Also I think:
/sig security

[2022-01-17 23:07] sftim commented on #237
Cleaning up these unmaintained images has helped avoid security concerns.

[2022-01-21 21:04] BenTheElder commented on #2348
/lifecycle frozen

[2022-01-24 14:07] saschagrunert opened #3299 "Add `roles/iam.serviceAccountTokenCreator` to image staging service accounts"
We require to impersonate the target service account to be able to use the keyless signing feature of cosign as described there:
https://github.com/sigstore/cosign/blob/main/KEYLESS.md#identity-tokens

This requires the service accounts to have the `iam.serviceAccountTokenCreator` role, which is right now only granted for the CIP auditor (used by k8s-artifacts-prod). We would also be able to sign

[2022-01-24 19:34] hh commented on #2045
/close

[2022-01-24 19:34] #2045 closed

[2022-01-25 12:40] ameukam commented on #3299
/sig release
/area artifacts
/area release-eng
/milestone v1.24

/assign

[2022-01-26 10:45] aojea commented on #1834
/cc

[2022-01-26 15:06] dims opened #3307 "Request URL redirection from "k8s.io/internal" to a new github org k8s-internal as an experiment"
Context : please see https://github.com/kubernetes/utils/pull/231#issuecomment-1007008216

We'd like to see if we can create and use a new github org `k8s-internal` for maintaining forks. We used to use k/k's third_party directory and k8s.io/utils/ so far, but we are reaching the limits of what we can do with those. We specifically want the `k8s.io/internal` to ensure that only kubernetes projects

[2022-01-26 15:18] ameukam commented on #3307
/assign

[2022-01-27 07:36] BenTheElder commented on #1834
see: https://docs.google.com/document/d/1yNQ7DaDE5LbDJf9ku82YtlKZK0tcg5Wpk9L72-x2S2k/ (shared with [dev@kubernetes.io](https://groups.google.com/a/kubernetes.io/g/dev) mailinglist and the SIG mailing list) for some recent discussion on this topic.

[2022-01-27 22:39] listx opened #3315 "DNS REQUEST: k8s-prow.netlify.app"
### Type of DNS update:
Create

### Domain being modified:
`k8s.io`

### New DNS Record:
[code]
### Reason for update:
The Prow subproject has requested a netlify site to host its documentation. ref [netlify site request](https://github.com/kubernetes/org/issues/3177), [umbrella issue](https://github.com/kubernetes/test-infra/issues/24821)

[2022-01-28 04:52] ameukam commented on #2007
/remove-lifecycle rotten
/lifecycle frozen

[2022-01-28 04:52] ameukam commented on #1782
/remove-lifecycle rotten
/lifecycle frozen

[2022-01-28 04:53] ameukam commented on #2625
/remove-lifecycle rotten
/lifecycle frozen

[2022-01-28 05:03] ameukam commented on #3315
@listx feel free to open a PR like https://github.com/kubernetes/k8s.io/pull/185

(Also have `docs.prow.k8s.io` would be great.)

[2022-01-28 13:52] leonardpahlke commented on #3071
/assign

[2022-01-28 14:52] ameukam opened #3317 "Build sandbox infrastructure for oci-proxy"
Build a sandbox infrastructure for sigs.k8s.io/oci-proxy:

- [x] GCP project `k8s-infra-oci-proxy` : https://github.com/kubernetes/k8s.io/pull/3318
- [x] DNS entries: `registry-sandbox.k8s.io` : https://github.com/kubernetes/k8s.io/pull/3318
- [x] Deploy a Cloud Run service: `registry-sanbox`: https://github.com/kubernetes/k8s.io/pull/3346
- [X] ensure auto-deployment for the of the proxy: https:/

[2022-01-29 00:12] listx commented on #3315
Perfect, thanks for the pointer! I actually want to get approval of a dedicated Prow repo first (it will house the statically generated docs). Need to sort that out over the mailing list for approval.

Thanks for this suggestion, I like it!

[2022-01-31 13:41] saschagrunert commented on #3299
@ameukam I think it would make sense to have an additional service account for keyless signing, like described in the docs: https://github.com/sigstore/cosign/blob/main/KEYLESS.md#on-gcp

Do you think you could help us creating it for kubernetes-release-test?

[2022-01-31 13:56] ameukam commented on #3299
@saschagrunert Sure. I don't have a lot of bandwidth but I put this in my top list

Looking at the docs you mentioned, my understanding is we need to:
- create a service account for signatures (`artifacts-signer-releng-test`, I'm sorry naming is hard)
- add to it the role `iam.serviceAccountTokenCreator` so it can impersonate `gcb-builder-releng-test@k8s-staging-releng-test.iam.gserviceaccount.com

[2022-01-31 14:34] saschagrunert commented on #3299
Thanks! :pray:

Yes :+1:

The cloud build account running the build needs to be able to impersonate the new signing service account.

I'm now wondering under which service accounts the cloud builds actually run, because they're usually triggered by one of the release managers.

[2022-01-31 15:52] ameukam commented on #3299
@saschagrunert  We always used the default service account provided by the Cloud Build service. The Cloud Build jobs created by members of `k8s-infra-release-editors@kubernetes.io` (those doing the release) use the default service account.

[2022-01-31 20:11] justinsb opened #3324 "Proposal: Creation of sandbox area"
This repo and the existing bash/terraform code has shown the value of community development and management of infrastructure, but there are some challenges that make contributing here harder than we would like it to be:

* It's difficult for contributors to stand up their own version of the infrastructure e.g. https://github.com/kubernetes/k8s.io/blob/4074c17f39ebea00a2e6705292cb7f40592d5291/infra

[2022-01-31 20:30] dims commented on #2430
/assign @justaugustus

[2022-02-01 01:00] ameukam opened #3327 "Enable Google CDN for k8s-artifacts-prod bucket"
Currently `artifacts.k8s.io` serve mainly kops binaries stored in GCS bucket `k8s-artifacts-prod`.  I would like to enable Google CDN for the backend bucket attached to this bucket.
This should reduce download latency for the objects stored in the buckeqt and help better understand Google CDN pricing for future usages.

/area artifacts
/area infra
/milestone v1.24

[2022-02-01 20:38] ameukam commented on #3327
I was able to download a binary after  it was enabled:

[code]

[2022-02-01 20:44] ameukam commented on #3327
We had some `MISS` for the first minutes this is expected:

![image](https://user-images.githubusercontent.com/2343515/152048221-20301959-69ec-4093-a8fa-36cc7d6621eb.png)

[2022-02-01 20:46] BenTheElder commented on #3173
I think we're not even running check-zone.py in CI?

[2022-02-01 20:47] BenTheElder commented on #3173
Also currently the check script isn't in sync with the production python deps.

I did some fixup and it seems _slow_, is anyone running this at all?

[2022-02-01 20:50] BenTheElder commented on #3173
... and further, that script is intended to check the live endpoints, we probably need an entirely new script that just validates the config.

[2022-02-02 00:46] mkumatag commented on #3173
Yes, i did explore that a bit, need to different approach all together, we can do this a built-in validate library..

[2022-02-02 02:40] mkumatag commented on #3173
@BenTheElder my initial try to fix this issue - https://github.com/kubernetes/k8s.io/pull/3339, ptal

[2022-02-02 13:51] ameukam commented on #3205
/reopen

[2022-02-02 21:09] eddiezane commented on #3324
/cc

[2022-02-02 21:19] hh commented on #3324
/cc

[2022-02-02 21:19] dims commented on #3324
+1 from me to experiment

[2022-02-02 22:05] ameukam commented on #3324
+1 from to experiment.

a good MVP would be management of the GCR staging projects. (e.g. `k8s-staging-bom`).

[2022-02-04 16:49] upodroid opened #3356 "Refactor GSuite Groups Reconciler Application"
Hello

I'm a contributor with Knative and we have implemented the GSuite Groups Reconciler at https://github.com/knative/community/pull/905. However, this package has hardcoded references to `kubernetes.io`, critical validation is done `go test` instead of a cli sub command which forced us to clone the code and replace k8s specific references instead of `go install k8s.io/k8s.io/groups@v0.0.0-2022

[2022-02-04 17:03] dims commented on #3356
@upodroid sounds like the right thing to do. Hoping these are minimal changes since we have a bunch of things we'll need to fix and this is already "production" code for us.

[2022-02-05 09:42] ameukam commented on #3324
Some conversations about this subject:
  - https://github.com/kubernetes/k8s.io/issues/1734#issuecomment-859942528
  - https://github.com/kubernetes/k8s.io/issues/1885:#3355
    - Demo : https://youtu.be/ksInwexR8rY?list=PL69nYSiGNLP2Ghq7VW8rFbMFoHwvORuDL&t=2817

 I can help with the effort if needed.

 /area infra
 /priority important-longterm
 /milestone v1.24

[2022-02-06 22:22] dims commented on #3307
tried this... didn't work as expected

[2022-02-12 11:40] ameukam commented on #2780
/milestone clear
/lifecycle frozen

[2022-02-12 11:47] ameukam commented on #843
/milestone clear
/lifecycle frozen

[2022-02-15 14:08] saschagrunert commented on #3299
I've started to play around with this in https://github.com/kubernetes/k8s.io/pull/3397

[2022-02-16 23:33] ameukam opened #3411 "[Umbrella issue] Migrate from k8s.gcr.io to registry.k8s.io"
Part of:
  - https://github.com/kubernetes/k8s.io/issues/1834

Design doc: https://docs.google.com/document/d/1yNQ7DaDE5LbDJf9ku82YtlKZK0tcg5Wpk9L72-x2S2k.

This issue focus on the implementation of `oci-proxy` as a proxy/redirect endpoint for `k8s.gcr.io`:

# Sandbox environment
- [x] Setup a sandox environment for development: `registry-sandbox.k8s.io`.
     - https://github.com/kubernetes/k8s.i

[2022-02-17 18:32] Riaankl commented on #2920
/remove-lifecycle stale
This is still important. Should get attention soon.

[2022-02-21 11:21] wojtek-t opened #3431 "Sippy is down"
Sippy is crashlooping. Looking into status, it seems like a broken image - the failures look like this
[code]

@deads2k

[2022-02-21 11:23] wojtek-t commented on #3431
I think we should built a stable image and start using it, instead of the current:
https://github.com/kubernetes/k8s.io/blob/main/apps/sippy/deployment.yaml#L21

[2022-02-21 11:24] wojtek-t commented on #3431
/remove-label area/dns

[2022-02-22 09:20] ameukam commented on #1459
/remove-lifecycle stale

[2022-02-22 09:20] ameukam commented on #1527
/remove-lifecycle stale

[2022-02-22 09:20] ameukam commented on #1569
/remove-lifecycle stale

[2022-02-22 09:22] ameukam commented on #3112
/remove-lifecycle stale

[2022-02-22 09:43] ameukam commented on #1525
/remove-lifecycle stale

[2022-02-22 09:46] ameukam commented on #2396
/remove-lifecycle stale

[2022-02-23 03:23] ameukam commented on #1458
/remove-lifecycle stale

[2022-02-23 04:53] listx commented on #3315
/close

(#3427 has been merged)

[2022-02-23 04:53] #3315 closed

[2022-02-23 22:45] Riaankl opened #3441 "Access to GCP Billing report dataset"
We would like to do some historical analysis of the SIG K8s Infra [GCP Billing report ](https://datastudio.google.com/u/0/reporting/14UWSuqD5ef9E4LnsCD9uJWTPv8MHOA3e/page/tPVn/edit)as part of the effort to diversified funding of the infra.

The report always show Last 28 days.
I tried to make a copy of the report as I do not want to mess with the original.
But when I open the copy I do not have ac

[2022-02-23 22:47] Riaankl commented on #3441
/assign @ameukam
/cc @hh @dims

[2022-02-24 01:43] Riaankl commented on #3441
Access was given by @justinsb
Thanks!

[2022-02-24 01:43] #3441 closed

[2022-02-24 16:24] puerco opened #3445 "Enabling IAM Service Account Credentials API on k8s-cip-test-prod"
In order to allow the image promoter tests to sign images during the e2es, er need to enable the IAM Service Account Credentials API on the test project: `k8s-cip-test-prod`.

The reason we need this API enabled is that in order to get the OIDC identity tokens we need to sign the images, the service account that [gets activated](https://github.com/kubernetes/test-infra/blob/158c539f65d7be9d1e80a3d

[2022-02-24 16:36] ameukam commented on #3445
/sig k8s-infra
/sig release
/area release-eng
/milestone v1.24
/priority important-longterm