[2022-02-25 07:03] #3431 closed

[2022-02-25 07:25] wojtek-t commented on #3431
This only partially fixed the problem:
- sippy is running down, but is not fetching the data

The fetching container is failing with:
[code]

[Which seems a bit strange to me.]

[2022-02-26 22:55] #2777 closed

[2022-02-28 06:34] ameukam commented on #3131
/remove-lifecycle stale

[2022-03-01 18:56] ameukam opened #3459 "GKE clusters are not updating"
According to GKE release notes: https://cloud.google.com/kubernetes-engine/docs/release-notes#December_14_2021, Automatic node upgrades were halted from GKE 1.20 to GKE 1.21. It's suggested to add a `Pod Disruption Budget(PDB)` for kube-system pods: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-to-set-pdbs-to-enable-ca-to-move-kube-system-pods.
Main impact is t

[2022-03-01 18:57] ameukam commented on #3459
cc @BenTheElder @chaodaiG
For sig-testing part

[2022-03-02 00:07] puerco opened #3461 "Project Creation Request: k8s-trust"
## Project Data

<table>
<tr>
<td> Name</td><td>k8s-trust</td>
</tr>
<tr>
  <td>Viewer Access</td>
  <td>k8s-infra-release-viewers@kubernetes.io</td>
</tr>
</table>

/sig release
/sig k8s-infra
/sig security

/assign @ameukam
/cc @kubernetes/sig-release-leads @kubernetes/release-engineering

## Purpose of the New Project

As part of [KEP-3031 - Signing Release Artifacts](https://github.com/kuberne

[2022-03-02 00:48] justaugustus commented on #3461
Could we use `k8s-releng-prod` and add the requisite permissions to it instead?

ref: https://github.com/kubernetes/sig-release/blob/master/release-engineering/gcp.md#kms

https://github.com/kubernetes/k8s.io/blob/ab42d92ce9acc9ba18ec33cea7c0c1ee6e6d6587/infra/gcp/bash/ensure-releng.sh#L17-L22

[2022-03-02 06:01] puerco commented on #3461
Repurposed the signer accounts PR to fit the new plan:  https://github.com/kubernetes/k8s.io/pull/3456

[2022-03-02 12:51] #3445 closed

[2022-03-02 17:46] puerco commented on #3461
Closing now as we will build resources in k8s-releng-prod. Thanks all!
/close

[2022-03-02 17:46] #3461 closed

[2022-03-03 10:21] saschagrunert commented on #3299
Closed in favor of https://github.com/kubernetes/release/issues/2445

[2022-03-03 12:46] nickekstest opened #3467 "apiVersion: certificates.k8s.io/v1 approving cert but never issuing it."
Result:
`myuser    39m    kubernetes.io/kube-apiserver-client   kubernetes-admin   Approved`

Expected Result:
`myuser    39m    kubernetes.io/kube-apiserver-client   kubernetes-admin   Approved,Issued`

I've tried making the csr a few different ways including:
`cat <<EOF | cfssl genkey - | cfssljson -bare server
{
  "hosts": [
    "my-svc.example.com",
    "my-pod.example.com",
    "192.0.2.24",

[2022-03-06 18:13] ameukam commented on #2854
/remove-lifecycle stale

[2022-03-06 18:13] ameukam commented on #787
/remove-lifecycle stale

[2022-03-06 18:13] ameukam commented on #2588
/remove-lifecycle stale

[2022-03-07 06:51] ameukam commented on #1734
/remove-lifecycle stale
/lifecycle frozen
/milestone clear

[2022-03-07 06:53] ameukam commented on #2647
/remove-lifecycle stale
/lifecycle frozen
/remove-priority
/priority blacklog

[2022-03-07 06:53] ameukam commented on #2647
/priority backlog

[2022-03-07 06:54] ameukam commented on #2182
/remove-lifecycle stale

[2022-03-07 06:55] ameukam commented on #1375
/remove-lifecycle stale

[2022-03-07 06:56] ameukam commented on #1731
/remove-lifecycle stale
/milestone clear
/priority backlog
/lifecycle frozen

[2022-03-07 06:57] ameukam commented on #2173
/remove-lifecycle stale

[2022-03-07 06:57] ameukam commented on #1943
/remove-lifecycle stale
/lifecycle frozen

[2022-03-07 06:58] ameukam commented on #1943
/priority important-longterm

[2022-03-07 07:03] ameukam commented on #2268
/close

[2022-03-07 07:04] #2268 closed

[2022-03-07 07:04] ameukam commented on #1307
/remove-lifecycle stale

[2022-03-07 07:05] ameukam commented on #2216
/remove-lifecycle stale

[2022-03-07 07:07] ameukam commented on #1308
/remove-lifecycle stale
/milestone clear

[2022-03-07 07:08] ameukam commented on #1625
/remove-lifecycle stale

[2022-03-07 07:23] nikhita commented on #2182
@ameukam what is remaining here?

[2022-03-07 07:26] ameukam commented on #2182
Deploy a canary instance from https://github.com/kubernetes/k8s.io/pull/2513. Once we have confidence with that instance we can rollout a prod instance.

[2022-03-07 07:45] Priyankasaggu11929 commented on #2182
/assign

@nikhita, I'm interested in helping with setting up a canary instance.

[2022-03-07 10:25] cpanato commented on #1544
/remove-lifecycle stale

[2022-03-07 10:58] ameukam commented on #1544
@jingxu97 Do you encounter the same issue ? I see the job have been successful for some time now: https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/post-csi-proxy-push-images.

Also the binaries are pushed:

[code]

[2022-03-09 21:54] PushkarJ opened #3494 "Request: GCS bucket to store official CVE list"
In support of KEP-3203: https://github.com/kubernetes/enhancements/pull/3204

We need GCS bucket to store generated JSON blob of official CVE list, which needs to be public readable (http get should work)
- The google group this can be linked to for membership is [security-tooling-private@kubernetes.io](https://github.com/kubernetes/k8s.io/blob/931fb0523b0d64b7e04c4ae019d961e139eec44d/groups/sig-s

[2022-03-10 07:43] BenTheElder commented on #3459
huh? I don't think a PDB is related??

From the link:

https://cloud.google.com/kubernetes-engine/docs/release-notes#December_14_2021

And then a more recent update:

https://cloud.google.com/kubernetes-engine/docs/release-notes#March_09_2022

I think this is fixed.

[2022-03-10 08:53] cpanato commented on #3166
/remove-lifecycle stale

[2022-03-10 09:08] ameukam commented on #3467
I don't think the issue you described is related to this repo. You'll fine better support in https://github.com/kubernetes/kubernetes.

/close

[2022-03-10 09:08] #3467 closed

[2022-03-10 14:24] Priyankasaggu11929 commented on #2182
Post-merge checklist item from PR https://github.com/kubernetes/k8s.io/pull/2513 that need working on:
- [ ] Publish `cs-fetch-repo` docker image (Open PR: https://github.com/kubernetes/test-infra/pull/25576)
- [ ] Update deployment to use deployed docker image (using a temp image for now)
- [X] After testing is completed, cutover DNS to new K8s hosted IP. (Done by https://github.com/kubernetes/k8

[2022-03-10 22:02] ameukam commented on #2182
@Priyankasaggu11929 Let's give @jimdaga the final call about this. There are possible changes that need to be added the Docker image.

[2022-03-10 22:25] jimdaga commented on #2182
Now that https://github.com/kubernetes/k8s.io/pull/3492 is merged, I see codesearch is deployed in the cluster!

However, it looks like the init containers are crashing:
[code]
I'm out of the office right now, so I can't do a full debug. But it does seem like something needs fixing :(
(I also don't have access to view pod logs, so not sure how to get that)

[2022-03-11 05:20] Priyankasaggu11929 commented on #2182
+1. Yes 🙂

There's also an error for decoding ingress in the [build-logs](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-k8sio-deploy-app-codesearch/1502042402167197696) of the `post-k8sio-deploy-app-codesearch` job.

I've raised a minor patch fix: https://github.com/kubernetes/k8s.io/pull/3502

[2022-03-11 06:26] ameukam commented on #2182
You can use GCP Logging console for the logs: https://console.cloud.google.com/logs/query;query=resource.type%3D%22k8s_container%22%0Aresource.labels.namespace_name%3D%22codesearch%22;cursorTimestamp=2022-03-11T06:20:53.646489047Z?project=kubernetes-public.

I did a quick research based on the logs and it suggested the issue may be related to the architecture of the Docker image.

[code]
The image

[2022-03-11 15:19] zencircle commented on #1371
I am trying to find the metrics-server and its not available here ?

[2022-03-14 17:30] ameukam commented on #3123
/remove-lifecycle stale
/lifecycle frozen

[2022-03-14 18:44] ameukam commented on #3317
/retitle Build sandbox infrastructure for oci-proxy

[2022-03-15 05:11] ameukam commented on #1657
/remove-lifecycle stale
/lifecycle frozen
/milestone clear

[2022-03-15 05:11] ameukam commented on #2386
/remove-lifecycle stale
/lifecycle frozen
/milestone clear

[2022-03-15 05:13] ameukam commented on #1887
/remove-lifecycle stale
/lifecycle frozen
/milestone clear

[2022-03-15 05:13] ameukam commented on #1753
/remove-lifecycle stale
/lifecycle frozen
/milestone clear

[2022-03-15 05:14] ameukam commented on #1674
/remove-lifecycle stale
/lifecycle frozen
/milestone clear

[2022-03-15 05:15] ameukam commented on #1624
/remove-lifecycle stale
/lifecycle frozen
/milestone clear

[2022-03-15 05:17] ameukam commented on #1590
/remove-lifecycle stale

[2022-03-15 05:19] ameukam commented on #1093
/remove-lifecycle stale
/lifecycle frozen

[2022-03-15 05:20] ameukam commented on #1665
/remove-lifecycle stale
/milestone v1.25

[2022-03-15 05:20] ameukam commented on #1666
/remove-lifecycle stale

[2022-03-15 05:21] ameukam commented on #1526
/remove-lifecycle stale
/lifecycle frozen

[2022-03-15 05:22] ameukam commented on #1523
/remove-lifecycle stale
/milestone v1.25

[2022-03-15 09:26] ameukam commented on #1695
/remove-lifecycle stale

[2022-03-15 12:36] ameukam commented on #3459
I triggered a manual update for GKE cluster `prow-build-trusted`:

[code]

We got automated upgrades for GKE cluster `aaa` :

[code]

and GKE cluster `prow-build`

[code]

[2022-03-15 12:47] dims commented on #3459
thanks @ameukam

[2022-03-15 12:50] ameukam commented on #3494
/milestone v1.24
/assign

[2022-03-16 06:17] ameukam commented on #1343
/remove-lifecycle stale
/milestone v1.25
/priority important-longterm

[2022-03-16 13:34] leonardpahlke commented on #3071
FYI, there is currently a discussion about improving the reliability of Kubernetes, see https://github.com/kubernetes/enhancements/pull/3139 Depending on the outcome of the discussion, the CI Signal team might be responsible for doing this. On the sidelines of this discussion, a dashboard - sippy (see [repo](https://github.com/openshift/sippy)) was discussed to track job history.

Since this issue

[2022-03-17 11:40] pmgk07 commented on #2182
@ameukam I unknowingly added fixes #xyz in my PR which led the k8s-ci-robot to close this issue. Feel free to reopen this issue if there's anything pending.

[2022-03-17 11:44] ameukam commented on #2182
/reopen

[2022-03-19 02:07] #3173 closed

[2022-03-21 01:17] Riaankl opened #3540 "Setting up CNCF/AWS account for AWS credits allocated to support K8s Artifact provission for AWS clients"
Creating the correct account structure to handle AWS credits in a way to best support K8s Artifact provission

[2022-03-21 01:17] Riaankl commented on #3540
/assign @jaypipes

[2022-03-21 01:19] Riaankl opened #3541 "Setting up storage space under CNCF/AWS account for pushing K8s Artifacts from registry.k8s.io to"
We need input on best way to regionalize this storage cost-effectively so we can know where to implement the 302
Is there an agreed upon naming scheme?
For copies of container images we always use immutable tags (we only redirect blob requests… by design immutable)
We are just substituting the host currently
Do we have a bucket per region?
OR do we hand off to AWS at top level?
Should Cloudfront u

[2022-03-21 01:19] Riaankl commented on #3541
/assign @jaypipes

[2022-03-22 08:26] ameukam commented on #2182
https://cs-canary.k8s.io is now up and running. We should spread the word about his existence and think about we will flip `cs.k8s.io` to `aaa` GKE cluster

[2022-03-22 18:23] dims commented on #2182
sounds like a great plan @ameukam ! we can flip ASAP. i will leave the other one running for a week or two just in case we have a problem

[2022-03-22 19:13] jimdaga commented on #2182
The one last change we need before we flip is a job that restarts the deployment nightly to pick up any changes.
The way I set up the deployment there should be no downtime while the new pods are coming up.

[2022-03-23 09:10] ameukam commented on #3108
/remove-lifecycle rotten

I'll manually recreate the certificate. Couldn't find anything relevant in certificate controller logs.

[2022-03-26 09:39] ameukam opened #3556 "Evaluate CDN Providers for artifacts distribution"
Part of:
  - https://github.com/kubernetes/steering/issues/239

Scope of the GCP resources we want to use:

| Projects | Tenants | Bucket name | Total Size | Object count | Estimated Traffic |
| -------- | -------- | -------- |  -------- | -------- | ------- |
| k8s-artifacts-prod    | Kubernetes     | k8s-artifacts-prod     |  62.45 GiB     | 2136  | 38.6 TiB |
| k8s-release    | Kubernetes     |

[2022-03-26 10:06] ameukam commented on #3556
cc @dims @cblecker
as SC members

[2022-03-28 18:04] ameukam commented on #1527
/milestone clear

[2022-03-29 17:37] Riaankl commented on #157
/remove-lifecycle stale

[2022-03-29 17:38] Riaankl commented on #2046
/remove-lifecycle stale

[2022-03-30 17:06] SergeyKanzhelev commented on #1527
/assign @endocrimes

to check that we indeed doesn't use any of those

[2022-03-30 20:41] ameukam opened #3568 "[Umbrella issue] Building AWS infrastructure for registry.k8s.io"
Part of:
   - #3411

Follow up of:
  - https://github.com/kubernetes-sigs/oci-proxy/issues/22

Following AWS folx: https://github.com/kubernetes-sigs/oci-proxy/issues/22#issuecomment-1084011545.

The AWS infrastructure will mainly serve as a hosting environment for image layers of the container images produced by the Kubernetes Project. We should:

- [x] Get the list of AWS buckets where we want t

[2022-03-30 21:38] eddiezane opened #3569 "GCS bucket for kubectl benchmark data"

[2022-03-30 21:55] ameukam commented on #3569
/assign
/area artifacts
/milestone v1.25

[2022-03-31 08:41] ameukam commented on #3568
cc @dims @jaypipes

cc @kubernetes/release-engineering

/kind feature
/area artifacts
/area infra
/area release-eng
/sig release

/milestone v1.24

[2022-03-31 20:30] hh commented on #3568
Closing https://github.com/kubernetes/k8s.io/issues/3541 in favour of this new ticket.

but bringing some of the conversation forward:

I know that @eddiezane had reserved some buckets at some point @jaypipes. Might look into that, and how we might extend it to have -REGION or similar.

[2022-03-31 20:31] hh commented on #3541
Closing in favour of https://github.com/kubernetes/k8s.io/issues/3568
/close

[2022-03-31 20:31] #3541 closed

[2022-03-31 20:59] hh commented on #3568
From the #k8s-infra-meeting yesterday:

[2022-03-31 21:24] hh commented on #3317
/assign @BobyMCbobs

[2022-03-31 21:53] BobyMCbobs opened #3577 "Auto deploy for archeo in staging to registry-sandbox.k8s.io"
The image for archeo is already being built with CloudBuild, [here](https://github.com/kubernetes-sigs/oci-proxy/blob/main/cloudbuild.yaml). Next an auto deployment needs to be set up for any changes that take place in the repo

Ref: https://www.youtube.com/watch?v=Lrui9QURMys&t=2406s

[2022-03-31 21:54] hh commented on #3540
@jaypipes confirmed that we can use the existing account.
/close

[2022-03-31 21:54] #3540 closed

[2022-03-31 21:56] BobyMCbobs commented on #3577
registry-sandbox was brought up using Terrafrom in k8s.io
https://github.com/kubernetes/k8s.io/blob/4df04a7cc54ed3b25eeae53e2f2a7d5fd7defb38/infra/gcp/terraform/k8s-infra-oci-proxy/oci-proxy-sandbox.tf

[2022-03-31 22:16] BobyMCbobs commented on #3577
A CloudBuild trigger might need to be set up
https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloudbuild_trigger

[2022-03-31 22:33] BobyMCbobs commented on #3577
Manual builds, very nice
https://cloud.google.com/build/docs/deploying-builds/deploy-cloud-run

[2022-03-31 23:21] hh commented on #3577
Caleb is iterating on https://github.com/kubernetes/k8s.io/issues/3577

[2022-04-01 02:00] BobyMCbobs commented on #3577
Created the PR https://github.com/kubernetes-sigs/oci-proxy/pull/40

It is possible that CloudBuild service account doesn't have sufficient role/run.admin perms

[2022-04-01 02:47] BobyMCbobs commented on #3577
It appears that a postsubmit might be needed to initiate the deploy

[2022-04-04 14:05] ameukam commented on #2218
/remove-lifecycle stale

[2022-04-04 14:05] ameukam commented on #2277
/remove-lifecycle stale
/lifecycle frozen

[2022-04-04 14:06] ameukam commented on #1999
/remove-lifecycle stale
/lifecycle frozen

[2022-04-04 14:07] ameukam commented on #2111
/remove-lifecycle stale
/lifecycle frozen

[2022-04-04 14:09] ameukam commented on #2310
/remove-lifecycle stale

[2022-04-04 22:20] jaypipes opened #3595 "Create S3 buckets in AWS regions"
- [x] Naming convention for buckets will be `${prefix}registry-k8s-io-${gcs_bucket_name}-${region}`
- [x] Create buckets in each AWS region listed [here](https://github.com/kubernetes-sigs/oci-proxy/issues/38#issuecomment-1085369923) via Terraform
- [x] Ted Z to vet the IAM role that will have permission to create buckets and write objects

[2022-04-04 22:31] Riaankl commented on #3595
/assign @jaypipes @BobyMCbobs

[2022-04-04 23:14] ameukam opened #3596 "Evaluate Cloudflare for artifacts distribution"
Part of:
- https://github.com/kubernetes/k8s.io/issues/3556

Cloudflare account created using `k8s-infra-cloudflare-admins@kubernetes.io`. Waiting from @Albertozhao to get more information about possible features we can use. A few list of features we talked during meeting of April 4 2022:

- Distribution through China network
- Access logs exportable to Google GCS
- [Google CDN Interconnect progra

[2022-04-05 01:04] Riaankl commented on #2279
/remove-lifecycle stale

[2022-04-05 15:07] Riaankl commented on #3577
/assign @BobyMCbobs

[2022-04-06 00:17] hh commented on #3595
Maybe put the code within `k/k8s.io infra/aws/registry.k8s.io/buckets` for now.

[2022-04-06 00:19] Riaankl commented on #3595
Form the [data](https://github.com/kubernetes-sigs/oci-proxy/issues/39#issuecomment-1085230292) these are the regions:

us-west-2
us-west-1
us-east-1
eu-central-1
eu-central-1
us-east-2
ap-southeast-1
us-west-1
ap-northeast-1
ap-south-1

[2022-04-06 07:33] ameukam commented on #3596
I added a new site `artifacts.k8s.io` in the console but according to https://community.cloudflare.com/t/how-to-activate-cloudflare-for-saas/341817/3, we need to enable `Custom Hostnames` for the Cloudflare for SaaS. This feature requires a billing account.

[2022-04-06 11:32] ameukam opened #3600 "BOSKOS sometimes fails to be recreated"
# Description

The Boskos instance running inside the community-owned GKE build clusters sometimes fails to get recreated after rescheduling.

This is seems to be related to a `containerd` bug present in the current version we are currently using.

[code]

Initial finding: https://github.com/kubernetes/kubernetes/issues/107561
`containerd` issue: https://github.com/containerd/containerd/issues/460

[2022-04-06 21:02] ameukam commented on #3596
Thanks to @Albertozhao we have access to :

 - https://developers.cloudflare.com/cloudflare-one/
 - https://developers.cloudflare.com/workers/

Switched to the `Enterprise plan`.

[2022-04-06 21:21] ameukam commented on #1469
/remove-lifecycle stale

[2022-04-07 13:39] ameukam commented on #3596
Following instructions in https://developers.cloudflare.com/dns/zone-setups/partial-setup/setup/, `k8s.io` is now a partial zone for Cloudflare.

![image](https://user-images.githubusercontent.com/2343515/162212349-c8cf87e3-dc5b-4aac-a61f-e69a1a18ec3c.png)

[2022-04-07 16:35] dims commented on #3600
[code]

[2022-04-07 20:31] ameukam commented on #2216
@jimangel I think we can close this. It's been exactly 30 days since we added the CAA record for `k8s.io`. WDYT ?

[2022-04-07 20:43] ameukam commented on #3568
IMHO we should try to follow some aspects of the infrastructure created for @kubernetes/release-engineering: https://github.com/kubernetes/sig-release/blob/master/release-engineering/gcp.md #release-engineering .

- Reuse the [created](https://github.com/cncf/credits/issues/1) account where we will do active development taking into consideration https://github.com/kubernetes-sigs/promo-tools/issue

[2022-04-08 00:45] Riaankl commented on #3568
The PR address the teraform of S3 buckets.
https://github.com/kubernetes/k8s.io/pull/3605

[2022-04-08 00:47] Riaankl commented on #3595
The PR address the teraform of S3 buckets.
#3605

[2022-04-08 10:37] ameukam commented on #3600
`boskos-reaper` was also affected by the bug. The `boskos-reaper` pod was stuck in `ContainerCreating`.

<img width="1483" alt="image" src="https://user-images.githubusercontent.com/2343515/162417935-be26c1de-603d-4482-a0fa-22dd82968cc9.png">

Direct consequence is the lack of cleaning of GCP resources by boskos.

<img width="1708" alt="image" src="https://user-images.githubusercontent.com/2343515

[2022-04-08 17:07] ameukam commented on #3596
I added a page rule for `k8s-infra-cdn-cf-sandbox-ame.k8s.io`. A DNS validation is required : https://github.com/kubernetes/k8s.io/pull/3607

[2022-04-09 08:12] ameukam commented on #2388
/remove-lifecycle stale

[2022-04-09 08:15] ameukam commented on #1571
/remove-lifecycle stale

[2022-04-09 16:45] eddiezane commented on #1921
This should be sorted.

/close

[2022-04-09 16:45] #1921 closed

[2022-04-11 01:01] hh commented on #3568
I thought Jay had decided on a list of about 10 regions?

Also, let's ensure we put forward a similar document to https://github.com/kubernetes/sig-release/blob/master/release-engineering/gcp.md #release-engineering in the coming weeks.

[2022-04-13 20:17] hh commented on #3577
During the #sig-k8s-infra meeting on 14th of April we noted some corrections we need to take.

Caleb made a comment.

[2022-04-13 20:25] hh commented on #3595
@BobyMCbobs we need a project to run this in. To create the buckets
Breakdown

[2022-04-13 20:34] hh commented on #3595
@jaypipes working with Adolfo to run the mirroring.
Jay has what he needs. Unblocked currently.

@arnaud >

We should do a one sync copy from GCS to S3... 10 buckets is going to take a while.

If we do the one sync, then later use the mirror to push these options. It's going to be easier, as we already have a copy of the source of truth over s3 so we don't waste time.
@dims >

We already have one

[2022-04-13 20:35] hh commented on #3595
Arnaud is going to create another issue, lets be sure it's on the board.

[2022-04-13 20:36] hh commented on #3596
@ameukam we will move this off the board until we get a contract with cloudflare contract / account.

[2022-04-13 20:37] hh commented on #3596
Current process is going through Steering to get asks CNCF for interactions.

[2022-04-13 22:14] ameukam opened #3620 "build sandbox infrastructure for images-layers"
Part of:
  - https://github.com/kubernetes/k8s.io/issues/3568

# Context

Build a development environment to explore AWS S3 capabilities in order to achieve goals defined in the [design doc](https://docs.google.com/document/d/1yNQ7DaDE5LbDJf9ku82YtlKZK0tcg5Wpk9L72-x2S2k/)

See: https://github.com/kubernetes/k8s.io/wiki/New-Registry-url-for-Kubernetes-(registry.k8s.io)

## Implementation

 Reuse th

[2022-04-13 22:15] ameukam commented on #3620
cc @jhoblitt @BobyMCbobs

[2022-04-13 23:29] BobyMCbobs commented on #3577
The service account related requirements are located over here
https://github.com/kubernetes-sigs/oci-proxy/issues/41

These updates I'm not sure if they're done in k/k8s.io or if I'm able to perform them.

[2022-04-13 23:34] hh opened #3622 "Create a test account"
This may be in an umbrella issue, please convert this into a issue.

[2022-04-13 23:34] hh opened #3623 "sync blobs from k8s.gcr.io to AWS S3 buckets"
Production buckets have been created in https://github.com/kubernetes/k8s.io/issues/3595.

Ideally ensure the blobs from k8s.gcr.io are replicated to those buckets.

[2022-04-13 23:40] hh opened #3624 "Test linking PRs to Issues"
Testhing linking PRs to an Issue Using a Keyword

https://docs.github.com/es/enterprise-server@3.3/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword

[2022-04-14 12:43] ameukam commented on #3317
/milestone v1.24
/priority important-soon

[2022-04-14 12:44] ameukam commented on #3324
/area infra
/priority important-longterm

[2022-04-15 11:09] ameukam commented on #3596
Currently we can service some artifacts (for example an artifact from kops) with the HTTP protocol.

[code]

[code]

The only thing missing is how to make Cloudflare handle HTTPS connections. A simple try (using `httpie`):

[code]

[2022-04-21 06:06] ameukam commented on #3494
Sorry for not taking care of this now. The main effort is focused on 1.24 out in 2 weeks. I'll get back when 1.25 start.

/milestone v1.25

[2022-04-21 09:36] ameukam commented on #3595
@hh From https://kubernetes.slack.com/archives/CCK68P2Q2/p1650407982934869, I'm now not sure if we need to created a new issue.

[2022-04-21 18:48] BenTheElder commented on #3577
done in https://github.com/kubernetes/k8s.io/pull/3663
/close

[2022-04-21 18:48] #3577 closed

[2022-04-21 19:57] BenTheElder commented on #1527
I dont even see a registry under gcr.io/kubernetes-node-e2e-images ?

[2022-04-21 20:05] ameukam commented on #1527
@BenTheElder This project contains disk images for Compute instances. See https://github.com/kubernetes/k8s.io/issues/1527#issuecomment-887193027.

@endocrimes I still see references of this project: https://cs.k8s.io/?q=kubernetes-node-e2e-images&i=nope&files=&excludeFiles=&repos=
Can we drop https://github.com/kubernetes/kubernetes/blob/f173d01c011c3574dea73a6fa3e20b0ab94531bb/hack/make-rules/te

[2022-04-21 20:29] BenTheElder commented on #1527
ah, yes I see images in https://console.cloud.google.com/compute/images?tab=images&project=kubernetes-node-e2e-images

[2022-04-21 20:41] endocrimes commented on #1527
@ameukam sure I'll drop it in a bit

[2022-04-21 20:42] endocrimes commented on #1527
actually gonna drop the list images stuff all together, it's not useful any mroe

[2022-04-21 23:36] Riaankl opened #3666 "bulk sync existing image layers to these s3 layers as a starting point (from GCS/GCR)"
Creating this draft based on https://github.com/kubernetes/k8s.io/wiki/New-Registry-url-for-Kubernetes-(registry.k8s.io)#what-exactly-are-you-doing

We will bulk sync existing image layers to these s3 layers as a starting point (from GCS/GCR)

Also from our April 13th meeting: https://github.com/kubernetes/k8s.io/issues/3595#issuecomment-1098462663

We should do a one sync copy from GCS to S3... 1

[2022-04-21 23:37] Riaankl commented on #3666
/assign @jaypipes
Converted draft into an issue.

[2022-04-21 23:39] Riaankl opened #3667 "General concern over infrastructure focus on the bucket, would like some: Best Practice on Security"
These buckets will likely be around for 10 years.
This doesn't seem to expressed. Arnaud would like to have Ted/Jay advise us about this.

Jay : We can setup cloud trail facilities. Ted already signed of on buckets+iam roles.

Arnaud: It's not about service, it's about the policy we need to put in place. For example, you can have access logs.

Lay out some security policy about those buckets. When

[2022-04-21 23:41] Riaankl commented on #3667
/assign @jaypipes @BobyMCbobs
/cc @sftim
Converted draft into issue

[2022-04-21 23:41] Riaankl commented on #3667
https://kubernetes.slack.com/archives/CCK68P2Q2/p1650579215464579

[2022-04-22 01:47] ameukam commented on #1527
/milestone v1.25

[2022-04-22 02:19] ameukam commented on #3620
cc @sftim

[2022-04-22 03:14] BobyMCbobs commented on #3595
# Update for things
@jaypipes and I have been paring on setting up the accounts in a organized manner and are setting up a new account for the registry buckets to go into.

The structure is root/Kubernetes _(OU)_/registry.k8s.io _(OU)_/k8s-infra-aws-registry-k8s-io-admin@kubernetes.io _(account)_.

Currently in the middle of sorting IAM access to this account for provisioning the buckets and IAM r

[2022-04-22 10:34] sftim commented on #3620
What information can we add to this issue to make it easier for a newcomer to help?

[2022-04-22 12:20] sftim commented on #3667
Would anyone like to do a security review, and would also like some help?

[2022-04-22 13:14] ameukam commented on #3620
I think we need to provide more context about what we are trying achieve. I updated the description. But this issue is targeted for individuals with good knowledge of AWS.

[2022-04-22 13:25] sftim commented on #3620
To clarify: can we help someone who is confident in AWS, but new to the infrastructure SIG?

[2022-04-23 10:47] ameukam commented on #3620
@sftim short answer: Yes. How to onboard can be defined over time. For AWS, I would say the only requirement is knowledge of the [HCL](https://www.terraform.io/language/syntax/configuration) but it's not a strong requirement.

[2022-04-25 16:58] jimangel commented on #2216
LGTM! Thanks!
/close

[2022-04-25 16:58] #2216 closed

[2022-04-25 17:12] ameukam commented on #2125
/transfer-issue org

[2022-04-27 03:00] jimdaga commented on #2182
Hopefully have the final two PRs needed to consider this "go-live" ready.

Looking for an LGTM for these two:

- https://github.com/kubernetes/k8s.io/pull/3679
- https://github.com/kubernetes/test-infra/pull/26105

[2022-04-27 20:48] ameukam commented on #3595
From meeting April 27,
Excepting production buckets by end of the week. If not create S3 buckets in the sandbox account.

[2022-04-29 01:22] BobyMCbobs commented on #3595
# Bucket update

Tried to do an initial password (re)set for the k8s-infra-aws-registry-k8s-io-admin@kubernetes.io AWS account.
@dims has been monitoring the emails from that address and no email has come through.

Will be paring with @jaypipes when next available to complete it.

[2022-05-01 15:24] #3307 closed

[2022-05-02 04:00] nikhita commented on #2430
/remove-lifecycle stale

On Mon, 2 May 2022 at 02:26, Kubernetes Triage Robot <
***@***.***> wrote:

[2022-05-03 00:05] Riaankl commented on #3595
Buckets created in https://github.com/kubernetes/k8s.io/pull/3693

[2022-05-03 21:54] Riaankl commented on #3595
add in eu-west-1 AWS region https://github.com/kubernetes/k8s.io/pull/3699

[2022-05-04 10:15] ameukam commented on #1527
/lifecycle rotten

[2022-05-04 11:06] endocrimes commented on #1527
https://github.com/kubernetes/kubernetes/pull/109606 merged - should be safe to remove the project whenever now

[2022-05-04 11:33] ameukam commented on #2417
/milestone v1.26

[2022-05-04 11:55] ameukam commented on #1458
/milestone v1.25

[2022-05-04 11:59] ameukam commented on #1590
/milestone clear
/lifecycle frozen

[2022-05-05 17:25] dprotaso commented on #3356
/lifecycle frozen

[2022-05-11 20:40] eddiezane opened #3725 "OCI Registry to test Kustomize Helm integration"
The Kustomize team is requesting an OCI registry to test a Helm integration.

https://github.com/kubernetes-sigs/kustomize/pull/4614

@mikebz @KnVerey @natasha41575 we'll need the Google account you want associated with the IAM group.

[2022-05-12 02:49] ameukam commented on #3459
The clusters stopped to auto-upgrade again. I will take a look
/milestone v1.25

[2022-05-12 02:50] ameukam commented on #3327
Can be considered as done. No issues until now.
/close

[2022-05-12 02:50] ameukam commented on #3556
/milestone v1.25

[2022-05-12 02:50] #3327 closed

[2022-05-12 02:51] ameukam commented on #2279
/milestone clear.
At this point there is no need to update the services enabled. the project is actually for experimental purposes.
/close

[2022-05-12 02:51] ameukam commented on #3411
/milestone v1.25

[2022-05-12 02:51] #2279 closed

[2022-05-12 02:52] ameukam commented on #1571
/milestone v1.25

[2022-05-12 02:53] ameukam commented on #3596
Waiting feedback from @Albertozhao
/milestone v1.25

[2022-05-12 02:53] ameukam commented on #1469
/milestone v1.25

[2022-05-12 02:54] ameukam commented on #3317
We can call this done. most of the work around this environment is a continuous process.
/close

[2022-05-12 02:55] #3317 closed

[2022-05-12 02:55] ameukam commented on #3620
/milestone v1.25

[2022-05-12 02:55] ameukam commented on #2182
/milestone v1.25

[2022-05-12 02:55] ameukam commented on #2430
/milestone v1.25

[2022-05-12 02:55] ameukam commented on #1310
/milestone clear

[2022-05-12 02:56] ameukam commented on #1743
/milestone clear

[2022-05-12 02:57] ameukam commented on #3205
/milestone v1.25

[2022-05-12 02:57] ameukam commented on #1569
/lifecycle frozen
/milestone clear

[2022-05-12 02:58] ameukam commented on #2396
/milestone clear
/lifecycle frozen
/priority backlog

[2022-05-12 02:58] ameukam commented on #3131
/milestone v1.25

[2022-05-12 02:59] ameukam commented on #787
/milestone clear
/lifecycle frozen
/priority backlog

[2022-05-12 02:59] ameukam commented on #2588
/milestone clear

[2022-05-12 03:00] ameukam commented on #2173
Really to take care of this.
/milestone v1.25

[2022-05-12 03:00] ameukam commented on #1943
/milestone clear

[2022-05-12 03:00] ameukam commented on #3568
/milestone v1.25

[2022-05-12 03:02] ameukam commented on #3600
No incidents until now. Let's keep it under the radar. Long term solution is impactful for the build clusters

/milestone v1.25
/priority important-longterm

[2022-05-12 03:03] ameukam commented on #1544
No report for the original author. Let's close this. Please reopen with more details if the issue still exists

/close

[2022-05-12 03:03] #1544 closed

[2022-05-12 03:04] ameukam commented on #1625
/milestone v1.25

[2022-05-12 03:05] ameukam commented on #1307
/milestone clear
/priority backlog
/lifecycle frozen

[2022-05-12 03:05] ameukam commented on #1375
/milestone clear

[2022-05-23 17:58] BenTheElder commented on #1343
This topic came up again, adding some more up to date notes ...

We'll have to start discussing this more soon.

It is now, and we've disabled it anyhow due to cost anyhow https://github.com/kubernetes/k8s.io/issues/1963

Not automatically / with anything standard ... k8s.gcr.io is special (it performs regionalizing to {eu,us,asia}.gcr.io/k8s-artifacts-prod), however, as long as the endpoint speak

[2022-05-26 12:03] leonardpahlke commented on #3071
/assign @RobertKielty

[2022-06-02 11:27] davidjumani opened #3796 "DNS REQUEST: cluster-api-cloudstack.sigs.k8s.io"
### Type of DNS update:
`Create`

### Domain being modified:
`k8s.io`

### New DNS Record:

[code]

### Reason for update:

- Part of https://github.com/kubernetes/org/issues/3318

[2022-06-02 11:42] rohityadavcloud commented on #3796
+1 thanks for opening this @davidjumani

[2022-06-02 20:33] #1660 closed

[2022-06-03 12:38] endocrimes commented on #1527
/reopen

I think we just need Google infra folks to remove the project now?

[2022-06-06 17:09] upodroid opened #3807 "Consider using Kubernetes Service Accounts to authenticate with AWS"
You can leverage OIDC to login to AWS instead of access keys.

You'll need to do the following:
- Create an ID Provider with the following command:
[code]
- Create a role that looks like this:
[code]
- Deploy a pod like this:
[code]

https://cloud.google.com/anthos/clusters/docs/multi-cloud/aws/how-to/use-workload-identity-aws This particular feature isn't restricted to Anthos Clusters.

/area inf

[2022-06-07 18:10] #3796 closed

[2022-06-07 20:14] #2490 closed

[2022-06-08 20:20] ameukam commented on #3595
@BobyMCbobs @jaypipes Can we get the full list of the buckets names and the ARNs of those buckets ?

[2022-06-10 07:58] BobyMCbobs commented on #3595
@ameukam, the bucket names and ARNs are as follows
- arn:aws:s3:us-west-1:768319786644:prod-registry-k8s-io-us-west-1
- arn:aws:s3:us-west-2:768319786644:prod-registry-k8s-io-us-west-2
- arn:aws:s3:us-east-1:768319786644:prod-registry-k8s-io-us-east-1
- arn:aws:s3:us-east-2:768319786644:prod-registry-k8s-io-us-east-2
- arn:aws:s3:eu-central-1:768319786644:prod-registry-k8s-io-eu-central-1
- arn:aw

[2022-06-13 06:11] ameukam commented on #1523
/remove-lifecycle stale

[2022-06-13 06:12] ameukam commented on #1666
/remove-lifecycle stale

[2022-06-13 06:12] ameukam commented on #1665
/remove-lifecycle stale

[2022-06-13 15:55] ameukam commented on #1695
/remove-lifecycle stale
/milestone clear
/lifeccyle frozen

[2022-06-13 15:55] ameukam commented on #1695
/lifecycle frozen

[2022-06-13 15:55] ameukam commented on #1308
/remove-lifecycle stale

[2022-06-13 15:56] ameukam commented on #2854
/remove-lifecycle stale
/milestone clear
/lifecyle frozen

[2022-06-13 19:25] jrsmroz opened #3832 "echoserver:2.5 does not work on arm64 arch"
### Problem statement
The [registry.k8s.io/e2e-test-images/echoserver:2.5](http://registry.k8s.io/e2e-test-images/echoserver:2.5) does not seem to work on arms64 linux VM. I got an error

[code]

The nginx version is rather old `NGINX_VERSION=1.15.12`. That's a version from 16 Apr 2019. Newest version of nginx is from 25 Jan 2022.

## Expected behaviour
echoserver running up to date version of ngi

[2022-06-14 01:59] dims opened #3836 "Need a new hack/ verify script that validates project name length"
From https://cloud.google.com/resource-manager/docs/creating-managing-projects we have the following restrictions:
[code]

For example the following project name is invalid `k8s-staging-cloud-provider-openstack`:
https://github.com/kubernetes/k8s.io/blob/343320108a89136fd4cad92b1dda6765d251dffe/infra/gcp/infra.yaml#L274

So we need a shellscript that uses `yq` to enumerate the projects in the `/in

[2022-06-14 02:21] puerco opened #3837 "Presubmit to check for tag moves"
We keep image tags in the Kubernetes registries immutable. While the image promoter does not support moving them, it is not evident to contributors that promotion manifests should not attempt to change them.

We should create a presubmit to check image promotion manifests to ensure tags are not moved to another digest this would prevent us spending community resources to spin up a promoter job whi

[2022-06-14 02:38] Priyankasaggu11929 commented on #3836
/assign

[2022-06-15 03:06] MartinForReal opened #3840 "DNS REQUEST: cloud-provider-azure.sigs.k8s.io"
### Type of DNS update:
Create
### Domain being modified:
k8s.io
### New DNS Record:

[code]

### Reason for update:

The cloud proviider azure subproject has requested a netlify site to host its documentation via https://github.com/kubernetes/org/issues/3268?notification_referrer_id=NT_kwDOAE91trIzMTI0MjY5NzcyOjUyMDc0Nzg#issuecomment-1155121919

[2022-06-15 07:28] piyushkv1 opened #3843 "server in k8s.gcr.io/liveness image broken"
Liveness is configured using
[code]
Liveness started failing. It used to pass 10 days before.
[code]

[2022-06-15 07:39] ameukam commented on #3843
/transfer kubernetes

[2022-06-15 10:03] ameukam commented on #3595
@BobyMCbobs Thanks!!! I took the liberty edit the AWS accounts to avoid potential attacks.

[2022-06-15 15:18] ameukam commented on #3832
/transfer kubernetes

/remove-sig k8s-infra

[2022-06-15 15:19] ameukam commented on #3494
@nehaLohia27 Sorry. I didn't have the bandwidth to take care of this. Should be take care before end of the milestone.

[2022-06-15 15:59] jaypipes commented on #3595
I don't think there's anything particularly sensitive about the AWS account ID, @ameukam :)

[2022-06-21 09:42] ameukam commented on #3108
/remove-lifecycle stale

[2022-06-22 10:16] ameukam commented on #3595
@BobyMCbobs Now the buckets are up, what are the blockers to sync from the blobs from k8s.gcr.io to all those buckets ?

[2022-06-22 10:18] ameukam commented on #3623
/retitle sync blobs from k8s.gcr.io to AWS S3 buckets

[2022-06-22 10:19] ameukam commented on #3623
/assign @BobyMCbobs

/milestone v1.25
/priority important-soon
/sig k8s-infra

[2022-06-22 10:23] ameukam commented on #3620
The main intent is to provide an environment with some autonomy for the contributors to implement the tooling needed to achieve the goal defined in https://github.com/kubernetes-sigs/promo-tools/issues/533. I'm open to different propositions.

[2022-06-24 03:41] thockin commented on #3595
Hey all, If this is done - who has access to these buckets and how do we govern that?  We really really need to move this forward ASAP.

What's blocking?

[2022-06-24 05:14] BenTheElder commented on #3595
xref: https://github.com/kubernetes/k8s.io/issues/3807 for a possible option to allow CI jobs to access AWS without storing creds once bootstrapped via workload identity.

Alternatively, if someone who has access currently can at least do a one-off sync https://github.com/kubernetes/k8s.io/issues/3623 of the current contents, we can at least make progress on rolling out "traffic to AWS" in registr

[2022-06-24 05:22] BenTheElder commented on #3623
see also https://github.com/kubernetes/k8s.io/issues/3666 "bulk sync existing image layers to these s3 layers as a starting point (from GCS/GCR)"

[2022-06-24 13:52] #3840 closed

[2022-06-26 23:28] ameukam commented on #1459
/remove-lifecycle stale
/lifecycle frozen

[2022-06-27 00:05] Riaankl commented on #1343
/cc @hh @BobyMCbobs

[2022-06-27 01:02] Riaankl commented on #3595
/cc @jaypipes

[2022-06-27 13:11] STYNET opened #3903 "unmount volume with patch"
Hello,

I have pached a deployment for mount a new volume.
This my patch :
[code]

I work and now i have 3 volumes (2 old and 1 new).
This my deployment's describe :
[code]

For example, I need to unmounted rep2 (and remove pvc2) with a patch.
How do make this ?

Thank for your help.

[2022-06-27 20:07] ameukam commented on #3903
/transfer kubernetes
/remove-sig k8s-infra

[2022-06-28 22:48] BobyMCbobs commented on #3623
Depends on https://github.com/cncf-infra/aws-infra/issues/4

[2022-06-28 22:50] BobyMCbobs commented on #3595
Depends on https://github.com/cncf-infra/aws-infra/issues/4

[2022-06-29 15:59] upodroid opened #3918 "Configure Terraform presubmits and postsubmit jobs"
We have a number of projects managed by terraform at https://github.com/kubernetes/k8s.io/tree/main/infra/gcp/terraform.

However, these currently projects require manual deployment by sig-k8s-infra leads and others which is blocking rapid iteration of the GCP infra.

We need to configure some automation to deploy these changes safely.

Google Cloud Changes:
1. Create a new project that holds a pr

[2022-06-29 16:00] upodroid commented on #3918
/kind feature
/priority important-soon

[2022-06-29 16:22] ameukam commented on #3918
Why this issue is scoped to GCP only ? we have the same problem with AWS. I would be interesting to introduce the same pattern to the existing cloud providers ?

[2022-06-29 16:29] upodroid commented on #3918
AWS can be enabled by completing #3807. Will add this to the body of the issue.

[2022-07-04 06:55] ameukam commented on #2310
/remove-lifecycle stale
/milestone v1.26

[2022-07-04 06:55] ameukam commented on #2218
/remove-lifecycle stale

[2022-07-05 01:25] BobyMCbobs opened #3929 "Enable registry.k8s.io AWS S3 bucket access logging"
In order to see the cost saving and gauge the metrics of the traffic, S3 bucket access logs must be enabled.
A new bucket must be created to put the logs into and then the configuration to push the logs to the bucket must also be configured.

Related: https://github.com/kubernetes-sigs/oci-proxy/issues/90

[2022-07-05 03:55] BobyMCbobs commented on #3929
/assign

[2022-07-05 08:47] ameukam commented on #3929
/sig k8s-infra
/priority important-longterm
/milestone v1.26

[2022-07-05 08:48] ameukam commented on #3837
/help

[2022-07-05 08:50] ameukam commented on #3836
@Priyankasaggu11929 are we consider this as done ?

[2022-07-05 08:51] Priyankasaggu11929 commented on #3836
yes @ameukam :)

[2022-07-05 08:52] ameukam commented on #3666
/sig k8s-infra
/priority backlog
/milestone v1.25

Ref: https://github.com/kubernetes/k8s.io/issues/3595

[2022-07-05 08:53] ameukam commented on #3622
Duplicate of https://github.com/kubernetes/k8s.io/issues/3620.
/close

[2022-07-05 08:53] #3622 closed

[2022-07-05 08:56] ameukam commented on #3595
/sig k8s-infra
/area infra
/area release-eng
/priority critical-urgent
/milestone v1.25
/close

Follow-up:
  - https://github.com/cncf-infra/aws-infra/issues/4
  - https://github.com/kubernetes/k8s.io/issues/3623

[2022-07-05 08:56] #3595 closed

[2022-07-05 09:07] ameukam commented on #249
There are have been mutliple efforts to work away from bazel:

- https://github.com/kubernetes/enhancements/issues/2420
- https://github.com/kubernetes/test-infra/issues/23832#issuecomment-1050424930

A this point. GCP RBE have been deprecated and removed from GCP services.

/close

[2022-07-05 09:23] ameukam commented on #3836
@Priyankasaggu11929 Thanks!

/sig k8s-infra
/milestone v1.25
/close

[2022-07-05 09:24] #3836 closed

[2022-07-05 21:45] thockin commented on #3595
Why close this if it is not accessible yet?

On Tue, Jul 5, 2022 at 1:56 AM Kubernetes Prow Robot <
***@***.***> wrote:

[2022-07-05 22:09] ameukam commented on #3595
The purpose of the issue was to make sure the buckets exist whether private or public. anonymous access to those is a different goal and I think we should direct future questions to https://github.com/cncf-infra/aws-infra/issues/4 (currently admins access to those buckets is handled by CNCF).

[2022-07-06 20:55] BobyMCbobs opened #3935 "Add list support to registry.k8s.io S3 buckets"
From the July 6th/7th k8s-infra meeting.

It might be useful to support listing of the blobs for these buckets.

/assign

[2022-07-06 21:28] ameukam commented on #3935
The main intent is to replicate the existing behavior from the GCS buckets. e.g.

[code]

[2022-07-06 21:29] ameukam commented on #3935
/sig k8s-infra
/area infra
/milestone 1.25
/priority important-soon

[2022-07-06 21:39] ameukam commented on #3623
@BobyMCbobs I think we need that until proper tooling is built to handle what I'm suggesting properly. We want to be sure the buckets are fully synced before we start to use the image promotion process to push container blobs from GCR/AR to the S3 buckets. I suggest a full sync for the S3 buckets if we don't find a smart and better approach to this. According to https://rclone.org/commands/rclone_

[2022-07-06 23:21] BobyMCbobs commented on #3935
Depends on https://github.com/cncf-infra/aws-infra/pull/10

[2022-07-07 06:23] #3935 closed

[2022-07-07 23:15] Riaankl commented on #3623
Update on the bucket sync!
After a day of syncing and adding some looping to stop it from timing out the bucket s3://prod-registry-k8s-io-us-east-2 is now pulled across.
Currently trying to bring in the rest of the buckets
https://kubernetes.slack.com/archives/CCK68P2Q2/p1657169494211579

[2022-07-08 09:45] ameukam commented on #2388
/remove-lifecycle stale

[2022-07-08 22:44] endocrimes commented on #1527
/reopen
/lifecycle frozen

I think @BenTheElder is on PTO, but hopefully we can finish this when he's back

[2022-07-08 22:45] endocrimes commented on #1527
/assign @BenTheElder

[2022-07-11 15:13] #3459 closed

[2022-07-12 16:08] upodroid opened #3961 "Start Publishing Staging Images to Artifact Registry"
Part of: #1343

Notes: https://gist.github.com/upodroid/a33723a7e1abc5e9c6fabc6b07e7aac0

When images are built after a PR is merged, they need to be pushed to Artifact Registry(AR).

~Unlike Google Container Registry(GCR), you don't need a separate GCP project per staging project. The permission boundary is at the repository level instead of the project. This allows multiple registries to be crea

[2022-07-12 22:41] PushkarJ commented on #3494
@ameukam (when you are back) This is part of https://github.com/kubernetes/enhancements/issues/3203 tracked for v1.25.

Much of our implementation depends on having this GCS bucket created. What's the best way we can help you get this created?

[2022-07-13 11:34] upodroid commented on #3961
After #3968 is merged, we need to do a few things:
- repos that use ko to build images(k-sigs/bom,etc), modify KO_DOCKER_REPO variable to `us-docker.pkg.dev/k8s-staging-bom/images/bom` as an example
- Modify image-builder to tweak the cloudbuild.yaml file

Bit unsure about other things.

[2022-07-13 17:52] upodroid opened #3975 "Bulk copy images from Google Container Registry to Artifact Registry"
Parent issue: #1343

@jeremyrickard @puerco Thanks for the call earlier.

We'll need to write a periodic prow job that bulk copies images from `*.gcr.io/k8s-artifacts-prod` to `*-docker.pkg.dev/k8s-artifacts-prod/images` repositories.

This job can be removed once all the images have been synced and changes in #3956 for manifests has been applied to all projects.

We could do something like https:

[2022-07-13 18:13] upodroid opened #3976 "Google Container Registry to Artifact Registry Migration Timelines"
Parent issue: #1343

@jeremyrickard @puerco

Migration Plan:
- ~~Deploy required infra #3968~~
- ~~Fix oci-proxy bug https://github.com/kubernetes-sigs/oci-proxy/pull/87 (**Urgent** - blocking oci-proxy from serving images from GCR)~~
- ~~#3956~~
- ~~#4065~~
- ~~https://github.com/kubernetes-sigs/promo-tools/pull/619~~
- ~~#4282~~
- ~~#3975~~
- ~~https://github.com/kubernetes/k8s.io/pull/4258 (**U

[2022-07-13 18:13] upodroid commented on #3976
/area artifacts
/area release-eng
/area k8s.gcr.io
/priority important-soon
/sig release
/sig k8s-infra

[2022-07-14 13:01] Priyankasaggu11929 opened #3978 "REQUEST: Generate a new GITHUB TOKEN for Prow jobs with github cli that operate on the GitHub Project Beta board"
The Kubernetes Release Team Enhancements sub-project is attempting to move away from using a Google Spreadsheet (as is [presently done](https://docs.google.com/spreadsheets/d/1Lnft8598eIQsqBp8W6X_LwaqBNZViYssQoFgGS8aJ3g/edit#gid=0)) and towards a more GitHub friendly solution for tracking KEP/enhancements that are opted-in during a Kubernetes release cycle.

The team proposes using a Periodic prow

[2022-07-14 14:35] ameukam commented on #3978
/transfer org

[2022-07-18 22:11] BobyMCbobs commented on #3623
@ameukam, sure. How may I best provide the creds?

[2022-07-19 06:56] ameukam commented on #3623
@BobyMCbobs you can PM the AWS credentials on slack.

[2022-07-20 02:36] BobyMCbobs opened #3992 "registry.k8s.io S3 bucket auditing"
Currently there's GCP auditing of events and resource usage in https://github.com/kubernetes/k8s.io/tree/main/audit.
I'd would be good to have auditing of the registry.k8s.io S3 buckets, writing to a repo when new objects are uploaded.

The auditing could be as simple as
[code]
in a CI job, making a PR into the k8s.io repo.

related: https://github.com/kubernetes/k8s.io/issues/1834, https://github

[2022-07-20 20:34] BobyMCbobs commented on #3992
/area k8s.gcr.io
/area registry.k8s.io
/sig k8s-infra

[2022-07-20 23:06] BobyMCbobs commented on #3992
I'm playing around with this idea over here

https://github.com/ii/registry-k8s-io-s3-object-audit

[2022-07-20 23:32] Riaankl commented on #3666
data sync complete
Thank you @jaypipes @BobyMCbobs

[2022-07-20 23:32] #3666 closed

[2022-07-20 23:34] Riaankl commented on #3623
Bucket created and synced
/close

[2022-07-20 23:34] #3623 closed

[2022-07-21 18:39] Riaankl commented on #3667
/remove-lifecycle stale

Buckets is created and ready. This issue need attendtion soon.

[2022-07-26 17:46] upodroid commented on #3961
Spoke about this at the sig-testing meeting. Will push it out to the future when GCR deprecation is actually announced by Google.

_May want to standardize on Aritfact Registry eventually, but would require tracking down a number of staging registries and changing team push processes (with unclear payoff right now)_

/priority backlog
/sig testing

[2022-07-29 21:10] PushkarJ commented on #3494
Just confirmed a few things post merge of https://github.com/kubernetes/k8s.io/pull/4009

- A user(me) from security-tooling-private is able to write to the bucket
- View access is public for all
- Anonymous users are not able to write to the bucket and get this error `ServiceException: 401 Anonymous caller does not have storage.objects.create access to the Google Cloud Storage object.`

So I thin

[2022-07-29 21:10] #3494 closed

[2022-08-02 13:15] ameukam commented on #1458
/remove-lifecycle stale

[2022-08-03 07:35] ameukam commented on #2310
/remove-lifecycle rotten
/milestone v1.26

[2022-08-05 22:32] tabbysable opened #4056 "Transfer control of `kompose.io`"
`kompose.io` is used as a vanity domain for the Kompose documentation. It is hosted via GitHub Pages, and @cdrage maintains the registration and DNS.

For continuity, and to ensure Charlie doesn't have to worry about it personally anymore, let's transfer it to be under control of the project like the other domains are.

[2022-08-08 07:31] ameukam commented on #4056
@dims Do we need to forward this to CNCF ?

[2022-08-08 10:45] dims commented on #4056
@ameukam sounds like a service desk ticket is needed. ( cc @mrbobbytables or @cblecker )

[2022-08-08 13:02] ameukam commented on #3596
_Resume experimentation_

Cloudflare for SaaS has been enabled for us and I was to add the experiment as an origin server

![image](https://user-images.githubusercontent.com/2343515/183424170-6fddfc3a-7d4a-478d-8cbb-24f78bde6244.png)

[2022-08-08 13:03] mrbobbytables commented on #4056
@cdrage do you have a preferred email to loop into the CNCF to help coordinate? (will put it in the ticket)
Can also pm me on slack if you'd prefer not to share it on a public GH issue.

[2022-08-10 03:06] nikhita commented on #2430
/remove-lifecycle stale

On Wed, 10 Aug 2022 at 08:31, Kubernetes Triage Robot <
***@***.***> wrote:

[2022-08-10 05:11] ameukam commented on #3556
/remove-lifecycle stale

[2022-08-10 06:14] nikhita commented on #2182
/remove-lifecycle stale

@jimdaga do you have cycles to address the review on https://github.com/kubernetes/k8s.io/pull/3679?

[2022-08-10 13:26] imjasonh commented on #3131
I'd be happy to help with this if there's anything I can do. I don't know about how the website is deployed from these configs, but I can send a PR to update the image in the config to latest nginx stable ([`1.22-alpine`](https://hub.docker.com/_/nginx)) at least.

Trivy says `1.10-alpine` has 8 critical vulns and 14 high, compared to `1.22-alpine` which has 0/0.

[2022-08-10 14:01] ameukam commented on #3131
I prepared the rollout for this but never merged it: https://github.com/kubernetes/k8s.io/pull/3258. I'll update to match the 1.22 version

[2022-08-10 14:26] ameukam commented on #1571
/remove-lifecycle stale
/milestone v1.26

[2022-08-10 14:26] ameukam commented on #3411
/remove-lifecycle stale

[2022-08-10 14:27] ameukam commented on #3205
/remove-lifecycle stale

[2022-08-10 14:27] ameukam commented on #2588
/remove-lifecycle stale

[2022-08-10 14:27] ameukam commented on #2173
/remove-lifecycle stale
/milestone v1.26

[2022-08-10 14:29] ameukam commented on #1625
/remove-lifecycle stale
/milestone v1.26

[2022-08-10 14:34] ameukam commented on #3600
No incidents reported until now. The GKE clusters have upgrade to a 1.5 containerd version.

I'll considered this as solved.
/close

[2022-08-10 14:35] #3600 closed

[2022-08-12 21:58] BenTheElder commented on #2173
I think it's about time :-)

Found looking into #4078, something to circle back to
<img width="846" alt="Screen Shot 2022-08-12 at 2 55 35 PM" src="https://user-images.githubusercontent.com/917931/184450028-477a7ecb-794a-47f4-b162-b751b786f867.png">

[2022-08-16 07:15] #3975 closed

[2022-08-16 12:25] cdrage commented on #4056
@mrbobbytables (sorry, was on PTO for 6 days).

You can find my email on my personal site on my github profile! :)

[2022-08-16 17:12] dims commented on #3596
@ameukam what are the next steps here?

[2022-08-17 13:53] ameukam commented on #3324
/remove-lifecycle rotten
/milestone clear
/lifecycle frozen

[2022-08-17 19:47] Riaankl commented on #2920
This have been completed.
And run @ Scheduler updater on 12:00 Saturdays [#565](https://github.com/cncf/apisnoop/pull/565)

https://github.com/cncf/apisnoop/runs/6925855983?check_suite_focus=true

[2022-08-17 19:47] #2920 closed

[2022-08-17 19:56] ameukam opened #4094 "Continuously sync GCS to S3"
Follow-up of https://github.com/kubernetes/k8s.io/issues/3666:

We should ensure we Continuously sync the container images blobs for GCS to the AWS S3 buckets used by oci-proxy

[2022-08-17 19:58] ameukam commented on #3596
I was able to generate a certificate for the PoC domain.
we can now download kops binaries from Cloudflare

[code]

[2022-08-17 20:00] ameukam commented on #3596
Sign partnership with Cloudflare and move artifacts.k8s.io.

[2022-08-17 20:11] dims commented on #3596
@ameukam - please get in touch with @caniszczyk and figure out next steps on what's needed to do on the CNCF side and get Chris in touch with the folks from CloudFlare.

[2022-08-17 20:25] BobyMCbobs commented on #4094
My current progress

https://github.com/kubernetes/k8s.io/pull/3955

[2022-08-17 22:27] jberkus opened #4099 "Replace slack.k8s.io with redirect"
Infra,

We need to shut down the app (slackin) currently running at slack.k8s.io, and replace it with a redirect to https://communityinviter.com/apps/kubernetes/community.  It's not clear to me how to do this, particularly with TLS.

Alternately, if that's going to be very painful, we can embed an inviter widget into a simple web page, and run that in the place of Slackin as an app.

What's the be

[2022-08-18 19:31] BenTheElder commented on #4099
we have a redirector service at go.k8s.io (it's an nginx instance + GKE managed TLS certs / loadbalancer, config is in this repo), we could do the same thing here.

[2022-08-18 19:55] ameukam commented on #4099
To be more specific to what Ben said:

- Ensure `slack.k8s.io` go to `redirect.k8s.io` in the DNS config
- Ensure the nginx instance has the configuration to handle the redirection
- Ensure `slack.k8s.io` is an entry in the k8s.io wildcard certificate instead of a dedicated TLS certificate

[2022-08-18 20:04] dims commented on #4099
@ameukam one thing i was not sure about was - what to do with https://github.com/kubernetes/k8s.io/blob/c1f58df5705ea21fa55022e9ccf8ba6960116eb2/apps/slack-infra/resources/certificate.yaml#L7-L8

[2022-08-18 20:05] dims commented on #4099
Also i am not very sure about the steps for deploying https://github.com/kubernetes/k8s.io/pull/4105 - does one of you (@ameukam or @cblecker) want to please deploy?

[2022-08-18 20:06] ameukam commented on #4099
/milestone v1.26
/priority critical-urgent
/kind feature

[2022-08-19 13:12] ameukam commented on #4099
This is done.

[code]

@jberkus can we consider this done ?

[2022-08-19 14:12] dims commented on #4099
@jberkus here's the set of urls we tested.

[code]

[2022-08-19 15:29] ameukam commented on #3569
/remove-lifecycle rotten
/milestone v1.26

[2022-08-19 15:56] ameukam commented on #3131
I think we can close this.
/close

[2022-08-19 15:57] #3131 closed

[2022-08-19 20:20] spiffxp commented on #1469
/remove-lifecycle stale
/lifecycle frozen

[2022-08-19 21:26] ameukam commented on #1375
/remove-lifecycle stale
/lifecycle frozen

[2022-08-19 21:27] ameukam commented on #1525
/remove-lifecycle stale
/milestone v1.26

[2022-08-19 21:30] ameukam commented on #157
I think we are done with this. Image promotion is now part of the release process and use by the different SIGs and subprojects.

Thank you  everyone for the work done!
/close

[2022-08-19 21:30] #157 closed

[2022-08-19 21:33] ameukam commented on #1528
/remove-lifecycle rotten
We need to make about this during 1.26. Migration to Artifact Registry will happen during 1.26 milestone.

/milestone v1.26

[2022-08-19 21:33] ameukam commented on #1528
/remove-lifecycle rotten
We need to make about this during 1.26. Migration to Artifact Registry will happen during 1.26 milestone.

/milestone v1.26

[2022-08-19 22:00] jberkus commented on #4099
This looks done.  I'll add removing the slackin app as a follow-up for me.

/close

[2022-08-19 22:01] #4099 closed

[2022-08-19 22:09] ameukam commented on #3596
/milestone v1.26

[2022-08-19 22:09] jberkus commented on #4099
Follow-up: https://github.com/kubernetes/k8s.io/pull/4112

[2022-08-19 22:10] ameukam commented on #1469
/milestone v1.26
I'll try to do a few things before EOY.

[2022-08-19 22:11] ameukam commented on #3205
/milestone v1.26

[2022-08-19 22:11] ameukam commented on #3411
/milestone v.126

[2022-08-19 22:11] ameukam commented on #2182
/milestone v.126

[2022-08-19 22:11] ameukam commented on #3556
/milestone v.126

[2022-08-19 22:12] ameukam commented on #2430
/milestone clear

[2022-08-19 22:12] ameukam commented on #1527
/milestone clear

[2022-08-19 22:12] ameukam commented on #3918
/milestone v.126

[2022-08-19 22:13] ameukam commented on #3568
/milestone v.126

[2022-08-19 22:13] ameukam commented on #1343
/milestone v.126

[2022-08-19 22:13] ameukam commented on #3620
/milestone clear

[2022-08-19 22:19] ameukam commented on #2182
/milestone v1.26

[2022-08-19 22:19] ameukam commented on #1343
/milestone v1.26

[2022-08-19 22:19] ameukam commented on #3568
/milestone v1.26

[2022-08-19 22:20] ameukam commented on #3918
/milestone v1.26

[2022-08-19 22:20] ameukam commented on #3556
/milestone v1.26

[2022-08-19 22:20] ameukam commented on #3411
/milestone v1.26

[2022-08-22 09:14] upodroid commented on #3976
Updates:

- 22nd of Aug 2022: Images are automatically copied from us.gcr.io/k8s-artifacts-prod (GCR) to *-docker.pkg.dev/k8s-artifacts-prod/images (AR). oci-proxy can serve images from AR now.

[2022-08-22 10:46] upodroid opened #4119 "`registry.k8s.io` Production Readiness/Timelines"
`registry.k8s.io` is the community owned and managed image registry for the Kubernetes project and it has been running for sometime.

We need to do the following for it to be ready for production and wider rollout:

1. https://github.com/kubernetes/kubernetes/pull/109938
1. We need to manage the configuration of oci-proxy via Terraform and GitOps.
1. Upgrade oci-proxy to serve images from AWS. @Bo

[2022-08-22 22:38] BobyMCbobs opened #4123 "registry.k8s.io autodeploy"
registry.k8s.io (currently at https://github.com/kubernetes-sigs/oci-proxy) production and staging should both be managed in a GitOps way.

Related: https://github.com/kubernetes/k8s.io/issues/4119

[2022-08-22 22:38] BobyMCbobs commented on #4119
Putting step two into it's own issue to track it
https://github.com/kubernetes/k8s.io/issues/4123

[2022-08-22 22:40] hh commented on #4123
Existing prow jobs:
- https://github.com/kubernetes/test-infra/tree/master/config/jobs/kubernetes/sig-k8s-infra/oci-proxy
- https://github.com/kubernetes/test-infra/blob/master/config/jobs/image-pushing/k8s-staging-infra-tools.yaml#L2

[2022-08-22 22:42] BobyMCbobs commented on #4119
registry.k8s.io's code was enabled for S3 serving
https://github.com/kubernetes-sigs/oci-proxy/pull/82
i'm unsure if production has yet been deployed

cc @bentheelder @ameukam

[2022-08-23 18:37] ameukam commented on #1523
We need to come back to this and do a migration to Artifact Registry. Need a dedicated issue
/milestone clear

[2022-08-25 09:46] leonardpahlke commented on #3071
/close

[2022-08-25 09:46] #3071 closed

[2022-08-25 17:03] afzal442 commented on #3837
Any suggestion will be great.

cc @ameukam

[2022-08-25 18:58] ameukam commented on #4119
I'm not sure about the intent of the issue but we went in production with the release of 1.25.
Only Step 5 need some coordination since we don't have clear informations about when It's gonna be done

[2022-08-25 19:24] upodroid commented on #4119
I see it as more of a soft launch. We are missing everything I listed above that need to be sorted out very soon. prod isn't even serving anything from AWS yet.

[2022-08-25 19:36] ameukam opened #4141 "registry.k8s.io: S3 buckets metrics"
registry.k8s.io will use S3 buckets to distribute container blobs. we should be to get metrics generated by the network. AWS provides those metrics with AWS Cloudwatch.

https://docs.aws.amazon.com/AmazonS3/latest/userguide/metrics-dimensions.html#s3-cloudwatch-metrics

We should focus the scope of the metrics to the production buckets.

/milestone v1.26
/area artifacts
/priority important-longter

[2022-08-25 19:37] ameukam commented on #4141
@BobyMCbobs is there a way to access to those metrics outside of the AWS account of the production buckets ?
cc @Riaankl

[2022-08-25 19:38] ameukam commented on #4123
/sig k8s-infra
/milestone v1.26
/area infra
/priority important-soon

[2022-08-25 19:41] ameukam commented on #4094
/assign @BobyMCbobs
/priority important-soon
/milestone v1.26
/area artifacts

[2022-08-25 19:43] ameukam commented on #3667
/sig k8s-infra
/area infra
/priority important-longterm
/milestone v1.26

[2022-08-25 19:44] ameukam commented on #3961
/milestone v1.26

[2022-08-26 00:07] ameukam commented on #4141
@sftim pssible to do it using cross-account replication ?

[2022-08-26 15:37] ameukam commented on #2438
/milestone v1.26
/remove-lifecycle frozen
/remove-priority backlog

[2022-08-26 15:44] ameukam commented on #904
We are done with this. Migration to Artifact Registry (https://github.com/kubernetes/k8s.io/issues/1343) will imply a different approach to get logs.

I'll also delete
/close

[2022-08-26 15:44] #904 closed

[2022-08-26 15:51] ameukam commented on #2396
/remove-lifecycle frozen
/milestone v1.26
/priority important-longterm

[2022-08-26 15:53] ameukam commented on #1569
/remove-lifecycle frozen
/milestone v1.26

[2022-08-26 15:55] ameukam commented on #1590
/remove-lifecycle frozen
/milestone v1.26
/priority important-longterm

[2022-08-26 18:54] #2046 closed

[2022-08-29 20:41] BobyMCbobs commented on #4123
This must wait until there's the kubernetes/registry.k8s.io repo, for not repeating migration.

[2022-08-30 02:09] BobyMCbobs commented on #4094
From GCS to one of the S3 buckets may require a ProwJob and/or some GCS bucket specific configuration, if supported.

[2022-08-30 02:18] BobyMCbobs commented on #4141
@ameukam, I believe some job may need to be set up to scrape the metrics out and places them else where. Otherwise it might be the case for bucket replication through _rclone_. Looking more into it

[2022-08-30 08:21] sftim commented on #4141
S3 has continuous, managed replication - can we use that?

[2022-08-30 22:34] BenTheElder opened #4160 "turn down cert-manager"
AFAICT we've been using GKE managed certs for a while but cert-manager is still running in aaa / kubernetes-public.

We should turn this down, it's triggering the warning to migrate off extensions/v1beta1 ingress, and there's no point in running it if we're not using it.

[2022-08-31 21:42] BobyMCbobs commented on #4094
Pairing with @upodroid on this tomorrow.

[2022-09-04 21:49] Riaankl commented on #3807
/remove-lifecycle stale
Work in progress in `Add S3 sync jobs` [#27344](https://github.com/kubernetes/test-infra/pull/27344)

[2022-09-05 13:36] NitishKumar06 opened #4184 "K8s Hound showing Bad Gateway"
The following tool (https://cs.k8s.io/) which is used to know the path of a word is not working and showing BAD GATEWAY error.

[2022-09-05 21:13] sftim commented on #4184
https://cs.k8s.io/ is working for me when I look.

[2022-09-05 21:49] #4184 closed

[2022-09-06 17:41] BenTheElder opened #4187 "Use ALIAS for kubernetes.io?"
Cloud DNS has ALIAS in preview, we should consider switching kubernetes.io to an ALIAS record with the netlify subdomain, AIUI previously there was a load balancer outage netlify mitigated in DNS, but not for sites on the A record.

Aside: it's sad we can't get IPv6 for kubernetes.io :(

https://cloud.google.com/dns/docs/records-overview#alias-records
https://docs.netlify.com/domains-https/custom-

[2022-09-07 08:32] sftim commented on #4187
Makes sense. What's an ALIAS record in this context, though?

[2022-09-07 12:38] #3807 closed

[2022-09-11 01:47] #3624 closed

[2022-09-12 06:25] ameukam commented on #2854
/remove-lifecycle stale
/lifecycle frozen

[2022-09-14 16:51] ritvikgautam opened #4214 "403 Access Denied while pulling registry.k8s.io/kube-state-metrics in eu-central-1 on AWS"
We are getting a 403 Access Denied message when trying to pull `registry.k8s.io/kube-state-metrics/kube-state-metrics` in `eu-central-1` (Frankfurt) on AWS.

[code]

We are facing this issue only in `eu-central-1`, it works fine in 5 other regions on AWS with the same configurations.

From [this doc](https://github.com/kubernetes/k8s.io/wiki/New-Registry-url-for-Kubernetes-(registry.k8s.io)), I un

[2022-09-14 16:57] ameukam commented on #4214
cc @BenTheElder @BobyMCbobs

[2022-09-14 17:45] BenTheElder commented on #4214
I'm on mobile, but the first thing we should check is if the regional s3 bucket is correctly configured (which I don't have access to)

[2022-09-14 17:46] BenTheElder commented on #4214
Thank you for the report. This is a good place to report this.

[2022-09-14 18:27] Riaankl commented on #4214
Working in it
https://github.com/kubernetes/k8s.io/pull/4118#issuecomment-1246218692

[2022-09-14 18:35] BenTheElder commented on #4214
@Riaankl [#4118](https://github.com/kubernetes/k8s.io/pull/4118#issuecomment-1246218692) seems to be about writing to the bucket / replication, but this is about reading? What am I missing?

FWIW without auth I ran:
[code]

This gave me GCP-only hosting as I'm not in AWS, but it allowed me to see what layers are used for this image.

Then manually downloading a layer from one of the current implem

[2022-09-14 19:27] Riaankl commented on #4214
@BenTheElder , my bad. Was refering to Caleb's comment in the PR about the 403 issue, not the PR it self.

[2022-09-14 21:25] BenTheElder commented on #4214
There are only 3 content digests in this image (two layers and the config), all of them fetch fine without auth from the eu-central-1 bucket fetching directly.

Given:

It should have been while trying to fetch `ec6e2d871c544073e0d0a2448b23f98a1aa47b7c60ae9d79ac5d94d92ea45949`, the config layer.

But that fetches fine locally with curl unauthenticated. All three should be going through the same AP

[2022-09-14 22:03] BobyMCbobs commented on #4214
This is peculiar to me. The HEAD check should defer to GCP, given the lack of a particular blob.

Separately, I am just now performing a manual sync now to ensure that everything is up to date.
Automated S3 syncing should now be in-place, through the replication configurations.

[2022-09-14 22:06] BenTheElder commented on #4214
GET and HEAD are proxied identically.
The blob appears to be available in the bucket, so oci-proxy should be redirecting both to the bucket.

AFAICT if we are getting a 403 it's an auth restriction somewhere in AWS. It shouldn't be any of the GCR fallbacks, you can hit them all with no auth and I can't find evidence that anything changed there.

[2022-09-14 22:22] ritvikgautam commented on #4214
@BenTheElder Here's the output of the crane command from the environment:

[code]

[2022-09-14 23:06] BenTheElder commented on #4214
Thank you!

This is very strange ...

[code]

Curling works as expected, and your client is even able to download the layers it seems, but not this config blob for some reason.

[2022-09-15 00:52] ritvikgautam commented on #4214
I think this is potentially an environment related issue.

I just tried this on a non-company AWS account in `eu-central-1` and I'm able to run the curl call and download the docker image just fine. But it consistently fails on four different company AWS accounts. It's pretty weird because I only face this in one particular region.

I don't think there is any proxy or firewall at the instance leve

[2022-09-15 20:39] BobyMCbobs commented on #3620
@ameukam, I believe we've got an account for the buckets for registry.k8s.io; can this issue be closed?

[2022-09-15 20:43] BobyMCbobs commented on #3992
Any thoughts around including
https://github.com/ii/registry-k8s-io-s3-object-audit
into the kubernetes/k8s.io repo?
Might be pretty easy to turn it into a ProwJob.

cc @ameukam @upodroid

[2022-09-15 22:17] BobyMCbobs commented on #1834
Update 📰 🎉

The redirecting from _registry.k8s.io_ to _k8s.gcr.io_ and _prod-registry-k8s-io-$REGION.s3.dualstack.us-east-2.amazonaws.com_ is instantiated and there is automated replication between the buckets.
There is a _registry-sandbox.k8s.io_, for staging, including an auto-deploy from main. The staging environment is also used in CI jobs.
The repo for the redirector is available at https://g

[2022-09-15 22:39] Riaankl commented on #4094
This have been resolved in :tada:
https://github.com/kubernetes/k8s.io/pull/4118
https://github.com/kubernetes/k8s.io/pull/4170
https://github.com/kubernetes/k8s.io/pull/4171

/close

[2022-09-15 22:39] #4094 closed

[2022-09-15 23:02] upodroid commented on #3992
+1 to wrapping that github action as a prowjob and committing the diff to k/k8s.io

[2022-09-16 03:40] BobyMCbobs commented on #3992
Related: https://github.com/kubernetes/k8s.io/pull/4223

[2022-09-16 13:51] dims opened #4227 "Migrate to supported APIs - for "aaa" cluster"
Looking at the UI for the "aaa" cluster i see this warning

![image](https://user-images.githubusercontent.com/23304/190654673-ca4ab669-4d8b-4a80-a9e4-320d54d156e7.png)

[2022-09-29 03:50] akshat5302 commented on #4160
I would like to work on this issue if this issue is open.
Could you just elaborate more about this issue?

[2022-09-29 07:53] BenTheElder commented on #4160
Sorry, this one is not really a good first issue. I'm waiting for confirmation from other owners of the infra, and currently fully deleting deployments will require admin access to the cluster(s) which is restricted to trusted owners.

We try to label issues that are good first issues.

[2022-09-29 07:56] akshat5302 commented on #4160
Oh ohhk understood 👍

[2022-10-03 08:04] ameukam commented on #2218
/remove-lifecycle stale
/lifecycle frozen

[2022-10-03 12:55] matthyx commented on #3411
@ameukam can we ditch already the endpoint config here?
https://github.com/BenTheElder/kind/blob/main/images/base/files/etc/containerd/config.toml#L46-L47

[2022-10-03 17:52] Riaankl commented on #3929
/remove-lifecycle stale

[2022-10-03 19:37] ameukam commented on #3411
@matthyx We are still in the early days `registry.k8s.io` in production. I would not advise to remove this endpoint at the moment until we are sure we stop use `k8s.gcr.io`.

[2022-10-04 06:24] matthyx commented on #3411
Alright, so I will migrate kind's config to mirror my PR https://github.com/kubernetes/kubernetes/pull/110350 (as a benefit it will test the principles).

[2022-10-04 16:16] ameukam opened #4303 "Make gs://k8s-artifacts-prod regional"
Currently the bucket is multi-regional:

[code]

with the new [pricing](https://cloud.google.com/storage/pricing-announce) for Cloud Storage applied in Oct 1, the bucket should be regional to minimize costs.

/priority important-soon
/area artifacts
/area release-eng
/milestone v1.26

[2022-10-04 16:19] ameukam commented on #4303
/assign @justinsb @hakman
the bucket is mainly used by kOps AFAIK.

[2022-10-05 16:21] BenTheElder commented on #4303
I don't think you can just make a bucket regional without delete and recreate?
Do we serve this behind an alias? If people are using the bucket directly we *cannot* move it non-disruptively.

https://cloud.google.com/storage/docs/moving-buckets

[2022-10-05 16:23] BenTheElder commented on #4119
We're serving from S3 and we're redirecting a small portion of k8s.gcr.io to this with no issues
/close

[2022-10-05 16:27] #4119 closed

[2022-10-05 16:37] ameukam commented on #4303
The bucket is currently behind a GCLB:
https://github.com/kubernetes/k8s.io/blob/ecee5b5712f9c18a154377354ab5efe09e443622/infra/gcp/bash/ensure-prod-storage-gclb.sh#L61-L66

The only possibility is to recreate to a newbucket as suggested in https://cloud.google.com/storage/docs/moving-buckets.

[2022-10-05 16:45] ameukam commented on #4160
Go for it!

[2022-10-05 16:54] ameukam commented on #3620
Yes. The AWS account provided for this issue is still used for `registry-sandbox.k8s.io`.

/close

[2022-10-05 16:54] #3620 closed

[2022-10-05 16:54] hakman commented on #4303
We are accessing the bucket via https://artifacts.k8s.io, in case it helps.

[2022-10-05 17:10] BenTheElder commented on #4303
maybe:
1. sync everything to a new regional bucket with a different name
2. Update artifacts.k8s.io to point to this
3. Delete and recreate the old bucket as regional (in case direct usage, somewhat disruptive)
4. switch artifacts.k8s.io back and dedupe buckets

[2022-10-05 19:13] BenTheElder commented on #4160
/assign
will do this later today

[2022-10-05 19:23] dims commented on #4227
ah cool. thanks @BenTheElder

[2022-10-05 20:17] BenTheElder commented on #4160
It looks like we're still running one cert-manager cert for `apps/k8s-io/certificate-canary.yaml`, not sure if it's in actual use yet but looks like maybe so 🤔

[2022-10-05 20:18] BenTheElder commented on #4227
/triage duplicate
/close

[2022-10-05 20:20] BenTheElder commented on #4303
mostly finding hits for the GCR, but it's hard to rule out folks using the bucket directly.

[2022-10-05 23:40] BenTheElder commented on #4214
Please let us know if you have reason to suspect it's not a company policy and instead an upstream bug 😅
/close

[2022-10-05 23:40] #4214 closed

[2022-10-06 02:04] hakman commented on #4303
Looking at the bucket contents, I only see it used by kOps and cri-tools. Though the latest version of cri-tools binaries is quite old:
[code]

[2022-10-06 04:51] BenTheElder commented on #4303
I think cri-tools binaries are canonically on github cc @saschagrunert

[2022-10-06 06:36] saschagrunert commented on #4303
Yes, and we're additionally on `k8s-artifacts-cri-tools`

[2022-10-06 13:46] upodroid commented on #1343
Hi All

This migration is now complete.

[2022-10-06 14:46] ameukam commented on #1343
/reopen

Moving to Artifact Registry also needs the additional step to remove the GCR container registries used by `k8s.gcr.io`.

[2022-10-06 21:55] spiffxp commented on #1528
kubernetes e2e tests that use `GcAuthenticatedRegistry` use this (ref: https://github.com/kubernetes/kubernetes/blob/38bc7131b37f8299809d8e61fdc8a776ebf40bdc/test/utils/image/manifest.go#L125)

So tests that use `AuthenticatedAlpine` or `AuthenticatedWindowsNanoServer` (ref: https://github.com/kubernetes/kubernetes/blob/38bc7131b37f8299809d8e61fdc8a776ebf40bdc/test/utils/image/manifest.go#L236-L23

[2022-10-06 22:24] ameukam commented on #1528
Knowing GCR is deprecated, I'll suggest we hold until we migrate the staging container registries to Artifact Registry and use a new configuration with the `--test-docker-file`.

[2022-10-07 17:08] ameukam commented on #4303
Looking at:

[code]

Logging is enabled
Uniform bucket-level access is enabled

[2022-10-07 17:12] hakman commented on #4303
Looks great. Thanks @ameukam! 😄

[2022-10-07 17:24] ameukam commented on #4303
About the IAM permissions:

[code]

The most important things to notice are:
k8s-infra-artifact-admins@kubernetes.io is empowered is:
- roles/storage.legacyBucketOwner
- roles/storage.objectAdmin

k8s-infra-promoter@k8s-artifacts-prod.iam.gserviceaccount.com is empowered with:
- roles/storage.objectAdmin
- roles/storage.legacyBucketWriter

[2022-10-07 17:51] ameukam commented on #4303
One approach discussed with @BenTheElder could be to:
- Create a new regional bucket `gs://k8s-infra-artifacts-prod` (or a better name. _Naming is hard_)
- actuate the IAM scripts with the new bucket
- ensure the GCLB (artifacts.k8s.io) use this bucket.
- update references of this bucket everywhere: https://cs.k8s.io/?q=gs%3A%2F%2Fk8s-artifacts-prod&i=nope&files=&excludeFiles=&repos=

[2022-10-07 18:57] spiffxp commented on #3992
With the full caveat that I have been away while most of the discussion and work on registry.k8s.io has happened, I don't understand why this is necessary.

Our audit scripts today do not list the contents of GCS buckets, GCR repos, or GAR repos.  I'm not exactly clear why we feel compelled to do so for S3.

[2022-10-08 01:41] asim-reza commented on #3992
There needs to be another way than just to push the audit into the main repo if this is to be done .. because the audit files will be something like 90% of the repo

[2022-10-08 21:58] #3725 closed

[2022-10-09 21:11] BenTheElder commented on #4141
Does the community have *any* visibility into:
- AWS Budget and spend rate
- Which things are costing the most
- Traffic served by s3

I know we privately got traffic data for the GCR stuff, and we have the public data studio billing report that breaks down the usage in GCP, but AFAICT we have nothing for AWS.

[2022-10-09 21:57] ameukam commented on #4141
They should be treated in separated issues since it's about overall cost of the AWS organization (including other projects) vs metrics of a specific service.

[2022-10-10 19:31] BobyMCbobs commented on #4141
I've tried approaching this several times, currently having a hard time with CloudWatch metrics.

[2022-10-11 18:16] spiffxp commented on #1308
/remove-lifecycle rotten
/lifecycle frozen

[2022-10-12 20:28] BenTheElder opened #4348 "AWS Billing visibility"
see previously: https://github.com/kubernetes/k8s.io/issues/4141#issuecomment-1272628985

TLDR:

We should have some idea where we're at on consuming the AWS resources, right now I think not even SIG K8s Infra chairs and/or Steering know this. On GCP we have a public report in SIG K8s Infra with a detailed breakdown so we have some idea where we're at with that.

[2022-10-12 21:56] ameukam commented on #4348
/assign @hh @Riaankl @calebamiles
/area billing
/committee steering

[2022-10-13 22:12] Riaankl commented on #4348
/unassign @calebamiles
/assign @BobyMCbobs

[2022-10-13 22:56] Riaankl commented on #4348
/unassign @calebamiles
/assign @BobyMCbobs

[2022-10-14 02:34] ameukam commented on #4348
Oops. 😅

[2022-10-14 09:25] upodroid commented on #3976
@BenTheElder @ameukam

This is done now. We finally got there.

/close

[2022-10-14 09:25] #3976 closed

[2022-10-17 22:26] upodroid opened #4367 "Verify new AR repositories match existing GCR Paths"
We recently started serving images from Artifact Registry and that means that we are adding new registries as Google launches new regions. We should write a test that ensures that as we add new regions, there are no typos in the subproject. We have had a few that snuck in when we migrated to AR and one wasn't caught in time.

Promotions are taking too long today and I don't think there is much app

[2022-10-18 00:25] BenTheElder commented on #4367
/assign

[2022-10-18 00:31] BenTheElder commented on #4367
xref: #4366 #4298

[2022-10-18 00:31] BenTheElder commented on #4367
regression test: https://github.com/kubernetes/k8s.io/pull/4368

[2022-10-18 04:07] #4367 closed

[2022-10-18 11:41] sbueringer opened #4374 "Speed up image promotion process"
First of all, thank you very much for all the work on the registry and the image promotion process!!

If I understood it correctly, recently the image promotion jobs were changed to sync to additional registries.
This slowed down the `pull-k8sio-cip` and the `post-k8sio-image-promo` and both now take roughly an hour.

Unfortunately, this has the side effect that the release process in projects lik

[2022-10-20 21:05] BenTheElder commented on #1527
I don't have (IAM) permission to do anything to this project.
/assign @spiffxp

[2022-10-24 15:58] jberkus opened #4392 "cs.k8s.io is 502"
Just noticed that cs.k8s.io is returning Bad Gateway.  Not sure what's wrong there, filing an issue so that we look into it after Kubecon.

[2022-10-25 11:55] ameukam commented on #4392
We had an issue with the instance hosting it. I think everything is back to normal:

[code]

[2022-10-25 13:50] dims commented on #4392
when you see this, you can use `cs-canary.k8s.io`

[2022-10-26 17:26] upodroid commented on #4374
More details are available at https://github.com/kubernetes-sigs/promo-tools/issues/637

[2022-10-27 19:30] saschagrunert commented on #4374
We could solve this via https://github.com/kubernetes-sigs/promo-tools/pull/657

[2022-10-28 14:46] saschagrunert commented on #4374
We still have to cut a new promo tools release and get the new flag being used.

[2022-10-29 00:11] spiffxp commented on #4374
/reopen
Let's leave this open until we've confirmed the speed up in prod

[2022-10-29 18:04] josh-ferrell commented on #4141
I'm not sure what we're using for metrics scraping and handling now but perhaps the cloudwatch_exporter for prometheus is an option. Here's an example for S3 https://github.com/prometheus/cloudwatch_exporter/blob/master/examples/S3.yml

[2022-10-29 18:08] josh-ferrell commented on #4392
This is just me being curious, is codesearch availability a priority or something worth having a backlog issue for?

[2022-10-29 19:04] sftim commented on #4141
Have a look at https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/Counting404Responses.html

We can do the almost the same thing for 2xx responses, using mostly managed APIs. If we want to copy the counter data into Prometheus we can do that too.

To generate those logs: https://docs.aws.amazon.com/AmazonS3/latest/userguide/ServerLogs.html
Log delivery is best effort and is _not_ real time.

[2022-10-29 19:06] sftim commented on #4141
https://docs.aws.amazon.com/AmazonS3/latest/userguide/configure-request-metrics-bucket.html covers turning on CloudWatch metrics for a bucket

[2022-10-29 19:08] sftim commented on #4348
Amazon CloudWatch publishes billing-related metrics in the `AWS/Billing` metrics namespace. We can do things with those and maybe aggregate them with other cost data.

[2022-10-29 23:15] ameukam commented on #4392
It's a priority for GitHub Admin Team since they have search snippets based on `cs.k8s.io`. e.g. `go.k8s.io/owners/dims`.

[2022-10-31 15:24] upodroid commented on #4348
I have worked out to how to do this and I have a functional demo to show at this week's meeting.

TL;DR:

- S3 Metrics:
  - Cloudwatch metrics are a bit meh (mix of daily and minute metrics) :(
  - Gathering some of the metrics has some cost implications. I'm not sure exactly how much.
- For Cost:
  - We need to enable CURs and export it to S3
  - Use Glue to write to Athena
  - Crunch the data in

[2022-10-31 15:48] ameukam commented on #1458
/remove-lifecycle stale

[2022-10-31 17:45] Riaankl commented on #4348
Great job @upodroid !!

[2022-10-31 23:07] BenTheElder commented on #4392
https://cs.k8s.io/?q=foo&i=nope&files=&excludeFiles=&repos= seems to be working

[2022-10-31 23:17] BenTheElder opened #4401 "move artifacts.k8s.io to AWS"
We now have $3M AWS credits coming for next year, and we're still going to be tight on the kubernetes.io bill, with $600k credits coming to help get us through this year on top of the existing $3M GCP credits.

Looking at the bill, I estimate artifacts.k8s.io cost in excess of $29k for October 1-30th, based on the cloud networking cost for k8s-artifacts-prod. I think this is the single largest thi

[2022-10-31 23:24] BenTheElder opened #4402 "shut down k8s.gcr.io bigquery analysis"
We have all the existing historical data, **this is still costing ~$7k/mo or $6,920.33 / $314,396.53 * 100 = 2.2%** of our spend. (see: `k8s-infra-ii-sandbox`, `BigQuery` in the billing report at #7).

Also, the historical data is more valuable, because it's 100% traffic there vs now some traffic is at registry.k8s.io

We should immediately disable these jobs.

~~IIRC we already requested this ear

[2022-10-31 23:24] BenTheElder commented on #4402
/assign

[2022-10-31 23:33] ameukam commented on #4402
The cost is related to active storage not processing or querying but I agree with the idea to reduce the resources cost.

I'll clean up the project in the incoming weeks.

@hh @Riaankl this data is transferable to another GCP (owned by ii or CNCF). Please take a look at other options.

[2022-11-01 01:43] BenTheElder commented on #4402
Can we grab the high level results if we haven't already and then remove this dataset? This is # 7 on our spend costing about as much as analyzing CI logs for error clusters.

[2022-11-01 09:13] ameukam commented on #2310
/remove-lifecycle stale

[2022-11-01 18:44] ameukam commented on #4402
Cleanup was done. One dataset is remaining.

[code]

We should see cost related to BQ go down over the next days.

[2022-11-01 18:47] Riaankl commented on #4402
Yes, I just deleted all the historical datasets, keeping only the latest set that feed the data studio report.
If new data is needed we can generate it.

[2022-11-01 19:24] BenTheElder commented on #4402
thank you!!

[2022-11-01 19:56] ameukam commented on #4401
We have an ethical issue with Cloudflare. Decision was made to not use it. We are in talks with Fastly. Hopefully we will be part of their Open Source program.

Once the AWS credits we can also look at Cloudfront for CDN features.

[2022-11-01 20:34] upodroid commented on #4401
This should be easy to implement.

[code]

A Cloudfront distribution that looks like this(some values need tuning):
[code]

You also need an ACM Certificate to do this.

[2022-11-01 20:36] upodroid commented on #4401
The GCLB + Backend Buckets together behave differently from access the bucket at https://storage.googleapis.com/k8s-artifacts-prod

[2022-11-01 21:15] BenTheElder commented on #4401
We should also consider just putting binaries on github, the unofficial stance so far from azure seems to be that they pay for github and we can use what we want there. AIUI kops already has binaries there so we could just serve a redirect.

[2022-11-01 21:20] BenTheElder commented on #4401
Yes, but we're not advertising these downloads as a cloud storage bucket and we should remain flexible. We're still very close to running out of money atm and we're likely to be back there next year.

[2022-11-01 21:20] justinsb commented on #4401
Great idea @BenTheElder - I can do a quick prototype of a 302 redirector, and I was thinking of seeing how much of https://github.com/kubernetes/registry.k8s.io I can reuse.  Hopefully I'll have something we can look at pretty soon, but fundamentally I think we should try to share the same architecture between container and non-container serving as much as we can!

[2022-11-02 05:13] BenTheElder commented on #4374
https://github.com/kubernetes-sigs/promo-tools/pull/657 + https://github.com/kubernetes/test-infra/pull/27855 has had lovely results, thank you!

[2022-11-02 08:12] saschagrunert commented on #4374
I have one more optimization in my mind which I will try out today. Let's leave this issue open until then.

[2022-11-02 08:24] sbueringer commented on #4374
Thank you very much, this really helps a lot!

Just for my understanding. Did I see correctly that the presubmit job is now very quick but the postsubmit takes ~ the same time?

[2022-11-02 08:25] saschagrunert commented on #4374
The postsubmit is expeted to take a bit longer, yes. But I think we can still improve both sides by diffing more focused on what needs to be pushed/signed.

[2022-11-02 08:26] sbueringer commented on #4374
Just took another look. There was one run with 5m and the others >1h. This probably depends on which images are promoted? (https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/post-k8sio-image-promo)

[2022-11-02 09:21] saschagrunert commented on #4374
Exactly. The official Kubernetes manifest is already huge, so filtering based on the file is not enough. With https://github.com/kubernetes-sigs/promo-tools/pull/661 we now additionally filter based on the digests which should be a significant performance improvement.

[2022-11-02 11:15] saschagrunert commented on #4374
With https://github.com/kubernetes-sigs/promo-tools/issues/662 we can now close this.

[2022-11-02 11:15] saschagrunert commented on #4374
/close

[2022-11-02 17:51] spiffxp commented on #4374
For reference:

[postsubmit improvement](https://testgrid.k8s.io/sig-k8s-infra-k8sio#post-k8sio-image-promo&graph-metrics=test-duration-minutes&width=20)
<img width="598" alt="Screen Shot 2022-11-02 at 10 48 07 AM
" src="https://user-images.githubusercontent.com/49258/199563811-b76bb0bb-dd37-4bfb-b97b-996a64f69acf.png">

[presubmit improvement](https://testgrid.k8s.io/sig-k8s-infra-k8sio#pull-k8si

[2022-11-02 18:30] CecileRobertMichon commented on #4374
Thank you!! ❤️ 🎉 👏

[2022-11-03 03:52] justinsb commented on #4401
I have the basic code that forks archeio to do non-container artifacts in reasonable shape (IMO) in https://github.com/kubernetes/registry.k8s.io/pull/126.  However, after discussions with @BenTheElder , we agreed it would likely make more sense to make a handful of the archeio functions public, and consume them from a new repo.

I'm going to put in a request for a new repo, registry.k8s.io , to h

[2022-11-03 04:03] justinsb commented on #4401
Actually, @BenTheElder corrected my misunderstanding here, apparently the TLs should actually approve, so cc @spiffxp and @thockin here for repo-request approval (though everyone's input is of course welcome!)

[2022-11-03 04:07] BenTheElder commented on #4401
(Yeah ... just as a matter of governance, creating and winding down subprojects is the TL role, I'd like to avoid continuing to conflate chair that way, though I think in this SIG e.g. @ameukam should perhaps be dual listed as chair and TL ...)

I personally support a repo for these experiments, non-binding as that may be.

I think while today we only need a simple cloud architecture, we have opti

[2022-11-03 10:56] dims commented on #4401
+1 from me for the plan. I also +1'ed the request in https://github.com/kubernetes/org/issues/3809

[2022-11-05 10:43] #3166 closed

[2022-11-05 16:38] cpanato commented on #3166
not needed anymore will do another approach

[2022-11-08 12:05] hh commented on #4402
This is done, one report data set remains.
/close

[2022-11-08 17:23] Riaankl commented on #1625
/remove-lifecycle stale

[2022-11-08 17:23] Riaankl commented on #2588
/remove-lifecycle stale

[2022-11-08 17:24] Riaankl commented on #1571
/remove-lifecycle stale

[2022-11-08 18:31] BenTheElder commented on #4402
This is now costing very little, at $6.64 out of $10,100.89 yesterday.
Thanks all!

[2022-11-08 18:31] #4402 closed

[2022-11-08 20:11] BobyMCbobs commented on #4348
I built this sometime a go, hopefully it can be put to some good use
https://github.com/kubernetes/k8s.io/tree/main/infra/aws/aws-costexplorer-export

It currently exports all the Cost Explorer reports from the root level account into a bucket and pushes it over to a BigQuery dataset. Will need to modify it to filter it to just Kubernetes related accounts.

[2022-11-09 18:03] spiffxp commented on #4374
/reopen
ref: https://github.com/kubernetes/k8s.io/pull/4441#issuecomment-1309107480

[2022-11-10 07:40] #1665 closed

[2022-11-10 07:40] #1666 closed

[2022-11-11 16:08] justinsb commented on #3992
So I think what we're trying to audit is that the mirrors accurately reflect the canonical location.  So we want to know if somehow the mirrors have (1) extra files or (2) corrupted files.  We also want to know if the mirrors are missing files, but this could be a natural transitory state during initial publishing of new images.

I propose that we follow the image promoter pattern: we have a tool

[2022-11-11 19:51] BenTheElder commented on #3992
That's one thing, but it's not really necessary here, since we only serve these files based on selecting them from the manifests which we serve from the registry directly.

We need to be auditing for public visibility:
- who has access
- did anyone other than the robot make any changes
- did any deletions occur from any account (should not happen even from the robot)

It would additionally be usef

[2022-11-11 19:52] BenTheElder commented on #3992
We might be talking about different things ...?

See: https://github.com/kubernetes/k8s.io/tree/main/audit

[2022-11-11 19:58] justinsb commented on #3992
For that, I think we do want a script like the ones we have today, where we dump ACLs on the buckets into a file in this repo.

I think the debate comes on whether we include the files themselves, it seems the consensus is "not by this audit mechanism".  But we do want _an_ audit mechanism, likely based around the syncer alerting on unexpected differences.

[2022-11-11 22:07] BenTheElder commented on #1375
- as per https://github.com/kubernetes/k8s.io/issues/1375#issuecomment-943644748 yes, we have alerts
- spend breakdown: https://datastudio.google.com/c/u/0/reporting/14UWSuqD5ef9E4LnsCD9uJWTPv8MHOA3e1

What exactly do we see as outstanding here?

[2022-11-11 23:15] spiffxp commented on #1375
FWIW I can't access this

I agree with capping this off as the first pass. I think we'll want to revisit how we track our budget in the new year, and that should probably be a separate issue.

Things you might want to consider before capping this off:
- The current budget alerts at 90% and 100% of 250K/mo (3M/y). Since we're running over that rate, the alerts are going to be noise for those watchi

[2022-11-11 23:39] BenTheElder commented on #1375
ACK -- Sorry that link should've been https://datastudio.google.com/c/u/0/reporting/14UWSuqD5ef9E4LnsCD9uJWTPv8MHOA3e/page/tPVn

[2022-11-12 00:31] ameukam commented on #1375
I think it's ok to close this. Let revisit budget tracking for next year in a separate issue. The different attempts to move workloads to different cloud providers will hopefully impact overall 2023 budget.

/close

[2022-11-12 00:31] #1375 closed

[2022-11-13 19:46] BobyMCbobs commented on #3992
In regards to dumping bucket ACLs for objects in the registry.k8s.io buckets, I have a PR here
https://github.com/kubernetes/k8s.io/pull/4223
based on the code snippet in the description of this issue.

It appears to me from this comment, like we do want ACLs being dumped like I've proposed but not the way I've proposed. I'm trying to figure out what the thought is around it, is there a way I can

[2022-11-16 10:28] ameukam commented on #3992
I think we can start to get the ACLs for the buckets dumped using [get-bucket-acl](https://docs.aws.amazon.com/cli/latest/reference/s3api/get-bucket-acl.html) and probably also dump the policy attached to each bucket with [get-bucket-policy](https://docs.aws.amazon.com/cli/latest/reference/s3api/get-bucket-policy.html).

[2022-11-16 10:29] ameukam commented on #4392
No issue until now. I'm gonna close this.

/close

[2022-11-16 10:29] #4392 closed

[2022-11-16 15:14] iranzo opened #4471 "DNS REQUEST: kmm.sigs.k8s.io"
### Type of DNS update:
Create

### Domain being modified:

k8s.io

### New DNS Record:

[code]

### Reason for update:

Request for Netlify domain at https://github.com/kubernetes/org/issues/3839

[2022-11-18 11:13] ameukam commented on #3568
/remove-lifecycle rotten
/milestone v1.27

[2022-11-18 11:14] ameukam commented on #3596
/remove-lifecycle rotten
/milestone v1.27
/lifecycle frozen

[2022-11-18 11:14] ameukam commented on #3205
/remove-lifecycle rotten

[2022-11-18 11:14] ameukam commented on #3205
/remove-lifecycle stale

[2022-11-18 11:15] ameukam commented on #3108
/reopen

[2022-11-18 11:15] ameukam commented on #2430
/remove-lifecycle stale
/lifecycle frozen

[2022-11-18 11:16] ameukam commented on #1525
/remove-lifecycle stale
/milestone v1.27

[2022-11-18 11:17] ameukam commented on #2173
/remove-lifecycle stale
/lifecycle frozen
/milestone clear

[2022-11-18 11:17] ameukam commented on #3568
/remove-lifecycle stale

[2022-11-18 11:18] ameukam commented on #3108
/remove-lifecycle rotten
/milestone v1.27

[2022-11-18 11:18] ameukam commented on #2388
/remove-lifecycle rotten
/lifecycle frozen

[2022-11-20 21:52] BobyMCbobs commented on #3568
@ameukam, this was completed some time ago
https://github.com/cncf-infra/aws-infra/pull/10

we are using federated identity for authenticating
https://github.com/cncf-infra/aws-infra/pull/15

[2022-11-20 21:54] Riaankl commented on #3568
Thanks @BobyMCbobs
@ameukam look like this is done. Should we close the issue of are there more TOD's to add to the issue?

[2022-11-23 21:10] hh commented on #3596
https://www.cloudflare.com/lp/pg-r2/

$0 for egress? Sounds too good to be true, but it is what we are looking for.

R2 S3 api compatible!

If I'm reading this right we just pay for $0.015 per GB for storage, not egress.

[2022-11-24 19:04] ameukam commented on #1569
/remove-lifecycle stale
/milestone v1.27
/remove-priority
/priority important-longterm

Pending AWS credits (announced [here](https://twitter.com/dims/status/1585621637512286211)) and decision from Fastly.

[2022-11-24 19:05] ameukam commented on #2438
/remove-lifecycle stale
/milestone clear
/lifecycle frozen

[2022-11-24 19:07] ameukam commented on #2396
/remove-lifecycle stale
/milestone v1.27

[2022-11-24 19:08] ameukam commented on #1590
/remove-lifecycle stale
/priority backlog
/lifecycle frozen

[2022-11-24 19:08] ameukam commented on #1590
/milestone clear

[2022-11-24 19:09] ameukam commented on #4187
Let's wait the feature is GA.

/priority backlog
/lifecycle frozen
/area infra

[2022-11-24 19:10] ameukam commented on #4348
/priority important-longterm
/milestone v1.27

[2022-11-25 16:13] ameukam commented on #3568
/close

[2022-11-25 16:13] #3568 closed

[2022-11-27 16:16] Riaankl commented on #1523
/remove-lifecycle stale
Trust we will get to this in 2023

[2022-11-28 08:07] cpanato commented on #1523
i can help on that, @ameukam can you give to me a quick status on what is missing or pending?

[2022-11-28 08:16] ameukam commented on #1523
What's remaining is of all the project:

- [ ] kubernetes-sigs/aws-iam-authenticator
- [ ] kubernetes-sigs/cluster-api-provider-ibmcloud
- [ ] kubernetes-sigs/cluster-api-provider-nested
- [ ] kubernetes-sigs/container-object-storage-interface-controller
- [ ] kubernetes-sigs/container-object-storage-interface-csi-adapter
- [ ] kubernetes-sigs/container-object-storage-interface-provisioner-sidecar

[2022-11-30 09:35] ameukam commented on #3596
/milestone clear

It has been decided to pause the investigation of Cloudflare's capabilities for the time being in view of some recent controversies. we can review the decision later.

[2022-11-30 19:07] vaibhav2107 commented on #3918
/remove-lifecycle stale