[2016-08-23 20:02] luxas opened #5 "Provide the easy-to-remember url addons.k8s.io for applying addons"
Given the work we're trying to do in @kubernetes/sig-cluster-lifecycle, and given that we've chosen to use `kubectl apply -f` as the main addon applier, it would be great to have a easy-to-remember url for applying addons, like this:

[code]

or just

[code]

This would be very user-friendly, and we should document the possible addons installable this way at the main site.

The more exotic addons

[2016-08-23 20:12] thockin commented on #5
I can do this if it is what people want for the UX and you can tell me what
the destination of the redirect is.

On Tue, Aug 23, 2016 at 1:02 PM, Lucas Käldström <notifications@github.com>
wrote:

[2016-08-23 20:22] mikedanese commented on #5
sounds like we could use go.k8s.io/ for this if we get around to hosting a shortener.

[2016-08-23 20:28] luxas commented on #5
`go` doesn't say much to me personally, but certainly we could *go* for it if you feel strongly :)

[2016-08-23 20:51] thockin commented on #5
I don't mind adding vanity domains as long as their are not done on a lark

On Tue, Aug 23, 2016 at 1:28 PM, Lucas Käldström <notifications@github.com>
wrote:

[2016-08-23 21:09] justinsb commented on #5
We should definitely have a formal proposal for this, before we create the domain, including how updates will work.  We don't want a situation where the more memorable hostname is deprecated, in favor of addonsv2.k8s.io.

For example, I think we will probably want version discovery in there, so the future addon tool can tell users when a new version is available.  I don't think we should put yaml

[2016-08-23 22:25] errordeveloper commented on #5
For Weave Scope we have implemented a simple template rendering based on
parameters that include version, mode of installation and other parameters.
See the documentation for details (
https://www.weave.works/documentation/scope-latest-installing/).

One of the things we do is provide current release tag set by default,
based on periodic polling of Github API.

Regarding installation mode, user ha

[2016-08-23 22:43] erictune commented on #5
There are some addons that won't need any template-substitution and some
that will.

The addons added by kube-up are in
https://github.com/kubernetes/kubernetes/tree/master/cluster/addons

There are 11 addons, namely:

calico-policy-controller
cluster-loadbalancing
cluster-monitoring
dashboard
dns
fluentd-elasticsearch
fluentd-gcp
gci
node-problem-detector
podsecuritypolicies
registry

Of those, 3

[2016-08-24 10:23] errordeveloper commented on #5
Helm could work, and I believe Helm team would love to help us. However, I hear that some folks believe that Helm is a dependency they don't wish to see just to make addons work, which I understand, but I am neutral to this. What we did for Scope renders manifests server-side, and uses query params

[2016-10-04 21:47] jbeda opened #18 "Update TLS cert for most of the aliases"
A wildcard cert would work but I'm assuming that it is hard to get one of those.  Right now the cert for k8s.io has a set of SANs:

[code]

This is missing:

[code]

[2016-10-05 14:48] mikedanese commented on #18
@ixdy

[2016-10-05 21:01] ixdy commented on #18
There are a few others missing, too:
* `ci-test.k8s.io`
* `gcsweb.k8s.io`
* `go.k8s.io`
* `pr-test.k8s.io`

and also all of the `*.kubernetes.io` variants of all of these. And we'll undoubtedly have more as we add additional vanity subdomains.

I think we want to move to LetsEncrypts certs instead of the Google-issued one we have right now. This would let us add additional vanity subdomains fairly

[2016-10-09 20:44] techtonik commented on #18
https://github.com/AnalogJ/lexicon with https://github.com/AnalogJ/lexicon/blob/master/examples/letsencrypt.default.sh should do the trick.

How do you maintain DNS records? Is there any .yaml with mapping?

[2016-10-10 04:24] thockin commented on #18
I have seen about such client libs.  I don't have time to try them all.  I
need a recommendation of one that is trustworthy and easy and can pull a
cert with an arbitrary number of SANs.

On Sun, Oct 9, 2016 at 1:44 PM, anatoly techtonik <notifications@github.com>
wrote:

[2016-10-10 07:44] techtonik commented on #18
Let's encrypt allows to `--expand` existing certificate with more names - http://stackoverflow.com/questions/35777157/how-to-add-change-certificates-issued-by-letsencrypt, but `k8s.io` domains use Google Internet authority, which is not accessible to public and hence doesn't have public API or client libs. So a decision to switch to let's encrypt should be taken first.

[2016-10-10 15:43] thockin commented on #18
Yeah, if we're going to switch we have to switch it all.

On Mon, Oct 10, 2016 at 12:44 AM, anatoly techtonik <
notifications@github.com> wrote:

[2016-10-11 04:28] techtonik opened #23 "Document how to find the URL for gcsweb"
I think that the question is rather lame, but if [guidelines](https://github.com/kubernetes/k8s.io/blob/master/CONTRIBUTING.md) are true in:

then I'd really like to know how to find URL for the `gcsweb` site, which config is located here:
https://github.com/kubernetes/k8s.io/tree/master/gcsweb

[2016-10-11 04:31] thockin commented on #23
I answered this in the other PR, but 2 things.

1) gcsweb is just a tool, anyone can run it at any URL with any allowed buckets they want.
2) everything in this repo is ...k8s.io - so gcsweb.k8s.io is this instance, but it's not designed for initial browsing (it doesn't list which GCS buckets are available, for instance), but once you are in, through a documented link, you can browse.

[2016-10-11 04:31] #23 closed

[2016-10-11 05:08] techtonik commented on #23
The question is still bothering me - where is the missing link from https://github.com/kubernetes/k8s.io/tree/master/gcsweb config and http://gcsweb.k8s.io/gcs/kubernetes-release/release/v0.4.1/ URL?

[2016-10-11 05:09] thockin commented on #23
if I understand correctly - look at deployment.yaml - it has a list of which buckets are being served.

[2016-10-31 19:27] ixdy commented on #18
anyone else have opinions or want to help with this? I'm probably going to start trying to figure out stuff myself, since the clock is ticking on our certs expiring.

[2016-10-31 19:29] ixdy commented on #18
(I apparently can't assign issues to myself in this repo. :( )

[2016-11-03 00:13] ixdy commented on #18
`codereview.kubernetes.io` is expiring soon too, so we'll need to figure out some plan for it as well.

[2016-11-03 19:18] sarahnovotny commented on #18
per another thread with @dankohn and @caniszczyk ... I'll buy these personally from let's encrypt and expense to LF/CNCF.  Who should I work with for the request?

[2016-11-03 19:20] ixdy commented on #18
@sarahnovotny certs from Let's Encrypt are free. The issue is that the certs are only good for 90 days, since they want to force you to use automation. We could get certs to buy us another 90 days, but we do need to figure out the automation.

[2016-11-03 20:08] sarahnovotny commented on #18
aah.  i suggest then that I buy certs and solve this problem with money for a few years instead of (already straining) developer time.

.s.

[2016-11-03 20:16] dankohn commented on #18
@sarahnovotny If you could buy 3-year wildcard domains for `*.k8s.io` and `*.kubernetes.io` (and expense them to me and @bprestonlf), I'm optimistic we'll get around to implementing Let's Encrypt certificate renewals before these new ones expire. Thanks everyone for the help on this.

[2016-11-04 12:57] techtonik commented on #18
@ixdy, since nobody volunteered, I am willing to help with automation, because I am going to build some universal domain management automation anyway for local hackerspace in Minsk (we have many domains from hackatons and other events that couldn't just die).

@sarahnovotny, if you can secure some resources to backup my work, that would help me to focus and make it till deadline, which is 12/31/20

[2016-11-04 22:50] ixdy commented on #18
@techtonik the k8s.io cert (which is used on a bunch of the vanity subdomains) expires Dec 7 2016.

[2016-11-04 23:12] ixdy commented on #18
There's already some prior work on supporting Lets Encrypt on Kubernetes (https://github.com/kubernetes/kubernetes/issues/19899, https://github.com/munnerz/kube-acme, https://github.com/jetstack/kube-lego, https://github.com/kelseyhightower/kube-cert-manager, https://github.com/iameli/kubernetes-letsencrypt, http://blog.ployst.com/development/2015/12/22/letsencrypt-on-kubernetes.html) though as be

[2016-11-07 16:49] sarahnovotny commented on #18
yes.  I'm happy to do that and expense it to the CNCF per an earlier convo.   I need the CSR info  who can get me that?

[2016-11-07 19:48] ixdy commented on #18
probably @thockin. we can discuss next week after Kubecon?

[2016-11-23 00:42] dankohn commented on #18
@sarahnovotny @thockin @bgrant0607 kubernetes.io is showing a certificate error in Chrome.

[2016-11-23 00:49] dankohn commented on #18
http://kubernetes.io works OK but https://kubernetes.io is showing an error.

[2016-11-23 00:49] ixdy commented on #18
@dankohn yes, it has always done that. kubernetes.io is currently being served by GitHub Pages, so it doesn't have a valid cert (it's trying to use github's instead of ours). see e.g. https://github.com/isaacs/github/issues/156.

Fixing that is a separate issue.

[2016-11-23 00:50] dankohn commented on #18
Got it, thanks.

[2016-12-01 23:39] ixdy commented on #18
I played around with using https://github.com/ixdy/kubernetes-certbot, forked from https://github.com/dwnld/kubernetes-certbot, itself forked from https://github.com/choffmeister/kubernetes-certbot, with a proof of concept for `get.k8s.io` in https://github.com/ixdy/k8s.io/commit/c89d75d81ecde8e625542fb9748d76c1fba28f59.

It basically worked, but it'd need some work to fully productionize:
* the d

[2016-12-07 20:04] ixdy commented on #18
The k8s.io redirector has been updated with a new TLS cert from LE using [lego](https://github.com/xenolf/lego). Basic steps I followed:

* Generate list of domains (as arguments):
[code]
* Reorder domains so k8s.io, kubernetes.io, and kubernet.es were first
* Debug `lego` for a while, eventually filing https://github.com/xenolf/lego/issues/330, and eventually getting certs.
* Deploying certs manu

[2016-12-07 21:00] thockin commented on #18
did you bounce the k8s,io nginx?  It doesn't self-update if the cert
changes.

On Wed, Dec 7, 2016 at 12:04 PM, Jeff Grafton <notifications@github.com>
wrote:

[2016-12-07 21:39] ixdy commented on #18
yep, did that as part of the "deploy certs" step.

[2016-12-07 21:54] ixdy opened #38 "Put gcsweb behind ingress and install a TLS cert for it"
Should be pretty straightforward. It seems like using ingress has the best Let's Encrypt automation support.

[2016-12-08 23:12] ixdy commented on #18
Going to close this since we have a TLS cert covering all of the current aliases. We still need to figure out how to automate it.

[2016-12-08 23:12] #18 closed

[2017-08-05 21:56] jbeda opened #72 "`k8s.io/dns` (and others) missing from golang responses"
We should probably (a) have this auto generated from some list of repos someplace and (b) make sure that we keep it up to date.  But I can at least say that `k8s.io/dns` is missing.

[2017-08-06 03:33] thockin commented on #72
https://serverfault.com/questions/866933/nginx-return-templated-string-literal

It's a manual process to add repos today.  Simple but manual.  I happened
to ask this question a couple days ago - no replies on it yet. If you can
figure it out, I'm all ears.

On Sat, Aug 5, 2017 at 2:56 PM, Joe Beda <notifications@github.com> wrote:

[2017-09-23 08:20] JeanMertz opened #82 "Downloading k8s.io go packages"
I'm not sure this is the right place to ask, but it seems like the closest I can get to where the issue probably stems from, so here goes.

I'm trying to make a [Homebrew](https://brew.sh) (macOS package manager) package out of a [go tool I wrote](https://github.com/blendle/kubecrt). In order to do this, I mark packages as dependencies in the package config file for Homebrew.

This looks like this

[2017-09-25 04:59] thockin commented on #82
Are you passing "go-get=1" on the URL?  All the others happen to be code
hosting sites.  k8s.io is not.  It only responds if you set the param, and
then it responds with Go's metadata to redirect to github.  If you want to
pull go code, you have to do it like Go does :)

On Sat, Sep 23, 2017 at 1:20 AM, Jean Mertz <notifications@github.com>
wrote:

[2017-09-25 06:24] JeanMertz commented on #82
Thanks @thockin. I wasn't aware go added the `go-get` a param. You learn something new every day 😄

Thank you for your pointer, this will help me (and others at our company) be aware of this in the future 👍

[2017-09-25 06:24] #82 closed

[2017-11-14 23:22] mml opened #91 "blog.k8s.io:443 providing the wrong cert"
![jfqetblz8wp](https://user-images.githubusercontent.com/3115/32810405-9c86ef2c-c94f-11e7-9316-f919df3728a0.png)

cc @ixdy

[2017-11-14 23:24] thockin commented on #91
Uggh, did that SAN not get registered?

On Tue, Nov 14, 2017 at 3:22 PM, Matt Liggett <notifications@github.com>
wrote:

[2017-11-14 23:26] ixdy commented on #91
It did not, because we never set up a redirector for blog.k8s.io, so it was missed in audits.

It's about time to renew the cert anyway, so it's easy to add blog.* to the list.

[2017-11-14 23:35] thockin commented on #91
Right!  We're not actually redirecting that URL.  Oops.  Once the cert is
up, we can add it.

On Tue, Nov 14, 2017 at 3:26 PM, Jeff Grafton <notifications@github.com>
wrote:

[2017-11-22 00:21] #91 closed

[2017-12-13 00:26] BenTheElder opened #95 "redirect prow.k8s.io to https"
https://prow.k8s.io already works, but we don't redirect to it unlike the submit-queue etc.
/cc @cjwagner @ixdy

also possibly we might want to follow up with https://github.com/kubernetes/k8s.io/issues/38

[2017-12-13 00:27] BenTheElder commented on #95
/assign

[2017-12-13 00:54] BenTheElder commented on #95
wrong repo, prow.k8s.io is a DNS entry. we need to configure this in test-infra

[2017-12-13 00:54] #95 closed

[2017-12-18 07:57] luxas commented on #5
I'm gonna close this one per the discussions during the Developer Summit in Austin; this is not relevant anymore. SIG Cluster Lifecycle will probably discuss addon management early 2018.

[2017-12-18 07:57] #5 closed

[2017-12-21 22:28] ixdy commented on #38
The submit-queue has been using kube-lego for a while, and it seems to be working fine, even though it's not for "production use".

It seems like the simplest option, and is probably easily extensible to the rest of the k8s.io services.

[2017-12-22 23:09] thockin commented on #38
ACK

On Thu, Dec 21, 2017 at 2:28 PM, Jeff Grafton <notifications@github.com>
wrote:

[2018-01-02 21:55] thockin commented on #72
I was inspired to try this again.  I think I know how to make it produce the text I want, but my phony canary test is not working.

[code]

vs

[code]

Clearly the go-import meta tag IS there...

The config block in question is:

[code]

[2018-01-02 22:25] thockin commented on #72
Aha, I have it.  See PR.

[2018-02-22 20:02] ixdy commented on #38
kube-lego is deprecated; cert-manager is the endorsed replacement.

[2018-03-09 23:23] #72 closed

[2018-03-29 13:56] hoegaarden opened #110 "Tests fail with SSL verification error"
The tests fail with the following error

(both `make test` and `make docker-test`)

As far as we understand, this is because nginx uses a self signed certificate and the https client doesn't have this self signed certificate in its certificate store.

[2018-05-24 14:38] jessfraz opened #122 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-26 12:31] nikhita opened #125 "community and contrib submit queue links are broken"
https://community.submit-queue.k8s.io/ and https://contrib.submit-queue.k8s.io/ give a 502 server error.

/cc @cblecker

[2018-05-26 21:31] cblecker commented on #125
That's because they don't exist anymore! We should probably take them down and clean them up.

/cc @ixdy @thockin @cjwagner

[2018-06-04 21:57] #125 closed

[2018-06-05 04:55] thockin commented on #38
/lgtm
/approve no-issue

[2018-06-05 04:55] thockin commented on #38
/lifecycle frozen
/remove-lifecycle stale

[2018-08-21 07:19] fruitboy1226 opened #130 "get k8s.io/Kubernetes failed"
Hi,
i met one issue when i get the kubernets from k8s.io.
media@media-desktop:~/k8s$ go get k8s.io/kubernetes
package k8s.io/kubernetes: unrecognized import path "k8s.io/kubernetes" (https fetch: Get https://k8s.io/kubernetes?go-get=1: proxyconnect tcp: EOF)

is there any env setup errors? thanks very much.

[2018-08-22 14:53] nikhita commented on #122
/remove-lifecycle stale

[2018-08-26 16:28] #110 closed

[2018-09-11 22:25] spiffxp opened #133 "Use tide for PR merging"
This is a [core repository](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#core-repositories).  As such, it [needs to use the same merge automation as the rest of the project](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-1)

I have a PR open that will address this at an org-wide level: https

[2018-09-17 17:11] #133 closed

[2018-09-29 23:45] justaugustus opened #140 "Sweep for dead links"
In reviewing https://github.com/kubernetes/community/pull/2408, I noticed that http://cherrypick.k8s.io/#/queue times out. We should sweep the nginx config for dead links and remove them.

/sig contributor-experience
/help

[2018-10-01 23:55] ixdy commented on #140
Yeah, I believe cherrypick.k8s.io was part of the old mungegithub service, which has since been turned down.

[2018-10-08 20:54] #122 closed

[2018-11-08 13:59] dims opened #151 "[Umbrella issue] Automate DNS for Kubernetes assets"
Please see:
- https://github.com/kubernetes/k8s.io/pull/139
- https://github.com/kubernetes/k8s.io/pull/147

Notes from meeting:

- [Aaron] Where are we on the roadmap
  - [Tim] Need 3 things: 1 - Tests with canaries. 2 - Figure out billing transparency. 3 - Alerts.
- [Aaron] Where does it run?
  -[Tim] - Google Cloud DNS
- [Aaron] Where is OctoDNS running?
  -[Tim] Manually / locally using a Dock

[2018-11-08 14:04] dims opened #152 "[Umbrella Issue] Build GKE Cluster for running bots, utilities"
- We need one "alpha" cluster that is time-boxed (30 days?)
- Same cluster will be used for both jobs
- New Google Group for admins :  k8s-infra-cluster-admins
- Group will have "GKE Admin" access (described in [1])
- Google Group seeded with
  - dims
  - justinsb
- Job owners will be temporarily given "GKE Developer" access
- Once the Job is running, Job owners will be switched over to "GKE Viewe

[2018-11-08 14:10] dims opened #153 "[Umbrella Issue] Setup a GCS Bucket for projects to use"
Please see
- https://docs.google.com/document/d/1cQUAU3AeRahL8Y4R6BDiMiMV44ESPDFNyZQIlgSA5eQ/edit#heading=h.oa3xwm42jn26
- https://github.com/kubernetes/community/pull/2695

[2018-11-08 14:13] dims commented on #153
cc @thockin @mkumatag  @javier-b-perez @listx

[2018-11-08 14:14] dims commented on #152
cc @sttts @justinsb @thockin

[2018-11-08 14:15] dims commented on #151
cc @justinsb @brendandburns @thockin @hh @spiffxp

[2018-11-08 15:34] justinsb commented on #152
I think this is a great list, balancing starting on the journey with where we want to go.

If I could express an end-state philosophy, I think it is this:

* Some group of people have to seed the system, and act as backstop in case of problems, but those credentials/permissions should should not be used day-to-day.
* We want all provisioning of the cluster(s) to be automated and driven by a public

[2018-11-08 16:24] thockin commented on #152
The way I tested was by having a distinct gmail account that I granted and
removed privs from.

On Thu, Nov 8, 2018 at 7:34 AM Justin Santa Barbara <
notifications@github.com> wrote:

[2018-11-08 20:31] dims commented on #152
@thockin i can turn what we have here into a PR (README in cluster/ directory in this repo).

Is this enough for us to get started with a 30 day cluster?

[2018-11-14 00:52] javier-b-perez commented on #153
Added some comments in the doc, LGTM

[2018-11-14 02:29] dims commented on #153
cc @mkumatag @thockin

[2018-11-19 16:31] thockin commented on #130
In general, kubernetes/kubernetes is not go-get friendly.

[2018-11-19 16:31] #130 closed

[2018-11-28 16:46] dims commented on #153
- Separate out GCS buckets for say kops binaries.
- Need separate GCR as well for images

[2018-11-28 17:06] thockin commented on #151
Annotated TODOs from the README:

* Get owner names and comments on all records: Willing to proceed without full coverage of names

* Push an official image to GCR: thockin will do as soon as we are ready to go live

* When to rebuild?:  Not sure.  Maybe just leave it alone and update when we know we need to?  Low risk as long as pushes are manual.

* Implement the test part of the push script: As

[2018-11-28 17:08] thockin commented on #152
Yes.  The AI today was to create the ggroup, which we called out in this issue already - does that group exist?

We should endeavor to do better than owner/viewer split - a ggroup per app or something, plus overall admins group.

[2018-12-05 13:04] dims opened #156 "[Umbrella Issue] Setup Billing/Reporting for all k8s-infra assets"
We are starting with a GKE cluster for a few jobs. Once that is setup, we will need to make sure we account for the $'s spent with appropriate billing and make sure we have enough reports going back to Google / CNCF.

/assign @idvoretskyi

[2018-12-05 13:07] dims commented on #152
Tim, `k8s-infra-cluster-admins` is the name of the google group. @justinsb has created that group and sent invites.

/assign @thockin

[2018-12-05 13:08] dims commented on #153
Let's use this for GCS buckets. will create another issue for GCR container images repo

[2018-12-05 13:09] dims opened #157 "[Umbrella Issue] Create a Image Promotion process"
Split from https://github.com/kubernetes/k8s.io/issues/153 (see that for some context)

cc @javier-b-perez @mkumatag @listx

[2018-12-05 13:11] dims commented on #157
Notes from Nov 28th meeting

[code]

[2018-12-05 13:13] dims opened #158 "[Umbrella Issue] Setup a GCR Repository for projects to use"
Split from #153 (see that for some context)

cc @javier-b-perez @mkumatag @listx @thockin

[2018-12-05 13:13] dims commented on #158
Related to https://github.com/kubernetes/k8s.io/issues/157

[2018-12-05 13:13] dims commented on #157
Related to https://github.com/kubernetes/k8s.io/issues/158

[2018-12-05 13:16] dims opened #159 "Registry Mirroring and Attestation for Kubernetes project container images"
[code]

cc @justinsb @brendandburns

[2018-12-05 18:52] munnerz commented on #38
If someone wants to point me to where the definitions for gcsweb live, and if this is still something that needs doing, I'd be happy to open a PR!

[2018-12-05 18:53] munnerz commented on #38
d'oh. just spotted `/gcsweb.k8s.io`...

Presumably the cluster that's being deployed into is not already running cert-manager, and presumably we want to use GCLB ingress (i.e. `ingress-gce`) for this? 😄

[2018-12-05 20:08] javier-b-perez commented on #158
Do we have an agreement in the structure of the storage?

[2018-12-05 20:17] thockin commented on #38
James,

Presumably true, so far. :)
On Wed, Dec 5, 2018 at 10:53 AM James Munnelly <notifications@github.com> wrote:

[2018-12-06 00:12] dims commented on #158
@javier-b-perez we need to come up with a proposal

[2018-12-06 21:16] thockin commented on #152
The group has cluster admin access

[2018-12-07 02:52] javier-b-perez commented on #158
You mean a proposal for the structure, like in the [doc](https://docs.google.com/document/d/1cQUAU3AeRahL8Y4R6BDiMiMV44ESPDFNyZQIlgSA5eQ/edit#)?

Option 1)
We have a single staging area

`staging-k8s.gcr.io/<TYPE>/[<PROJECT>/]<IMAGE_NAME>:<TAG>`

TYPE

- kubernetes - core kubernetes images like pause, apiserver etc.
- kubernetes-sigs - Kubernetes SIG-related work
- tests - used for tests
- example

[2018-12-09 10:48] ixdy opened #160 "https broken on docs.k8s.io and docs.kubernetes.io redirectors"
We're currently using DNS challenges with Let's Encrypt, which basically means we create a TXT record at `_acme-challenge.SUBDOMAIN.DOMAIN.`, e.g. `_acme-challenge.docs.kubernetes.io.` for `docs.kubernetes.io`.

Unfortunately, we recently added wildcard CNAME records for `*.docs.kubernetes.io` and `*.docs.k8s.io`, which means that these TXT records aren't resolving and we can't verify these domain

[2018-12-11 17:15] hh commented on #151
Digging into two build in options:

https://github.com/github/octodns/blob/master/octodns/cmds/report.py
https://github.com/github/octodns/blob/master/octodns/cmds/compare.py

[2018-12-12 11:48] marquiz commented on #158
Per-project staging (option 2) sounds safer to me. However, the URI scheme in option 1 looks better without the `-staging` appended to the project name.

I'd be very happy to see this issue solved as node-feature-discovery would need a new home for its images (kubernetes-sigs/node-feature-discovery#177) 😉

[2018-12-22 18:15] listx commented on #157
I'm planning to OSS a proof of concept tool that understands how to reconcile a registry manifest (basically a list of images with digest/tag mappings) from a source registry to a destination registry. This should be available in January 2019. Once that tool is open sourced, I can wire up a basic promotion process for a number of images into a test registry to demonstrate how it will work.

For no

[2019-01-08 14:50] idvoretskyi commented on #156
I made brief research and figured out that the most efficient way for us to have the historical billing usage data is BigQuery export (https://cloud.google.com/billing/docs/how-to/export-data-bigquery); it also allows us to visualize the data with Data Studio - https://cloud.google.com/billing/docs/how-to/visualize-data.

An alternative method is exporting to CSV/JSON file, which is easier, but le

[2019-01-09 16:46] idvoretskyi commented on #159
/cc

[2019-01-09 16:59] spiffxp commented on #151
/assign @thockin @dims

[2019-01-09 17:00] spiffxp commented on #151
/assign @hh @thockin

[2019-01-09 17:02] ixdy commented on #153
I think @spiffxp meant to
/assign @thockin @dims
here

[2019-01-09 22:05] listx commented on #157
Happy New Year all!

The tool I've worked on was submitted for internal review yesterday (as part of Google's open sourcing process). After it gets approved, I will create a public demo of it in action and update this issue accordingly.

[2019-01-09 23:02] dims commented on #157
very cool @listx thanks for the update and a very happy new year to you as well.

[2019-01-10 22:56] BenTheElder commented on #160
/priority important-soon
/kind bug

[2019-01-10 23:06] ixdy commented on #160
I think I know how to fix this - if we create dummy A records for `_acme-challenge.docs.kubernetes.io` and `_acme-challenge.docs.k8s.io`, that should prevent the wildcard from taking effect for the TXT records.

[2019-01-11 01:16] hh commented on #151
@thockin if do you want to try and apply #162 using the new push/test scripts?

[2019-01-11 22:34] ixdy commented on #160
/close

New cert has been deployed.

[2019-01-11 22:34] #160 closed

[2019-01-15 01:59] listx commented on #157
Update: The project has been approved and the Container Image Promoter now lives in https://github.com/GoogleCloudPlatform/k8s-container-image-promoter. Work now begins in creating a public demo of it in action (I plan to devote cycles on this to get the demo working by the end of Q1 this year).

Once the demo is complete, I think it's just a matter of using it as a template for migrating some of

[2019-01-16 00:41] spiffxp opened #166 "renaming k8s-infra-team to wg-k8s-infra"
Now that our charter has landed (ref: https://github.com/kubernetes/community/pull/2830), and we're still in early days, let's rename assets from k8s-infra-team to wg-k8s-infra:

**slack channel**
- #k8s-infra-team - > wg-k8s-infra

This is a transparent rename, need to ask #slack-admins

**public google group**
- https://groups.google.com/forum/#!newtopic/k8s-infra-team -> wg-k8s-infra

This is a

[2019-01-16 00:46] cblecker commented on #166
I'd like to consider if we're moving anyways, to use our gsuite instead of public google groups. The auditing of permissions, the administrator recovery, etc are way stronger there as opposed to the public groups (especially with these really high level trusted permissions).

[2019-01-16 00:56] dims commented on #166
@cblecker i am cool with waiting for/using the gsuite.
@spiffxp looks good other than that!

[2019-01-16 01:03] cblecker commented on #166
It's my understanding that *groups* don't cost anything, so we'd just need to request of one of the steering committee admin account holders to set up the groups themselves for us.

[2019-01-17 20:46] spiffxp commented on #166
I'm fine with the idea of holding on our groups for ACLs etc, to see if gsuite makes more sense

But I would still like to rename our public discussion group / mailing list

[2019-01-18 22:14] BenTheElder commented on #158
cc

[2019-01-18 22:14] BenTheElder commented on #153
cc

[2019-01-22 19:13] thockin commented on #166
In general, the feeling was NOT to use the gsuite account very much.  Because this will be potentially a lot of small groups, in particular.  But I don't hold those keys any more.  If steering wants to use gsuite ggroups for this, I am fine.

If we stay with public ggroups, I think we should leave the admin groups (which means the GCP project needs no changes).

If we move to gsuite, I will need n

[2019-01-22 19:38] cblecker commented on #166
The problem is I don't want to lose access or control over any of the google groups that give infrastructure control. I would like to see those extremely tightly held.

[2019-01-23 01:12] thockin commented on #166
Christoph, are you arguing FOR or AGAINST gsuite? :)

On Tue, Jan 22, 2019 at 11:38 AM Christoph Blecker <notifications@github.com>
wrote:

[2019-01-23 01:21] cblecker commented on #166
FOR :)

Sure, we'd need to bug one of the admins for new groups being created, but we have way better control/visibility/auditing too.

[2019-01-23 02:48] nikhita commented on #140
/remove-lifecycle stale
/assign

[2019-01-23 16:26] brendandburns opened #170 "[Umbrella Issue] Project artifact management task list"
This is an umbrella issue covering the tasks needed to manage, distribute and promote container images. Once this issue is complete people will have a single URL that they can use to pull each image no matter where they are in the world. Projects will have a known way to push and promote their images.

Tasks:
- [ ] Design Document describing how all this will work.
- [ ] GCR Repository for officia

[2019-01-29 23:07] listx commented on #157
The design doc for the demo around this can be found here: https://docs.google.com/document/d/1WGFt5ck_XGf71PO4c87UMPVU_4Q7AV-7tRV4Z6wmZL4/edit?usp=sharing

[2019-01-31 18:02] dims opened #175 "We need a GSuite for sharing SIG/WG documents"
Context : https://github.com/kubernetes/community/issues/3159

Some docs are in personal google accounts, we need to move them somewhere better.

Example of a problem from a slack discussion:
[code]

Also see https://groups.google.com/a/kubernetes.io/forum/?utm_medium=email&utm_source=footer#!msg/steering/my_roZIKuXo/I-pjrrvrDwAJ

[2019-01-31 18:02] dims commented on #175
cc @parispittman @idvoretskyi

[2019-01-31 18:07] thockin commented on #175
We don't want to make "member of the gsuite" a new "achievement unlocked"
thing.  I try to remember to publish docs from my personal gmail.  That is
obnoxious but at least it doesn't mean "myname@k8s.io" becomes a merit
badge.

On Thu, Jan 31, 2019 at 10:02 AM Davanum Srinivas <notifications@github.com>
wrote:

[2019-02-04 15:56] pohly commented on #158
kubernetes-csi also needs an area to publish its sidecar container images.

[2019-02-04 15:57] pohly commented on #158
`gcr.io/kubernetes-csi/<image>:<tag>` sounds good to me.

[2019-02-05 07:56] marquiz commented on #158
Any progress on this issue?

[2019-02-06 16:57] ixdy opened #176 "Automate updates for k8s.io redirector service"
Currently, changes to the k8s.io redirector service (i.e any changes to the configs under the k8s.io subdirectory) require @ixdy or @thockin to manually update the cluster, basically following something like the following process:

[code]

There are lots of steps to automate here:
- restarting nginx manually
- testing on the canary namespace before updating the prod namespace
  - ideally we test b

[2019-02-06 16:58] ixdy commented on #38
cc @hh @justinsb

This is probably a good first step - if we get TLS automation working for gcsweb, then the k8s.io redirector site should be an easy extension from there.

[2019-02-06 16:59] ixdy commented on #38
Neither gcsweb nor the k8s.io redirector is running behind ingress, so that's the 0th step.

After that we can set up TLS automation.

[2019-02-06 17:09] spiffxp commented on #151
next steps?
- cluster?
- wait until prow?
- if someone files an issue, people in the OWNERS file can push a PR, once the PR is merged, "we = k8s-infra-dns-admins googlegroup" can run a command which canaries and pushes to prod

[2019-02-06 17:23] dims opened #177 "Move slack inviter to CNCF infrastructure."
http://slack.k8s.io/ is running in a cluster which very few people have access to. We need to move this to the CNCF's GKE cluster.

[2019-02-06 17:47] cblecker commented on #177
/sig contributor-experience

[2019-02-06 19:22] thockin commented on #38
GCSweb should be easy since it has only one hostname.  The redirector is
the fugly one.

On Wed, Feb 6, 2019 at 8:59 AM Jeff Grafton <notifications@github.com>
wrote:

[2019-02-06 19:52] ixdy commented on #38
We should also put slack.k8s.io behind TLS.

[2019-02-06 19:53] thockin commented on #38
Also true.

On Wed, Feb 6, 2019 at 11:52 AM Jeff Grafton <notifications@github.com> wrote:

[2019-02-06 19:57] thockin commented on #38
https://github.com/kubernetes/k8s.io/pull/180 - put gcsweb behind ingress

On Wed, Feb 6, 2019 at 11:53 AM Tim Hockin <thockin@google.com> wrote:

[2019-02-06 23:29] thockin commented on #38
As far as I can tell the ingress part of gcsweb is done.  Simple recipe to follow for slack (when ready).

Now for the TLS part :)

[2019-02-07 07:59] ixdy commented on #38
I played around with cert-manager a bit this evening, got it working on my own deployment: https://gcsweb.ixdyland.net/gcs/kubernetes-jenkins/

Should be pretty easy to deploy this for the "real" gcsweb as well as the k8s.io redirector.

Only issue with putting the k8s.io redirector behind a GCLB Ingress is that I'm not sure we can do http -> https upgrades.

[2019-02-07 20:31] ixdy commented on #38
OK, it's possible to force http -> https upgrades by inspecting the `X-Forwarded-Proto` header.

Example of its use in gcsweb: https://github.com/kubernetes/test-infra/pull/11176

[2019-02-09 14:08] dims commented on #158
ON Friday Feb 8th Tim and i ended up setting up the following for GCR.

As a first step, we are setting up staging repositories.
- gcr.io/k8s-staging-csi
- gcr.io/k8s-staging-cluster-api
- gcr.io/k8s-staging-coredns

Folks in the following google groups will be able to push to the staging repository:
- k8s-infra-gcr-staging-csi@googlegroups.com
- k8s-infra-gcr-staging-cluster-api@googlegroups.com

[2019-02-09 21:30] dims opened #183 "Run publisher-bot in CNCF infra"
https://github.com/kubernetes/publishing-bot is currently running in a OpenShift based cluster inside RedHat. We should move it to a CNCF sponsored GKE cluster.

To try the bot out, we can use the kubernetes-nightly github org. To populate the repos in this org, we can use:
[code]

To run the bot you can use:
[code]

Note that you will need to be added to get access to the github token (we use `gi

[2019-02-09 21:33] dims commented on #183
@sttts any other tips we can record here? (eventually we need to write these up somewhere)

[2019-02-10 21:59] dims commented on #177
Don't know where our yaml file is or how it's installed. Though looks like @luxas has a setup for another instance here: https://github.com/luxas/cloud-native-finland/blob/master/setup/blog/slackin.yaml

[2019-02-10 22:01] dims commented on #175
discussion here : https://groups.google.com/a/kubernetes.io/d/msg/steering/my_roZIKuXo/I-pjrrvrDwAJ

[2019-02-10 22:14] dims commented on #152
i have been able to access the cluster and run the publishing-bot

[2019-02-11 07:14] thockin commented on #177
I can extract the running YAML for this, when we are ready.

On Sun, Feb 10, 2019 at 1:59 PM Davanum Srinivas <notifications@github.com>
wrote:

[2019-02-11 18:19] idvoretskyi commented on #156
cc @hh who is going to work on the Bigquery + DataStudio utilization.

[2019-02-11 18:25] BenTheElder opened #184 "DNS REQUEST: kind.sigs.k8s.io subproject docs"
### Type of DNS update: Create
one of: Create, Delete, Update

### Domain being modified: k8s.io
e.g. `k8s.io`

### Existing DNS Record:

[code]

### New DNS Record:

[code]

### Reason for update:

The SIG-Testing [kind](https://github.com/kubernetes-sigs/kind) subproject has been working on subproject documentation using tooling aligned with SIG-Docs, currently at https://kindocs.netlify.com/ un

[2019-02-11 18:35] BenTheElder commented on #184
cc @dims @cblecker ref: https://github.com/kubernetes/k8s.io/blob/master/dns/OWNERS

I briefly tested that it is possible to do something like this with my own netlify backed domain (with external DNS) and a subdomain backed by the kind netlify.

From that test I believe this will work fine as long as someone who owns both the k8s.io netlify project and the kind project does this on the netlify en

[2019-02-11 18:37] dims commented on #184
/assign @thockin

[2019-02-11 22:53] dims commented on #158
related to https://github.com/kubernetes/k8s.io/pull/186

[2019-02-11 23:08] thockin commented on #158
Note that my PR *does not* add an age-out for these repos.  If we're interested in that, we can add it.

[2019-02-11 23:53] cblecker commented on #184
Is this the right format for docs sites like this (vs. `kind.k8s.io` or something else).

[2019-02-11 23:59] thockin commented on #184
What @cblecker said.  I don't have context - are we going to create a netlify site and domain for every sig-owned thing that writes docs?

[2019-02-12 00:00] thockin commented on #184
Don't we pay for netlify?  Who is paying for this?  @dims

[2019-02-12 00:00] BenTheElder commented on #184
Either works for me, initially we opted for the more namespaced route to attempt to avoid :bikeshed:. The project is only SIG sponsored / is not a core component etc.

From the subproject's POV we just want to get on a domain other than netlify but distinct from the SIG-Docs maintained primary site. Per previous discussion with SIG-Docs the subproject will be responsible for maintaining these.

[2019-02-12 00:02] BenTheElder commented on #184
@thockin This site is under a Netlify Team setup by @chenopis. So is https://book.kubebuilder.io/ though that one has another domain.

https://kustomize.io/ and https://cri-o.io/ are independent and not owned by the community AFAIK.

There isn't a solid pattern yet. We're trying to find one going forward.

[2019-02-12 00:07] thockin commented on #184
None of those are .k8s.io, though.  Is the kubebuilder book something that is community owned?  We should make sure that a process is in place to pay for it.

Also, I don't see the relationship between these docs and the kubebuilder site?

Either way, my question stands: are we OK to create a (paid?) netlify site and domain for every sig-owned thing that writes docs, or should those projects be us

[2019-02-12 00:13] BenTheElder commented on #184
The kubebuilder "book" docs are from [the kubernetes-sigs repo](https://github.com/kubernetes-sigs/kubebuilder/tree/master/docs), my understanding is that it is on a community owned Netlify and the domain was possibly being donated per @mengqiy

What we've setup currently is based on input from SIG-Docs on acheiving alignment on hugo + netlify.
I don't know how / who pays for it exactly, @chenopis

[2019-02-12 00:18] thockin commented on #184
Understood, just know that it's a slippery slope, and before we set foot onto it, I think we need to know the rules.

Hypothetically, 25 other sig-owned things could see this and say "I want one".  Are we OK granting 25 new domains and 25 new netlify sites?  Andrew, what are the terms here?

[2019-02-12 00:52] zacharysarah commented on #184
@thockin I'm deferring to @chenopis for deep knowledge, but as far as I understand it:

## Summary

Setting up a new subdomain is easy from a UI perspective.

Netlify teams make permissions problematic.

Each netlify team requires its own billing plan.

## Context

Netlify's UI is pretty straightforward; setting up a new site is almost trivially easy. For example, I've configured a site for [kuber

[2019-02-12 01:22] BenTheElder commented on #184
Thanks for the details @zacharysarah :sweat_smile:

Understood @thockin.

FWIW the DNS request is specifically about obtaining a stable community owned (at ~$0 additional cost?) URL which can be re-pointed at whatever host ultimately backs it, and `${project}.sigs.k8s.io` was chosen as ~the least official sounding option, with the import path already being `sigs.k8s.io/${project}`.

Community owne

[2019-02-12 09:42] chenopis commented on #184
Come to think of it, our 2 year contract is coming up for renewal in May.

As per the original arrangement I negotiated, CNCF prepaid annually to get a discount for the [Enterprise (custom) tier](https://www.netlify.com/pricing/?_ga=2.264787983.1873895850.1549913195-2050177659.1549348034#teams). The cost is $4500/yr. We are on an unlimited plan, which you can see in the Team Settings in the Netlif

[2019-02-12 13:20] dims commented on #158
@thockin i think we should `age-out` all the artifacts in the staging repos to prevent them from being used beyond testing. I'd say 2 weeks.

[2019-02-12 15:02] jeefy commented on #158
Per @dims (Thanks!)

Piggy-backing on this thread to request a k8s.gcr.io repo for https://github.com/kubernetes-sigs/dashboard-metrics-scraper when things get sorted out. 😄

[2019-02-12 16:26] thockin commented on #184
A new URL redirector is ~0 cost, yes.  It's the precedent and inconsistency that has potential cost.

a) Do we want every SIG-owned sub-project to get a URL?  If so, is this the right template for URLs?

b) Do we want every SIG-owned sub-project to get a netlify?  If so, who pays for it, and who administers it?

This is all very fresh in my mind as the wg-infra team chips away at the mass of non-c

[2019-02-12 17:29] BenTheElder commented on #184
Detailed answers below. Shorter version is that I didn't expect this to be a big precedent yet, is there a more appropriate avenue to discuss and move forward or should we shut it down and find a different solution?

----

Yes, right now we do have inconsistency... I'd like to change that eventually if we find something that works.

For precedent the netlify(s) have been called an "experiment", al

[2019-02-12 17:57] thockin commented on #184
Excellent point - we redirect `sigs.k8s.io/project` to the code.  You're proposing `project.sigs.k8s.io` (which is confusingly similar) redirect to docs.  That's a little confusing to me.  Maybe it's OK, but I want it to be overt.  Should we write this down somewhere?

Also, it's worth noting that all of these are .k8s.io but NOT .kubernetes.io.  .k8s.io is what we use for gopath because it is sho

[2019-02-12 19:33] BenTheElder commented on #184
The content at each of these (the repo, the docs) should link back to each other so if confusion does arise it's probably OK.

For tools users & developers will use the docs URL much more than the import I think.
Libraries might use the repo URL more but are also probably less likely to use more than [godoc.org](https://godoc.org/) anyhow.

Alternatively, projects with a `project.sigs.k8s.io` coul

[2019-02-12 21:29] thockin commented on #184
This DNS change is pushed.

[2019-02-12 21:29] #184 closed

[2019-02-12 21:45] BenTheElder commented on #184
Thank you.
Seeing if we can get the netlify end to cooperate.

[2019-02-13 18:39] justinsb opened #189 "Provide firebase accounts for subproject docs"
In the cluster-api meeting today we discussed how best to do docs for subprojects, and there was a general preference for using firebase - except that it isn't free.  Is this something we can do under the CNCF wg-infra umbrella?

cc @neolit123 and @davidewatson for visibility and possibly to provide some background context.

[2019-02-13 18:54] neolit123 commented on #189
thanks for logging this @justinsb !

[2019-02-13 18:58] dims commented on #183
/assign @sttts

[2019-02-15 16:26] sttts commented on #183
Publishing-bot for the main kubernetes org is now running in CNCF cluster in k8s-publishing-bot namespace. It is deployed manually as it had been before in Openshift:

[code]

[2019-02-16 08:16] listx commented on #157
Another update: I have a demo Prow cluster (http://35.186.240.68/) that's listening to all changes to the manifest in https://github.com/cip-bot/cip-manifest. That repo houses a manifest that is obviously only for demo purposes, but if you have a look at this PR: https://github.com/cip-bot/cip-manifest/pull/2 you can see how a proposed changed to the manifest will trigger Prow jobs that perform a

[2019-02-16 14:33] dims commented on #157
@listx Nice!

+1 to add jobs to kubernetes/test-infra

Also, can we run the garbage collector in dry run mode to check what if any will get wiped out in production registry before turning it on?

[2019-02-16 14:34] dims commented on #157
/assign @thockin @BenTheElder

[2019-02-16 21:45] listx commented on #157
@dims After we make garbage collection aware of manifest lists, sure (otherwise it will print a bunch of false positives about needing to delete tagless images that are referenced by manifest lists). The more I think about it, the more I want to just separate GC entirely from promotion. Less complexity per execution of the promoter is a good thing.

And also, we could make GC much smarter and safe

[2019-02-17 14:59] dims commented on #157
@listx makes sense "disable garbage collection for the time being as it's not a critical feature as far as promotion" +1

I like the graveyard GCR too :)

[2019-02-18 02:19] BenTheElder commented on #157
kubernetes/test-infra SGTM, I would poke @fejta about our strategy for "trusted" jobs, as this should be one.

+1 to dry-run first, not sure I understand the graveyard GCR 🙃

[2019-02-19 13:46] nzoueidi commented on #140
I see that the PR  #2408 has been merged. If it doesn't close this issue. I would like to work on it. Thanks :)

[2019-02-19 14:57] dims commented on #157
update on dockerhub integration https://github.com/GoogleCloudPlatform/k8s-container-image-promoter/issues/9

[2019-02-20 00:30] listx commented on #157
I was thinking that the graveyard GCR could host images that were deemed OK to delete (permanently) from a prod GCR. Thinking about this some more, though, maybe it's cleaner if we just implement soft-deletion (make the promoter "delete" images) by moving images to a different path within the same GCR.

Anyway the idea for keeping things around in the "graveyard" was to make sure we can *undo* ima

[2019-02-20 11:26] pohly commented on #158
This is meant for the images published by Kubernetes-CSI, right? @BenTheElder pointed out that images built locally can be side-loaded into `kind`, so for CI testing purposes alone it might not be necessary to push images to this staging area.

We could publish release images in this staging area, but then the question becomes where the final destination will be (k8s.gcr.io/csi?) and how quickly t

[2019-02-20 13:25] neolit123 commented on #158
just wanted to raise one point about GOOS tags and Windows.

originally we tough that this can apply cleanly so that we can have one manifest list (say for the `pause` container) that runs on all OSes, but on Windows there is a bit of a problem with sizes.

workloads on Windows can be based on a Windows Server XX and Windows Nanoserver XX.
according to my research, the nano server one is at least

[2019-02-20 14:27] idvoretskyi commented on #189
/cc

[2019-02-20 17:17] dims commented on #177
/assign @thockin

[2019-02-20 17:45] thockin commented on #177
https://github.com/kubernetes/k8s.io/pull/192

[2019-02-20 19:21] hh opened #193 "Storage Analysis for Billing"
We need to have more detailed reporting on storage, so we can detail our spend per project.

I'm creating this tracking sub-issue for #156
/cc @justinsb

[2019-02-20 19:23] hh commented on #156
Brought #193 under this umbrella so we know where our storage costs are going.

Thank you @justinsb for bringing this up! (and for keeps kops infra up until the transition) :100: :1st_place_medal:

[2019-02-20 19:26] hh opened #194 "Per k8s namespace billing information"
As we grow the infrastructure to include more projects, namespaces are the logical point for bucketing our infra spend. We need to research / document / implement per-namespace billing information.

Bringing under #156.

@thockin did you have information on this?

[2019-02-20 19:28] hh commented on #156
Tracking implementation of per-namespace billing at https://github.com/kubernetes/k8s.io/issues/194

[2019-02-20 19:29] hh opened #195 "Document Requirements for spending CNCF money on sigs"
I think the general guideline we discussed was, "are the artifacts produced publicly consumed"

/assign @dims

[2019-02-20 19:41] hh commented on #157
Action Items from February 20th Meeting:

- [ ] @thockin / @listx [Promoter + Prow Job](https://github.com/kubernetes/test-infra/issues/11394)
- [ ] @thockin to provide a list of staging repos / groups who own them
- [ ] @thockin Set up GCR Repo (scripted last week for staging)
- [ ] @dims yaml file pushed to k8s.io repo
- [ ] @listx  Document procedures for eventually moving the image promoter re

[2019-02-20 19:53] hh opened #196 "Setup group with IAM Read / Auditing Permissions"
@thockin Pair session next week, best overlap is probably 9:30-11:00am NZT Tuesday-Friday (Mon-Thu PST)?

Auditing Billing umbrella / #156

[2019-02-20 19:57] hh commented on #189
Justin and @dims discussed this on the #k8s-wg-infra call toady.
@idvoretskyi recommended the request come from you or @spiffxp

[2019-02-20 20:06] javier-b-perez commented on #157
I have some security concerns about running this in prow.
@thockin @listx will the prow job promote the container images? this mean that Prow will require write access in the GCR. Do we trust that no one else can "promote" images using prow?

[2019-02-20 20:12] idvoretskyi commented on #189
Before submitting, can someone please update this issue with more details on the purpose of using Firebase?

Specifically, in Firebase vs Netlify comparison.

[2019-02-20 20:38] neolit123 commented on #189
thanks @idvoretskyi
^ @davidewatson could you please comment.

[2019-02-20 21:10] fejta commented on #157
IMO these image promotion jobs should run in their own security domain:
* Separate from CI jobs which run arbitrary presubmit code after an `/ok-to-test`
* Separate from trusted prow binaries which may write access to many kubernetes repos.

AKA we trust them more than standard jobs (only run on merged code) and less than prow itself (approvals are not restricted to prow oncall).

A good way to so

[2019-02-20 21:42] javier-b-perez commented on #157
I was thinking in something simple (no infra/tools to maintain, runs on demand), just GCB + triggers:
https://cloud.google.com/cloud-build/docs/running-builds/automate-builds

[2019-02-20 21:56] thockin commented on #157
I am ambivalent about mechanism.  Simple is good, but it needs to be
debuggable and transparent.

On Wed, Feb 20, 2019 at 1:42 PM Javier B Perez <notifications@github.com>
wrote:

[2019-02-20 21:58] fejta commented on #157
I would consider prow a better community choice than GCB:
* Integrates with the rest of our tooling -- aka logs/metrics/failures will show up in gubernator, spyglass, testgrid and bigquery
* Community is already familiar with prow
* ProwJobs can use the same knative-build spec GCB uses

The advantage of GCB is that it runs on a VM with auto-loading service account credentials. You can get the same

[2019-02-20 22:49] dims commented on #189
@davidewatson please write up what we need and why, and ping me back?

[2019-02-21 02:47] listx commented on #157
As a reminder, there is a [design doc](https://docs.google.com/document/d/1WGFt5ck_XGf71PO4c87UMPVU_4Q7AV-7tRV4Z6wmZL4/edit#heading=h.unou5tt85weu) for this --- the relevant section is "CI Runtime" under "1. CI for CIP Manifest (demo)"). The demo is live at http://35.186.240.68/ --- for solving this issue itself, the current momentum is to just transfer the Prow jobs to github.com/kubernetes/test-

[2019-02-21 06:50] davidewatson commented on #189
After talking to @BenTheElder I learned that kind and kubebuilder recently switched to using netlify so I don't think there is any reason for us to use firebase anymore. Thanks for everyone's help on this.

/close

[2019-02-21 06:50] #189 closed

[2019-02-21 06:56] BenTheElder commented on #189
See this thread for some more details until we get it written up properly: https://kubernetes.slack.com/archives/C1J0BPD2M/p1550730421025400

----

I've been working to solve subproject docs, we have a netlify experiment here: https://kind.sigs.k8s.io/

I think we can do this repeatably at scale and at no additional cost to the main website, which already uses it.

In particular nearly all details

[2019-02-22 13:29] nikhita commented on #140
That PR just checks for the cherry-pick link, so please feel free to work on this!

Checking if all the links mentioned here https://github.com/kubernetes/k8s.io/tree/master/k8s.io work + fixing them/mentioning them in the issue here should be good enough. :)

[2019-02-22 17:32] nzoueidi commented on #140
There is an invalid URLs which are: `https://go.k8s.io` and `https://go.kubernetes.io`
The missing one are: `https://blog.kubernetes.io` and `https://kubernetes.io`
And there is only one URL which is `https://kubernetes.submit-queue.k8s.io`, the correct one is `https://submit-queue.kubernetes.io`

[2019-02-23 00:06] #140 closed

[2019-02-25 12:42] bartsmykla commented on #176
Hi @ixdy what do you think about me helping with that. Can you give me some hints or directions about people who could give me more informations? :-)

[2019-02-26 06:05] BenTheElder commented on #158
we'd need a GCP service account / service account key with access to this.

[2019-02-26 12:45] bartsmykla opened #204 "Moving Gcsweb to CNCF Infrastructure"
As one of the tasks is to moving Gcsweb to CNCF Infrastructure (https://docs.google.com/document/d/1r0nydnBoU7o_L7Hnjdc9SZrWe9zosbz64ZUUPn0XwXk)
I would like to take this task and work on it.

@thockin, @ixdy - could you maybe give me a hand with the issue?

[2019-02-26 23:02] ixdy commented on #176
Take one of the steps I listed above and figure out some solution? e.g. figure out how to automatically update nginx when pushing a new configmap. (There are several approaches with different tradeoffs, and nobody's taken the time to figure out what makes the most sense here.)

[2019-02-27 13:52] bartsmykla commented on #176
In one of my past projects we were using the approach of creating a sidecar container which was watching changes inside specified paths, and when they appeared it was reading configmap, parsing it and sending to specified endpoint., but here it would be different.

One of the approaches would be to use feature, which is currently in beta -> `Share Process Namespace between Containers in a Pod`. We

[2019-02-27 15:15] jimangel commented on #189
/cc

[2019-02-28 01:15] #38 closed

[2019-02-28 01:25] ixdy commented on #38
not yet deployed

[2019-02-28 13:59] bartsmykla commented on #176
@ixdy I have created simple Go app using: https://kubernetes.io/docs/tasks/configure-pod-container/share-process-namespace/ which can be added as a sidecar container. I have to figure out how to test it yet, but for tests we can play with it: https://github.com/bartsmykla/nginx-reloader

[2019-02-28 23:27] listx commented on #157
Update: Creating a new Prow cluster will make things simpler from a security standpoint. So https://github.com/kubernetes/test-infra/pull/11414 is actually unnecessary. Creating a new cluster makes things a lot simpler for me because I can just re-do what I did to set up the demo, just under a different GCP project.

The next task is to try to create a new Prow cluster in a GCP project owned by th

[2019-02-28 23:44] javier-b-perez commented on #157
I have another idea.
Prow runs the pre-submit with the tool in dry_run mode. Prow won't need write access to production registries. If someone (intentionally or accidentally) modify the prow job to run in 'real' mode, it will fail to push.
This mean we still need to run the tool in 'real' mode as post-submit. In this case we can use GCB + Triggers.

Workflow:
1. Developers send changes for review

[2019-03-01 02:32] listx commented on #157
But having 2 different systems would be confusing, wouldn't it?

Some other observations:
(A) I'd like to have a [testgrid](https://k8s-testgrid.appspot.com/sig-release-misc) entry for all promoter runs, with and without the `-dryrun` flag. Using Prow for both type of runs would make adding testgrid entries trivial --- not sure what the equivalent would be for GCB runs.
(B) Eventually we want the

[2019-03-01 10:22] bartsmykla commented on #166
Hi guys. I've found one more place where where was an old url to the wg google group, and created a PR: https://github.com/kubernetes/community/pull/3334

I'm in the process of adding my email to the list of CNCF's approved CLA, but after that is there anything else I can help here with? :-)

[2019-03-01 11:34] nikhita commented on #183
cc @hoegaarden

[2019-03-04 17:08] chuckha commented on #158
@dims I am not a sig lead but am working on the release pipelines for cluster-api and cluster-api-provider-aws. I'd like to have my work eventually end up in other providers, but am starting there. Would it be possible to be added to the cluster-api staging group? I'll request to join. No worries if it's a sig-leads-only policy.

[2019-03-04 17:19] dims commented on #158
@chuckha we are still waiting for a couple of pieces to go into prow, so yes please hang on :)

[2019-03-04 18:58] ixdy commented on #38
This is now deployed; gcsweb is running behind an ingress with https, and it auto-upgrades itself from http -> https.

[2019-03-04 19:12] spiffxp commented on #204
/assign @bartsmykla

[2019-03-05 13:12] justaugustus commented on #158
@dims -- Hiya! We (capz) are also interested in getting access to push images to staging and production GCR buckets. :)

[2019-03-07 17:27] chuckha commented on #158
@dims Are there issues for the prow work I can track?

[2019-03-07 18:19] dims commented on #158
@chuckha please ping @listx and also look through stuff in https://github.com/kubernetes-sigs/k8s-container-image-promoter

[2019-03-08 17:12] dims opened #206 "Take inventory of the google groups we created"
- we need to document who is in which group, what is the group used for.
- also add a template for creating new groups

[2019-03-08 17:12] dims commented on #206
/assign @dims

[2019-03-08 17:52] hh opened #207 "Create IAM Dump scripts"
[code]

I'm put some quick notes https://github.com/ii/org/blob/master/k8s.io/kubernetes/k8s.io/iam.dump.md and will revisit this next week.

Thank you to @thockin for the pair session and for creating the necessary group and permissions for auditing.

[2019-03-08 17:53] johnsonj commented on #158
Hi! I'd like to get staging bucket setup for our project (for CI):

https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern

[2019-03-08 17:57] hh commented on #207
### list org projects<a id="sec-1-1-1"></a>

[code]

    kubernetes-public	kubernetes-public	127754664067

## iam dump<a id="sec-1-2"></a>

### CNCF org<a id="sec-1-2-1"></a>

[code]

[code]

### kubernetes-public<a id="sec-1-2-2"></a>

[code]

[code]

### CNCF org roles<a id="sec-1-3-1"></a>

[code]

    Listed 0 items.

### kubernetes-public project roles + perms<a id="sec-1-3-2"></a>

[code]

[2019-03-08 18:21] thockin commented on #206
Also need a way to programmatically get a list of members

On Fri, Mar 8, 2019 at 9:12 AM Davanum Srinivas <notifications@github.com>
wrote:

[2019-03-11 10:03] bartsmykla commented on #176
Hi @ixdy did you have some time to look at my suggestions maybe?

[2019-03-11 10:05] bartsmykla commented on #204
@spiffxp, @thockin, @ixdy  who should I poke to get some informations about cluster, where Gcsweb should be moved to (especially related to access)?

[2019-03-12 18:17] dims commented on #204
/assign @thockin @ixdy

Tim, Jeff, can you please pull the existing manifests and let @bartsmykla take a peek?

[2019-03-12 18:18] dims commented on #176
@ixdy WDYT? ^

[2019-03-12 21:40] ixdy commented on #204
The existing manifests are in the gcsweb.k8s.io/ directory of this repo, currently running in the same Kubernetes cluster that we run the k8s.io redirector (and to which I recently deployed cert-manager). It runs in the `gcsweb` namespace, but I don't think that's encoded in the checked-in manifests (for whatever reason).

We don't really have any turnup scripts or anything, though I think you'd r

[2019-03-13 23:49] thockin commented on #204
We need to get the "real" cluster up in the next few weeks.  Not much
you can really do until then, sadly.

On Tue, Mar 12, 2019 at 2:40 PM Jeff Grafton <notifications@github.com> wrote:

[2019-03-15 21:34] ixdy commented on #176
@bartsmykla I also think I prefer the sidecar option, since that seems like a cleaner, more generalizable pattern, though I don't think GKE supports kubernetes 1.13 yet.

Do you have access to a kubernetes cluster for testing? You could try updating the manifests in the k8s.io directory of this repo to try out your approach.

[2019-03-22 03:38] ixdy commented on #176
though, a counterpoint: it'd be nice to take advantage of the fact that we're using a Deployment right now, and so we should perform a rolling update of the config (in case it causes nginx to crash).

I've seen patterns where the ConfigMap containing the nginx config is somehow munged to work with a Deployment rolling update - maybe something like [this](https://blog.questionable.services/article/

[2019-03-22 06:40] bartsmykla commented on #176
Let me dig into it a little bit more

[2019-04-02 19:31] listx commented on #157
Another update: the Prow configs have been merged. We have to now test image promotion... for reals! I'm going to file a PR against github.com/kubernetes/k8s.io to add a test image and try to see what happens, unless someone beats me to the punch.

The testgrid entries for the production runs ({ci,post}-k8sio-cip) should be getting populated soon. The ci one runs daily so if nothing shows up by to

[2019-04-03 23:54] ixdy opened #215 "move k8s.io redirector behind Ingress and automate TLS using cert-manager"
The TLS cert for the k8s.io redirector expires in about a week (April 11). Let's get it automated!

I've already got cert-manager set up in the cluster, so now it's just a matter of getting the redirector running behind an `Ingress` without breaking anything.

Steps to get there:
1. Teach nginx how to handle forwarded HTTPS requests from the GCP Ingress (since it won't terminate HTTPS directly in

[2019-04-03 23:57] ixdy commented on #215
(I've basically gotten all of this working on my test instance; just need to roll it out to k8s.io now.)

[2019-04-04 00:09] ixdy commented on #215
OK, looking at this a bit more, it seems like it's not possible to rename the IP address automatically allocated by the Ingress, so we need to first explicitly create one.

Unfortunately we already have `k8s-io-canary` and `k8s-io-prod` IP addresses, so I guess I'll have to use a different name.

[2019-04-10 04:18] #215 closed

[2019-04-12 19:17] brancz commented on #158
[kubernetes/kube-state-metrics](https://github.com/kubernetes/kube-state-metrics) would also very much appreciate this (and more sig-instrumentation projects in line :) )

[2019-04-16 11:23] dims commented on #166
that should be it.

/close

[2019-04-16 11:23] #166 closed

[2019-04-16 20:27] dims commented on #159
/remove-lifecycle stale

[2019-04-17 01:47] listx commented on #157
Now that https://github.com/kubernetes/k8s.io/pull/220 is merged the promoter manifests in https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io are now live. This means that the testgrid entries I mentioned earlier should start to be green.

There are some remaining [features to implement](https://github.com/kubernetes-sigs/k8s-container-image-promoter/issues), but they are not blockers to

[2019-04-17 15:26] dims commented on #195
"Various projects in the kubernetes and kubernetes-sigs github organizations produce artifacts including release binaries, container images etc. The wg-k8s-infra will help figure out choices/options for supporting the creation and dissemination of these artifacts."

Is this enough? where do we add this language?

[2019-04-17 16:07] nikhita commented on #183
What's remaining here?

[2019-04-17 17:16] dims commented on #183
we are good! i think :)

/close

[2019-04-17 17:18] nikhita commented on #183
Missed this before, do we need to document some stuff too :)

[2019-04-17 17:21] dims commented on #183
lol ok. reopening

/reopen

[2019-04-19 06:09] cblecker opened #228 "Manage Google Group memberships via API"
If we use the kubernetes.io gsuite, we should be able to manage group creation and membership via an API.

We should be able to create a service account, and then delegate it the following scopes via domain-wide delegation:
- `https://www.googleapis.com/auth/admin.directory.group`: https://developers.google.com/admin-sdk/directory/v1/guides/delegation
- `https://www.googleapis.com/auth/apps.groups

[2019-04-23 03:42] listx commented on #157
@dims I think we can close this issue. I've done some additional testing and the promoter is working as expected. If there are any remaining bugs then it would be around the infra logic around using the promoter (the prow job definitions), not the promoter itself.

The next step would be to give interested parties write access to the staging repositories under https://github.com/kubernetes/k8s.io/

[2019-04-25 11:22] dims opened #235 "GCS Bucket for sig-release prototype for apt and rpm repos"
Some @kubernetes/sig-release members are looking at prototyping a new repository layout for k/k release artifacts. As part of this effort https://github.com/kubernetes/kubernetes/issues/76738

Can we please create a CNCF owned temporary GCS bucket for this experiment? They would try a job that pushes daily artifacts to start with once they figure out the directory tree layout. This would not be pe

[2019-04-25 11:22] dims commented on #235
/assign @thockin @justinsb

[2019-04-26 17:08] dims commented on #157
/unassign

[2019-04-26 21:47] thockin commented on #235
I'm a little uncomfortable making one-off experiments without a clean way to track it, but I can do this one.

Do we consider this a "staging" repo that needs a PR to "promote" artifacts or is it a real thing that people push to and store forever?

I'll need emails for people to add to a googlegroup to grant access to anything.  I created "k8s-infra-sig-release-prototype@googlegroups.com" .   I cr

[2019-04-26 22:05] tpepper commented on #235
There's a few options depending on how we structure this and how distro-like we might become, but my vision at this point is focused on core packages not broader:
* automated builds (eg: nightly) go here, in a specific clearly "nightly" part of a folder hierarchy
* testing happens
* PR to promote an indicated set of those built artifacts to a "testing" place, perhaps with an alpha/beta/rc designat

[2019-04-26 22:35] thockin commented on #235
The vision is grand.  We are establishing "staging" repos (GCR and GCS) for
various sub-projects.  This sounds similar but a little different.  We'll
need to rationalize the differences and see how we want to set this up in
the end.  For now, you have your playground (once you join the group)

On Fri, Apr 26, 2019 at 3:05 PM Tim Pepper <notifications@github.com> wrote:

[2019-04-29 04:03] justaugustus commented on #170
/remove-lifecycle stale

[2019-04-29 13:57] dims commented on #177
/close

please see https://github.com/kubernetes/k8s.io/pull/226

[2019-04-29 13:57] #177 closed

[2019-04-30 01:44] spiffxp opened #237 "Retire dockerhub kubernetes org and delete all associated images"
In response to the [recent Docker Hub breach](https://success.docker.com/article/docker-hub-user-notification) we have rotated credentials on https://hub.docker.com/u/kubernetes, and removed all repositories contained therein.

None of the kubernetes GitHub orgs use Docker Hub for building images.  We do not host official build artifacts at Docker Hub.  The repositories that lived at https://hub.d

[2019-04-30 02:54] spiffxp commented on #237
/assign

[2019-04-30 17:23] thecrudge commented on #237
Redis image not found See PR #14106

[2019-04-30 17:53] cblecker commented on #237
@thecrudge which repo?

[2019-04-30 17:54] thecrudge commented on #237
@cblecker kubernetes/redis

[2019-04-30 17:58] cblecker commented on #237
You mentioned a PR number.. where is that PR? Could you link to it directly? github.com/kubernetes/redis doesn't exist.

[2019-04-30 17:59] thecrudge commented on #237
https://github.com/kubernetes/website/pull/14106

[2019-04-30 18:42] cblecker commented on #237
@thecrudge replied requesting changes on that PR. thanks for the catch!

[2019-04-30 22:46] spiffxp commented on #237
I have restored `kubernetes/pause` as a stopgap for https://github.com/kata-containers/tests/issues/1522

[code]

[2019-04-30 23:09] cblecker commented on #237
To document things further, looks like this image was still referenced as recently as October 2018: https://github.com/kubernetes/kubernetes/pull/69631

[2019-04-30 23:25] spiffxp opened #239 "[Umbrella] Implement self-service DNS updates"
Followup from https://github.com/kubernetes/k8s.io/issues/151

At the moment, updating DNS still requires humans to run commands.  The ideal state is PR-driven:
- DNS requests are made via PR
- OWNERS files dictate who has authority to approve a given DNS request
- When then PR merges, something deploys the change

https://github.com/kubernetes/k8s.io/tree/master/dns#todo outlines some potential t

[2019-04-30 23:32] spiffxp commented on #151
/close
I'm closing this as implemented well enough for proof of concept, and opened up #239 for followup work to automate this further such that it becomes self-service

[2019-04-30 23:32] #151 closed

[2019-04-30 23:35] spiffxp opened #240 "Take inventory of Google-owned cluster-based k8s-infra"
Google has a number of clusters floating around running different pieces of infra for the project.  What's running on them

[2019-04-30 23:40] spiffxp opened #241 "Take inventory of Google-owned GCP projects for k8s-infra"
Google has GCP projects for k8s-infra that hold more than just Kubernetes clusters and the pods/services therein.  To better identify which services need to be migrated over, let's inventory which projects are currently used to run k8s-infra (or tests for k8s) and the services that they use

eg:
- k8s-prow
- k8s-prow-builds
- k8s-mungegithub
- k8s-gubernator
- kubernetes-jenkins
- kubernetes-jenki

[2019-04-30 23:42] spiffxp commented on #153
/remove-lifecycle stale
Its not clear to me that breaking out issues for GCS, GCR, etc. really maps well to the work that is ongoing.  Will revisit this

[2019-04-30 23:59] spiffxp commented on #156
My ideal outcome for this:
- at the start of each wg-k8s-infra meeting we can look at generated reports
- for cluster-based infra, we can see per-namespace billing info (#194)... ie: if we added the "gcsweb" service, would we know how much extra that is costing us
- for artifact storage, we can see how much a given subproject / sig is costing us (#193)
- for non-cluster based infra, we can see per

[2019-05-01 01:30] spiffxp commented on #156
In the most recent wg-k8s-infra meeting, Tim was able to read out "the default GCP billing report."  This allowed him to break down costs over the past two weeks as follows:
- vm (compute, ram, ssd pv)
- dns (queries)
- load balancing
- dns-zone
- inter-zone egress
- (no storage bills as of yet)

Data is in BigQuery, ready to be analyzed in Data Studio.  Need to produce a dashboard to see what we

[2019-05-01 01:43] spiffxp commented on #195
I think we should add this to the wg-k8s-infra charter.

We also discussed escalation: checking with a CNCF representative first, then going to steering

[2019-05-01 01:50] spiffxp opened #242 "Present Data Studio analysis of billing data stored in BigQuery"
Need to produce a dashboard to see what we want, or understand what is possible, and figure out what questions we want to answer.

Also there was mention of copious use of Comic Sans.

umbrella ref: https://github.com/kubernetes/k8s.io/issues/156

/assign @justinsb
/wg k8s-infra
/area billing
/milestone ready-to-migrate

[2019-05-01 03:58] spiffxp opened #243 "Burn down and recreate k8s-infra cluster"
Last we talked, the original manually created cluster had not yet been burned down.  We want to burn it down, and use a script to stand up a cluster.

umbrella ref: https://github.com/kubernetes/k8s.io/issues/152

/assign @thockin @justinsb @hh
/wg k8s-infra

TBD: what... is actually being stood back up?
- accounts / iam policies?
- nodes
- RBAC roles/policies
- infra running on the cluster

[2019-05-01 04:01] spiffxp opened #244 "Setup a job to automatically run and PR the results of audit/audit-gcp.sh"
/assign @hh
/wg k8s-infra

EDIT: redoing description entirely, things have changed since this issue was created

We want a prowjob that does the following:
- runs on k8s-infra-prow-build-trusted
- uses the k8s-infra-gcp-auditor GCP service account via workload identity
- runs the audit/audit-gcp.sh script
- if there are changes, opens or updates an existing PR to k8s.io (similar to how [prow opens

[2019-05-01 04:02] spiffxp commented on #244
creating the cluster ref: https://github.com/kubernetes/k8s.io/issues/243

[2019-05-01 04:06] spiffxp commented on #195
/kind documentation

[2019-05-01 04:16] spiffxp commented on #175
/priority backlog

[2019-05-01 04:23] spiffxp opened #245 "Research APIs for GSuite and see if they meet our needs for API-driven group management"
/assign @cblecker
/area access
/wg k8s-infra

[2019-05-01 04:25] spiffxp commented on #245
I know Christoph ended up starting [a steering@ thread](https://groups.google.com/a/kubernetes.io/forum/#!topic/steering/ZR40uoFT9VI), my main question is what are next steps

[2019-05-01 04:26] spiffxp commented on #245
/close
doh, closing in favor of https://github.com/kubernetes/k8s.io/issues/228

[2019-05-01 04:26] #245 closed

[2019-05-01 04:26] spiffxp commented on #228
I know Christoph ended up starting [a steering@ thread](https://groups.google.com/a/kubernetes.io/forum/#!topic/steering/ZR40uoFT9VI), my main question is what are next steps

[2019-05-01 04:28] spiffxp commented on #157
There was discussion of demoing something at the next wg-k8s-infra meeting, making a PR against one of the manifests.  Can we do this live?

[2019-05-01 04:32] spiffxp commented on #207
/assign @hh

[2019-05-01 04:32] spiffxp commented on #228
/assign @cblecker

[2019-05-01 04:33] spiffxp commented on #240
/assign

[2019-05-01 04:53] spiffxp commented on #240
First pass.  Based on a survey of internal clusters, with some educated guesses about which services/deployments/statefulsets are still relevant.  I can provide something that's more raw if desired, but it will take time to scrub out potentially sensitive info.

k8s-gubernator/g8r
- kettle

k8s-mungegithub/mungegithub
- perfdash

k8s-prow/prow
- prow (many microservices)

k8s-prow-builds/prow
- bo

[2019-05-01 15:40] spiffxp commented on #242
breakdown by: project, then service

Don't yet have namespace by namespace breakdown

could have report sent out automatically

[2019-05-01 15:46] spiffxp commented on #156
- Want parity of number between tim's readout and justin's readout
- Answer on billing-per-bucket
- Find more info on billing-per-namespace
- Possibly send daily reports to google group

[2019-05-01 15:52] idvoretskyi commented on #195
/cc

[2019-05-01 15:55] spiffxp commented on #206
Look for everything that starts with "k8s-infra"

[2019-05-01 15:56] spiffxp commented on #228
/assign @dims
investigate how to recreate all of the groups we want from command line

[2019-05-01 15:59] spiffxp commented on #207
@hh link PR here

[2019-05-01 15:59] spiffxp commented on #196
/close
this is done, we have an auditors group

[2019-05-01 15:59] #196 closed

[2019-05-01 16:00] spiffxp commented on #244
CronJob would open a PR (akin to how prow maintains a bump PR?)

[2019-05-01 16:01] hh commented on #244
Depends on script in this PR: https://github.com/kubernetes/k8s.io/pull/213

[2019-05-01 16:02] spiffxp opened #246 "Enumerate RBAC roles that are based off of same groups as IAM roles"
/area access
/area cluster-mgmt

[2019-05-01 16:03] spiffxp commented on #246
/assign @thockin

[2019-05-01 16:04] spiffxp commented on #243
also certificates

[2019-05-01 16:09] spiffxp commented on #243
Fair to start with cluster singular before figuring out how to manage N clusters

First place to start is the script itself.  There are many knobs in the UI, how do we set them up in the script.  Interested folks may use a test project and we'll iterate on turning up cluster there

[2019-05-01 16:12] ameukam commented on #243
/assign

[2019-05-01 16:13] spiffxp commented on #193
Per bucket? Per path?

Costs we think of are:
- storage at rest
- bandwidth delivered (likely the larger of the two)

Figure out bucket structure that makes sense for us from a billing perspective

GCR doesn't give us this breakdown, but maybe GCS does

Use test data? Simulated load?

[2019-05-01 16:14] spiffxp commented on #194
/assign @thockin

[2019-05-01 16:15] spiffxp commented on #194
Is it possible, what is the timeframe, how does it integrate with the other billing data

[2019-05-01 16:15] spiffxp commented on #242
/close

[2019-05-01 16:15] #242 closed

[2019-05-01 16:18] spiffxp commented on #157
Doesn't have what we would call a lot of testing (integration, e2e, etc)

Are we comfortable going live without that level of testing...
- the results of it going haywire not great
- but the internal version is sort of live

We can do demos of it, but we're still not ready to drive k8s.gcr.io from it?  Use a staging repo and compare the results?

[2019-05-01 16:20] spiffxp commented on #157
Looking to use this to migrate anything that lives in k8s.gcr.io first, before we think about using this fo subprojects

[2019-05-01 16:30] spiffxp commented on #193
/assign @justinsb @thockin

[2019-05-01 16:32] spiffxp commented on #158
In scope:
- repos necessary to support container image promotion process for and k8s.gcr.io
- migrating over images that currently come from k8s.gcr.io

Out of scope for now:
- repos to support arbitrary subprojects

[2019-05-01 16:34] BenTheElder commented on #158
what should arbitrary subprojects do in the meantime?

On Wed, May 1, 2019 at 9:32 AM Aaron Crickenberger <notifications@github.com>
wrote:

[2019-05-01 17:01] spiffxp commented on #228
I have created a wg-k8s-infra-api-test@kubernetes.io account, assigned to a "Group Admin" role, and given credentials to @dims

The intent is for this to be temporary / exploratory to prove we can do what we want via API.  We should follow up with a more constrained account that has exactly what we need.

/assign
@dims and @cblecker can tap me if more is needed

[2019-05-01 18:41] listx commented on #157
Sorry for the long response, but I wanted to summarize my thoughts on this as best I can. Hopefully it sheds light for those people who have not been in the slack #wg-k8s-infra meetings.

We can indeed do this live today as described in https://github.com/kubernetes/kubernetes/pull/75115#issuecomment-486809383.

If we want to make sure there is an e2e framework first, we should definitely hold off

[2019-05-01 19:41] dims commented on #228
@cblecker in the API that creates new groups, there is no support for switching on `Allow members outside your organization` toggle that is available in the UI.
https://developers.google.com/admin-sdk/directory/v1/reference/groups/insert

[2019-05-01 19:43] dims commented on #228
So we will have to create the groups by hand (with that option on) and then script the add/delete of members.

[2019-05-01 20:33] cblecker commented on #228
@dims: that's because that setting is in the OTHER API I mentioned at the top: https://developers.google.com/admin-sdk/groups-settings/manage 🤦‍♂

I don't know WHY Google had to split it up into two different API schemes, but yeah.

[2019-05-01 21:44] dims commented on #228
ah! thanks @cblecker

[2019-05-02 16:00] spiffxp commented on #228
I walked through https://developers.google.com/admin-sdk/directory/v1/guides/delegation#delegate_domain-wide_authority_to_your_service_account for a client_id @dims provided to me

[2019-05-02 19:29] dims commented on #228
WIP is here https://github.com/kubernetes/k8s.io/pull/248 it uses the service account @spiffxp minted. all the APIs i need (so far!) are working. will hammer out a yaml structure and turn the WIP into something we can use.

Anyone else wants to be able to run the commands, please send me your GPG key, i used `git-crypt` to encrypt the json for the service account (see the PR above), at the moment

[2019-05-02 19:33] dims commented on #228
The scoped needed so far for the service account are

[code]

in english ..

![Sign_in_-_Google_Accounts](https://user-images.githubusercontent.com/23304/57101620-9e47cd00-6cef-11e9-95e3-e43a20c0f41c.png)

[2019-05-02 19:48] chavafg commented on #237
@spiffxp we have changed our configuration to now use `k8s.gcr.io/pause` image. From kata side, the `kubernetes/pause` image can now be deleted.
Thanks

[2019-05-02 23:03] cblecker commented on #194
Is that this: https://cloud.google.com/kubernetes-engine/docs/how-to/cluster-usage-metering ?

[2019-05-02 23:05] cblecker commented on #243
When we talked about this 6 months ago, I had thought we could use terraform for this: https://github.com/cblecker/k8s-tf-cluster

Don't know if we want to go that way, or if we want bash+gcloud, or something else.

[2019-05-03 13:32] dims commented on #228
- add new group
- delete old group
- add folks to group
- delete folks from group

all works!

[2019-05-06 19:20] dims opened #249 "GCP Project for running a RBE cluster for test-infra"
Context:
https://groups.google.com/d/msg/kubernetes-sig-testing/6uH4A9SNFSM/1rARZcz1AwAJ

cc @fejta

[2019-05-06 20:02] fejta commented on #249
Cool!

@Katharine @fejta @cjwagner @amwat @krzyzacy are on the oncall rotation. Can we (or at least two of us) get edit or owner access to a community owned GCP project?

If so then we can start migrating various things to this project instead of the Google owned ones, starting with the RBE project

[2019-05-07 00:01] fejta commented on #249
What we will need to do is run https://github.com/kubernetes/test-infra/blob/master/rbe/install.sh and then update things like https://github.com/kubernetes/test-infra/blob/d97b87848f31fe6b2eaf8ea5eb7e1a2d8a63f053/.bazelrc#L53 and https://github.com/kubernetes/test-infra/blob/d97b87848f31fe6b2eaf8ea5eb7e1a2d8a63f053/config/jobs/kubernetes/sig-testing/bazel-build-test.yaml#L27

[2019-05-07 13:12] dims commented on #249
/assign @thockin @justinsb

Tim, Justin,
Can we please create a GCP project for this test-infra work?

[2019-05-07 13:41] justinsb commented on #249
Do you mean project, or a k8s cluster in which we run the bazel executors?

[2019-05-07 13:42] dims commented on #249
@justinsb a GCP Project.

[2019-05-07 17:54] nikhita commented on #183
/assign

[2019-05-07 23:47] fejta commented on #249
Executors run in their own space, not k8s nodes

[2019-05-07 23:48] fejta commented on #249
PS: (optionally) if we make the project name generic we can also create a cluster in here and start migrating jobs to run in it.

[2019-05-08 23:37] thockin commented on #249
I am happy to start looking to this, but our general policies-and-procedures are a little spartan.

What do we want to live in here?  I don't want to conflate things into the same project just because it's easy.  If there are logically distinct things that need to be governed distinctly, l want multiple projects.

Who gets access to a project should almost always be a public googlegroup, though we

[2019-05-09 04:46] fejta commented on #249
These expectations seem too idealistic.

We already have an oncall team with established patterns. We can migrate a lot more work off Google a lot more quickly by making some practical compromises to start off. We can subsequently  tightening things after migrating.

I would suggest we:
* create an oncall google group,
* add at least two people from the current oncall rotation to the group,
* crea

[2019-05-09 15:39] thockin commented on #249
I don't think they are too idealistic, I think they are a response to the total non-reproducibility of what we have today.

I'm willing to be reasonably flexible here, but I do not think any of this should be hand-tuned except for things that we are willing to burn down in relatively short periods of time.

The reality is that "subsequently tightening things after migrating" never happens.

I *wan

[2019-05-09 16:08] dims opened #255 "Follow up to PR 248 for automation of google groups"
- [ ] Extract k8s-infra- prefix requested by @spiffxp
- [ ] Search for a way to constrain this to groups created solely by this service account instead of or in addition to blacklisting by name requested by @spiffxp
- [ ] Pick Authoritative model vs Opportunistic model requested by @cblecker
- [ ] Make lists settings for security customizable
- [ ] Ability to specify "owner"/"manager"/"member" for

[2019-05-09 16:09] dims commented on #255
/assign @dims

[2019-05-09 16:40] dims commented on #255
cc @spiffxp @thockin @cblecker

[2019-05-09 17:47] fejta commented on #249
Not hand-tuning things seem fine. We generally try to avoid it so this is not a particularly prohibitive request.

We have scripts to
* [setup rbe](https://github.com/kubernetes/test-infra/tree/master/rbe),
* [upgrade the prow clusters](https://github.com/kubernetes/test-infra/blob/master/prow/cluster/upgrade.sh),
* deploy prow images/k8s resources using [deterministic bazel rules](https://github.

[2019-05-09 19:02] fejta commented on #249
Maybe we can just give prow's service account owners access to the project. We can then write a job that bootstraps everything else.

[2019-05-09 20:32] spiffxp commented on #255
ref: https://github.com/kubernetes/k8s.io/issues/228

[2019-05-09 20:33] spiffxp commented on #228
wg-k8s-infra-api-test@ renamed to wg-k8s-infra-api@

![Screen Shot 2019-05-09 at 1 31 14 PM](https://user-images.githubusercontent.com/49258/57484822-e40c1480-725e-11e9-9ff8-0f42a2885378.png)
![Screen Shot 2019-05-09 at 1 31 28 PM](https://user-images.githubusercontent.com/49258/57484823-e5d5d800-725e-11e9-8fee-232813ba3457.png)

[2019-05-10 00:25] spiffxp commented on #228
I once again walked through https://developers.google.com/admin-sdk/directory/v1/guides/delegation#delegate_domain-wide_authority_to_your_service_account for a client_id @dims provided to me, granting the following scopes
[code]

[2019-05-10 03:49] #183 closed

[2019-05-10 06:25] thockin commented on #249
Are your clusters using best practices for security?  Who is monitoring
them?  Where is the dashboard?  How does a community person get access to
them?  What cost management is in play?

flexibility to solve problems quickly and efficiently to a world where
every tiny action like adding an IAM grant to a service account or adding a
new deployment requires us to spend a week begging some new commit

[2019-05-10 10:52] dims opened #263 "Makefile for groups/reconcile"
@cblecker i remember you volunteered? :)

- Please add sorting of the yaml too

[2019-05-10 10:52] dims commented on #263
/assign @cblecker

[2019-05-13 12:11] bclau commented on #157
/cc @bclau

[2019-05-15 15:42] spiffxp commented on #243
We may try to get together to hack on this at KubeCon EU (contributor summit?)

[2019-05-15 15:43] spiffxp commented on #228
Script is now runnable, two of us can run it: @dims and @cblecker (list of people who have gpg keys in repo)

[2019-05-15 15:44] spiffxp commented on #206
@thockin is in the process of converting over most of the public googlegroups.com groups that we're using, migrating over to the kubernetes.io google groups that are managed by https://github.com/kubernetes/k8s.io/issues/228

[2019-05-15 15:45] ameukam commented on #243
+100 to do this. I'll need someone that access to the GCP project that owns `kubernetes.io`.

[2019-05-15 15:45] spiffxp commented on #228
/close

[2019-05-15 15:45] #228 closed

[2019-05-15 15:46] spiffxp commented on #206
Unclear whether we can automatically find dangling references or delete and wait for those people to yell

[2019-05-15 15:49] spiffxp commented on #158
There is a script that creates repos, not yet a nice yaml file, but editing a script means it create repos

[2019-05-15 15:51] spiffxp commented on #158
Actually, we _do_ want to give staging repos to subprojects.... can write into staging repo, promoter pushes into production repo

[2019-05-15 15:54] spiffxp commented on #157
Gating on testing

[2019-05-15 16:05] spiffxp commented on #157
Migrating existing images:
- copy all existing images to a "legacy" staging repo
- will need to generate yaml for this
- update promoter to generate this yaml file
- prevent people from pushing old images / images to old locations (everything under k8s.gcr.io)
  - 475 named repos, lots of images per repo
  - promoter could do this by reverting old repos to known state
- declare a moving
- flip k8s

[2019-05-15 16:08] spiffxp commented on #157
Possibly talk through DR strategy at contrib summit

[2019-05-15 16:09] spiffxp commented on #153
Via the scripts: anyone who creates a "staging repo" gets both a GCS bucket and GCR repo now

[2019-06-03 00:32] jeefy opened #270 "DNS REQUEST: relnotes.k8s.io"
### Type of DNS update:
Create

### Domain being modified:
k8s.io

### New DNS Record:
[code]
### Reason for update:
Creation of a user-facing release notes website. As this will be linked to and distributed for future releases, a shorter URL would be preferred and thus should not fall under the `sigs` subdomain.

Relevant [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-relea

[2019-06-03 05:27] justaugustus commented on #270
Approved from SIG Release: https://github.com/kubernetes/org/issues/873#issuecomment-498117333

[2019-06-03 11:01] nikhita commented on #270
The netlify link for this would be `kubernetes-sigs-release-notes.netlify.com` to stay consistent. Hope that works!

[2019-06-03 12:02] jeefy commented on #270
That works. The Netlify link won't be directly used anyhow. :) Thanks @nikhita!!

[2019-06-03 15:47] thockin commented on #270
Is the netlify up and running?

[2019-06-03 15:51] thockin commented on #270
I see it is active :)

[2019-06-03 16:24] #270 closed

[2019-06-04 17:34] ameukam commented on #241
How can give some help on this one ?

[2019-06-04 17:34] ameukam commented on #240
I noticed `velodrome` use very old versions of prometheus and grafana. Do we plan to upgrade those tools during the migration ?

[2019-06-10 21:49] parispittman commented on #241
wanted to document google analytics somewhere for kubernetes.io - unsure if this has been transferred or status but now we have it documented to check :)

[2019-06-10 22:22] ameukam opened #275 "Use Googlegroups for fine-grained GKE cluster authz"
We can use the _Google Groups for GKE_ feature to organize accesses to the new GKE clusters.
As mentioned in the [documenntation](https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control#google-groups-for-gke), we will need a G Suite Google Group named `gke-security-groups@kubernetes.io` and add the necessary groups.

/assign @spiffxp @thockin

/wg k8s-infra
/area access

[2019-06-10 22:54] dims commented on #275
@ameukam we are using "k8s-infra" prefix for all the mailing lists, Can you please submit a PR against https://github.com/kubernetes/k8s.io/blob/master/groups/groups.yaml ?

[2019-06-11 12:08] ameukam commented on #275
@dims I made a PR (#276) with a test mailing list. A requirement mentioned in the doc to consider :

The test group need to be added to `gke-security-groups@kubernetes.io`.

[2019-06-11 12:25] dims commented on #275
I believe the main reason for the exact string "gke-security-groups" is for the gcloud command documented there. So we should be ok. Right @thockin ?

[code]

[2019-06-12 15:28] spiffxp commented on #263
/area access

[2019-06-12 15:31] spiffxp commented on #255
/area access

[2019-06-12 15:41] spiffxp commented on #194
Need clusters turned on and activated to try using this, believe it may be a beta thing.  Believe data is dumped into bigquery and then we can extend the report.

[2019-06-12 15:43] spiffxp commented on #156
Justin is getting a daily e-mail, will send to cluster admins google group, still have questions about parity

[2019-06-12 15:45] spiffxp commented on #156
Justin to look at sharing Data Studio report with other users, possibly use another group as defined in groups.yaml

TBD whether we can export / import Data Studio reports to use some kind of gitops driven model

[2019-06-12 15:54] spiffxp commented on #243
relevant PR's:
- https://github.com/kubernetes/k8s.io/pull/276
- https://github.com/kubernetes/k8s.io/pull/266
- https://github.com/kubernetes/k8s.io/pull/279

[2019-06-12 16:24] spiffxp commented on #157
- currently converting cloudbuild jobs to prow jobs
- but what level of e2e testing is necessary?
- justin will be co-maintainer of container-image-promoter
- how do we know if when the promoter code changes, that it doesn't accidentally wipe out the entire prod repo? or promote garbage? if it did, how would we recover?
- can we reduce the scope of what the promoter does (ie: should we make deleti

[2019-06-12 16:29] spiffxp commented on #157
It sounds like the container image promoter is really becoming more of a "container image and binary" promoter, or "artifact promoter"

[2019-06-15 12:12] dims commented on #241
@parispittman Thanks! good one. Who uses the analytics most? (sig-docs?)

[2019-06-16 01:17] hh commented on #207
https://github.com/kubernetes/k8s.io/pull/213 is ready for a review, and while we don't iterate over every single service, I think once we enable the missing permissions, what we have seems pretty solid and will be auditing the initial main items of interest.

After this we'll need the kubernetes cron job configured to run it with the appropriate creds for the cluster and github to create a PR.

[2019-06-17 13:44] parispittman commented on #241
@dims - correct. i believe all major players on the team have access (including non-googlers) but it may be still a google owned account.

[2019-06-18 03:56] tstromberg opened #284 "DNS REQUEST: minikube.sigs.k8s.io"
### Type of DNS update:
Create

### Domain being modified:
k8s.io

### New DNS Record:

[code]

### Reason for update:

To support the new minikube docs site, as requested here: https://github.com/kubernetes/org/issues/855#issuecomment-498023303

[2019-06-18 20:03] #284 closed

[2019-06-18 21:54] tpepper commented on #235
Forgot to update the issue here.  We have this (k8s-sig-release-prototype) as a playground.

/close

[2019-06-18 21:54] #235 closed

[2019-06-19 03:55] thockin commented on #275
Is this still an open question?  I have not played with this feature (since I don't have a personal gsuite), so I can't say, but honestly "gke-security-groups" sounds better than "k8s-infra-cluster-operators" (as pr #276) to me.  It's a group of groups, not of ops people.

[2019-06-26 15:35] spiffxp commented on #156
/assign @justinsb
Now sending billing report out to a google group, still not sure how to allow others to edit the report

[2019-06-26 15:37] spiffxp commented on #156
Would like to continue to cross check this billing report against tim's billing report

[2019-06-26 15:39] spiffxp commented on #156
Send report weekly to public google group https://groups.google.com/forum/#!forum/kubernetes-wg-k8s-infra

Send report daily to existing google group of k8s-infra-gcp-accounting

[2019-06-26 15:42] spiffxp commented on #156
Backing up / sharing the work:
- lets open up the Data Studio project to the k8s-infra-gcp-account group
- may want to consider dumping sql query out, or finding a way to make the data studio report public read-only, etc.

[2019-06-26 15:43] spiffxp commented on #194
Tim needs a chance to play with this first hand

[2019-06-26 15:44] spiffxp commented on #193
Status quo

[2019-06-26 15:51] spiffxp commented on #243
Use results of https://github.com/kubernetes/k8s.io/pull/250 to create a new cluster

Burn down / migrate contents of `development` and `development2` clusters to this new cluster

Use this cluster to confirm per-namespace billing

[2019-06-26 16:01] spiffxp commented on #275
Opinion fro @cblekcer could we prefer assigning scopes to a user / group at the project level, rather than the use of groups at the cluster level

@thockin is thinking that prevents us from attempting multi-tenancy on a cluster, using rbac and namespaces.

@cblecker unsure if that level of granularity is worth it.. either we trust someone or we don't

Let's start without the granularity, and look

[2019-06-26 16:02] spiffxp commented on #206
/assign @thockin
remove people from everything, use groups for everything

[2019-06-26 16:04] spiffxp commented on #157
https://docs.google.com/document/d/1PgLI7OCEd09qLLz9yGmY2KK0uxhROc9GGC-PkwgnKN4/edit - e2e testing plan
https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/62 - PR for e2e testing

[2019-06-26 16:20] spiffxp commented on #158
We are basically willing to say yes to people who ask for gcr repos.  At the moment, we would point people to the PR's @nikhita did for publishing-bot.  Consider refining into a README that people can follow, and that we have better coverage around reconciling once PRs reduces

[2019-06-26 18:10] nikhita commented on #158
For reference: https://github.com/kubernetes/k8s.io/pull/282

created https://github.com/kubernetes/k8s.io/pull/286

[2019-06-29 00:33] thockin commented on #275
I'm OK to start with less granularity, but I'd like to still try it and make sure our clusters are capable of it.

[2019-07-08 14:55] dims commented on #206
/unassign

[2019-07-08 14:56] dims commented on #156
/unassign
/assign @justinsb

[2019-07-08 14:58] dims commented on #152
/assign @thockin
/unassign

[2019-07-08 14:59] dims commented on #153
/unassign

[2019-07-08 15:01] dims commented on #255
/unassign

[2019-07-08 15:01] dims commented on #195
/assign @spiffxp
/unassign

[2019-07-08 17:55] thockin commented on #255
This is now totally unassigned.  Is it important?  Can we throw a prio tag on it?

[2019-07-08 17:57] thockin commented on #246
Trying to clean up - is this the same as https://github.com/kubernetes/k8s.io/issues/275 ?  If not, what does this mean?

[2019-07-08 18:00] thockin commented on #206
I *think* this is done.  Once the audit-script is done and merged we will have confidence.

[2019-07-08 18:02] thockin commented on #158
Final tasks here are in-progress.  Once e2e and DR are done, we can bulk-import and flip the vanity URL

[2019-07-08 18:36] dims commented on #255
/priority backlog

[2019-07-08 18:52] justaugustus opened #292 "[sig-release] GCS + GCR repos for mocking release workflow"
In support of this [Releng brainstorm](https://docs.google.com/document/d/1Js_36K51Q6AjEsVUjRBMISTA4D7cnjZmoSkn43_Jmxo/edit), which will soon become KEPs or updates to existing KEPs, I'd like to request a playground so Release Engineering can start to mock the release process end-to-end.

We know we produce:
- binaries
- tarballs
- container images
- rpms
- debs

so it sounds like at the very leas

[2019-07-08 23:17] thockin commented on #292
Do you want a staging repo (with associated policies like retention), or do you want something else?  We're in early days, so we could define new concepts if needed.  E.g. a storage playground could be a thing...

[2019-07-09 19:35] justaugustus commented on #292
/assign @thockin

[2019-07-09 22:12] #292 closed

[2019-07-10 15:24] spiffxp commented on #246
/milestone ready-to-migrate
I think this is the same, let's discuss during meeting

[2019-07-10 15:38] spiffxp commented on #156
@thockin unable to see report since july 1st

[2019-07-10 15:48] spiffxp commented on #243
Our goal is to move away from bash toward terraform.

Does terraform support everything we need? Ran into a beta GKE feature that wasn't yet supported by the terraform provider.  We could probably tap the right people on the shoulder to motivate which features get prioritized.

Would we be able to drop down to gcloud if we _had_ to? Yes, this is something we can do if necessary.

Opting to just go

[2019-07-10 15:50] spiffxp commented on #243
Awaiting a directory in k8s.io from @cblecker that contains terraform prototype

[2019-07-10 15:52] spiffxp commented on #152
Iterating here at the moment; tldr moving to use terraform instead of bash https://github.com/kubernetes/k8s.io/issues/243#issuecomment-510118579

[2019-07-10 15:59] spiffxp commented on #246
This is about access to things within the GKE cluster.  IAM roles are about access to everything in a given project (or set of projects).  Do we need granularity or can we use a straight 1:1 mapping?

What are the roles on the cluster and what should they have access to

[2019-07-10 16:02] spiffxp commented on #263
Friendly poke

[2019-07-10 16:21] spiffxp commented on #157
https://groups.google.com/forum/#!topic/kubernetes-dev/ZqdjjDIAISY - sent out e-mail describing how to add staging repos

@amy and @listx working through use of service account to get to point where they can start implementing e2e test plan as documented above

want to have promoter reconcile more than one manifest at a time

need to disable promoter from deleting images (move the code out so it's

[2019-07-10 16:36] spiffxp opened #298 "Create issue template for staging repo request"
/assign @cblecker

ref: https://groups.google.com/forum/#!topic/kubernetes-dev/ZqdjjDIAISY

[2019-07-10 16:37] spiffxp commented on #298
/area artifacts
/priority important-soon

[2019-07-10 16:46] spiffxp commented on #157
Courtesy of @amy on #wg-k8s-infra:

[2019-07-10 16:56] thockin opened #299 "Infra turnup: Whoever creates the project is listed as Owner"
E.g. @dims created k8s-release-test-prod and is now an owner as his individual ID.

We should probably require (automatically via the scripts) that individuals remove themselves unless they are org-inherited.

[2019-07-10 17:16] spiffxp opened #300 "Pilot container-image-promoter promotion process with cluster-api"
/assign @detiber
/cc @dims @listx @amy

refs:
- https://kubernetes.slack.com/archives/CCK68P2Q2/p1562778773325500?thread_ts=1562776843.324300&cid=CCK68P2Q2
- https://github.com/kubernetes/k8s.io/issues/157#issuecomment-510131578

/area artifacts

[2019-07-11 00:35] listx commented on #300
@detiber I think you can just add a new entry in https://github.com/kubernetes/k8s.io/blob/master/k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml once you push up your first image to gcr.io/k8s-staging-cluster-api.

[2019-07-11 00:40] cblecker commented on #243
Opened https://github.com/kubernetes/k8s.io/pull/306

[2019-07-11 01:04] cblecker commented on #263
opened https://github.com/kubernetes/k8s.io/pull/307

[2019-07-11 10:20] #263 closed

[2019-07-11 16:58] detiber commented on #300
@listx I believe I'm currently blocked on https://github.com/kubernetes-sigs/k8s-container-image-promoter/issues/71

[2019-07-11 18:04] detiber commented on #300
/reopen

hit an issue with the promotion process during the `post-k8sio-cip` job: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-k8sio-cip/1149377755071123456

[2019-07-11 19:29] listx commented on #300
It succeeded upon a simple rerun: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-k8sio-cip/1149395751097339904. Pasting my slack comments:

[code]

[2019-07-11 20:04] detiber commented on #300
Closing, since the promotion process has been successfully run.
/close

[2019-07-11 20:04] #300 closed

[2019-07-15 23:00] cblecker opened #314 "GCP Org Admin"
I know we have @thockin and some CNCF folks as GCP org admins for kubernetes.io. We should ensure have at least one or two more.

@dims and/or @spiffxp may already be one. We should confirm and document. If we need additional (based on who we have and the coverage we have), I would be happy to volunteer to be a key holder too.

[2019-07-15 23:01] cblecker commented on #314
/cc @kubernetes/k8s-infra-team
/wg k8s-infra

[2019-07-15 23:04] cblecker commented on #314
It looks like @idvoretskyi is one too :)

[2019-07-15 23:06] justaugustus commented on #314
Would be happy to be a keyholder as well. :)

[2019-07-16 00:08] spiffxp commented on #314
I know as far as GSuite goes `kubernetes.io` is solely under the purview of the steering committee: https://github.com/kubernetes/steering#top-level-accounts

We have three members with access (I am one), in addition to @idvoretskyi  as a CNCF representative.

[2019-07-24 15:31] dims opened #320 "Setup DNS and redirect for x-k8s.io"
To support the new efforts around API/CRDs https://github.com/kubernetes/community/pull/3875

[2019-07-24 15:58] dims commented on #246
/cc @hh

[2019-07-24 15:59] hh commented on #246
/assign

[2019-07-24 15:59] dims commented on #275
table this for now while we are looking at terraform

[2019-07-24 16:04] dims commented on #176
pending getting a cluster up

[2019-07-24 16:09] dims commented on #204
needs a cluster

[2019-07-24 16:10] dims commented on #159
/assign @justinsb @brendandburns

[2019-07-24 17:55] dims commented on #320
/assign @stp-ip @munnerz

[2019-07-24 17:56] dims commented on #320
[code]

[2019-07-24 19:54] stp-ip commented on #320
After a bit of discussion various options to go forward were mentioned:
* full automation from zone creation to separate octo-dns deploy
* manual zone creation + current octo-dns deploy
* discuss usage of x-k8s.io and propose usage without any implementation work

As it currently stands with manual time taking away already slim time from key people and full recreation being partial dupliacte imple

[2019-07-30 07:28] justaugustus commented on #170
/remove-lifecycle stale
/help

[2019-07-31 21:57] spiffxp commented on #237
/remove-lifecycle stale
I suggest we plan to remove `kubernetes/pause` once v1.16 goes out the door, per our 3 version support policy (ref: https://kubernetes.io/docs/setup/release/version-skew-policy/)

[2019-08-01 09:06] idealhack opened #325 "Improve the accessibility of k8s.io domains in China"
This came up at Contributor Summit Shanghai in June, we then discussed it at the [retro meeting](https://docs.google.com/document/d/13aeCb6Rfy0XM2uOhEhIZJZM2ykg-j2IgxsTdNbt2_TI/edit) and the [sig-contribex APAC coordinator](https://github.com/kubernetes/community/blob/master/sig-contributor-experience/role-handbooks/apac-coordinator.md) meeting.

Notes from the retro meeting:

So the important dom

[2019-08-01 09:08] nikhita commented on #325
cc @cblecker @spiffxp @dims

[2019-08-01 10:57] dims commented on #237
@spiffxp +1 to `remove kubernetes/pause after v1.16 goes out the door`

[2019-08-07 15:35] spiffxp commented on #156
Latest report august 5th: https://groups.google.com/d/msg/kubernetes-wg-k8s-infra/uW7dEBaBWDY/-zXJc0QEBQAJ

[2019-08-07 15:37] spiffxp commented on #156
would like to share edit access of the report to a group... k8s-infra-gcp-accounting can already edit it

would like some kind of README in an accounting directory

nice to have: other people provide other data studio addons

[2019-08-07 15:38] dims opened #330 "Document access to the GCP Accounting report"
- What's the URL for the edit access
- Which group has edit access
- Tips to edit the report

/assign @justinsb

[2019-08-07 15:40] spiffxp commented on #156
will continue to spot check as a recurring agenda item but we are ready to call this done

[2019-08-07 15:47] spiffxp commented on #152
@thockin would like to take one last look at terraform and then we move forward

[2019-08-07 15:49] spiffxp commented on #152
burn down cluster, rebuild using terraform https://github.com/kubernetes/k8s.io/issues/243

enumerate followup tasks like monitoring here

[2019-08-07 15:55] spiffxp commented on #153
/close
we have a set of scripts that work well for staging repos, everything else is ad-hoc (eg: release team asked for one and it was handled ad-hoc)

no individual access (other than via group)

[2019-08-07 15:55] #153 closed

[2019-08-07 16:04] spiffxp commented on #157
e2e test cases still outstanding, and need to be turned on

[2019-08-13 18:38] BenTheElder opened #332 "support community owned GCS buckets for uploading results to TestGrid"
We currently have a somewhat ad-hoc process to allow uploading third party (I.E. not produced by [prow.k8s.io](https://prow.k8s.io)) test results to TestGrid / [testgrid.k8s.io](https://testgrid.k8s.io) without requiring companies / organizations to supply their own GCS buckets.

This process results in using buckets provided by one of Google's teams, in a Google owned project. Ideally these would

[2019-08-13 18:43] dims commented on #332
@BenTheElder what's the expiry settings for this bucket? (how long before the data gets wiped)

[2019-08-13 18:45] BenTheElder commented on #332
@dims We'd need to ask @michelle192837 what the limits are there, I think it depends on the testgrid updater. Currently we haven't set one because:
- The data size is typically very small (just some test logs)
- The current process was meant to be temporary until we had funding etc. for a long term solution

[2019-08-13 18:52] michelle192837 commented on #332
Updater doesn't control the expiry, it should depend on the specific bucket's configuration. Is the question about the bucket where TestGrid results live or where conformance results are uploaded to?

[2019-08-13 19:01] spiffxp commented on #332
FWIW, any results generated by prow.k8s.io that land in the kubernetes-jenkins GCS bucket (the bulk of the proejct's CI) age out at 90 days.  I think it should be way longer.
[code]

[2019-08-13 19:03] BenTheElder commented on #332
It doesn't control it directly, but presumably there's a lower bound on expiry or else risk of the updater not seeing the results?

[2019-08-13 19:04] spiffxp commented on #332
Survey of all buckets that kettle currently parses
```$ for b in $(<kettle/buckets.yaml yaml2json | jq -r to_entries[].key | cut -d/ -f1-3); do echo $b; gsutil lifecycle get $b; done```

[code]

[2019-08-13 20:53] michelle192837 commented on #332
I'm still confused I think, but the updater doesn't have expectations around this. Default lookback time is 24 hours, or longer if updating from scratch (days_of_results specified in the config) or max_test_runtime_hours if specified in the config.

[2019-08-19 02:48] tao12345666333 commented on #325
Maybe a reference case: https://github.com/helm/helm/issues/5663

[2019-08-21 15:48] verb opened #340 "k8s.io redirector should document itself"
I can never remember the short links. There should be a short link for listing the short links, something like https://go.k8s.io/help or a bare https://go.k8s.io/.

It would probably be easiest to just link to https://github.com/kubernetes/k8s.io/tree/master/k8s.io

I'm willing to do this work, just opening this issue for coordination and feedback.

[2019-08-21 15:48] verb commented on #340
/assign @verb

[2019-08-22 06:19] ameukam opened #342 "Upgrade cert-manager"
As [announced](https://community.letsencrypt.org/t/blocking-old-cert-manager-versions/98753/2) by Let's Encrypt, we must upgrade cert-manager by November 1st, 2019.
We are currently on version 0.7.0.

/wg k8s-infra
/priority important-soon

[2019-08-23 17:06] philips commented on #240
Is there an estimate on when services will be ready to migrate? I need to decide whether to stand up a new cluster for the oncall-issue-filer or do something else. Thanks!

[2019-08-27 03:46] kevin-zhaoshuai commented on #332
@BenTheElder Do we still need to implementation this first

[2019-09-03 11:35] ameukam commented on #342
Closed by #347.

[2019-09-14 03:57] thockin opened #367 "Now that GCB is enabled, do humans need to be able to push to staging?"
How much do we increase trust if we say that the only way to get to staging is to have GCB push it?  Do we think there is ever a reason to have humans push except exceptional cases?

@tallclair @detiber

[2019-09-14 04:18] cblecker commented on #367
I think we should leave that decision to the subprojects, IMO. They may want human backups, or workflows may demand other non-GCB methods.

I think defaulting to a strong recommendation for GCB-only might be good, and we could also set policies like "GCB-only access for the k/k core staging buckets". I would also say the prod bucket should be "bot only; humans in temporary break-fix scenarios".

[2019-09-14 04:19] cblecker commented on #367
I basically don't want to get in the way of subprojects if there isn't a necessity to. I'd rather lure them with the carrot of "look at this super awesome secure way of doing things"

[2019-09-14 04:24] thockin commented on #367
I mostly agree.  I am looking at it from prodsec or supply-chain security
POV.  Taking strong default positions with limited exceptional cases seems
ideal, if we can pull it off.

On Fri, Sep 13, 2019, 9:19 PM Christoph Blecker <notifications@github.com>
wrote:

[2019-09-14 04:32] cblecker commented on #367
Totally. And for core things (kube-cross, pause, etc) I think we can take a strict stance. A compromise in those images has the ability to impact ~all kubernetes deployments.

Things that are outside of core, if we make it too inflexible, then we may not be able to get them to adopt our solution in the first place. They'll just push to dockerhub or quay or whatever.

Theoretically speaking though,

[2019-09-14 16:52] detiber commented on #367
I'm torn on this a bit, especially since we are talking about only the staging buckets here and not the prod buckets.

If we do restrict things down to only allowing GCB to push staging images it will make adoption a bit harder, especially since the actual build and push steps that are run in GCB are determined per-project, which means that new projects that hit issues will not have a way to repli

[2019-09-14 17:12] thockin commented on #367
On Sat, Sep 14, 2019, 9:52 AM Jason DeTiberus <notifications@github.com>
wrote:

Nothing will incentivize automation than this worst-case... ;)

We do have break-glass.  There's a whole group of people who have direct
access to all stagings.  If break-glass is an exceptional case, escalation
seems appropriate.

More importantly, though, is supply-chain integrity.  Today I have zero
confidence that

[2019-09-16 16:22] thockin commented on #367
Would cluster-api projects volunteer to try this?  Only GCB for pushing,
with an escalation path to humans if/when needed?  Even the escalation path
is not well audited, but that can be a different project :)

On Sat, Sep 14, 2019 at 10:11 AM Tim Hockin <thockin@google.com> wrote:

[2019-09-16 20:43] tallclair commented on #367
Agree with @thockin. If we leave per-project opt-in, can we ensure that:
1. Core (however we define that) images are all opted in
2. A project that is not opted in cannot promote images to a project that is opted in. I.e. opting in guarantees that promoted images for that project are built through GCB

[2019-09-23 02:58] HelenaZheng opened #372 "k8s node NotReady"
Today I found one node status not good suddenly， the detail as below.
what's problem， and how can I fix？

30.68.0.33   NotReady,SchedulingDisabled   <none>    25d       v1.11.2

Sep 20 12:39:24 b-app-ps-225 kubelet[46044]: I0920 12:39:24.664733   46044 reflector.go:240] Listing and watching *v1.Pod from k8s.io/kubernetes/pkg/kubelet/config/apiserver.go:47
Sep 20 12:39:24 b-app-ps-225 kubelet[46044

[2019-09-25 10:11] dims opened #374 "GCP project for testing cluster-api-provider-gcp"
We recently added:
https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/174

and follow up work is in:
https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/175/files

We basically need a GCP project for running this e2e/conformance test that stands up a k8s cluster using cluster-api-provider-gcp. We need a service account with Editor access as well for this to work. We have

[2019-09-25 16:50] BenTheElder commented on #374
is there a reason this won't work with one of the existing boskos GCP project pools?

[2019-09-25 18:57] vincepri commented on #374
@dims correct me if I'm wrong, but I think during testing we used one of the boskos GCP projects and we were lacking some permissions to run Cluster API

[2019-09-25 18:59] BenTheElder commented on #374
hmm well not having boskos (or something comparable) manage the project(s) is an anti-pattern for CI in any case ...

[2019-09-25 19:03] cblecker commented on #374
I agree, relying on a single project for this sounds like the wrong approach compared to checking out a boskos project.

[2019-09-25 19:40] dims commented on #374
@BenTheElder @cblecker i am already using script to pull a boskos project :) (copied stuff from the AWS folks). problem is that the service account i am getting does not have enough permissions

please see the ci job run in:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/sigs.k8s.io_cluster-api-provider-gcp/175/pull-cluster-api-provider-gcp-make-conformance/1176520341170688005/

[2019-09-25 19:40] dims commented on #374
see checkin/checkout python scripts in https://github.com/kubernetes-sigs/cluster-api-provider-gcp/tree/master/hack (adapted from the AWS use case)

[2019-09-25 19:41] dims commented on #374
the boskos currently gives me just the name of the project to use when i check out ... it does not have a provision to give me a new service account with the permissions i need

[2019-09-25 19:45] cblecker commented on #374
from those logs, it looks like gcloud is pointing at the wrong project? it's targetting `k8s-prow-builds` rather than a boskos project

[2019-09-25 19:50] dims commented on #374
@cblecker ignore the gcloud commands at the tail end ... search for `kubernetes-jenkins-pull` that's the one we are using for running the cluster. will fix the gcloud cleanup lines shortly

[2019-09-25 19:57] cblecker commented on #374
I don't see where you're actually checking out a boskos project there.

From a pull-kubernetes-e2e-gce log:
[code]

[2019-09-25 20:11] dims commented on #374
looks like i missed a step (default the boskos host URL):
https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/175/commits/c5d085a8b818bfa81a871e18e2a4d615617a5678

trying again

[2019-09-25 21:14] timothysc commented on #374
Looks like things moving, let me know if you need anything from me.

[2019-09-25 21:54] BenTheElder commented on #374
the existing service account in the job pod should have access to the boskos projects :sweat_smile:

[2019-09-26 00:18] listx opened #375 "create backup GCR for gcr.io/k8s-artifacts-prod"
This backup GCR is necessary for copying images (as backups) from `gcr.io/k8s-artifacts-prod`. The name `gcr.io/k8s-artifacts-prod-backup` should be used as the `-backup` suffix is probably the simplest way to name it.

/assign @thockin

[2019-09-26 01:24] dims commented on #374
looks like i had the resource type wrong ... setting resource-type to `gce-project` got me `k8s-jkns-e2e-gce-alpha` ... will kick the tires and reopen this if needed.

thanks @BenTheElder @Katharine @timothysc @cblecker

[2019-09-26 01:24] dims commented on #374
/close

[2019-09-26 01:24] #374 closed

[2019-09-26 03:22] BenTheElder commented on #374
Great, thanks all!

[2019-09-26 03:23] BenTheElder commented on #374
FWIW the boskos projects should be moved to the CNCF / k8s-infra, but that's probably much more involved.

[2019-09-26 03:29] thockin commented on #375
Do we need a cip-test-prod-backup also for testing backup?

[2019-09-26 03:46] thockin commented on #375
PTAL at #375

[2019-09-26 03:48] listx commented on #375
So upon some more reflection, I have 2 thoughts on this:

(1) I don't think testing the backup is necessary (it's a lot of engineering effort for little gain). This is because in a real life situation the actual disaster recovery process would more or less be a 1-line `gcrane cp -r <backup_gcr> <prod_gcr>` by a human with write access.

(2) I can't deny that there is merit in testing if `gcrane` i

[2019-09-26 03:51] thockin commented on #375
(1) LOL, disagree :)

If you don't test it, it is broken.

[2019-09-26 04:03] listx commented on #375
Some more thoughts on disaster recovery/backups, regardless of the above discussion: I think it's much more important/interesting to have regular audits of what's in prod vs what's in the manifests (and probably what's in the backups too). This is independent of the backup tool we end up using (whether we use `gcrane` or the promoter itself to perform copies from prod to the backup repo).

Well I

[2019-09-26 04:09] thockin commented on #375
Test the backup tool.  Test the audit tool.  Set up known-bad situations
and ensure it fails, etc.  Standard unit test stuff, but e2e.

On Wed, Sep 25, 2019 at 9:03 PM Linus Arver <notifications@github.com>
wrote:

[2019-09-26 04:14] listx commented on #375
ACK

[2019-09-26 05:37] thockin commented on #193
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2019-09-26 15:27] justinsb commented on #193
Just to document some status here:

We are starting to upload some artifacts, so we are starting to see some GCS costs.  However these costs are likely going to be much smaller than the transfer costs once we start serving binaries.  I added a page to the billing report that just breaks down GCS by project, which actually lines up pretty closely for now and shows that the numbers aren't that big.

[2019-09-26 15:35] dims commented on #374
@BenTheElder 💯

[2019-09-28 06:15] #175 closed

[2019-09-29 18:58] cblecker commented on #314
This is being controlled here:
https://github.com/kubernetes/k8s.io/blob/51503ac970a5be71d446e80ffe8d36c817bb387b/groups/groups.yaml#L64-L71

[2019-09-29 18:58] #314 closed

[2019-10-03 16:46] listx opened #387 "continuous promotion to k8s.gcr.io"
Today the promoter promotes new images in the k8s.gcr.io folder on a postsubmit job (right when an image promotion PR is merged).

I propose an alternate model (more expensive in terms of network churn, but more robust/secure):

1. continuously promote what's in master HEAD to prod (make the promoter run periodically every 5 minutes)
2. delete postsubmit job

Advantages:
- If a postsubmit fails fo

[2019-10-04 02:07] cblecker commented on #387
How long does the promoter job take?

[2019-10-04 18:27] listx commented on #387
The last promotion took around 2 minutes (https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-k8sio-cip/1179452108047388672 --- Prow says it took over 3 minutes but if you look at the timestamp of our logs it took less time, because I guess Prow counts total job length). Yesterday's CI run (nothing to promote) took 28s (https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-k8sio-cip/117984

[2019-10-04 19:34] cblecker commented on #387
What about moving the CI job to every 30 or 60 minutes, but maintain the "on PR merge" job?

The CI job itself is the self heal, but I like changes happening instantly~ when PRs merge, and not have to wait for a job to trigger.

[2019-10-04 20:03] listx commented on #387
That is certainly possible, but I think waiting 2 extra minutes (or whatever) for the merge to take effect is not a big cost at all (it's going to take longer and longer anyway with the increasing number of images). I'd rather have to maintain just 1 job rather than 2 separate ones, as it also reduces complications around running audit logic (added this as a 3rd bullet point for "Advantages" in my

[2019-10-05 01:45] cblecker opened #390 "RFC: Move boskos testing projects pool to kubernetes.io"
I'd like to start looking at moving the boskos pool over to public-owned projects.

Things I see on the surface we'd need to do:
- Template to create the projects
- Understand what the "bare" state of these projects is
- Who needs what permissions to these projects (should we set up an RBAC group for on-call? what service accounts do we need for prow/boskos/janitor?)
- What quotas do we need to re

[2019-10-06 19:05] ameukam commented on #241
/remove-lifecycle stale

[2019-10-06 19:11] nikhita commented on #158
/remove-lifecycle stale

[2019-10-07 15:55] stevekuznetsov commented on #390
/retitle RFC: Move boskos testing projects pool to kubernetes.io

[2019-10-07 20:23] BenTheElder commented on #390
roughly it's just projects with the CI service account and some admins having access, and quota depending on which pool they are going into

Literally bare. No resources. Just a namespace w/ quota

Some humans should have backup access, but primarily the CI service account needs access.

That would be `pr-kubekins@kubernetes-jenkins-pull.iam.gserviceaccount.com` (this is visible from the CI logs)

[2019-10-07 20:26] BenTheElder commented on #390
... continuing (accidentally hit enter)

As long as the state is in the build cluster, that means to switch prow over we'll either have serious disruption (need to spin down the pool) or need a whole new pool.

Humans generally have no need to access these projects, so in terms of getting the community access to the infra, the boskos projects are uninteresting, they're ~100% controlled by automati

[2019-10-08 19:44] cblecker commented on #299
/remove-lifecycle stale

[2019-10-08 19:44] cblecker commented on #249
/remove-lifecycle stale

[2019-10-08 21:32] listx opened #394 "event-based GCR auditing on inventory content changes"
Even if there is a continuous promotion job as described in https://github.com/kubernetes/k8s.io/issues/387, it could be the case that between the start of such a job and the end of it, a nefarious image could be uploaded there and then deleted. Such sneaky behaviors are hard to detect with plain promotions. Instead we need an event-based trigger on changes to GCR as they happen.

At the very leas

[2019-10-08 21:33] listx commented on #387
On further discussion with @thockin offline, I will hold off on making the change suggested in this issue, mainly because there is "bigger fish to fry" so to speak, with the bigger fish being: detection of changes to GCR based on Pub/Sub events #394.

[2019-10-09 01:34] cblecker commented on #243
/remove-lifecycle stale

[2019-10-09 13:35] nikhita opened #395 "TODO: delete k8s-nodes SA when "old" dev cluster is finally deleted"
/kind bug

The godeps publishing-bot runs in the `k8s-publishing-bot-godeps` namespace in the `development2` cluster. While trying to redeploy the bot, @sttts and I got the following error after describing the pod in `k8s-publishing-bot-godeps` namespace:

[code]

This error occurred because the `k8s-nodes@kubernetes-public.iam.gserviceaccount.com` service account didn't exist anymore.

Looking at

[2019-10-09 13:42] dims commented on #395
So we tried looking in kubernetes/k8s.io and kubernetes/publishing-bot on where this old service account `k8s-node` was being set and could not find it. So next idea was to see if we could resurrect this account.

- Found this tip:
https://serverfault.com/questions/969289/google-cloud-service-account-not-found
- Found instructions here:
https://cloud.google.com/iam/docs/creating-managing-service-a

[2019-10-09 13:45] nikhita commented on #395
Fwiw the `gke-nodes-aaa` value is defined here:

https://github.com/kubernetes/k8s.io/blob/295d621ed0f34048037c7ac3133100987442fc0c/infra/gcp/clusters/kubernetes-public/aaa/10-cluster-configuration.tf#L19

[2019-10-09 14:09] nikhita commented on #395
Found it! :female_detective:

The `development2` cluster is configured using the `k8s-node` one - can be seen [here](https://console.cloud.google.com/kubernetes/clusters/details/us-central1-b/development2?project=kubernetes-public&tab=details&node_pool_tablesize=10&persistent_volumes_tablesize=50&storage_class_tablesize=50&nodes_tablesize=50) in the `Permissions` section, for those with access.

A

[2019-10-09 17:56] cblecker commented on #395
This sounds like it won't be a problem after we move workloads over

[2019-10-11 19:09] listx commented on #394
/cc @thockin @justinsb

[2019-10-11 19:34] listx opened #398 "improve security posture of the image promotion process"
There are several things happening concurrently in this space and I am creating this issue to track them all.

- [x] separate promoter credentials/metadata content from images data [PR](https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/141)
- [x] event-based GCR auditing of all changes to prod GCR (most likely using Pub/Sub and Cloud Functions) [issue](https://github.com/kuberne

[2019-10-16 15:51] dims commented on #390
/assign @thockin

[2019-10-16 16:28] thockin commented on #390
This seems like something we can and should enable ASAP.  Christoph started with great questions.  I'd like to add a couple:

How can we break down the billing or attribution for this?  With a single big pool and a single CI service account, I have no idea who spent what money on what things.  I think we need to do better than this.
* Can we use a service account for each coarse "purpose"?
* Can w

[2019-10-16 16:36] thockin opened #401 "Need monitoring for clusters"
We now have `aaa` up as a cluster but we have not set up monitoring or alerting.

We need someone to own and drive this topic before we get too too far with the stuff we run in there.

[2019-10-16 16:41] thockin commented on #395
Whew!  Thanks for finding that.

[2019-10-16 16:42] thockin commented on #395
I will re-title this as a TODO for after dev2 is turned off.

[2019-10-16 16:45] thockin commented on #394
A cloud function or even just a job that runs in our GKE clusters that examines the state of the world and sends an alert if needed.

[2019-10-16 16:45] nikhita commented on #395
/remove-kind bug
/kind cleanup

[2019-10-16 17:06] gianrubio commented on #401
I’d be glad to work on this topic, is there a proposal for this topic? What are the requirements for monitoring and alerting?

I used to be the maintainer of Prometheus operator helm chart, I had quite some experience on monitoring and alerting on kubernetes.

[2019-10-17 02:54] BenTheElder commented on #390
We can but the CI users will need to correctly activate their unique service account.

These service accounts need to make their way into Prow, and not much prevents someone from using the wrong SA (the Prow cluster is so old in-place upgraded that it doesn't have RBAC...)

Older style "bootstrap.py" prowjobs (don't worry about the details, most of our CI jobs are these though...) automagically ac

[2019-10-17 03:17] thockin commented on #390
On Wed, Oct 16, 2019 at 7:54 PM Benjamin Elder <notifications@github.com>
wrote:

As we consider moving prow into community space, we will HAVE to get a
better story around this.

Older style "bootstrap.py" prowjobs (don't worry about the details, most of

Cull the herd?

I'd like to set the objective at EVERY test identifies which pool it
belongs to and then as needed we can split those pools to

[2019-10-17 03:39] BenTheElder commented on #390
better story around this.

Agreed. I'm certainly not thrilled about the current state...

That said, I generally don't think we can consider the presubmit testing to be trustworthy, and scheduling with boskos is cooperative. Changing that would be a bit involved.

Yes and no.

A lot of valuable signal shouldn't be culled imo, but still doesn't have a clear owner 😞 (EG who owns the periodic integra

[2019-10-17 04:11] thockin commented on #401
Context is that we have a GKE cluster.  We are starting to load-in things
to that cluster.  as we do so, we need to explore what the minimum
requirements for monitoring ought to be, what service to use (stackdriver
seems obvious, but I am open), how to configure that programmatically, and
what our norms will be for alerting and pagers.

On Wed, Oct 16, 2019 at 10:06 AM Giancarlo Rubio <notificatio

[2019-10-17 04:47] nikhita commented on #298
Is this still needed? Looks like folks are successfully creating PRs directly using https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io#creating-staging-repos? :woman_shrugging:

[2019-10-17 05:17] BenTheElder commented on #332
ACK @dims, sorry this got buried in my inbox :(
pinning this in a tab to get back to.

[2019-10-17 05:19] BenTheElder commented on #332
retention policy might just be indefinite for these? logs are not particularly large.
otherwise prow's log bucket has the arbitrary policy of 90 days.

looks like we can script service account creation with https://cloud.google.com/iam/docs/creating-managing-service-accounts#iam-service-accounts-create-gcloud
[code]

we'll also need to give that account permission to create GCS objects in the rela

[2019-10-17 11:29] aditya-konarde commented on #401
/me subscribes

I landed here from @thockin 's tweet looking for volunteers in the infra group. I'm also willing to help with this issue :)

[2019-10-17 11:46] stretchcloud commented on #401
Coming here from @thockin tweet. Would love to step in and help.

[2019-10-17 13:06] dims commented on #298
/close

[2019-10-17 13:06] #298 closed

[2019-10-17 15:26] vielmetti commented on #401
For reference, the discussion of standing up `aaa` is in https://github.com/kubernetes/k8s.io/pull/365

[2019-10-18 00:26] listx commented on #394
I think I will go with the first option, but I listed out pros/cons of each option below. The further you go down, the more "service-oriented" it gets.

*Please* chime in if my understanding of what the Cloud Function implementation would look like is inaccurate.

# Cloud Function
## Pros
- serverless (no infra needed)
- easy to consume GCR pub/sub events
## Cons
- can't re-run promoter easily (ex

[2019-10-18 11:14] bartsmykla opened #403 "Request for help of organizing information for newcommers"
Hi everyone!

I have something to confess. I'm lost a little bit. I joined efforts of our working group (k8s-infra) almost a year ago and I don't know at which stage we currently are, and what we want to do next.

I realized that when I decided to put to our incoming on-boarding meeting segment where we will explain what is the state of the world, and what actually is the next thing we plan to do.

[2019-10-18 11:18] nikhita commented on #403
Should we start with a google doc so that all the folks listed here can add notes about what they work on or are familiar with? We can polish it later and eventually move it to this repo as a markdown file.

[2019-10-18 11:19] nikhita commented on #403
And I've mentioned this before, but thank you soooo much for spearheading this and making sure all newcomers have a wonderful onboarding experience!! :raised_hands: :smile: :sparkling_heart:

[2019-10-18 12:27] bartsmykla opened #404 "Good first-time-issues"
Hi everyone!

We plan to do on-boarding session next week for our newcomers and I think it would be good to prepare some issues/tasks which will be good for people, who joined our wg recently.

Please everyone, think about 1-2 issues which will be good for that purposes, and write if you'll be able to potentially mentor some people who will be interested in picking it up.

Thank you all in advance

[2019-10-18 12:40] stretchcloud commented on #404
Brilliant idea. Super pumped up to help and contribute.

[2019-10-19 03:00] jakirpatel commented on #401
Hello ,

This is Jakir. Currently I am working on monitoring and alerting system for an organization. So I ll be happy to contribute and maintain it.

I have few ideas and scenarios for monitoring and alerting. Please let me know how to contribute.

Jakir.

[2019-10-19 03:02] jakirpatel commented on #404
Will it be Zoom meeting ? Is there any mailing list to subscribe for this updates or github watching will be okay ?

[2019-10-19 03:58] nikhita commented on #404
Yes, this will be a zoom meeting.

Yes, you can subscribe to https://groups.google.com/forum/#!forum/kubernetes-wg-k8s-infra.

[2019-10-21 07:06] idvoretskyi commented on #403
@nikhita big +1 to gdoc!

[2019-10-22 02:43] listx commented on #394
I moved most of the content of my last comment into this public doc: https://docs.google.com/document/d/1LElgTfYB8ZdTsbmESk7Q1lhLaiHVXENwoEL-MHaFwNQ/edit?usp=sharing

[2019-10-22 17:02] stp-ip commented on #176
/remove-lifecycle stale

[2019-10-22 17:11] cblecker commented on #204
/remove-lifecycle stale

[2019-10-22 21:14] cblecker commented on #320
/remove-lifecycle stale

[2019-10-23 17:11] thockin commented on #403
+1.  I have some context, I'll look at and update or file some issues today.

[2019-10-23 17:33] thockin commented on #401
OK, so we have a GKE cluster called "aaa".  It is managed by terraform code checked in here (yay).

I think we have 2 related (but not identical) things to tackle:

1) Cluster monitoring
  a) What should we use?
  b) How do we set it up with git-ops?
  c) What exactly are we concerned about (signals)?
  d) How are alerts delivered to a group of people?
  e) How do we manage that group?
  f) Do we

[2019-10-23 17:36] thockin commented on #372
I think this is in the wrong place - maybe you meant to ask for help on https://github.com/kubernetes/kubernetes ?

[2019-10-23 17:36] #372 closed

[2019-10-23 17:38] thockin commented on #325
Is the problem that IP blocks that exist in Google Cloud's customer space are blocked?  Or is it that the things we redirect to are blocked?

[2019-10-23 17:39] thockin commented on #243
We now have a cluster that is born of terraform.  Mission accomplished (enough to close this)

[2019-10-23 17:39] #243 closed

[2019-10-23 17:44] thockin commented on #152
Update: we have a cluster "aaa", that comes from terraform.  We have not moved everything over yet, so I'll propose that the goalpost for this bug be:

1) EOL the "development2" cluster (publisher bot)
2) Move all of the things in the google "utilicluster" into "aaa"
- cert-manager
- gcsweb
- k8s-io
- kube-perf?
- velodrome?

For this context, "move" means "with minimal but non-zero monitoring and

[2019-10-23 17:45] thockin commented on #157
Update: promoter works.  Backup is in-progress.  Auditing/alerting is in-progress.  I am still hopeful we can go live before EOY'19

[2019-10-23 17:46] thockin commented on #156
@justinsb update on this?

[2019-10-23 18:45] #342 closed

[2019-10-23 19:01] #375 closed

[2019-10-23 23:51] BenTheElder opened #415 "dns image is using python2"
we should probably fix that, looks like the script is probably already py3 compatible
[code]

[2019-10-23 23:57] BenTheElder commented on #415
blocked on a release of octodns following https://github.com/github/octodns/issues/201

[2019-10-24 04:53] idealhack commented on #325
Take `git.k8s.io` which redirects to `github.com/kubernetes` as an example, it's Google Cloud was blocked, not GitHub.

You can use https://www.17ce.com/site?lang=en_us to test what it's like when accessing a site in China.

[2019-10-24 19:48] thockin commented on #325
Unfortunately,I can't read anything in that site :)

If all of Google Cloud IPs are blocked, we will have to run
something somewhere that isn't.  I don't think I see any other choice?

On Wed, Oct 23, 2019 at 9:53 PM Yang Li <notifications@github.com> wrote:

[2019-10-24 23:22] listx commented on #394
There is a wip branch here https://github.com/listx/k8s-container-image-promoter/blob/cloudrun/lib/auditserver/server.go#L54. The overall idea is:

(1) make the promoter run as an HTTP server (as a flag)
(2) using Cloud Run, intercept PubSub events from GCR and push them over HTTP using https://cloud.google.com/run/docs/events/pubsub-push
(3) for every event, update the known state of HEAD of mast

[2019-10-25 00:47] cblecker commented on #206
/remove-lifecycle stale

[2019-10-25 00:48] cblecker opened #420 "groups: needs unit tests"
The groups management scripts in `groups/` need unit tests.

[2019-10-25 01:33] idealhack commented on #325
Hmm, sorry, I was thinking maybe the English option will help. The check is done by requesting (GET, ping, traceroute, etc.) a host from different places in China, and you can see a map with availability after it's done.

As said in the issue description, there're Google Cloud IPs not blocked, but I'm not quite sure about the details, the percentages may be different between regions. I understand

[2019-10-25 03:15] thockin commented on #325
If Google Cloud IPs are not blocked, what's going on?

If you run `curl -i git.k8s.io` what do you get?

On Thu, Oct 24, 2019 at 6:33 PM Yang Li <notifications@github.com> wrote:

[2019-10-25 05:11] idealhack commented on #325
To be clear, what I meant was that not all Google Cloud IPs nor sites running on Google Cloud are blocked (e.g. one of services I maintain in Asia regions on GKE is not), but apparently `git.k8s.io` are one of which are blocked, also others like `slack.k8s.io`. This is somewhat common for public cloud providers.

I’m currently not in China but I guess the curl command will return timed out.

[2019-10-25 05:23] tao12345666333 commented on #325
I will give the results later.  Not at the computer right now.

[2019-10-25 05:33] thockin commented on #325
With no discernable pattern or logic to the blocks, I don't know what else
to do, short of a mirror that runs elsewhere...

On Thu, Oct 24, 2019 at 10:11 PM Yang Li <notifications@github.com> wrote:

[2019-10-25 06:17] tao12345666333 commented on #325
[code]

[code]

Some other information:

[code]

[2019-10-25 06:22] tao12345666333 commented on #325
Maybe you can visit this site to show the detail. http://ping.pe/git.k8s.io

[2019-10-25 12:42] bclau commented on #157
FWIW, I've sent some PRs for having the Image Promoter also work for the kubernetes/kubernetes E2E test images:

https://github.com/kubernetes/kubernetes/pull/84058
https://github.com/kubernetes/k8s.io/pull/400
https://github.com/kubernetes/test-infra/pull/14833

[2019-10-25 17:48] thockin opened #425 "GCP UI is clunky for cluster-admins because they can't use the project selector"
Crafting a URL that goes straight to a project is OK, but we should probably just give every role ability to use the UI (list projects)

[2019-10-25 17:59] listx opened #426 "image promoter authorization failure"
Failed promotion due to authorization failure: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-k8sio-cip/1187747140168847360

Snipped logs below:
[code]

Promoter version: v2.3.1-34-ge32056e
Service account used: k8s-infra-gcr-promoter@k8s-artifacts-prod.iam.gserviceaccount.com

[2019-10-25 18:07] listx commented on #426
The go-containerregistry library used in the version above succeeded in e2e tests here: https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/131 (direct link: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_k8s-container-image-promoter/131/pull-cip-e2e/1174895151210827776). The promoter version used in that test was Version: v2.3.0-4-g878fb9e, which sti

[2019-10-25 18:09] listx commented on #426
From the maintainer of go-containerregistry, on slack: (@jonjohnson)
[code]

[2019-10-25 18:53] listx commented on #426
Below is a paste of a small script i wrote as a sanity check. It uses a new json key for the same SA. It tested 3 things in order:

(1) FAIL: gcrane binary built locally from bb2eda47dcc0c4cb5d554415f786c8fbe45e42fb (the same sha that is referenced in the promoter's WORKSPACE file in bazel)
(2) FAIL: gcrane docker image built recently (earlier this week) from 7683b4ee5f6150cb47a791309f781c522b95a5

[2019-10-25 18:56] listx commented on #426
I guess the troubling thing is that the gcrane binary i built from the same version that is used by the promoter fails to push blobs if i invoke google adc, but works if i do not invoke adc (with same SA all the way across)

[2019-10-25 18:58] listx commented on #426
This might be related to https://github.com/google/go-containerregistry/issues/593 which should be fixed by https://github.com/google/go-containerregistry/pull/594

[2019-10-25 19:38] listx commented on #426
I am going to create a new version of the promoter locally incorporating this fix to attempt to promote the current state of the promoter manifests (invoke as a docker image of course). I can do this later today.

[2019-10-25 19:42] mikesplain opened #430 "DNS REQUEST: kops.sigs.k8s.io"
### Type of DNS update:
Create

### Domain being modified:
k8s.io

### New DNS Record:

[code]
### Reason for update:

To support new kops netlify site: https://github.com/kubernetes/org/issues/1342

[2019-10-25 20:12] listx commented on #426
I just did a test by pulling in go-containerregistry version with the fix in google/go-containerregistry#594 here: https://github.com/listx/k8s-container-image-promoter/tree/auth-fix-attempt, building the image locally and running this script:

[code]

and it gave me this error (different error this time, although maybe that's just the library's error msg formatting that changed):

[code]

Doing i

[2019-10-25 20:43] #430 closed

[2019-10-25 20:49] jonjohnsonjr commented on #426
Sounds like it would be falling back to gcloud?

That fix is specifically for gcrane. How credentials are plumbed through the promoter is dependent on a lot of things. How does the promoter image fetch credentials? What's the `~/.docker/config.json` look like and how is it populated? I'm not sure how gcloud credentials work, but if

[2019-10-25 21:32] listx commented on #426
OK so I found a workaround. It involves simply populating the `~/.docker/config.json`file with

[code]

(I just copy-pasted from what I have in my local setup). An interesting side effect I observed is that if I have a blank file called `~/.docker/config.json` that is an empty file, I'll get an error like:

[code]

which implies that having this file is important if I'm falling back to gcloud.

Th

[2019-10-26 00:13] #426 closed

[2019-10-26 04:48] jakirpatel commented on #401
For monitoring and alerting,

Cluster Monitoring :
a) What should we use?
1. Combination of the prometheus and alertmanager is the good approach. For cluster monitoring kubernetes API's already exposes the metrics. For HA we can just use the solutions like Thanos which is reliable and HA.

b) How do we set it up with git-ops?
We should connect the git-ops (with API's) when some event is triggered.

[2019-10-28 18:27] cblecker commented on #170
/remove-lifecycle stale

[2019-10-28 18:56] dims commented on #390
/assign

[2019-10-29 00:01] rikatz opened #436 "Create a prow job that scans proposed images against vulnerabilities"
As talked with @listx on Slack:

It would be interesting to have some sort of Prow job that verifies staging images against vulnerabilities, using GCR Container Analysis or some other tool.

Any image trying a 'promotion' might need to be scanned and only promoted if its vulnerability score is lower than some defined threshold.

Also it would be interesting to have some sort of "Allowed CVE List"

[2019-10-29 14:09] bartsmykla opened #437 "Place for discussions about sub-groups"
During the last week at the on-boarding session for newcomers, there was introduced idea, which can be new for some people. This idea is `sub-groups`.

**So, sub-group?**
About 80 people shown at the on-boarding, I also received a lot of messages from people who couldn't attend the session so we can assume there is at least 100 people, who want to help with efforts of our working group.

Currently

[2019-10-29 14:11] bartsmykla commented on #404
Unfortunately after many discussions with other members of the working group I think it's not possible to simply create that kind of tasks, so I want to propose something else. Because of that I'm gonna close that issue and point everyone who is interested in this topic here: https://github.com/kubernetes/k8s.io/issues/437

[2019-10-29 14:11] #404 closed

[2019-10-30 03:25] rajibmitra commented on #401
I would like to see a combination of stackdriver and grafana.

[2019-10-30 10:01] RiRa12621 commented on #401
I am very much in favor of what @jakirpatel is proposing but would probably go a little further and propose the usage of Prometheus Operator.
I think using the prometheus operator would allow us to follow a git ops approach a little more:
Everything that live on the clusters, like apps of any kind can be following a structure of what they need to deploy in order to enable monitoring and alerting o

[2019-10-30 14:22] bartsmykla opened #442 "RBAC role for users - are these resources enough?"
As we discussed in last few zoom calls I was working on creating the role (RBAC) for the users.

After some conversation with @thockin this is the result of my work:
[code]
This issue was created to ask you if these resources will be enough?

Bart

[2019-10-30 14:44] jmhardison commented on #401
While we are using a slew of tools ourselves, some interesting tooling that has come up lately is Jaeger. However that aside, a focus on @thockin 1C would be good.

Flesh out the requirements (Hard requirements, nice-to-have's, etc) and then source a tool(s) to fit those requirements. Monitoring infrastructure alone can have different requirements from application (end-to-end) user tracing and mon

[2019-10-30 16:58] thockin commented on #442
Typo:

[code]
Errant "a"

I don't think we need to be able to write events, just list and read.

We should only use apps/deployment

I don't think we need projectcalico networkpolicies

storageclasses list is OK

priorityclasses list is OK

I expect we'll want namespaces list at some point and maybe nodes list, but let's try without those.

[2019-10-30 17:50] listx opened #444 "give others access to the promoter test projects (for backups, auditing work)"
See https://github.com/kubernetes-sigs/k8s-container-image-promoter/wiki/Container-Image-Promoter:-The-State-of-Things--Today for a description of the backups and auditing work that needs to be completed.

We need a way to give people access to GCP resources to be able to test things.

I don't fully understand what needs to be done other than editing https://github.com/kubernetes/k8s.io/tree/maste

[2019-10-30 18:10] listx commented on #444
At a minimum the people working on the promoter should have `roles/viewer` access for the projects used for backups/auditing.

[2019-10-30 22:03] sgmac commented on #420
I was looking into this, but I don't know how to mock the calls to Admin Directory, do you have any suggestion? For instance, I wanted to work on the one below.

[code]

[2019-10-31 05:51] Pensu opened #448 "Running ppc64le arch tests for Kubernetes in CNCF infra"
Hi,

Since k8s infra is now moving from Google owned to CNCF owned, would it be possible to run the tests on other archs than amd64 as well? I am not sure about status of hardware at CNCF, or what hardware we are going to use (would it still be GCP but owned by CNCF or CNCF has their own data center?), but I would like to know if it's possible to provide hardware (talking about ppc64le here), and

[2019-10-31 09:47] bartsmykla opened #449 "Some place to store voice recordings from our bi-weekly sessions"
Hi everyone!

At our slack channel one of our users (Niels van Brecht / @meauses) suggested to create some space and store there voice recordings from our sessions for people who can't watch videos but would like to listen them like podcasts.

I'm not aware what are requirements to place that kind of recording on Spotify or other places, but I think it would be a great to start with some bucket wh

[2019-10-31 13:17] nielsvbrecht commented on #449
for administration and clarity purposes...
@bartsmykla as discussed I will pick this up.

[2019-11-01 15:07] bartsmykla commented on #442
Hi @thockin thank you for more suggestions!

I updated the manifests with your suggestions included.

Bart

[2019-11-01 15:33] thockin commented on #325
So you can resolve it our redirector but not actually get there.

As we're moving things to community-owned space, this redirector is one of
the targets.  When we move it, we can try first setting up a branch in GCP
asia, which should rule out some issues.  If that still doesn't fly, we'll
have to talk about in-country mirrors or something.

We're close to being able to do this - can it sit a litt

[2019-11-01 15:50] tao12345666333 commented on #325
Thanks. We can try it;

In fact, according to our experience, sometimes IP bans rely on whitelist mode, and sometimes rely on blacklist mode. And there is no clear announcement rule. :upside_down_face:

[2019-11-02 06:42] nielsvbrecht commented on #449
Hi everyone,

I've done some research the last couple of days and have some ideas on the possibilities or how we can approach this.
We can quite simply create a podcast-like setup which can be re-used or which we can host by /for other SIGs. I think that consuming it in audio would be appreciated by others.

This is what I found and how I believe we can realize it;
The zoom API, once authenticated

[2019-11-02 07:06] justaugustus commented on #449
This sounds like a great idea and it seems like a decent amount of thought has gone into it already!

One thing I'd like us to keep top of mind is how we do moderation here...
How do we handle a bad actor or something sensitive that has to be scrubbed from a recording?

We can do this by editing the videos on YouTube prior to publication, but how will we do the same for audio?
cc: @kubernetes/sig-

[2019-11-02 07:07] justaugustus commented on #449
I think this should be brought to a SIG ContribEx meeting/the mailing list before anything happens on the implementation side.

[2019-11-02 20:51] parispittman commented on #449
might be a weird comment but i listen to our meetings with just audio all the time in a new tab or the youtube app on my phone while i do other things.

you can also upload the audio only file to a team drive/gsuite via zoom api and our zoom admins can figure this out. we asked for a team drive for our gsuite from cncf but it didn't get implemented correctly and i need to do a loop back to figure

[2019-11-02 22:48] cblecker commented on #420
It probably needs a refactoring of the code to make this viable. Things like the client services refactored into an interface, so a fake client can be mocked.

[2019-11-02 23:38] scottilee commented on #244
@hh is this issue still relevant? If so, it seems like there should be a CronJob that periodically checks that a specified cluster has the required IAM policies and when it doesn't open a PR in this repo to fix? Let me know if I'm missing anything.

[2019-11-02 23:40] cblecker commented on #244
/remove-lifecycle stale

I think it is. I think the point is to run this regularly and then output the details

[2019-11-02 23:47] scottilee commented on #152
@thockin Is there an architecture diagram of what the GCP infra is supposed to look like? Will everything be moved to and scaled out in the "aaa" cluster or will there be other linked GCP accounts?

I’m not as familiar with the GCP ecosystem and terms but for instance in AWS you can have “child” accounts that link to “parent” accounts and you can switch roles. I'm assuming the equivalent in GCP wi

[2019-11-03 07:32] nielsvbrecht commented on #449
Not weird, this is how most of us do it as well, because there is no other option.
But the downside of needing to have YouTube open, in the app or browser, is that you have to keep your phone unlocked and you cannot turn your screen off while travelling for example, and you can't have them offline either. Or you would need to have YouTube Premium.

[2019-11-04 09:54] sgmac commented on #420
I would like to work on this, do I require some sort of access to Admin API? At least to test I don't break anything while refactoring. Let me know what you think.

[2019-11-04 12:40] dims commented on #448
@Pensu Peeyush, "CNCF owned" currently means credits in various clouds paid for by CNCF. So if we can find a public cloud with support for the architecture then we can do something. No we don't have a data center where we can have any machines, we don't currently have sysadmins either to take care of such needs.

[2019-11-04 12:49] Pensu commented on #448
Thanks for the response @dims. So, to understand correctly, if any public cloud has ppc64le machines (not necessarily GCP), we can try to run the k8s test suit for ppc64le there? Just want to clarify that having machines in GCP is not a hard requirement.

[2019-11-04 13:26] dims commented on #448
if you can find it, we can try to get credits to run there. it's a long process just so we are clear. for GCP, we are funded for sure right now [1].

[1] https://cloud.google.com/blog/products/gcp/google-cloud-grants-9m-in-credits-for-the-operation-of-the-kubernetes-project

[2019-11-04 13:38] parispittman commented on #449
i do have youtube premium so i guess thats why i never noticed myself thanks for clarifying.

[2019-11-04 14:59] Pensu commented on #448
Great, thanks for the inputs @dims. I will check and get back on this.

[2019-11-04 15:44] cblecker commented on #420
@sgmac I'd love the help! Unfortunately, access to the Admin API is highly privileged. If you open a PR I can work to test any changes with you and confirm they work as expected.

[2019-11-05 23:03] cblecker commented on #255
/remove-lifecycle rotten
/close

Everything in here is done already.

[2019-11-05 23:03] #255 closed

[2019-11-06 05:49] stp-ip commented on #239
/remove-lifecycle rotten

[2019-11-06 16:43] bartsmykla commented on #442
I have updated manifests to be more generic (ie. role name is now `namespace-user` etc.)

[2019-11-06 17:18] thockin commented on #437
Historical context on a more detailed list of efforts.  Somewhat stale, but some good stuff in there:

https://docs.google.com/document/d/1r0nydnBoU7o_L7Hnjdc9SZrWe9zosbz64ZUUPn0XwXk/edit#

[2019-11-06 17:56] celanthe commented on #449
Happy to help with this however possible! :) I have extensive podcasting experience. :)

[2019-11-06 17:56] chris-short commented on #449
I'm in.

[2019-11-06 17:59] listx opened #455 "migrate GCR backup job from Prow to our own cluster"
PR https://github.com/kubernetes/test-infra/pull/14904 adds a backup job into Prow that will perform backups of gcr.io/k8s-artifacts-prod to gcr.io/k8s-artifacts-prod-bak. We should eventually move that job from Prow to our own cluster because:

(1) it requires using another K8s secret (for write access to the backup GCR) in the same "trusted" cluster, which already has the secret for write access

[2019-11-06 18:04] mrbobbytables commented on #449
Follow up from contribex call today (will link when done processing):
- It is not a long term solution, but there are several web services that will convert a youtube video to mp3 (e.g. [onlinevideoconverter.com](https://www.onlinevideoconverter.com/mp3-converter)).
- Zapier can automate the publishing of [youtube recordings to spotify](https://zapier.com/app-directory/spotify/integrations/youtube

[2019-11-06 21:03] nielsvbrecht commented on #437
My 2 cents;
My suggestion would be to put 3 and 10 together as migration effort subgroup.
Also suggest to change 7 to security & auditing, to monitor any issues on that part.
I'd suggest to put the DNS and redirect subgroup together as they're so closely tied together.
And 10 and 12 seem to be the same?
I think there should be something that covers life cycle management, like at what times do we s

[2019-11-07 09:01] nielsvbrecht commented on #449
Is it an idea to create a separate slack channel for any efforts related to this? Or just create a thread (in which channel?) so we can start any efforts on this topic and share any ideas and start/try-out proof of concepts.

[2019-11-07 10:43] nikhita commented on #449
#sig-contribex would be the right place :)

[2019-11-08 14:55] andrealmar commented on #437
Hi everyone any progress on sub-groups ?

[2019-11-08 17:19] sgmac commented on #420
blind coding such a challenge !! The only issue I see here is that

[code]
I'm not very experienced in Go but I took a look  *admin.Service, and has not single method definition but concrete types.

https://github.com/googleapis/google-api-go-client/blob/master/admin/directory/v1/admin-gen.go#L249

[2019-11-09 03:55] listx commented on #437
@bartsmykla Should there be a separate doc that describes the "state of work" and tasks/progress that needs to be completed for each subgroup?

[2019-11-10 23:28] neolit123 opened #460 "groups/groups.yaml can become difficult to maintain"
i foresee that groups/groups.yaml will face the fate of k/test-infra/testgrid/config.yaml :) - i.e. one big yaml with a few owners that is difficult to edit and causes conflicts in PRs.

ideally groups should be sharded on the owner side.
can group settings be delegated on the side of group owners and perhaps only the group names can be enumerated in groups/groups.yaml ?

/kind feature
/priority i

[2019-11-10 23:30] justaugustus commented on #460
Strong +1 for this!

[2019-11-10 23:50] cblecker commented on #460
Maybe longterm, but right now the token to manage groups is extremely highly privileged.. I think only dims and I have access to it (the process is a manual run). So either way, we have to funnel approvals through a couple folks anyways. Sharding the config will only get us partially the way there.

[2019-11-11 09:56] sgmac commented on #401
What is the status of the monitoring/alerting? Is already a defined workgroup with the goals and definition of the architecture? It would be good to agree at least on the definition, and start subdividing tasks. WDYT?

[2019-11-11 13:00] nikhita commented on #460
Can we go around this by setting up the sync as a postsubmit like we do for peribolos?

[2019-11-11 23:09] cblecker commented on #460
Peribolos has a bunch of safeguards in place to prevent locking itself out from GitHub. We don't have those kinds of safeguards in place on the groups sync script.. right now, it requires a dry run, manual verification of the changes, and then a real live run.

If we had better testing and some of those safeguards in place, I'd be way more comfortable/confident with us doing this.

[2019-11-12 04:20] jakirpatel commented on #401
@sgmac  agree with you. Lets have this discussion in the weekly meeting I think.

[2019-11-12 17:20] thockin opened #464 "Add DNS setup to `ensure-main-project.sh`"
I started this but have not had time to finish.

[code]

[2019-11-13 08:08] mayankkapoor commented on #420
@sgmac  I'm starting to give the refactoring a shot. Let me know if you want to collaborate on this.
@cblecker Any advice is appreciated.

[2019-11-13 09:29] bartsmykla commented on #437
These are groups which we want to propose:

- Cluster management (mentor: @thockin)
- Monitoring/alerting/observability (mentor: ?)
- Moving “easy” apps from old clusters to new (thockin)
- Container image serving and management (listx)
- Staging and move towards automation (mentor: ?)
- Non-container artifacts (mentor: @justinsb)
- Auditing (mentor: @hh)
- Billing (mentor: @justinsb)
- Changing s

[2019-11-13 09:30] bartsmykla commented on #437
@listx my idea is to give this as a first task for each of subgroups (this kind of document)

[2019-11-13 09:31] RiRa12621 commented on #437
@bartsmykla What's the idea for a mentor to be doing?

[2019-11-13 09:34] bartsmykla commented on #437
@RiRa12621 moving things forwards in relation to sub-groups efforts. I mean deciding how to divide work which sub-group needs to do into smaller chunks and assign it to mentees, or organizing some weekly calls with mentees and doing pair programming, and finding 15 minutes of time every week to give me some report about the progress of work during the week. :-)

[2019-11-13 09:35] RiRa12621 commented on #437
@bartsmykla Ok cool, happy to do that for the monitoring/alerting/observability subgroup if someone else could assist that knows the current infra a bit better.

[2019-11-13 09:48] bartsmykla commented on #437
@RiRa12621 we can discuss it. @thockin @dims @listx @cblecker @tpepper @stp-ip what do you think about it?

[2019-11-13 09:50] bartsmykla commented on #437
As a reminder, if you want to join as a mentee to one of the sub-groups, please put your username in table at the bottom of the document: https://docs.google.com/document/d/1IWxWCMccx2OX6EJWcjD_RVhRjU0qdoNOJ2HM9C5qVFk

[2019-11-13 09:56] sgmac commented on #464
I would like to work on this. What are the zones we need to bootstrap?

[2019-11-13 10:36] RiRa12621 commented on #401
I did a draft diagram for using the Prometheus Operator[PrometheusOperator.pdf](https://github.com/kubernetes/k8s.io/files/3840601/PrometheusOperator.pdf)

The idea is that everything in a `monitoring` namespace is deployed from within a shared repository along with all needed RBAC.
Afterwards subgroups can be fully self contained and just deployed anything new they need to have monitored to their

[2019-11-13 12:29] sgmac commented on #420
@mayankkapoor looking forward to help, please go ahead and share your branch so I can take a look how you are approaching this.

[2019-11-13 12:52] jakirpatel commented on #401
Thank you @RiRa12621.
Self service prometheus will be more good approach where the app teams can use the API's to do operations.

Agree it make sense using the CNCF graduated project like prometheus. It will be more cleaner approach considering app and cluster monitoring.

[2019-11-13 18:53] mayankkapoor commented on #420
@sgmac I've opened a PR here: https://github.com/kubernetes/k8s.io/pull/466, and branch is https://github.com/mayankkapoor/k8s.io/tree/refactor-client-services.

[2019-11-14 15:55] aojea opened #468 "Make infra IPv6 ready"
I've tried to deploy an IPv6 cluster in AWS and it turned out that VMs failed to download the packages because they DNS doesn't resolve IPv6 addresses.

[code]

@stp-ip commented on a possible solution in slack

I think that instead of fixing one thing at a time we can't come with a list of components that needs to be updated/migrated

- [ ] DNS records
- [ ] IPv6 to IPv4 Proxies ??

...

[2019-11-14 15:55] aojea commented on #468
/cc @dims @BenTheElder

[2019-11-14 19:58] puerco commented on #415
/assign @puerco

[2019-11-16 00:57] iftachk commented on #464
@sgmac
Let me know if you wanna work on it together
I would like to get some experience with it

[2019-11-19 00:51] listx commented on #437
Maybe it's worth just moving along with the existing subgroups with mentors instead of waiting for the list to get fully populated. /shrug

[2019-11-19 10:12] RiRa12621 commented on #437
The lists seem pretty full for the most part now already.
Just need to fill up the missing mentors and then we should be good to go except for one or two.
But maybe "let's be agile" and start with the ones that have members and try to fill the missing ones over time.

[2019-11-21 19:12] ameukam commented on #240
/remove-lifecycle stale

[2019-11-29 11:31] bartsmykla commented on #437
@listx @RiRa12621 just as a reminder from my message here: https://groups.google.com/forum/#!topic/kubernetes-wg-k8s-infra/jv7Ye7GqDoU the idea is to start with efforts of 3 subgroups:

1. Container image serving and management (mentor: @listx)
2. Moving “easy” apps from old clusters to new (mentor: @thockin)
3. Auditing (mentor: @hh)

As a mentors, is it ok for you @listx @thockin @hh?

[2019-11-29 12:36] justaugustus commented on #237
/remove-lifecycle rotten
/lifecycle frozen

What's the status of this?

[2019-11-30 02:31] dims commented on #237
Looks like they have fixed it https://github.com/kata-containers/tests/pull/1526 so we should be able to clean things up now.

[2019-12-01 17:06] hh commented on #437
Count me in.

On Sat, 30 Nov 2019, 12:31 AM Bart Smykla, <notifications@github.com> wrote:

[2019-12-03 17:40] #442 closed

[2019-12-03 18:13] bartsmykla commented on #464
@sgmac @iftachk I think it would be good to create initial PR with some dummy zone, and ping @thockin in the PR, and also we can discuss the topic on the next community meeting. What do you think? :-)

[2019-12-03 20:51] sgmac commented on #464
@bartsmykla  sounds good to me. Don't you think we should merge this first  [WIP: Add DNS setup #465](https://github.com/kubernetes/k8s.io/pull/465/files)?  I can work on that branch as well :)

[2019-12-03 23:57] listx commented on #437
SGTM

[2019-12-05 17:42] listx commented on #394
Here's another summary of the flow:

1. GCR changes state (e.g., image is pushed)
2. GCR sends Pub/Sub notification to a TOPIC
3. A CloudRun-compatible version of the promoter (acting as a service) gets sent an HTTP request with the contents of the Pub/Sub message
4. The promoter-service pulls contents of the latest GitHub master branch of the official promoter manifests
5. The promoter-service co

[2019-12-05 20:01] #195 closed

[2019-12-05 20:01] #207 closed

[2019-12-06 17:40] listx commented on #394
I've got steps 1-7 working in my own project, using a new feature of the promoter to run as an "auditor". I need to now add an e2e test that will run on every change to the auditing code to:

1. build/push a new image of the auditor
2. deploy the auditor to a test project (this has already been created as `k8s-gcr-audit-test-prod`) as a Cloud Run instance (it will use the default creds as per http

[2019-12-06 20:35] listx commented on #394
@bartsmykla On further thinking --- I believe re-publishing to "rejected" and "verified" topics might not be necessary at all. Stackdriver on GCP can be configured to consume log messages (which we already "publish" in a sense to Stackdriver) from the Cloud Run application directly. https://cloud.google.com/monitoring/alerts/

@thockin I think step #4 could possibly be simplified by just using the

[2019-12-07 00:30] dims commented on #415
/close

[2019-12-07 00:30] #415 closed

[2019-12-07 00:31] BenTheElder commented on #415
thanks!

[2019-12-10 04:30] listx commented on #394
Update: apparently you can make GCP auto-create new pubsub messages from existing logs by setting up what's called a logging "sink". However, I am still leaning against re-publishing pubsub messages because it feels like unnecessary complexity at this early stage.

[2019-12-11 11:36] nikhita opened #500 "Wind down godeps publishing-bot instance"
We run two instances of the publishing-bot today. The instance of the bot responsible for syncing releases <= `v1.14` runs in the `k8s-publishing-bot-godeps` namespace and the instance of the bot responsible for syncing the master branch and releases >= `v1.14` runs in the `k8s-publishing-bot` namespace.

The [final patch release](https://github.com/kubernetes/sig-release/blob/master/releases/patc

[2019-12-11 13:56] liggitt commented on #500
From my perspective, it makes sense to turn down the bot after the final 1.14.x release is cut, along with the rest of the 1.14 CI.

[2019-12-11 17:09] thockin opened #502 "Need RBAC for cert-manager in aaa"
The "standard" RBAC is not going to be enough.  James agreed to think about the minimum permissions needed to run cert-manager.

[2019-12-11 17:24] thockin opened #503 "Move Publishing bot from development2 to aaa"
figure out the correct config and yaml

document it and check it in to k8s.io

send a PR to make a group and namespace

deploy yaml to aaa

turn down dev2 cluster

[2019-12-11 17:26] thockin opened #504 "Move k8s.io from old Google-only cluster to aaa"
Other than the existing TLS secrets which will need to be manually copied, the YAML exists.

1) PR to make a group and namespace

2) Load YAML in aaa cluster, get new IP

3) figure out what tests we want to do to convince ourselves it is sane

4) Monitoring (at least up-checks)

5) Flip DNS to new IP

6) Turn down old

[2019-12-11 17:27] thockin opened #505 "Move Velodrome from old Google-only cluster to aaa"
@apelisse I assume we actually need to move it, yes?

Assuming so:

1) PR to make a group and namespace

2) Load YAML

3) testng

4) flip DNS

5) turn down old

[2019-12-11 17:29] thockin opened #506 "Automate audit runs"
We have audit code  (.  We should automate it to run periodically and send reports somewhere.

https://github.com/kubernetes/k8s.io/tree/master/audit

[2019-12-11 17:30] thockin opened #507 "Automate DNS on approved PRs"
When a DNS PR is approved, a human has to run the DNS syncer.  We should automate that.  It can run in aaa, watch the git repo, (use workload identity to access DNS?) and needs to send results somewhere.

[2019-12-11 17:31] munnerz commented on #502
Are all the certificates needed by cert-manager only in one namespace? Is it likely we will want to use the Certificate resource type in other namespaces at some point in future?

cert-manager's namespace scoped mode only allows running in a *single* namespace, not in a list of namespaces. This means you'll need to run an instance of the `controller` component (the 'controller manager') for every

[2019-12-11 17:33] thockin commented on #500
I don't mind letting it ride for a quarter "to be sure"

[2019-12-11 17:34] liggitt commented on #500
Sure. It's basically 6 no-ops a day once we stop updating branches it cares about. Basically no impact to anything.

[2019-12-11 17:35] munnerz opened #508 "Add repo labels (area/) for different components"
It was suggested that we use labels to denote issues by their area - Prow supports `area/` labels for this, and there already exists one label that can be used as an example (`area/dns`): https://github.com/kubernetes/test-infra/blob/6baeb3d9949b9e6d9404dd3b4a6b28392de68ee0/label_sync/labels.yaml#L803-L810

These can then be set by commenting, for example: `/area dns`.

We should collate a list of

[2019-12-11 17:42] apelisse commented on #505
To be honest, I don't know what's going on with Velodrome and how it's use nowadays. @cjwagner ?

[2019-12-11 17:43] thockin commented on #460
maybe we can break the monolith file into smaller files which are merged at run-time.  At least it would be easier to read?  Maybe even directory structure to separate RBAC groups from role groups from administrative groups

[2019-12-11 17:43] apelisse commented on #505
Also, you're missing the complicated part: migrate the data from PVs, since it has TSDBs. It also has a mysql database from Google Cloud SQL.

[2019-12-11 17:44] thockin commented on #449
If we want a GCS bucket, I think that would be appropriate use of infra funds.  We'll just need to script the creating of it and figure out permissions

[2019-12-11 17:46] thockin commented on #425
Users should be able to list projects now, but I think they still can't list orgs :(

[2019-12-11 17:51] thockin commented on #152
I have opened issues for each specific item.  "aaa" is live and gcsweb has moved.

[2019-12-11 17:51] #152 closed

[2019-12-11 17:53] thockin commented on #156
This is done.  The billing report should be accessible to anyone in the k8s-infra group.  To make it truly world-readable we'd need to recreate it on a non google-com email.  Maybe a kubernetes.io gsuite account for publish docs like this?  Will open an issue

[2019-12-11 17:53] #156 closed

[2019-12-11 17:54] thockin opened #509 "Need a kubernetes.io gsuite account to host billing report"
The billing report today is accessible to anyone in the k8s-infra group.  To make it truly world-readable we'd need to recreate it on a non google-com email.

[2019-12-11 17:54] thockin commented on #204
DONE

[2019-12-11 17:54] #204 closed

[2019-12-11 17:56] thockin commented on #239
De-duping with #507

[2019-12-11 17:56] #239 closed

[2019-12-11 17:57] thockin commented on #507
Dup of #239

Stealing the context:

Followup from #151

At the moment, updating DNS still requires humans to run commands. The ideal state is PR-driven:

DNS requests are made via PR
OWNERS files dictate who has authority to approve a given DNS request
When then PR merges, something deploys the change
https://github.com/kubernetes/k8s.io/tree/master/dns#todo outlines some potential tasks

The mode

[2019-12-11 17:58] thockin commented on #506
Dup of #244

[2019-12-11 17:58] #506 closed

[2019-12-11 17:59] thockin commented on #246
Dup of #275

[2019-12-11 17:59] #246 closed

[2019-12-11 17:59] thockin commented on #275
This is active now, at least for gcsweb.

[2019-12-11 17:59] #275 closed

[2019-12-11 17:59] thockin commented on #299
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2019-12-11 18:00] thockin commented on #330
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2019-12-11 18:12] thockin commented on #505
Well, SOMEONE will have to move it.  We're going to put a clock on the old
cluster and shut it down in Q1 or Q2 at worst

On Wed, Dec 11, 2019 at 9:43 AM Antoine Pelisse <notifications@github.com>
wrote:

[2019-12-11 19:16] cjwagner commented on #505
We've been having problems with velodrome and we've been slowly replacing the parts we use with https://monitoring.prow.k8s.io.

Do we need the mysql DB or any of the GitHub data transformation and related metrics? I don't see any graphs that use it and I think that https://k8s.devstats.cncf.io covers GitHub metrics.

The bigquery metric data will need to be moved to a new influxdb instance and th

[2019-12-11 19:48] thockin commented on #505
Not that I am aware of.

[2019-12-11 20:35] rikatz commented on #508
Based in #437:

* area/aaa (or area/cluster)
* area/auditing
* area/site

Will think in some other areas :)

[2019-12-11 21:11] justaugustus commented on #508
It may useful to further scope the labels e.g., `area/infra/**`

[2019-12-12 02:09] apelisse commented on #505
How much data (duration) does it retain? O(weeks) or O(days)? the latter wouldn't require any migration.

[2019-12-12 02:47] nikhita commented on #503
:wave: I can help with this! :)

Assigning to me since moving the configs would also involve moving the token, and only a few folks have access to it
/assign

[2019-12-12 03:07] listx commented on #394
I just learned about https://cloud.google.com/error-reporting/docs/setup/go. It looks like adding a tiny bit of code will get us error reporting (alerting!) a lot more easily. As a recap, here are the alternative options for the auditor to report errors:

(1) republish a new pubsub message to a "rejected" topic that houses rejected GCR transactions (state changes GCR that could not be verified) by

[2019-12-12 03:13] nikhita commented on #503
/cc @dims @sttts

[2019-12-12 03:17] ameukam commented on #503
Happy to help with this as well. :-)
From my understanding is about migrate those [manifests](https://github.com/kubernetes/publishing-bot/tree/master/artifacts/manifests) in this repo ?

[2019-12-12 04:16] nikhita commented on #503
Also configs: https://github.com/kubernetes/publishing-bot/tree/master/configs and adding a makefile to automatically deploy it

[2019-12-12 06:24] thockin commented on #502
On Wed, Dec 11, 2019 at 9:31 AM James Munnelly <notifications@github.com> wrote:

We will (do) use Certificates in multiple namespaces.

That sounds awful :)

[2019-12-12 07:55] #387 closed

[2019-12-12 07:58] listx commented on #444
The test projects are defined here: https://github.com/kubernetes/k8s.io/blob/6a8b73dde2fe08c2be9f5f512254fb5158a00633/infra/gcp/ensure-prod-storage.sh#L66-L75

[2019-12-12 08:04] listx commented on #444
/assign @listx

[2019-12-12 08:05] listx commented on #436
/cc @listx

[2019-12-12 08:05] listx commented on #398
/assign @listx

[2019-12-12 08:06] listx commented on #394
/assign @listx

[2019-12-12 12:37] nikhita commented on #503
xref https://github.com/kubernetes/k8s.io/issues/395

[2019-12-12 18:46] rajibmitra commented on #444
are we going to create any service account for this ?  @listx

[2019-12-13 17:00] palnabarun commented on #507
Hi @thockin, I would like to help out with this.

[2019-12-13 17:01] palnabarun commented on #507
/assign

[2019-12-13 19:03] palnabarun commented on #507
What I have understood is currently, after any changes are made to the DNS configuration, someone who has the required credentials runs `make check` and `make push`.

To automate this, we can run `make check` whenever any PR is submitted to change the DNS configuration. And when the PR is approved and merged, we can run `make push` to push the final DNS changes. PR approval as said above is restri

[2019-12-15 03:12] ThomasWo commented on #504
I don't currently have access to either aaa or google clusters, but I'll do what I can on this one.

@thockin For `1. PR to make a group and namespace`, any idea on what the group name should be/who should be in it?  I have a first pass in #513 (just took a guess at a name and added usernames that I recognized).
/assign

[2019-12-16 13:34] detiber commented on #367
/remove-lifecycle stale

I believe we are still working on identifying a way to trigger a post-submit job on tag creation.
/cc @ncdc

[2019-12-16 14:53] ncdc commented on #367
I asked about how to match tag refs in #sig-testing [here](https://kubernetes.slack.com/archives/C09QZ4DQB/p1572547611010400). Copying @Katharine's response here:

e.g. set branches to ^v\d+.\d+(.\d+)?$ to only match version tags or something.
there isn't really a good way to do this, though we have discussed it

I am 💯 interested in automating tag builds. If anyone is available to work with me on

[2019-12-16 14:54] ncdc commented on #367
Is the thinking that when a tag is pushed, that would directly trigger GCB, or do you think the flow is Prow -> GCB?

[2019-12-16 14:57] detiber commented on #367
I think either approach would work, but if we trigger the GCB build based on the tag directly, we might need to make sure that the GCB build output is published somewhere that is more visible than it is today.

[2019-12-16 14:59] ncdc commented on #367
Gotcha. I have time to work on this, so if someone can point me in a direction, I'm happy to get started.

[2019-12-16 17:51] Katharine commented on #367
I would first question whether we need to tag images in staging at all.
Staging tags should be fairly meaningless, with the tags in production
buckets being the important ones. The image promoter can apply tags that do
not match the ones in the bucket it promotes from. This is how I originally
envisioned it — take an image tagged with a commit hash from staging and
promote it to a numbered version

[2019-12-16 17:58] ncdc commented on #367
I don't believe we're currently doing this in Cluster API today (I'll have to double check), but with previous projects, we've logged the version when starting the app. If we're doing this/start doing this, I would expect an image with tag vX.Y.Z would show that version string in the log, and that is only the case if we build from a proper git tag.

Are we talking about two different types of tags

[2019-12-16 17:59] detiber commented on #367
So, we don't necessarily need a specifically tagged image in the staging bucket, but what we ideally do need is the following:
- We initiate a release by tagging the git repo with the version tag
- We can match up a specific image build that was built in GCB and pushed to the staging repository to the exact commit hash that is associated with the git tag

Today we do post-submit builds to staging

[2019-12-16 18:06] Katharine commented on #367
though I’m not certain which. Once you know this, you can pass it through
from prow to GCB by passing it through using --env-passthrough=WHATEVER

Ignore this part, I forgot how it works (in my defence, I am on vacation and this is the first thing I wrote after waking up).

Prow _will_ run a post submit when you push a branch unless the branch filter prevents it from doing so. As such, with no fil

[2019-12-16 18:57] ncdc commented on #367
Right now we restrict the branches for image building to `master` and `release-0.2` (https://github.com/kubernetes/test-infra/blob/d6906fc77dfb17c7723393d3a52a78f7f3dd9b7f/config/jobs/image-pushing/k8s-staging-cluster-api.yaml#L10-L12). If we expand that to `vX.Y.Z`, is that sufficient for building an image from a semver tag? I think so, since our cloudbuild file runs `make release-staging`... rig

[2019-12-16 19:01] detiber commented on #367
@ncdc I *believe* so

[2019-12-16 21:35] #464 closed

[2019-12-16 22:53] thockin opened #516 "Refactor infra/gcp/..."
Right now it is set up as "concept-first".  For example "ensure-staging" says "all of these are staging-like" and "ensure-prod" says "all of these are prod-like".  That makes it hard to get a sense of what any one project has going on.

I propose to refactor it to "project-first". One list of projects and each one says "I am prod like" or "I am staging like".  Then I could simply say `ensure-proje

[2019-12-16 23:00] cblecker commented on #516
Yes, it is absolutely worth pursuing. The bash ensure stuff is getting out of hand IMO.

[2019-12-16 23:16] thockin commented on #516
Shall we discuss the idea sometime and you can either volunteer yourself or
write enough that we can solicit other volunteers?

On Mon, Dec 16, 2019 at 3:00 PM Christoph Blecker <notifications@github.com>
wrote:

[2019-12-16 23:51] thockin commented on #206
Audit found exactly ONE place where we had an old googlegroups - k8s-infra-sig-release-prototype@googlegroups.com was storage admin on gs://k8s-sig-release-prototype

No longer - now  k8s-infra-sig-release-prototype@kubernetes.io which should be the same ppl.

@justaugustus

[2019-12-16 23:51] #206 closed

[2019-12-16 23:57] thockin opened #517 "groups sync when people manually update gsuite"
Do we have a backfill procedure?  @dims @cblecker

[code]

[2019-12-17 00:04] thockin opened #518 "group sync failing, not obvious why"
[code]

I do not see a duplicate in the file...

@cblecker @dims

[2019-12-17 00:41] #517 closed

[2019-12-17 00:41] #518 closed

[2019-12-17 14:38] ncdc commented on #367
I just opened https://github.com/kubernetes/test-infra/pull/15624 to see about building and pushing semver tags to staging for 3 Cluster API repos.

[2019-12-19 15:12] stp-ip opened #525 "Set retention for staging images"
We currently set a 60d retention on staging storage and staging gcb storage, but don't enforce any retention for images.

Staging images should be discouraged from being used and therefore adding a retention policy would help setting the right expectations as well as keep our storage needs lower in the long run.

I am proposing the same 60d retention to keep things the same across all staging rete

[2019-12-19 15:14] stp-ip commented on #332
Any reason why we would want to keep these around?
We already have a 60d retention for staging buckets for both human and gcb interaction.
To set the same expectations we could use the same 60d retention rate for this as well.

[2019-12-19 20:21] spiffxp commented on #332
I'm opposed to 60d retention for test results, and would prefer to see expanded beyond the existing 90d.  Such a short retention prevents us from comparing test results across quarters.

[2019-12-19 20:31] ixdy commented on #332
FYI, the 90d retention on `gs://kubernetes-jenkins` is pretty arbitrary. For background, way back in 2016 I bumped it from 30d to 90d.

[2019-12-19 23:28] BenTheElder commented on #332
for conformance tests from third parties we also expect relatively low amounts of extra data and relatively low rates of testing compared to our typical test result hosting.

[2019-12-21 19:03] justaugustus commented on #159
/remove-lifecycle rotten
/lifecycle frozen
/reopen

[2020-01-04 18:39] mayankkapoor commented on #420
@cblecker I'm having trouble creating a fake client for admin.Service. In order to mock/stub admin.Service, I need to create an interface with a function that admin.Service implements. However, there are no exported functions that admin.Service implements. Only `userAgent()` which is not exported.

E.g. In order to test `func printGroupMembersAndSettings(srv *admin.Service, srv2 *groupssettings.Se

[2020-01-04 20:38] listx commented on #158
/remove-lifecycle stale

[2020-01-05 07:35] ameukam commented on #241
/remove-lifecycle stale

[2020-01-08 17:01] stp-ip commented on #320
Zones are now managed via our DNS as done in #526
Missing is adding useful redirects. I would defer this once we have k8s.io migrated and might even push this after we have the redirector running.

[2020-01-08 17:18] stp-ip commented on #237
We have 1.17 out so we should be able to finish this in 2020 I guess.

[2020-01-08 17:19] stp-ip commented on #176
/assign

[2020-01-08 17:30] stp-ip opened #533 "CoreDNS automated GCB build"
We currently have manual pushes to the CoreDNS staging repo.

* [ ] Setup a new CoreDNS build repo
* [ ] Setup GCB builds that feed into the staging repo

Within various discussions the choices for projects boiled down to (ref)[https://github.com/kubernetes/k8s.io/pull/354#issuecomment-547579882]:
1. Automatic GCB through Kubernetes controlled repo or external repo (mostly k8s projects - opt-in)
2

[2020-01-08 17:30] stp-ip commented on #533
/assign

[2020-01-08 17:37] stp-ip commented on #332
We discussed this partially in the call today (2020-01-08).

The suggestion was to use a production storage bucket, which would come with a 10y retention.

What is the current cost associated?
Probably storage cost won't be a factor, but might be nice to know beforehand.

Context:
Staging storage buckets are set to 60d and staging images might be between 60d to 6m (https://github.com/kubernetes/k8

[2020-01-08 21:17] BenTheElder commented on #504
noting that 1. / https://github.com/kubernetes/k8s.io/issues/504#issuecomment-565773199 was done in https://github.com/kubernetes/k8s.io/pull/513

2\. seems pretty straightforward, 3/4 may need some thought still. 5.6 will be straightforward...

[2020-01-09 03:08] rikatz commented on #516
@thockin just taking a walk into the issues, maybe this is related: https://github.com/kubernetes/k8s.io/pull/523

I also saw the discussion into the mailing list, in my opinion Terraform is the best way to do this :)

I just don't think I have enough knowledge into that to help with the Terraform stuff, but anyway just putting the PR here (again) so we may have a follow up.

[2020-01-16 04:40] ameukam commented on #395
/remove-lifecycle stale

[2020-01-22 07:05] bartsmykla commented on #403
/remove-lifecycle stale

[2020-01-22 23:08] BenTheElder commented on #504
GCP project for old cluster is `kubernetes-site`, I can access that and see the deployments etc.
The new `AAA` cluster is in `kubernetes-public`, which I think I actually can't.

Not sure what we want to name these for the new deployment.

[2020-01-23 16:40] listx commented on #157
/remove-lifecycle stale

[2020-01-27 19:58] BenTheElder opened #549 "Move perf-dash to community owned infra"
http://perf-dash.k8s.io/ is running on the "k8s-mungegithub" cluster in an old google internal GCP project, this cluster is still using `kube-lego` and is not actively maintained as far as I can tell, we should move it to community managed infra (or turn it down if nobody is going to maintain it).

cc @krzysied

[2020-01-28 22:35] rikatz opened #554 "Wrong spf registry into kubernetes.io domain"
As stated by @tallclair at mailing list:

[code]

So this issue is to replace the ~all to -all into all kubernetes domains.

[2020-01-28 22:35] rikatz commented on #554
/assign @rikatz
/cc @thockin @tallclair

[2020-01-28 22:40] puerco commented on #554
No, they are wrong. GSuite domains are supposed to have the ~ in the SPF. In the real world I think it would be better to have the `-all`. But, strictly speaking, [GSuite docs specify the SPF](https://support.google.com/a/answer/33786?hl=en) with ~:
[code]

[2020-01-28 22:42] ixdy commented on #554
FYI `~` means soft fail. `-` is hard fail.

[2020-01-28 22:46] rikatz commented on #554
IMO in this case hard is better than soft. ~all will let the message pass and rely on the server / user MTA side, -all will tell him to drop. Some might say ~all can be used only in servers transitioning to SPF.

As we're very aware of which are the authorized domains from kubernetes.io domain I think the best approach is to hard fail the SPF

[2020-01-28 23:12] cblecker commented on #554
I'm inclined to go along with the current gsuite recommendations as @puerco noted.

[2020-01-29 12:33] bartsmykla commented on #549
If there will be help from people who has access to the current cluster I can help with moving that and actually own the ticket
/assign bartsmykla

[2020-01-29 13:04] krzysied commented on #549
Adding scalability folks.
/cc @wojtek-t
/cc @mm4tt

[2020-01-29 13:10] mm4tt commented on #549
I'm not sure about the k8s-mungegithub cluster being maintained or not, but we definitely maintain and use perf-dash on a regular basis.

We do have access to the current cluster and can help with providing all the info you need. The only requirement we have is for the sig-scalability folks to have the ability to view perf-dash logs and be able to deploy new versions of perf-dash whenever we need

[2020-01-29 17:30] rikatz commented on #554
Some thoughts:

* Google and GSuite rely on ~all instead of -all trusting the MTA on the other side (receiving a fake kubernetes.io email) will have a threshold good enough to drop the message.

An example:
- In case a user from Gmail or other good mail provider receives a mail from a non-authorized kubernetes.io IP it have the hability to receive and mark this as SPAM or phishing (softfail), so G

[2020-01-29 18:12] cblecker commented on #554
Yes, I am okay with this. We don't send out sensitive things like passwords, and it is more detrimental in my opinion for us to get caught in spam filters than not.

@dims @BenTheElder @thockin: Unless any of you have any objections, I think this is a NOTABUG/WONTFIX.

[2020-01-29 23:40] BenTheElder commented on #554
I am out of my depth here 🙃

[2020-01-30 00:18] dims commented on #554
~no-objections

[2020-01-30 09:36] stp-ip commented on #554
Not sure us changing `~` to `-` would change anything.
The SPF records afaik evaluate each rule in order. Meaning the mentioned `spf.google.com` link would get evaluated first, which uses `~all`. That would mean it most likely always passes as softfail and wouldn't normally jump into our own hard fail configured via `-all`.

SPF is definitely not my area of expertise so might be wrong on the above

[2020-01-30 16:17] stp-ip commented on #325
/remove-lifecycle stale

[2020-02-02 10:42] stp-ip commented on #340
/remove-lifecycle rotten

[2020-02-03 16:12] mkumatag commented on #448
/remove-lifecycle stale

[2020-02-03 17:58] thockin commented on #194
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2020-02-03 18:47] cblecker commented on #554
Thank you everyone for jumping on this and responding to the questions/concerns. We really do appreciate it.

At this time, we are going to hold off on any changes to this as we are currently following Gsuite's documentation on this.

[2020-02-03 18:47] #554 closed

[2020-02-04 00:02] manojnkumar commented on #448
@dims : Do you know whether the GCP credits apply to Power: https://cloud.google.com/blog/products/gcp/ibm-power-systems-now-available-on-google-cloud?

[2020-02-04 00:40] dims commented on #448
@manojnkumar these dont seem to be available via the GCP API itself ... so won't work with our CI systems

[2020-02-04 04:15] mkumatag commented on #448
@dims I was thinking of writing a provider for kubetest to create a cluster in the ibm cloud where we already powervm and run the tests. We can discuss more on this when meet, I also see kubetest2 is also created but not sure if we need to choose kubetest vs kubetest2! @cblecker ???

[2020-02-04 04:17] mkumatag commented on #448
oops, sorry I tagged cblecker instead of @BenTheElder ^^^

[2020-02-04 05:36] ameukam commented on #503
/area infra/publishing-bot

[2020-02-04 12:38] dims commented on #448
@mkumatag another pattern we use with AWS is using boskos. We register cloud information with boskos and acquire/release stuff as needed. Example see how we use it in CAPA
- https://github.com/kubernetes/test-infra/tree/master/boskos
- https://cs.k8s.io/?q=boskos&i=nope&files=&repos=kubernetes-sigs/cluster-api-provider-aws

The above stuff works as we just feed the credentials to cluster api and c

[2020-02-04 13:38] mkumatag commented on #448
@dims Thanks for the information, will explore more on this.

[2020-02-04 18:29] BenTheElder commented on #448
kubetest & kubetest2 are both skippable if you want, but you will probably want some sort of program if you plan to use boskos. KIND CI doesn't use either since the resources are local and we can avoid some of the complexity..

If you're going to use one, kubetest is the widely used one, kubetest2 is not in any CI atm and is pretty much a dead effort, I've had to refocus on KIND & some other thing

[2020-02-04 18:55] BenTheElder commented on #549
@mm4tt that would be greatly appreciated! ideally we can move things over to a CNCF cluster where the sig-scale community at large can be granted access as needed and we can spin down the google.com cluster/project.

[2020-02-05 10:49] mm4tt commented on #549
Sure thing.

It looks like deploying perf-dash is as simple as deploying this deployment and service:
https://github.com/kubernetes/perf-tests/blob/master/perfdash/deployment.yaml
https://github.com/kubernetes/perf-tests/blob/master/perfdash/perfdash-service.yaml

On top of that we have the perf-dash.k8s.io domain configured to point to the external IP address of the perf-dash service. I have no k

[2020-02-05 11:00] ameukam commented on #549
The FQDN is managed through OctoDNS: https://github.com/kubernetes/k8s.io/blob/master/dns/zone-configs/k8s.io._0_base.yaml#L170.

[2020-02-05 17:15] thockin commented on #504
Add thineself to k8s-infra-cluster-admins@kubernetes.io in groups.yaml and you will be able to drive all over aaa.

[2020-02-06 05:59] ameukam commented on #249
/remove-lifecycle rotten
/lifecycle frozen